.redirect-add-resource {
  button {
    margin-left: .5rem;
  }

  .modal-footer .btn + .btn {
    transition: initial;
  }

  .radioNoTranform {
    transition: initial;
    display: inline-block;
  }

  .radioDisplay {
    display: inline-block;
    padding-right: 60px;
  }

  .small-font {
  	font-size: .75rem;
  }
}

