.redirect-add-resource {
  button {
    margin-left: 0.5rem;
  }

  .modal-footer .btn + .btn {
    transition: initial;
  }

  .radioNoTranform {
    transition: initial;
    display: inline-block;
  }

  .small-font {
    font-size: 0.75rem;
  }

  .hdsAddResourceBodyInfo {
    padding-top: 1rem;
  }
}

.myAddResourceForm .cs-radio-group {
  padding-top: 1rem;
}

.hdsInputHostNameForm {
  padding-top: 1rem;
}

.hdsInputHostNameForm .dropdown-menu {
  top: 101%;
  bottom: auto;
  height: 11rem;
}

.hdsAddResourceInlineBlock {
  display: initial;
}

.hdsAddResourceFQDN {
  display: initial;
  color: #0387b8;
}
