  <div ng-if="( 'webexexport' == webexCsvDownload.type )">
    <a id="download-csv-{{webexCsvDownload.type}}" 
       href="" 
       ng-click="webexCsvDownload.downloadCsv()">
      
      <button cs-btn 
              type="button" 
              class="btn btn--primary" 
              loading="webexCsvDownload.downloading">
              
        <span translate="common.download"></span>
      </button>
    </a>
  </div>

  <div ng-if="( 'webeximport' == webexCsvDownload.type )">
    <a ng-show="!webexCsvDownload.downloading"
       id="download-csv-{{webexCsvDownload.type}}" 
       href="" 
       ng-click="webexCsvDownload.downloadCsv()">
       
      <span translate="webexCSVResultsModal.csvDownloadImportErr"></span>
    </a>
    
    <i ng-show="webexCsvDownload.downloading" 
       class="icon icon-spinner grid-vcenter">
    </i>
  </div>
