.fault-rules {
  
.faultRuleDiv{
    height:35px;
    width:150px;
    background-color:#3ca8e8;
    margin:2px 0 0 20px;
}

.fault-blank-row{
	  height:35px;
    background-color:#FFFFFF;
}

.fault-blank-col{
	  height:35px;
    width:20px;
    padding:0 2px 0 2px;
    margin:2px 0 0 0;
    background-color:#FFFFFF;
}

.columnDiv{
  height:35px;
  width:170px;
}

.normalDiv{
  height:35px;
  width:150px;
}

.faultRuleDiv-combo{
    height:35px;
    width:150px;
    margin:2px 0 0 -15px;
    padding: 0 0 0 10px;
    background-color:#FFFFFF;
    border: 3px solid rgb(60,168,232);
}
  
.fourColumnDiv{
  height:35px;
  width:15px;
}

}





