<!-- FaultRules main page Starts-->
<div class="fault-rules">
  <div class="row page-header">
    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{'faultPage.systemType' | translate}}</h5></label></div>
    <div class="col-sm-1 fault-blank-col"></div>
    <div class="text-center col-md-1 normalDiv">
      <select class="faultRuleDiv-combo" ng-model="sysTypeSelected" ng-selected="sysTypeSelected.systemType" ng-options="sysType.systemType for sysType in systemTypes" ng-change="getSystemsByType()">
      </select>
    </div>
    <div class="col-md-1 columnDiv"></div>
    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{'faultPage.system' | translate}}</h5></label></div>
    <div class="col-sm-1 fault-blank-col"></div>
    <div class="text-center col-md-1">
      <select class="faultRuleDiv-combo" ng-model="systemSelected" ng-options="system.system for system in systemNames" ng-change="getMetricTypesBySystem()">
      </select>
    </div>
  </div>

  <div class="row page-header fault-blank-row"></div>

  <div class="row page-header">
    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{'faultPage.metrictype' | translate}}</h5></label></div>
    <div class="col-md-1 fault-blank-col"></div>
    <div class="text-center col-md-1 normalDiv">
      <select class="faultRuleDiv-combo" ng-model="metricTypeSelected" ng-options="metricType.metricType for metricType in metricTypes" ng-change="getMetricCountersByMetricType()">
      </select>
    </div>
    <div class="col-md-1 fault-blank-col"></div>
    <div class="text-center col-md-1 normalDiv">
      <select class="faultRuleDiv-combo" ng-model="metricCounterSelected" ng-options="metricCounter.counterName for metricCounter in metricCounters">
    </select>
    </div>
    <div class="col-md-1 fault-blank-col"></div>
    <div class="text-center col-md-1 normalDiv">
      <select class="faultRuleDiv-combo" ng-model="operatorSelected" ng-options="operator.name for operator in operators">
    </select>
    </div>
    <div class="col-md-1 fault-blank-col"></div>
    <div class="col-md-1 normalDiv">
      <input type="text" class="faultRuleDiv-combo" placeholder="Value In Percentage" ng-model="valuePercentage">
    </div>
  </div>

  <div class="row page-header fault-blank-row"></div>

  <div class="row page-header">
    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{'faultPage.thresholdname' | translate}}</h5></label></div>
    <div class="col-sm-1 fault-blank-col"></div>
    <div class="col-md-1 normalDiv">
      <input type="text" class="faultRuleDiv-combo" placeholder="Threshold Name" ng-model="thresholdName">
    </div>
    <div class="col-md-1 columnDiv"></div>
    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{'faultPage.genericevent' | translate}}</h5></label></div>
    <div class="col-md-1 fault-blank-col"></div>
    <div class="text-center col-md-1 normalDiv">
      <select class="faultRuleDiv-combo" ng-model="eventSelected" ng-options="event.eventName for event in events">
    </select>
    </div>
  </div>

  <div class="row page-header fault-blank-row"></div>

  <div class="row page-header">
    <div class="col-md-4"></div>
    <div class="col-md-1 fourColumnDiv"></div>
    <button type="button" class="btn btn--primary col-md-1" ng-click="saveThreshold()">Apply</button>
    <div class="col-md-1 fault-blank-col"></div>
    <button type="button" class="btn btn--primary col-md-1" ng-click="cancel()">Cancel</button>
</div>
</div>
<!-- FaultRules main page Ends -->
