@import 'app/modules/huron/features/featureLanding/_feature-landing';

.care-no-features {
  @extend %content-header;
}

.care-features {
  @extend %content-subheader;

  .cs-card article {
    section {
      @include vr-spacing(pb, 1);
      height: rem-calc(72);
    }
  }

  .cs-card article header {
    @include vr-spacing(pt, 1);
  }

  .card-icons-inline {
    @include vr-spacing(pt, 0.5);

    display: block;
    color: $gray-light-1;
  }

  .care-sub-header {
    display: inline-flex;
    flex-wrap: wrap;

    .care-badge {
      @include vr-spacing(mr, 0.5);
      line-height: rem-calc(25);
    }

    .care-icon {
      display: inline-flex;

      .people {
        color: $color-mint-darker;
      }
      .cta {
        color: $color-violet-darker;
      }
      .abc {
        color: $color-green-dark;
      }
      .icon {
        @include vr-spacing(pt, 0.5);
        @include vr-spacing(pr, 0.5);
        display: block;
      }
      .icon-bot-five {
        @include vr-spacing(pt, 0.3);
      }
    }
  }

  .care-features-icon {
    @include vr-spacing(pt, 0.5);
    display: flex;
    .cta {
      color: $gray-light-1;
    }

    .icon {
      display: block;
    }

    .icon-bot-six {
      margin-top: rem-calc(2); // vr-spacing isn't specific enough
    }

    span{
      @include vr-spacing(pr, 0.5);
    }
  }

  .warning-sign {
    @include vr-spacing(ph, 1.5);
    display: flex;
    color: $color-yellow-darker;

    .warning-text {
      @include vr-spacing(pl, 0.25);
      letter-spacing: 0px;
      font-size: rem-calc(10);
      line-height: rem-calc(14);
      color: $color-yellow-darker;
    }
  }

  .cs-card.hoverable {
    article {
      &.hover,
      &:focus {
        .badge {
          @include vr-spacing(pb, 0.25);
        }
        .warning-text {
          color: $color-white;
        }
        .embed-code-txt {
          color: $color-white;
          .email {
            color: $color-white;
          }
          .usage {
            .usage-text {
              color: $color-white;
            }
          }
        }
        .card-icons-inline,
        .icon,
        .icon-download {
          color: $color-white;
        }
      }
    }
  }

  .card-header {
    height: rem-calc(110);

    h4 {
      padding: 0;
    }

    .icon-color {
      color: $gray-light;
      line-height: 2;
      padding-right: .5rem;
    }
  }

  .card-footer {
    width: 100%;
    height: rem-calc(56);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

    @include vr-spacing(ph, 1);
    @include vr-spacing(pt, 0);
    @include vr-spacing(pb, 1);
    @include vr-spacing(pl, 1.5);

    .embed-code-txt {
      color: $gray-base;

      .email {
        @include vr-spacing(pb, 0.5);
        color: $gray-dark-4;
        font-family: $brand-font-light;
        font-size: rem-calc(12);
        letter-spacing: 0;
        line-height: rem-calc(16);
      }

      .usage {
        display: flex;

        .usage-text {
          font-family: $brand-font-regular;
          font-size: rem-calc(12);
          color: $gray-light-1;
          letter-spacing: 0;
        }

        .usage-text-space {
          @include vr-spacing(mr, 0.25);
        }

        .usage-warning {
          font-size: rem-calc(10);
        }

        .icon-question-circle {
          @include vr-spacing(p, 0);
          @include vr-spacing(ph, 0.25);
          background: none;
          color: $gray-light-1;
          font-size: rem-calc(15);
          min-width: 0;

          &:hover {
            color: $color-violet-light;
          }
        }
      }
    }

    .icon-download {
      font-size: rem-calc(24);
      color: $gray-light-1;

      @include vr-spacing(ml, 0.5);
    }
  }

  .spinner-icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .features-reload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > p {
      color: $gray-dark;
    }

    > div {
      color: $gray-darker;
    }
  }

  .tooltip {
    .c-nub {
      max-width: 250px;
    }
  }

  .tooltip-wrapper-div {
    display: inline-block;
  }
}

header > p > span.badge {
  @include vr-spacing(pt, 1);
}

.no-features {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: $brand-white;

  .icon {
    font-size: 10rem;
  }

  .ct-desc {
    max-width: rem-calc(460);
  }

  .new-btn {
    @include vr-spacing(pt, 1.5);
  }

  div {
    @include vr-spacing(pt, 1);
  }
}

.care-modal {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.care-new-feature-modal {
  // The modal body.
  display: flex;
  flex-flow: row wrap;

  @include vr-spacing(pt, 0);
  @include vr-spacing(pr, 1);
  @include vr-spacing(pb, 2);
  @include vr-spacing(pl, 1);

  .tooltip {
    @include vr-spacing(ml, -15);
    pointer-events: none;
  }

  div.feature-card-container {
    // The button options in the body.
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: rem-calc(275);
    height: rem-calc(350);
    color: $gray-darkest;
    background-color: $gray-lightest;
    border-style: hidden;
    border-radius: 0.25rem;
    cursor: default;
    text-align: center;
    font-family: $brand-font-cisco-TT-Light;
    box-shadow: none;

    @include vr-spacing(mr, 0.125);
    @include vr-spacing(ml, 0.5);
    @include vr-spacing(mb, 1);
    @include vr-spacing(p, 0);

    &:not([disabled]):hover {
      cursor: pointer;
      background-color: $gray-light;
    }

    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ div {
      flex: 1 1 48%;
    }

    .feature-icon-container {
      @include vr-spacing(pt, 2.5);

      display: flex;
      flex-direction: row;
      justify-content: center;
      .icon {
        font-size: rem-calc(24);
        flex-basis: 50%;

        &:first-child {
          flex-basis: 100%;
        }
      }

      .virtual-assistant-icon {
        font-size: rem-calc(32);
      }
    }

    .feature-icon-circle {      // Icon in the option.
      font-family: $brand-font-extra-light;
      margin-left: 0;
      margin-right: rem-calc(10);
      margin-bottom: 0;
      justify-content: center;
      font-size: $h2-font-size;
      background: $brand-white;
      border-radius: 50%;
      width: rem-calc(72);
      height: rem-calc(72);
    }

    .feature-va-color {
      color: $color-violet-darker;
    }

    .feature-abc-color {
      color: $color-green-dark;
    }

    .feature-cst-color {
      color: $color-people-base;
    }

    .aa-learn-more {
      @include vr-spacing(pl, 0.35);
    }

    .feature-aa-color {
      color: $toolkit-primary;
    }

    .feature-icon-disabled {
      color: $gray-light-2;
      background: $brand-white;
      opacity: 0.5;
    }

    .feature-label-container {
      @include vr-spacing(pt, 2);
      @include vr-spacing(pr, 1);
      @include vr-spacing(pl, 1);
      @include vr-spacing(pb, 1);

      height: rem-calc(64);
    }

    .feature-label-disabled {
      color: $gray-light-2;
    }

    .feature-description-container {
      @include vr-spacing(pt, 3);
      @include vr-spacing(ph, 1.5);
      @include vr-spacing(pb, 0.5);
      @include vr-spacing(pr, 1.5);
      @include vr-spacing(pl, 1.5);

      margin-bottom: auto;
      text-align: left;
    }

    .feature-warning-container {
     font-size: rem-calc(14);
    }

    .feature-icon-color {
      color: $color-blue-base;
    }
  }
}

@mixin flex-wrap-fix($flex-basis, $max-viewport-width: rem-calc(532)) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;
  $multiplier: 1;
  $current-width: rem-calc(266);

  @while $current-width < ($max-viewport-width) {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;
    $temp-max-width-percent: percentage(1/$multiplier);
    $total: $flex-basis * $multiplier;

    @media only screen and (min-width: $total) {
      max-width: calc(#{$temp-max-width-percent} - 0.725rem);
    }
  }
}

.aa-type-button {
  @include flex-wrap-fix(rem-calc(266));
}

.feature-modal-loading {
  font-size: 3rem;
  text-align: center;
}

.cs-card.header-background.hoverable {
  &.people {
    article {
      &.hover,
      &:focus {
        background-color: $color-mint-darker;
        header {
          background-color: $color-mint-darker;
        }
      }
    }
    .badge {
      border-color: $color-mint-darker;
      color: $color-mint-darker;
    }
  }

  &.abc {
    article {
      &.hover,
      &:focus {
        background-color: $color-green-dark;
        header {
          background-color: $color-green-dark;
        }
      }
    }
    .badge {
      border-color: $color-green-dark;
      color: $color-green-dark;
    }
  }
}

.cs-card + .tooltip {
  @include vr-spacing(mt, 10);
  pointer-events: none;
}

.popover-content {
  @include vr-spacing(ph, 0.875);
  @include vr-spacing(pt, 0.625);
  @include vr-spacing(pb, 0.25);

  color: $gray-dark-1;
  line-height: rem-calc(16);
  white-space: pre-wrap;
  width: rem-calc(224);

  .feature-card-popover-error {
    @include vr-spacing(pb, .625);
    font-size: rem-calc(12);
    word-break: normal;
  }

  .feature-card-popover {
    word-break: normal;

    .header,
    .sub-header {
      @include vr-spacing(mb, .25);
      @include vr-spacing(mh, 0);

      font-family: $brand-font-regular;
      font-size: rem-calc(12);
    }

    .header {
      @include vr-spacing(mb, .5);
    }

    .sub-header {
      font-family: $brand-font-light;
    }

    .spaces-list {
      @include vr-spacing(p, 0);
      @include vr-spacing(pl, .625);
      font-family: $brand-font-light;
      font-size: rem-calc(12);

      li:last-child {
        @include vr-spacing(pb, 0.5);
      }
    }
  }
}
