<div class="cs-card-container">
  <cs-card-layout>
    <cs-card ng-repeat="careFeature in careFeaturesCtrl.filteredListOfFeatures" class="small header-background hoverable" ng-class="careFeature.color">
      <article ng-click="careFeaturesCtrl.editCareFeature((careFeature), $event)" hover-delay>
        <header>
          <div class="header-with-right-icon">
            <p class="h4 ellipsis" title="{{careFeature.name}}"> {{careFeature.name}} </p>
            <div class="right">
              <button type="button" ng-click="careFeaturesCtrl.deleteCareFeature((careFeature), $event)" class="close">
                <span class="sr-only" translate="common.close"></span>
              </button>
            </div>
          </div>
          <p><span class="badge badge--outline">{{:: ('sunlightDetails.' + careFeature.featureType) | translate}}</span></p>
          <div class="card-icons-inline" ng-if="careFeature.featureType !== 'Va'">
              <span ng-repeat="icon in careFeature.icons">
                <i class="icon {{icon}}"></i>
              </span>
          </div>
        </header>
        <footer class="card-footer">
          <div class="embed-code-txt h6 left">
            <p><span translate="sunlightDetails.status" ng-if="careFeature.featureType === 'Va'"></span>{{careFeature.status}}</p>
          </div>
          <div class="right icon icon-download" ng-if="careFeature.featureType !== 'Va'" ng-click="careFeaturesCtrl.openEmbedCodeModal((careFeature), $event)">
              <span class="sr-only" translate="careChatTpl.downloadAction"></span>
          </div>
        </footer>
      </article>
    </cs-card>
  </cs-card-layout>
</div>
