$cr-action-cards-container-gutter--large: 1.5rem;
$cr-action-cards-container-gutter--small: 1rem;
$cr-action-cards-container-margin--large: $cr-action-cards-container-gutter--large / 2;
$cr-action-cards-container-margin--small: $cr-action-cards-container-gutter--small / 2;
$cr-action-cards-container-num-of-action-cards: 3;
$cr-action-cards-container__cr-action-card-min-height: 13rem;
$cr-action-cards-container__cr-action-card-max-width--small: 18rem;
$cr-action-cards-container__cr-action-card-min-width: 11rem;
$cr-action-card-padding--medium: .875rem;
