.utilization {
  .overall-utilization {
    .border-div {
      height: 60px;
      border: 1px solid rgb(212, 212, 212);
      margin-left: 20px
    }
    .progress {
      height: 20px
    }
    .progress-bar {
      height: 20px;
      background-color: $brand-success;
    }
  }
  .bridge-utilization {
    .border-div {
      height: 60px;
      border: 1px solid rgb(212, 212, 212);
      margin-left: 20px
    }
    .progress {
      height: 20px
    }
    .progress-bar {
      height: 20px;
      background-color: $brand-success;
    }
  }
}
