@import '~collab-ui/scss/settings/colors';

.cmc-side-panel-section {
  .status-error {
    color: $color-negative-base;
    margin-left: 2.5rem;
  }
}
.cmc {
  .user-details {
    .cmc-invalid {
      color: $color-negative-base;
    }
  }
  .settings {
    background-color: $brand-white;
    padding: 2rem;
    .help-info {
      margin-bottom: 2rem;
    }
    .selector-wrapper {
      margin-bottom: 1rem;
      p {
        width: 60%;
      }
      .selector {
        margin-top: 0.5rem;
        width: 60%;
      }
    }
  }
  .status {
    padding-left: 2rem;
    padding-top: 2rem;
    background: $brand-white;
    .ok {
      color: green;
    }
    .error {
      color: red;
    }
  }
  .control-label {
    color: $gray-dark-4;
  }
}
