<div class="cmc-side-panel-section" cr-feature-toggle feature-show="atlas-mobile-convergence">
  <cs-sp-section ng-if="$ctrl.allowCmcSettings">
    <section-title title-key="cmc.menu.mobileServices">
    </section-title>
    <feature-list
      features="$ctrl.services"
      on-feature-click="$ctrl.clickService(feature)">
    </feature-list>
    <div ng-if="!$ctrl.preCheckOnOrg" class="feature-name status-error">
      <div ng-repeat="issue in $ctrl.issues">
        <a href="" ui-sref="cmc.status">{{issue.message}}</a>
      </div>
    </div>
  </cs-sp-section>
</div>
