@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.media-metrics-report-card,
.report-box {
  header {
    .report-section-header {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      text-align: left;
    }

    .icon-information {
      position: relative;
      top: rem-calc(3);
      color: $gray-light-1;
      font-size: rem-calc(22);
      cursor: pointer;
    }

    .icon-information:hover {
      color: $color-primary-base;
    }

    .tooltip {
      width: rem-calc(325);
      max-width: rem-calc(325);

      .c-nub {
        font-size: rem-calc(15);
        width: rem-calc(325);
        max-width: rem-calc(325);
        text-align: left;
      }
    }
  }

  .box-match {
    @include vr-spacing(ph, 1.5);
  }

  .report-dropdown {
    float: right;
    margin-right: rem-calc(35);
    position: relative;
    top: rem-calc(-15);
    width: rem-calc(200);
    z-index: 60;

    .select-options {
      @include vr-spacing(p, 0);
    }
  }

  .export-dots {
    color: $gray-base;
  }
  .export-dots:hover {
    color: $color-primary-base;
  }
  .dropdown-menu.dropdown-primary.export-visible {
    display: inline-block;
    width: rem-calc(100);
    position: absolute;
    left: rem-calc(-75);
    @include vr-spacing(p, 0);
    .export-item:first-of-type:hover {
      background: none;
    }
  }

  .label-display {
    height: rem-calc(10);
    overflow: visible;
    position: relative;
    text-align: center;
    top: rem-calc(-60);
    color: $gray-light-1;

    .label-number {
      font-size: rem-calc(25);
      font-weight: bold;
      @include vr-spacing(p, 0);
    }

    .label-text {
      font-size: rem-calc(15);
      position: relative;
      top: rem-calc(-10);
    }
  }

  .timechartDiv {
    font-size: rem-calc(11);
    height: vr-adjust(380);
    width: 95%;
    position: relative;
    top: rem-calc(-50);
  }

  .barchart {
    font-size: rem-calc(11);
    height: vr-adjust(368);
    width: 85%;
    margin-left: 5%;
    margin-right: auto;
    z-index: 50;
  }

  .barchart-shift {
    position: relative;
    top: vr-adjust(12);
  }

  .report-table {
    .table-bordered {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
    }

    .no-data {
      margin-right: 32px;
    }

    .positive {
      color: $brand-success;
    }

    .negative {
      color: $brand-danger;
    }

    .table-data {
      @include vr-spacing(p, 0);
    }

    .table-half {
      display: inline-block;
      width: 45%;
      @include vr-spacing(pv, 0.5);
    }

    td,
    th {
      border-color: $gray-light-1;
      border: 1px solid $gray-light-1;
      color: $gray-dark;

      .table-half:first-of-type {
        border-right: 1px solid$gray-light-1;
      }

      .positive {
        color: $gray-light-1;
      }

      .negative {
        color: $gray-light-1;
      }
    }

    .customer-data {
      text-overflow: ellipsis;
      overflow: hidden;
      @include vr-spacing(pl, 1.25);
      white-space: nowrap;
    }

    .dummyTable {
      border-color: $gray-light-2;

      td,
      th {
        border-color: $gray-light-2;
        border-right: 1px solid$gray-light-2;
        border-top: 1px solid $gray-light-2;
        color: $gray-light-2;

        .table-half:first-of-type {
          border-right: 1px solid $gray-light-2;
        }

        .positive {
          color: $gray-light-2;
        }

        .negative {
          color: $gray-light-2;
        }
      }

      th {
        background-color: $brand-white;
      }

      .td:last-of-type,
      th:last-of-type {
        border-right: none;
      }
    }
  }

  .percent-large {
    font-size: vr-adjust(24);
    font-family: $brand-font-cisco-TT-Light;
  }

  .percent-label {
    font-size: vr-adjust(16);
    font-family: $brand-font-cisco-TT-Light;
  }

  .graph-population {
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Regular;
    font-size: vr-adjust(20);
    text-align: left;
  }

  .donut-hover-text {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: $gray-darkest;
  }

  .report-search {
    margin-bottom: rem-calc(20);
    margin-left: rem-calc(25);
    width: 40%;
    position: relative;

    i {
      left: rem-calc(10);
      position: absolute;
      top: rem-calc(10);
    }

    input {
      @include vr-spacing(pl, 1.75);
    }
  }

  .carousel-btn {
    border: 1px solid $gray-dark-1;
    color: $gray-dark-1;
  }

  .carousel-btn:hover,
  .btn--none:focus,
  .btn--none:hover {
    border-color: transparent;
    color: $white;
  }

  .carousel-control {
    @include vr-spacing(pv, 0.5);
    @include vr-spacing(ph, 1);
    background-color: $white;

    i {
      color: $color-primary-base;
    }
  }

  .carousel-control:focus {
    box-shadow: none;
  }

  .carousel-control:hover {
    background-color: $color-primary-base;

    i {
      color: $white;
    }
  }

  .carousel-control[disabled] {
    background-color: $gray-light-2;

    i {
      color: $gray-base;
    }
  }

  .table-spinner {
    height: 100px;
    position: relative;
    top: 40px;
    width: 100%;

    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .active-chart .amcharts-value-axis .amcharts-axis-label {
    opacity: 0;
    animation: graphAxisFade 2s ease-in-out 1 forwards;
  }
}
