<div class="hercules hercules-fix-paragraphs">
  <cs-page-header title-name="{{:: 'hercules.eventHistory.pageTitle' | translate}}"
                  back="true"
                  js-back="true"></cs-page-header>
  <cs-page-sub-header>
    <cs-page-sub-header-left>
      <div class="cluster-filter-container">
        <span>Cluster</span>
        <form>
          <div class="filter-dropdown">
            <cs-select
              ng-model="$ctrl.clusterSelected"
              options="$ctrl.clusterOptions"
              on-change-fn="$ctrl.clusterSelectedUpdate()"
              nested="true"
              icon="icon-chevron-down"
              iconnested="icon-chevron-right"
              >
            </cs-select>
          </div>
        </form>
      </div>
      <div class="node-filter-container">
        <span>Node</span>
        <form>
          <div class="filter-dropdown">
            <cs-select
              ng-model="$ctrl.nodeSelected"
              options="$ctrl.nodeOptions"
              on-change-fn="$ctrl.nodeSelectedUpdate()"
              >
            </cs-select>
          </div>
        </form>
      </div>
      <div class="service-filter-container">
        <span>Service (on selected resource)</span>
        <form>
          <div class="filter-dropdown">
            <cs-select
              ng-model="$ctrl.serviceSelected"
              options="$ctrl.serviceOptions"
              >
            </cs-select>
          </div>
        </form>
      </div>
      <div class="time-filter-container">
        <span translate="hercules.eventHistory.dataSince"></span>
        <form>
          <div class="filter-dropdown">
            <cs-select
              ng-model="$ctrl.timeSelected"
              options="$ctrl.timeOptions"></cs-select>
            </cs-select>
          </div>
        </form>
      </div>
    </cs-page-sub-header-right>
  </cs-page-sub-header>
  <div>
    <pre><code>&lt;hybrid-services-cluster-status-history-table&gt;</code></pre>
    <pre>
  cluster-filter: <code>{{$ctrl.clusterSelected.selectedChild.value}}</code>
  node-filter: <code>{{$ctrl.nodeSelected.value}}</code>
  service-filter: <code>{{$ctrl.serviceSelected.value}}</code>
  time-filter: <code>{{$ctrl.timeSelected.value}}</code></pre>
    <pre><code>&lt;/hybrid-services-cluster-status-history-table&gt;</code></pre>
    <hr>
    <pre>
  $ctrl.clusterId: <code>{{$ctrl.clusterId}}</code>
  $ctrl.nodeHostname: <code>{{$ctrl.nodeHostname}}</code>
  $ctrl.serviceId: <code>{{$ctrl.serviceId}}</code></pre>
  </div>
  <!-- <hybrid-services-cluster-status-history-table
    service-id="$ctrl.serviceId"
    connector-id="$ctrl.connectorId"
    resource-filter="$ctrl.selectedResourceFilter.value"
    time-filter="$ctrl.selectedTimeFilter.value"
    cluster-id="$ctrl.clusterId">
  </hybrid-services-cluster-status-history-table> -->
</div>
