@import '~@collabui/collab-ui/scss/settings/colors';

hybrid-services-event-history-page {
  display: block;

  .loading-container-event-history {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-top: 1px solid $gray-light-3;
  }

  .spinner-event-history {
    font-size: 4rem;

    .icon-spinner {
      display: block;
    }
  }

  .page-sub-header {
    flex-wrap: nowrap;
    height: auto;
    border-bottom: 0;
  }

  .service-filter-container,
  .resource-filter-container,
  .time-filter-container {
    display: flex;
    flex-direction: column;
  }

  .service-filter-container,
  .resource-filter-container {
    margin-right: 1rem;
  }

  form {
    margin: 0;
    width: 15.625rem;
  }
}
