hybrid-services-event-history-page {
  display: block;

  .spinner-event-history {
    font-size: 4rem;
    text-align: center;
    display: inline-block;
    margin-top: 7rem;
    width: 100%;
  }

  .page-sub-header {
    flex-wrap: nowrap;
  }

  .service-filter-container,
  .resource-filter-container {
    display: flex;
    align-items: center;
  }

  .service-filter-container {
    margin-right: 1rem;
  }

  form {
    margin: 0 0 0 0.5rem;
    width: 15.625rem;
  }

  .timestamp {
    margin-left: 0.3rem;
  }
}
