<div class="pstn-numbers">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
    <h3 class="modal-title" translate="pstnSetup.setupNumbers"></h3>
  </div>
  <div class="modal-body trials pstn-selector-container">
    <div class="flex-container">
      <cs-tabset class="flex-2" justified="false">
        <cs-tab>
          <cs-tab-heading translate="pstnSetup.newNumbersTab"></cs-tab-heading>
          <section>
            <p translate="pstnSetup.newNumbersTabDesc"></p>
            <uc-pstn-number-search
              model="pstnNumbers.model.pstn"
              search="pstnNumbers.searchCarrierInventory(value, block, quantity, consecutive)"
              add-to-cart="pstnNumbers.addToCart(order_type, number_type, quantity, searchResultModel)"
              country-code="pstnNumbers.countryCode"
            >
            </uc-pstn-number-search>
          </section>
        </cs-tab>
        <cs-tab ng-if="pstnNumbers.showTollFreeNumbers">
          <cs-tab-heading translate="pstnSetup.newTollFreeTab"></cs-tab-heading>
          <section>
            <p>{{pstnNumbers.tollFreeTitle}}</p>
            <uc-pstn-number-search
              model="pstnNumbers.model.tollFree"
              search="pstnNumbers.searchCarrierTollFreeInventory(value, block, quantity, consecutive)"
              add-to-cart="pstnNumbers.addToCart(order_type, number_type, quantity, searchResultModel)"
              country-code="pstnNumbers.countryCode"
              number-type="TOLLFREE"
            >
            </uc-pstn-number-search>
          </section>
        </cs-tab>
        <cs-tab ng-if="pstnNumbers.showPortNumbers">
          <cs-tab-heading translate="pstnSetup.portNumbersTab"></cs-tab-heading>
          <div class="provider-flex">
            <p translate="pstnSetup.portNumbersPrompt"></p>
            <button type="button" class="btn btn--people" ng-disabled="pstnNumbers.validCount < 1 || pstnNumbers.invalidCount > 0" ng-click="pstnNumbers.addToCart('PORT_ORDER')"><span translate="common.add"></span></button>
          </div>
            <cs-token-field class="port-numbers" tokens="pstnNumbers.unsavedTokens" tokenfieldid="pstnNumbers.tokenfieldId" tokenplacehoder="pstnNumbers.tokenplacehoder" tokenoptions="pstnNumbers.tokenoptions" tokenmethods="pstnNumbers.tokenmethods"></cs-token-field>
          <div class="warning-message" ng-if="pstnNumbers.invalidCount > 0">
            <span class="icon icon-error"></span><p translate="pstnSetup.invalidNumberPrompt"></p>
          </div>
        </cs-tab>
      </cs-tabset>
      <section class="flex-1">
        <div class="provider-flex center"><h1 class="h5" translate="pstnSetup.numberCart"></h1><h1 class="h4"><span class="badge badge--round info">{{pstnNumbers.orderNumbersTotal}}</span></h1></div>
        <ul class="list-group">
          <li class="list-group-item list-token info" ng-repeat="order in pstnNumbers.orderCart">
            <span>{{::pstnNumbers.formatTelephoneNumber(order)}}</span>
            <span ng-if="::pstnNumbers.showOrderQuantity(order);">{{::'pstnSetup.quantity' | translate}} {{pstnNumbers.getOrderQuantity(order)}}</span>
            <button type="button" class="close" ng-click="pstnNumbers.removeOrder(order)" aria-label="{{::'common.delete' | translate}}"></button>
          </li>
        </ul>
      </section>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-if="::pstnNumbers.hasBackButton()" ng-click="pstnNumbers.goBack()" translate="common.back"></button>
    <button class="btn btn--primary" ng-click="pstnNumbers.goToReview()" translate="common.next"></button>
  </div>
</div>
