.device-img {
  float: left;
}

.device-status-icon {
  margin-top: 18px;
  float: left;
}

.device-status-nocode {
  position: relative;
  top: 30px;
}

.device-icon-desc {
  margin-left: 20px;
  float: left;
  position: relative;
  top: 15px;
}

.ngCellTextCustom {
  position:relative;
  left:-20px;
}

.modal-deviceadd-card {
  width: 627px;
  margin-bottom: 50px;
  margin-top: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.adddevice-stepheader {
  font-family: CiscoSansTT Light;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  text-align: left;
}

.adddevice-desc {
  line-height: 24px;
  text-align: left;
  margin-top: 10px;
  font-family: CiscoSansTT Light;
  font-size: 15px;
  color: #444444;
}

.device-card-content {
  margin-left: 30px;
}

.device-card-content-name {
  margin-left: 20px;
}

.device-add-footer {
  margin-left: 10px;
}

.device-add-close {
  font-size: 30px;
  margin-top: 7px;
  cursor: pointer;
  color: #444444;
  text-align: right;
}

.add-device-textbox {
  height: 45px;
  width: 373px;
}

.add-device-btn {
  margin-left: 10px;
}

.add-device-modal {
  width: 750px;
}

.device-align-ellipses {
  margin: 1px;
}

.device-status-green {
  color: @brand-success;
}

.device-status-red {
  color: @brand-danger;
}

.device-status-yellow {
  color: @brand-warning;
}

.device-status-gray {
  color: @gray;
}

.device-name-desc {
  float: left;
  position: relative;
  top: 15px;
}

.device-status-pending {
  margin-bottom: 2px;
  margin-top: 5px;
}

.empty-devices{
  background-color: @brand-white;
  text-align: center;
}

.empty-devices-content{
  padding-top: 10%;
}

.empty-device-message{
  color: @gray-light;
}

.shared-spaces {
  .ngCell.col2 .ngVerticalBar,
  .ngHeaderCell.col2 .ngVerticalBar {
    display: none;
  }

  .ngHeaderText.colt3 {
    text-align: right;
  }


.ngCell.colt3 {
  overflow: visible;

  .dropdown-menu {
    right: 25px;
    left: auto;
    top: 40%;
  }
}
}