@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';

.org-list {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ngCell.col0 .ngVerticalBar,
  .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }

  .ngHeaderText.colt5 {
    text-align: left;
  }

  .ngCell.colt5 {
    overflow: visible;

    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }
}

.start-search {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
  color: $gray-darker;
}

.admin-name {
  color: $gray-dark;
  font-family: $brand-font-cisco-TT-Extra-Light;
  font-size: 16px;
  line-height: 1;
}

.filter {
  top: 35px;
}

.all-filter {
  text-align: right;
}
