@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.reveal-modal.full div.modal-body {
  padding: 1rem 2rem 0.5rem;
}
.hcs-card-header {

  header {
    @include vr-spacing(pt, 1);
    button.close::before {
      font-size: 1rem;
      color: $gray-dark-2;
    }
    padding-left: rem-calc(24);
    padding-bottom: rem-calc(24);

    p.h6 {
      color: $gray-dark-2;
    }
    p.h4.ellipsis {
      color: $gray-dark-4;
    }
  }
  .cs-card.hoverable {
    article {
      &.hover,
      &:focus {
        .h6 {
          color: $color-white;
        }
      }
      section {
        justify-content: flex-end;
      }
    }
    header a {
      color: $gray-light-2;
      line-height: 2;
      padding-right: .5rem;
    }
  }
}

.hcs-container {
  @extend %content-header;
  @extend %page-background-white;
  .save-section {
    position: fixed;
    bottom: 0;
  }
  .cs-form {
    margin: 0;
  }
  .content-container {
    height: calc(100vh - (100px));
  }
  .cs-form__section:last-child {
    @include vr-spacing(pb, 5);
  }
}

.modal-content.small {
  .hcs-modal-component{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: calc(100vh - 48px);
    max-width: 60.25rem;
  }
}

.hcs-card-default {
  header {
    padding-left: 0rem;
    .hcs-sftp-path {
      padding-top: 0rem;
    }
  }

  header.hcs-min-height-card-header {
    min-height: rem-calc(160);
  }
}


