.cs-card.header-bar.orange {
  header::after {
    border-top: 5px solid #f0a378;
  }
}

.cs-card.header-bar.green {
  header::after {
    border-top: 5px solid #8dc98c;
  }
}

.cs-card.header-bar.grey {
  header::after {
    border-top: 5px solid #9b9b9b;
  }
}

.cs-card.header-bar.blue {
  header::after {
    border-top: 5px solid #1ba0d7;
  }
}

.metrics-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #343537;
  font-size: 1.425rem;
  font-family: 'CiscoSansTT Extra Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.metrics-header span {
  font-size: inherit;
}

.metrics-header i {
  color: #4f5051;
  font-size: 2rem;
  margin-right: 0.5rem;
}

.metrics-paragraph {
  font-size: 1rem;
  color: #4f5051;
}

.metrics-info {
  padding-left: 0.3rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
  min-height: 120px;
  color: #343537;
  text-align: center;
  font-family: 'CiscoSansTT Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.call-counts {
  font-size: 3rem;
  font-family: 'CiscoSansTT Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #5ca4e5;
  min-height: initial;
  margin-bottom: 0.1rem;
  padding-bottom: 10px;
}

.availability-counts {
  font-size: 3rem;
  font-family: 'CiscoSansTT Thin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #06b0de;
  min-height: initial;
  margin-bottom: 0.1rem;
  padding-bottom: 10px;
}

.no-data {
  font-size: 1.425rem;
  font-family: 'CiscoSansTT ', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0.1rem;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #808080;
}
.media-tooltip{
  color: #E39A20;
  font-size: 1rem;
  bottom: .75rem;
}
.media-tooltip:hover{
  color: #D08D1D;
}
.tooltip {
  .tooltip-inner {
    background-color: #FFFFFF;
    color: #000000;
  }
}
.custom-tooltip {
  background-color: #FFFFFF;
  color: #000000;
}
