<div class="modal-header">
  <button
    type="button"
    class="close"
    ng-click="$dismiss()">
  </button>
  <h3
    class="modal-title"
    translate="placesPage.botAuthorizations.title">
  </h3>
</div>

<div class="modal-body remote-support-modal-body bot-auth">
  <h4 translate="placesPage.botAuthorizations.header" translate-values="{placeName: vm.accountDisplayName}"></h4>
  <p ng-if="vm.ownerType === 'place'" class="subHeader" translate="placesPage.botAuthorizations.subHeader"></p>
  <p ng-if="vm.ownerType !== 'place'" class="subHeader" translate="placesPage.botAuthorizations.subHeaderUser"></p>

  <span ng-show="vm.showLoading()" cs-loader class="loader-example--large"></span>
  <div ng-show="vm.showNoResults()" class="no_found">
    <h4 translate="placesPage.botAuthorizations.nonFoundHeader"></h4>
    <p translate="placesPage.botAuthorizations.nonFoundBody"></p>
    <a ng-click="vm.isCollapsed=false" class="icon icon-add-outline icon-2x"></a>
  </div>
  <table class="table table-bordered" ng-show="vm.showResults()">
    <thead>
      <th translate="placesPage.botAuthorizations.table.name" class="tdName"></th>
      <th translate="placesPage.botAuthorizations.table.role" class="tdRole"></th>
      <th translate="placesPage.botAuthorizations.table.givenBy" class="tdGivenBy"></th>
      <th class="tdDelete"></th>
    </thead>
    <tbody>
    <tr ng-repeat="auth in vm.authorizations">
      <td>
        <div class="authName">
          <div class="myavatar" ng-if="!auth.subject.thumbnail"><i class="{{auth.subject.class}}"></i></div>
          <div class="myavatar" ng-if="auth.subject.thumbnail"><img class="account-img" ng-src="{{auth.subject.thumbnail}}"></div>
          <div class="name">
            <span>
              {{auth.subject.name}}
            </span>
            <span class="email">
              {{auth.subject.email}}
            </span>
          </div>
        </div>
      </td>
      <td>
        {{auth.grant.name}}
      </td>
      <td>
        <div ng-show="vm.showRecentlyAdded(auth.id)" class="successfullyAdded">
          <span class="icon icon-check"></span><span translate="placesPage.botAuthorizations.addedSuccess"></span>
        </div>
        <div ng-show="!vm.showRecentlyAdded(auth.id)">
          <span>{{auth.createdByName}}</span><br/>
          <span class="creationDate">{{auth.createdAt.lastUpdated | momentDate : 'LL' }}</span>
        </div>
      </td>
      <td>
        <a ng-click="vm.delete(auth.id)" class="icon icon-trash"></a>
      </td>
    </tr>
    <tr ng-show="!vm.isCollapsed">
      <td>
        <input
          autofocus
          type="text"
          ng-model="vm.selectedAccount"
          typeahead="acc as acc.name for acc in vm.searchAccount($viewValue) | limitTo:8"
          typeahead-loading="vm.isSearching"
          typeahead-template-url="accTemplate.html"
          typeahead-on-select="vm.selectAccount($item)"
          placeholder="{{::'placesPage.botAuthorizations.search' | translate}}"
          typeahead-wait-ms="500"/>
      </td>
      <td>
        <cs-select
          is-disabled="!vm.showSelectRole()"
          ng-model="vm.selectedRole"
          options="vm.roles"
          placeholder="vm.selectPlaceholder"
          labelfield="name"
          valuefield="id"
        >
        </cs-select>
      </td>
      <td>
        <span ng-show="vm.isAdding" cs-loader class="loader-example--small"></span>
      </td>
      <td><a ng-click="vm.cancelAdding()" class="icon icon-trash"></a></td>
    </tr>
    </tbody>
  </table>
  <span ng-show="vm.showTypeLimitNotReached" translate="placesPage.botAuthorizations.typeLimitNotReached"></span>
  <span ng-show="vm.isSearching" cs-loader class="loader-example--small"></span>
  <span ng-show="vm.noSearchResults" translate="placesPage.botAuthorizations.noUserFound"></span>
  <div>
    <a ng-show="vm.showAdd()" ng-click="vm.startAdding()" class="icon icon-add-outline icon-2x"></a>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn--primary"
    ng-click="$dismiss()"
    translate="common.done">
  </button>
</div>

<script type="text/ng-template" id="accTemplate.html">
  <a>
    <i class="{{match.model.type === 'PERSON' ? 'icon user icon-user' : 'icon bot icon-bot-four' }}"></i>
    <span ng-bind-html="match.label | typeaheadHighlight:query" ></span>
  </a>
</script>
