<div class="account-linking-side-panel-section">
  <cs-sp-header>
    <div class="header-image">
      <div class="webex-header-image">
        <i class="icon icon-webex"></i>
      </div>
    </div>
    <div class="header-info">
      <div class="header-info-wrap">
        <div class="header-title">
          {{$ctrl.selectedSite.linkedSiteUrl}}
        </div>
        <div class="header-subinfo">
          Legacy WebEx License
        </div>
      </div>
    </div>
  </cs-sp-header>

  <div ng-hide="$ctrl.selectedSite.isSiteAdmin" class="read-only-site">
    <span translate="accountLinking.siteDetails.readOnly"></span>
  </div>

  <cs-sp-container>

    <cs-sp-section>
      <div class="section-title-row">
        <span class="section-name" translate="accountLinking.siteDetails.siteInfo"></span>
      </div>

      <div class="feature-list">
        <ul>
          <li class="feature">
            <span class="feature-name" translate="accountLinking.siteDetails.siteName"></span>
            <span class="feature-details">{{$ctrl.selectedSite.linkedSiteUrl}}</span>
          </li>
          <li class="feature">
            <span class="feature-name" translate="accountLinking.siteDetails.licenseType"></span>
            <span class="feature-details">unknown</span>
          </li>
        </ul>
      </div>
    </cs-sp-section>

    <cs-sp-section>
      <div class="section-title-row">
        <span class="section-name" translate="accountLinking.name"></span>
        <span>
        <a class="as-button" ng-show="$ctrl.selectedSite.isSiteAdmin" ng-click="!$ctrl.selectedSite.isSiteAdmin || $ctrl.modifyLinkingMethod()" translate="accountLinking.siteDetails.modify"></a>
      </span>
      </div>

      <div class="feature-list">
        <ul>
          <li class="feature">
            <span class="feature-name" translate="accountLinking.siteDetails.linkingMode"></span>
            <span class="feature-details">unknown</span>
          </li>
          <li class="feature">
            <span class="feature-name" translate="accountLinking.siteDetails.linkedUsers"></span>
            <span class="feature-details">unknown</span>
          </li>
        </ul>
      </div>
    </cs-sp-section>

    <cs-sp-section>
      <div class="section-title-row">
        <span class="section-name" translate="accountLinking.siteDetails.siteUsageReports"></span>
        <span class="actions-menu">
        <a class="as-button" ng-click="$ctrl.showReports()" translate="accountLinking.siteDetails.viewReports"></a>
      </span>
      </div>
    </cs-sp-section>

    <cs-sp-section ng-show="$ctrl.selectedSite.isSiteAdmin">
      <div class="section-title-row">
        <a class="btn btn--people" ng-click="$ctrl.launchSiteAdmin()" role="button">Launch WebEx Site Admin</a>
      </div>
    </cs-sp-section>

  </cs-sp-container>

</div>

<!-- TODO: Replace by creating form programatically ? -->
<linked-sites-goto-webex ready-to-launch="$ctrl.readyToLaunch(buttonId)" webex-page="$ctrl.webexPage"></linked-sites-goto-webex>
