// TODO: rip this out once confirmed no longer needed
.trial-modal.form-horizontal {
  color: $gray-dark-2;
  .modal-header {
    padding: 22px 30px 20px 30px;
  }
  .modal-title {
    font-family: $brand-font-extra-light;
    font-size: 26px;
  }
  .modal-body {
    width: auto;
    padding: 13px 18px 10px 18px;
  }
  .modal-footer {
    .pad-top {
      padding-top: 5px;
    }
  }
  .formly-field-checkbox {
    padding-bottom: 0;
    .form-group,
    label {
      margin: 0;
    }
  }
  .license-count {
    .formly-template-wrapper {
      margin: 0;
    }
  }
  .secondary-label {
    margin-left: 10px;
  }
  h6 {
    @include vr-spacing(mv, 0.5);
  }
  h4,
  h5 {
    @include vr-spacing(mb, 0.5);
  }
  select {
    background-color: $white;
  }
  label {
    color: $gray-dark-2;
    padding: 0;
  }
  .control-label {
    padding-top: 0;
  }
  .noresize textarea {
    resize: none;
  }
  .control-label {
    text-align: left;
  }
  .collapse-fields {
    .formly-field {
      padding-bottom: 5px;
    }
    .form-group {
      margin-bottom: 0;
    }
    .form-control {
      margin: 0;
    }
  }
  .small {
    color: $gray-light-1;
  }
  .indent {
    padding-left: 22px;
  }
  .pad-top {
    padding-top: 8px;
    .cs-input-checkbox {
      margin-bottom: 0;
    }
  }
  .did-input .tokenfield {
    min-height: rem(144px);
  }
  .token {
    background-color: $color-primary-base;
    color: $white;
    .close {
      color: $white;
    }
    padding: rem(6px);
  }
  .no-pad {
    padding-bottom: 0;
  }
  .no-flex {
    flex: none;
    -webkit-flex: none;
  }
  .state-zip-wrapper {
    /* nested form grid fix */
    @include vr-spacing(pl, 0.75, 2px);
    @include vr-spacing(pr, 0.75, 4px);
    input {
      @include vr-spacing(mb, 0.25);
    }
  }
  .max-width {
    .select-toggle {
      width: 100%;
    }
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .pad-right {
    padding-right: 1.6rem;
  }
  .flex1 {
    flex: 1;
    padding-left: 1px;
  }
  .legal-tooltip {
    color: $gray-light-1;
    padding-left: rem(5px);
    margin-top: rem(5px);
  }
  .tooltip-arrow {
    top: rem(26px);
  }
  .city-width input {
    min-width: rem(258px);
  }
}

// -----
// toolkit overrides as required by UX
// see: https://app.zeplin.io/project.html#pid=566240ac4cc082c97dccdfb1&dashboard
.reveal-modal.full .modal-body.trials {
  padding: 0;
}

.trials {
  // TODO: rip this out once we can rip out 'label' definition in '_temp.scss'
  label {
    margin-bottom: 0.25rem;
  }

  .formly-field {
    padding-bottom: 6px;
  }

  .cs-form__section {
    padding-bottom: 2rem;

    &:last-child {
      padding-bottom: 1rem;
    }

    .section__content .sub-section {
      margin-bottom: 0.7rem;
    }
  }

  .section__description {
    color: $gray-base;
  }

  .with-slim-offset {
    &.medium-8 {
      width: 60%;
    }

    &.medium-4 {
      width: 35%;
    }

    &.offset-l {
      margin-left: 16px;
    }
  }

  &.modal-body .messagebox-backdrop {
    background-image: none;
    max-width: 60.25rem;
    position: inherit;
    flex: 1;

    .message-box {
      width: 38rem;
      min-height: 10rem;
      padding-top: 0;
      height: 45vh;

      .icon-check-mark-success {
        color: $color-cta-base;
        font-size: 6rem;
      }

      .splash-msg__title {
        margin-top: 1.5rem;
      }

      .splash-msg__description {
        margin-top: 1.5rem;
        flex-grow: 2;

        p {
          text-align: left;
          font-size: 1rem;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}

.modal-title-wrap {
  word-wrap: break-word;
}

#editTrialForm .progress-bar {
  max-width: 100%;
}
.progress-section {
  margin-top: 1rem;
}
.progress {
  margin-bottom: 0;
}

.days-left span {
  @extend .small;
}

.banner-msg {
  display: table;
  margin: 0 auto 3px;

  .icon {
    font-size: 1.7em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
  }

  button {
    margin-left: 1em;
  }

  .msg--requested {
    display: none;
  }

  &.has-requested {
    color: $color-cta-base;

    span.msg--requested {
      display: inline;
    }

    span.msg--default {
      display: none;
    }
  }
}
