.trial-modal {
  .icon {
    color: $gray-dark-1;
  }

  p {
    @include vr-spacing(m, 0.5);
  }

  h4, h5 {
    @include vr-spacing(mb, 1);
  }

  select {
    background-color: $white;
  }

  .noresize textarea {
    resize: none;
  }

  .collapse-fields .formly-field {
    max-height: 40px;
  }
}

.modal-title-wrap {
  word-wrap: break-word;
}

#editTrialForm .progress-bar {
  max-width: 100%;
}
