@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/typography';
@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.modal-footer.trials {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .btn {
    margin-left: 8px;
  }

  .alt-btn-link {
    color: $gray-dark-1;

    &:hover {
      color: $color-primary-base;
    }
  }

  .message {
    max-width: 100%;
  }
}

.trials {
  // TODO: rip this out once we can rip out 'label' definition in '_temp.scss'
  label {
    margin-bottom: 0.25rem;
  }

  .formly-field {
    padding-bottom: 6px;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  .cs-input-group .cs-input__secondary-label {
    padding-top: 0.5625rem;
    padding-bottom: 0.5625rem;
  }
  .cs-form-group.row {
    margin-bottom: 0.5rem;
    .row {
      margin: 0;
    }
  }

  .padding-l {
    padding-left: 0.5rem;
  }

  .cs-form__section {
    padding-bottom: 2rem;

    &:last-child {
      padding-bottom: 1rem;
    }

    .section__content .sub-section {
      margin-bottom: 0.7rem;
    }
  }

  .section__description {
    color: $gray-base;
  }

  .with-slim-offset {
    &.medium-8 {
      width: 60%;
    }

    &.medium-4 {
      width: 36%;
    }

    &.medium-3 {
      width: 21%;
    }

    &.offset-l {
      margin-left: 16px;
    }
  }

  &.modal-body {
    .splash-msg {
      margin: 3rem auto 0;
      width: 34rem;
      text-align: center;

      .icon-check-mark-success {
        color: $color-cta-base;
        font-size: 6rem;
      }

      .splash-msg__title {
        margin-top: 1.5rem;
      }

      .splash-msg__description {
        margin-top: 1.5rem;
        flex-grow: 2;

        p {
          text-align: left;
          font-size: 1rem;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }
  }

  #webexTrialForm div[name='timeZone'] div.dropdown-menu {
    max-height: 13rem;
  }

  .state-dropdown div.dropdown-menu {
    max-height: vr-adjust(192px);
  }

  .did-input .tokenfield {
    min-height: vr-adjust(144px);
  }

  .inline-row {
    display: inline-block;
  }

  .skip_numbers {
    color: $gray-dark-1;

    @include vr-spacing(p, 1);

    &:hover {
      color: $color-primary-base;
    }
  }
}

.small-hint {
  color: $gray-base;
  font-size: 13px;
  vertical-align: baseline;
}

.modal-title-wrap {
  word-wrap: break-word;
}

#editTrialForm .progress-bar {
  max-width: 100%;
  height: 0.25rem;
}

.progress-section {
  margin-top: 1rem;
}

.progress {
  margin-bottom: 0;
}

.get-bottom-margin {
  @include vr-spacing(mb, 1);
}

.banner-msg {
  display: table;
  margin: 0 auto 3px;

  .icon {
    font-size: 1.7em;
    display: inline-block;
    vertical-align: middle;
    margin-top: -0.2em;
  }

  button {
    margin-left: 1em;
  }

  .msg--requested {
    display: none;
  }

  &.has-requested {
    color: $color-cta-base;

    &.has-fail-partial {
      color: $color-negative-base;
    }

    &.has-fail-total {
      color: $color-negative-base;
    }

    span.msg--requested {
      display: inline;
    }

    span.msg--default {
      display: none;
    }
  }
}

.form-group.location-check {
  font-size: .825rem;

  span,
  a {
    font-size: .825rem;
  }

  .error .message {
    margin-left: 1rem;
  }
}

.large-form {
  .columns {
    width: 100%;
  }

  .address-validation-container .flex-address {
    flex: none;
  }

  &.full .flex-address {
    width: 100%;
  }
}
