.trial-modal.form-horizontal {
  .modal-body {
    width: auto;
  }
  .formly-field-checkbox {
    padding-bottom: 0;
    label,
    .form-group {
      margin: 0;
    }
  }
  .license-count {
    .formly-template-wrapper {
      margin: 0;
    }
  }
  .secondary-label {
    margin-left: 10px;
  }
  h6 {
    @include vr-spacing(mv, 0.5);
  }
  h4,
  h5 {
    @include vr-spacing(mb, 1);
  }
  select {
    background-color: $white;
  }
  .noresize textarea {
    resize: none;
  }
  .control-label {
    text-align: left;
  }
  .collapse-fields .formly-field {
    // max-height: 40px;
  }
}

.trial-modal--complete {
  .icon {
    margin-bottom: 1rem;
    display: block;
  }
}

.modal-title-wrap {
  word-wrap: break-word;
}

#editTrialForm .progress-bar {
  max-width: 100%;
}
.progress-section {
  margin-top: 1rem;
}
.progress {
  margin-bottom: 0;
}

.days-left span {
  @extend .small;
}
