<div class="add-did-numbers-modal" id="didAddModal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()"><span class="sr-only" translate='common.close'></span></button>
        <h3 class="modal-title" translate="partnerHomePage.dialogTitle"></h3>
    </div>
    <div class="add-numbers">
        <div class="modal-body">
            <h4 class="section-title" translate="didAddModal.title"></h4>
            <div class="did-input">
              <cs-token-field tokens="didAdd.unsavedTokens" tokenfieldid="didAdd.tokenfieldid" tokenplacehoder="didAdd.tokenplacehoder" tokenoptions="didAdd.tokenoptions" tokenmethods="didAdd.tokenmethods"></cs-token-field>
              <p class="modal-note"  translate="didManageModal.didFormatHelpText" translate-values="{examples: didAdd.getExampleNumbers}"/></p>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" ng-click="didAdd.fromEditTrial ? didAdd.backtoEditTrial() : didAdd.backtoStartTrial();" translate="common.back"></button>
            <button class="btn btn--primary" id="startTrial" cs-btn loading="didAdd.startTrialLoad" ng-click="didAdd.fromEditTrial ? didAdd.editTrial() : didAdd.startTrial();">
                <span translate="partnerHomePage.startTrial"></span>
            </button>
        </div>
    </div>
</div>
