<!-- header -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span class="sr-only" translate="common.close"></span>
  </button>
  <h3 class="modal-title" translate="trialModal.finish.title"></h3>
</div>

<!-- body -->
<div class="modal-body trials">
  <div class="messagebox-backdrop">
    <div class="message-box splash-msg">
      <!-- default finish msg -->
      <div ng-show="trial.showDefaultFinish()">
        <i class="icon icon-check-mark-success"></i>
        <div class="splash-msg__title">
          <h2 translate="trialModal.trialSuccess"></h2>
        </div>
        <div class="splash-msg__description">
          <p class="text-center" translate="trialModal.nextStepPrompt"></p>
        </div>
      </div>

      <!-- webex finish msg -->
      <div ng-show="!trial.showDefaultFinish()">
        <i class="icon icon-check-mark-success"></i>
        <div class="splash-msg__title">
          <h2 translate="trialModal.finishTrialAdded"></h3>
        </div>
        <div class="splash-msg__description">
          <p translate="trialModal.finishMeetingDescription"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- footer -->
<div class="modal-footer">
  <div ng-show="trial.showDefaultFinish()">
    <button id="trialNotifyCustomer" class="btn" ng-click="trial.closeDialogBox()"
      translate="common.no">
    </button>
    <button class="btn btn--primary" ng-click="trial.launchCustomerPortal()"
      translate="common.yes">
    </button>
  </div>
  <div ng-show="!trial.showDefaultFinish()">
    <button id="trialNotifyCustomer" class="btn btn--primary" ng-click="trial.closeDialogBox()"
      translate="common.done">
    </button>
  </div>
</div>
