<!-- Edit Trial Modal -->

<div class="modal-header">
  <button type="button" class="close" ng-click="trial.cancelModal()">
    <span class="sr-only" translate="common.close"></span>
  </button>
 <h3 class="modal-title modal-title-wrap" ng-if="trial.isEditTrial()">{{trial.currentTrial.customerName}}</h3>
 <h3 class="modal-title" translate="trialModal.addTrial.title" ng-if="trial.isNewTrial()"></h3>
</div>
<div class="modal-body trials">
  <form novalidate name="trialForm" id="editTrialForm" class="cs-form trial-modal">
    <!-- customer information -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 translate="partnerHomePage.customerInformation"></h4>
      </div>
      <div class="section__content" ng-if="trial.isExistingOrg()">
        <label class="sub-section__label" translate="partnerHomePage.customerName"></label>
        <input cs-input type="text" disabled="disabled" ng-model="trial.currentTrial.customerName">
        <label class="sub-section__label" translate="partnerHomePage.customerEmail"></label>
        <input cs-input type="text" disabled="disabled" ng-model="trial.currentTrial.customerEmail">
      </div>
      <div class="section__content" ng-if="!trial.isExistingOrg()">
        <formly-form model="trial.details" fields="trial.custInfoFields"></formly-form>
      </div>
    </div>
    <!-- regional settings -->
    <trial-regional-settings
      cr-feature-toggle feature-show="huron-federated-spark-call"
      ng-if="trial.isNewTrial()"
      filter-country-list="false"
      default-country="trial.details.country"
      default-country-list="trial.defaultCountryList"
      on-change-fn="trial.setDefaultCountry(country)">
    </trial-regional-settings>

    <trial-regional-settings
      cr-feature-toggle feature-show="huron-support-for-thinktel-i1423"
      ng-if="trial.isNewTrial()"
      filter-country-list="true"
      default-country="trial.details.country"
      default-country-list="trial.defaultCountryList"
      on-change-fn="trial.setDefaultCountry(country)">
    </trial-regional-settings>
     <!-- trial services -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4  translate="partnerHomePage.trialServices"></h4>
        <p class="cs-input__help-text" translate="trials.supportSelectLocations"></p>
      </div>
      <!-- paid services: TODO: refactor as a component -->
      <div class="section__content">
        <div class="sub-section" ng-show="!trial.messageFields[0].data.paid">
          <h5 class="sub-section__label" translate="subscriptions.message"></h5>
            <formly-form model="trial.trialData.trials" fields="trial.messageFields" hide-directive="ng-show">
            </formly-form>
        </div>
        <div class="sub-section" ng-show="!trial.meetingFields[0].data.paid || !trial.webexFields[0].data.paid">
          <h5 class="sub-section__label" translate="subscriptions.meeting"></h5>
            <formly-form model="trial.trialData.trials" fields="trial.meetingFields" ng-if="!trial.meetingFields[0].data.paid" hide-directive="ng-show" >
            </formly-form>
            <formly-form model="trial.trialData.trials" fields="trial.webexFields"  ng-if="!trial.webexFields[0].data.paid" hide-directive="ng-show">
            </formly-form>
        </div>
        <div class="sub-section" ng-show="!trial.callFields[0].data.paid">
          <h5 class="sub-section__label" translate="subscriptions.call"></h5>
            <formly-form model="trial.trialData.trials" fields="trial.callFields" hide-directive="ng-show">
            </formly-form>
        </div>
        <div class="sub-section" ng-if="trial.showCare && (!trial.careTrial.paid || !trial.advanceCareTrial.paid)">
          <h5 class="sub-section__label" translate="subscriptions.care"></h5>
          <input
                  cs-input
                  type="checkbox"
                  id="careTrial"
                  name="careTrial"
                  ng-if="trial.showBasicCare"
                  ng-model="trial.careTrial.enabled"
                  ng-disabled="trial._helpers.messageOfferDisabledExpression() || trial._helpers.callOfferDisabledExpression() || trial.preset.care"
                  cs-input-label="{{::'trials.care' | translate}}"
                  cs-input-help-text="{{::'trials.careHelp' | translate}}"
          >
          <formly-form model="trial.trialData.trials" fields="trial.careFields" hide-directive="ng-show" ng-if="trial.showBasicCare">
          </formly-form>
          <input
                  cs-input
                  type="checkbox"
                  id="advanceCareTrial"
                  name="advanceCareTrial"
                  ng-if="trial.showAdvanceCare"
                  ng-model="trial.advanceCareTrial.enabled"
                  ng-disabled="trial._helpers.messageOfferDisabledExpression() || trial._helpers.callOfferDisabledExpression() || trial.preset.advanceCare"
                  cs-input-label="{{::'trials.advanceCare' | translate}}"
                  cs-input-help-text="{{::'trials.advanceCareHelp' | translate}}"
          >
          <formly-form model="trial.trialData.trials" fields="trial.advanceCareFields" hide-directive="ng-show" ng-if="trial.showAdvanceCare" >
          </formly-form>
        </div>
        <div class="sub-section" ng-if="trial.showRoomSystems">
          <div ng-if="!trial.roomSystemFields[0].data.paid">
            <h5 class="sub-section__label" translate="subscriptions.room"></h5>
            <formly-form model="trial.roomSystemTrial" fields="trial.roomSystemFields" hide-directive="ng-show">
            </formly-form>
          </div>
          <div ng-if="!trial.sparkBoardFields[0].data.paid && trial.sbTrial">
            <formly-form model="trial.sparkBoardTrial" fields="trial.sparkBoardFields" hide-directive="ng-show" >
            </formly-form>
          </div>
        </div>
      </div>
    </div>
      <!-- paid services: TODO: refactor as a component -->
    <div class="cs-form__section" ng-if="trial.paidServicesForDisplay.length">
      <div class="section__info">
        <h4  translate="partnerHomePage.activeServices"></h4>
        <p class="cs-input__help-text" translate="partnerHomePage.activeServicesInformation"></p>
      </div>
      <!-- paid services: TODO: refactor as a component -->
      <div class="section__content">
        <div class="sub-section" ng-repeat="item in trial.paidServicesForDisplay">
          <h5 class="sub-section__label" translate="trials.managedBy" translate-values="{ org: item.org }"></h5>
          <div class="sub-section" ng-repeat="paidService in item.services">
            <input type="checkbox" checked  disabled="disabled">
            <label class="cs-checkbox disabled" for="messageTrial" ng-class="{disabled: disabledBool}">
              <span >{{::paidService.label}} </span>&nbsp;&nbsp;&nbsp;<span translate="common.quantity"></span>: {{::paidService.qty}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- license quantity -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 translate="trials.licenseQuantity"></h5>
      </div>
      <div class="section__content">
        <formly-form model="trial.trialData.trials" fields="trial.licenseCountFields"></formly-form>
      </div>
    </div>
    <!-- trial duration edit-->
    <div class="cs-form__section" ng-if="trial.isEditTrial()">
      <div class="section__info">
        <h4 translate="partnerHomePage.termsOfTrial"></h4>
      </div>
      <div class="section__content">
        <div class="sub-section">
          <formly-form model="trial.model" fields="trial.trialTermsFields">
          </formly-form>
        </div>

        <div class="sub-section">
          <div class="end progress-section">
            <div class="progress">
            <div class="progress-bar" ng-class="{'danger-bar': trial.currentTrial.daysLeft <= 5, 'warning-bar': (trial.currentTrial.daysLeft < trial.currentTrial.duration/2), 'success-bar': (trial.currentTrial.daysLeft>= trial.currentTrial.duration/2)}" role="progressbar" aria-valuenow="{{trial.currentTrial.daysUsed}}" aria-valuemin="0" aria-valuemax="{{trial.currentTrial.duration}}" style="width: {{trial.currentTrial.percentUsed}}%;">
            </div>
        <!-- TO DO: Why does this not work in the modal? -->
            <!-- <div class="modal-bar">
            <progressbar max="currentTrial.duration" value="currentTrial.daysUsed" type="{{getProgressStatus(currentTrial)}}"></progressbar>
          </div> -->
            </div>
            <div class="days-left">
              <span class="small" ng-class="{'trial-danger-text': trial.currentTrial.daysLeft <= 5}">{{trial.getDaysLeft(trial.currentTrial.daysLeft)}}</span>
              <span class="small" translate="partnerHomePage.trialsEndDate"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- trial duration add-->
    <div class="cs-form__section" ng-if="trial.isNewTrial()">
      <div class="section__info">
        <h4 translate="trials.trialDuration"></h5>
      </div>
      <div class="section__content">
        <formly-form model="trial.details" fields="trial.trialTermsFields"></formly-form>
      </div>
    </div>

    <!-- context service trial -->
    <div class="cs-form__section" ng-if="trial.showContextServiceTrial">
      <div class="section__info">
        <h4 translate="partnerHomePage.nonTrialServices"></h4>
      </div>
      <div class="section__content">
        <formly-form model="trial.trialData.trials" fields="trial.nonTrialServices"></formly-form>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer trials">
  <button id="cancelTrialButton" class="btn" ng-click="$dismiss()" ng-disabled="trial.loading">
    <span translate="partnerHomePage.cancel"></span>
  </button>
  <!-- edit trial -->
  <button id="saveUpdateButton" class="btn btn--primary" type="button" cs-btn loading="trial.loading"
    ng-click="trialForm.$setPristine(true); trial.nextStep()" ng-disabled="trial.isProceedDisabled() || trialForm.$invalid" ng-if="trial.isEditTrial()">
      <span ng-if="!trial.hasNextStep()" translate="common.save"></span>
      <span ng-if="trial.hasNextStep()" translate="common.next"></span>
  </button>
  <!-- add for purchased customer -->
  <button id="saveUpdateButton" class="btn btn--primary" type="button" cs-btn loading="trial.loading"
    ng-click="trialForm.$setPristine(true); trial.nextStep()" ng-disabled="trial.isProceedDisabled() || trialForm.$invalid" ng-if="trial.isNewTrial() && trial.isExistingOrg()">
      <span ng-if="!trial.hasNextStep()" translate="partnerHomePage.startTrial"></span>
      <span ng-if="trial.hasNextStep()" translate="common.next"></span>
  </button>
  <!-- add for new customer -->
  <button id="startTrialButton" class="btn btn--primary" type="button" cs-btn loading="trial.loading"
    ng-click="trialForm.$setPristine(true); trial.nextStep()" ng-disabled="!trial.isAddTrialValid(trialForm.$valid)"
    ng-if="trial.isNewTrial() && !trial.isExistingOrg()">
      <span ng-if="!trial.hasNextStep()" translate="partnerHomePage.startTrial"></span>
      <span ng-if="trial.hasNextStep()" translate="common.next"></span>
  </button>
</div>
