<!-- Edit Trial Modal -->
<form novalidate name="trialForm" id="editTrialForm" class="trial-modal form-horizontal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()">
      <span class="sr-only" translate="common.close"></span>
    </button>
    <h3 class="modal-title modal-title-wrap">{{trial.currentTrial.customerName}}</h3>
  </div>
  <!-- <div class="modal-body modal-body-white">
    <div class="medium-3 columns">
      <span class="users-edit-modal trialHeading" translate="partnerHomePage.trialsNumUsers"></span>
      <div class="license-count-modal">
        <span>{{trial.currentTrial.usage}}/{{trial.currentTrial.licenses}}</span>
      </div>
    </div>
  </div>  -->
  <section class="modal-body row">
    <h5 translate="partnerHomePage.customerInformation"></h5>
    <section class="medium-11 medium-offset-1 columns ">
      <div class="row">
        <div class="medium-4 columns">
          <label class="control-label" translate="partnerHomePage.name"></label>
        </div>
        <div class="medium-8 columns">
          <p class="form-control-static">{{trial.currentTrial.customerName}}</p>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label class="control-label" translate="partnerHomePage.customerEmail"></label>
        </div>
        <div class="medium-8 columns">
          <p class="form-control-static">{{trial.currentTrial.customerEmail}}</p>
        </div>
      </div>
    </section>
  </section>
  <section class="modal-body row  ">
    <h5 translate="partnerHomePage.trialServices"></h5>
    <section class="medium-11 medium-offset-1 columns">
      <h6 translate="partnerHomePage.individualUserServices"></h6>
      <div class="row">
        <formly-form model="trial.model" fields="trial.individualServices" hide-directive="ng-show" class="medium-11 medium-offset-1 columns">
        </formly-form>
      </div>
    </section>
    <section class="row" ng-if="trial.showRoomSystems">
      <h6 translate="partnerHomePage.deviceBasedServices" class="small-11 small-offset-1 columns"></h6>
      <formly-form model="trial.roomSystemTrial" fields="trial.roomSystemFields" hide-directive="ng-show" class="small-10 small-offset-2 columns">
      </formly-form>
      <span class="currently-us-only overlay-edit-usonly" translate="trials.usOnly"></span>
    </section>
  </section>
  <section class="modal-body row">
    <h5 translate="partnerHomePage.termsOfTrial"></h5>
    <formly-form model="trial.model" fields="trial.trialTermsFields" class="medium-11 medium-offset-1 columns">
    </formly-form>
    <div class="medium-10 medium-offset-1 columns end progress-section">
      <div class="progress">
        <div class="progress-bar" ng-class="{'danger-bar': trial.currentTrial.daysLeft <= 5, 'warning-bar': (trial.currentTrial.daysLeft < trial.currentTrial.duration/2), 'success-bar': (trial.currentTrial.daysLeft >= trial.currentTrial.duration/2)}" role="progressbar" aria-valuenow="{{trial.currentTrial.daysUsed}}" aria-valuemin="0" aria-valuemax="{{trial.currentTrial.duration}}" style="width: {{trial.currentTrial.percentUsed}}%;">
        </div>
        <!-- TO DO: Why does this not work in the modal? -->
        <!-- <div class="modal-bar">
        <progressbar max="currentTrial.duration" value="currentTrial.daysUsed" type="{{getProgressStatus(currentTrial)}}"></progressbar>
      </div> -->
      </div>
      <div class="days-left">
        <span ng-class="{'trial-danger-text': trial.currentTrial.daysLeft <= 5}">{{trial.getDaysLeft(trial.currentTrial.daysLeft)}}</span>
        <span translate="partnerHomePage.trialsEndDate"></span>
      </div>
    </div>
  </section>
  <div class="modal-footer">
    <button id="cancelTrialButton" class="btn" ng-click="$dismiss()">
      <span translate="partnerHomePage.cancel"></span>
    </button>
    <button id="saveUpdateButton" class="btn btn--primary" type="button" cs-btn loading="trial.loading"
      ng-click="trialForm.$setPristine(true); trial.nextStep()" ng-disabled="trial.isProceedDisabled()">
        <span ng-if="!trial.hasNextStep()" translate="common.save"></span>
        <span ng-if="trial.hasNextStep()" translate="common.next"></span>
    </button>
  </div>

</form>
