<!-- PSTN Trial Modal -->

<!-- header -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span class="sr-only" translate="common.close"></span>
  </button>
  <h3 class="modal-title" translate="trialModal.pstn.title"></h3>
</div>

<!-- body -->
<div class="modal-body trials">
  <form id="callTrialForm" class="trial-modal" name="trialForm" novalidate>
    
    <!-- provider selection -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="trialModal.pstn.pstnProvider"></h4>
      </div>
      <div class="section__content">
        <formly-form model="pstnTrial.pstn.providerSelection" fields="pstnTrial.pstnProviderField"></formly-form>
      </div>
    </div>
    
    <!-- manual number entry -->
    <div class="cs-form__section" ng-hide="pstnTrial.trialData.details.pstnProvider.apiExists">
      <div class="section__info">
        <h4 class="section__title" translate="trialModal.pstn.phoneNumbers"></h4>
        <h6 class="section__description" translate="trialModal.pstn.pleaseAdd"></h6>
        <!--<h6 translate="trialModal.pstn.pleaseAdd"></h6>-->
      </div>
      <div class="section__content">
        <div class="pad-right">
          <h6 translate="trialModal.pstn.numbers"></h6>
        </div>
        <div class="did-input">
          <cs-token-field tokens="pstnTrial.manualUnsavedTokens" tokenfieldid="pstnTrial.manualTokenFieldId" tokenoptions="pstnTrial.manualTokenOptions" tokenmethods="pstnTrial.manualTokenMethods"></cs-token-field>
        </div>
      </div>
    </div>
    
    <!-- provider specific options -->
    <div ng-show="pstnTrial.trialData.details.pstnProvider.apiExists">
      
      <!-- legal info -->
      <div class="cs-form__section">
        <div class="section__info">
            <h4 class="section__title" translate="trialModal.pstn.contract"></h4>
            <h6 class="section__description" translate="trialModal.pstn.popover"></h6>
        </div>
        <div class="section__content">
          <formly-form class="collapse-both" model="pstnTrial.contractInfo" fields="pstnTrial.contractInfoFields" class="columns indent">
            </formly-form>
        </div>
      </div>
      
      <!-- provider numbers -->
      <div class="cs-form__section">
        <div class="section__info">
          <h4 translate="trialModal.pstn.phoneNumbers"></h4>
          <h6 class="section__description" translate="trialModal.pstn.pleaseAdd10"></h6>
        </div>
        <div class="section__content">
          <formly-form model="pstnTrial.numberSearchInfo" fields="pstnTrial.pstnStateAreaFields">
            </formly-form>
          <h6 translate="trialModal.pstn.numbers"></h6>
          <div class="did-input">
            <cs-token-field tokens="pstnTrial.unsavedTokens" tokenfieldid="pstnTrial.tokenFieldId" tokenoptions="pstnTrial.tokenOptions" tokenmethods="pstnTrial.tokenMethods"></cs-token-field>
          </div>
        </div>
      </div>
      
    </div>
  </form>
</div>

<!-- footer -->
<div class="modal-footer trials">
  <a class="alt-btn-link"
    ng-click="pstnTrial.skip(true)"
    translate="trialModal.skip">
  </a>
  <button class="btn with-slim-offset offset-l"
    ng-click="trial.previousStep()"
    ng-disabled="trial.loading"
    translate="common.back">
  </button>
  <button id="startTrialButton" class="btn btn--primary" type="button" cs-btn loading="trial.loading"
    ng-click="trialForm.$setPristine(true); trial.nextStep()"
    ng-disabled="(trialForm.$invalid && pstnTrial.showOrdering) || pstnTrial.disableNextButton()">
    <span ng-if="!trial.hasNextStep()" translate="partnerHomePage.startTrial"></span>
    <span ng-if="trial.hasNextStep()" translate="common.next"></span>
  </button>
</div>


