<!-- Meeting Trial Modal -->

<!-- header -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span class="sr-only" translate="common.close"></span>
  </button>
  <h3 class="modal-title" translate="trialModal.meeting.title"></h3>
</div>

<!-- body -->
<div class="modal-body trials">
  <form id="webexTrialForm" class="cs-form trial-modal" name="trialForm">
    <!-- webex site url -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="trialModal.meeting.webexSiteUrl"></h4>
      </div>
      <div class="section__content">
        <formly-form model="webexTrial.details" fields="webexTrial.siteUrlFields"></formly-form>
      </div>
    </div>

    <!-- customer timezone -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="trialModal.meeting.customerTimezone"></h4>
        <p class="section__description" translate="trialModal.meeting.tzDescription"></p>
      </div>
      <div class="section__content">
        <formly-form model="webexTrial.details" fields="webexTrial.timezoneFields"></formly-form>
      </div>
    </div>
  </form>
</div>

<!-- footer -->
<div class="modal-footer trials">
  <button class="btn" ng-click="trial.previousStep()" ng-disabled="trial.loading"
    translate="common.back">
  </button>
  <button id="startTrialButton" class="btn btn--primary" type="button" cs-btn
    loading="trial.loading || webexTrial.validatingUrl"
    ng-click="trialForm.$setPristine(true); trial.nextStep()" ng-disabled="trialForm.$invalid">
      <span ng-if="!trial.hasNextStep()" translate="partnerHomePage.startTrial"></span>
      <span ng-if="trial.hasNextStep()" translate="common.next"></span>
    </span>
  </button>
</div>
