.reveal-modal.full .modal-logo-upload {
  height: initial;
}

.upload-modal {
  background-color: $brand-white;
  border: 1px solid $brand-primary-dark;

  .modal-body {
    margin: 20px 0 0 0;
    padding: 0;
    color: $brand-primary-dark;
    background-color: transparent;
    text-align: center;
  }

  .modal-footer {
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
  }

  .upload-error {
    display: inline-block;
  }

  .progressbar-info {
    padding: 0;
  }

  .upload-progress {
    margin: 10px 45px;
  }
}
