@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/forms';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.branding {
  .radio-input-spacing {
    align-items: flex-start;

    &::before {
      margin-top: calc((#{$input-height-base} / 2) - 10px);
    }

    > input,
    .radio-input-flex {
      flex: 1 1 auto;
    }
  }

  .thumbnail {
    float: left;
    max-width: 50%;
    max-height: 100%;
  }

  .drop-box.form-section {
    display: inline-block;
    width: 100%;

    @include vr-spacing(mb, 0.25);
    @include vr-spacing(p, 0.25);

    height: 150px;
    background-color: $brand-white;
    border: 1px solid $gray-light;
    border-radius: 3px;
    color: $gray-light;

    &:focus {
      border-color: $brand-primary;
    }

    &.dragover {
      border-color: $brand-primary;
    }

    &.dragover-error {
      border-color: $brand-danger;
    }

    .icon-upload {
      font-size: 2.5rem;
    }
  }
}

.branding-wording {
  .radio-input-spacing {
    margin-left: 2rem;
  }

  .drop-box.form-section {
    width: 413px;
    height: 95px;
    display: flex;
    justify-content: center;
  }
}

.branding-modal {
  .item-space {
    padding-top: 2rem;
    text-align: center;
  }

  img {
    width: 100%;
  }

  .logo-example {
    float: none;
    margin: 0 auto;
  }

  .modal-body {
    overflow-y: auto;
    display: flex;
    height: calc(100vh - 210px);
  }

  .item-padding-space {
    padding-bottom: 2rem;
  }

  .columns {
    padding: 0;

    &.left {
      padding-right: 1rem;
    }

    &.right {
      padding-left: 1rem;
    }
  }

  .cs-card {
    padding: 0;
  }
}
