.branding {

  
  .radio-input-spacing {
    align-items: flex-start;

    &:before {
      margin-top: calc((#{$input-height-base} / 2) - 10px)
    }

    > input, .radio-input-flex {
      flex: 1;
    }
  }

  .thumbnail {
    float: left;
    max-width: 50%;
    max-height: 100%;
  }


  .drop-box {
    display: inline-block;
    width: 100%;

    @include vr-spacing(mb, 0.25);

    @include vr-spacing(p, 0.25);
    height: 150px;
    background-color: $brand-white;
    border: 1px solid $gray-light;
    border-radius: 3px;
    color: $gray-light;

    &.dragover {
      border-color: $brand-primary;
    }

    &.dragover-error {
      border-color: $brand-danger;
    }

    .icon-upload{
      font-size: 2.5rem;
    }
  }
}

.branding-wording {
  .radio-input-spacing {
    margin-left: 2rem;
  }

  .drop-box {
    width:413px;
    height: 95px;
  } 
}

.branding-modal {
  .item-space {
    padding-top: 2rem;
  }

  img {
    width: 100%;
  }

  .modal-body {
    overflow-y: auto;
    display: flex;
    height: calc(100vh - 210px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }

  .item-padding-space {
    padding-bottom: 2rem;
  }

  .columns {
    padding: 0;

    &.left {
      padding-right: 1rem;
    }

    &.right {
      padding-left: 1rem;
    }
  }
  .cs-card {
    padding: 0
  }

}