.site-list {
  @extend %grid-header;

  .ui-grid-row {
     &:hover {
       background-color: transparent;
     }
   }
        
  .multi-center-license{
    .tooltip-inner {
       max-width: 400px;
       &:hover {
   	     color:$anchor-font-color-hover;
   	   }
     }
   }
}


.csv-text:hover {
    color: #D03D35;
}

.csv-results {
    background-color: #C9EBE6;
    padding: 5px 10px;
}

.error_text{
    color: #F5483F;
}

