@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.site-list {
  @extend %grid-header;
  @extend %page-background-white;

  .ui-grid-row {
    &:hover {
      background-color: transparent;
    }
    .badge.primary.ui-grid-cell-contents__badge--pending {
      margin-left: 20px;
    }
  }

  .multi-center-license {
    .c-nub {
      max-width: 400px;

      &:hover {
        color: $anchor-font-color-hover;
      }
    }
  }

  .iconDisabled {
    color: $gray-light-3;
  }

  .iconEnabled {
    color: $gray-light-1;
  }

  .iconEnabledWithHover {
    color: $gray-light-1;

    &:hover {
      color: $color-primary-base;
      cursor: pointer;
    }
  }

  .grid-vcenter {
    vertical-align: middle;
  }

  .grid-text-top {
    vertical-align: text-top;
  }

  .error-color {
    color: $color-alerts-base;
  }

  .attention-color {
    color: $color-attention-base;
  }

  .webex-hidden-form {
    display: none;
  }

  .tabs-container {
    padding: 1rem;

    ul.menu {
      margin-left: 0.25rem;
      padding: 0;
      border: 0px;
      li {
        display: inline;
        margin-right: 1rem;
        font-family: $brand-font-light;
        &:hover {
          cursor: pointer;
          color: $color-primary-base;
        }
        .active {
          color: $color-primary-base;
        }
        .link {
          border: 0px;
          outline: none;
        }
        span {
          font-size:1rem;
          color: $gray-2;
        }
      }
    }
  }

}

