<p class="ui-grid-cell-contents">
  <!-- start of column loading -->
  <span ng-if="!row.entity.showSiteLinks">
    <i class="icon icon-report"></i>

    <span>
      &nbsp;
    </span>

    <i class="icon icon-settings"></i>

    <span>
      &nbsp;&nbsp;&nbsp;
    </span>

    <i class="icon icon-spinner"></i>

    <span translate="siteList.checkingServices"></span>
  </span>
  <!-- end of column loading -->

  <!-- start of error handling -->
  <span ng-if="row.entity.showSiteLinks && row.entity.isError">
    <i class="icon icon-report">
    </i>

    <span>
      &nbsp; 
    </span>

    <i class="icon icon-settings">
    </i>

    <span>
      &nbsp;&nbsp;&nbsp;
    </span>

    <span ng-if="!row.entity.isWarn"
          id="{{row.entity.license.siteUrl}}_errorIcon">

      <i class="icon icon-error err webex-alert-text"></i>

      <span translate="siteList.systemError" class="webex-alert-text"></span>
    </span>

    <span ng-if="row.entity.isWarn"
          id="{{row.entity.license.siteUrl}}_warningIcon">

      <i class="icon icon-warning webex-attention-text"></i>

      <span translate="siteList.authError"></span>
    </span>
  </span>
  <!-- end of error handling -->

  <!-- start of service enabling -->
  <span ng-if="row.entity.showSiteLinks && !row.entity.isError">

    <i ng-if="!row.entity.isAdminReportEnabled"
       class="icon icon-report"
       tooltip-append-to-body="true" 
       tooltip-animation="false"
       tooltip="{{::'webexSiteReports.adminReportNotEnabled' | translate}}"
       tooltip-placement="top">
    </i>

    <span>
      <a ng-if="row.entity.isAdminReportEnabled"
         id="{{row.entity.license.siteUrl}}_webex-site-reports"
         ui-sref="webex-reports({siteUrl:row.entity.license.siteUrl})">
         <i class="icon icon-report"
            tooltip-append-to-body="true" 
            tooltip-animation="false"
            tooltip="{{::'siteList.siteReports' | translate}}"
            tooltip-placement="top"></i>
      </a>

      <span>
        &nbsp;
      </span>

      <a id="{{row.entity.license.siteUrl}}_webex-site-settings"
         ui-sref="site-list.site-settings({siteUrl:row.entity.license.siteUrl})">
         <i class="icon icon-settings"
            tooltip-append-to-body="true" 
            tooltip-animation="false"
            tooltip="{{::'siteList.siteSettings' | translate}}"
            tooltip-placement="top"></i>
      </a>
    </span>

  </span>
  <!-- end of service enabling -->
</p>
