<div ng-if="!row.entity.showCSVInfo">
  <p class="ui-grid-cell-contents">
    <i 
      class="icon-spinner icon">
    </i>
  </p>
</div>

<div ng-if="row.entity.showCSVInfo">
  <div ng-if="!row.entity.isCSVSupported">
    <p class="ui-grid-cell-contents" translate>
      siteList.siteCSVNotAvailable
    </p>
  </div>
  
  <div ng-if="row.entity.isCSVSupported">
    <p class="ui-grid-cell-contents">
      <a>
        <span
          id="{{row.entity.license.siteUrl}}_exoirt" 
          translate="siteList.siteCsvExportLinkLabel">
        </span>
      </a>
                
      &nbsp;|&nbsp;
              
      <a>
        <span
          id="{{row.entity.license.siteUrl}}_import" 
           translate="siteList.siteCsvImportLinkLabel">
        </span>
      </a>
    </p>
  </div>
</div>
