<p class="ui-grid-cell-contents">
  <!-- start of column loading -->
  <span ng-if="!row.entity.showSiteLinks">
    <i class="icon-report icon ui-grid-vcenter iconDisabled"></i>
    
    <span>
      &nbsp;
    </span>
    
    <i class="icon-settings icon ui-grid-vcenter iconDisabled"></i>
    
    <span>
      &nbsp;&nbsp;&nbsp;
    </span>
    
    <i class="icon-spinner icon ui-grid-vcenter"></i>
    
    <span translate="siteList.checkingServices"></span>
  </span>
  <!-- end of column loading -->

  <!-- start of error handling -->
  <span ng-if="row.entity.showSiteLinks && row.entity.isError">
    <i id="id-siteReportsDisabledIcon"
       class="icon-report icon ui-grid-vcenter iconDisabled">
    </i>
        
    <span>
      &nbsp;
    </span>
        
    <i id="id-siteConfigDisabledIcon"
       class="icon-settings icon ui-grid-vcenter iconDisabled">
    </i>
        
    <span>
      &nbsp;&nbsp;&nbsp;
    </span>
        
    <span ng-if="!row.entity.isWarn"
          id="{{row.entity.license.siteUrl}}_errorIcon">
                
      <i class="icon-error icon ui-grid-vcenter err webex-alert-text ui-grid-vcenter"></i>
              
      <span translate="siteList.systemError" class="webex-alert-text"></span>
    </span>
          
    <span ng-if="row.entity.isWarn"
          id="{{row.entity.license.siteUrl}}_warningIcon">
                
      <i class="icon-warning icon ui-grid-vcenter webex-attention-text ui-grid-vcenter"></i>
              
      <span translate="siteList.authError"></span>
    </span>
  </span>
  <!-- end of error handling -->

  <!-- start of service enabling -->
  <span ng-if="row.entity.showSiteLinks && !row.entity.isError">
    <i ng-if="!row.entity.isAdminReportEnabled"
       class="icon-report icon ui-grid-vcenter iconDisabled"
       tooltip-append-to-body="true" 
       tooltip-animation="false"
       tooltip="{{::'webexSiteReports.adminReportNotEnabled' | translate}}"
       tooltip-placement="top">
    </i>
          
    <i ng-if="row.entity.isAdminReportEnabled"
       id="id-IframeWebexSiteReportsLink"
       class="icon-report icon ui-grid-vcenter iconEnabled"
       tooltip-append-to-body="true" 
       tooltip-animation="false"
       tooltip="{{::'siteList.siteReports' | translate}}"
       tooltip-placement="top">
    </i>
          
    <span>
      &nbsp;
    </span>
          
    <i id="id-IframeWebexSiteConfigLink"
       class="icon-settings icon ui-grid-vcenter iconEnabled"
       tooltip-append-to-body="true" 
       tooltip-animation="false"
       tooltip="{{::'siteList.siteSettings' | translate}}"
       tooltip-placement="top">
    </i>
  </span>
  <!-- end of service enabling -->
</p>
