	<div ng-if="!row.entity.showLicenseTypes">
		<p class="ui-grid-cell-contents">
			<i class="icon-spinner icon"></i>
		</p>
	</div>
	
	<div ng-if="row.entity.showLicenseTypes"
		 id="{{row.entity.licenseTypeId}}"
		 name="{{row.entity.licenseTypeId}}">
	     
		<div ng-if="row.entity.multipleWebexServicesLicensed">		     
			<p class="ui-grid-cell-contents multi-center-license" 
			   tooltip-placement="top" 
			   tooltip-html-unsafe="{{row.entity.licenseTooltipDisplay}}" 
			   tooltip-animation="false"  
			   tooltip-append-to-body="true">
			   
			  {{row.entity.licenseTypeContentDisplay}}
	        </p>
		</div>
		
		<div ng-if="!row.entity.multipleWebexServicesLicensed">
			<p class="ui-grid-cell-contents">
			   
			  {{row.entity.licenseTypeContentDisplay}}
			</p>
		</div>
	</div>
