<div class="ui-grid-cell-contents align-left icon-column" ng-click="grid.appScope.partnerClicked(row.entity.customerOrgId)" ng-class="{'selected' : row.isSelected}">
  <div ng-if="!grid.appScope.isPastGracePeriod(row.entity)">
    <cr-service-column-icon row="row.entity" type="messaging"></cr-service-column-icon>
    <cr-service-column-icon row="row.entity" type="conferencing"></cr-service-column-icon>
    <cr-service-column-icon row="row.entity" type="communications"></cr-service-column-icon>
    <cr-service-column-icon row="row.entity" type="webex"></cr-service-column-icon>
    <cr-service-column-icon row="row.entity" type="roomSystems"></cr-service-column-icon>
    <cr-service-column-icon row="row.entity" type="care"></cr-service-column-icon>
  </div>
  <span ng-if="grid.appScope.isPastGracePeriod(row.entity)" translate="common.notAvailable"></span>
</div>
