.aa-phone-menu {
  min-width: vr-adjust(340);
  > .row:first-child {
    @include vr-spacing(mt, 0.5);
  }
  & select {
    color: $input-font-color;
    background-color: $color-white;
  }
  .panel {
    @include vr-spacing(m, 0);
    @include vr-spacing(p, 1);
    @include vr-spacing(pb, 0);
    background-color: $gray-light-3;
    & ~ .panel {
      @include vr-spacing(mt, 0.5);
    }
  }
  .aa-pm-primary-text {
    display: inline-block;
    @include vr-spacing(mb, 1);
  }
  .aa-pm-add-key-icon {
    &:before {
      line-height: 1rem;
      content: '+';
    }
    &.aa-pm-vertical-line {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 1.05rem;
        background-image: linear-gradient(180deg, transparent, #ccc, transparent);
        background-position: 50%;
        background-repeat: repeat-y;
        background-size: 1px 1px;
      }
    }
  }
  .control-label {
    @include vr-spacing(mv, 0.25);
    &[disabled] {
      cursor: default;
    }
  }
  .control-text {
    @include vr-spacing(mb, 1);
  }
}
