%aa-pm-vertical-line {
  position: relative;

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    content: '';
    transform: translateX(2rem);
    border-left: $aa-builder-border-size solid $aa-builder-border-color;
    height: 100%;
  }
}

.aa-phone-menu {
  min-width: vr-adjust(340);

  > .row:first-child {
    @include vr-spacing(mt, 0.5);
  }

  & select {
    color: $input-font-color;
    background-color: $color-white;
  }

  .panel {
    @include vr-spacing(m, 0);

    @include vr-spacing(pt, 1);
    @include vr-spacing(pl, .25);
    @include vr-spacing(pr, .25);
    @include vr-spacing(pb, 0);

    background-color: $gray-light-3;

    & ~ .panel {
      @include vr-spacing(mt, 0.5);
    }

    .aa-pm-vertical-line {
      @extend %aa-pm-vertical-line;
    }
  }

  & .select-list {
    .dropdown-menu {
      min-width: 100%;
      width: auto;
    }

    & .select-options > li > a {
      @include vr-spacing(pr, 1);
    }

  }

  & .select-toggle {
    width: 100%;
    max-width: vr-adjust(320);

    @include vr-spacing(pr, 1.75);

    & > i {
      &.icon {
        right: -0.25rem;
      }
    }
  }

  & .aa-trash-icon {
    padding-left: 0;
    padding-top: 0;
    top: 0.5rem;
  }

  & .aa-key-action {
    & .csSelect-container {
      @include vr-spacing(pt, 1);
    }

    & textarea {
      line-height: 1.25rem;
      width: 100%;
      @include vr-spacing(pt, .50);
      @include vr-spacing(pb, .50);
      @include vr-spacing(pl, .75);
      @include vr-spacing(pr, .75);
      resize: none;
    }

    & .control-label {;
      @include vr-spacing(pl, .25);
      @include vr-spacing(mt, .25);
      @include vr-spacing(mb, 0);
    }

    & form {
      @include vr-spacing(mb, 0);

      & .form-group {
        @include vr-spacing(mb, .25);
      }
    }
  }

  .aa-pm-timeout {
    @include vr-spacing(pb, 1);
  }

  .aa-pm-key-select, .aa-pm-action-select, .aa-sm-key-select, .aa-sm-action-select {
    & .select-options, & .dropdown-menu {
      height: inherit;
      max-height: inherit;
    }

    & .select-toggle {
      position: relative;
      z-index: 1;

      & > i {

        @include vr-spacing(mr, 0);

        @include vr-spacing(ml, -0.5);
      }
    }
  }

  .aa-pm-key-select, .aa-sm-key-select {
    & .select-toggle {
      @include vr-spacing(pl, 1.25);
      @include vr-spacing(pt, .5);
    }

    // selected option
    &:not(.not-selected) {
      a {
        &.select-toggle {
          color: $color-white;

          &:after {
            position: absolute;
            display: inline-block;
            content: " ";
            width: calc(1.75em + 1px);
            top: 0.2em;
            left: 0.8em;
            height: calc(1.75em + 1px);
            background-color: $color-cta-base;
            z-index: -1;

            @include radius(1em);
          }
        }
      }
    }
  }

  .aa-pm-add {
    @include vr-spacing(ml, .75);
    @include vr-spacing(mt, -0.25);

    .icon {
      @include vr-spacing(pr, 0.5);
      @include vr-spacing(pl, 0.25);

      vertical-align: middle;
      left: -1px;

      &:before {
        background-color: $gray-light-3;
      }

      font-size: 1.25rem;
    }
  }

  .aa-pm-primary-text {
    display: inline-block;

    @include vr-spacing(mb, 1);
  }

  .aa-pm-add-key-icon {
    &:before {
      line-height: 1rem;
      content: '+';
    }

    &.aa-pm-vertical-line {
      position: relative;

      &:after {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 1.05rem;

        @extend %aa-pm-vertical-line;
      }
    }


  }

  .control-label {
    @include vr-spacing(mv, 0.25);

    &[disabled] {
      cursor: default;
    }
  }

  .control-text {
    @include vr-spacing(mb, 1);
  }
}

.aa-pm-vertical-line {
  @include vr-spacing(pb, 1);

  &:nth-child(n+12) {
    @include vr-spacing(pb, 0);

    @include vr-spacing(mb, 1);
  }

  &.aa-pm-primary-text {
    @include vr-spacing(pb, 0);

    @include vr-spacing(mb, 1);
  }
}
