<three-dot-dropdown on-click-fn="$event.stopPropagation()">
  <li>
    <a href ng-click="$ctrl.modifyAutoAssignTemplate()" translate="userManage.org.moreOptions.modifyAutoAssign"></a>
  </li>
  <li>
    <a href
      ng-if="$ctrl.isTemplateActive"
      ng-click="$ctrl.deactivateAutoAssignTemplate()"
      translate="userManage.org.moreOptions.deactivateAutoAssign">
    </a>
    <a href
      ng-if="!$ctrl.isTemplateActive"
      ng-click="$ctrl.activateAutoAssignTemplate()"
      translate="userManage.org.moreOptions.activateAutoAssign"></a>
  </li>
  <li>
    <a href ng-click="$ctrl.deleteAutoAssignTemplate()" translate="userManage.org.moreOptions.deleteAutoAssign"></a>
  </li>
</three-dot-dropdown>
