<multi-step-modal
  l10n-title="ssoCertificateModal.updateCertificate"
  dismiss="$ctrl.dismissModal()"
  next="$ctrl.next()"
  next-disabled="$ctrl.nextDisabled"
  back="$ctrl.back()"
  >

  <div class="sso-certificate-content sso-certificate-content-certificate-type">
    <div class="sso-certificate-content__icon">
      <i class="icon icon-circle-check-mark-success icon-5x"></i>
    </div>
    <div class="sso-certificate-content__paragraph-question">
      <p>{{::'ssoCertificateModal.certificateType' | translate}}</p>
    </div>
    <div class="sso-certificate-content__radio cs-radio-group">
      <input cs-input type="radio"
              ng-model="$ctrl.certificateTypeValue"
              name="certificateRadio"
              ng-change="$ctrl.onCertificateTypeValueChanged()"
              id="multiple"
              ng-value="::$ctrl.certificateType.MULTIPLE"
              cs-input-label="{{:: 'ssoCertificateModal.multipleCertificates' | translate}}">
      <input cs-input type="radio"
              ng-model="$ctrl.certificateTypeValue"
              name="certificateRadio"
              ng-change="$ctrl.onCertificateTypeValueChanged()"
              id="single"
              ng-value="::$ctrl.certificateType.SINGLE"
              cs-input-label="{{:: 'ssoCertificateModal.singleCertificate' | translate}}">
    </div>
    <div class="sso-certificate-content__paragraph-action1"
          ng-if="$ctrl.certificateTypeValue === $ctrl.certificateType.SINGLE">
      <p>{{::'ssoCertificateModal.singleCertificateWarning' | translate}}</p>
    </div>
    <div class="sso-certificate-content__paragraph-action2"
          ng-if="$ctrl.certificateTypeValue === $ctrl.certificateType.SINGLE">
      <p>{{::'ssoCertificateModal.singleCertificateMessage' | translate}}</p>
    </div>
  </div>
</multi-step-modal>
