<span cs-dropdown class="actions-menu">
  <button cs-dropdown-toggle id="actionsButton" class="btn--none dropdown-toggle"
          ng-click="$event.stopPropagation()" ng-class="dropdown-toggle">
    <i class="icon icon-three-dots"></i>
  </button>
  <ul cs-dropdown-menu class="dropdown-menu dropdown-primary" role="menu" ng-class="">
    <li ng-if="row.entity.status === 'PENDING'">
      <a  ng-click="$event.stopPropagation(); grid.appScope.moveTo(row.entity, 'PROGRESS');">
        <span>Mark as in progress</span>
      </a>
    </li>

    <li ng-if="row.entity.status === 'PROGRESS'">
      <a ng-click="$event.stopPropagation(); grid.appScope.moveTo(row.entity, 'PENDING');">
        <span>Mark as pending</span>
      </a>
    </li>

    <li>
      <a ng-click="$event.stopPropagation(); grid.appScope.moveTo(row.entity, 'COMPLETED');">
        <span>Mark as completed </span>
      </a>
    </li>
  </ul>
</span>
