<cs-page-sub-header>
  <cs-page-sub-header-left>
    <cs-searchfilter placeholder-text="{{cbgsCtrl.placeholder}}" search-item-fn="cbgsCtrl.filterList(searchStr)"></cs-searchfilter>
  </cs-page-sub-header-left>
  <cs-page-sub-header-right>
    <div class="page-option-buttons">
      <div ng-if="!cbgsCtrl.exportLoading">
        <a class="export-users" ng-csv="cbgsCtrl.exportCSV()" filename="{{'gemini.cbgs.csvFilename' | translate}}">
          <button class="btn--none"><i class="icon icon-download icon-lg"></i></button>
        </a>
      </div>
      <div ng-if="cbgsCtrl.exportLoading" class="btn btn-none">
        <span class="export-lines">
          <i class="icon icon-spinner"></i>
        </span>
      </div>
    </div>

    <button class="btn btn--people" id="request" translate="gemini.cbgs.request.button" ng-click="cbgsCtrl.onRequest()"></button>
  </cs-page-sub-header-right>
</cs-page-sub-header>
<div id="cbgListPanel" class="gridStyle col-md-12" ui-grid="cbgsCtrl.gridOptions" gridscrollbar ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-infinite-scroll></div>
<div class="grid-refresh" ng-if="cbgsCtrl.gridRefresh">
  <i class="icon icon-spinner icon-3x"></i>
</div>
