.component-page {
  background-color: $white;

  .centered-info-pane {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    color: $gray-base;

    h2 {
      color: black;
    }

    h3 {
      color: $gray-base;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .gss-components-list {
    margin: 0 auto;
    padding: 2rem;
    line-height: 3rem;
    color: $gray-dark-4;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-base;
    }

    ul li {
      list-style-type: none;
      line-height: 2rem;
      color: $gray-base;
    }

    a {
      float: right;
      color: $color-primary-light;
      margin: auto 10px;
    }

    .icon {
      margin: auto 10px;
    }
  }

  .component-status-operational {
    color: $color-cta-base;
  }

  .component-status-degraded_performance {
    color: $color-negative-base;
  }

  .component-status-under_maintenance {
    color: $color-primary-base;
  }

  .component-status-partial_outage {
    color: $color-meetings-base;
  }

  .component-status-major_outage {
    color: $color-alerts-base;
  }

  .addComponentForm .columns.medium-4 {
    margin-top: 8px;
    text-align: right;
  }

  .addComponentForm .cancelCreateNewGroup {
    background: none;
    font-size: 0.8rem;
    color: $color-primary-base;
  }
}

.delete-component-page {
  @include vr_spacing(p, 3);

  p,
  input {
    font-size: 1rem;
    @include vr_spacing(mb, 1.25);
  }
}

.modal-content.small.add-component,
.modal-content.small.update-component {
  height: 320px;
}

.add-component-page .dropdown-menu .select-options {
  max-height: 160px;
}
