.componentPage {
  .centered-info-pane {
    background-color: $brand-white;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
    color: $gray-base;

    h2 {
      color: black;
    }
    h3 {
      color: $gray-base;
    }
    p {
      margin-bottom: 1rem;
    }
  }

  .gss-components {
    background-color: $brand-white;
  }
  .gss-components-list{
    margin: 0 auto;
    padding: 2rem;
    line-height: 3rem;
    color: $gray-dark-4;

  }
  .gss-components-list {
    margin: 0 auto;
    padding: 2rem;
    line-height: 3rem;
    color: $gray-dark-4;
    &:not(:last-child) {
      border-bottom: 1px solid $gray-base;
    }
    ul li {
      list-style-type: none;
      line-height: 2rem;
      color: $gray-base;
    }
    a {
      float: right;
      color: $color-primary-light;
      margin: auto 10px;
    }
    .icon {
      margin: auto 10px;
    }
  }
  
  .componentStatus-operational {
    color: $color-cta-base;
  }
  .componentStatus-degraded_performance {
    color: $color-negative-base;
  }
  .componentStatus-under_maintenance {
    color: $color-primary-base;
  }
  .componentStatus-partial_outage {
    color: $color-meetings-base;
  }
  .componentStatus-major_outage {
    color: $color-alerts-base;
  }

  .addComponentForm .columns.medium-4 {
    margin-top: 8px;
    text-align: right;
  }
  .addComponentForm .cancelCreateNewGroup {
    background: none;
    font-size: 0.8rem;
    color: $color-primary-base;
  }
}
