@import 'styles/toolkit/colors';
@import 'styles/toolkit/fonts';
@import 'styles/toolkit/overflow';

.user-management {
  top: 0px;
  right: -110%;
  display: inline-flex;
  height: 100%;
  position: absolute;
  z-index: 1000;
  width: 100%;
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &.preview {
    right: calc(-100% + 350px);

    &.details {
      right: -15px;
    }
  }
}

.badge-reposition {
  margin-top: 9px;
  margin-left: 2px;
}

.preview-panel {
  background-color: $brand-white;
  width: 350px;
  height: 100%;
  padding: 5px;
  position: relative;
  border-right: solid 1px $gray-dark;
  overflow-y: auto;

  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  div[class*='col-'] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .standard-card {
    border-bottom: solid 1px $gray-dark;
    padding: 20px 10px;

    .title {
      font-family: $font-family-sans-serif;
      font-size: 13px;
      font-weight: bold;
      color: $text-color;
      padding-left: 10px;
    }

    .sub-title {
      border-top: 1px solid $gray-lighter;
      padding-top: 10px;
      padding-left: 10px;
      margin-top: 10px;
    }

    .sub-title,
    .sub-title a {
      font-family: $brand-font-cisco-TT-Extra-Light;
      font-size: 15px;
      line-height: 25px;
      color: $text-color;
    }

    .sub-title a:hover {
      background-color: $gray-lighter;
      text-decoration: none;
    }

    .icon-arrow-next {
      font-size: 25px;
      line-height: 1;
      float: right;
    }

    .actions-button {
      padding-right: 0px;
      padding-bottom: 0px;
      line-height: 12px;
      color: $gray-darker;

      &:hover {
        color: $brand-primary;
      }
    }
  }

  .user-info-card {
    padding: 0 0 5px;

    div[class*='col-'] {
      padding-left: 5px;
      padding-right: 5px;
    }

    .user-img {
      height: 70px;
      width: 70px;
      margin-left: 5px;

      .icon {
        font-size: 60px;
        line-height: 65px;
        bottom: -10px;
      }
    }

    .cancel {
      font-size: 30px;
      padding-top: 20px;
      cursor: pointer;
      color: $gray-dark;
      text-align: right;

      .details & {
        display: none;
      }
    }

    .next-button {
      font-size: 40px;
      cursor: pointer;
      color: $gray-dark;
      text-align: right;
      padding-right: 10px;

      .details & {
        display: none;
      }
    }
  }

  .info-card-name {
    padding-top: 10px;

    .name-preview {
      @include text-overflow();
    }

    a {
      color: $text-color;
    }

    .user-name {
      color: $text-color;
      font-family: $brand-font-cisco-TT-Extra-Light;
      font-size: 24px;
      line-height: 1;
    }

    .user-title,
    .user-location {
      color: $gray-darker;
      font-family: $brand-font-cisco-TT-Extra-Light;
      font-size: 13px;
    }
  }

  .group-card {
    .group-type {
      color: $gray-darker;
      font-family: $brand-font-cisco-TT-Light;
      padding-left: 5px;
    }
  }

  .services-card {
    .title {
      padding-bottom: 10px;
    }

    .sub-service {
      font-family: $font-family-sans-serif;
      font-size: 13px;
      line-height: 25px;

      &:hover {
        text-decoration: none;
      }

      a {
        color: $gray-darker;
        height: 100%;
        width: 100%;
        text-decoration: none;

        .sub-service-title {
          border-radius: 20px;
          padding: 0 10px;
          transition: all 250ms ease-in-out;
        }

        .status,
        .usage {
          color: $gray-dark;
          font-size: 11px;
        }

        .status {
          float: right;
          height: 25px;
          margin-right: 10px;
        }

        .usage {
          margin-left: 5px;
        }

        &:active,
        &:focus {
          outline: none;
          box-shadow: none;
        }

        &:hover {
          .sub-service-title {
            color: $brand-primary;
            background-color: $gray-lighter;
          }

          .icon-arrow-next {
            color: $gray-darker;
          }

          .usage {
            color: $brand-primary;
          }
        }

        &.selected {
          .sub-service-title {
            color: $brand-white;
            background-color: $brand-primary;
          }

          .icon-arrow-next {
            color: $brand-primary;
          }

          .usage {
            color: $brand-primary;
          }
        }
      }
    }
  }
}

.user-entitlements-body {
  padding-left: 10px;
}

.outer-details-div {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: $body-bg;
  box-shadow: 0 0 0 3px $brand-shadow;
}

.user-license {
  margin: 5px;
}

[ui-view='editServices'] .modal-title {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
