@import 'modules/context/styles/_hybrid-context.scss';

.context-fieldsets-sidepanel {

  .field-list-item {
    text-align: left;
    padding: 10px 0px;
  }

  .field-label {
    font-family: inherit;
  }

  .field-list-item .column-one {
    float: left;
    width: 55%;
    line-height: 100%;
    font-size: 0.875rem;
    color: #6A6B6C;
    text-overflow: ellipsis;
    padding-left: 2%;
    white-space: nowrap;
    overflow: hidden;
  }

  .field-list-item .column-two {
    float: left;
    width: 45%;
    line-height: 100%;
    font-size: 0.875rem;
    text-overflow: ellipsis;
    padding-left: 4%;
    white-space: nowrap;
    overflow: hidden;
  }
}
