<div class="notification-button" ng-click="$ctrl.toggleDropdown($event)" ng-class="[{active: $ctrl.open, clickable: $ctrl.alarms.length > 0}, $ctrl.getNumberCSSClass()]">
  <div class="icon icon-bell"></div>
  <div class="notification-label" translate="hercules.notificationDropdown.label" translate-values="{number: $ctrl.alarms.length}" translate-interpolation="messageformat"></div>
</div>
<div class="notification-dropdown-container" ng-if="$ctrl.open">
  <ul class="notification-dropdown">
    <li class="notification-entry" ng-repeat="alarm in $ctrl.alarms">
      <div class="notification-entry-severity">
        <span class="badge" ng-class="$ctrl.getBadgeCSSClass(alarm.severity)">{{::'hercules.alarms.' + alarm.severity | translate}}</span>
      </div>
      <div class="notification-entry-details">
        <div class="notification-entry-title">{{::alarm.title}}</div>
        <div class="notification-entry-description">{{::alarm.description}}</div>
      </div>
    </li>
  </ul>
</div>
