.brandingExample-modal {

  padding-bottom: 30px;

  .icon-remove {
    float: right;
    color: #d7d7d8;
    font-size: 30px;
    cursor: pointer;
  }
  
  .rows {
    img {
      height: 253px;
      max-width: none;
    }
  }

  img {
    box-shadow: 0 0 10px #999;
  }

  .clear {
    clear: both;
  }

  .single-row{
    clear: both;
    margin-top: 20px;
  }

  .btn-wrap {
    text-align: right;
    margin: 20px 0;
  } 

}