.partner-profile {
  padding: 2rem 1.5rem;
  background: $white;

  .nav {
    float: left;
    margin-left: 50px;
  }

  .tab-content {
    float: left;
    padding-top: 3px;
    margin-left: 50px;
    background-color: transparent;
    border: none;
    max-width: 600px;
  }

  .form-group {
    .col-xs-12 {
      padding-left: 5px;
    }
  }

  .form-spacing {
    margin-top: 10px;
  }

  .title {
    h3 {
      margin-top: 0px;
    }
  }

  .support-row {
    h5 {
      margin-top: 0px;
    }
  }

  .add-link {
    margin-top: 10px;
  }

  .input-group {
    width: 100%;
  }

  .rep-info {
    display: block;
  }

  .support-row {
    border-bottom: $gray-light;
    border-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
  }

  .support-content {
    padding: 10px;
  }

  .custom-url {
    display: inline-flex;
    padding-right: 50px;
  }

  .grant-row {
    padding-top: 20px;
  }

  .description-url {
    padding-top: 20px;
    padding-left: 25px;
  }

  .radio-column {
    width: 10px;
    padding-right: 1rem;
  }

  .optional-row {
    margin-top: 10px;
  }

  .admin-options {
    display: block;

    .cs-radio {
      display: inline-block;
    }
  }

  .default-link-row {
    padding-top: 10px;
  }

  .input-row {
    padding-top: 5px;
  }

  .partner-link {
    display: block;
  }

  .partner-text {
    padding-bottom: 20px;
  }

  .form-section {
    padding-top: 40px;
  }

  .form-section-last {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .support-setup {
    margin-top: 50px;
  }

  .main-section {
    padding-top: 20px;
  }

  .left-btn {
    margin-right: 15px;
  }

  .cisco-rep-panel {
    margin-bottom: 40px;
  }

  .drop-box {
      padding: 5px;
      height: 150px;
      background-color: $brand-white;
      border: 1px solid $gray-light;
      border-radius: 3px;
      color: $gray-light;

      &.dragover {
        border-color: $brand-primary;
      }

      &.dragover-error {
        border-color: $brand-danger;
      }
    }

  .thumbnail {
    float: left;
    max-width: 50%;
    max-height: 100%;
  }
}
