.profile-state {
  @extend %page-background-white;
}

.profile {
  @extend %content-subheader;

  @extend %page-background-white;

  @extend %page-content-padding;

  & .profile-content-container {
    @include vr-spacing(ph, 1.5);

    @include vr-spacing(pt, 3.75);
  }
}

#webex_client_version_drop_down {
  padding-top: 10px;
}

#webex_client_versions_label_and_dropdown {
  padding-bottom: 12px;
}

.partner-profile {
  & label {
    @include vr-spacing(mb, 0.25);
  }

  & h5 {
    @include vr-spacing(pb, 0.5);
  }

  .icon-information {
    position: relative;
    top: rem-calc(3);
    color: $gray-light-1;
  }
  .icon-information:hover {
    color: $color-primary-base;
  }
  .tooltip-inner {
    max-width: 300px;
    text-align: left;
  }

  .radio-input-spacing {
    align-items: flex-start;

    &:before {
      margin-top: calc((#{$input-height-base} / 2) - 10px)
    }

    > input, .radio-input-flex {
      flex: 1;
    }
  }

  background: $white;

  & .form-section {
    @include vr-spacing(pb, 1);
  }

  &:first-child {
    @include vr-spacing(pb, 1);
  }

  .form-group {
    .col-xs-12 {
      padding-left: 5px;
    }
  }

  .form-spacing {
    @include vr-spacing(pb, 1);
  }

  .rep-info {
    display: block;
  }

  .grant-row {
    @include vr-spacing(pt, 1);
  }

  .optional-row {
    @include vr-spacing(mt, 0.5);
  }

  .cisco-rep-panel {
    @include vr-spacing(mb, 1);
  }

  .drop-box {
    display: inline-block;
    width: calc(100% - 2rem);

    @include vr-spacing(mb, 0.25);

    @include vr-spacing(p, 0.25);
    height: 150px;
    background-color: $brand-white;
    border: 1px solid $gray-light;
    border-radius: 3px;
    color: $gray-light;

    &.dragover {
      border-color: $brand-primary;
    }

    &.dragover-error {
      border-color: $brand-danger;
    }
  }

  .thumbnail {
    float: left;
    max-width: 50%;
    max-height: 100%;
  }
}
