<div class="upload-modal">
  <div class="modal-body">
    <div class="progressbar-info" ng-hide="logoError">
      <span ng-show="progress < 100" translate="fileUpload.uploading"></span>
      <span ng-show="progress == 100" translate="fileUpload.success"></span>
      <div class="upload-progress">
        <progressbar animate="false" value="progress" type="primary"></progressbar>
      </div>
    </div>
    <div ng-if="logoError === 'pattern'">
      <span class="upload-error" translate="fileUpload.errorFileType"></span>
      <span class="upload-error" translate="fileUpload.errorFilePNG"></span>
    </div>
    <div ng-if="logoError === 'dimensions'">
      <span class="upload-error" translate="fileUpload.errorDimensions"></span>
      <span class="upload-error" translate="fileUpload.errorWidthHeight"></span>
    </div>
    <div ng-if="logoError === 'unknown'">
      <span class="upload-error" translate="fileUpload.errorUnknown"></span>
    </div>
  </div>
  <div class="modal-footer" ng-show="logoError">
    <button class="btn btn--primary" ng-click="$dismiss()">Dismiss</button>
  </div>
</div>
