<div class="partner-profile">
  <!-- support form -->
  <form name="supportForm" novalidate>
    <div class="row">

    <!-- page title -->
      <div class="col-xs-10">
        <div class="page-title partner-page-title">
          <span class="title" translate="partnerProfile.title"></span>
        </div>
      </div>

      <!-- save / cancel button -->
      <div class="col-xs-2 save-button">
        <button id="savePartnerProfile" ng-click="init()" class="btn btn-default" ng-disabled="!supportForm.$dirty">
          <span translate="partnerProfile.cancel"></span>
        </button>
        <button id="savePartnerProfile" ng-click="validation()" class="btn btn-primary" ng-disabled="!supportForm.$dirty">
          <span translate="partnerProfile.save"></span>
        </button>
      </div>
    </div>

    <!-- company name / account number -->
    <div class="row">
      <div class="col-xs-12">
        <h2 translate="partnerProfile.companyInfo"></h2>
        <div class="input-group">
          <div class="row">
            <div class="col-xs-12 col-md-4 form-group">
              <h4 translate="partnerProfile.name"></h4>
              <input class="form-control" name ="test2" type="text" ng-model="companyName" disabled="true">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4 form-spacing">
              <h4 translate="partnerProfile.id"></h4>
              <input class="form-control" type="text" disabled="true">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- cisco rep -->
    <div class="row">
      <div class="col-xs-12 form-section">
        <h2 ng-if="isPartner" translate="partnerProfile.ciscoRep"></h2>
        <h2 ng-if="!isPartner" translate="customerProfile.supportContacts"></h2>
        <div class="form-spacing">
          <h3 ng-if="!isPartner" translate="partnerProfile.ciscoRep"></h3>
            <span class="rep-info">{{rep.name | translate}}</span>
            <span class="rep-info">{{rep.phone | translate}}</span>
            <span class="rep-info">{{rep.email | translate}}</span>

          <!-- grant cisco access checkbox -->
          <div class="row grant-row">
            <div class="col-xs-12">
              <cs-checkbox id="ckbox1" ng-model="cb.checkboxValue0" cklabel="{{grant | translate}}"></cs-checkbox>
            </div>
          </div>

          <div ng-if="!isPartner && partner">
            <h3 translate="customerProfile.partnerAdmin"></h3>
              <span class="rep-info">{{partner.name.givenName | translate}} {{partner.name.familyName | translate}}</span>
              <span class="rep-info">{{partner.displayName | translate}}</span>
              <span class="rep-info">{{partner.userName | translate}}</span>
            </div>
        </div>
      </div>
    </div>

    <!-- support title / description -->
    <div class="row">
      <div class="col-xs-7">
        <h2 translate="partnerProfile.supportTitle"></h2>
        <div class="form-spacing">
          <span ng-if="!isPartner" translate="customerProfile.supportInfo"></span>
          <span ng-if="isPartner" translate="partnerProfile.supportInfo"></span>
          <a href="/#">
            <span translate="partnerProfile.seeExample"></span>
          </a>
          <span ng-if="isPartner" translate="partnerProfile.lifeCycle"></span>
        </div>
      </div>
    </div>

    <!-- trouble ticket reporting location form -->
    <div class="row">
      <div class="col-xs-12">
        <h3 translate="partnerProfile.supportSetup"></h3>
          <span ng-if="isPartner" translate="partnerProfile.enterReports"></span>
        <!-- partner problem reporting site form -->
        <div class="row optional-row">
          <div class="col-xs-7">
            <div class="row">
              <div class="col-xs-2 radio-column">
                <input type="radio" name="collabRadio3" id="collabRadio3" value="0" ng-model="problemSiteRadioValue" >
                <span id="collabRadioLabel2" class="onboard-radio" ng-click="setProblemRadio(0)">{{collabRadio2.label}}</span>
              </div>
              <div class="col-xs-10 default-link-row">
                <div class="partner-link">
                  <a ng-if="!isPartner" href="/#">
                    <span translate="partnerProfile.partnerProblem"></span>
                  </a>
                </div>
                  <span ng-if="isPartner" translate="partnerProfile.ciscoProblem"></span>
                  <div class="partner-text">
                    <span ng-if="!isPartner">{{partnerProvidedText | translate}}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- trouble reporting site url -->
    <div class="row" ng-click="setProblemRadio(1)">
      <div class="col-xs-12 col-md-7">
        <div class="row">
          <div class="col-xs-2 radio-column">
            <input type="radio" name="collabRadio" id="collabRadio2" value="1" ng-model="problemSiteRadioValue" >
            <span id="collabRadioLabel2" class="onboard-radio">{{collabRadio2.label}}</span>
          </div>
          <div class="col-xs-10">
            <div class="input-group" >
              <input type="text" class="form-control" placeholder="{{troubleUrl | translate}}" ng-model="supportUrl">
              <input type="text" class="form-control optional-row" placeholder="{{troubleText | translate}}" ng-model="supportText">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <!-- <div class="col-xs-12 col-md-3 description-url"> -->
        <span translate="partnerProfile.matchingTix"></span>
        <span translate="partnerProfile.matchingDescr"></span>
        <span translate="partnerProfile.forExample"></span>
      </div>
    </div>

    <!-- help / faq url -->
    <div class="row">
      <div class="col-xs-7 form-section-last">
        <h3 translate="partnerProfile.helpFaq"></h3>
          <span ng-if="isPartner" translate="partnerProfile.enterHelp"></span>
        <!-- partner help site form -->
        <div class="row optional-row">
          <div class="col-xs-2 radio-column">
            <input type="radio" value="0" ng-model="helpSiteRadioValue" >
            <span id="collabRadioLabel2" class="onboard-radio" ng-click="setHelpRadio(0)">{{collabRadio2.label}}</span>
          </div>
          <div class="col-xs-10 default-link-row">
            <a href="/#">
              <span ng-if="!isPartner" translate="partnerProfile.partnerHelp"></span>
              <span ng-if="isPartner" translate="partnerProfile.ciscoHelp"></span>
            </a>

          </div>
        </div>
        <!-- help site url form -->
        <div class="row" ng-click="setHelpRadio(1)">
          <div class="col-xs-2 radio-column">
            <input type="radio" value="1" ng-model="helpSiteRadioValue" >
            <span id="collabRadioLabel2" class="onboard-radio">{{collabRadio2.label}}</span>
          </div>
          <div class="col-xs-10">
             <div class="input-group">
              <input type="text" name="testForm" class="form-control" placeholder="{{helpUrlText | translate}}" ng-model="helpUrl" required>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
      </div>
    </div>
  </form>
</div>
