/**********************************************
 *  TODO:
 *  These styles need to be moved to the proper
 *  module or eliminated if they are overriding
 *  Toolkit styles
 **********************************************/

.btnAdd {
  padding: 2px 40px;
  margin-right: 10px;
}

.btn-profile-grp {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.btn-profile {
  width: 70%;
  height: 60px;
}

.panel {
  // border-radius: 7px;
  -moz-border-radius: 7px;
  margin-bottom: 30px;
  margin-top: 30px;
}

th {
  font-weight: bold;
  color: #474745;
  border-bottom: none;
  background-color: #EBEBEB;
  i {
    color: #9A9A9A;
  }
}

td {
  font-size: 15px;
  color: #3B3A36;
  &.text-center {
    color: #4BB72B;
  }
}

table th,
.table td {
  // border-top: none;
}

.preview-user-table {
  width: 64%;
  margin-top: 50px;
}

.panel-title {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  margin-left: 5px;
}

.panel-title-default {
  color: #777777;
}

.panel-heading {
  padding: 15px;
}

.panel-heading-default {
  background-color: #EBEBEB;
}

.panel-body {
  padding: 20px;
}

label {
  margin-bottom: 10px;
}

#logout-btn,
#feedback-btn {
  &:hover {
    cursor: pointer;
    background-color: #EBEBEB;
  }
  //padding-left: 5px;
  text-decoration: none;
}

[ng\:cloak],
[ng-cloak],
.ng-cloak {
  display: none;
}

.refresh-button {
  float: left;
  padding-top: 7px;
  padding-left: 7px;
}

.invalid {
  background-color: #f2efef !important;
  color: #555;
  .close {
    color: #555;
    &:hover {
      color: #555;
    }
  }
}

.close {
  color: white;
  opacity: 0.7;
  &:hover {
    color: white;
    opacity: 1.0;
  }
}

.alert {
  margin-right: 30px;
  margin-left: 30px;
}

#icon-search {
  position: absolute;
  top: 18px;
  right: 306px;
  opacity: 0.6;
}

.container-fluid {
  //padding-left: 50px;
  //padding-right: 50px;
}

.pagination {
  margin-left: 38%;
  li a {
    padding: 11px 20px;
    font-size: 15px;
    color: #595959;
    &:hover {
      cursor: pointer;
    }
  }
}


/******** Login *********************/

.input-auth {
  width: 40%;
}


/****** Header and Navigation ********/

.refresh-div {
  float: left;
}

.entitle-btn-grp {
  width: 300px;
  display: inline-block;
}

.entitle-check-grp {
  margin-bottom: 0px;
  margin-top: 0px;
}

.entitle-btn {
  padding: 5px 10px;
  color: #ffffff;
  background-color: #ffffff;
}

.dialog-subtitle {
  margin-bottom: 15px;
}

.setting-bar {
  padding: 15px;
  right: 0px;
  float: right;
  position: absolute;
}

.setting-menu {
  left: -98px;
  top: 35px;
}

.btn-group {
  padding-right: 9px;
}

.profile-tools-panel {
  position: relative;
  float: right;
  width: 280px;
}

.profile-logo {
  float: left;
  position: absolute;
  left: 30px;
  top: 80px;
}

.profile-form {
  left: 130px;
  position: relative;
}

.profile-input {
  width: 400px;
  display: inline-block;
}

.profile-text-input {
  padding-bottom: 15px;
  padding-top: 15px;
  width: 500px;
}

td a {
  color: #3B3A36;
  cursor: pointer;
  &:hover {
    color: #3B3A36;
  }
}

.activate-error {
  color: #ff0000;
  font-weight: bold;
}


.center {
  text-align: center;
}

#geb-wrapper {
  display: inline-block;
}

#btncover {
  position: absolute;
  width: 164px;
  height: 40px;
}

.au-refresh,
.calls-refresh,
.convo-refresh,
.share-refresh {
  position: absolute;
  top: 85px;
  left: 25px;
  width: 50px;
  font-size: 8px;
  z-index: 1;
  text-align: center;
}

.org-panel {
  width: 750px;
}

.tab-panel {
  width: 160px;
  float: left;
  padding: 10px;
  a {
    cursor: pointer;
  }
}


/* Twitter typeahead styling */

.tt-query,
.tt-hint {
  padding: 8px 12px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-style: normal !important;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999;
}

.tt-dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.tt-input {}

.twitter-typeahead {
  width: 99%;
}

.circle-icon-green {
  color: #00CC66;
  float: right;
  position: relative;
  right: 20px;
  top: 2px;
}

.circle-icon-red {
  color: red;
  float: right;
  position: relative;
  right: 20px;
  top: 2px;
}

.circle-icon-yellow {
  color: yellow;
  float: right;
  position: relative;
  right: 20px;
  top: 2px;
}

.home-setup {
  width: 380px;
  height: 275px;
  border: solid 1px #c0c0c0;
  text-align: center;
  margin: 15px;
  position: absolute;
  left: -30px;
  padding: 10px;
}

.home-setup-adv {
  width: 380px;
  height: 275px;
  position: relative;
  left: 368px;
  top: 15px;
  border: solid 1px #c0c0c0;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.home-setup-panel {
  position: relative;
  top: 150px;
  text-align: center;
  left: 15px;
}

.home-setup-button {
  bottom: 30px;
  position: absolute;
  left: 265px;
}

#details-table {
  .tab-pane {
    background-color: #F8F8F8;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }
  .tabbable li.active {
    background-color: #F8F8F8;
    border: 0;
    a {
      background-color: #F8F8F8;
      border-bottom-color: #F8F8F8;
    }
  }
}

.form-profile-grp {
  margin-right: 20px;
  margin-bottom: 5px;
}

.icheckbox_square-blue {
  background-color: white;
}

.add-user-close {
  margin-right: 10px;
  position: relative;
}

.welcome-message {
  margin-right: 315px;
}

.narrow-button {
  height: 30px;
}

#fileToUploadTextHolder {
  position: absolute;
  opacity: 0.01;
  -moz-opacity: 0.01;
  filter: alpha(opacity=0);
  display: inline;
  cursor: pointer;
  width: 162px;
  height: 31px;
}

#fileToUploadBtnHolder {
  position: absolute;
  opacity: 0.01;
  -moz-opacity: 0.01;
  filter: alpha(opacity=0);
  display: inline;
  cursor: pointer;
  width: 91px;
  height: 35px;
  z-index: 1;
}

input[type="file"]::-webkit-file-upload-button{
  cursor: pointer;
}

.fileholder {
  width: 250px;
}

#importIdpBtn {
  min-width: 100px;
}

#importCancelBtn,
#importNextBtn,
#exportCancelBtn,
#exportBackBtn,
#exportNextBtn,
#testssoCancelBtn,
#testssoBackBtn,
#testssoNextBtn,
#enablessoCancelBtn,
#enablessoBackBtn,
#enablessoFinishBtn,
#syncNowBtn,
#domainCancelBtn,
#domainNextBtn,
#installCancelBtn,
#installBackBtn,
#installNextBtn,
#synchCancelBtn,
#synchBackBtn,
#synchFinishBtn {
  min-width: 100px;
  bottom: 50px;
}

.ssoNavBtns {
  position: absolute;
  bottom: 75px;
}

#ssoModalBody {
  min-height: 400px;
}

#yourDomainDiv,
#installDiv,
#connectionDiv,
#synchDiv,
#groupDiv {
  margin-top: 30px;
  margin-left: 40px;
}

#numUsers {
  margin-left: 60px;
}

#domainDesc {
  margin-left: 60px;
  margin-top: 10px;
  color: gray;
}

.dirsync-refresh-button {
  float: right;
  margin-right: 75px;
}

.subheading {
  margin-right: 10px;
}

.installStep,
#userResults {
  margin-bottom: 10px;
}

.boldText {
  font-weight: bold;
}

.ssoDesc:after,
#importFileDiv:after,
#ssoFooter:after {
  content: '\000A\000A';
  white-space: pre-wrap;
}

.ftwConfigSSO:before {
  content: '\000A';
  white-space: pre-wrap;
}

.dialog-header-confirm {
  background-color: #333333;
}

.room-panel {
  width: 500px;
}

.close {
  color: black;
}

.dirgridStyle {
  margin-top: 10px;
  width: 450px;
  height: 180px;
  border: 1px solid lightgray;
  & >:nth-child(2) {
    overflow-x: hidden;
  }
}

/************ Initial Setup ************/

.initial-setup {
  width: 1270px;
  height: 500px;
  position: relative;
  top: 50px;
  padding: 10px;
}

.initial-setup-panel {
  width: 1250px;
  height: inherit;
  position: relative;
}

.initial-setup-sidebar {
  border: solid 1px #c0c0c0;
  position: relative;
  width: 295px;
  height: inherit;
  padding: 10px;
}

.initial-setup-body {
  position: relative;
  top: -500px;
  left: 300px;
  width: 950px;
  height: inherit;
  padding: 10px;
}

.initialSetupTabs {
  border: solid 1px #c0c0c0;
  position: relative;
  height: 50px;
  margin: -10px;
}

.initialSetupTab {
  position: relative;
  min-width: 100px;
  padding: 5px;
  margin: 5px;
  height: 38px;
  float: left;
  text-align: center;
}

.initialSetupContent {
  position: relative;
  padding: 10px;
  height: 340px;
  margin: -10px;
}

.initialSetupNavBtns {
  position: absolute;
  padding: 33px;
  padding-left: 170px;
  height: 100px;
  bottom: -150px;
  width: 908px;
}

.initialSetupAddUserNavBtns {
  position: absolute;
  padding: 33px;
  padding-left: 170px;
  height: 100px;
  bottom: -100px;
  width: 908px;
}

.tabHighlight {
  background-color: #1b95bb;
  color: white;
  a.ftwTabLink {
    color: white;
  }
  a.ftwNavLink {
    color: white;
  }
}

a.ftwTabLink {
  color: black;
}

a:hover.ftwTabLink {
  color: #1883a4;
}

a:active.ftwTabLink {
  color: white;
}

.ftwNavLink {
  font-size: 25px;
}

a.ftwNavLink {
  color: black;
}

a:hover.ftwNavLink {
  color: #1883a4;
}

a:active.ftwNavLink {
  color: white;
}

.syncradio {
  margin-right: 10px !important;
  margin-left: 40px !important;
}

.choosesyncOpts:after,
.initialSetupContent:before {
  content: '\000A\000A';
  white-space: pre-wrap;
}



.syncStatusText {
  margin-left: 170px;
  width: 550px;
  height: 30px;
}



#syncNumUsers {
  margin-left: 230px;
}

.ftwCenterContent {
  margin-left: 170px;
}

.initialSetupNav {
  position: relative;
  min-width: 263px;
  padding: 5px;
  margin: 5px;
  height: 38px;
  float: left;
  text-align: left;
}

#userslist .icon-check {
  font-size: 24px;
}


.modal-bar {
  height: 6px;
}

.warning-bar {
  background-color: $progress-bar-warning-bg;
}

.danger-bar {
  background-color: $progress-bar-danger-bg;
}

.success-bar {
  background-color: $progress-bar-success-bg;
}

.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.header-text {
  opacity: 1;
  font-size: 32px;
  font-family: 'CiscoSansTT Extra Light', 'Cisco_Toolkit_Icons';
  color: #444;
  -webkit-font-smoothing: antialiased;
}

.cancel-color {
  color: #666;
}

.cancel-color:hover {
  color: black;
}

.row-spacing {
  margin-top: 2%;
  margin-bottom: 9%;
}

.modal-trials-header {
  padding: 20px;
  border-bottom: 0px;
  background-color: #FFF;
}

.modal-options {
  font-weight: bold;
  font-size: 14px;
  font-family: Arial;
  float: right;
  padding-top: 5px;
}

.modal-card {
  background-color: #F3F3F6;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #444 !important;
}

.modal-form-control {
  width: 8em;
  padding-left: 5px;
}

.modal-trials-body {
  padding-top: 0px;
}

.modal-trials-footer {
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 20px;
  border-top: 0px;
}

.ellipsis-trials {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
}


.users-edit-modal {
  right: 20px;
  top: -50px;
  position: absolute;
}

.edit-header {
  padding-bottom: 50px;
}

.license-count-modal {
  position: absolute;
  right: 20px;
  font-family: 'CiscoSansTT Light';
  font-size: 24px;
  color: #444;
  top: -20px;
}

.license-count-first-modal {
  color: #FF1300 !important;
}

.nav > li:focus,
.nav > li:active,
.nav > li.active {
  z-index: 90;
}

.edit-modal-info {
  padding-bottom: 28px;
}

.modal-body-white {
  padding-right: 0;
  padding-left: 0;
  background-color: $brand-white;
}

.modal-addtrial-dialog .modal-dialog {
  width: 636px;
}

.processorder-text {
  font-family: "HelveticaNeue-Light";
  font-size: 25px;
  color: #797979;
  padding-top: 29px;
}

.dummy-data-message {
  font-size: 46px;
  color: #ccc;
  font-family: "CiscoSansTT Thin";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.entitle-preview-grp {
  margin-bottom: 20px;
  margin-top: 10px;
  .ciscoCheckbox {
    margin-bottom: 0px;
  }
  .indentedCheckbox {
    margin-left: 27px;
  }
}

// TODO: remove when toolkit is updated
.ngViewport {
  overflow: inherit;
}


.profile-path {
  left: 20px;
  position: relative;
}

.profile-title {
  position: relative;
  left: 65px;
}

.report-status-partner {
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 180px;
  float: left;
}

//process order (create org) page
.process-order-div {
  padding-top: 300px;
  text-align: center;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#languageSelector {
  color: #3B3A36;
  width: 12rem;
  padding: 0.5rem rem-calc(14);
  background: white;
  height: 2rem;
  appearance: button;
  user-select: none;
  background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMDAiIHdpZHRoPSIxNTkzLjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEwMTYuNCAzNzEuM2MtMTQuNy0xNC41LTM4LjUtMTQuNS01My4yLS4xTDgwMS4zIDUzMC4zIDY0MS4xIDM3MC41Yy0xNC42LTE0LjYtMzguMy0xNC41LTUyLjguMWwtLjUuNGMtMTQuNSAxNC42LTE0LjUgMzguMyAwIDUzbDIxNC40IDIxNi40TDEwMTYuNyA0MjRjMTQuNS0xNC42IDE0LjMtMzguMi0uNC01Mi43eiIvPjwvc3ZnPg==);
  background-size: 30px 30px;
  background-position: 100% center;
  background-repeat: no-repeat;
  border-radius: $global-radius;
}

.hidden-button {
  background-color: #ff00ff;
  cursor: pointer;
  width: 100px;
  display: none;
}

.reports-page-title {
  padding-left: 0px !important;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.reports-sync {
  display: flex;
  align-items: flex-end;
}

.reports-customer-dropdown {
  left: auto;
  right: 0px;
}

.btn--white {
  background-color: white !important;
  color: #888 !important;
  border: 1px solid #ccc !important;
}

.btn--white:active,
.btn--white:focus,
.btn--white:hover {
  background-color: white !important;
  color: #888 !important;
  border: 1px solid #3086BA !important;
}

.modal-title {
  span {
    font-size: inherit;
  }
}
