@import './variables';
@import '~collab-ui/scss/collab-ui';
@import '~ng-tags-input/build/ng-tags-input.css';

// ******** Variables **********

// ******* Variables & Mixins **************
@import './partials/variables';
@import './partials/mixins';

// ******* Resets & Globals **********
@import './partials/common';
@import './unsupported';

/**************************************************
 *  TODO: Styles in the _temp.scss file should be
 *  moved to the correct module where they belong
 *************************************************/
@import './temp';

/*************************************
 *      Modules Style imports
 ************************************/
@import '../modules/huron/styles/huron';
@import '../modules/hercules/styles/hercules';
@import '../modules/ediscovery/styles/ediscovery';
@import '../modules/mediafusion/styles/mediafusion';
@import '../modules/hds/hds';
@import '../modules/services-overview/services-overview';
@import '../modules/webex/styles/webex';
@import '../modules/sunlight/styles/sunlight';
@import '../modules/messenger/styles/messenger';
@import '../modules/gemini/style/gemini';
@import '../modules/gss/styles/gss';
