@import '../../bower_components/cisco-ui/scss/cisco-ui';

$fa-font-path: "../fonts";

@import "../../bower_components/font-awesome/scss/font-awesome";

// ******** Variables **********
// @brand-font-folder: '../bower_components/bootstrap-cisco/fonts';
// @icon-font-path: '../bower_components/bootstrap-cisco/fonts/';

// ******* Variables & Mixins **************
@import 'partials/variables';
@import 'partials/mixins';

// ******* Resets & Globals **********
@import 'partials/common';
@import 'unsupported';

/**************************************************
 *  TODO: Styles in the _temp.scss file should be
 *  moved to the correct module where they belong
 *************************************************/
@import 'temp';

/*************************************
 *      Modules Style imports
 ************************************/
@import '../modules/core/styles/core';
@import '../modules/huron/styles/huron';
@import '../modules/hercules/styles/hercules';
@import '../modules/squared/styles/squared';
@import '../modules/mediafusion/styles/mediafusion';
@import '../modules/webex/styles/webex';
@import '../modules/sunlight/styles/sunlight';
@import '../modules/messenger/styles/messenger';
@import '../modules/digitalRiver/styles/digitalRiver';