<setting-section setting="$ctrl.videoQuality" class="needs-border-top">
  <div class="sub-section">
    <h5 class="sub-section__label" translate="mediaFusion.videoQuality.title"></h5>
    <p class="sub-section__description" translate="mediaFusion.videoQuality.description"></p>
    <cs-toggle-switch ng-model="$ctrl.enableVideoQuality" ng-click="$ctrl.setEnableVideoQuality()"
      toggle-id="toggleEnableVideoQuality" name="toggleEnableVideoQuality" size="small" 
      >
    </cs-toggle-switch>
  </div>
</setting-section>
