<cs-sp-section class="hybrid-services-user-sidepanel">

  <div class="section-title-row">
    <span class="section-name"
          translate="hercules.hybridCallServiceTestCallTool.header"></span>
  </div>
  <div class="hybrid-service-description"
       translate="hercules.hybridCallServiceTestCallTool.description">
  </div>
  <div>
    <button class="btn"
            translate="hercules.hybridCallServiceTestCallTool.testCallButton"
            ng-click="$ctrl.openTool()"></button>
  </div>

</cs-sp-section>
