<div style="padding:50px;">
	<h1>New Incident</h1>

	<div style="margin-bottom:20px;">
		<h3>Incident Name</h3>
		<input style="width:100%;" placeholder="Incident Name" type="text" name="input" ng-model="newIncident.name" required ng-trim="false">
	</div>

	<div style="margin-bottom:20px;">
		<h3>Incident Status</h3>
		<label style="display:inline-block;margin-right:20px;">
	    	<input type="radio" ng-model="newIncident.status" value="investigating" style="position:inherit;margin:inherit;width:inherit;height:inherit;">
	    	Investigating
	  	</label>
	  	<label style="display:inline-block;margin-right:20px;">
	    	<input type="radio" ng-model="newIncident.status" value="identified" style="position:inherit;margin:inherit;width:inherit;height:inherit;">
	    	Identified
	  	</label>
	  	<label style="display:inline-block;margin-right:20px;">
	    	<input type="radio" ng-model="newIncident.status" value="monitoring" style="position:inherit;margin:inherit;width:inherit;height:inherit;">
	    	Monitoring
	  	</label>
	  	<label style="display:inline-block;margin-right:20px;">
	    	<input type="radio" ng-model="newIncident.status" value="resolved" style="position:inherit;margin:inherit;width:inherit;height:inherit;">
	    	Resolved
	  	</label>
	</div>

	<div style="margin-bottom:20px;">
		<h3>Message</h3>
		<textarea style="width:100%;" ng-model="newIncident.msg" placeholder="Message"></textarea>
	</div>

	<input style="" class="btn btn--primary" type="button" value="CREAT INCIDENT" ng-click="CreateIncident()">
</div>
