.metrics-list {
  .metrics-table {
    .metrics-title {
      color: $gray-dark;
    }
  }
  .metrics-search {
    padding: 0 0 0 0;
    .metrics-input {
      height: 40px;
      width: 200px;
      margin: 15px 0 0 0;
      float: right;
    }
    .metrics-btn {
      height: 40px;
      float: left;
      margin: 15px 0 0 0;
      background-color: $brand-white;
      border: 1px solid rgb(212, 212, 212);
      .metrics-btn-search {
        color: $gray-dark;
        font-size: 30px
      }
    }
  }
}
