<div class="row">
  <div ng-show="ucDevices.otps[0]">
    <div class="activation-code">
      <div ng-repeat="otp in ucDevices.otps">
        <div translate="usersPreview.activationCodeTitle"></div>
        <div class="activation-code-expires">
          {{'usersPreview.expires' | translate}}:  {{otp.friendlyExpiresOn}}
        </div>
        <button class="btn btn--people" ui-sref="generateauthcode({currentUser: currentUser, activationCode: otp})">{{otp.friendlyCode}}</button>
      </div>
    </div>
  </div>
  <div class="dir-number-list col-md-12">
    <div ng-if="ucDevices.showGenerateOtpButton">
      <div class="generate-activation-code" translate="usersPreview.generateActivationCodeText"></div>
      <button class="btn btn--people generate-activation-code-button" ui-sref="generateauthcode({currentUser: currentUser, activationCode: 'new'})" translate="usersPreview.generateActivationCode"></button>
    </div>
    <div ng-if="ucDevices.devices[0]" class="device-list-divider">
      <div ng-repeat="device in ucDevices.devices track by device.uuid" class="dir-number sub-service">
        <a href id="{{device.uuid}}" ui-sref-active="selected" ui-sref="users.list.preview.device({device: device.uuid})" ng-click="ucDevices.showDeviceDetailPanel(device)">
          <span class="icon icon-spinner" ng-if="device.deviceStatus.progressStatus"></span>
          <span class="default-status" ng-class="{'online-status': device.deviceStatus.status == 'Online'}" ng-if="!device.deviceStatus.progressStatus"></span>
          <span class="number sub-service-title">{{device.model}}</span>
          <i class="icon icon-arrow-next pull-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>