<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"><span class="sr-only">close</span></button>
  <h3 class="modal-title" translate="generateActivationCodeModal.title"></h3>
</div>
<div class="modal-body generate-activation-code">
  <div class="loading" ng-if="!genAuthCode.otp.code">
    <i class="icon icon-spinner"></i>
  </div>
  <div id="printActivationCode" ng-if="genAuthCode.otp.code" class="device-wizard view-activation-code">
    <h4 translate="addDeviceWizard.showActivationCode.activationCode"></h4>
    <p class="wizardDescription">
      <span translate="generateActivationCodeModal.activateBody" translate-values="{ belongsTo: genAuthCode.userName }"></span>
    </p>

    <div class="qrCodeSection">
      <img class="qrCodeImage" data-ng-src="data:image/JPEG;base64,{{genAuthCode.qrCode}}">

      <div class="activation-code">
        <h2>
            {{genAuthCode.otp.friendlyCode}}
        </h2>
      </div>
      <p class="expiryTime" translate="generateActivationCodeModal.expires" translate-values="{date: genAuthCode.otp.friendlyExpiresOn}"></p>

      <div class="qrCodeButtons">
        <a class="" ngclipboard data-clipboard-text="{{::genAuthCode.otp.friendlyCode}}" ngclipboard-error="genAuthCode.clipboardFallback()"><span translate="generateActivationCodeModal.copyToClipboard"></span></a>
        <a class="qrCodeRightButton" cr-print print-element-id="printActivationCode" translate="generateActivationCodeModal.print"></a>
        <a class="qrCodeRightButton" ng-disabled="genAuthCode.showEmail" ng-click="genAuthCode.activateEmail()" translate="generateActivationCodeModal.emailCode"></a>
      </div>

      <div class="sendEmailWrapper" ng-if="genAuthCode.showEmail">
        <div class="sendEmailForm">
          <div class="typeahead-group userSearch">
            <input type="email" id="to" class="underline userInput" ng-model="genAuthCode.email.to"><a class="sendMailArrow"  ng-click="genAuthCode.sendActivationCodeEmail()"><i class="icon icon-send-email"></i></a>
          </div>
          <div class="scrollSpace"></div>
        </div>
      </div>
    </div>

  </div>
</div>
