.connector-status-yellow {
	color: $brand-warning;
}

.connector-align-ellipses {
	margin: 1px;
}

.overview .header .alarms {
  padding-top: 5px;
  display: block;
}

.mediafusion-fix-paragraphs {
  p {
    margin-bottom: 1rem;
  }
}