<div ng-show="serviceEnabled">
  <div id="fusion-root">
    <!-- header -->
     <cs-page-header title="{{::'mediaFusion.page_title' | translate}}"></cs-page-header>
    <cs-page-sub-header>
      <cs-page-sub-header-right ng-hide="shouldShowWelcomeScreen()">
        <button class="btn btn--primary" ng-click="showInfoPanel = !showInfoPanel">
          <i class="fa fa-info" />
        </button>
      </cs-page-sub-header-right>
    </cs-page-sub-header>
    <!-- content -->
    <div class="row">
      <div class="col-sm-12">
        <!-- loader -->
        <div ng-show="loading || pollHasFailed" style="text-align: center; padding-top: 60px;">
          <p ng-show="pollHasFailed">{{'mediaFusion.disconnect' | translate}}</p>
          <i class="icon icon-spinner icon-2x"></i>
        </div>
        <div ng-show="!loading && !pollHasFailed" style="padding-bottom: 60px">
          <mediafusion-dashboard-info-panel></mediafusion-dashboard-info-panel>
          <mediafusion-dashboard-header></mediafusion-dashboard-header>
          <div ng-show="clusters.length != 0">
            <div class="container-fluid grid" style="margin-right: -30px;">
              <div class="row">
                <B>
              <div class="col-sm-2 col-xs-1">
                {{'mediaFusion.name' | translate}}
              </div>
              <div class="col-sm-2 col-xs-1">
                {{'mediaFusion.ipAddr' | translate}}
              </div>
              <div class="col-sm-1 col-xs-1">
                {{'mediaFusion.status' | translate}}
              </div>
              <div class="col-sm-2 col-xs-1">
                {{'mediaFusion.cluster' | translate}}
              </div>
              <div class="col-sm-3 col-xs-3">
                {{'mediaFusion.role' | translate}}
              </div>
              <div class="col-sm-2 col-xs-1">
                {{'mediaFusion.actions' | translate}}
              </div>
            </B>
              </div>
              <div class="row" ng-repeat="cluster in clusters" ng-click="showConnectorsDetails(cluster)">
                <div class="col-sm-2 col-xs-1" style="overflow: hidden">
                  {{cluster.name}}
                </div>
                <div class="col-sm-2 col-xs-1" style="overflow: hidden">
                  {{cluster.hosts[0].host_name}}
                </div>
                <div class="col-sm-1 col-xs-1" style="overflow: hidden">
                  <span ng-show="cluster.needs_attention" class="red">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">{{'mediaFusion.offline' | translate}} </span>
                  </span>
                  <span ng-show="!cluster.needs_attention &&  !cluster.alarms_present" class="green">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">{{'mediaFusion.active' | translate}} </span>
                  </span>
                  <span ng-show="!cluster.needs_attention &&  cluster.alarms_present" class="yellow">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">{{'mediaFusion.active' | translate}} </span>
                  </span>
                </div>
                <div class="col-sm-2 col-xs-1" style="overflow: hidden">
                  {{cluster.properties["mf.group.displayName"]}}&nbsp;
                </div>
                <div class="col-sm-3 col-xs-3" style="overflow: hidden">
                  {{cluster.properties["mf.role"]}}&nbsp;
                </div>
                <div class="col-sm-1 col-xs-1">
                  <span cs-dropdown class="actions-menu">
                  <button cs-dropdown-toggle id="actionsButton" type="button" class="btn--none btn--none dropdown-toggle" ng-class="dropdown-toggle" ng-click="$event.stopPropagation()">
                    <i class="icon icon-three-dots"></i>
                  </button>
                  <div class="dropdown" class="connector-align-ellipses">

                    <ul cs-dropdown-menu class="dropdown-menu dropdown-primary" role="menu">
                      <li id="deleteConnectorAction">
                          <a data-toggle="modal" data-target="#deleteConnectorModal" ng-click="setDeregisterConnector(cluster.id, cluster.hosts[0].host_name)">
                            <span translate="mediaFusion.defuseConnector"></span>
                  </a>
                  </li>
                  </ul>
                </div>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-show="clusters.length == 0">
        <h3 style="text-align: center; padding: 20px 0; color: #ccc">
            {{'mediaFusion.noCluster' | translate}}
          </h3>
      </div>
    </div>
  </div>
</div>
<!-- Delete Room Modal -->
<div class="modal fade" id="deleteConnectorModal" tabindex="-1" role="dialog" aria-labelledby="deleteRoomTitle" aria-hidden="true">
  <div class="modal-dialog delete-connector-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button id="connector-modal-close" type="button" class="close" ng-click="cancelDelete()" data-dismiss="modal">
          <span class="sr-only">{{'mediaFusion.close' | translate}} </span>
        </button>
        <div class="modal-title">
          <span class="h3" translate="mediaFusion.confirmDefuse"></span>
        </div>
      </div>
      <div class="modal-body toast-error icon-inverse">
        <p>
          <div translate="mediaFusion.defuseText"></div>
        </p>
      </div>
      <div class="modal-footer">
        <button id="cancelButton" class="btn" ng-click="cancelDelete()" data-dismiss="modal">
          <span translate="mediaFusion.cancel"></span>
        </button>
        <button id="deleteButton" class="btn toast-error icon-inverse" ng-click="defuseConnector(deleteClusterId)" data-dismiss="modal">
          <span translate="mediaFusion.yesDefuse"></span>
        </button>
      </div>
    </div>
  </div>
</div>
</div>
<div ng-show="!loading && !serviceEnabled">
  <div class="hercules">
    <div class="centered-info-pane full-height">
      <div ng-include src="'modules/mediafusion/mediafusion-connector/activate-media-service.html'"></div>
    </div>
  </div>
</div>
<div ng-show="loading">
  <div class="hercules">
    <div class="centered-info-pane full-height">
      <i class="icon icon-spinner icon-2x"></i>
      <p>Loading, please wait...</p>
    </div>
  </div>
</div>
