<div ng-form="contactEmailForm">
  <label class="sub-section__label" translate="common.email"></label>
  <div class="row">
    <input
      cs-input
      type="email"
      name="email"
      ng-model="$ctrl.email"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
      ng-change="$ctrl.onEmailChanged()"
      placeholder="{{'common.email' | translate}}"
      cs-input-messages="$ctrl.messages"
      cs-input-group-size="medium-6"
      required>
  </div>
</div>