<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<div id="webDiv" ng-show="Utils.isWeb()">

<div id="provisionSuccess" ng-show="result.provisionSuccess">
	<p>You successfully link {{deviceName}} to Squared!</p>

	<p>You can now start using Squared on your mobile device to securely communicate with your work contacts.</p>

	<p>If you want to use Squared on desktop, you can <a ng-href="{{webClientURL}}">Sign-up here</a> using the same email address, for security reasons, you’ll be prompt to create a password for web access.</p>

	<p id="androidDownload" ng-show="androidDownload">If you have an Android device you can download <a ng-href="{{androidURL}}">Squared client on Google Play.</a></p>

	<p id="iosDownload" ng-show="iosDownload">If you have an iOS device you can download <a ng-href="{{iPhoneURL}}">Squared client on iPhone App Store</a></p>

</div>

<div id="codeExpired" ng-show="result.codeExpired">
	<p class="activate-error">The link/code to activate {{deviceName}} to Squared has expired!</p>

	<p>You can request a new code to activate Squared on {{deviceName}} for {{userEmail}} account by clicking on the link below:</p>

	<div id="sendCodeLink" class="btn-link pull-left" ng-click="resendCode()">Send me a new activation code</div>

</div>

<div id="resendSuccess" ng-show="result.resendSuccess">
	<p>A new confirmation code has been sent to your work email address: {{userEmail}}</p>
	<p>Please use this last code we sent you to activate Squared.</p>

	<div id="testdata" eqp={{eqp}}>

</div>

<div id="exception" ng-show="result.errmsg">
  <br>
	<p>Unexpected error processing request. {{result.errmsg}}</p>
</div>

</div>
