<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<div class="messagebox-backdrop">
  <div class="message-box">
    <section class="message-box__content">
      <i class="message-box__icon icon-circle-check"></i>
      <h3 class="message-box__title message-box__title--success" translate="downloadPage.active"></h3>
      <h5 id="account" class="message-box__details">
        {{'downloadPage.thank' | translate}} {{'downloadPage.account' | translate: tlData}}
      </h5>
      <span id="iosTxt" ng-show="Utils.isIPhone()">
        <h5 class="message-box__details">{{'downloadPage.install' | translate}} <a ng-href="{{iPhoneURL}}">{{'downloadPage.link' | translate}}</a></h5>
      </span>
      <span id="androidTxt" ng-show="Utils.isAndroid()">
        <h5 class="message-box__details">{{'downloadPage.install' | translate}} <a ng-href="{{androidURL}}">{{'downloadPage.link' | translate}}</a></h5>
      </span>
      <span id="webTxt" ng-show="Utils.isWeb()">
        <h5 class="message-box__details">{{'downloadPage.using' | translate}} <a ng-href="{{webClientURL}}"> {{'downloadPage.squared' | translate}}</a></h5>
      </span>
      <h5 class="message-box__details" id="sendStatus" mailStatus='{{sendStatus}}'></h5>
    </section>
  </div>
  <div class="messagebox-backdrop__footer">
    <i class="icon icon-cisco-logo"></i>
    <div class="body-smallest">
      <a href="http://www.ciscospark.com/terms-of-service.html" target="_blank" translate="loginPage.tos"></a> | <a href="http://www.cisco.com/web/siteassets/legal/privacy.html" target="_blank" translate="loginPage.privacy"></a>
      <span
        translate="loginPage.copyright"
        translate-value-year="2018">
      </span>
    </div>
  </div>
</div>
