<div class="overview-title">
	<div style="float:left">
		<h3 translate="homePage.overview"></h3>
	</div>
	<div ng-click="manualReload()" class="overview-updated" id="time-click-div">
		<reload-data id="homeRefreshData" last-updated-time="homeRefreshTime">
		</reload-data>
	</div>
</div>
<div style="position:relative;">
	
	<div style="position:absolute;">
		<div class="overview-top">
			<div style="position:absolute">
				<i class="fa fa-user fa-2x"></i>
			</div>
			<div class="overview-top-content">
				<span translate="homePage.activeUsers"></span>
			</div>
		</div>
		<div class="overview-bottom" id="au-content">
			<span class="overview-values" ng-show="showAUContent">{{activeUserCount}}</span>
		</div>
		<div id="au-refresh" class="au-refresh" ng-show="showAURefresh"></div>
	</div>

	<div style="position:absolute; left:259px">
		<div class="overview-top">
			<div style="position:absolute">
				<i class="fa fa-phone fa-2x"></i>
			</div>
			<div class="overview-top-content">
				<span translate="homePage.calls"></span>
			</div>
		</div>
		<div class="overview-bottom" id="calls-content">
			<span class="overview-values" ng-show="showCallsContent">{{callsCount}}</span>
		</div>
		<div id="calls-refresh" class="calls-refresh" ng-show="showCallsRefresh"></div>
	</div>

	<div style="position:absolute; left:518px">
		<div class="overview-top">
			<div style="position:absolute">
				<i class="fa fa-comments-o fa-2x"></i>
			</div>
			<div class="overview-top-content">
				<span translate="homePage.conversations"></span>
			</div>
		</div>
		<div class="overview-bottom" id="convo-content">
			<span class="overview-values" ng-show="showConvoContent">{{convoCount}}</span>
		</div>
		<div id="convo-refresh" class="convo-refresh" ng-show="showConvoRefresh"></div>
	</div>

	<div style="position:absolute; left:777px">
		<div class="overview-top">
			<div style="position:absolute">
				<i class="fa fa-pencil-square-o fa-2x"></i>
			</div>
			<div class="overview-top-content">
				<span translate="homePage.contentShare"></span>
			</div>
		</div>
		<div class="overview-bottom" id="share-content">
			<span class="overview-values" ng-show="showShareContent">{{cShareCount}}</span><span ng-show="showShareContent"> GB</span>
		</div>
		<div id="share-refresh" class="share-refresh" ng-show="showShareRefresh"></div>
	</div>

</div>

<div style="position:relative; top:140px">
	<div>
		<h3 translate="homePage.activity"></h3>
	</div>
	<div id="activeUsersChart"></div>
	<div id="au-graph-refresh" class="au-graph-refresh" ng-show="showAUGraphRefresh"></div>
</div>

<div class="monitoring-panel">
	<a ng-href="{{statusPageUrl}}" target="_blank">
		<div class="monitoring-cell">
			<h3 translate="homePage.monitoring"></h3>
		</div>
		<div ng-repeat="health in healthMetrics">
			<div class="monitoring-cell" id="{{health.name}}">
				<span>{{health.name}}</span> <i ng-class="{true:'fa fa-circle circle-icon-green', false:'fa fa-circle circle-icon-red'}[health.status==='operational']"></i>
			</div>
		</div>
	</a>
</div>

<div class="home-setup-panel" ng-show="isAdmin">
	<div class="home-setup">
			<h3 translate="homePage.quickSetup"></h3>
			<br>
			<span translate="homePage.quickProv"></span>
			<button id="btnQuickSetup" class="btn btn-primary home-setup-button" translate="homePage.launchBtn" ng-click="inviteUsers()"></button>
	</div>

	<div class="home-setup-adv">
			<h3 translate="homePage.advSetup"></h3>
			<br>
			<span translate="homePage.advProv"></span>
			<button id="btnAdvSetup" class="btn btn-primary home-setup-button" translate="homePage.launchBtn"></button>
	</div>
</div>



