<div class="reports-container">
  <div class="row">
    <div class="small-12 columns">
      <div class="page-title reports-page-title small-12 columns">
        <div class="reports-sync small-12 medium-6 columns">
          <h2 class="title-heading">{{'reportsPage.pageTitle' | translate}}</h2>
          <div ng-click="reloadReports(false)" class="overview-updated" id="reports-click-div">
            <cr-reload-data id="reportsRefreshData" last-updated-time="refreshTime">
            </cr-reload-data>
          </div>
        </div>
        <div class="small-12 medium-6 columns" dropdown is-open="db.isOpen">
          <button id="customerDropdown" type="button" class="btn btn--white dropdown-toggle right" ng-disabled="db.disabled">
          <span>{{currentSelection | translate}}</span><span class="caret"></span>
          </button>
          <ul class="dropdown-menu reports-customer-dropdown" role="menu">
            <li ng-click="reloadReports(true)"><a href="#"><span translate="reports.allCustomers"></span></a></li>
            <li class="divider"></li>
            <li ng-repeat="orgs in totalOrgsData" ng-click="getCustomerReports(true, orgs)"><a href="#">{{orgs.customerName}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
    <div class="all-reports columns small-12 medium-6">
      <div id="avgEntitlementsdiv" class="timechartDiv"></div>
      <div id="avg-entitlements-refresh" class="metrics-refresh" ng-show="isRefresh('entitlements')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="activeUsersdiv" class="timechartDiv"></div>
      <div id="active-users-refresh" class="metrics-refresh" ng-show="isRefresh('activeUsers')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="avgConversationsdiv" class="timechartDiv"></div>
      <div id="avg-conversations-refresh" class="metrics-refresh" ng-show="isRefresh('avgConversations')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="avgCallsdiv" class="timechartDiv"></div>
      <div id="avg-calls-refresh" class="metrics-refresh" ng-show="isRefresh('avgCalls')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="convOneOnOnediv" class="timechartDiv"></div>
      <div id="conv-one-on-one-refresh" class="metrics-refresh" ng-show="isRefresh('convOneOnOne')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="convGroupdiv" class="timechartDiv"></div>
      <div id="conv-group-refresh" class="metrics-refresh" ng-show="isRefresh('convGroup')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="callsdiv" class="timechartDiv"></div>
      <div id="calls-refresh" class="metrics-refresh" ng-show="isRefresh('calls')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="callsAvgDurationdiv" class="timechartDiv"></div>
      <div id="calls-avg-duration-refresh" class="metrics-refresh" ng-show="isRefresh('callsAvgDuration')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="contentShareddiv" class="timechartDiv"></div>
      <div id="content-shared-refresh" class="metrics-refresh" ng-show="isRefresh('contentShared')"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="contentShareSizesdiv" class="timechartDiv"></div>
      <div id="content-share-sizes-refresh" class="metrics-refresh" ng-show="isRefresh('contentShareSizes')"><i class='icon icon-spinner icon-2x'/></div>
  </div>
</div>