<div>
	<div>
		<p translate="createOrgPage.addAdminEmailText" class="createorg-desc"></p>
	  <input class="form-control createorg-desc createorg-textbox" name="adminEmail" ng-model="adminEmail" type="text" id="adminEmail" required></input>
	</div>
  <button id="createOrgButton" type="button" class="btn btn-primary btn-lg createorg-btn" ng-click="createOrg(accountId, adminEmail)" ng-disabled="!accountId.length || !adminEmail.length" data-loading-text="<i class='icon icon-spinner'></i>">
  <span translate="createOrgPage.create"></span>
  </button>
</div>