<div class="process-order-div" ng-if="isProcessing">
	<i class='icon icon-spinner icon-2x'></i>
	<p class="processorder-text"><span translate="processOrderPage.wait"></span></p>
</div>

<!--TODO: redo modal dialogue conforming to angularjs conventions -->
<div class="modal fade" id="processOrderErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" modal-transclude="">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">
            <span translate="processOrderPage.info"></span>
        </h3>
      </div>
      <div class="modal-body">
        <span translate="processOrderPage.errOrgCreation"></span>
      </div>
      <div class="modal-footer">
        <button id="deleteButton" class="btn btn--primary" data-dismiss="modal">
          <span translate="common.ok"></span>
        </button>
      </div>
    </div>
  </div>
</div>