<!-- This is the modal for the entitlement window -->
<div class="modal-header dialog-header-confirm">
  <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-label="{{::'common.close' | translate}}"></button>
  <h4 class="modal-title"><span class="glyphicon glyphicon-edit"></span> {{'inviteModal.title' | translate}}</h4>
</div>

<div class="modal-body">
  <h5 class="dialog-subtitle" translate="inviteModal.heading"></h5>
  <div>
    <span translate="inviteModal.content"></span>
  </div>

  <div class="entitle-check-grp">
    <div class="btn-group" id="chk_invite">
      <input type="checkbox" name="inviteAll" ng-model="inviteAll" ng-change="toggleButton()" icheck>
    </div>
    <span style="font-size:15px; padding:10px" translate="inviteModal.inviteAll"></span>
  </div>

</div>


<div class="modal-footer">
  <button id="btnQuickSetupAction" type="button" class="btn btn--primary" ng-click="doAction()">{{buttonLabel}}</button>
</div>
