<div class="reports">
  <div class="row">
    <div ng-click="manualReload(false)" class="overview-updated" id="reports-click-div">
      <cr-reload-data id="reportsRefreshData" last-updated-time="reportsRefreshTime">
      </cr-reload-data>
    </div>
  </div>
  <div class="row onboarding-row">
    <div id="onboardingFunnelDiv" class="timechartDiv"></div>
      <div id="onboarding-funnel-refresh" class="metrics-refresh" ng-show="showOnboardingFunnelRefresh"><i class='icon icon-spinner icon-2x'/></div>
  </div>
  <div class="row" ng-show="false">
    <div class="all-reports col-sm-6">
      <div id="avgEntitlementsdiv" class="timechartDiv"></div>
      <div id="avg-entitlements-refresh" class="metrics-refresh" ng-show="showAvgEntitlementsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports col-sm-6">
      <div id="avgCallsdiv" class="timechartDiv"></div>
      <div id="avg-calls-refresh" class="metrics-refresh" ng-show="showAvgCallsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row">
    <div class ="all-reports col-sm-6">
      <div id="avgConversationsdiv" class="timechartDiv"></div>
      <div id="avg-conversations-refresh" class="metrics-refresh" ng-show="showAvgConversationsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports col-sm-6">
      <div id="activeUsersdiv" class="timechartDiv"></div>
      <div id="active-users-refresh" class="metrics-refresh" ng-show="showActiveUsersRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row">
    <div class ="all-reports col-sm-6">
      <div id="convOneOnOnediv" class="timechartDiv"></div>
      <div id="conv-one-on-one-refresh" class="metrics-refresh" ng-show="showConvOneOnOneRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports col-sm-6">
      <div id="convGroupdiv" class="timechartDiv"></div>
      <div id="conv-group-refresh" class="metrics-refresh" ng-show="showConvGroupRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row">
    <div class ="all-reports col-sm-6">
      <div id="callsdiv" class="timechartDiv"></div>
      <div id="calls-refresh" class="metrics-refresh" ng-show="showCallsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports col-sm-6">
      <div id="callsAvgDurationdiv" class="timechartDiv"></div>
      <div id="calls-avg-duration-refresh" class="metrics-refresh" ng-show="showCallsAvgDurationRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row">
    <div class ="all-reports col-sm-6">
      <div id="contentShareddiv" class="timechartDiv"></div>
      <div id="content-shared-refresh" class="metrics-refresh" ng-show="showContentSharedRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports col-sm-6">
      <div id="contentShareSizesdiv" class="timechartDiv"></div>
      <div id="content-share-sizes-refresh" class="metrics-refresh" ng-show="showContentShareSizesRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
</div>
