<div class="small-12 columns">
  <div class="row">
    <div ng-click="manualReload(false)" class="overview-updated columns small-12" id="reports-click-div">
      <cr-reload-data id="reportsRefreshData" last-updated-time="reportsRefreshTime" ng-if="!showWebexReports">
      </cr-reload-data>
    </div>
  </div>
  <!-- dont show if there is only one option, aka if webex does not show -->
<cs-page-header id="reportsPanel" title="repPageHeader_pageTitle" back="repPageHeader_back" tabs="repPageHeader_tabs"></cs-page-header>

  <div class="row" ng-show="showEngagement">
    <div class="all-reports columns small-12">
      <div id="onboardingFunnelDiv" class="timechartDiv"></div>
      <div id="onboarding-funnel-refresh" class="metrics-refresh" ng-show="showOnboardingFunnelRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row" ng-show="false">
    <div class="all-reports columns small-12 medium-6">
      <div id="avgEntitlementsdiv" class="timechartDiv"></div>
      <div id="avg-entitlements-refresh" class="metrics-refresh" ng-show="showAvgEntitlementsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="avgCallsdiv" class="timechartDiv"></div>
      <div id="avg-calls-refresh" class="metrics-refresh" ng-show="showAvgCallsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row" ng-show="showEngagement">
    <div class ="all-reports columns small-12 medium-6">
      <div id="avgConversationsdiv" class="timechartDiv"></div>
      <div id="avg-conversations-refresh" class="metrics-refresh" ng-show="showAvgConversationsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="activeUsersdiv" class="timechartDiv"></div>
      <div id="active-users-refresh" class="metrics-refresh" ng-show="showActiveUsersRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row" ng-show="showEngagement">
    <div class ="all-reports columns small-12 medium-6">
      <div id="convOneOnOnediv" class="timechartDiv"></div>
      <div id="conv-one-on-one-refresh" class="metrics-refresh" ng-show="showConvOneOnOneRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="convGroupdiv" class="timechartDiv"></div>
      <div id="conv-group-refresh" class="metrics-refresh" ng-show="showConvGroupRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row" ng-show="showEngagement">
    <div class ="all-reports columns small-12 medium-6">
      <div id="callsdiv" class="timechartDiv"></div>
      <div id="calls-refresh" class="metrics-refresh" ng-show="showCallsRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="callsAvgDurationdiv" class="timechartDiv"></div>
      <div id="calls-avg-duration-refresh" class="metrics-refresh" ng-show="showCallsAvgDurationRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>
  <div class="row" ng-show="showEngagement">
    <div class ="all-reports columns small-12 medium-6">
      <div id="contentShareddiv" class="timechartDiv"></div>
      <div id="content-shared-refresh" class="metrics-refresh" ng-show="showContentSharedRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
    <div class ="all-reports columns small-12 medium-6">
      <div id="contentShareSizesdiv" class="timechartDiv"></div>
      <div id="content-share-sizes-refresh" class="metrics-refresh" ng-show="showContentShareSizesRefresh"><i class='icon icon-spinner icon-2x'/></div>
    </div>
  </div>

  <!-- WebEx reports content -->
  <div ng-show="showWebexReports">
    <!-- webex siteUrl dropdown list -->
    <div class="row"  
         ng-show="webexOptions.length > 1" >
         
      <div class="large-4 columns">
        <cs-select ng-model="webexSelected" 
                   options="webexOptions" 
                   on-change-fn="updateWebexReports()" >
        </cs-select>
      </div>
    </div>

    <!-- webex site reports index -->
    <div ng-include="'modules/webex/siteReports/siteReports.tpl.html'"></div>
  </div>
</div>
