<div class="notification"></div>
<div>
  <div style="position: absolute;">
    <span class="user-title">{{'spacesPage.title' | translate}}</span>
  </div>
  <div class="user-option-buttons" ng-show="Utils.isAdminPage()">
    <div id="userOptions" style="position: absolute;">
      <button id="addUsers" class="btn btn-success narrow-button" data-toggle="modal" data-target="#addRoomDialog">
        <span translate="usersPage.add"></span>
      </button>
    </div>
    <div class="user-options-bar">
      <button class="btn btn-default narrow-button dropdown-toggle" type="button" id="userMoreOptions" data-toggle="dropdown">
        {{'usersPage.moreOptions' | translate}}
        <span class="caret"></span>
      </button>
    </div>
  </div>
</div>
<div>
  <div class="gridStyle" ng-grid="gridOptions"></div>
</div>
  <div class="modal fade" id="addRoomDialog" tabindex="-1" role="dialog" aria-labelledby="addRoomTitle" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">
              <i class="fa fa-times"></i>
            </span>
          </button>
          <h3 class="modal-title" id="addRoomTitle" translate="spacesPage.modalTitle"></h3>
        </div>
        <div class="modal-body">
          <input class="form-control profile-input" name="roomName" ng-model="newRoomName" type="text" id="newRoom" required></input>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" ng-click="addRoom()" data-dismiss="modal" ng-disabled="!newRoomName.length">
            <span translate="usersPage.add"></span>
          </button>
          <div id="btnCancel" class="btn btn-link pull-right" ng-click="clearRoom()">
            <span translate="usersPage.clear"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>




