<div class="notification"></div>
<div class="panel panel-default">
    <div class="panel-heading panel-heading-default">
      <div id="listLogs">
        <h3 class="panel-title panel-title-default">
          <strong id="subtitleLogs" translate="supportPage.subtitleLogs"></strong>
        </h3>
      </div>
    </div>

    <div class="panel-body">
      <form role="form">
        <div class="form-group">
          <br/>
          <input class="form-control typeahead" type="text" id="logsearchfield" placeholder=''/> 
          <br>
       </div>

       <div class="form-group">
        <button id="logSearchBtn" class="btn btn-primary pull-right" ng-click="getLogs()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="supportPage.listlogsbtn"></span></button>
      </div>
    </form>
  </div>
</div>

<div class="panel panel-default"  id="logs-panel">
    <div id="userSupport">
      <div class="panel-heading panel-heading-default">
        <h3 class="panel-title panel-title-default">
          <strong id="listSupportItems">{{'supportPage.userLogs' | translate }}</strong>
        </h3>
      </div>

      <div class="panel-body">
        <label ng-show="userLogs.length === 0 || !userLogs"><span id="noResults" translate="supportPage.noResults"></label>
        <table class="table" ng-show="userLogs">
          <thead>
            <tr>
              <th nowrap ng-click="toggleSort('emailAddress', 'sortIconEmailAddress')"><span id="emailAddressHeading" translate="supportPage.logEmailAddress"></span> <i class="fa {{sortIconEmailAddress}}"></i></th>
              <th nowrap ng-click="toggleSort('locusId', 'sortIconLocusId')"><span id="locusIdHeading" translate="supportPage.logLocusId"></span> <i class="fa {{sortIconLocusId}}"></i></th>
              <th nowrap ng-click="toggleSort('callStart', 'sortIconCallStart')"><span id="callStartHeading" translate="supportPage.logCallStart"></span> <i class="fa {{sortIconCallStart}}"></i></th>
              <th nowrap ng-click="toggleSort('date', 'sortIconDate')"><span id="dateHeading" translate="supportPage.logDate"></span> <i class="fa {{sortIconDate}}"></i></th>
              <th nowrap><span translate="supportPage.logAction"></span></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="log in userLogs | orderBy:logsSortBy:reverseLogs">
              <td>{{log.emailAddress}}</td>
              <td>{{log.locusId}}</td>
              <td>{{log.callStart}}</td>
              <td>{{formatDate(log.date)}}</td>
              <td class="center"><a ng-click="downloadLog(log.fullFilename)"><span id="download-icon"><i class="fa fa-download"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
