<div id="notifyPartnerSuccess" ng-show="result.success">
	<p><span translate="trialExtInterest.thank"></span></p>
	<p><span translate="trialExtInterest.notifyPartnerSuccessMsg"></span></p>
</div>

<div id="notifyPartnerBadLink" ng-show="result.badLink">
	<p class="activate-error"><span translate="trialExtInterest.invalidLink"></span></p>
</div>

<div id="notifyPartnerFailure" ng-show="result.error">
  <br>
	<p><span translate="trialExtInterest.error"></span></p>
	<p><span translate="trialExtInterest.notifyPartnerErrorMsg"></span></p> 
</div>