<h3 class="profile-path">
    <a href ng-click="gotoPath('/users')"><span id="usertab" translate="tabs.userTab"></span></a> / {{user.displayName}}
  </h3>
  <br>
<div class="admin profile-panel" ng-init="init()">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading panel-users">
        <div id="userProfile">
          <h3 class="panel-title users-title profile-title">
            <strong id="subTitleAdd" translate="profilePage.userDetails"></strong>
          </h3>
        </div>
      </div>

      <div class="panel-body">
        <form role="form">
          <div>

            <div class="profile-logo" ng-hide="photoPath">
              <i class="icon icon-user icon-5x"></i>
            </div>
            <div class="profile-logo"  ng-show="photoPath">
              <img src="{{photoPath}}"></img>
            </div>

            <div class="profile-form">

              <div class="form-group profile-text-input">
                <label for="firstName" style="width: 150px;" translate="profilePage.fname"></label>
                <input class="form-control profile-input" type="text" id="fnameField" ng-model="user.name.givenName" value="{{user.name.givenName}}"/>
              </div>

              <div class="form-group profile-text-input">
                <label for="lastName" style="width: 150px;" translate="profilePage.lname"></label>
                <input class="form-control profile-input" type="text" id="lnameField" ng-model="user.name.familyName" value="{{user.name.familyName}}"/>
              </div>

              <div class="form-group profile-text-input">
                <label for="displayName" style="width: 150px;" translate="profilePage.display"></label>
                <input class="form-control profile-input" type="text" id="displayField" ng-model="user.displayName" value="{{user.displayName}}"/>
              </div>

              <div class="form-group profile-text-input">
                <label for="email" style="width: 150px;" translate="profilePage.email"></label>
                <input class="form-control profile-input" type="text" id="emailField" value="{{user.userName}}" disabled/>
              </div>

              <div class="form-group profile-text-input">
                <label for="org" style="width: 150px;" translate="profilePage.org"></label>
                <input class="form-control profile-input" type="text" id="orgField" value="{{orgName}}" disabled/>
              </div>

              <div class="form-group profile-text-input">
                <label for="title" style="width: 150px;" translate="profilePage.title"></label>
                <input class="form-control profile-input" type="text" id="titleField" ng-model="user.title" value="{{user.title}}"/>
              </div>

              <div class="form-group profile-text-input">
                <label for="modDate" style="width: 150px;" translate="profilePage.modDate"></label>
                <input class="form-control profile-input" type="text" id="modDateField" value="{{user.meta.lastModified}}" disabled/>
              </div>

            </div>
            <div>
              <button id="btn-save" cs-btn loading="btn_saveLoad" class="btn btn--primary pull-right" ng-click="updateUser()"><span translate="profilePage.save"></span></button>
            </div>

          </div>
        </div>
      </form>
    </div>
  </div>
</div>
