.aa-dial-by-ext-invalid-timeout {
  min-width: vr-adjust(340);

  @include vr-spacing(ml, 0);
  @include vr-spacing(pl, 0);
  @include vr-spacing(mr, 0);
  @include vr-spacing(pr, 0);

  .panel {
    @include vr-spacing(m, 0);

    @include vr-spacing(pt, 1);
    @include vr-spacing(pl, 0);
    @include vr-spacing(pr, .5);
    @include vr-spacing(pb, .75);

    background-color: $gray-light-3;

    & ~ .panel {
      @include vr-spacing(mt, 0.5);
    }
  
    & .control-label {;
      @include vr-spacing(pl, .5);
      
      @include vr-spacing(mt, .25);
      @include vr-spacing(ml, .5);
      @include vr-spacing(mr, .25);
      @include vr-spacing(mb, 0);
    }

    .aa-pm-timeout {
      @include vr-spacing(pb, 0);
      @include vr-spacing(pr, .5);
    }
   
  }

}


.aa-dial-by-message-panel {
  width: 100%;
  @include vr-spacing(mt, 1);
  @include vr-spacing(mb, 0);

  & .aa-dial-by-message-textarea {
    @include vr-spacing(mb, 1);
    @include vr-spacing(ml, 0);
    @include vr-spacing(mr, 0);

    line-height: 1.25rem;
    @include vr-spacing(pt, .75);
    @include vr-spacing(pb, .75);
    @include vr-spacing(pl, .75); 
    @include vr-spacing(pr, .75); 
    resize: none;
  }


  & .aa-dial-by-message-select-list {
    @include vr-spacing(mb, .5);
 
    .select-toggle {
      width: 100%;
      @include vr-spacing(pr, 1.75);
    }
    .select-toggle > i {
      @include vr-spacing(mr, 0);
      @include vr-spacing(ml, -0.5);
    }
    .dropdown-menu {
      width: 100%;
    }

  }

}
