.aa-routing-text-dropdown {
    width: 50%;
  }

.aa-phonemenu-helptext {
    font-style: italic;
    color: $gray-light-1;
  }

.aa-dial-by-message-panel {
  width: 100%;

  @include vr-spacing(mt, 1);
  @include vr-spacing(mb, 0);

  @media all and (min-width: 25rem) {
    width: 21.5rem;
  }

  .aa-dial-by-message-textarea {
    line-height: 1.25rem;

    @include vr-spacing(mb, 1);
    @include vr-spacing(ml, 0);
    @include vr-spacing(mr, 0);
    @include vr-spacing(pt, 0.75);
    @include vr-spacing(pb, 0.75);
    @include vr-spacing(pl, 0.75);
    @include vr-spacing(pr, 0.75);

    resize: none;
  }

  .aa-routing-prefix-text {
    @include vr-spacing(mt, 1);
  }

  .aa-helptext {
    @include vr-spacing(mb, 4);
    @include vr-spacing(pl, 2);
    font-style: italic;
  }

  .aa-subtext {
    @include vr-spacing(mt, -0.5);
    @include vr-spacing(pl, 0);
    @include vr-spacing(mb, 0.75);
    color: $gray-light-1;
    font-style: italic;
  }

  .aa-dial-by-message-select-list {
    @include vr-spacing(mb, 0.5);

    .select-toggle {
      width: 100%;

      @include vr-spacing(pr, 1.75);
    }

    .select-toggle > i {
      @include vr-spacing(mr, 0);
      @include vr-spacing(ml, -0.5);
    }

    .dropdown-menu {
      width: 100%;
    }
  }

  .panel {
    @include vr-spacing(m, 0);
    @include vr-spacing(pt, 1);
    @include vr-spacing(pl, 0.25);
    @include vr-spacing(pr, 0.25);
    @include vr-spacing(pb, 0);

    background-color: $gray-light-3;

    ~ .panel {
      @include vr-spacing(mt, 0.5);
    }

    .control-label {
      @include vr-spacing(pv, 0.25);
    }

    .aa-pm-timeout {
      @include vr-spacing(pb, 1);
    }
  }
}
