<div ng-if="aaDialByExtCtrl.isTextOnly" id="dialByTextOnly">
  <label class= 'control-label' for="dialByMessageInput{{ schedule + index + keyIndex}}" translate="{{ :: aaDialByExtCtrl.getMessageLabel() }}"></label>
    <textarea aa-key="$index" ng-keypress="aaDialByExtCtrl.keyPress($event)" ng-change="aaDialByExtCtrl.saveUiModel()" ng-model="aaDialByExtCtrl.messageInput" type="text" id="dialByMessageInput{{ schedule + index + keyIndex}}" name="dialByMessageInput" placeholder="{{ :: aaDialByExtCtrl.messageInputPlaceholder }}" rows="4" maxlength="2000" ></textarea>
</div>

<div ng-if="!aaDialByExtCtrl.isTextOnly" id="dialBySay" class="aa-dial-by-message-panel">
  <div class="row">
    <label for="dialByMessageInput{{ schedule + index }}" translate="{{ :: aaDialByExtCtrl.getMessageLabel() }}"></label>
      <textarea class="aa-dial-by-message-textarea" aa-key="$index" ng-keypress="aaDialByExtCtrl.keyPress($event)" ng-change="aaDialByExtCtrl.saveUiModel()" ng-model="aaDialByExtCtrl.messageInput" type="text" id="dialByMessageInput{{ schedule + index}}" name="dialByMessageInput" placeholder="{{ :: aaDialByExtCtrl.messageInputPlaceholder }}" cols="50" rows="5" maxlength="2000" ></textarea>
  </div>
  <div class="row">
    <div class="large-6 small-12 columns aa-dial-by-message-select-list">
      <label for="languageSelect{{ schedule + index}}" translate="common.language"></label>
      <cs-select id="languageSelect{{ schedule + index}}" name="languageSelect" ng-model="aaDialByExtCtrl.languageOption" options="aaDialByExtCtrl.languageOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" placeholder="aaDialByExtCtrl.languagePlaceholder" ng-change="aaDialByExtCtrl.setVoiceOptions(); aaDialByExtCtrl.saveUiModel()">
      </cs-select>
    </div>
    <div class="large-6 small-12 columns aa-dial-by-message-select-list">
      <label for="voiceSelect{{ schedule + index}}" translate="autoAttendant.sayMessageVoice"></label>
      <cs-select id="voiceSelect{{ schedule + index}}" name="voiceSelect" options="aaDialByExtCtrl.voiceOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" ng-model="aaDialByExtCtrl.voiceOption" placeholder="aaDialByExtCtrl.voicePlaceholder" ng-change="aaDialByExtCtrl.saveUiModel()">
      </cs-select>
    </div>
  </div>

  <div class="aa-dial-by-ext-invalid-timeout">
    <div class = "panel">
      <aa-timeout-invalid aa-schedule="{{schedule}}" aa-index="index"></aa-timeout-invalid>
    </div>
  </div>
</div>
