@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/forms';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/easing';
@import '../../../styles/variables';

.device-bulk-modal {
  &.modal-content {
    max-height: unset !important;
    height: auto !important;
    > div {
      max-height: unset !important;
      height: auto !important;
      bulk-delete {
        max-height: 310px;
      }
      bulk-modal {
        max-height: 700px;
      }
    }
  }
  h3 {
    padding-bottom: 8px;
  }
  .cs-card article {
    height: 100px;
    text-align: center;
    background-color: $gray-6;
    .number {
      font-size: 2rem;
      padding-top: 10px;
      &.error {
        color: $alerts-color;
      }
      &.success {
        color: $primary-color;
      }
    }
  }
  .errors-section {
    padding-top: 22px;
    margin-top: 28px;
    border-top: 1px solid $gray-4;
  }
}
