<div class="modal-header">
  <h4 class="modal-title">{{vm.title | translate}}</h4>
</div>
<div class="modal-body">
  <div class="section">
    <div class="progressbar-info" ng-show="vm.progress < 100">
      <span class="progressbar-label" ng-show="vm.progress < 100" translate="common.processingEllipsis"></span>
      <span class="progressbar-progress">{{vm.progress}}%</span>
    </div>
    <progressbar ng-show="vm.progress < 100" animate="false" value="vm.progress" type="primary"></progressbar>
    <br />
    <div class="device-bulk-results">
      <div class="device-bulk-result-view">
        <div class="number success">{{vm.numberOfSuccesses}}</div>
        <h4 class="action-title">{{vm.actionName | translate}}</h4>
      </div>
      <div class="device-bulk-result-view">
        <div class="number error">{{vm.numberOfErrors}}</div>
        <h4 class="action-title" translate="common.errors"></h4>
      </div>
    </div>
  </div>
  <div class="section errors-section" ng-if="vm.hasErrors">
    <h3 translate="common.errors"></h3>
    <table>
      <thead>
      <th class="">{{'spacesPage.nameHeader' | translate}}</th>
      <th class="">{{'common.errors' | translate}}</th>
      </thead>
      <colgroup>
        <col class="medium-4">
        <col class="medium-8">
      </colgroup>
      <tbody>
      <tr ng-repeat="error in vm.failuresData">
        <td>
          {{error.name}}
        </td>
        <td>
          {{error.error}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button
    cs-btn
    class="btn btn--primary"
    loading="chooseDeviceType.isLoading"
    ng-disabled="vm.inProgress"
    ng-click="vm.dismiss()">
    <span translate="common.done"></span>
  </button>
</div>
