<div class="modal-header">
  <button type="button" class="close" ng-click="vm.dismiss()" aria-label="{{::'common.close' | translate}}"></button>
  <h4 class="modal-title">{{vm.title | translate}}</h4>
</div>
<div class="modal-body">
  <div class="section">
    <h3 translate="common.status"></h3>
    <p translate="deviceBulk.startedAt" translate-values="{startTime: vm.startTime}"></p>
    <br>
    <div class="progressbar-info">
      <span class="progressbar-label" ng-show="vm.progress < 100" translate="common.processingEllipsis"></span>
      <span class="progressbar-label" ng-hide="vm.progress < 100" translate="common.done"></span>
      <span class="progressbar-progress">{{vm.progress}}%</span>
    </div>
    <progressbar animate="false" value="vm.progress" type="success"></progressbar>
    <div class="cs-card medium">
      <article>
        <section>
          <div class="number success">{{vm.numberOfSuccesses}}</div>
          <div>{{vm.actionName | translate}}</div>
        </section>
      </article>
    </div>
    <div class="cs-card medium">
      <article>
        <section>
          <div class="number error">{{vm.numberOfErrors}}</div>
          <div translate="common.errors"></div>
        </section>
      </article>
    </div>
  </div>
  <div class="section errors-section" ng-show="vm.hasErrors">
    <h3 translate="common.errors"></h3>
    <p translate="deviceBulk.toResolveErrors"></p>
    <cs-grid class="gridStyle" grid-api="vm.gridApi" grid-options="vm.gridOptions"></cs-grid>
  </div>

</div>
<div class="modal-footer">
  <button
    cs-btn
    class="btn btn--primary"
    loading="chooseDeviceType.isLoading"
    ng-disabled="vm.inProgress"
    ng-click="vm.dismiss()">
    <span translate="common.done"></span>
  </button>
</div>
