@import 'styles/toolkit/colors';
@import 'styles/toolkit/fonts';

// Most CSS is reusing the toolkit forms styles
setting-section {
  display: block;
}

setting-section + setting-section {
  border-top: 1px solid $gray-light-2;
}

a.as-button {
  color: $anchor-font-color;
}

