@import '~@collabui/collab-ui/scss/settings/colors';

// Most CSS is reusing the toolkit forms styles
setting-section {
  display: block;
}

setting-section + setting-section,
.setting-section + setting-section,
setting-section + .setting-section,
.setting-section + .setting-section {
  border-top: 1px solid $gray-light-2;
}

.subheader {
  float: left;
}

.badge--premium {
  margin: auto 20px 20px !important;
}
