@import 'styles/toolkit/spacing';
.private-trunk {
  h5 {
    @include vr-spacing(mt, .5);
    @include vr-spacing(mb, .5);
  }
  p {
    @include vr-spacing(mt, .25);
    @include vr-spacing(mb, .25);
    &::after {
      position: absolute;
      content: '.';
    }
  }
  .icon {
    position: relative;
  }
  .icon-error {
    @include vr-spacing(mt, 0.25);
    @include vr-spacing(mr, 0.5);
  }
}
