<div ng-form="lineLabelForm" class="cs-form">
  <div class="cs-form__section">
    <div class="section__info">
      <h4 class="section__title" translate="lineLabel.title"></h4>
      <p class="section__description" translate="lineLabel.description"></p>
    </div>
    <div class="section__content">
      <input 
        cs-input type="text" 
        id="lineLabel" 
        name="lineLabel" 
        ng-model="$ctrl.lineLabel" 
        maxlength="30"
        ng-change="$ctrl.onLineLabelChange()">
       <div class="apply_to_all" ng-if="$ctrl.showApplyToAllSharedLines">
        <input
          cs-input type="checkbox"
          id="applyToAllSharedLinesBox"
          name="applyToAllSharedLinesBox"
          ng-model="$ctrl.applyToAllSharedLines"
          cs-input-label="{{'lineLabel.applyToAllSharedDescription'|translate}}"
          ng-change="$ctrl.onLineLabelChange()">
        </div> 
    </div>
  </div>
</div>