@import '~@collabui/collab-ui/scss/settings/colors';

hybrid-call-service-connect-user-settings {
  display: block;

  .helptext {
    font-style: italic;

    a {
      color: $color-primary-base;
    }
  }
}
