<cs-page-header
  title-name="{{$ctrl.title}}"
  back="$ctrl.back"
  back-url="$ctrl.backState"
  back-aria-label="{{::'common.back' | translate}}"
  tabs="$ctrl.tabs">
</cs-page-header>
<div class="hcs-license-subscription-list">
  <div ng-if="$ctrl.loading" class="spinner-icon content-container">
    <i class='icon icon-spinner icon-2x'></i>
  </div>
  <div ng-if="!$ctrl.loading">
    <cs-page-sub-header>
      <cs-page-sub-header-left>
        <cs-searchfilter
          filters="$ctrl.filters"
          set-filter-fn="$ctrl.setFilter(filter.filterValue)"
          ng-model="$ctrl.placeholder.count"
          search-item-fn="$ctrl.filterList(searchStr)"
          placeholder-text="{{$ctrl.placeholder.name}}"
          clear-aria-text="{{::'common.clear' | translate}}"
          search-placeholder-text="{{::'common.search' | translate}}">
        </cs-searchfilter>
      </cs-page-sub-header-left>
      <cs-page-sub-header-right >
        <csv-simple-export
          on-export="$ctrl.exportCsv()"
          filename="{{::'linesPage.csvFilename' | translate}}"
          export-tooltip="{{::'linesPage.csvBtnTitle' | translate}}"
          exporting-tooltip="{{::'linesPage.csvBtnExportingTitle' | translate}}"
          tooltip-placement="left">
        </csv-simple-export>
      </cs-page-sub-header-right>
    </cs-page-sub-header>
    </div>
    <cs-grid
      id="licenseSubscription"
      grid-api="$ctrl.gridApi"
      grid-options="$ctrl.gridOptions"
      spinner="$ctrl.gridRefresh"
      ng-if="!$ctrl.gridRefresh">
    </cs-grid>
  </div>
</div>
