<div class="standard-card row">
		<div class="row">
			<div class="row user-title text-left col-xs-10"><h2 style="padding-left:10px;"><b translate="thresholdCardInfoPage.thresholdDetails"></b>
			</h2></div>
			<button type="button" class="close" ng-click="closePreview()" id="exitPreviewButton">
				<span class="sr-only" translate="common.close"></span>
			</button>
			<div class="row user-title text-left col-xs-10"><h4 style="padding-left:20px;"><b translate="thresholdCardInfoPage.thresholdRules"></b></h4>
				<div>
					<table>
					  <tr ng-repeat="item in overrideThresholdList">
					    <h4 style="padding-left:20px;"><b> <td translate="thresholdCardInfoPage.rule" translate-values="{counter: item.counter,operator:item.operator,value:item.value}"></td></b></h4>
					    <td style="width:20px"></td>
					    <h4 style="padding-left:20px;"><b> <td translate="thresholdCardInfoPage.hostName" translate-values="{hostname: item.hostname}"></td></b></h4>
					  </tr>
					</table>
				 </div>
			</div>
			<!--div class="row user-title text-left col-xs-10"><h4 style="padding-left:20px;"><b>Event Raised : {{eventName}}</b></h4>
		 	</div -->
	        <div class="row user-title text-left col-xs-10">
	            <button type="button" class="btn btn--primary metrics-title" data-toggle="modal" data-target="#overrideThreshold" data-whatever="@getbootstrap" ng-click="getSystemTypesList()" translate="thresholdCardInfoPage.overridethreshold"></button>
	        </div>
			<div class="row user-title text-left col-xs-10">
	               <button type="button" class="btn btn--primary metrics-title"  ng-click="deleteThreshold()" translate="common.delete"></button>
	        </div>
          </div>

		<div ng-class="{preview: overrideActive}" class="user-management">
  		<div ui-view class="outer-details-div" id="entire-slide"></div>
		</div>

<!-- modal for override -->
	<div class="modal fade" id="overrideThreshold" tabindex="-1" role="dialog" aria-labelledby="overrideThresholdModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">

	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="overrideThresholdModalLabel" translate="thresholdCardInfoPage.overrideThreshold"></h4>
	      </div>

	      <div class="modal-body">

		    <div class="fault-rules">
			<div class="row page-header">
		    <div class="text-center col-md-1 faultRuleDiv"><label><h5 translate="thresholdCardInfoPage.thresholdName"></h5></label></div>
		    <div class="col-sm-1 fault-blank-col"></div>
		    <div class="col-md-1 normalDiv">
		      <input type="text" class="faultRuleDiv-combo" placeholder="Threshold Name" ng-model="faultName"></div>
		  	</div>

		  <div class="row page-header fault-blank-row"></div>

		  <div class="row page-header">
		    <div class="text-center col-md-1 faultRuleDiv"><label><h5 translate="thresholdCardInfoPage.systemType"></h5></label></div>
		    <div class="col-sm-1 fault-blank-col"></div>
		    <div class="text-center col-md-1 normalDiv">
		      <select class="faultRuleDiv-combo" ng-model="sysTypeSelected" ng-options="sysType.systemType for sysType in systemTypes" ng-change="getSystemsByType()">
		      </select>
		    </div>
		    <div class="col-md-1 columnDiv"></div>
		    <div class="text-center col-md-1 faultRuleDiv"><label><h5 translate="thresholdCardInfoPage.system"></h5></label></div>
		    <div class="col-sm-1 fault-blank-col"></div>
		    <div class="text-center col-md-1">
		      <select class="faultRuleDiv-combo" ng-model="systemSelected" ng-options="system for system in systemNames">
		      </select>
		    </div>
		  </div>

		  <div class="row page-header fault-blank-row"></div>

		  <div class="row page-header">
		    <div class="text-center col-md-1 faultRuleDiv"><label><h5>{{overriderule}}</h5></label></div>
		    <div class="col-md-1 fault-blank-col"></div>
		    <div class="col-md-1 normalDiv">
		      <input type="text" class="faultRuleDiv-combo" placeholder="Value In Percentage" ng-model="valuePercentage">
		    </div>
		  </div>
		  </div>
		  </div>

	      <div class="modal-footer">
	        <button type="button" class="btn btn--primary" data-dismiss="modal" ng-click="saveOverrideThreshold()" translate="common.apply"></button>
	        <button type="button" class="btn" data-dismiss="modal" ng-click="overrideCancel()" translate="common.cancel"></button>
	      </div>

	    </div>
	  </div>
	</div>
	<!--override model ends-->
</div>
