@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/typography';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';
@import '~collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~collab-ui/scss/tools/placeholders/page-layout';

.copy-location-description-container {
  width: rem-calc(390);
  height: rem-calc(38);
  font-family: CiscoSans;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #4f5051;
}
.copy-location-textbox {
  padding-top: 32px;
}
.copy-location-cancel {
  width: 83px;
  height: 36px;
  border-radius: 2px;
  background-color: #858688;
}
.copy-location-save {
  width: 72px;
  height: 36px;
  border-radius: 2px;
  background-color: #d7d7d8;
}
