@import '~@collabui/collab-ui/scss/settings/colors';
cluster-cascade-bandwidth {
  .cascade-input-div {
    display: flex;
  }
  .cascade-span {
    margin-left: 15px;
    margin-top: 5px;
  }
  .input-error {
    input,
    input:focus {
      border-color: $color-red-darker;
      background: $color-red-base;
    }
    .cs-input__help-text {
      color: $color-red-dark;
    }
  }
}
