<div class="row form-group">
  <input
    cs-input
    type="radio"
    id="radioParker"
    name="parkerOrDestination"
    ng-value="'parker'"
    ng-model="$ctrl.reversionType"
    ng-click="$ctrl.onSelectRevertToParker()"
    cs-input-label="{{:: 'callPark.reversionParkerLabel' | translate}}">
</div>
<div class="row form-group">
  <input
    cs-input
    type="radio"
    class="cs-input"
    id="radioParkDestination"
    name="parkerOrDestination"
    ng-value="'destination'"
    ng-model="$ctrl.reversionType"
    ng-click="$ctrl.onSelectAnotherDestination()"
    cs-input-label="{{:: 'callPark.reversionOtherLabel' | translate}}">
</div>
<div class="row form-group">
  <uc-fallback-destination
    fallback-destination="$ctrl.fallbackDestination"
    is-call-park="true"
    show-reversion-lookup="$ctrl.showReversionLookup"
    on-change-fn="$ctrl.setCallParkFallbackDestination(fallbackDestination)"
    location="$ctrl.location">
  </uc-fallback-destination>
</div>
