@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.connector-upgrade-modal {
  .spacing {
    @include vr-spacing(mt, 1);
  }

  .warning-box {
    position: relative;
    @include vr-spacing(mt, 1);
    @include vr-spacing(pl, 1.5);
    
    p {
      font-size: 12px;
    }
  }

  .icon-warning {
    position: absolute;
    left: 0;
    top: 0.3rem;
    color: $color-yellow-base;
  }
}
