.pstn-providers,
.pstn-service-address,
.pstn-numbers,
.pstn-swivel-numbers,
.pstn-review,
.pstn-next-steps {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  > .modal-body {
    flex: 1 1 auto;
  }

  .loading {
    text-align: center;
    .icon-spinner {
      font-size: 75px;
    }
  }
}

.pstn-providers {
  .modal-body {
    margin-bottom: 30px;
  }
  .cs-card-block {
    justify-content: center;
  }
}

.pstn-provider-logo {
  height: rem-calc(40px);
  width: rem-calc(235px);
}

.pstn-provider-card {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-content-share {
      font-size: 1.25rem;
      flex: 0;
      left: 25%;
    }
  }
  header img {
    @extend .pstn-provider-logo;
  }
  h4 {
    text-align: center;
  }
  .feature {
    display: flex;
  }
  .icon-check {
    font-size: 24px;
    color: $brand-success;
  }
  .feature-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.pstn-swivel-numbers {
  .flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    .buttons {
      flex: 1;
    }
  }
}

.pstn-numbers {
  .badge {
    background-color: $gray;
  }

  .flex-container {
    padding-left: 30px;
    padding-right: 30px;
    flex: 1 1 auto;
    display: flex;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-1 {
    flex: 1;
    margin-left: 30px;
  }

  .provider-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .badge {
      margin-bottom: 0;
    }
  }

  > .modal-body {
    padding: 0;
    background-color: $white;
  }

  .tab-content {
    padding: 2rem;
  }

  .tokenfield {
    margin-top: 1rem;
  }

  .search-results {
    margin-top: rem-calc(15);
  }

  .formly-field-inline {
    align-items: flex-start;
  }

  .form-inline {
    &.formly-field-select {
      flex: 2;
    }
    &.formly-field-cs-input, &.formly-field-input {
      flex: 1;
    }
    .form-control {
      width: 100%;
    }
    .control-label {
      @extend label;
    }
  }

  .search-button {
    margin-top: calc(#{$form-label-line-height}em + 10px - (50px - #{$input-height-base}) / 2);
  }
  
  .tooltip {
    top: rem(-44px);
    .tooltip-inner {
        min-width: rem(150px);
    }
  }
  .no-pad {
    padding-bottom: 0;
  }
  .pad-top {
      padding-top: rem(20px);
  }
  .pad-bottom {
      padding-bottom: 1rem;
  }
  .order-inline {
      display: inline-block;
  }
  .input-width {
      max-width: rem(60px);
  }
  .right-margin {
      margin-right:rem(10px);
  }
  .form {
    .row {
      > div {
        display: inline-block;
      }
      .cs-input-group {
        margin-left: 1rem;
      }
      .icon-info {
        bottom: rem(3px);
        margin-left: 1rem;
      }
      .check-space {
        margin-left: 2rem;
      }
    }
  }
}

.pstn-review {
  .review-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-circle-call {
    font-size: 100px;
    color: $gray-dark;
    align-self: center;
    margin-top: 20px;
  }

  .title {
    font-family: $brand-font-regular;
    color: $brand-info;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .review-details {
    display: flex;
    align-items: center;
    background-color: white;
    min-width: 700px;

    .logo {
      border-right: 1px solid $gray-lighter;
      img {
        @extend .pstn-provider-logo;
        margin: 50px;
      }
    }

    .package-detail-label, .package-detail-text {
      line-height: 34px;
      font-family: $brand-font-regular;
    }

    .package-detail-label {
      color: $gray-darker;
      font-size: 14px;
      margin-left: 25px;
      margin-right: 25px;
    }
    .package-detail-text {
      color: $gray-darkest;
      font-size: 18px;
      margin-right: 50px;
    }
  }
}

.pstn-next-steps {
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon-check-mark-success {
    font-size: 100px;
    color: $gray-dark;
    margin-top: 20px;
  }
  .title {
    font-family: $brand-font-regular;
    color: $brand-info;
    margin-top: 25px;
    margin-bottom: 35px;
  }
  .success-message {
    font-family: $brand-font-light;
    font-size: 16px;
    color: $gray-darkest;
  }
  .next-step-title {
    font-family: $brand-font-light;
    font-size: 20px;
    color: $gray-darkest;
    margin-top: 45px;
    margin-bottom: 25px;
  }
  .next-steps {
    display: flex;
    align-items: flex-end;

    .step {
      width: 220px;
      div {
        font-family: $brand-font-light;
        font-size: 16px;
        line-height: 18px;
        color: $gray-darkest;
        text-align: center;
        margin-bottom: 20px;
      }
    }
    .conjunction {
      font-family: $brand-font-light-Oblique;
      font-size: 16px;
      color: $gray-darkest;
      margin: 0 20px;
      text-align: center;
      padding-bottom: 5px;
    }
  }
}

.modal-full {
  .modal-dialog {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    min-width: 1180px;
    margin: 50px;
    display: flex;
    flex-direction: column;
  }
  .modal-content {
    top: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    div[ui-view] {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }
}