.pstn-providers,
.pstn-service-address,
.pstn-numbers,
.pstn-swivel-numbers,
.pstn-review,
.pstn-next-steps {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  > .modal-body {
    flex: 1 1 auto;
  }

  .loading {
    text-align: center;
    .icon-spinner {
      font-size: 75px;
    }
  }
}

.pstn-providers {
  .modal-body {
    margin-bottom: 30px;
  }
  .cs-card-block {
    justify-content: center;
  }
}

.pstn-provider-logo {
  height: rem-calc(40px);
  width: rem-calc(235px);
}

.pstn-provider-card {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon-content-share {
      font-size: 1.25rem;
      flex: 0;
      left: 25%;
    }
  }
  header img {
    @extend .pstn-provider-logo;
  }
  h4 {
    text-align: center;
  }
  .feature {
    display: flex;
  }
  .icon-check {
    font-size: 24px;
    color: $brand-success;
  }
  .feature-text {
    font-size: 18px;
    line-height: 24px;
  }
}

.pstn-swivel-numbers {
  .flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-footer {
    display: flex;
    align-items: center;
    label {
      margin-bottom: 0;
    }
    .buttons {
      flex: 1;
    }
  }
}

.pstn-numbers {
  .badge {
    background-color: $gray;
    transform: translateY(-2px);
  }

  .toll-free-warning {
    @include vr-spacing(mt, 1);
    display: flex;
    flex-direction: row;
    align-item: flex-start;
    color: $color-negative-base;
    font-size: medium;

    .icon-error {
      @include vr-spacing(mt, .25);
      @include vr-spacing(mr, .5);
      font-size: medium;
      flex: 0 1 auto;
    }
    p {
      flex: 1 1 auto;
    }
  }

  .flex-container {
    padding: 0;
    background-color: $white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .flex-2 {
    flex: 2;
  }

  .flex-1 {
    flex: 1;
    margin-left: 30px;
  }

  .provider-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .badge {
      margin-bottom: 0;
    }
  }

  .tab-content {
    padding: 2rem;
  }

  .tokenfield {
    margin-top: 1rem;
  }

  .search-results {
    margin-top: rem-calc(15);
  }

  .formly-field-inline {
    align-items: flex-start;
  }

  .form-inline {
    &.formly-field-select {
      flex: 2;
    }
    &.formly-field-cs-input, &.formly-field-input {
      flex: 1;
    }
    .form-control {
      width: 100%;
    }
    .control-label {
      @extend label;
    }
  }

  .search-button {
    margin-top: calc(#{$form-label-line-height}em + 10px - (50px - #{$input-height-base}) / 2);
  }

  .tooltip {
    top: rem(-44px);
    .tooltip-inner {
        min-width: rem(150px);
    }
  }
  .no-pad {
    padding-bottom: 0;
  }
  .pad-top {
      padding-top: rem(20px);
  }
  .pad-bottom {
      padding-bottom: 1rem;
  }
  .order-inline {
      display: inline-block;
  }
  .input-width {
      max-width: rem(60px);
  }
  .right-margin {
      margin-right:rem(10px);
  }
  .form {
    .row {
      > div {
        display: inline-block;
      }
      .icon-info {
        bottom: rem(3px);
        margin-left: 1rem;
      }
      .check-space {
        margin-left: 2rem;
      }
      .small-indent {
        padding-left: .5rem;
      }
    }
  }
}

.pstn-review {
  .review-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-circle-call {
    font-size: 100px;
    color: $gray-dark;
    align-self: center;
    margin-top: 20px;
  }

  .title {
    font-family: $brand-font-regular;
    color: $brand-info;
    align-self: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .review-details {
    display: flex;
    align-items: center;
    background-color: white;
    min-width: 700px;

    .logo {
      flex: 1;
      border-right: 1px solid $gray-lighter;
      img {
        @extend .pstn-provider-logo;
        margin: 50px;
      }
    }

    .package-details {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    .package-detail-label, .package-detail-text {
      line-height: 34px;
      font-family: $brand-font-regular;
    }

    .package-detail-label {
      color: $gray-darker;
      font-size: 14px;
      margin-left: 25px;
      margin-right: 25px;
    }

    .package-detail-text {
      flex: 1;
      color: $gray-darkest;
      font-size: 18px;
      margin-right: 50px;
    }
  }
}

.pstn-next-steps {
  .modal-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &> * {
      @include vr-spacing(mb,3);
      & ~ h3 {
      @include vr-spacing(mb,2.5);
      }
    }

    &> div {
      @include vr-spacing(pb,1);
    }

    h2 {
      & ~ h2 {
      @include vr-spacing(mb,3.5);
      }
      &> * {
        display:block;
        clear:both;
      }

      &> span {
        span {
          /// Next Line Fix for Toolkit v 0.24. Issue fixed in 0.25.
          line-height: vr-adjust(36px);
          @include vr-spacing(ml,0.25);
        }
      }
    }
  }
  .icon-check-mark-success {
    font-size: vr-adjust(98px);
    color: $color-people-base;
  }


  .icon-information {
    color: $color-attention-base;
    font-size: vr-adjust(36px);
  }
}

.modal-full {
  .modal-dialog {
    height: calc(100vh - 100px);
    width: calc(100vw - 100px);
    min-width: 1180px;
    margin: 50px;
    display: flex;
    flex-direction: column;
  }
  .modal-content {
    top: 0;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    div[ui-view] {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
    }
  }
}

.address-validation-container {
  display: flex;
  flex-direction: row;
  .flex-address {
    flex: 1;
  }
  .validation-padding {
    @include vr-spacing(pl, 1.5);
    @include vr-spacing(mt, 1.5);
  }
  .search-custom {
    @include vr-spacing(mt, 1);
    float: right;
    @include vr-spacing(mr, 0.5);
  }
}
