<div class="pstn-numbers">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()"><span class="sr-only" translate="common.close"></span></button>
    <h3 class="modal-title" translate="pstnSetup.setupNumbers"></h3>
  </div>
  <div class="flex-container">
    <section class="flex-2">
      <h4 translate="pstnSetup.orderBlock"></h4>
      <div class="modal-body">
        <form name="pstnSetup.form" novalidate class="form">
          <formly-form model="pstnSetup.model" fields="pstnSetup.fields" form="pstnSetup.form"></formly-form>
        </form>
      </div>
    </section>
    <section class="flex-1">
      <div class="provider-flex"><h4>{{::pstnSetup.provider.title}}</h4><span class="badge">{{pstnSetup.blockOrderTotals}}</span></div>
      <ul class="list-group">
        <li class="list-group-item list-token" ng-repeat="order in pstnSetup.blockOrders"><span>{{::'pstnSetup.areaCode' | translate}} {{::order.areaCode}}</span><span>{{::'pstnSetup.quantity' | translate}} {{::order.quantity}}</span><button type="button" class="close" ng-click="pstnSetup.removeOrder(order)"><span class="sr-only" translate="common.delete"></span></button></li>
      </ul>
    </section>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-if="!pstnSetup.hasCarriers" ui-sref="pstnSetup" translate="common.back"></button>
    <button class="btn btn-primary" ng-click="pstnSetup.orderNumbers()" translate="common.next"></button>
  </div>
</div>
