@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/settings/settings-collab-ui';

.gemini-request-callbackgroup {
  .input-icon {
    position: relative;

    .icon {
      position: absolute;
      top: $toast-padding;
      left: $toast-padding;
    }

    input {
      padding-left: $ui-padding--huge;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .select-mini {
    .select-toggle {
      padding: 0.2825rem 0.35rem;
      height: auto;
      line-height: 1;

      .icon {
        top: 0;
      }
    }

    .ui-grid-cell-contents {
      padding-left: 10px;
    }

    .ui-grid-selection-row-header-buttons:focus {
      box-shadow: none;
    }
  }
}

.gemCbgDetails-state {
  .history-ul {
    padding-bottom: 48px;
  }
}

.gemCbgDetails-notes-state,
.gemCbgDetails-sites-state,
.gemCbgDetails-editCountry-state {
  cs-alert-banner {
    display: none;
  }

  .edit-td-name {
    display: none;
  }

  .side-panel-container {
    height: calc(100vh - 90px);
  }

  .history-ul {
    padding-bottom: 48px;
  }
}

.gemini-select-country {
  .upload-file-box {
    position: relative;
  }

  .country-upload-input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
  }

  .tag {
    white-space: normal;
  }

  .side-panel-country {
    .select-options {
      li {
        cs-checkbox {
          position: relative;
          top: 5px;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin-right: 0.7rem;

          label.cs-checkbox {
            &:before {
              position: absolute;
              top: -2px;
              margin-right: 0;
            }

            span {
              display: none;
            }
          }
        }
      }
    }

    .edit-country {
      .tag-country {
        a {
          padding-top: 5px;
        }
      }
    }
  }
}
