.gemServices {
  .card-icon {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    color: $color-white;
    text-align: center;
    background-color: $gray-light;
    border-radius: 50%;
  }

  .header-with-left-icon {
    position: relative;
    height: 3rem;
    padding-left: 3.5rem;
    box-sizing: border-box;

    .title {
      line-height: 3rem;
    }
  }

  .callback-groups {
    padding-left: 3.5rem;
  }

  .page-option-buttons {
    position: relative;

    .btn--none {
      cursor: default;
    }
  }
}

.gemini-request-callbackgroup {
  .input-icon {
    position: relative;

    .icon {
      position: absolute;
      top: $toast-padding;
      left: $toast-padding;
    }

    input {
      padding-left: $ui-padding--huge;
      width: 100%;
      box-sizing: border-box;
    }
  }

  .upload-file {
    position: relative;

    .upload-file-input {
      position: absolute;
      top: 0;
      left: 0;
      height: 2.25rem;
      cursor: pointer;
      opacity: 0;
    }

    .upload-file-btn {
      color: $color-primary-base;
    }
  }
}

.gemini-side-panel {
  .side-panel-sites {
    .sites-ul {
      .action-movesite .actions-button {
        display: none;
      }

      li:hover {
        background-color: rgba($gray-lightest, 0.75);

        .action-movesite {
          .actions-button {
            padding: 0.625rem $ui-padding;
            display: block;
            color: $color-primary-base;
          }
        }
      }

      .actions-services {
        li {
          padding: 0.2rem $ui-padding;
          color: $gray-dark-1;
        }
      }
    }
  }

  .side-panel-country {
    .auto-scrollbar {
      max-height: $toast-width-sm;
      overflow-y: auto;
    }

    .tag {
      white-space: normal;
    }

    .edit-country {
      padding-bottom: $ui-padding--huge;
    }

    .color-primary-base {
      color: $color-primary-base;
    }

    .country-upload-file {
      .upload-file-box {
        position: relative;
      }

      .country-upload-input {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        opacity: 0;
      }
    }
  }

  .side-panel-note {
    .note-title {
      padding: $ui-padding--large 0 $toast-padding;
    }
  }

  .side-panel-history {
    .history-ul {
      list-style-type: none;
      margin: 0;

      li {
        margin-bottom: $toastPossitionBottom;

        small {
          color: $gray-light-1;
        }
      }
    }

    .show-more {
      a {
        color: $color-primary-base;
      }
    }
  }

  .button-container {
    top: auto;
    bottom: 0;
    left: 0;
  }
}
