@import '~collab-ui/scss/settings/colors';

.meeting-settings {

  .time-zone {
    font-size: 14px;
    color: $gray-base;
  }

  .verified-check {
    font-size: 24px;
    color: $color-cta-base;
  }

  .element-spacing {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .small {
    span {
      font-size: .75rem;
    }
  }
  .info .cs-input__messages {
    padding-top: 0px;
  }

  .keep-existing-trials {
    position: relative;
  }

  .existing-sites {
    color: $color-primary-base;
    position: absolute;
    left: 152px;
    bottom: 2px;
  }

  .count {
    color: $color-primary-base;
  }

  .site-heading {
    font-weight: bolder;
  }

  .adjust-card-margin {
    margin-left: -7px;
  }

  .error {
    color: $brand-danger;
    .message {
      font-size: .8rem;
    }
  }

  .ccasp-partner__confirmation {
    margin-left: 0;
    .verified-check {
      vertical-align: middle;
      padding-right: .5rem;
    }
  }
}
