.cloud-extensions {

  .error {
    color: @brand-danger;
  }

  .notActivated {
    color: @gray-dark;
  }

  .activated {
    color: @brand-success;
  }

  .deactivated {
    color: @gray-dark;
  }
}
