.cloud-extensions {

  .status-error {
    color: $brand-danger;
  }

  .status-notActivated {
    color: $gray-dark;
  }

  .status-activated {
    color: $brand-success;
  }

  .status-deactivated {
    color: $gray-dark;
  }

  .feature-icon-extension {
    @extend .icon;
    font-size: rem-calc(25);
    margin-right: 13px;
    line-height: $feature-line-height;
    &:before {
      line-height: $feature-line-height;
    }
  }
}


