.cloud-extensions {

  .error {
    color: $brand-danger;
  }

  .notActivated {
    color: $gray-dark;
  }

  .activated {
    color: $brand-success;
  }

  .deactivated {
    color: $gray-dark;
  }

  .feature-item {
    @extend .feature-status;
    float: right;
  }

  .feature-icon-extension {
    @extend .icon;
    font-size: 2.5rem;
    margin-right: 13px;
    line-height: $feature-line-height;
    &:before {
      line-height: $feature-line-height;
    }
  }
}


