<cs-sp-buttons ng-show="showButtons">
  <button id="btn-save" class="btn-primary btn-save" translate="common.save" data-loading-text="<span class='loading'><span>&bull;</span>&nbsp;<span>&bull;</span>&nbsp;<span>&bull;</span>&nbsp;</span>" ng-click="updateEntitlement(extension.entitled)"></button>
  <button id="btn-cancel" ng-disabled="saving" class="btn-default" translate="common.cancel" ng-click="resetEntitlement()"></button>
</cs-sp-buttons>
<cs-sp-container>
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name">{{'hercules.serviceNames.' + extension.id | translate}}</span>
    </div>
    <div class="feature-list cloud-extensions">
      <ul>
        <li class="feature">
          <span class="feature-name" translate="cloudExtensions.enableService"></span>
          <cs-toggle-switch toggle-id="entitledToggle" class="feature-item" ng-model="extension.entitled" size="small"
                            style="margin-bottom: 0px;"></cs-toggle-switch>
        </li>
        <li class="feature">
          <span class="feature-name" translate="cloudExtensions.status"></span>
          <span ng-show="extension.entitled && extension.status"
                class="feature-status"
                ng-class="extension.entitled && extension.status ? 'status-' + extension.status.state : 'disabled'"
                translate="hercules.activationStatus.{{getStatus(extension.status)}}"></span>
          <span ng-hide="extension.status && extension.entitled"
                ng-class="extension.entitled && extension.status ? 'status-' + extension.status.state : 'disabled'"
                class="feature-status"
                translate="common.{{extension.entitled ? 'on' : 'off'}}"></span>
        </li>
        <li class="feature" ng-show="extension.entitled && extension.homedConnector">
          <span class="feature-name" translate="cloudExtensions.host"></span>
          <span ng-show="extension.entitled && extension.homedConnector" class="feature-item">
            <a href="https://{{extension.homedConnector.host_name}}" target="_blank" style="color: #3ca8e8">{{extension.homedConnector.host_name}}</a>
          </span>
        </li>
      </ul>
      <span
        ng-show="extension.entitled && extension.status && extension.status.state === 'error' && extension.status.description"
        class="status-error">
      {{extension.status.description.defaultMessage}}
    </span>
    </div>

  </cs-sp-section>
</cs-sp-container>

