@import '~@collabui/collab-ui/scss/settings/colors';
@import 'modules/sunlight/reports/_pagination';

.showBreakdown {
  display: flex;

  .care-card-report {
    position: relative;
    width: 50%;
  }
}

.care-card-report {

  .areachart {
    position: relative;
    margin-left: 0px !important;
  }

  graph-text.care-graph-text {
    text-align: center;
  }

  .ui-grid-viewport {
    height: auto !important;
  }

  .ui-grid {
    height: auto !important;
    border-bottom: rem-calc(1) solid $gray-light-2;
    margin-bottom: rem-calc(20);
  }

  .ui-grid-row {
    border-color: $gray-light-2;
    color: $gray-dark-1;
    &:hover {
      background-color: transparent;
    }
  }

  .ui-grid-ui-error {
    color: $color-negative-base;
  }

  .ui-grid-ui-deleted {
    color: $gray-light-1;
    font-style: italic;
  }

  .ui-grid-header-cell-wrapper {
    background-color: $gray-light-3;
    text-align: left;
    cursor: default;
  }

  .ui-grid-header-cell-label {
    font-weight: bold;
    font-size: 0.875rem;
    color: $gray-dark-1;
  }

  .care-table-wrapper {
    width: 95%;
    padding-left: 1.5rem;
  }

  .ui-grid-header-cell:first-child,
  .ui-grid-cell:first-child {
    border-right: rem-calc(1) solid $gray-light-2;
    border-left: rem-calc(1) solid $gray-light-2;
    text-align: left;
  }

  .ui-grid-header-cell {
    text-align: center;
    border-right: rem-calc(1) solid $gray-light-2;
  }

  .ui-grid-cell {
    text-align: center;
    border-right: rem-calc(1) solid $gray-light-2;
  }

  .ui-grid-header-cell:last-child {
    text-align: center;
    border-right: rem-calc(1) solid $gray-light-2;
  }

  .ui-grid-cell:last-child {
    text-align: center;
    border-right: rem-calc(1) solid $gray-light-2;
  }

  .ui-grid-filter-container { display: none !important; }

  #paginator {
    float: right;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }
}

.amcharts-export-menu .export-main {
  overflow: visible;

  ul {
    padding: 0;

    .export-list {
      overflow: visible;
    }
  }
}

.report-card.hideCard {
  height: 0;
  margin: 0;
  transform: scale(1, 0);
  animation: scaleDownCard 0.5s linear;

  article {
    transform: scale(1, 0);
    animation: scaleDownCard 0.5s linear;

    .timechartDiv,
    .barchart,
    .table {
      display: none;
    }
  }
}
