@import '~@collabui/collab-ui/scss/settings/colors';

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;

  .carousel-btn {
    border: 1px solid $gray-dark-1;
    color: $gray-dark-1;
  }

  .carousel-btn:hover,
  .btn--none:focus,
  .btn--none:hover {
    border-color: transparent;
    color: $white;
  }

  .carousel-control {
    background-color: $white;
    color: $color-primary-base;
  }

  .carousel-control:focus {
    box-shadow: none;
  }

  .carousel-control:hover {
    background-color: $color-primary-base;
    color: $white;
  }

  .carousel-control[disabled] {
    background-color: $gray-light-2;
    color: $gray-base;
  }
}

