.aa-help-icon {
  @extend .icon;
  @extend .icon-help;
  font-size: 1rem;
  color: $aa-builder-icon-color;
  @include vr-spacing(pl, .25);
  @include vr-spacing(pt, .25);
  &:hover {
    cursor: pointer;
    color: $aa-builder-icon-click-color;
  }
  &:focus {
    color: $aa-builder-icon-click-color;
    outline: none;
  }
}

.aa-help-wrapper {
  position: relative;
  & .popover {
    width: 75%;
    @include vr-spacing(mt, .5);
  }

  & .popover-content {
    overflow: hidden;
  }
}
