*.gz
*.gz--files-list
*.iml
*.patch
*.pyc
*.rdb
*.sublime*
*.swp
*.swo
*.ts.spec.js
*.spec.ts.js
stats.json

.cache
.cache-loader
.bower-cache
.bower-registry
.DS_Store
.e2e-fail-retry
.idea
.last-refreshed
.manifest-checksums
.oauth_token_metadata
.project
.sauce
.sonar
.tmp
.history
.vscode
.history
.tern-project
package-lock.json
yarn.lock
yarn-error.log

build
coverage
dist
dist-source-map
plato
screenshots
typings/index.d.ts
typings/globals
/ts/*manifest.txt
flist-split.*.karma.shim.js
karma.conf.local.js
karma.shim.local.js

bower_components
build-deps.tar
node_modules
npm-debug.log
npm-shrinkwrap.json
webpack.yml

test/e2e-protractor/reports
test/ts/
test/karma-unit-*
test/karma-watch.js
test/unit-test-results.html
test/unit-test-results.xml

?
