node_modules
dist
build
coverage
.sonar
.tmp
bower_components
.DS_Store
npm-debug.log
*.gz
*.pyc
*.iml
.idea/
*.rdb
test/e2e-protractor/reports
test/karma-unit.js
*.sublime*
test/unit-test-results.xml
test/unit-test-results.html