*.patch
*.gz
*.iml
*.pyc
*.rdb
*.sublime*
*.swp

.DS_Store
.idea
.sauce
.sonar
.tmp
.bower-cache
.bower-registry
.e2e-fail-notify
.oauth_token_metadata

build
coverage
dist
screenshots
plato
typings

bower_components
node_modules
npm-debug.log

test/e2e-protractor/reports
test/karma-unit.js
test/karma-watch.js
test/unit-test-results.html
test/unit-test-results.xml
.manifest-checksums
.last-refreshed
