@import 'styles/toolkit/layout';

.sq-places-page {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ui-grid-cell:first-child,
  .ui-grid-header-cell:first-child {
    border-right: 0px;

    .place_avatar {
      margin: 4px 5px 4px 30px;
      width: 35px;
    }
  }
}

.callServiceRow {
  padding: 30px 30px 15px 15px;
  display: flex;

  .callServiceTitle {
    flex-basis: 30%;
    width: 60%;
    display: flex;
    align-items: baseline;
  }
  .callServiceControls {
    flex-basis: 100%;
  }
  .calendarServiceControls.emailControls{
    width: 100%;
    margin-top: -1.5em;
    #email {
      min-width: 310px;
      width: 50%;
    }
  }
  @media screen and (max-width: 640px) {
    display: block;
    .calendarServiceControls.emailControls{
      #email {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.rightColumn{
  padding-top: 5px;
}

.calenderResourcesRow{
  padding: 30px 30px 15px 15px;
  width: 100%;
  .selectResourceGroup{
    min-width: 310px;
    width: 50%;
    @media screen and (max-width: 640px) {
      min-width: 100%;
      width: 100%;
    }
  }
}

.modal-content #edit-calendar-modal {
  margin-left: 0;
  margin-right: 0;
}
