@import '~collab-ui/scss/tools/placeholders/page-layout';

.sq-places-page {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ui-grid-cell:first-child,
  .ui-grid-header-cell:first-child {
    border-right: 0px;

    .place_avatar {
      margin: 4px 5px 4px 30px;
      width: 35px;
    }
  }
}
.callServiceRow {
  padding: 25px 30px 5px 15px;
  display: flex;
  font-weight: 200;

  .circle {
    display: block;
    flex: 0 0 30px;
    box-sizing: border-box;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 4px 0px 0px 10px;
    border: 1px solid $gray-light-2;
    margin-right: 1.5em;
    color: $gray-dark-3;
    font-size: 0.85em;
  }
  .callServiceTitle {
    flex-basis: 30%;
    width: 60%;
    display: flex;
    align-items: baseline;
  }
  .callServiceControls {
    flex-basis: 100%;
    .help-toggle-calendar {
      font-style: italic;
      font-size: 0.75rem;
      color: #AEAEAF;
    }
  }
  .calendarServiceControls.emailControls {
    width: 100%;
    margin-top: -1.5em;
    #email {
      min-width: 310px;
      width: 50%;
    }
  }
  .emailControlsParent {
    flex-wrap: wrap;
    p {
      flex-basis: 80%;
    }
  }
  .callServiceControls.emailControls {
    align-self: flex-start;
    min-width: 300px;
    margin-top: 15px;
    input {
      width: 45%;
    }
  }
  @media screen and (max-width: 640px) {
    display: block;
    .calendarServiceControls.emailControls {
      #email {
        min-width: 100%;
        width: 100%;
      }
    }
  }
}

.rightColumn {
  padding-top: 5px;
}

.calenderResourcesRow {
  padding: 30px 30px 15px 15px;
  width: 100%;
  .selectResourceGroup {
    min-width: 310px;
    width: 50%;
    @media screen and (max-width: 640px) {
      min-width: 100%;
      width: 100%;
    }
  }
}

.modal-content #edit-calendar-modal {
  margin-left: 0;
  margin-right: 0;
}
