@import 'styles/toolkit/layout';

.sq-places-page {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ui-grid-cell:first-child,
  .ui-grid-header-cell:first-child {
    border-right: 0px;

    .place_avatar {
      margin: 4px 5px 4px 30px;
      width: 35px;
    }
  }
}

.callServiceRow {
  padding: 30px 30px 15px 15px;
  display: flex;

  .callServiceTitle {
    flex-basis: 30%;
    width: 60%;
    display: flex;
    align-items: baseline;
  }
  .callServiceControls {
     flex-basis: 100%;
    //display: flex;
  }
  .calendarServiceControls{

  }
  .calendarServiceControls #email {
    width: 100%;
  }
}

.modal-content #edit-calendar-modal {
  margin-left: 0;
  margin-right: 0;
}
