@import '~collab-ui/scss/settings/colors';

.moh-settings {
  position: relative;
  .display-flex {
    display: inline-flex;
  }
  .warning-padding {
    padding: 16px;
  }

  .link-color {
    color: $color-primary-base;
  }
}
