@import "plan-container";
.wizard-plan-review {
  @extend %plan-container;

  &.user-service-2 {
    min-height:530px;
  }

  &.user-service-3 {
    min-height:638px;
  }

  &.user-service-0.has-room-systems {
    min-height:450px;
  }

  &.user-service-1.has-room-systems {
    min-height:550px;
  }

  &.user-service-2.has-room-systems {
    min-height:670px;
  }

   &.user-service-3.has-room-systems {
    min-height:765px;
  }
}

.wizard-trial-progress {
  .small-12 {
    @include vr-spacing(mv, .25);
  }
  .progress {
    margin-bottom: 5px;
  }
  .progress-bar-warning {
    background-color: $brand-warning-dark;
  }
}
