.aa-submenu-header {
  @include vr-spacing(pr, 0.5);
  @include vr-spacing(mb, 0);

  .control-label {
    @extend %aa-menu-control-label;
  }
}

.aa-submenu {
  $aa-sm-action-max-width: 260px;

  width: 100%;

  .aa-sm-collapse-left {
    @include vr-spacing(pl, 0);
  }

  .aa-sm-right {
    @include vr-spacing(pl, 0.75);
  }

  .aa-sm-action {
    @extend %aa-menu-actions;

    max-width: $aa-sm-action-max-width;
  }

  .aa-sm-vertical-line {
    @extend %aa-menu-vertical-line;

    &::before {
      left: -0.9rem;
    }
  }

  .aa-sm-vertical-line-half {
    @extend %aa-menu-vertical-line;

    &::before {
      left: -0.9rem;
      height: 50%;
    }

    @include vr-spacing(pb, 0);
  }

  .aa-sm-action-select {
    @extend %aa-menu-select;
    max-width: $aa-sm-action-max-width;
  }

  .aa-sm-key-select {
    @include aa-menu-toggle-button(0, -0.5);
    @include aa-menu-key-button($color-primary-darker, 56);
  }

  .aa-sm-add-text {
    @extend %aa-menu-add-text;

    @include vr-spacing(ml, 0.25);
  }
}
