<div class="row aa-submenu-header">
  <div class="small-11">
    <aa-say-message name="aa-submenu-say-message" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-header="false"></aa-say-message>
  </div>
</div>
<div class="row aa-submenu">
  <div ng-if="aaSubmenu.selectedActions.length" class="row aa-sm-vertical-line" ng-repeat="submenuKeyAction in aaSubmenu.selectedActions">
    <div class="small-2 columns aa-sm-collapse-left">
      <cs-select ng-model="submenuKeyAction.key" options="submenuKeyAction.keys" placeholder="aaSubmenu.selectPlaceholder" on-change-fn="aaSubmenu.keyChanged($index, submenuKeyAction.key)" class="aa-sm-key-select" icon="icon-chevron-down" ng-class="{'not-selected':!submenuKeyAction.key}">
      </cs-select>
    </div>
    <div class="small-9 columns">
      <cs-select ng-model="submenuKeyAction.action" valuefield="name" labelfield="label" options="aaSubmenu.keyActions" placeholder="aaSubmenu.actionPlaceholder" on-change-fn="aaSubmenu.keyActionChanged($index, submenuKeyAction.action)" class="aa-sm-action-select" icon="icon-chevron-down">
      </cs-select>
      <div ng-switch="submenuKeyAction.action.name" class="aa-sm-action">
        <aa-route-to-user ng-switch-when="phoneMenuRouteUser" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-user>
        <aa-route-to-user ng-switch-when="phoneMenuRouteMailbox" voicemail=true aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-user>
        <aa-route-to-aa ng-switch-when="phoneMenuRouteAA" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-aa>
        <aa-route-to-hg ng-switch-when="phoneMenuRouteHunt"  aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-hg>
        <aa-dial-by-ext ng-switch-when="phoneMenuDialExt" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-dial-by-ext>
        <aa-route-to-ext-num ng-switch-when="phoneMenuRouteToExtNum" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-ext-num>
        <aa-say-message ng-switch-when="phoneMenuSayMessage" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-say-message>
        <aa-route-to-queue ng-switch-when="phoneMenuRouteQueue" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-queue>
      </div>
    </div>
    <div class="small-1 columns">
      <i class="aa-trash-icon" aria-label="common.delete" ng-click="aaSubmenu.deleteKeyAction($index); $event.stopPropagation();"></i>
    </div>
  </div>
  <div ng-if="aaSubmenu.selectedActions.length < 12" class="row" ng-class="{'aa-sm-vertical-line-half': aaSubmenu.selectedActions.length === 0 }">
    <a class="aa-sm-add-text" ng-click="aaSubmenu.addKeyAction()">
      <i class="icon icon-plus-circle"></i>{{(aaSubmenu.selectedActions.length === 0 ? 'autoAttendant.phoneSubmenuAddDigit' : 'autoAttendant.phoneSubmenuAnotherDigit') | translate }}</a>
  </div>
</div>
