<aa-say-message name="aa-submenu-say-message" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-header="false"></aa-say-message>
<div class="aa-phone-menu">
  <div class="panel">
    <div ng-if="aaSubmenu.selectedActions.length">
      <div class="row aa-pm-vertical-line" ng-repeat="submenuKeyAction in aaSubmenu.selectedActions">
        <div class="small-3 columns">
          <cs-select ng-model="submenuKeyAction.key" options="submenuKeyAction.keys" placeholder="aaSubmenu.selectPlaceholder" on-change-fn="aaSubmenu.keyChanged($index, submenuKeyAction.key)" class="aa-sm-key-select" icon="icon-chevron-down" ng-class="{'not-selected':!submenuKeyAction.key}">
          </cs-select>
        </div>
        <div class="small-8 columns">
          <cs-select ng-model="submenuKeyAction.action" valuefield="name" labelfield="label" options="aaSubmenu.keyActions" placeholder="aaSubmenu.actionPlaceholder" on-change-fn="aaSubmenu.keyActionChanged($index, submenuKeyAction.action)" class="aa-sm-action-select" icon="icon-chevron-down">
          </cs-select>
          <div ng-switch="submenuKeyAction.action.name" class="aa-key-action">
            <aa-route-to-user ng-switch-when="phoneMenuRouteUser" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-user>
            <aa-route-to-user ng-switch-when="phoneMenuRouteMailbox" voicemail=true aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-user>
            <aa-route-to-aa ng-switch-when="phoneMenuRouteAA" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-aa>
            <aa-route-to-hg ng-switch-when="phoneMenuRouteHunt"  aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-hg>
            <aa-dial-by-ext ng-switch-when="phoneMenuDialExt" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-dial-by-ext>
            <aa-route-to-ext-num ng-switch-when="phoneMenuRouteToExtNum" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-ext-num>
            <aa-say-message ng-switch-when="phoneMenuSayMessage" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-say-message>
            <aa-route-to-queue ng-switch-when="phoneMenuRouteQueue" aa-schedule="{{schedule}}" aa-menu-id="{{aaSubmenu.menuId}}" aa-index="index" aa-key-index="{{$index}}"></aa-route-to-queue>
         </div>
        </div>
        <div class="small-1 columns">
          <span class="aa-trash-icon" aria-label="common.delete" ng-click="aaSubmenu.deleteKeyAction($index); $event.stopPropagation();"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div ng-show="aaSubmenu.selectedActions.length < 12" class="small-12 columns">
        <a class="aa-pm-primary-text aa-pm-add" ng-click="aaSubmenu.addKeyAction()">
          <i class="icon icon-plus-circle"></i>{{ :: 'autoAttendant.phoneMenuAddDigit' | translate }}</a>
      </div>
    </div>
  </div>
</div>
