.huronsettings-state {
  @extend %page-background-white;
}

.huron-settings {
  @extend %content-header;
  position: relative;

  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .huron-settings-main-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    overflow-y: auto;
    height: 80vh;
    color: $gray-darker;
    background: $brand-white;

    .column {
      flex: 1;
      padding: rem(60) rem(30) rem(30) rem(30);
    }

    label {
      font-size: 1.1rem;
    }

    .trash-icon {
      @extend .icon;
      @extend .icon-trash;
      font-size: 1.7rem;
      color: $gray-light-1;
      cursor: pointer;
      &:hover {
        color: $color-primary-base;
      }
    }

    .icon-button-delete, .service-setup-extension {
      .formly-template-wrapper {
        margin-bottom: 0;
      }
    }

    .service-setup-container > .formly > .formly-field + .formly-field {
      margin-top: 3rem;
    }

    .extension-list > .formly-template-wrapper > .formly-input-wrapper > div {
      width: 100%;
    }

    .max-width-form ng-form {
      width: 100%;
    }

    .international-dialing {
      margin-top: 3rem;
    }

   .service-address-buttons {
     margin-top: 1rem;
   }
  }
}
