.huronsettings-state {
  @extend %page-background-white;
}

.huron-settings {
  @extend %content-header;
  position: relative;

  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .huron-settings-main-container {
    overflow: hidden;
    overflow-y: auto;
    background: $brand-white;

    .trash-icon {
      @extend .icon;
      @extend .icon-trash;
      font-size: 1.7rem;
      color: $gray-light-1;
      cursor: pointer;
      &:hover {
        color: $color-primary-base;
      }
    }

    .hide-delete {
      visibility: hidden;
    }

    .icon-button-delete, .service-setup-extension {
      .formly-template-wrapper {
        margin-bottom: 0;
      }
    }

    .service-setup-container > .formly > .formly-field + .formly-field {
      margin-top: 3rem;
    }

    .max-width-form ng-form {
      width: 100%;
    }

   .service-address-buttons {
     margin-top: 1rem;
   }

   .control-label {
     color: $gray-dark-4;
   }

   .description-block, .section__description {
     color: $gray-dark-1;
   }

   .vm-switch-margin {
     @include vr-spacing(mt, .75, 0px, true);
   }

   .voicemail-padding {
     @include vr-spacing(pl, 2);
   }

   button.btn-link {
      color: $color-primary-base;
      background-color: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        color: $white;
        background-color: $gray-dark-2;
      }
    }
  }
}
