.huronsettings-state {
  @extend %page-background-white;
}

.huron-settings {
  @extend %content-header;
  position: relative;

  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .huron-settings-main-container {
    overflow: hidden;
    overflow-y: auto;
    background: $brand-white;

    .trash-icon {
      @extend .icon;
      @extend .icon-trash;
      font-size: 1.7rem;
      color: $gray-light-1;
      cursor: pointer;
      &:hover {
        color: $color-primary-base;
      }
    }

    .hide-delete {
      visibility: hidden;
    }

    .icon-button-delete, .service-setup-extension {
      .formly-template-wrapper {
        margin-bottom: 0;
      }
    }

    .service-setup-container > .formly > .formly-field + .formly-field {
      margin-top: 3rem;
    }

    .max-width-form ng-form {
      width: 100%;
    }

   .service-address-buttons {
     margin-top: 1rem;
   }

   .control-label {
     color: $gray-dark-4;
   }

   .description-block, .section__description {
     color: $gray-dark-1;
   }

   .vm-switch-margin {
     @include vr-spacing(mt, .75, 0px, true);
   }

   .voicemail-spacing {
     @include vr-spacing(pl, 2);
     @include vr-spacing(mb, 2);
   }

   button.btn-link {
      color: $color-primary-base;
      background-color: transparent;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        color: $white;
        background-color: $gray-dark-2;
      }
    }

    .voicemail-switch-width {
      max-width: 40rem;
    }

    .save-section {
      position: fixed; 
      bottom: 0;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1.25rem 8.25rem 1.25rem 4rem;
      z-index: $zindex-popover;
      background-color: $gray-light-4;

      p {
        flex: 1;
      }
    }

    .service-setup-extension-length, .inner-section-margin {
      @include vr-spacing(mb, 2.25);
    }

    .msg-container {
      min-width: vr-adjust(600px);
    }
  }

  .alert {
    margin-right: 0;
    margin-left: 0;
  }

  .save-popup-margin {
    margin-bottom: vr-adjust(60px)
  }
}
