<div >
  <h4 translate="hcs.setup.selectDescription" class="hcs-service-setup__title"></h4>
  <input
    cs-input
    type="checkbox"
    ng-model="$ctrl.hcsServiceSelectionChkBox.license"
    id="cklicense"
    name="cklicense"
    ng-change="$ctrl.processChange()"
    cs-input-label="{{:: 'hcs.license.laas' | translate}}">
  <input
    cs-input
    type="checkbox"
    ng-model="$ctrl.hcsServiceSelectionChkBox.upgrade"
    id="ckupgrade"
    name="ckupgrade"
    ng-change="$ctrl.processChange()"
    cs-input-label="{{:: 'hcs.upgrade.uaas' | translate}}">
</div>