<multi-step-modal
  l10n-title="usersPage.manageUsers"
  dismiss="$ctrl.dismissModal()"
  back="$ctrl.back()"
  next="$ctrl.validateTokensBtn()"
  next-disabled="!$ctrl.allowNext()"
  class="onboard-users"
  >
  <h4 ng-if="!$ctrl.isDirSyncEnabled" translate="userManage.manual.titleAddModify"></h4>
  <h4 ng-if="$ctrl.isDirSyncEnabled" translate="userManage.manual.titleModify"></h4>
  <p translate="userManage.manual.instructions" translate-values="{ maxUsers: $ctrl.maxUsersInManual }"></p>
  <br>
  <cr-onboard-users></cr-onboard-users>
  <div class="unsynced-users error-invalid-dirsync" ng-if="$ctrl.scopeData.invalidDirSyncUsersCount > 0">
    <span class="icon icon-error icon-lg"></span><p translate="userManage.manual.ad.unsyncedUsers"></p>
  </div>
  <div class="unsynced-users error-over-max-users" ng-if="$ctrl.getNumUsersInTokenField() > $ctrl.maxUsersInManual">
    <span class="icon icon-error icon-lg"></span><p translate="userManage.manual.tooManyUsers" translate-values="{ maxUsers: $ctrl.maxUsersInManual }"></p>
  </div>
</multi-step-modal>
