google-calendar-setup {
  display: block;
  width: 100%;

  .resources-section {
    padding-left: 2rem;
  }

  .modal-step {
    padding-bottom: 1.5rem;
  }

  .hidden-subtitle {
    padding-top: 1rem;
  }
}
