<div class="modal-header">
  <h4 class="modal-title" translate="hercules.settings.hybridCalendarCommon.hybridCalendarSetUp"></h4>
</div>
<div class="modal-body">
  <div ng-if="$ctrl.currentStep === 'loading'" class="modal-step">
    <div class="text-center">
      <i class="icon icon-spinner icon-3x"></i>
    </div>
  </div>
  <div ng-if="$ctrl.currentStep === 'authorization'" class="modal-step">
    <h4 class="section__title" translate="hercules.gcalSetupModal.authorization.title"></h4>
    <p translate="hercules.gcalSetupModal.authorization.line1"></p>
    <ol>
      <li translate="hercules.gcalSetupModal.authorization.item1"></li>
      <li translate="hercules.gcalSetupModal.authorization.item2"></li>
      <li translate="hercules.gcalSetupModal.authorization.item3"></li>
      <li translate="hercules.gcalSetupModal.authorization.item4"></li>
    </ol>
    <google-calendar-api-information client-id="$ctrl.data.clientName" scope="$ctrl.data.scope"></google-calendar-api-information>
    <ol>
      <li value="5" translate="hercules.gcalSetupModal.authorization.item5"></li>
      <li translate="hercules.gcalSetupModal.authorization.item6"></li>
    </ol>
  </div>
  <div ng-if="$ctrl.currentStep === 'test-account'" class="modal-step">
    <div ng-form="$ctrl.testAccountForm">
      <h4 class="section__title" translate="hercules.gcalSetupModal.testAccount.title"></h4>
      <p translate="hercules.gcalSetupModal.testAccount.line1">></p>
      <div class="cs-input-group" ng-class="{'error': testAccountForm.testAccount.$invalid}">
        <input
          cs-input
          class="medium-6"
          type="email"
          name="testAccount"
          required
          ng-model="$ctrl.data.testAccount"
          cs-input-messages="$ctrl.errorMessages.testAccount">
      </div>
      <h4 class="section__title" translate="hercules.gcalSetupModal.testAccount.title2"></h4>
      <p>
        <input
          cs-input
          type="checkbox"
          ng-model="$ctrl.data.useResources"
          ng-change="$ctrl.onCheckChange()"
          id="resources"
          name="resources"
          cs-input-label="{{'hercules.gcalSetupModal.testAccount.useResources' | translate}}">
      </p>
      <div class="resources-section" ng-show="$ctrl.data.useResources">
        <p translate="hercules.gcalSetupModal.testAccount.line2"></p>
        <p translate="hercules.gcalSetupModal.testAccount.line3"></p>
        <h5 class="hidden-subtitle" translate="hercules.gcalSetupModal.testAccount.subtitle"></h5>
        <div class="cs-input-group" ng-class="{'error': testAccountForm.adminAccount.$invalid}">
          <input
            cs-input
            class="medium-6"
            type="email"
            name="adminAccount"
            ng-required="$ctrl.data.useResources"
            ng-model="$ctrl.data.adminAccount"
            cs-input-messages="$ctrl.errorMessages.adminAccount">
        </div>
      </div>
    </div>
  </div>
  <div ng-if="$ctrl.currentStep === 'completion'" class="modal-step">
    <h4 class="section__title" translate="hercules.gcalSetupModal.completion.title"></h4>
    <p translate="hercules.gcalSetupModal.completion.line1"></p>
    <p translate="hercules.gcalSetupModal.completion.line2"></p>
    <p translate="hercules.gcalSetupModal.completion.line3"></p>
    <ul>
      <li translate="hercules.gcalSetupModal.completion.item1" translate-value-onclick="$ctrl.goToUsers()" translate-compile></li>
      <li translate="hercules.gcalSetupModal.completion.item2" translate-value-onclick="$ctrl.manageUsers()" translate-compile></li>
    </ul>
    <p translate="hercules.gcalSetupModal.completion.line4"></p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" ng-if="!$ctrl.firstTimeSetup" ng-click="$ctrl.dismiss()">
    <span translate="common.cancel"></span>
  </button>
  <button class="btn" ng-if="$ctrl.firstTimeSetup && $ctrl.currentStep !== 'completion'" ng-click="$ctrl.back()">
    <span translate="common.back"></span>
  </button>
  <button class="btn btn--primary" ng-if="$ctrl.currentStep !== 'completion'" ng-disabled="!$ctrl.canGoNext()" ng-click="$ctrl.next()" cs-btn loading="$ctrl.processing">
    <span translate="common.next"></span>
  </button>
  <button class="btn btn--primary" ng-if="$ctrl.currentStep === 'completion'" ng-click="$ctrl.done()">
    <span translate="common.done"></span>
  </button>
</div>
