<cs-sp-section>
  <div class="section-title-row">
    <span class="section-name" translate="cloudExtensions.cloudExtensions"></span>
  </div>
  <div class="feature-list hybrid-services-user-sidepanel">
    <ul>

      <!-- Hybrid Calendar -->
      <li class="feature">
        <a href
           id="link_squared-fusion-cal"
           ng-click="$ctrl.drillDown('squared-fusion-cal')">
          <i class="feature-icon" ng-class="$ctrl.serviceIcon('squared-fusion-cal')"></i>
          <span class="feature-name" translate="hercules.serviceNames.squared-fusion-cal"></span>
          <span cs-loader
                class="feature-list-loader"
                ng-if="$ctrl.loadingPage"></span>
          <span ng-if="!$ctrl.loadingPage">
            <span ng-if="$ctrl.bothCalendarTypesWarning" translate="hercules.cloudExtensions.entitledToBothCalendarsShort" class="feature-status status-error"></span>
            <span ng-if="!$ctrl.bothCalendarTypesWarning">
              <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-cal') && !$ctrl.userIsEnabledInUSS('squared-fusion-gcal') && ($ctrl.userHasEntitlement('squared-fusion-cal') || $ctrl.userHasEntitlement('squared-fusion-gcal')) && !$ctrl.isInvitePending"
                    class="feature-status"
                    translate="hercules.activationStatus.pendingNotSetup"></span>
              <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-cal') && !$ctrl.userIsEnabledInUSS('squared-fusion-gcal') && ($ctrl.userHasEntitlement('squared-fusion-cal') || $ctrl.userHasEntitlement('squared-fusion-gcal')) && $ctrl.isInvitePending"
                    class="feature-status"
                    translate="hercules.activationStatus.accountNotActivated"></span>
              <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-cal') && !$ctrl.userIsEnabledInUSS('squared-fusion-gcal') && !($ctrl.userHasEntitlement('squared-fusion-cal') || $ctrl.userHasEntitlement('squared-fusion-gcal'))"
                    class="feature-status"
                    translate="common.off"></span>
              <span ng-if="$ctrl.userIsEnabledInUSS('squared-fusion-cal')"
                    class="feature-status"
                    ng-class="$ctrl.getStatus('squared-fusion-cal') ? 'status-' + $ctrl.getStatus('squared-fusion-cal') : ''"
                    translate="hercules.activationStatus.{{$ctrl.getStatus('squared-fusion-cal')}}"></span>
              <span ng-if="$ctrl.userIsEnabledInUSS('squared-fusion-gcal')"
                    class="feature-status"
                    ng-class="$ctrl.getStatus('squared-fusion-gcal') ? 'status-' + $ctrl.getStatus('squared-fusion-gcal') : ''"
                    translate="hercules.activationStatus.{{$ctrl.getStatus('squared-fusion-gcal')}}"></span>
            </span>
          </span>
          <i class="feature-arrow" ng-if="!$ctrl.loadingPage"></i>
        </a>
      </li>

      <!-- Hybrid Call -->
      <li class="feature">
        <a href
           id="link_squared-fusion-uc"
           ng-class="{'no-services': $ctrl.userIsEnabledForHuron }"
           ng-click="$ctrl.drillDown('squared-fusion-uc')">
          <i class="feature-icon" ng-class="$ctrl.serviceIcon('squared-fusion-uc')"></i>
          <span class="feature-name" translate="hercules.serviceNames.squared-fusion-uc"></span>
          <span cs-loader
                class="feature-list-loader"
                ng-if="$ctrl.loadingPage"></span>
          <span ng-if="!$ctrl.loadingPage">
            <span ng-if="$ctrl.userIsEnabledForHuron"
                  class="feature-status status-off"
                  translate="hercules.cloudExtensions.entitledToHuron"></span>
            <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-uc') && $ctrl.userHasEntitlement('squared-fusion-uc') && !$ctrl.userIsEnabledForHuron && !$ctrl.isInvitePending"
                  class="feature-status"
                  translate="hercules.activationStatus.pendingNotSetup"></span>
            <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-uc') && $ctrl.userHasEntitlement('squared-fusion-uc') && !$ctrl.userIsEnabledForHuron && $ctrl.isInvitePending"
                  class="feature-status"
                  translate="hercules.activationStatus.accountNotActivated"></span>
            <span ng-if="!$ctrl.userIsEnabledInUSS('squared-fusion-uc') && !$ctrl.userHasEntitlement('squared-fusion-uc') && !$ctrl.userIsEnabledForHuron"
                  class="feature-status"
                  translate="common.off"></span>
            <span ng-if="$ctrl.userIsEnabledInUSS('squared-fusion-uc') && !$ctrl.userIsEnabledForHuron"
                  class="feature-status"
                  ng-class="$ctrl.getStatus('squared-fusion-uc') ? 'status-' + $ctrl.getStatus('squared-fusion-uc') : ''"
                  translate="hercules.activationStatus.{{$ctrl.getStatus('squared-fusion-uc')}}"></span>
          </span>
          <i class="feature-arrow" ng-if="!$ctrl.userIsEnabledForHuron && !$ctrl.loadingPage"></i>
        </a>
      </li>

      <!-- Hybrid Message -->
      <li ng-if="$ctrl.atlasHybridImpFeatureToggle" class="feature">
        <a href
           id="link_spark-hybrid-impinterop"
           ng-click="$ctrl.drillDown('spark-hybrid-impinterop')">
          <i class="feature-icon" ng-class="$ctrl.serviceIcon('spark-hybrid-impinterop')"></i>
          <span class="feature-name" translate="hercules.serviceNames.spark-hybrid-impinterop"></span>
          <span cs-loader
                class="feature-list-loader"
                ng-if="$ctrl.loadingPage"></span>
          <span ng-if="!$ctrl.loadingPage">
            <span ng-if="!$ctrl.userIsEnabledInUSS('spark-hybrid-impinterop') && $ctrl.userHasEntitlement('spark-hybrid-impinterop') && !$ctrl.isInvitePending"
                  class="feature-status"
                  translate="hercules.activationStatus.pendingNotSetup"></span>
            <span ng-if="!$ctrl.userIsEnabledInUSS('spark-hybrid-impinterop') && $ctrl.userHasEntitlement('spark-hybrid-impinterop') && $ctrl.isInvitePending"
                  class="feature-status"
                  translate="hercules.activationStatus.accountNotActivated"></span>
            <span ng-if="!$ctrl.userIsEnabledInUSS('spark-hybrid-impinterop') && !$ctrl.userHasEntitlement('spark-hybrid-impinterop')"
                  class="feature-status"
                  translate="common.off"></span>
            <span ng-if="$ctrl.userIsEnabledInUSS('spark-hybrid-impinterop')"
                  class="feature-status"
                  ng-class="$ctrl.getStatus('spark-hybrid-impinterop') ? 'status-' + $ctrl.getStatus('spark-hybrid-impinterop') : ''"
                  translate="hercules.activationStatus.{{$ctrl.getStatus('spark-hybrid-impinterop')}}"></span>
          </span>
          <i class="feature-arrow" ng-if="!$ctrl.loadingPage"></i>
        </a>
      </li>

    </ul>
  </div>

  <hybrid-services-sidepanel-message ng-if="$ctrl.couldNotReadOffice365Status"
                                     severity="'error'"
                                     translation-key="'hercules.cloudExtensions.couldNotReadOffice365Status'">
  </hybrid-services-sidepanel-message>

  <hybrid-services-sidepanel-message ng-if="$ctrl.couldNotReadGoogleCalendarStatus"
                                     severity="'error'"
                                     translation-key="'hercules.cloudExtensions.couldNotReadGoogleCalendarStatus'">
  </hybrid-services-sidepanel-message>

  <hybrid-services-sidepanel-message ng-if="$ctrl.couldNotReadStatusesFromFMS"
                                     severity="'error'"
                                     translation-key="'hercules.cloudExtensions.couldNotReadFMSStatus'">
  </hybrid-services-sidepanel-message>

</cs-sp-section>
