//@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/functions/core';

.scroll-indicator-eoc-tag {
  height: 1px;
  margin-bottom: 1px;
  flex-shrink: 0;
}

.scroll-indicator {
  display: flex;
  position: relative;
  height: 0px;
  justify-content: center;

  &.ng-hide {
    opacity: 0;
  }

  &.ng-hide-add,
  &.ng-hide-remove {
    transition: opacity .25s ease-in-out;
  }

  .icon {
    opacity: 0.45;
    font-size: rem-calc(36);
    width: rem-calc(38);
    height: rem-calc(38);
    color: black;
    top: rem-calc(-52);
    transform: rotate(90deg);
    z-index: 999;
    &:hover {
      opacity: 0.65;
    }
  }
}
