hybrid-services-resource-group-selector {
  display: block;

  .hybrid-services-info-message, .hybrid-services-error-message {
    margin-top: 20px;
  }

  .saveCancelButtons {
    margin-top: 20px;
    text-align: right;
  }

  .resource-group-spinner {
    font-size: 1rem;
    margin-right: 1rem;
  }
}
