<cs-sp-section class="hybrid-services-user-sidepanel" ng-if="$ctrl.options.length > 1">
  <div class="section-title-row">
    <span class="section-name" translate="hercules.resourceGroups.resourceGroupHeading"></span>
  </div>
  <div ng-if="!resourceGroup.cannotFindResouceGroup">
    <p class="hybrid-service-description" translate="hercules.resourceGroups.setDescription"></p>

    <cs-select ng-if="!$ctrl.loading"
               ng-model="$ctrl.selectedResourceGroup"
               options="$ctrl.options"
               on-change-fn="$ctrl.selectedResourceGroupChanged()">
    </cs-select>

    <div ng-if="$ctrl.loading"
         cs-loader
         class="loader-example--small"></div>

  </div>

  <div ng-if="$ctrl.showButtons" class="saveCancelButtons">
    <span ng-if="$ctrl.saving" class="resource-group-spinner">
      <i class="icon icon-spinner"></i>
    </span>
    <button id="btn-cancel"
            ng-disabled="$ctrl.saving"
            translate="common.cancel"
            ng-click="$ctrl.reset()">
    </button>
    <button id="btn-save"
            ng-disabled="$ctrl.saving"
            class="btn--primary btn-save"
            ng-click="$ctrl.save()"
            translate="common.save">
    </button>
  </div>

  <div class="hybrid-services-warning-message" ng-if="$ctrl.showGroupIsEmptyWarning">
    <i class="icon icon-warning"></i>
    <p class="hybrid-services-message"
       translate="hercules.resourceGroups.groupIsEmptyWarning"
       translate-values="{ConnectorName: $ctrl.localizedConnectorName}">
    </p>
  </div>

  <div ng-if="$ctrl.userOwnedByCCC" class="hybrid-services-info-message">
    <i class="icon icon-info"></i>
    <p class="hybrid-services-message"
       translate="hercules.resourceGroups.cautionOwnedByCCC"></p>
  </div>

  <div ng-if="$ctrl.cannotFindResourceGroup" class="hybrid-services-error-message">
    <i class="icon icon-error"></i>
    <p class="hybrid-services-message"
       translate="hercules.resourceGroups.groupHasBeenDeleted"></p>
    <form>
      <button class="btn" type="submit" ng-click="$ctrl.setResourceGroupOnUser('')">
        <span translate="common.remove"></span>
      </button>
    </form>
  </div>

</cs-sp-section>
