@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/settings/colors';
@import 'styles/partials/mixins';

license-summary-item {

	.donut {
    width: 4rem;
  }

	h6 {
		font-family: $brand-font-regular;
		color: $gray-dark-2;
	}

	.license-count {
		white-space: nowrap;
	}

	usage-line {
		font-family: $brand-font-regular;
		font-size: 0.75rem;
		color: $gray-base;
	}
}
