<div class="customer-overview gemini-side-panel">
  <div ng-if="$ctrl.loading" class="grid-refresh">
    <i class="icon icon-spinner icon-3x"></i>
  </div>

  <div ng-if="!$ctrl.loading">
    <div ui-view="header"></div>

    <cs-alert-banner ng-if="$ctrl.model.isShowCancelSubmission && !$ctrl.model.btnCancelSubmissionLoading" type="warning">
      {{::'gemini.tds.submissionMsg' | translate}}
      <a href ng-click="$ctrl.onCancelSubmission()" translate="gemini.cbgs.cancelSubmissionLink"></a>
    </cs-alert-banner>

    <cs-alert-banner ng-if="$ctrl.model.isShowReject" type="danger">
      {{::'gemini.tds.rejectSubmissionMsg' | translate}}
    </cs-alert-banner>

    <div class="side-panel-container-view" ui-view="side-panel-container">
      <cs-sp-container class="gemini-side-panel gm-td-side-panel">
        <cs-sp-section>
          <div class="row">
            <div class="pull-left medium-3">
              <div class="feature-name">{{::'gemini.tds.field.partnerTdName' | translate}}:</div>
            </div>
            <div class="pull-left medium-6">
              <div popover-trigger="mouseenter" popover="{{$ctrl.model.customerAttribute.length > 33 ? $ctrl.model.customerAttribute : ''}}">
                <div class="feature-name ellipsis">{{$ctrl.model.customerAttribute}}</div>
              </div>
            </div>
            <div class="pull-right medium-3">
            <span class="pull-right" ng-if="$ctrl.model.status">
              <i class="icon icon-circle status-indicator"
                 ng-class="{'success': $ctrl.model.status === 'A' || $ctrl.model.status === 'P', 'danger': $ctrl.model.status === 'R' || $ctrl.model.status === 'L', 'warning': $ctrl.model.status === 'S', 'disabled': $ctrl.model.status === 'C'}"></i>
              {{$ctrl.model.status_}}
            </span>
            </div>
          </div>

          <div class="feature-list">
            <ul>
              <li class="feature" ng-if="$ctrl.totalSites">
                <a href ui-sref="gmTdDetails.sites({data: {tds: $ctrl.tds, customerId: $ctrl.customerId, curTd: $ctrl.model}})">
                  <span class="feature-name" translate="gemini.cbgs.field.totalSites"></span>
                  <span class="feature-status">{{$ctrl.totalSites}}</span>
                  <i class="feature-arrow"></i>
                </a>
              </li>
              <li class="feature" ng-if="!$ctrl.totalSites">
                <span class="feature-name" translate="gemini.cbgs.field.totalSites"></span>
                <span>0</span>
              </li>
            </ul>
          </div>

          <div class="row">
            <div class="medium-12">
              <span class="feature-name">{{::'gemini.region' | translate}}</span>
              <span class="pull-right">{{$ctrl.model.regionId}}</span>
            </div>
          </div>
          <div class="row">
            <div class="pull-left medium-4">
              <div class="feature-name">{{::'gemini.tds.noteToCisco' | translate}}</div>
            </div>
            <div class="pull-right medium-8">
              <div class="ellipsis" popover-trigger="mouseenter" popover="{{$ctrl.model.noteToCiscoTeam.length > 41 ? $ctrl.model.noteToCiscoTeam : ''}}">
                <div class="feature-name ellipsis text-right">{{$ctrl.model.noteToCiscoTeam}}</div>
              </div>
            </div>
          </div>
        </cs-sp-section>

        <cs-sp-section>
          <div class="section-title-row">
            <div class="row" ng-if="$ctrl.remedyTicketLoading">
              <i class="icon icon-spinner"></i>
            </div>
            <div ng-if="!$ctrl.remedyTicketLoading && $ctrl.remedyTicket">
              <p class="remedyTicket">{{::'gemini.cbgs.remedyTicket' | translate}}: <a href ng-click="$ctrl.onOpenRemedyTicket()">{{$ctrl.remedyTicket.remedyTicketId}}</a></p>
              <p>
                <small>{{::'gemini.cbgs.openedOn' | translate}} {{$ctrl.remedyTicket.createTime}} -
                  {{$ctrl.remedyTicket.status}}
                </small>
              </p>
            </div>
          </div>

          <div class="feature-list">
            <ul>
              <li class="feature">
                <a href ng-click="$ctrl.onSeeAllPhoneNumbers()">
                  <span class="feature-name" translate="gemini.tds.phoneNumbers"></span>
                  <span class="feature-status">{{$ctrl.telephonyNumberList.length}}</span>
                  <i class="feature-arrow"></i>
                </a>
              </li>
            </ul>
          </div>

          <div class="side-panel-defaultToll">
            <ul>
              <li ng-if="$ctrl.model.defaultToll">
                <div class="defaultToll-item-num">
                  <div>
                    <span class="ellipsis" popover-trigger="mouseenter" popover="{{$ctrl.model.defaultToll.phone}}">{{$ctrl.model.defaultToll.phone}}</span>
                  </div>
                </div>
                <div class="defaultToll-item-num">
                  <div>
                    <span class="ellipsis" popover-trigger="mouseenter" popover="{{$ctrl.model.defaultToll.label}}">{{$ctrl.model.defaultToll.label}}</span>
                  </div>
                </div>
                <div class="defaultToll-item-toll">
                  <div class="badge" translate="gemini.tds.defaultToll"></div>
                </div>
              </li>
              <li ng-if="$ctrl.model.defaultTollFree">
                <div class="defaultToll-item-num">
                  <div>
                    <span class="ellipsis" popover-trigger="mouseenter" popover="{{$ctrl.model.defaultTollFree.phone}}">{{$ctrl.model.defaultTollFree.phone}}</span>
                  </div>
                </div>
                <div class="defaultToll-item-num">
                  <div><span class="ellipsis" popover-trigger="mouseenter"
                             popover="{{$ctrl.model.defaultTollFree.label}}">{{$ctrl.model.defaultTollFree.label}}</span>
                  </div>
                </div>
                <div class="defaultToll-item-toll">
                  <div class="badge" translate="gemini.tds.defaultTollFree"></div>
                </div>
              </li>
            </ul>
          </div>
        </cs-sp-section>

        <cs-sp-section class="side-panel-note">
          <div class="feature-list note-title">
            <ul>
              <li class="feature">
                <a href ui-sref="gmTdDetails.notes({obj: {notes: $ctrl.notes, customerId: $ctrl.customerId, ccaDomainId: $ctrl.ccaDomainId}})">
                  <span class="feature-name" translate="gemini.cbgs.notes.notes"></span>
                  <span ng-if="!$ctrl.notes.length" class="feature-status" translate="gemini.cbgs.notes.noNotes"></span>
                  <span ng-if="$ctrl.notes.length" class="feature-status">{{$ctrl.notes.length}}</span>
                  <i class="feature-arrow"></i>
                </a>
              </li>
            </ul>
          </div>
        </cs-sp-section>

        <cs-sp-section class="side-panel-history">
          <div class="section-title-row">
            <div class="section-name" translate="gemini.cbgs.logs.history"></div>
          </div>
          <ul class="history-ul" ng-if="!$ctrl.hisLoading">
            <li ng-repeat="log in $ctrl.histories">
              <h6>{{log.action}}</h6>
              <h6 ng-if="log.objectName">{{log.objectName}}</h6>
              <p>
                <small>{{log.createdDate}} {{log.actionTime}} {{::'gemini.cbgs.by' | translate}} {{log.userName}}
                  {{!log.email ? '' : '(' + log.email + ')'}}
                </small>
              </p>
              <p>
                <small ng-if="log.moveSiteMsg">{{log.moveSiteMsg}}</small>
              </p>
            </li>
            <li>
              <div ng-if="$ctrl.isShowAllHistories">
                <a href ng-click="$ctrl.onShowAllHistories()" translate="gemini.cbgs.showMore"></a>
              </div>
            </li>
          </ul>
          <div ng-if="$ctrl.hisLoading">
            <i class="icon icon-spinner"></i>
          </div>
        </cs-sp-section>

        <cs-sp-buttons ng-if="$ctrl.model.status === 'S'">
          <button cs-btn type="button"
            class="btn btn--primary"
            loading="$ctrl.model.btnCancelSubmissionLoading"
            ng-click="$ctrl.onCancelSubmission()"
            ng-if="$ctrl.model.isShowCancelSubmission"
            ng-disabled="$ctrl.model.btnCancelSubmissionDisable">
            <span translate="gemini.button.cancelSubmission"></span>
          </button>
        </cs-sp-buttons>
      </cs-sp-container>
    </div>
  </div>

</div>
