@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/functions/core';
@import './private-trunk-setup/_private-trunk-setup';
.private-trunk {
  .li-margin-left {
    margin-left: 3rem;
  }
  .padding-p-bottom {
    padding-bottom: 1.5rem;
  }

  .padding-labels {
    padding-left: 1.5rem;
  }

  .sip-details {
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: -0.75rem;

    p, ul {
      font-size: 0.75rem;
    }
  }

  .cert-word-wrap {
    word-wrap: break-word;
    .bold {
      font-weight: bold;
    }
  }
  h5 {
    @include vr-spacing(mt, .5);
    @include vr-spacing(mb, .5);
  }
  .help {
    p {
      @include vr-spacing(mt, .25);
      @include vr-spacing(mb, .25);
    }
  }

  .needs-border-top {
    border-top: 1px solid $gray-light-2;
  }

  .top-margin {
    margin-top: -4rem;
  }
  .bottom-margin {
    margin-bottom: .75rem;
  }

  .domain-list {
    padding-left: 1rem;
  }

  .icon-error {
    @include vr-spacing(mt, 0.25);
    @include vr-spacing(mr, 0.5);
  }

  .exit-icon {
    padding-top: .5rem;
    font-size: 1.25rem;
    position: absolute;
    cursor: pointer;
  }

  .span-font-size {
    font-size: 1rem;
  }

  .font-settings {
    font-size: rem-calc(14px);
  }

  .add-align {
    padding-left: 1.5rem;
  }

  .label-align {
    padding-left: 1.25rem;
  }

  .float-right-view {
    float: right;
    position: relative;
    padding-right: 1.5rem;
    padding-top: 1rem;
    line-height: 1;
  }

  .margin-input {
    margin: 1rem 0;
  }

  .cert-top-margin {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }

  .cert-left {
    margin-left: 1.5rem;
  }

  .cert-color {
    color: $color-attention-light;
  }

  .cert-icon {
    line-height: 2;
    padding-left: 1.5rem;
  }

  .box.singlebox-margin {
    margin: .5rem 0 .5rem -.5rem;
  }

  .box.multibox-margin {
    margin: 1rem 0 .5rem -.5rem;
  }

  .padding-multi {
    padding-bottom: .5rem;
  }

  .margin-left {
    margin-left: 1.5rem;
  }

  .columns .box {
    border: thin solid $gray-light-2;
    color: $gray-base;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    &.multibox-margin {
      border: thin solid $gray-light-2;
      box-shadow: 0 1px 2px 0 $gray-light-2, inset 0 1px 0 0 $gray-lightest;
      border-radius: 2px;
    }
    &:nth-child(2n+1) {
      margin-right: 1rem;
    }
    .box-content {
      align-self: center;
      display: flex;
      background: transparent;
    }

    .box-disabled {
      background-color: $gray-light-3;
    }

    .icon.icon-upload {
      font-size: 1.5rem;
      display: inline;
      &:hover,
      &:active,
      &:focus {
        color: $brand-primary;
      }
      line-height: 1.5;
    }

    .icon-label {
      position: relative;
      top: .5rem;
      padding-left: .25rem;
    }

    .icon.close-icon-align {
      float: right;
      font-size: 1rem;
      padding-right: 1rem;
      line-height: 2;
    }

    .span-filename {
      padding-left: .5rem;
      font-size: 1rem;
    }
    .prompt {
      padding-bottom: .5rem;
      label {
        cursor: pointer;
        color: $link-color;

        &:hover {
          color: $link-hover-color;
        }

        display: inline;
      }
    }
  }

  .flex-center-container {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .certificate-upload {
    flex: 1 1 auto;
    height: 100%;
    .hotspot {
      cursor: pointer;
      &:hover {
        color: $brand-primary;
      }
    }

    label.hotspot {
      font-size: vr-adjust(16);
      text-align: right;
    }
    .span-text {
      position: relative;
      bottom: .5rem;
      padding-left: .5rem;
    }
    .file-drop {
      @extend .flex-center-container;

      flex-direction: column;

      &.dragover {
        background: $color-primary-lighter;
        border: dashed $color-primary;
      }

      input {
        display: none;
      }
    }

    .file-drop-inactive {
      @extend .file-drop;

      .file-drop-content {
        background: $gray-light-4;

        .icon-check {
          color: $color-cta-base;
        }
      }

      .file-name {
        @include vr-spacing(mt, 0.25);
      }
    }
  }
}
