@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';

.section-title-row {
  a.as-button {
    color: $anchor-font-color;
  }

  a.as-arrow {
    font-size: 1.5rem;
    line-height: 2.25rem;
    width: auto;
    color: $gray-dark-1;
  }
}
