@import '~@collabui/collab-ui/scss/settings/fonts';

.ct-customer {
  align-items: center;

  @mixin placeholder {
    /* stylelint-disable selector-no-vendor-prefix */
    ::-webkit-input-placeholder {
      @content;
    }

    :-moz-placeholder {
      @content;
    }

    ::-moz-placeholder {
      @content;
    }

    :-ms-input-placeholder {
      @content;
    }
    /* stylelint-enable selector-no-vendor-prefix */
  }

  .ct-customer-card {
    @include vr-spacing(ml, 2);
    @include vr-spacing(mt, 5);

    width: rem-calc(414px);
    height: rem-calc(532px);
    display: flex;
    flex-flow: column;

    .cardHeader1 {
      text-align: center;
      color: $gray-dark-1;
    }

    .customerHeader {
      background-color: $gray-light-4;
      border-color: $gray-light-3;
      border-width: rem-calc(1px);
      border-style: solid;

      &:hover {
        background-color: $color-primary-lighter;
        cursor: pointer;
      }
    }

    .tooltip.popover {
      top: 1rem !important;
      left: 9.1rem !important;
      word-wrap: inherit;
      word-break: inherit;
    }

    .popover.right>.arrow {
      top: 7% !important;
    }
  }

  .customer-preview-article {
    height: rem-calc(500);
  }

  .customer-attributes-article {
    min-height: rem-calc(500);
  }

  .cs-card-layout.cs-card-block {
    height: rem-calc(530px);
  }

  .ct-left-row {
    &:hover {
      background-color: $color-primary-lighter;
    }
  }

  .ct-article {
    box-shadow: none;
    border: 1px solid $gray-light-1;
  }

  .escalation-required-info {
    font-size: rem-calc(10px);
    padding-left: 1.7rem;
    position: relative;
    .msg {
      color: $gray-dark-1;
      font-size: rem-calc(10px);
    }

    .popover-content {
      color: $gray-dark-2;
      cursor: pointer;
      font-family: $brand-font-light;
      font-size: rem-calc(11.2px);
      line-height: rem-calc(16px);
      padding: rem-calc(16px);
      overflow: auto;
      height: rem-calc(128px);
      width: rem-calc(224px);
      text-align: left;
      padding-left: rem-calc(20px);
    }

    .icon-eva-details {
      color: $gray-light-1;
      cursor: pointer;
      padding-left: rem-calc(1px);
    }

    .icon-eva-details-toggle {
      color: $color-blue-base;
    }
  }

  .escalation-required-info-category {
    padding-left: 1.1rem;
  }

  .welcomeText {
    @include vr-spacing(mb, 0);

    font-family: $brand-font-light;
    font-size: rem-calc(22px);
    color: $color-primary-base;
    max-width: 100%;
  }

  .orgText {
    font-family: $brand-font-light;
    font-size: rem-calc(16px);
    color: $gray-dark-2;
    margin-bottom: 0;
  }

  .labelText {
    @include vr-spacing(mt, 0.5);
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.1);
    @include vr-spacing(pr, 0.15);

    color: $gray-dark-2;
    opacity: 0.5;
    max-width: 70%;
  }

  .textOverflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .typeText {
    @include vr-spacing(mt, 0.25);
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.25);

    color: $gray-dark-2;
    opacity: 0.5;
  }

  .inputField {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.1);

    font-family: $brand-font-light;
    color: $gray-dark-2;
  }

  .inputField_select {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.8);

    color: $gray-dark-2;
    width: 90%;

    .form-control {
      background-color: white;
    }
  }

  .ct-left-cs-input {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, .5);

    border-color: $gray-light-3;
    cursor: default;
    color: $gray-dark-1;
    pointer-events: none;
    font-family: $brand-font-light;
    font-size: rem-calc(16px);
    width: 90%;

    ~ i {
      @include vr-spacing(ml, -2.4);

      font-size: rem-calc(24px);
      color: $gray-base;
      line-height: inherit;
      pointer-events: none;
      position: relative;
    }

    background-color: $white !important;
  }

  .ct-left-cs-text-area {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.5);

    @include vr-spacing(pl, 0.5);

    border-color: $gray-light-3;
    cursor: default;
    pointer-events: none;
    font-family: $brand-font-light;
    font-size: rem-calc(16px);
    width: 90%;
    background-color: $white !important;
    height: 3rem;
    resize: none;
  }

  .ct-footer {
    color: $gray-light-1;
    border-top: 1px solid $gray-light-3;

    @include vr-spacing(pv, 0.75);
    @include vr-spacing(pl, 0.5);
  }

  .ct-selectable-element {
    &.active {
      color: $color-primary-darker;
    }
  }

  .ct-selectable-container {
    &.active {
      border-color: $color-primary-darker;
      border-style: none;
      border-width: rem-calc(1px);
      background-color: white;
    }
  }

  .ct-flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .ct-flex-topleft {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .ct-attribute-section {
    background-color: $gray-light-4;
  }

  .ct-attribute-section.item-not-selected {
    display: flex;
    flex-flow: column;

    .ct-default-msg {
      text-align: center;
      flex: 0;
      font-family: $brand-font-light;
      color: $gray-dark-1;
    }
  }

  .ct-attribute-field-helptext {
    @include vr-spacing(pt, 0.25);
    @include vr-spacing(pb, 0);
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0);
    @include vr-spacing(mt, 0);

    font: italic 12px $brand-font-regular;
    color: $gray-light-1;
  }

  .ct-attribute-field-label {
    @include vr-spacing(mb, 0);
    @include vr-spacing(ml, 1);
    @include vr-spacing(pt, 0.5);

    font-family: $brand-font-regular;
  }

  .ct-attribute-field-textbox {
    @include placeholder {
      line-height: rem-calc(12px);
    }

    @include vr-spacing(ml, 1);

    font-family: $brand-font-light;
    width: 90%;
  }

  .ct-attribute-field-textbox_error {
    @include placeholder {
      line-height: rem-calc(12px);
    }

    @include vr-spacing(ml, 1);

    font-family: $brand-font-light;
    width: 90%;

    > div > div > a {
      border-color: $color-alerts-base;
    }
  }

  .ct-attribute-field-radio {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mt, 1);
    @include vr-spacing(mb, 0);

    font-family: $brand-font-light;
  }

  .ct-flex-container {
    display: flex;
    flex-flow: row row;
  }

  .ct-attribute-row {
    width: 100%;

    .ct-customer-info-category-input {
      @include vr-spacing(mt, 0.25);
      .icon-warning::before {
        color: $color-attention-base;
      }
      .category-validation-warning {
        font-family: $brand-font-regular;
        padding-top: 0;
        margin-left: 1rem;
      }
      .no-data-warning {
        font-size: 1.13rem;
        vertical-align: -12%;
        padding-right: .2rem;
      }
    }
  }

  .right-inner-addon {
    position: relative;
  }

  .right-inner-addon input {
    @include vr-spacing(pr, 0.3125);
  }

  .right-inner-addon i {
    position: absolute;
    right: 0rem;

    @include vr-spacing(mv, 0.6);
    @include vr-spacing(mh, 2);
  }

  .category-tokens {
    .tokenfield.form-control,
    .tokenfield.form-control-static {
      @include vr-spacing(mh, 1);

      height: 4rem;
      overflow-y: auto;
      overflow-x: hidden;

      input.token-input {
        border-color: transparent;
        outline: 0;
        background-color: transparent;
        box-shadow: none;
      }

      .token {
        height: rem-calc(39px);
        pointer-events: none;

        .token-label {
          padding-top: rem-calc(3px);

          @include vr-spacing(mr, 0.5);
        }

        .close {
          font-size: 1.2em;
          padding-top: rem-calc(0px);
          line-height: 0.9em;
          pointer-events: all;
        }
      }
    }
  }

  .ct-input-error {
    color: $color-alerts-base;
    line-height: 1.25rem;

    @include vr-spacing(pl, 1);
    @include vr-spacing(pr, 1);
    @include vr-spacing(pb, 1);
  }

  .cs-input__messages {
    @include vr-spacing(pl, 1);

    padding-left: 1rem;
  }

  .ct-error-icon {
    float: left;

    @include vr-spacing(pb, 0.4);
    @include vr-spacing(pr, 0.4);
  }

  .ct-error-border {
    border-color: $color-alerts-base;
  }

  .ct-add-contain {
    cursor: pointer;
    outline: none;
  }

  .cs-input-group {
    @include vr-spacing(mb, 0.5);
  }

  .customer-card-layout {
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }

  .actionBtn {
    @include vr-spacing(pl, 1);
    @include vr-spacing(pr, 1);
    @include vr-spacing(ml, 6);
    @include vr-spacing(mt, 1);
    @include vr-spacing(mb, 1);
  }

  .start-chat {
    @include vr-spacing(pl, 1);
    @include vr-spacing(pr, 1);
    @include vr-spacing(ml, 8);
    @include vr-spacing(mt, 1);
    @include vr-spacing(mb, 1);
  }

  .block-display {
    display: flex;
  }

  .alert-message {
    color: $color-alerts-base;
    line-height: 1rem;
    @include vr-spacing(ml ,1.5);
    @include vr-spacing(mt ,0.125);
  }
  .alert-icon {
    color: $color-alerts-base;
  }

  .ct-country-select {
    @include vr-spacing(pl, 1);
    @include vr-spacing(mb, 1);
    width: 94%;

    [disabled].select-toggle {
      background-color: white;
    }
    .icon-chevron-down {
      display: none;
    }
  }

  .phone-number {
    width: 100%;
    font-size: 16px;
    input[type="text"] {
      width: 100%;
      @include vr-spacing(pl, 0.25);
      @include vr-spacing(pr, 6.7);
      &:disabled {
        background-color: white;
      }
    }
  }

  .select-toggle {
    padding-right: 0rem;
    margin-right: 0rem;
  }

  .no-margin {
    margin-bottom: 0rem;
  }
}
