.cva-config-overview-box {
  @include vr-spacing(p, 1.6875);
  height: rem-calc(363px);
  width: rem-calc(612px);

  h6 {
    @include vr-spacing(pt, 0.75);
  }

  h4 {
    font-weight: bold;
  }

  .cs-input-group {
    @include vr-spacing(mt, 1.625);
    @include vr-spacing(mb, 0);

    span {
      @include vr-spacing(mt, 1.625);
      font-size: rem-calc(14px);
      color: $gray-dark-2;
      letter-spacing: 0;
    }
  }

  .radio-desc {
    @include vr-spacing(pl, 1.875);
    font-size: rem-calc(12px);

    span {
      font-size: rem-calc(12px);
      color: $gray-dark-1;
      letter-spacing: 0;
      line-height: rem-calc(20px);
    }
  }
}