@import '~@collabui/collab-ui/scss/settings/fonts';

.eva-configuration-steps-box {
  @include vr-spacing(mb, 1.5);
  @include vr-spacing(p, 1.625);
  width: rem-calc(650px);

  .instruction-title {
    @include vr-spacing(mr, 3.0);
    display: flex;

    h4 {
      font-family: $brand-font-regular;
      font-size: rem-calc(20px);
      color: $gray-dark-2;
      letter-spacing: 0;
      line-height: rem-calc(32px);
    }
  }

  .instruction-row {
    @include vr-spacing(pt, 1);
    display: flex;

    .icon-circle {
      @include vr-spacing(mt, 0.1875);
      @include vr-spacing(mr, 1.25);
      height: rem-calc(24px);
      width: rem-calc(24px);
    }

    h5 {
      font-size: rem-calc(20px);
      letter-spacing: 0;
      line-height: rem-calc(32px);

      .icon-information {
        color: $gray-light-1;
        cursor: pointer;
      }

      .icon-information:hover {
        color: $color-blue-dark;
      }

    }
  }

  .learn-more-row {
    @include vr-spacing(pt, 1.25);
    display: flex;

    a {
      font-family: $brand-font-light;
      font-size: rem-calc(14px);
      letter-spacing: 0;
      line-height: rem-calc(24px);
    }

    span {
      @include vr-spacing(pl, 0.3125);
      font-family: $brand-font-light;
      font-size: rem-calc(14px);
      color: $gray-dark-1;
      letter-spacing: 0;
      line-height: rem-calc(24px);
    }
  }
}
