.eva-default-space-box {
  @include vr-spacing(mb, 1.5);
  @include vr-spacing(pt, 1.625);
  @include vr-spacing(pb, 1.625);
  @include vr-spacing(pl, 1.625);
  @include vr-spacing(pr, 3.5);
  width: rem-calc(650px);

  .row {
    @include vr-spacing(pt, 2.0);
    @include vr-spacing(pr, 5.0);
  }

  .select-options > li > a {
    color: $gray-dark;
  }

  .placeholder {
    color: $gray-light-2;
  }

  .note-info {
    @include vr-spacing(mt, 3.0);
    @include vr-spacing(pr, 2.5);
    color: $color-blue-dark;
  }

  .warning-message, .note-info {
    line-height: 1.5;
    display: inline-flex;
    font-size: smaller;

    .icon {
      @include vr-spacing(mr, 0.5);
      @include vr-spacing(pt, 0.125);
    }
  }

  .warning-message {
    @include vr-spacing(mb, 2.0, 0px, true); // -2px
    @include vr-spacing(mt, 0.5);
  }

  .icon-warning {
    color: $color-attention-base;
  }

  .warning-text {
    color: $color-attention-darker;
  }

  .msg-container {
    visibility: hidden;
  }

  .select-list.warn .select-toggle:not(:focus) {
      background-color: $color-attention-light;
  }
}
