<div ng-form="directoryNumberForm" class="cs-form">
  <div class="cs-form__section">
    <div class="section__info">
      <h4 class="section__title" translate="directoryNumberPanel.directNumbers"></h4>
      <p class="section__description" translate="directoryNumberPanel.internalNumberLabel"></p>
    </div>
    <div class="cs-input-group section__content">
      <div class="cs-input-group">
        <label ng-if="$ctrl.showExtensions"
          for="internalNumber"
          translate="directoryNumberPanel.internalNumberExtension"
          class="cs-input__label">
      </label>
        <label ng-if="!$ctrl.showExtensions"
          for="internalNumber"
          translate="directoryNumberPanel.externalNumberLabel"
          class="cs-input__label">
      </label>
        <cs-select name="internalNumber"
          ng-model="$ctrl.internalSelected"
          options="$ctrl.internalOptions"
          refresh-data-fn="$ctrl.refreshInternal(filter)"
          wait-time="0" placeholder="$ctrl.placeholder"
          input-placeholder="$ctrl.inputPlaceholder"
          required="true"
          is-warn="{{$ctrl.internalIsWarn}}"
          warn-msg="{{$ctrl.internalWarnMsg}}"
          on-change-fn="$ctrl.changeInternal()"
          filter="true">
        </cs-select>
        <div class="esn-number-field" ng-class="{warningMargin: $ctrl.internalIsWarn}">
          <p ng-if="!$ctrl.isHI1484 && $ctrl.showExtensions" class="cs-input__help-text">
            <span translate="directoryNumberPanel.enterpriseSiteNumberLabel"></span>
            <span ng-bind="$ctrl.esnPrefix"></span><strong class="esn-extension" ng-bind="$ctrl.internalSelected.label"></strong>
          </p>
          <p ng-if="$ctrl.isHI1484 && $ctrl.showExtensions && !$ctrl.compareInternalAndSiteToSiteNumber()" class="cs-input__help-text">
            <span translate="directoryNumberPanel.locationSiteToSiteNumberLabel"></span>
            <span ng-bind="$ctrl.esnPrefix"></span><strong class="esn-extension" ng-bind="$ctrl.internalSelected.value"></strong>
          </p>
          <p ng-if="!$ctrl.showExtensions" class="cs-input__help-text">
            <span translate="directoryNumberPanel.nationalNumberLabel"></span>:
            <span ng-bind="$ctrl.externalSelected.label"></span>
          </p>
        </div>
      </div>
      <div class="cs-input-group" ng-if="$ctrl.showExtensions">
        <label for="externalNumber"
          translate="directoryNumberPanel.externalNumberLabel"
          class="cs-input__label">
        </label>
        <cs-select name="externalNumber"
          ng-model="$ctrl.externalSelected"
          options="$ctrl.externalOptions"
          refresh-data-fn="$ctrl.refreshExternal(filter)"
          wait-time="0"
          placeholder="$ctrl.nonePlaceholder"
          input-placeholder="$ctrl.inputPlaceholder"
          filter="true"
          on-change-fn="$ctrl.changeExternal()">
        </cs-select>
      </div>
    </div>
  </div>
</div>
