<h4 translate="directoryNumberPanel.directNumbers"></h4>
<div class="form-group">
  <span translate="directoryNumberPanel.internalNumberLabel"></span>
</div>
<div class="form-group">
  <label for="internalNumber">
    {{'directoryNumberPanel.internalNumberExtension' | translate}}<span class="asterix">*</span>
    <span popover="{{'directoryNumberPanel.internalNumberExtensionTooltip' | translate}}">
      <i class="dn-help-icon"></i>
    </span>
  </label>
  <cs-select
    name="internalNumber"
    ng-model="lineSettings.assignedInternalNumber"
    options="lineSettings.internalNumberPool"
    refresh-data-fn="lineSettings.loadInternalNumberPool(filter)"
    wait-time="0"
    placeholder="lineSettings.placeholder"
    input-placeholder="lineSettings.inputPlaceholder"
    labelfield="pattern"
    valuefield="uuid"
    required="true"
    filter="true">
  </cs-select>
  <div class="esn-number-field">
    <p>
      {{'directoryNumberPanel.enterpriseSiteNumberLabel' | translate }}&nbsp;
      {{lineSettings.telephonyInfo.siteSteeringDigit}}{{lineSettings.telephonyInfo.siteCode}}<strong class="esn-extension" id="esnTail">{{lineSettings.assignedInternalNumber.pattern}}</strong>
    </p>
  </div>
</div>
<div class="form-group">
  <label for="externalNumber">
    {{'directoryNumberPanel.externalNumberLabel' | translate}}
    <span popover="{{'directoryNumberPanel.externalNumberTooltip' | translate}}">
      <i class="dn-help-icon"></i>
    </span>
  </label>
  <cs-select
    name="externalNumber"
    ng-model="lineSettings.assignedExternalNumber"
    options="lineSettings.externalNumberPool"
    refresh-data-fn="lineSettings.loadExternalNumberPool(filter)"
    wait-time="0"
    placeholder="lineSettings.nonePlaceholder"
    input-placeholder="lineSettings.inputPlaceholder"
    labelfield="pattern"
    valuefield="uuid"
    filter="true">
  </cs-select>
</div>
