<h4 translate="directoryNumberPanel.directNumbers"></h4>
<div class="form-group">
  <span translate="directoryNumberPanel.internalNumberLabel"></span>
</div>
<div class="form-group">
  <label for="internalNumber">
    {{lineSettings.internalNumberLabel}}
  </label>
  <cs-select
    name="internalNumber"
    ng-model="lineSettings.assignedInternalNumber"
    options="lineSettings.internalNumberPool"
    refresh-data-fn="lineSettings.loadInternalNumberPool(filter)"
    wait-time="0"
    placeholder="lineSettings.placeholder"
    input-placeholder="lineSettings.inputPlaceholder"
    labelfield="pattern"
    valuefield="uuid"
    required="true"
    ng-class="{'warning': lineSettings.checkDnOverlapsSteeringDigit()}"
    on-change-fn="lineSettings.syncDidDn('internalNumber')"
    filter="true">
  </cs-select>
  <div ng-if="lineSettings.checkDnOverlapsSteeringDigit()" class="dn-warning-text">{{'directoryNumberPanel.steeringDigitOverlapWarning' | translate: { steeringDigitInTranslation: lineSettings.telephonyInfo.steeringDigit } }}</div>
  <div class="esn-number-field">
    <p ng-if="lineSettings.showExtensions">
      {{'directoryNumberPanel.enterpriseSiteNumberLabel' | translate }}&nbsp;
      {{lineSettings.telephonyInfo.siteSteeringDigit}}{{lineSettings.telephonyInfo.siteCode}}<strong class="esn-extension" id="esnTail">{{lineSettings.assignedInternalNumber.pattern}}</strong>
    </p>
    <p ng-if="!lineSettings.showExtensions">
      {{'directoryNumberPanel.nationalNumberLabel' | translate}}:
      {{lineSettings.assignedExternalNumber.pattern}}
    </p>
  </div>
</div>
<div class="form-group" ng-if="lineSettings.showExtensions">
  <label for="externalNumber">
    {{'directoryNumberPanel.externalNumberLabel' | translate}}
  </label>
  <cs-select
    name="externalNumber"
    ng-model="lineSettings.assignedExternalNumber"
    options="lineSettings.externalNumberPool"
    refresh-data-fn="lineSettings.loadExternalNumberPool(filter)"
    wait-time="0"
    placeholder="lineSettings.nonePlaceholder"
    input-placeholder="lineSettings.inputPlaceholder"
    labelfield="pattern"
    valuefield="uuid"
    filter="true"
    on-change-fn="lineSettings.syncDidDn('externalNumber')">
  </cs-select>
