@import '~@collabui/collab-ui/scss/settings/media';
@import 'styles/partials/mixins';
@import 'modules/core/users/shared/cr-action-cards/cr-action-cards.variables';

cr-action-cards-container {
  @include keep-flex-container(row);
}

.cr-action-cards-container {
  @include keep-flex-container(row);
  flex-wrap: wrap;

  @media #{$small-up} {
    margin: -$cr-action-cards-container-margin--small;
  }
  @media #{$large-up} {
    margin: -$cr-action-cards-container-margin--large;
  }
}
