
<div ng-if="showSpinner">
  <div align="center">
    <i class="icon icon-spinner icon-2x"></i>
  </div>
</div>

<div id="iframeContainer"
     name="iframeContainer">

  <iframe ng-if="showSpinner"
          class="iframeContainerShifted"
          i-frame-resizable="iframeContainer"
          ng-style="{'width': '100%', 'height': iframeHeight }"
          name="webexIframeContainer"
          id="webexIframeContainer"
          frameborder="0"
          title="{{siteSettingLabel}}">
  </iframe>

  <iframe ng-if="!showSpinner"
          i-frame-resizable="iframeContainer"
          ng-style="{'width': '100%', 'height': iframeHeight }"
          name="webexIframeContainer"
          id="webexIframeContainer"
          frameborder="0"
          title="{{siteSettingLabel}}">
  </iframe>
</div>

<form name="iframeForm"
      id="iframeForm"
      action={{trustIframeUrl}}
      method="post"
      target="webexIframeContainer">
               
  <input id="adminEmail"
         name="adminEmail"
         type="hidden"
         value={{adminEmail}} />
         
  <input id="authorization"
         name="authorization"
         type="hidden"
         value={{authToken}} />
  
  <input id="locale"
         name="locale"
         type="hidden"
         value={{locale}} />

  <input id="ngxsiteurl"
         name="ngxsiteurl"
         type="hidden"
         value={{siteName}} />

  <input id="ngxfullsparkdns"
         name="ngxfullsparkdns"
         type="hidden"
         value={{fullSparkDNS}} />
  
  <button id="submitFormBtn"
          type="submit"
          style="background-color:#ff00ff;cursor:pointer;width:100px;display:none;"
          onclick="this.parentElement.submit();">
  </button>
</form>
