<div ng-if="!isIframeLoaded"
     id="webexIframeLoading"
     name="webexIframeLoading"
     align="center">

  <br>
  <i class="icon icon-spinner icon-2x"></i>
</div>

<div ng-show="isIframeLoaded"
     id="iframeContainer"
     name="iframeContainer">

  <iframe id="webexIframeContainer"
          name="webexIframeContainer"
          load-event
          on-load-event="iframeLoaded(elemScope)"
          i-frame-resizable="iframeContainer"
          ng-style="{'width': '100%', 'height': iframeHeight }"
          frameborder="0"
          title="{{siteSettingLabel}}"
          >
  </iframe>
</div>

<form id="iframeForm"
      name="iframeForm"
      action={{trustIframeUrl}}
      method="post"
      target="webexIframeContainer">

  <input id="adminEmail"
         name="adminEmail"
         type="hidden"
         value={{adminEmail}} />

  <input id="authorization"
         name="authorization"
         type="hidden"
         value={{authToken}} />

  <input id="locale"
         name="locale"
         type="hidden"
         value={{locale}} />

  <input id="ngxsiteurl"
         name="ngxsiteurl"
         type="hidden"
         value={{siteName}} />

  <input id="ngxfullsparkdns"
         name="ngxfullsparkdns"
         type="hidden"
         value={{fullSparkDNS}} />

  <button id="submitFormBtn"
          type="submit"
          hidden
          onclick="this.parentElement.submit();">
  </button>
</form>
