<div class="page-title">
  <span class="title-heading" translate="cdrLogs.title"/>
</div>
<div class="cdr">
  <div class="cdr-content">
    <div class="searchUpload">
      <form class="searchUpdateForm" novalidate name="cdr.searchAndUploadForm">
        <formly-form model="cdr.model" fields="cdr.fields"></formly-form>
      </form>
    </div>
    <div class="cdrDisplay">
      <h2 class="cdr-title" translate="cdrLogs.callsSubtitle"></h2>
      <div class="spinner-position" ng-if="cdr.gridData === null || cdr.listRetrieved === false">
        <i class='icon icon-spinner icon-2x'></i>
      </div>
      <div ng-if="cdr.dataState === 0">
        <span class="cdr-no-data" translate="cdrLogs.noData"></span>
      </div>
      <div ng-if="cdr.listRetrieved === false">
        <span class="cdr-no-data" translate="cdrLogs.retrievingList"></span>
      </div>
      <cs-accordion close-others="true">
        <cs-accordion-group ng-repeat="call in cdr.gridData" display-status="{{cdr.statusAvalibility(call)}}" show-caret="true">
          <cs-accordion-heading>
            <span ng-click="cdr.resize()">
              <span class="icon " ng-class="{ 'icon-error' : cdr.statusAvalibility(call) == 'danger'}"></span> {{cdr.getAccordionHeader(call)}}
            <span class="pull-right caret"></span>
            </span>
          </cs-accordion-heading>
          <div>
            <h3 class="cdr-title cdr-accordion-title" translate="cdrLogs.cdrTableTitle"></h3>
            <div class="cdrTable">
              <table class="table table-bordered">
                <colgroup>
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-2">
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-2">
                  <col class="medium-2">
                </colgroup>
                <thead>
                  <tr>
                    <th translate='cdrLogs.timeStamp'></th>
                    <th translate='cdrLogs.callingDeviceName'></th>
                    <th translate='cdrLogs.callingPartyNumber'></th>
                    <th class="center" translate='cdrLogs.callingCause'></th>
                    <th translate='cdrLogs.calledDeviceName'></th>
                    <th translate='cdrLogs.calledPartyNumber'></th>
                    <th class="center" translate='cdrLogs.calledCause'></th>
                    <th class="center" translate='cdrLogs.duration'></th>
                  </tr>
                </thead>
              </table>
            </div>
            <div id="cdrtable{{$index}}" class="cdrTable table-body">
              <table class="table table-bordered">
                <colgroup>
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-2">
                  <col class="medium-3">
                  <col class="medium-3">
                  <col class="medium-2">
                  <col class="medium-2">
                </colgroup>
                <tbody ng-repeat="callSegment in call">
                  <tr ng-repeat="data in callSegment" ng-click='cdr.selectCDR(data, call)' ng-class="{'selectedCDR': data.name === cdr.selectedCDR.name}" id="{{::data.name}}">
                    <td>{{::data['@timestamp']}}</td>
                    <td>{{::data.dataParam.calling_deviceName}}</td>
                    <td>{{::data.dataParam.calling_partyNumber}}</td>
                    <td class="center">{{::data.dataParam.calling_cause_Value}}</td>
                    <td>{{::data.dataParam.called_deviceName}}</td>
                    <td>{{::data.dataParam.called_partyNumber}}</td>
                    <td class="center">{{::data.dataParam.called_cause_Value}}</td>
                    <td class="center">{{::data.dataParam.duration}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <h3 class="cdr-title cdr-accordion-title" translate="cdrLogs.sessionIds"></h3>
          <div ng-repeat="callSegment in call">
            <div class="session-id"><b><span translate="cdrLogs.local"></span> {{callSegment[0].dataParam.localSessionID}}</b></div>
            <div class="session-id"><b><span translate="cdrLogs.remote"></span> {{callSegment[0].dataParam.remoteSessionID}}</b></div>
          </div>
        </cs-accordion-group>
      </cs-accordion>
    </div>
  </div>
</div>