.cdr-diagram {
  .spinner-position {
    position: relative;
    top: rem-calc(250);
    width: 100%;
    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .download {
    padding-top: rem-calc(10);
  }
  .filter {
    padding-top: rem-calc(10);
  }
  .options {
    padding-bottom: rem-calc(15);
  }
  .diagram {
    overflow: auto;
  }
  .filter-label {
    padding-left: rem-calc(8);
  }
}
