@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';



.hcs-upgrade-cluster-status{
  .upgrade-cluster-status-grid {
    .cluster-grid-header {
      background-color: $gray-light-4;
    }
    .cluster-grid-cell {
      background-color: $white;
    }

    .ui-grid-row {
      border-bottom: none;
      height: 56px;
      background-color: $white;
      &:hover {
        background-color: $gray-light-4;
      }
    }
  }
}
