@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';



.hcs-upgrade-cluster-status{
  .upgrade-cluster-status-grid {
    .cluster-grid-header {
      background-color: $gray-light-4;
    }

    .ui-grid-row {
      border-bottom: none;
      height: 56px;
      background-color: $white;
      &:hover {
        background-color: transparent;
      }

      .ui-grid-cell-contents.selected {
        .h5 {
          color:  $white;
        }
      }
    }
  }
}
