<div class="grid-contents" ng-click="grid.appScope.selectRow(grid, row)">
  <span cs-dropdown class="actions-menu">
    <button cs-dropdown-toggle
      id="actionsButton"
      class="btn--none dropdown-toggle icon icon-three-dots"
      ng-click="$event.stopPropagation();"
      ng-keydown="$event.stopPropagation();"
      ng-class="dropdown-toggle"
      aria-label="{{:: 'common.toggleMenu' | translate}}">
    </button>
    <ul cs-dropdown-menu style="height: fit-content;" class="dropdown-menu dropdown-primary" role="menu">

      <li>
        <a href
          ng-click="grid.appScope.gotoWebexHomePage(row.entity)"
          translate= "accountLinking.grid.actions.launchWebExSiteAdmin">
        </a>
      </li>

      <li>
        <a href
           ng-click="grid.appScope.showReports(row.entity)"
           translate= "accountLinking.grid.actions.webExReports">
        </a>
      </li>

      <li>
        <a href
           ng-click="grid.appScope.gotoWebexListSitesPage(row.entity)"
           translate= "accountLinking.grid.actions.accountLinkingProgress">
        </a>
      </li>

      <li>
        <a href
           ng-if="grid.appScope.allowModifyingLinkingMode(row.entity)"
           ng-click="grid.appScope.modifyLinkingMethod(row.entity)"
           translate="accountLinking.grid.actions.changeLinkingMethod">
        </a>
      </li>
    </ul>
  </span>
</div>
