<multi-step-modal
  l10n-title="ssoCertificateModal.updateCertificate"
  dismiss="$ctrl.dismissModal()"
  next="$ctrl.next()"
  next-removed="$ctrl.nextRemoved"
  next-disabled="$ctrl.nextDisabled"
  custom-finish="$ctrl.submit()"
  custom-finish-removed="$ctrl.submitRemoved"
  custom-finish-l10n-label="common.submit"
  >
  <div class="content text-center">
    <div class="content__icon">
      <i class="icon icon-circle-check-mark-success icon-5x"></i>
    </div>
    <div class="content__paragraph text-left">
      <p><strong>{{::'ssoCertificateModal.checkCertificate' | translate}}</strong></p>
    </div>
    <div class="content__radio cs-radio-group text-left">
      <input cs-input type="radio"
              ng-model="$ctrl.certificateType"
              name="certificateRadio"
              ng-change="$ctrl.onCertificateTypeChanged('SIGNING')"
              id="signing"
              value="SIGNING"
              cs-input-label="{{::'ssoCertificateModal.signingAuthN' | translate}}">
      <input cs-input type="radio"
              ng-model="$ctrl.certificateType"
              name="certificateRadio"
              ng-change="$ctrl.onCertificateTypeChanged('NONE')"
              id="none"
              value="NONE"
              cs-input-label="{{::'ssoCertificateModal.noneApply' | translate}}">
    </div>
    <div class="content__paragraph--space">
      <div class="content__paragraph text-center" ng-show="$ctrl.certificateType === 'SIGNING'">
        <p><strong>{{::'ssoCertificateModal.needToUpdateCertificate' | translate}}</strong></p>
      </div>
      <div class="content__paragraph text-center" ng-show="$ctrl.certificateType === 'SIGNING'">
        <p>{{::'ssoCertificateModal.proceedToNextStep' | translate}}</p>
      </div>
      <div class="content__paragraph text-center" ng-show="$ctrl.certificateType === 'NONE'">
        <p><strong>{{::'ssoCertificateModal.noActionRequired' | translate}}</strong></p>
      </div>
      <div class="content__paragraph text-center" ng-show="$ctrl.certificateType === 'NONE'">
        <p>{{::'ssoCertificateModal.noActionReason' | translate}}</p>
      </div>
    </div>
  </div>
</multi-step-modal>
