<cs-page-sub-header>
  <cs-page-sub-header-left>
    <cs-searchfilter placeholder-text="{{$ctrl.placeholder}}" search-item-fn="$ctrl.filterList(searchStr)"></cs-searchfilter>
  </cs-page-sub-header-left>

  <cs-page-sub-header-right>
    <div class="page-option-buttons" ng-if="$ctrl.gridData.length > 0">
      <div ng-if="!$ctrl.exportLoading"
        class="no-animate"
        tooltip="{{::'gemini.export.exportToCSV' | translate}}"
        tooltip-placement="top"
        tooltip-trigger="mouseenter focus"
        aria-label="{{::'gemini.export.exportToCSV' | translate}}"
        tabindex="0">
        <a href
          class="export-users"
          ng-csv="$ctrl.exportCSV()"
          filename="{{::'gemini.tds.export.csvFilename' | translate}}"
          quote-strings="true"
          aria-label="{{::'common.download' | translate}}">
          <!-- button removed from tabindex to prevent redundancy with <a> element wrapper -->
          <button class="btn--none" tabindex="-1">
            <i class="icon icon-download icon-lg"></i>
          </button>
        </a>
      </div>
      <div ng-if="$ctrl.exportLoading"
        class="no-animate"
        tooltip="{{::'gemini.export.exportInProcess' | translate}}"
        tooltip-placement="top"
        tooltip-trigger="mouseenter focus"
        aria-label="{{::'gemini.export.exportInProcess' | translate}}"
        tabindex="0">
        <div class="btn btn-none">
          <span class="export-users">
            <i class="icon icon-spinner"></i>
          </span>
        </div>
      </div>
    </div>

    <button class="btn btn--primary" id="request" translate="gemini.cbgs.request.button" ng-click="$ctrl.onRequest()"></button>
  </cs-page-sub-header-right>
</cs-page-sub-header>

<div id="cbgListPanel" class="gridStyle col-md-12" ui-grid="$ctrl.gridOptions" gridscrollbar ui-grid-selection ui-grid-resize-columns ui-grid-move-columns ui-grid-infinite-scroll></div>

<div class="grid-refresh" ng-if="$ctrl.gridRefresh">
  <i class="icon icon-spinner icon-3x"></i>
</div>
