<div class="modal-header">
  <button class="close" ng-click="$dismiss()" type="button">
    <span class="sr-only" translate="common.close">
    </span>
  </button>
  <h5 class="modal-title" translate="mediaFusion.upgradeClusters.title">
</div>
<div class="modal-body">
  <div >
    <p translate="hds.softwareUpgrade.text1">
    </p>
  </div>
</div>
<div class="modal-footer" >
  <button class="btn btn-default" ng-click="$dismiss()">
    <span translate="common.cancel">
    </span>
  </button>
  <button class="btn btn-primary" ng-click="hdsUpgradeNowController.upgrade()">
    <span translate="mediaFusion.upgradeClusters.upgradeNow">
    </span>
  </button>
</div>
