.huronlines-state {
  @extend %page-background-white;
}

.line-list {
  @extend %grid-subheader;

  .ui-grid {
    .internalNumberColumn,
    .externalNumberColumn,
    .actionsColumn {
      text-align: center;
    }

    .assignedToColumn {
      text-align: left;
    }

    .ui-grid-row {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &.ui-grid-cell:first-child,
  .ui-grid-header-cell {
    text-align: center;
  }

  .ui-grid-header-cell.assignedToHeader {
    text-align: left;
  }
}

.line-list .page-sub-header .export-lines i {
  color: $gray-dark-1;
  font-size: $h3-font-size;
  margin-left: 1rem;
  cursor: pointer;
  padding-left: 0;
}

.line-list .page-sub-header .export-lines {
  display: inline-block;
  height: 22px;
}

.assignedTo {
  @include vr-spacing(pt, 0.75);
  @include vr-spacing(pl, 1.25);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
}
.order-history {
  margin-right: 1rem;
  font-size: $h5-font-size;
}

.line-list-actions-menu {
  .actions {
    span {
      color: $color-alerts-base;
    }
  }

  .dropdown-menu.dropdown-primary {
    overflow: visible;
    position: absolute;
    right: 0;
    left: auto;
  }
}

