.huronlines-state {
  @extend %page-background-white;
}

.line-list {
  @extend %grid-subheader;

  & .ui-grid {
    & .internalNumberColumn, .externalNumberColumn {
      text-align: center;
    }
    .ui-grid-row  {
      &:hover {
        background-color: transparent;
      }
    }
  }

  &.ui-grid-cell:first-child ,
  .ui-grid-header-cell {
    text-align: center;
  }
  .ui-grid-header-cell:last-child  {
    text-align: left;
  }
}

.line-list .page-sub-header .export-lines i {
  margin-left: 0.25rem;
  padding-left: 0;
}

.line-list .page-sub-header .export-lines {
  display: inline-block;
  height: 22px;
}

.assignedTo {
  @include vr-spacing(pt, .75);
  @include vr-spacing(pl, 1.25);
}
