@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/settings/forms';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.cs-setupassistant--content {
  .typeahead-large {
    &.cpselect {
      margin-top: calc(32vh - 143px);
      text-align: center;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;

      .title {
        color: $color-primary-base;
        font-family: $brand-font-thin;
        font-size: $h1-font-size;

        @include vr-spacing(pt, 3);
      }

      .desc {
        @include vr-spacing(pt, 1);
        @include vr-spacing(pb, 2.5);
        color: $gray-dark-1;
        font-family: $brand-font-light;
        font-size: $h4-font-size;
      }

      .cs-input-group {
        width: 100%;
      }

      input {
        font-size: $h2-font-size;
        width: 100%;
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: 1px solid $gray-light-2;
        font-family: $brand-font-thin;
        border-radius: 0;
        padding-bottom: rem(11);

        .dropdown-menu {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }

        &:focus {
          border-bottom: 1px solid $color-primary-base;
        }

        .error & {
          background-color: $white;
          border-color: $color-alerts;
        }
      }

      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        /* stylelint-disable property-no-vendor-prefix */
        -webkit-appearance: none;
        /* stylelint-enable property-no-vendor-prefix */
        margin: 0;
      }

      .error input {
        background-color: $white;
        border-color: $color-alerts;
      }

      .cp-edit-range .range-to {
        line-height: 2.8rem;
        font-family: $brand-font-thin;

        span {
          font-size: $h2-font-size;
        }
      }
    }
  }

  .cp-edit-range {
    .dropdown-menu {
      min-width: 100%;
    }
  }
}

.cp-number {
  width: 100%;

  .form-group > div ~ div {
    margin-top: 2.5rem;
  }
}

.cp-number-form {
  input[type='radio'] + label.cs-radio {
    input {
      color: $input-placeholder-font-color;
    }
  }

  input[type='radio']:checked + label.cs-radio {
    input {
      color: $input-font-color;
    }
  }
}

.cp-edit-range {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .cs-input-group {
    margin-bottom: 0;
  }

  .range-to {
    margin: 0 1rem;
  }

  .range-input {
    position: relative;
  }
}
