<div class="cloud-extensions hybrid-services-panel" ng-if="vm.isEnabled">

    <div class="row-hybrid">
      <div id="hybrid" class="column-header">
        <i class="icon icon-circle-world"></i>
        <h3>{{'onboardModal.hybridServices' | translate}}</h3>
      </div>

      <div class="hs-extension-list">
        <div class="hs-extension" ng-repeat="extension in vm.extensions | filter: { enabled: true }">
          <label class="cs-checkbox" ng-class="{'indentedCB':vm.shouldAddIndent(extension.id,'squared-fusion-ec'), 'disabled':vm.huronCallEntitlement(extension.id)}"
                 for="{{extension.id}}">
              <input type="checkbox"
                     ng-model="extension.entitlementState"
                     id="{{extension.id}}"
                     ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'"
                     ng-change="vm.setEntitlements(extension)"
                     ng-disabled="vm.huronCallEntitlement(extension.id)">
              <span translate="hercules.serviceNames.{{extension.id == 'squared-fusion-uc' ? 'squared-fusion-uc.full' : extension.id}}"></span>
          </label>
        </div>
  </div>
</div>
