@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/settings/colors';

auto-assign-template-summary-item {
  .root {
    display: flex;
  }

  .donut {
    width: 2rem;
  }

  h6 {
    font-family: $brand-font-regular;
    color: $gray-dark-2;
  }

  .license-count {
    margin-left: 1rem;
  }
}
