auto-assign-template-summary-item {
  .root {
    display: flex;
  }

  .summary-item__donut {
    width: 2rem;
  }

  .summary-item__body {
    margin-left: 1rem;

    advanced-meeting-site-url {
      display: block;
      padding-bottom: .25rem;
    }
  }
}
