@import 'metrics-report/historicalMetricsInfoCard/_metrics-info';

.scrollpadding {
  height: calc(100vh - (50px + (1px * 2) + (5rem * 2) + 4.125rem)) !important;
}

.metrics-reports {
  .report-card {
    .piechartWidth{
      min-width: 38rem;
    }
    .amcharts-category-axis .amcharts-axis-label {
      cursor: pointer;
    }
  }
}

