@import '~collab-ui/scss/settings/colors';

.selectable-buttons {
  display: flex;
  button {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $gray-light-4;
    background: $brand-white;
    box-shadow: 0 1px 2px 0 $gray-light-4, 0 1px 2px 0 $gray-light-4;
    height: rem-calc(270);
    p {
      color: $color-black;
    }
    &.active {
      border: solid 1px $color-primary-darker;
    }
  }
}

