<div ng-if="$ctrl.loading" class="grid-refresh">
  <i class="icon icon-spinner icon-3x"></i>
</div>
<div ng-if="!$ctrl.loading">
<cs-sp-container class="side-panel-history">
  <ul class="small-offset-0">
    <li class="feature">
      <span class="feature-name" translate="gemini.cbgs.notes.newNote"></span>
    </li>
    </i>
  </ul>
  <div class="feature-list">
   <textarea rows="5" maxlength="200" ng-model="$ctrl.model.postData" class="form-control optional-row ng-pristine ng-untouched ng-valid ng-empty" placeholder="{{'gemini.cbgs.notes.enterNote' | translate}}"></textarea>
   </textarea>
    <div class="text-right ui-mt">
      <button id="addnote" class="btn info ng-scope" translate="gemini.cbgs.notes.addNote" loading="$ctrl.loading" ng-click="$ctrl.onNotePost()"></button>
    </div>
  </div>
  <div class="ui-mv ui-pt">
    <div ng-if="!$ctrl.loading" translate="gemini.cbgs.notes.notes"></div>
    <div class="ui-mt ui-pt" ng-if="!$ctrl.notes.length">
      <h3 class="text-center" translate="gemini.cbgs.notes.noNotes"></h3>
      <small translate="gemini.cbgs.notes.noNoteMsg"></small>
    </div>
  </div>
  <ul class="history-ul">
    <li ng-repeat="note in $ctrl.notes">
      <small>{{note.actionTime}} {{'gemini.cbgs.by' | translate}} {{note.userName}} {{!note.userId ? '' : '(' + note.userId + ')'}}</small>
      <h6>{{note.objectName}}</h6>
    </li>
  </ul>
  <p ng-if="$ctrl.needShowMore"><a href ng-click="$ctrl.onShowMoreNotes()" translate="gemini.cbgs.showMore"></a></p>

</cs-sp-container>
</div>
