.nodata-icon {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 100px;
  color: $gray-light;
}

.nodata-message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  font-family: $brand-font-extra-light;
  font-size: 18px;
  color: $gray-darkest;
}

.icon-wait:before {
  content: "\e628";
}
