.nodata-icon {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 100px;
  color: $gray-light;
}

.nodata-message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  font-family: $brand-font-extra-light;
  font-size: 18px;
  color: $gray-darkest;
}

.wx-table {
  width: auto;
  margin-bottom: 0;
}

.wx-tr {
  border-top: 0;
}

.wx-td {
  padding-bottom: 0;
  padding-left: 0;
}

.popout-link {
  color: $link-color;
  cursor: pointer;
  border-radius: 0;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
    background-color: transparent;
  }
}
