.nodata-icon {
   margin-top: 100px;
   margin-bottom: 30px;
   font-size: 100px;
   color: #CCC;
}
.nodata-message {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  font-family: "CiscoSansTT Extra Light",Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #444;
}

.icon-wait:before {
  content: "\e628";
}