<cs-sp-container>
<cs-sp-section>
<div
     id="webexUserSettingsPage"
     class="hidden">
     
  <!--Start of Session Enablement section -->
  <p>
    <b>{{WebExUserSettings.userSettingsModel.sessionEnablementTitle}}</b><br>
  </p>
  
  <!-- Start of Meeting Center -->
  <table ng-show="WebExUserSettings.userSettingsModel.meetingCenter.isSiteEnabled"
         id={{WebExUserSettings.userSettingsModel.meetingCenter.id}}
         name={{WebExUserSettings.userSettingsModel.meetingCenter.id}}>
         
    <tr>
      <td width="15">
        &nbsp;
      </td>
      
      <td>
        {{WebExUserSettings.userSettingsModel.meetingCenter.label}}:
      </td>
    </tr>
      
    <tr>
      <td colspan=2>
        &nbsp;
      </td>
    </tr>
    
    <tr ng-repeat="sessionType in WebExUserSettings.userSettingsModel.sessionTypes"
        ng-show="sessionType.meetingCenterApplicable">
        
      <td width="15">
        &nbsp;
      </td>
      
      <td>              
        <cs-checkbox id={{sessionType.id}}
                     name={{sessionType.id}}
                     ng-model="sessionType.sessionEnabled"
                     cklabel={{sessionType.sessionName}}>
        </cs-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sessionType.sessionDescription}}
      </td>
    </tr>
  </table>
  <!-- End of Meeting Center -->
  
  <!-- Start of Collaberation Meeting Room (CMR) -->
  <table ng-show="WebExUserSettings.userSettingsModel.collabMeetingRoom.isSiteEnabled && WebExUserSettings.userSettingsModel.meetingCenter.isSiteEnabled"
         id="CMR"
         name="CMR">
    
    <tr valign="top">
      <td width="15">
        &nbsp;
      </td>
      
      <td>
        {{WebExUserSettings.userSettingsModel.collabMeetingRoom.label}}
      </td>
      
      <td width="30">
        &nbsp;
      </td>
      
      <td>
        <cs-toggle-switch name={{WebExUserSettings.userSettingsModel.collabMeetingRoom.id}}
                          toggle-id={{WebExUserSettings.userSettingsModel.collabMeetingRoom.id}}
                          size="small"
                          ng-model="WebExUserSettings.userSettingsModel.collabMeetingRoom.value">
        </cs-toggle-switch>
      </td>
    </tr>
  </table>
  <!-- End of Collaberation Meeting Room (CMR) -->
        
  <!-- Start of Event Center -->
  <table ng-show="WebExUserSettings.userSettingsModel.eventCenter.isSiteEnabled"
         id="EC"
         name="EC">
         
    <tr valign="top">
      <td width="15">
        &nbsp;
      </td>
      
      <td>
        {{WebExUserSettings.userSettingsModel.eventCenter.label}}:
      </td>
    </tr>
      
    <tr valign="top">
      <td colspan=2>
        &nbsp;
      </td>
    </tr>
    
    <tr valign="top"
        ng-repeat="sessionType in WebExUserSettings.userSettingsModel.sessionTypes"
        ng-show="sessionType.eventCenterApplicable">
        
      <td width="15">
        &nbsp;
      </td>
      
      <td>              
        <cs-checkbox id={{sessionType.id}}
                     name={{sessionType.id}}
                     ng-model="sessionType.sessionEnabled"
                     cklabel={{sessionType.sessionName}}>
        </cs-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sessionType.sessionDescription}}
      </td>
    </tr>
  </table>
  <!-- End of Event Center -->
    
  <!-- Start of Support Center -->
  <table ng-show="WebExUserSettings.userSettingsModel.supportCenter.isSiteEnabled"
         id="SC"
         name="SC">
         
    <tr valign="top">
      <td width="15">
        &nbsp;
      </td>
      
      <td>
        {{WebExUserSettings.userSettingsModel.supportCenter.label}}:
      </td>
    </tr>
      
    <tr valign="top">
      <td colspan=2>
        &nbsp;
      </td>
    </tr>
    
    <tr valign="top"
        ng-repeat="sessionType in WebExUserSettings.userSettingsModel.sessionTypes"
        ng-show="sessionType.supportCenterApplicable">
        
      <td width="15">
        &nbsp;
      </td>
      
      <td>              
        <cs-checkbox id={{sessionType.id}}
                     name={{sessionType.id}}
                     align="left"
                     ng-model="sessionType.sessionEnabled"
                     cklabel={{sessionType.sessionName}}>
        </cs-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sessionType.sessionDescription}}
      </td>
    </tr>
  </table>
  <!-- End of Support Center -->
    
  <!-- Start of Training Center -->
  <table ng-show="WebExUserSettings.userSettingsModel.trainingCenter.isSiteEnabled"
         id="TC"
         name="TC">
         
    <tr valign="top">
      <td width="15">
        &nbsp;
      </td>
      
      <td>
        {{WebExUserSettings.userSettingsModel.trainingCenter.label}}:
      </td>
    </tr>
      
    <tr valign="top">
      <td colspan=2>
        &nbsp;
      </td>
    </tr>
    
    <tr valign="top"
        ng-repeat="sessionType in WebExUserSettings.userSettingsModel.sessionTypes"
        ng-show="sessionType.trainingCenterApplicable">
        
      <td width="15">
        &nbsp;
      </td>
      
      <td>              
        <cs-checkbox id={{sessionType.id}}
                     name={{sessionType.id}}
                     ng-model="sessionType.sessionEnabled"
                     cklabel={{sessionType.sessionName}}>
      </cs-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{sessionType.sessionDescription}}
      </td>
    </tr>
  </table>
  <!-- End of Training Center -->
  
  <hr />
  <!-- End of Session Enablement section -->
  
  <!-- ACTION BUTTONS -->
  <span>
    <p align="right">
      <button id="btnUpdate"
              name="btnUpdate"
              type="button"
              class="btn btn-primary"
              ng-click="WebExUserSettings.updateUserSettings()">
              
        Save
      </button>
    </p>
  </span>
</div>
</cs-sp-section>
</cs-sp-container>
