$flagsImagePath: '../../images/' !default;

.snr-panel {
  .section-title-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .toggle-switch {
      margin-bottom: 0;
    }
  }

  .snr-description {
    color: $gray-dark;
    font-family: $brand-font-light;
    font-size: 13.5px;
    letter-spacing: 0.02em;
    line-height: inherit;
    margin-top: 16px;
  }

  .form-group-wrapper {
    padding-top: 10px;
  }

  .form-group label {
    font-family: $font-family-sans-serif;
    font-size: rem-calc(13);
    font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 8px;
  }

  .snr-remote-destination-number {
    margin-top: 8px;
    width: 330px;
  }

  .snr-wait-seconds {
    float: left;
    font-size: rem-calc(14);
    padding-top: 8px;
    width: rem-calc(112px);

    .select-toggle > i.icon {
      right: 28px;
      top: 3px;
    }

    .select-dropdown {
      margin-top: -1px;
      width: 100%;
    }
  }

  .snr-wait-seconds-label {
    color: $gray-dark;
    font-family: $brand-font-light;
    font-size: 13.5px;
    letter-spacing: 0.02em;
    line-height: 50px;
  }
}
