<form name="singleNumberReachForm" role="form">
  <cr-details-body title="{{'singleNumberReachPanel.title' | translate}}" on-save="saveSingleNumberReach()">
      <div class="details-body">
        <p><small>{{'singleNumberReachPanel.description' | translate}}</small></p>
        <div>
          {{'singleNumberReachPanel.toggle' | translate}}&nbsp;&nbsp;&nbsp;<cs-switchbutton ng-model="telephonyInfo.snrInfo.singleNumberReachEnabled"></cs-switchbutton><br><br>
          <div class="form-group" ng-show="telephonyInfo.snrInfo.singleNumberReachEnabled">
              <div class="col-sm-8">
                <input type="text" class="form-control" id="number" ng-model="telephonyInfo.snrInfo.destination" ng-disabled="!telephonyInfo.snrInfo.singleNumberReachEnabled" placeholder="{{'singleNumberReachPanel.placeholder' | translate}}">
              </div>
              <span class="asterix">*</span>
            </div>
          <div ng-show="false">
            <p class="text-muted">{{'singleNumberReachPanel.snrNote' | translate}}</p>
            <br>
            <cs-radiobutton choice="snrLineOption" options="snrOptions" label="label" value="line"></cs-radiobutton><br>
            <div ng-show="snrLineOption !== 'all'">
            </div>
          </div>
        </div>
      </div>
  </cr-details-body>
</form>