<cs-page-header
  class="huron-tabs"
  title-name="{{$ctrl.clusterDetail.name}}"
  back="$ctrl.back"
  back-fxn="$ctrl.onBack()"
  back-aria-label="{{::'common.back' | translate}}">
</cs-page-header>
<div class="hcs-cluster-settings hcs-container">
  <div class="loading-container" ng-if="$ctrl.loading">
    <i class="icon icon-2x icon-spinner"></i>
  </div>

  <form novalidate name="$ctrl.form" ng-if="!$ctrl.loading" class="hcs-cluster-settings-main-container cs-form content-container">
    <!-- Inventory Name -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="hcs.clusterDetail.settings.inventoryName.customerSelectLabel"></h4>
      </div>
      <div class="section__content">
        <div class="sub-section hcs-sub-section-default-padding">
          <div class="display-flex">
            <div class="medium-6">
              <cs-select
              name="clusterCustomerSelect"
              ng-model="$ctrl.customerSelected"
              options="$ctrl.customerSelectOptions"
              filter="true"
              is-custom-search="true"
              refresh-data-fn="$ctrl.onCustomerSearch(filter)"
              on-change-fn="$ctrl.onCustomerChanged()"
              input-placeholder="$ctrl.customerInputPlaceholder"
              placeholder="$ctrl.customerSelectPlaceholder"
              is-disabled="$ctrl.disableCustomerSelect"
              is-warn="{{$ctrl.disableCustomerSelect}}"
              warn-msg="{{$ctrl.warningMsgCustomerSelect}}">
              </cs-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- SFTP Server -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="hcs.clusterDetail.settings.sftpLocation.sectionHeader"></h4>
      </div>
      <div class="section__content">
        <div class="sub-section hcs-sub-section-default-padding">
          <div class="display-flex">
            <div class="medium-6">
              <cs-select
                name="sftpLocationSelect"
                is-disabled="$ctrl.disableSftpSelect"
                ng-model="$ctrl.sftpServerSelected"
                options="$ctrl.sftpServersList"
                on-change-fn="$ctrl.onSftpLocationChanged()"
                placeholder="$ctrl.sftpSelectPlaceholder"
                filter="false"
                is-warn="{{$ctrl.disableSftpSelect}}"
                warn-msg="{{::'hcs.clusterDetail.settings.sftpLocation.sftpWarnMsg' | translate}}">
              </cs-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Nodes -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="hcs.clusterDetail.settings.nodes.sectionHeader"></h4>
      </div>
      <div class="section__content node__info">
        <div class="sub-section">
          <cs-card-layout>
            <cs-card class="cs-card--large" ng-repeat="node in $ctrl.clusterDetail.nodes">
              <article>
                <header class="node-header">
                  <div>
                    <h5 class="node-name ellipsis" title="{{node.hostname}}">{{node.hostname}}</h5>
                  </div>
                  <div class="node-type" ng-if="node.ipAddress">
                    {{node.ipAddress}}
                  </div>
                  <div class="row node-type">
                    <div class="columns medium-3">
                      {{node.application}}
                    </div>
                    <div class="columns medium-9 ">
                      {{(node.publisher ? 'hcs.clusterDetail.settings.nodes.publisher' : 'hcs.clusterDetail.settings.nodes.subscriber') | translate}}
                    </div>
                  </div>
                </header>
                <section class="card-body">
                  <div class="card-section">
                    <div class="card-section-item row">
                      <div class="h6 node-sftp-container columns medium-10">SFTP Server: <span class="h6 node-sftp body-small">{{node.sftpServer ? node.sftpServer.name : ($ctrl.clusterDetail.sftpServer ? $ctrl.clusterDetail.sftpServer.name : ('common.none' | translate))}}</span></div>
                      <div class="columns medium-2"><i class="icon icon-edit" ng-click="$ctrl.editNodeSftp(node)" aria-label="{{:: 'common.edit' | translate}}"></i></a></div>
                    </div>
                  </div>
                </section>
                <footer class="node-footer">
                  <div>
                    <span class="node-verification-code" ng-if="node.status === $ctrl.status.nodeNeedsAcceptance">
                      <span ng-if="node.status.toLowerCase() !== $ctrl.status.noAgentRunning.toLowerCase()">
                        <i class="icon icon-info-outline" tooltip-placement="top" tooltip="{{::'hcs.clusterDetail.settings.nodes.verificationCodeTooltip' | translate}}"></i>
                        <span class="node-verification body-small">{{'hcs.clusterDetail.settings.nodes.verificationCode' | translate}}: {{node.agentVerificationCode}}</span>
                      </span>
                    </span>
                    <span class="node-status-container" ng-class="{'move-right' : (node.status === $ctrl.status.nodeNeedsAcceptance)}">
                      <span ng-if="node.status === $ctrl.status.nodeNeedsAcceptance">
                        <button class="btn btn--circle btn--small btn--white btn--primary" ng-click="$ctrl.acceptNode(node)" ng-class="{'is-accepted': node.isAccepted}">
                          <span class="icon icon-check"></span>
                        </button>
                        <button class="btn btn--circle btn--small btn--white" ng-click="$ctrl.rejectNode(node)" ng-class="{'is-rejected': node.isRejected}">
                          <span class="icon icon-close"></span>
                        </button>
                      </span>
                      <span class="h5 card-section-item node-status" ng-switch="node.status" ng-if="node.status.toLowerCase() !== $ctrl.status.nodeNeedsAcceptance.toLowerCase()">
                        <div ng-switch-when="AGENT_OFFLINE">
                          <i class="icon icon-circle status-indicator danger"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.agentOffline' | translate}}</span>
                        </div>
                        <div ng-switch-when="FAILED_UPGRADE">
                          <i class="icon icon-circle status-indicator danger"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.failedUpgrade' | translate}}</span>
                        </div>
                        <div ng-switch-when="NO_AGENT_RUNNING">
                            <i class="icon icon-circle status-indicator danger"></i>
                            <span class="h6">{{::'hcs.clusterDetail.nodeStatus.noAgentRunning' | translate}}</span>
                          </div>
                        <div ng-switch-when="SOFTWARE_PROFILE_NOT_ASSIGNED">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swProfileNotAssigned' | translate}}</span>
                        </div>
                        <div ng-switch-when="SOFTWARE_PROFILE_DOES_NOT_COVER_ALL_APPLICATIONS">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swProfileNotCoverAll' | translate}}</span>
                        </div>
                        <div ng-switch-when="SOFTWARE_VERSION_MISMATCH">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swVersionMismatch' | translate}}</span>
                        </div>
                        <div ng-switch-when="SOFTWARE_UPGRADE_NEEDED">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swUpgradeNeeded' | translate}}</span>
                        </div>
                        <div ng-switch-when="NEED_TO_UPDATE_BATCH_NUMBER">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.needToUpdateBatchNumber' | translate}}</span>
                        </div>
                        <div ng-switch-when="UPGRADE_SCHEDULED">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeScheduled' | translate}}</span>
                        </div>
                        <div ng-switch-when="UPGRADE_IN_PROGRESS">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeInProgress' | translate}}</span>
                        </div>
                        <div ng-switch-when="NO_ACTIVE_VERSION">
                          <i class="icon icon-circle status-indicator warning"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.noActiveVersion' | translate}}</span>
                        </div>
                        <div ng-switch-when="OPERATIONAL">
                          <i class="icon icon-circle status-indicator success"></i>
                          <span class="h6">{{::'hcs.clusterDetail.nodeStatus.operational' | translate}}</span>
                        </div>
                      </span>
                    </span>
                  </div>
                </footer>
              </article>
            </cs-card>
          </cs-card-layout>
        </div>
      </div>
    </div>
    <!-- Cluster Name -->
    <div class="cs-form__section">
      <div class="section__info">
        <h4 class="section__title" translate="hcs.clusterDetail.settings.clustername.sectionHeader"></h4>
      </div>
      <div class="section__content">
        <div class="sub-section hcs-sub-section-default-padding">
          <div class="display-flex">
            <div class="medium-6">
              <input
                cs-input
                type="text"
                name="clusterNameInput"
                placeholder="{{:: $ctrl.clusterNamePlaceholder}}"
                ng-model="$ctrl.clusterName"
                cs-input-messages="$ctrl.clusterNameInputMessages"
                ng-required="true">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br />
     <!-- Save section -->
    <div class="cs-form__section save-section cluster-detail-save" ng-class="{invisible: !$ctrl.form.$dirty}">
        <button ng-click="$ctrl.cancel()" translate="common.cancel"></button>
        <button class="btn btn--primary" cs-btn loading="$ctrl.processing" ng-click="$ctrl.saveClusterDetailChanges()" ng-disabled="$ctrl.form.$invalid"><span translate="common.save"></span></button>
      </div>
  </form>
</div>
