@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/grid';

.section__content.node__info {
  @media #{$medium-up} {
    @include vr-spacing(mt, .25);
    @include grid-column( $columns: 8, $last-column: true, $center: false, $offset: 1, $push: 0, $pull: 0, $collapse: true, $float: left);
  }
  @media #{$large-up} {
    @include grid-column( $columns: 8, $last-column: true, $center: false, $offset: 1, $push: 0, $pull: 0, $collapse: true, $float: left);
  }
  @media #{$xlarge-up} {
    @include grid-column( $columns: 8, $last-column: true, $center: false, $offset: 1, $push: 0, $pull: 0, $collapse: true, $float: left);
  }
  .cs-card article {
    min-height: rem-calc(200);
    header.node-header {
      padding: 1rem 0.5rem 0.5rem 1.25rem;
      border-bottom: 1px solid $gray-light-3;
      .node-name {
        padding-left: 0rem;
        color: $gray-dark-4;
      }
      .node-type {
        color: $gray-base;
        .columns.medium-3 {
          padding-left: 0rem;
        }
      }
      button.close.node-close:before {
        font-size: rem-calc(16)
      }
      button.close.node-close {
        font-size: rem-calc(16)
      }
    }

    section.card-body {
      padding: 1.5rem 0.5rem 0.5rem 1.25rem;
      .card-section {
        .card-section-item {
          font-weight: 200;
          .node-sftp-container {
            padding-left: 0rem;
            color: $gray-dark-4;
          }
          .icon-edit {
            cursor: pointer;
            float: right;
            color: $gray-light-1;
            font-size: rem-calc(20);
            &:hover,
            &:focus {
              color: $color-primary;
            }
          }
          .node-sftp {
            color: $gray-base;
          }
        }
      }
    }

    footer.node-footer {
      padding: 1rem 0.5rem 1rem 1.25rem;
      background-color: $gray-light-4;
      .node-verification-code {
        padding-left: 0rem;
        color: $gray-dark-4;
        .icon-info-outline {
          top: rem-calc(4);
          margin-right: rem-calc(4);
        }
      }
      .node-status-container.move-right {
        float: right;
      }
      .node-status-container {
        .node-status {
          color: $gray-dark-4;
        }
        button.btn--circle.btn--small.btn--white {
          float: right;
          margin-left: rem-calc(8);
          width: rem-calc(28);
          height: rem-calc(28);
          font-size: rem-calc(16);
        }
        button.btn--circle.btn--small.btn--white.is-accepted {
          background-color: $color-blue-darker;
          box-shadow: inset 0 0 0 1px $color-blue-darker;
          span {
            color: $white;
          }
        }
        button.btn--circle.btn--small.btn--white.is-rejected {
          background-color: $gray-dark-1;
          box-shadow: inset 0 0 0 1px $gray-dark-1;
          span {
            color: $white;
          }
        }
      }
    }
  }
}

.hcs-edit-modal-class{
  hcs-node-sftp-edit, hcs-add-customer-to-cluster{
    .modal-body {
      .modal-customer-name-input{
        width: 100%;
      }
    }
    .modal-footer{
      button{
        border-radius: 100px;
      }
    }
  }
}

.cs-form__section.save-section.cluster-detail-save {
  padding-bottom: rem-calc(16);
}

.sub-section.hcs-sub-section-default-padding {
  padding-left: 0.5rem;
}
