body.messenger-state {
  background-color: $white;
}

.container-ci-sync {
  .org-info-section {
    .row {
      margin-top: 8px;
    }
    .row--first {
      margin-top: 0;
    }

    .links-row {
      margin-top: 14px;
      margin-left: -4px;
    }
  }

  .options-section {
    .row {
      margin-top: 14px;
    }
    .row--first {
      margin-top: 0;
    }
  }

  .bottom-padding {
    padding-bottom: 30px;
  }

  .content {
    height: 100vh;
    background-color: $white;
    padding-left: 30px;
    padding-right: 15px;
  }

  .down-10 {
    padding-top: 10px;
  }

  .right-5 {
    padding-left: 5px;
  }
}
