$left-margin: 50px;
$info-margin-top: 40px;

.container-org-info {

  .content {
    padding-left: 30px;
    padding-right: 15px;
  }

  .margin-left-15px {
    margin-left: -15px;
  }

  .bottom-padding {
    padding-bottom: 30px;
  }


  .toggle-switch {
    &.on {
      &.disabled {
        input {
          &:checked:disabled + span:after,
          &.disabled:checked:disabled + span:after {
            background-color:#fff;
          }
        }
      }
    }
  }

  .control-label {
    font-weight: bold;
  }

  .min-width-350 {
    min-width: 350px;
  }

  .icon {
    /* General sibling combinator for any span directly following an icon class */
    & ~ span {
      padding-left: 10px;
    }
  }

  .indented {
    margin-left: $left-margin;
  }

  .vert-padding {
    margin-top: $info-margin-top;
  }

  .bare-list-item {
    list-style-type: none;
  }

  .border-line {
    border: 1px solid black;
  }

  .width-half {
    width: 50%;
  }

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }

  .clear-both {
    clear: both;
  }

  .title {
    h3 {
      margin-top: 0px;
    }
  }

  .info {
    //margin-top: $info-margin-top;

    .info-header {
        font-family: "CiscoSansTT Thick", Helvetica;
        font-size: 22px;
    }

    .data-item {
        font-family: "Consolas", "Courier New";
    }

    .data-key {
        font-weight: bold;
    }
  }

  .sub-info {
    margin-top: $info-margin-top;
  }

  .top-padding {
    margin-top: $info-margin-top;
  }
}
