<div ng-if="!sync.authorized()">
  <span class="icon icon-warning"></span>
  <span translate="messengerCiSync.errorUnauthorizedToView"></span>
</div>

<div class="container-ci-sync settings" ng-if="sync.authorized()">

  <cs-page-header title-name="{{'messengerCiSync.pageTitle' | translate}}" back="true" back-url="sync.backState" back-aria-label="{{::'common.back' | translate}}"></cs-page-header>

  <div class="container-ci-sync__content-body">
    <div ng-if="sync.dataStates.LOADING === sync.dataStatus">
      <span class="icon icon-spinner"></span>
      <span translate="messengerCiSync.loading"></span>
    </div>

    <div ng-if="sync.dataStates.ERROR === sync.dataStatus">
      <span class="icon icon-warning"></span>
      <span>{{sync.errorMsg}}</span>
      <p class="down-10">
        <span ng-click="sync.refreshStatus()" class="right-5">
          <i class="icon icon-refresh"></i> {{sync.refresh}}
        </span>
      </p>
    </div>

    <div ng-if="sync.dataStates.LOADED === sync.dataStatus">
      <setting-section setting="sync.subSections.orgInfo" class="org-info-section">
        <div class="row row--first">
          <div class="medium-6">
            <input cs-input type="text"
              id="ciSyncOrgSettingsOrgName"
              name="ciSyncOrgSettingsOrgName"
              ng-model="sync.settings.syncInfo.messengerOrgName"
              cs-input-label="{{:: 'messengerCiSync.orgInfoSection.name' | translate }}"
              disabled
              read-only>
          </div>
          <div class="medium-6"></div>
        </div>
        <div class="row">
          <div class="medium-6">
            <input cs-input type="text"
              id="ciSyncOrgSettingsOrgId"
              name="ciSyncOrgSettingsOrgId"
              ng-model="sync.settings.syncInfo.messengerOrgId"
              cs-input-label="{{:: 'messengerCiSync.orgInfoSection.id' | translate }}"
              disabled
              read-only>
          </div>
          <div class="medium-6"></div>
        </div>
        <div class="row">
          <div class="medium-6">
            <input cs-input type="text"
              id="ciSyncOrgSettingsCiLinkDate"
              name="ciSyncOrgSettingsCiLinkDate"
              ng-model="sync.settings.syncInfo.linkDate"
              cs-input-label="{{:: 'messengerCiSync.orgInfoSection.linkDate' | translate }}"
              disabled
              read-only>
          </div>
          <div class="medium-6"></div>
        </div>
        <div class="row links-row">
          <div class="medium-12">
            <span ng-click="sync.refreshStatus()" class="right-5">
              <i class="icon icon-refresh"></i> {{sync.refresh}}
            </span>
            |
            <span>
              <!-- aria-label should include both the link text and the tooltip text -->
              <link-tooltip
                tt-aria-label="{{::'messengerCiSync.orgAdminLinkText' | translate}} {{sync.orgAdminLinkTooltip}}"
                tt-href="{{sync.orgAdminUrl}}"
                tt-tooltip-text="{{sync.orgAdminLinkTooltip}}"
                tt-tooltip-placement="left">
                <span translate="messengerCiSync.orgAdminLinkText"></span>
              </link-tooltip>
            </span>
          </div>
        </div>
      </setting-section>

      <setting-section setting="sync.subSections.options" class="options-section">
        <div cr-feature-toggle feature-show="atlas-jabber-interop" class="row row--first">
          <text-tooltip tt-tooltip-text="{{sync.jabberInteropTooltip}}">
            <span translate="messengerCiSync.jabberInteropHeading"></span>
          </text-tooltip>
          <toggle-switch-with-read-only
            value="sync.settings.jabberInterop"
            toggle-id="toggleJabberInterop"
            on-change-fn="sync.setExistingProperty('settings.jabberInterop', toggleValue);"
            cs-aria-label="{{::'messengerCiSync.jabberInteropHeading' | translate}}">
          </toggle-switch-with-read-only>
        </div>

        <div ng-if="sync.settings.syncInfo.isMessengerSyncRawMode" class="row"> <!-- Native Messenger Sync mode -->
          <text-tooltip tt-tooltip-text="{{sync.syncStatusTooltip}}">
            <span translate="messengerCiSync.syncStatusHeading"></span>
          </text-tooltip>
          <toggle-switch-with-read-only
            value="sync.settings.syncInfo.isSyncEnabled"
            is-read-only="!sync.isOpsAdmin()"
            toggle-id="toggleIsSyncing"
            on-change-fn="sync.setExistingProperty('settings.syncInfo.isSyncEnabled', toggleValue);"
            cs-aria-label="{{::'messengerCiSync.syncStatusHeading' | translate}}">
          </toggle-switch-with-read-only>
        </div>

        <div ng-if="!sync.settings.syncInfo.isMessengerSyncRawMode" class="row"> <!-- Native CI DirSync mode -->
          <text-tooltip tt-tooltip-text="{{sync.dirsyncStatusTooltip}}">
            <span translate="messengerCiSync.dirsyncStatusHeading"></span>
          </text-tooltip>
          <boolean-text-field value="sync.settings.syncInfo.isSyncEnabled"></boolean-text-field>
        </div>

        <div class="row">
          <text-tooltip tt-tooltip-text="{{sync.authRedirectTooltip}}">
            <span translate="messengerCiSync.authRedirectHeading"></span>
          </text-tooltip>
          <toggle-switch-with-read-only
            value="sync.settings.syncInfo.isAuthRedirect"
            is-read-only="!sync.isOpsAdmin()"
            toggle-id="toggleAuthRedirect"
            on-change-fn="sync.setExistingProperty('settings.syncInfo.isAuthRedirect', toggleValue);"
            cs-aria-label="{{::'messengerCiSync.authRedirectHeading' | translate}}">
          </toggle-switch-with-read-only>
        </div>

        <div ng-if="sync.settings.syncInfo.isNewDataFormat"> <!-- new org ext data -->
          <div class="row">
            <text-tooltip tt-tooltip-text="{{sync.pwdSyncTooltip}}">
              <span translate="messengerCiSync.pwdSyncHeading"></span>
            </text-tooltip>
            <toggle-switch-with-read-only
              value="sync.settings.syncInfo.isPwdSync"
              is-read-only="!sync.isOpsAdmin()"
              toggle-id="tidPwdSync"
              on-change-fn="sync.setExistingProperty('settings.syncInfo.isPwdSync', toggleValue);"></toggle-switch-with-read-only>
          </div>

          <div class="row">
            <text-tooltip tt-tooltip-text="{{sync.sparkEntTooltip}}">
              <span translate="messengerCiSync.sparkEntHeading"></span>
            </text-tooltip>
            <toggle-switch-with-read-only
              value="sync.settings.syncInfo.isSparkEnt"
              is-read-only="!sync.isOpsAdmin()"
              toggle-id="tidSparkEnt"
              on-change-fn="sync.setExistingProperty('settings.syncInfo.isSparkEnt', toggleValue);"
              cs-aria-label="{{::'messengerCiSync.sparkEntHeading' | translate}}">
            </toggle-switch-with-read-only>
          </div>

          <div class="row">
            <text-tooltip tt-tooltip-text="{{sync.usrDisTooltip}}">
              <span translate="messengerCiSync.usrDisHeading"></span>
            </text-tooltip>
            <toggle-switch-with-read-only
              value="sync.settings.syncInfo.isUsrDis"
              is-read-only="!sync.isOpsAdmin()"
              toggle-id="tidUsrDis"
              on-change-fn="sync.setExistingProperty('settings.syncInfo.isUsrDis', toggleValue);"
              cs-aria-label="{{::'messengerCiSync.usrDisHeading' | translate}}">
            </toggle-switch-with-read-only>
          </div>

          <div class="row">
            <text-tooltip tt-tooltip-text="{{sync.usrDelTooltip}}">
              <span translate="messengerCiSync.usrDelHeading"></span>
            </text-tooltip>
            <toggle-switch-with-read-only
              value="sync.settings.syncInfo.isUsrDel"
              is-read-only="!sync.isOpsAdmin()"
              toggle-id="tidUsrDel"
              on-change-fn="sync.setExistingProperty('settings.syncInfo.isUsrDel', toggleValue);"
              cs-aria-label="{{::'messengerCiSync.usrDelHeading' | translate}}">
            </toggle-switch-with-read-only>
          </div>
        </div>

      </setting-section>
    </div>
  </div>

  <div class="save-cancel-footer" ng-if="sync.canShowSaveCancel()">
    <button type="button" cs-btn loading="sync.isSaving" class="btn btn--primary save-cancel-buttons pull-right" ng-click="sync.saveSettings()">
      <span translate="common.save"></span>
    </button>
    <button type="button" class="btn save-cancel-buttons pull-right" translate="common.cancel" ng-click="sync.resetSettings()"></button>
  </div>

</div>
