<!-- BEGIN CI Sync -->
<div ng-if="!sync.authorized()">
  <span class="icon icon-warning"></span>
  <span translate="messengerCiSync.errorUnauthoredToView"></span>
</div>

<div class="container-ci-sync" ng-if="sync.authorized()">

  <div class="page-header row full">
    <div class="page-title">
      <h2 class="title" translate="messengerCiSync.pageTitle"></h2>
    </div>
  </div>

  <div class="content">
    <!-- BEGIN CONTENT -->

    <div ng-if="sync.dataStates.loading === sync.dataStatus">
      <span class="icon icon-spinner"></span>
      <span translate="messengerCiSync.loading"></span>
    </div>

    <div ng-if="sync.dataStates.error === sync.dataStatus">
      <span class="icon icon-warning"></span>
      <span>{{sync.errorMsg}}</span>
      <p class="down-10"><span class="icon icon-refresh" ng-click="sync.refreshStatus()" tooltip="{{sync.refresh}}"><span class="right-5" translate="messengerCiSync.refresh"></span></p>
    </div>

    <div ng-if="sync.dataStates.loaded === sync.dataStatus">
      <div style="float: right;">
        <span class="icon icon-refresh" ng-click="sync.refreshStatus()" tooltip="{{sync.refresh}}"></span><span class="right-5" translate="messengerCiSync.refresh"></span> |
        <a ng-if="!sync.isDirSyncNoFetch()" href="{{sync.orgAdminUrl}}" target="_blank" translate="messengerCiSync.orgAdminLinkText"></a>
      </div>

      <div class="col-md-4 sync-stats">
          <h3 translate="messengerCiSync.syncStatusHeading"></h3>

          <formly-form model="sync.syncInfo" fields="sync.fields">
          </formly-form>

          <p tooltip-placement="top" tooltip="{{sync.syncStatusTooltip}}" translate="messengerCiSync.syncStatusHeading"></p>
          <!-- Ugly, but it seems the only way that works so far. Would be nice to find simpler way -->
          <cs-toggle-switch ng-if="sync.adminTypes.ops !== sync.adminType" ng-model="sync.syncInfo.isSyncEnabled" toggle-id="toggleIsSyncing" name="toggleSyncing" class="no-click" is-disabled="true" size="small"></cs-toggle-switch>
          <cs-toggle-switch ng-if="sync.adminTypes.ops === sync.adminType" ng-model="sync.syncInfo.isSyncEnabled" toggle-id="toggleIsSyncing" name="toggleSyncing" size="small"></cs-toggle-switch>

          <p tooltip-placement="bottom" tooltip="{{sync.authRedirectTooltip}}" translate="messengerCiSync.authRedirectHeading"></p>
          <!-- Ugly, but it seems the only way that works so far. Would be nice to find simpler way -->
          <cs-toggle-switch ng-if="sync.adminTypes.ops !== sync.adminType"  ng-model="sync.syncInfo.isAuthRedirect" toggle-id="toggleAuthRedirect" name="toggleAuth" class="no-click" is-disabled="true" size="small"></cs-toggle-switch>
          <cs-toggle-switch ng-if="sync.adminTypes.ops === sync.adminType"  ng-model="sync.syncInfo.isAuthRedirect" toggle-id="toggleAuthRedirect" name="toggleAuth" size="small"></cs-toggle-switch>
          <input class="button warning" type="submit" value="{{sync.patchSyncButtonText}}" ng-if="sync.adminTypes.ops === sync.adminType" ng-click="sync.patchSync()">
      </div>
    </div>

    <!-- END CONTENT -->
  </div>

</div>
<!-- END CI Sync -->
