.support {
  @extend %content-header;
  @extend %page-content-padding;

  .indent {
    padding: 1rem 1.5rem ;
  }

  .status {
    .help-desk {
      text-align: center;
    }
    .content {
      padding-left: 0rem;
      padding-top: 0.5rem;
      padding-right: 0rem;
      padding-bottom: 0rem;
      font-size: 0.875rem;
    }
    .content-header {
      margin-top: 1rem;
    }
  }
}

.support-row{
  margin-left: 15px;
  margin-right: 0px;
}

.search-panel{
  margin-bottom: 30px;
  padding: 20px;
  border-color: #999999;
  background-color: #ffffff;
}

.search-panel-input{
  padding-top: 20px;
}

.search-button-log{
  padding-right: 10px;
}

.support-card{
  background-color: #fff;
  margin-bottom: 12px;
  padding: 20px;
}

.healthy{
  font-family:$brand-font-extra-light;
  color:$brand-success;
  font-size: 20px;
  text-align: center;
}

.healthy-check{
  color:$brand-success;
}

.support-info{
 font-family:$brand-font-extra-light;
 font-size: 20px;
 color: #444;
 display: block;
 padding-bottom: 10px;
}

.display-link{
  display: block;
  color: #3ca8e8;
  cursor: pointer;
}

.support-dsc{
  margin-bottom: 5px;
  word-wrap: break-word;
}

.support-header{
  margin-bottom: 5px;
  padding-top: 20px;
}

.support-header-help{
  margin-top: 20px;
  margin-bottom: 5px;
}

.error-check{
  color: $brand-danger
}

.error-msg{
  font-family:$brand-font-extra-light;
  color:$brand-danger;
  font-size: 20px;
  text-align: center;
}

.systems-detail{
  padding-top: 10px;
}

.health-card{
  cursor: pointer;
}
.grid-icon {
    text-align: center;
    .icon {
      font-size: 20px;
    }
}

.support-logs {
  background-color: $white;
}

.support-logs table {
  background-color: $white;
}

.support-logs .searchbox input {
  font-size: .875rem;
  width: 25rem;
}

.support-logs .searchbox .searchinput > input, .support-logs .searchbox .searchinput > .input {
  max-width: 500px;
}

.support-logs .gridStyle {
  height: calc(100vh - (50px + (1px * 2) + 5rem + 4.125rem));
}

.support-logs .grid-refresh {
  margin-top: 32px;
}

.support-logs .empty-list {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  color: $gray-darker;
}

.support-logs .empty-list p {
  font-size: 1rem;
  padding: 24px 0 0 32px;
}

.support-logs .ui-grid-header-cell.header-email-address {
  padding-left: 12px;
}

.support-logs .ui-grid-header-cell.header-client-log .ui-grid-cell-contents,
.support-logs .ui-grid-header-cell.header-call-flow-logs .ui-grid-cell-contents,
.support-logs .ui-grid-header-cell.header-call-flow .ui-grid-cell-contents,
.support-logs .ui-grid-header-cell.header-call-info .ui-grid-cell-contents,
.support-logs .ui-grid-header-cell.header-call-summary .ui-grid-cell-contents {
  text-align: center;
}

.support-logs .ui-grid-cell.email-address {
  padding-left: 12px;
}

.support-logs .ui-grid-row-selected .ui-grid-cell.client-log .icon,
.support-logs .ui-grid-row-selected .ui-grid-cell.call-flow-logs .icon,
.support-logs .ui-grid-row-selected .ui-grid-cell.call-flow .icon,
.support-logs .ui-grid-row-selected .ui-grid-cell.call-info .icon,
.support-logs .ui-grid-row-selected .ui-grid-cell.call-summary .icon {
  color: $white;
}

.support-logs .searchbox {
  display: block;
  float: left;
}

.support-logs .searchbox .searchinput {
  margin-right: .5rem;
}

.support-logs .search-button {
  display: block;
  float: left;
}

/*.support-logs .ui-grid-header {
  border-bottom: 0;
}*/


//--------- billing ---------//
.order-list {
  .ngCell.colt1 {
    overflow: visible;
    .dropdown-menu {
      right: 315px;
      left: auto;
      top: 70%;
    }
  }
}
