<div class="support-logs" ng-if="true">
  <!-- Search Box inside page subheader -->
  <cs-page-sub-header>
    <form role="form">
      <div class="searchbox" ng-click="">
        <div class="searchinput">
          <i class="icon icon-search"></i>
          <input class="form-control support_input" type="text" id="logsearchfield" ng-model="input.search" placeholder='{{placeholder}}' />
        </div>
      </div>
      <div class="search-button">
        <button id="logSearchBtn" cs-btn loading="logSearchBtnLoad" class="btn btn--primary pull-right" ng-click="getLogs()"><span translate="supportPage.listlogsbtn"></span></button>
      </div>
    </form>
  </cs-page-sub-header>

  <!-- Refresh/Loading Spinner -->
  <div class="grid-refresh" ng-if="gridRefresh">
    <i class='icon icon-spinner icon-2x'></i>
  </div>

  <!-- Empty List Display -->
  <div class="empty-list" ng-if="!userLogs.length && !gridRefresh">
    <p class="h2" translate="supportPage.subtitleLogs"></p>
  </div>

  <!-- Logs Grid -->
  <div id="supportLogListPanel" class="row grid" ng-if="userLogs.length && !gridRefresh && logPanelActive">
    <div gridscrollbar id="supportTable" class="gridStyle" ui-grid="gridOptions" ui-grid-selection ui-grid-infinite-scroll></div>
  </div>

  <!-- Call Flow Panel -->
  <div class="panel panel-default call-info-panel" id="call-flow-panel" ng-show="callFlowActive">
    <div class="panel-heading panel-heading-default">
      <div class="panel-title panel-title-default">
        <strong id="subTitleCallFlow" translate="supportPage.subTitleCallFlow"></strong>
        <i id="closeCallFlow" ng-click="closeCallInfo()" class="fa fa-times add-user-close pull-right"></i>
      </div>
    </div>
    <div class="panel-body">
      <a><img style="width: 100%" ng-src="{{callFlowUrl}}"></a>
    </div>
  </div>
</div>
