.alarm-list {
  .alarm-table {
    .alarm-title {
      color: $gray-dark;
    }
  }
  .alarm-search {
    padding: 0 0 0 0;
    .alarm-input {
      height: 40px;
      width: 200px;
      margin: 15px 0 0 0;
      float: right;
    }
    .alarm-btn {
      height: 40px;
      float: left;
      margin: 15px 0 0 0;
      background-color: $brand-white;
      border: 1px solid rgb(212, 212, 212);
      .alarm-btn-search {
        color: $gray-dark;
        font-size: 30px
      }
    }
  }
}
