<div class = "name-detail">
  <div class="typeahead-large" ng-if="$ctrl.isNew">
    <input
         id="nameInput"
         class="form-control"
         ng-class="{'error': $ctrl.errorNameInput}"
         placeholder="{{:: 'callPickup.namePlaceholder' | translate}}"
         ng-model="$ctrl.callPickupName"
         ng-change="$ctrl.onChange()"
         autocomplete="off"
         data-ng-keypress="$ctrl.keypress($event)"
         ng-keyup="$ctrl.keyup($event)"
         focus-on>
    <p class="input-description" translate="callPickup.nameHint"></p>
  </div>

 <div ng-if="!$ctrl.isNew">
    <input
      cs-input
      type="text"
      id="nameInput"
      cs-input-size="small-12"
      ng-class="{'error': $ctrl.errorNameInput}"
      placeholder="{{:: 'callPickup.namePlaceholder' | translate}}"
      ng-model="$ctrl.callPickupName"
      ng-change="$ctrl.onChange()"
      ng-required="$ctrl.isRequired"
      ng-keypress="$ctrl.keypress($event)"
      ng-keyup="$ctrl.keyup($event)"
      focus-on>
  </div>
</div>
