<div>
  <cs-overlay-panel class="paginggroup overlay-panel typeahead-group"
                    overlay-title="{{::'pagingGroup.createTitle' | translate}}" close="$ctrl.cancelModal()"
                    ng-keyup="$ctrl.evalKeyPress($event.keyCode)"
                    ng-keypress="$ctrl.enterNextPage($event.keyCode)">
    <cs-setup-assistant
      previous="$ctrl.previousButton()"
      next="$ctrl.nextButton()"
      next-text="$ctrl.nextText()"
      previous-fn="$ctrl.previousPage()"
      next-fn="$ctrl.nextPage()"
      next-aria-label="{{::'common.next' | translate}}"
      previous-aria-label="{{::'common.previous' | translate}}">

      <pg-name
           ng-if="$ctrl.getPageIndex() === 0"
           on-update="$ctrl.onUpdateName(name, isValid)"
           paging-group-name="$ctrl.name"
           ng-class="$ctrl.animation"></pg-name>

      <pg-number
           ng-if="$ctrl.getPageIndex() === 1"
           on-update="$ctrl.onUpdateNumber(number, isValid)"
           paging-group-number="$ctrl.number"
           ng-class="$ctrl.animation"></pg-number>

      <pg-member
           ng-if="$ctrl.getPageIndex() === 2"
           on-update="$ctrl.onUpdateMember(members)"
           selected-members="$ctrl.selectedMembers"
           card-threshold="6"
           ng-class="$ctrl.animation"></pg-member>

      <pg-initiator
           ng-if="$ctrl.getPageIndex() === 3"
           on-update="$ctrl.onUpdateInitiator(initiatorType, selectedInitiators)"
           initiator-type="$ctrl.initiatorType"
           selected-initiators="$ctrl.selectedInitiators"
           card-threshold="6"
           ng-class="$ctrl.animation"></pg-initiator>

    </cs-setup-assistant>
  </cs-overlay-panel>
</div>
