.overview-page {
  .service-name {
    flex-direction: column;
    i {
      font-size: 56px;
      padding-bottom: 20px;
    }
    span {
      text-align: center;
    }
  }
  .footer-content i, i.icon-circle {
    &.success {
      color: $color-cta-base;
    }
    &.warning {
      color: $color-attention-base;
    }
    &.danger {
      color: $color-alerts-base;
    }
    &.disabled {
      color: $gray-base;
    }
  }
  .cs-card > article footer.footer-menu {
    background-color: #efefef;
  }
  .overview-title {
    text-transform: uppercase;
  }
}
