<header>
  <div class="overview-header">
    <i class="icon" ng-class="card.icon"></i>
    <span>{{card.name | translate}}</span>
  </div>
</header>
<section ng-if="card.enabled">
  <div class="overview-info">
    <div>{{(card.currentTitle || 'overview.thisMonth') | translate }}</div>
    <div class="overview-count">{{(card.current | number) || 'N/A'}}</div>
    <section>
      <button ng-if="card.isDeviceEnabled" ng-href="{{card.settingsUrl}}" type="button" class="btn btn--cta" translate="overview.cards.roomSystem.enableDevices"></button>
      <div ng-if="!card.isDeviceEnabled" class="last-count">{{(card.previousTitle || 'overview.lastMonth') | translate }} {{(card.previous | number) ||
      'N/A'}}
  	  </div>
    </section>
  </div>
</section>
<footer class="footer-menu ng-isolate-scope overview-footer-content-trial"
        ng-class="{'overview-footer-content-trial' : card.trial ,  'overview-footer-content'  : !card.trial }"
        ng-if="card.enabled">
  <span class="footer-content">
  <span class="badge warning" ng-if="card.trial && (!overview.trialDaysLeft || overview.trialDaysLeft >= 0)" translate="customerPage.trial"></span>
  <span class="badge alert" ng-if="card.trial && (overview.trialDaysLeft < 0)" translate="customerPage.expired"></span>
  <a ng-href="{{overview.statusPageUrl}}" target="_blank" class="monitoring-cell" ng-show="card.showHealth" aria-label="{{::card.healthStatusAria}}">
    <cs-statusindicator ng-model="card.healthStatus"></cs-statusindicator>
    <span>{{card.levelText}}</span>
  </a>
  </span>
  <span class="footer-icons">
    <a ng-href="{{card.settingsUrl}}" ng-if="card.settingsUrl" aria-label="{{card.name | translate}} {{'common.settings' | translate}}">
      &nbsp;<i class="icon icon-settings"></i>
    </a>
  </span>
</footer>
<section ng-if="!card.enabled" class="disabled-section">
  <span>{{(card.notEnabledText || 'overview.notEnabledText') | translate}}</span>
  <a ng-href="{{card.notEnabledAction}}" ng-if="card.notEnabledAction" target="_blank">{{::card.notEnabledActionText |
    translate}}</a>
</section>
<footer ng-if="!card.enabled && card.notEnabledFooter" class="disabled-footer">
  <div ng-if="!card.isCSB">
    <p>{{card.notEnabledFooter| translate}}</p>
  </div>
  <div ng-if="card.isCSB">
    <p>
      <span translate="overview.visitCsb"></span>
      <a href target="_blank" ui-sref="userRedirect" translate="overview.telstraMarketplace"></a>
      <span translate="overview.toSubscribe"></span>
    </p>
  </div>
</footer>
