<div class="overview-page">
  <cs-page-header title-name="overview.pageTitle"></cs-page-header>
  <div class="cs-card-container multiple-layouts">
    <cs-card-layout class="three-fourths"  block-view="true">
      <cs-card class="medium menu-card overview-card" ng-class="card.cardClass" ng-repeat="card in overview.cards">
        <article ng-include="card.template"></article>
      </cs-card>
    </cs-card-layout>
    <cs-card-layout block-view="true" class="fourth">
      <cs-card class="full side-info-card">
        <article>
          <header>
            <div translate="homePage.notifications"></div>
          </header>

          <section class="monitoring-panel small-3 medium-12 column" ng-if="overview.notifications.length === 0">
            <div class="notification-style">
              <span translate="overview.nonotifications"></span>
            </div>
          </section>
          <section class="monitoring-panel small-3 medium-12 column" ng-if="overview.notifications.length > 0">
            <div class="notification-style" ng-if="overview.showLearnMoreNotification">
              <span class="notification-spacing">
                <span class="badge primary" translate="common.upgrade"></span>
                <span class="text" translate="homePage.proPackNotification"></span>
                <div>
                  <learn-more location="overview_notification"></learn-more>
                </div>
              </span>
            </div>
            <div class="notification-style" ng-repeat="notification in overview.notifications | orderBy:'badgeText':false:overview.notificationComparator">
              <span class="notification-spacing">
                <span class="badge {{notification.badgeType}}" translate="{{notification.badgeText}}"></span>
                <span class="text" translate="{{notification.text}}" translate-values="{{notification.textValues}}" translate-compile></span>
                <div>
                  <a ng-if="notification.linkText.length > 0" ng-click="notification.link()" translate="{{notification.linkText}}"></a>
                </div>
              </span>
              <button type="button" class="close" ng-if="notification.canDismiss" ng-click="overview.dismissNotification(notification)"></button>
            </div>
          </section>
        </article>
      </cs-card>
    </cs-card-layout>
  </div>
</div>
