<div class="overview-page">
  <cs-page-header title="{{::overview.pageTitle}}" show-read-only></cs-page-header>
  <div class="cs-card-container multiple-layouts">
    <cs-card-layout class="three-fourths">
      <cs-card class="medium menu-card overview-card" ng-class="card.cardClass" ng-repeat="card in overview.cards">
        <article ng-include="card.template"></article>
      </cs-card>
    </cs-card-layout>
    <cs-card-layout block-view="true" class="fourth">
      <cs-card class="full side-info-card">
        <article>
          <header>
            <div translate="homePage.notifications"/>
          </header>

          <section class="monitoring-panel small-3 medium-12 column"
                   ng-if="!overview.displayNotifications()">
            <div class="notification-style">
              <span translate="overview.nonotifications"></span>
            </div>
          </section>
          <section class="monitoring-panel small-3 medium-12 column"
                   ng-if="overview.displayNotifications()">

            <div class="notification-style" ng-show="overview.setupNotDone()">
              <span class="badge badge-warning" translate="homePage.todo"></span>
              <span class="notification-spacing">
                <span translate="homePage.setUpYourTrial"></span>
                <a ng-click="overview.openFirstTimeSetupWiz()" translate="homePage.beginTrial"></a>
              </span>
            </div>

            <!--calendar-->
            <div class="notification-style" ng-if="!overview.isCalendarAcknowledged">
              <span class="badge success" translate="common.new"></span>
              <div class="notification-spacing">
                <span translate="homePage.setUpCalendarService"></span>
                <a ng-click="overview.showServiceActivationPage('calendar-service')"
                   translate="homePage.getStarted"></a>
              </div>
              <button type="button" class="close"
                      ng-click="overview.setHybridAcknowledged('calendar-service')"></button>
            </div>
            <!--call-aware-->
            <div class="notification-style" ng-if="!overview.isCallAwareAcknowledged">
              <span class="badge success" translate="common.new"></span>
              <div class="notification-spacing">
                <span translate="homePage.setUpCallAwareService"></span>
                <a ng-click="overview.showServiceActivationPage('call-aware-service')"
                   translate="homePage.getStarted"></a>
              </div>
              <button type="button" class="close"
                      ng-click="overview.setHybridAcknowledged('call-aware-service')"></button>
            </div>
            <!--call-connect-->
            <div class="notification-style" ng-if="!overview.isCallConnectAcknowledged">
              <span class="badge success" translate="common.new"></span>
              <div class="notification-spacing">
                <span translate="homePage.setUpCallConnectService"></span>
                <a ng-click="overview.showServiceActivationPage('call-connect-service')"
                   translate="homePage.getStarted"></a>
              </div>
              <button type="button" class="close"
                      ng-click="overview.setHybridAcknowledged('call-connect-service')"></button>
            </div>
            <!--cloud-sip-uri -->
            <div class="notification-style" ng-if="!overview.isCloudSipUriSet && !overview.isSipUriAcknowledged">
              <span class="badge warning" translate="homePage.todo"></span>
              <div class="notification-spacing">
                <span translate="homePage.setupCloudSipUriMessage"></span>
                <a ng-click="overview.showEnterpriseSettings()"
                   translate="homePage.goSetupCloudSipUri"></a>
              </div>
              <button type="button" class="close" ng-click="overview.setSipUriNotificationAcknowledged()"></button>
            </div>
          </section>
        </article>
      </cs-card>
    </cs-card-layout>
  </div>
</div>
