<!--<header><h4 translate="overview.cards.users.title"></h4></header>-->
<header>
  <div class="overview-header">
  <i class="icon" ng-class="card.icon"></i>
  <span>{{card.name | translate}}</span>
  </div>
</header>
<section>
  <!--<h4>{{(card.usersToConvert | number) || 'N/A'}}</h4>-->
  <div class="convert-block">
    <div class="convert-text">
      <span class="convert-nr">{{(card.usersToConvert | number) || 'N/A'}}</span>&nbsp;
      <span translate="overview.cards.users.convertText" id="convertText"></span>
    </div>
    <button id="convertButton" class="btn btn--cta" translate="overview.cards.users.convertButton" ng-click="card.openConvertModal()" ng-disabled="!card.usersToConvert">
    </button>
  </div>
  <div class="status-block">
    <ul>
      <li>
        <i class="icon icon-circle" ng-class="card.dirsyncEnabled ? 'success' : 'disabled'"></i>
        <span translate="overview.cards.users.directorySynchronization"></span>
      </li>
      <li>
        <i class="icon icon-circle" ng-class="card.ssoEnabled ? 'success' : 'disabled' "></i>
        <span translate="overview.cards.users.singleSignOn"></span>
        <a class="icon-settings icon" ng-click="overview.showSSOSettings()"></a>
      </li>
    </ul>
  </div>
</section>
