.flip .card.flipped {
  transform: rotateY(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  outline: none;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  outline: none;
}
.flip .card .front {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 206px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  color: #6a6b6c;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  outline: none;
}
.flip .card .back {
  transform: rotateY(-180deg);
  position: relative;
  width: 100%;
  min-height: 206px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  color: #6a6b6c;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  outline: none;
}
.media-flip-icon {
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 23px;
  padding-right: 20px;
  font-size: 1.2rem;
  color: #049fd9;
}
.card-desc {
  color: #808080;
  padding-top: 30px;
}
