@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/page';

.dgc-meeting {
    background-color: $white;
    height: 100vh;

    .page-header__left {
      span {
        a {
          &:focus {
            outline: none;
            box-shadow: none;
          }
        }
      }
    }
    .content-container {
      .overview {
        padding: 1.8rem 2rem;
      }

      .meeting-room-name {
        padding: 5px 0;
        color: $gray-dark-1;

        h3 {
          display: inline-block;
        }
        small {
          color: $gray-light-1;
          margin-left: 15px;

          i {
            padding-right: 10px;
            color: $gray-light-1;
          }
        }
      }

      .room-information {
        padding-bottom: 1.1rem;

        h6 {
          display: inline-block;
          margin: 0;
          padding: 0 1.2rem 0 0;
          color: $gray-base;
        }
      }
    }

    .medium.header-border {
      header {
        border-bottom: 0;
        text-align: center;
        padding-bottom: 0;
      }

      &.meeting-time {
        text-align: center;

        article {
          box-shadow: none;

          header {
            padding-top: 0;
            height: 31px;
            h4 {
              color: $gray-base;
              font-size: 1rem;
            }
          }
          section {
            overflow: hidden;
            margin: -24px 0;
            padding: 0;
          }

          p {
            color: $color-primary-base;
            font-size: 30px;
            font-weight: 300;
            font-family: "CiscoSans";

            .cs-loading {
              display: inherit;
              padding-left: .45rem;

              span {
                color: $color-primary-base;
                font-size: 0.575rem;
                font-family: "Cisco_Toolkit_Icons";
              }
            }
          }

          span {
            font-size: 14px;
            color: $gray-base;
            font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          }
        }
      }

      &.meeting-info {
        width: 25%;
        text-align: left;
        margin-bottom: 10px;
        article {
          background: $gray-light-4;

          header {
            padding-top: 1rem;
            padding-left: 1rem;
            h4 {
              font-size: 20px;
              color: $gray-dark-3;
              text-align: left;
            }
          }

          p {
            color: $gray-light-1;
            padding-top: 0;
            padding-left: 1rem;
          }

          footer {
            display: flex;

            .meeting-duration {
              text-align: center;
              flex: 1;
              color: $gray-dark-1;
              line-height: 20px;
              font-size: 16px;

              span {
                display: block;
                margin-bottom: 5px;
              }

              i {
                color: $gray-light-1;
                font-style: normal;
              }
            }
          }
        }
      }
    }

    .timeline {
      margin-top: 10px;
      padding: 0 2rem;
      .nav-pills {
        margin-bottom: 10px;
        padding-right: 25px;
      }
      .nav-pills>li {
        float: right !important;
      }
      .tab-content {
        border: 0;
      }
      .timeline-tab {
        .nav-pills {
          > li {
            box-sizing: border-box;
            margin-left: 1rem;

            > a {
              border: 1px solid $color-blue-darker;
              border-radius: 4px;
              background: $white;
              color: $color-blue-darker;

              &:hover {
                background-color: $color-blue-darker;
                color: $white;
              }
            }

            &.active {
              > a {
                color: $white;
                background-color: $color-blue-darker;
              }
            }
          }
        }
      }
    }

    .meeting-overview {
      padding: 1.8rem 2rem 0rem;
      border-top: 1px solid $gray-light-3;
      border-bottom: 1px solid $gray-light-3;
      margin-top: 1rem;
      background-color: $white;

      h4 {
        padding-top: 0rem;
      }

      .overviewInfo {
        width: 100%;
        padding-top: 1rem;
        margin: 0;

        &:after{
          display:block;
          content:"";
          height:0;
          clear:both;
          overflow:hidden;
        }

        li {
          float: left;
          width: 300px;
          height: 100px;
          padding-bottom: 1rem;
          list-style-type: none;

          h6 {
            font-size: 0.8rem;
            color: $gray-base;
            padding-bottom: 0.5rem;
          }

          p {
            line-height:24px;
          }
        }
      }
    }

    .sessionInfo {
      border-bottom: 1px solid $gray-light-3;
      padding: 1.8rem 2rem;
      background: $white;
      margin-bottom: 5rem;

      .title {
        position: relative;
        padding-left: 1.8rem;
        border: none;
        outline: none;
        box-shadow: none;

        &:before {
          position: absolute;
          top: -2px;
          color: $gray-base;
          font-size: 2rem;
        }

        span {
          font-family: CiscoSansTT Light,Helvetica Neue,Helvetica,Arial,sans-serif;
          font-size: 1.25rem;
        }
      }

      .icon-chevron-right {
        &::before {
          left: -2px;
        }
      }

      .icon-chevron-down {
        &::before {
          left: -16px;
        }
      }

      .info-box {
        display: inline-block;
        width: 70%;

        .note {
          padding: 1rem 0 1.5rem 1.2rem;
          color: $gray-base;
        }
      }

      .row {
        max-width: none;
      }

      .cs-card>article {
        box-shadow: none;

        header {
          padding: 0 0.79rem;
          text-align: left;

          .name {
            color: $gray-base;
            line-height: 1;
            font-size: 0.8rem;
            font-family: "CiscoSans";
          }

          small {
            color: $gray-base;
          }

          .green-color {
            color: $color-green-base;
          }
        }
      }
    }

  .sessionInfo.showInfo {
    margin-bottom: 0;
  }

    .participants {
        margin: 0;
        h5 {
          padding: 24px;
        }
    }

    .loading {
        margin: 4rem 0;
        text-align: center;
    }

    .tabContent {
      width: 100%;
      overflow: hidden;
      background-color: $white;
    }
  }
