@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/page';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

$tab-radius: 4px;

.dgc-meeting {
    @extend %page-content-padding;
    $content-padding-size: 1rem;
    $overview-padding-size: 2rem;
    $room-title-height: 2.5rem;
    $room-info-height: 2rem;
    $grid-title-height: 4.3rem;
    background-color: $white;
    min-height: 100vh;
    overflow: hidden;

    .overview {
      padding: $content-padding-size 0.5rem;

      .meeting-room-name {
        display: flex;
        justify-content: space-between;
        color: $gray-dark-1;
        height: $room-title-height;
  
        .name-state {
          display: flex;

          h6 {
            margin-left: 1rem;
          }
        }
        h3 {
          display: inline;
          align-items: flex-end;
        }
        .title {
          display: inline;
          align-items: center;
        }
        .detailInfo {
          display: flex;
          align-items: flex-end;
          color: $gray-base;
          margin-left: 1.25rem;
  
          span {
            padding-left: 0.275rem;
          }
        }
      }
  
      .room-information {
        width: 100%;
        height: $room-info-height;
        overflow: hidden;
        display: flex;
  
        h6 {
          display: flex;
          flex: 1;
          justify-content: flex-start;
          align-content: center;
          align-items: flex-end;
          color: $gray-dark-1;
        }
  
        .value {
          padding-left: 0.5rem;
          color: $color-blue-darker;
        }
      }
  
      .timeline {
        padding: 2.5rem 0 3rem 0;
  
        .tab-content {
          border: 0;
        }
        .timeline-tab {
          position: relative;
          width: 100%;
          margin-bottom: 1rem;
          height: 2rem;
  
          .nav-pills {
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -70px;
            text-align: center;
            display: flex;
  
            > li {
              display: inline-block;
              float: none;
              margin: 0;
              padding: 0;
  
              > a {
                border: 1px solid $color-blue-base;
                background: $white;
                color: $color-blue-base;
                box-shadow: none;
  
                &:hover {
                  background-color: $color-blue-base;
                  color: $white;
                }
              }
  
              &.active {
                > a {
                  color: $white;
                  background-color: $color-blue-base;
                }
              }
  
              &:first-child {
                > a {
                  border-top-left-radius: $tab-radius;
                  border-bottom-left-radius: $tab-radius;
                }
              }
  
              &:last-child {
                > a {
                  border-top-right-radius: $tab-radius;
                  border-bottom-right-radius: $tab-radius;
                }
              }
            }
          }
        }
      }
  
      .meeting-overview {
        padding-top: $overview-padding-size;
        border-top: 1px solid $gray-light-3;
        background-color: $white;
  
        h4 {
          padding-top: 0rem;
        }
  
        .features{
          height: 30px; 
          text-align: left; 
          font-size: 1rem;
          margin-top: 10px;
        }
  
        .overviewInfo {
          padding-top: 0.75rem;

          &:after{
            display: block;
            content: "";
            height: 0;
            clear: both;
            overflow: hidden;
          }
  
          li {
            list-style-type: none;
  
            h6 {
              display: flex;
              color: $black;
              padding-bottom: 0.5rem;
  
              .title{
                display: flex;
                align-items: center;
              }
  
              i{
                display: flex;
                align-items: center;
                color: $gray-base;
                font-size: 0.75 rem;
                padding-left: 0.7rem;
              }
            }
  
            p {
              color: $gray-base;
              &.green-color {
                color: $color-green-base;
              }
            }
          }
        }
      }
    }
    
    .participants {
        margin: 0;
        h5 {
          height: $grid-title-height;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }

        .gridStyle {
          height: calc(100vh - #{$content-padding-size * 4} - #{$grid-title-height + $room-info-height * 2 + $room-title-height} - #{$page-header-height});
        }
    }

    .loading {
        margin: 4rem 0;
        text-align: center;
    }

    .tabContent {
      width: 100%;
      background-color: $white;
    }
  }
