@import '~@collabui/collab-ui/scss/settings/colors';

$btn-right-pos: 0rem;

.meeting-export {
  background-color: $gray-light-1;
  border-radius: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  .text {
    color: $black;
  }
}

.btn-on-right {
  position: absolute; 
  right: $btn-right-pos;
}