@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/page';

.gemini-side-panel {
  .feature-arrow {
    a {
      color: $gray-dark-2;
    }
    i {
      font-size: 12px;
    }
  }

  .nav-tabs {
    > li {
      > a {
        padding-bottom: 1.0625rem;
      }
    }
  }
}

.panel-container {
  .side-panel-wrapper {
    .side-panel-section {
      .success {
        color: $color-cta-dark;
      }

      .section-title-row {
        padding: 0.5rem 0;
        a {
          display: block;
          margin: 0 -25px;
          padding: 0 25px;
          width: calc(100% + 50px);
          height: 2.25rem;
          line-height: 2.25rem;
          color: $gray-dark-2;

          &:hover {
            background-color: $gray-light-4;
          }

          .pull-right {
            color: $focus-color;
          }
        }
      }

      .section-list {
        color: $gray-light-1 !important;
        padding: 0;
      }

      .pull-right {
        color: $gray-light-1;
      }

      h6.section-list {
        margin-top: -10px;
        margin-bottom: 10px;
      }

      .session-type-list li {
        overflow: hidden;
        font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        span {
          float: right;
        }
      }
    }

    .meeting-header {
      color: $gray-dark-3;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }

  .feature-col ul {
    margin-left: 0;
    width: 100%;
    overflow: hidden;
    li {
      width: 33.3%;
      height: 40px;
      float: left;
      list-style: none;
      margin-bottom: 15px;
    }
  }
}

.content-container .meeting-list {
  position: relative;
  background: $white;
  padding-left: 0 !important;// FIXME: track down and remove need for '!important'
  padding-right: 0 !important;// FIXME: track down and remove need for '!important'
  overflow: hidden;
  height: calc(100vh - (#{$page-header-height} + #{$page-sub-header-height})) !important;

  .meeting-search {
    display: flex;
    flex-wrap: wrap;

    .gridStyle {
      margin-top: 20px;
      height: calc(100vh - 236px) !important;

      .ui-grid-header-cell {
        height: 40px !important;

        .sortable {
          display: flex;
          display: -webkit-flex;
          align-items: center;
        }
      }

      .ui-grid-top-panel {
        border-bottom: none;

        .ui-grid-header-cell-primary-focus {
          box-shadow: none;

          i {
            top: 50%;
            margin-top: -14px;
          }
        }
      }
    }

    .error {
      background-color: #FEDCD7;
      border-color: $color-alerts-base;

      .cs-datapicker-normal {
        background-color: #FEDCD7; //TODO Now Collab-UI(4.2.0) changed the color variable $color-alerts-lighter(#FEDCD7 => #F0928B), the original is #FEDCD7, But now it’s available, we need to check with Collab-UI Team.
      }

      input {
        background: none !important;
      }
    }

    .cs-datapicker-normal {
      padding-right: 21px !important;

      i.date-selected {
        color: $gray-light-1;
      }

      .close {
        z-index: -1;
      }
    }

    .example-indent {
      position: relative;
      .cs-datepicker {
        width: 100%;
      }
    }

    .cs-datepicker .calendar span.day-wrapper span.day.today {
      color: $color-primary-base;
    }

    .cs-datepicker .calendar span.day-wrapper span.day.selected-date {
      color: $white;
    }

    .searchList {
      width: 100%;

      .searchfilter {
        height: 36px;
        width: 70%;
        .searchbox {
          margin-left: 2rem;
          .searchinput {
            > input {
              width: 300px !important;
              max-width: 300px !important;
              margin-right: 30px;
              color: $gray-dark-1 !important;
            }
          }
        }
      }

      .timezone {
        width: 25%;
        padding-right: 1rem;

        .select-options > li > a,
        .select-options > .li > a {
          font-size: 0.8rem;
        }
      }
    }
  }

  .search-info {
    text-align: center;
    padding-top: 100px;
    color: $gray-light-2 !important;
    position: absolute;
    top: 132px;
    right: 0;
    width: 100%;

    h2,
    h4 {
      color: $gray-light-2 !important;
    }
  }

  .spinner-example--xlarge {
    font-size: 5rem;
  }

  .data-span {
    padding: 0 10px;
    font-size: 15px;
    line-height: 35px;
  }

  .span-flex {
    position: relative;
    z-index: 9;
    display: flex;
  }

  .data-icon-i {
    color: $gray-light-1;
    cursor: pointer;
    font-size: 30px;
    line-height: 35px;
    padding-right: 1rem;
    margin-top: -10px;

    &::before {
      padding-top: 10px;
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.meeting-large-detail {
  .row {
    margin: 0;
  }

  .columns {
    h3 {
      padding: 10px 0;
      color: $gray-base;
      span {
        font-size: 0.875rem;
      }
    }
  }

  .meeting-title {
    margin-top: 30px;
    color: $gray-dark-3;
    margin-bottom: -5px;
    font-size: 17px;
  }
}

.tooltip.tip-top[popup-class="tn-search-error"] {
  position: absolute;
  padding: 0;
  margin-top: -1rem;
  .c-nub {
    background: #FEDCD7;
    border: solid 1px #E74A3E;
    color: #E74A3E;
    padding: 0.5rem;
    font-size: 0.75rem;
    line-height: 14px;

    &::after {
      position: absolute;
      left: calc(50% + 1px);
      content: "";
      border: 4px solid;
      z-index: 12;
      bottom: -7px;
      border-color: #FEDCD7 transparent transparent;
    }
  }

  &::after {
    position: absolute;
    bottom: -10px;
    border: 5px solid;
    border-color: $color-alerts-base transparent transparent transparent;
    left: 50%;
    content: "";
  }
}

.ng-hide {
  display: none;
}

.panel-container .side-panel-wrapper .side-panel-section .feature-list .success {
  color: $color-green-dark !important;
}
