<div class="ui-grid-cell-contents" style="padding-top: 1.5rem" ng-if="grid.appScope.$ctrl.serviceId !== 'ciscouc'">
  <i class="icon icon-circle status-indicator" ng-class="grid.appScope.$ctrl.getSeverity(row.entity.aggregates.state).cssClass"></i>
  <span translate="{{'hercules.status.' + row.entity.aggregates.state}}"></span>
  <span ng-if="row.entity.aggregates.state === 'not_configured'"> | <span translate="hercules.notifications.configure-connector.action-in-grid"></span></span>
  <span ng-if="row.entity.aggregates.upgradeState === 'upgrading'"> | <span translate="hercules.status.upgrading"></span></span>
  <span ng-if="row.entity.aggregates.provisioning.availablePackageIsUrgent && !row.entity.aggregates.upgradeState === 'upgrading'"> | <span translate="hercules.status.urgentUpgradeAvailable"></span></span>
</div>
<div class="ui-grid-cell-contents" style="padding-top: 1.5rem" ng-if="grid.appScope.$ctrl.serviceId === 'ciscouc'">
  <i class="icon icon-circle status-indicator success"></i>
  <span translate="{{'hercules.status.' + row.entity.aggregates.state}}"></span>
</div>

