<div class="status-row">
  <div class="title">{{$ctrl.name}}</div>
  <div class="status">
      <i class="icon icon-circle status-indicator" ng-class="{ 'success' : $ctrl.enabled, 'danger': !$ctrl.enabled }"></i>
      <span ng-if="$ctrl.enabled" translate="globalSettings.dirsync.enabled"></span>
      <span ng-if="!$ctrl.enabled" translate="globalSettings.dirsync.disabled"></span>
  </div>
  <div class="link">
    <a href="" ng-click="$ctrl.handleClick()">{{$ctrl.linkTitle}}</a>
  </div>
</div>
