<cs-sp-section>
  <div class="section-title-row section-name" translate="hercules.softwareUpgrade.softwareUpgrade"></div>
  <div class="hercules-upgrade-section">
    <div ng-if="!$ctrl.showManagementUpgradeProgress">
      <p ng-if="!$ctrl.softwareUpgrade.isManagementUpgradeAvailable" translate="hercules.softwareUpgrade.upToDate" translate-values="{connectorType: $ctrl.localizedManagementConnectorName}"></p>
      <p ng-if="$ctrl.softwareUpgrade.isManagementUpgradeAvailable && !$ctrl.softwareUpgrade.isManagementUrgent" translate="hercules.softwareUpgrade.upgradePossible" translate-values="{connectorType: $ctrl.localizedManagementConnectorName, availableVersion: $ctrl.softwareUpgrade.availableManagementVersion}"></p>
      <p ng-if="$ctrl.softwareUpgrade.isManagementUpgradeAvailable && $ctrl.softwareUpgrade.isManagementUrgent" translate="hercules.softwareUpgrade.urgentUpgrade" translate-values="{connectorType: $ctrl.localizedManagementConnectorName, availableVersion: $ctrl.softwareUpgrade.availableManagementVersion}"></p>
      <button class="btn btn--primary"
              ng-click="$ctrl.showUpgradeDialog(['squared-fusion-mgmt'],'c_mgmt', $ctrl.softwareUpgrade.availableManagementVersion)"
              ng-disabled="!$ctrl.softwareUpgrade.isManagementUpgradeAvailable"
              translate="hercules.softwareUpgrade.upgradeNow">
      </button>
    </div>
    <div ng-if="$ctrl.showManagementUpgradeProgress">
      <div ng-if="$ctrl.fakeManagementUpgrade">
        <div class="progressbar-info">
          <span class="progressbar-label" translate="hercules.softwareUpgrade.pending"></span>
          <span class="progressbar-progress">0 / {{$ctrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar animate="true" value="10" max="100"></progressbar>
      </div>
      <div ng-if="!$ctrl.fakeManagementUpgrade">
        <div class="progressbar-info">
          <span ng-show="!$ctrl.managementUpgradeJustFinished && $ctrl.managementUpgradeDetails.upgradingHostname !== ''" class="progressbar-label" translate="hercules.softwareUpgrade.upgradingHost" translate-values="{host: $ctrl.managementUpgradeDetails.upgradingHostname, version: $ctrl.softwareUpgrade.provisionedManagementVersion}"></span>
          <span ng-show="!$ctrl.managementUpgradeJustFinished && $ctrl.managementUpgradeDetails.upgradingHostname === ''" class="progressbar-label" translate="hercules.softwareUpgrade.upgradeProcessInitiating" translate-values="{version: $ctrl.softwareUpgrade.provisionedManagementVersion}"></span>
          <span ng-if="$ctrl.upgradeJustFinished" class="progressbar-label" translate="hercules.softwareUpgrade.upgradeDone"></span>
          <span class="progressbar-progress">{{$ctrl.managementUpgradeDetails.numberOfUpsmthngHosts}} / {{$ctrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar ng-show="!$ctrl.upgradeJustFinished" animate="true" value="$ctrl.managementUpgradeDetails.numberOfUpsmthngHosts" max="$ctrl.softwareUpgrade.numberOfHosts"></progressbar>
        <progressbar ng-show="$ctrl.upgradeJustFinished" type="success" value="1" max="1"></progressbar>
      </div>
    </div>
  </div>

  <div class="hercules-upgrade-section">
    <div ng-if="!$ctrl.showUpgradeProgress">
      <p ng-if="!$ctrl.softwareUpgrade.isUpgradeAvailable" translate="hercules.softwareUpgrade.upToDate" translate-values="{connectorType: $ctrl.localizedConnectorName}"></p>
      <p ng-if="$ctrl.softwareUpgrade.isUpgradeAvailable && !$ctrl.softwareUpgrade.isUrgent" translate="hercules.softwareUpgrade.upgradePossible" translate-values="{connectorType: $ctrl.localizedConnectorName, availableVersion: $ctrl.softwareUpgrade.availableVersion}"></p>
      <p ng-if="$ctrl.softwareUpgrade.isUpgradeAvailable && $ctrl.softwareUpgrade.isUrgent" translate="hercules.softwareUpgrade.urgentUpgrade" translate-values="{connectorType: $ctrl.localizedConnectorName, availableVersion: $ctrl.softwareUpgrade.availableVersion}"></p>
      <button class="btn btn--primary"
              ng-click="$ctrl.showUpgradeDialog($ctrl.servicesId, $ctrl.connectorType, $ctrl.softwareUpgrade.availableVersion)"
              ng-disabled="!$ctrl.softwareUpgrade.isUpgradeAvailable"
              translate="hercules.softwareUpgrade.upgradeNow">
      </button>
    </div>
    <div ng-if="$ctrl.showUpgradeProgress">
      <div ng-if="$ctrl.fakeUpgrade">
        <div class="progressbar-info">
          <span class="progressbar-label" translate="hercules.softwareUpgrade.pending"></span>
          <span class="progressbar-progress">0 / {{$ctrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar animate="true" value="10" max="100"></progressbar>
      </div>
      <div ng-if="!$ctrl.fakeUpgrade">
        <div class="progressbar-info">
          <span ng-show="!$ctrl.upgradeJustFinished && $ctrl.upgradeDetails.upgradingHostname !== ''" class="progressbar-label" translate="hercules.softwareUpgrade.upgradingHost" translate-values="{host: $ctrl.upgradeDetails.upgradingHostname, version: $ctrl.softwareUpgrade.provisionedVersion}"></span>
          <span ng-show="!$ctrl.upgradeJustFinished && $ctrl.upgradeDetails.upgradingHostname === ''" class="progressbar-label" translate="hercules.softwareUpgrade.upgradeProcessInitiating" translate-values="{version: $ctrl.softwareUpgrade.provisionedVersion}"></span>
          <span ng-if="$ctrl.upgradeJustFinished" class="progressbar-label" translate="hercules.softwareUpgrade.upgradeDone"></span>
          <span class="progressbar-progress">{{$ctrl.upgradeDetails.numberOfUpsmthngHosts}} / {{$ctrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar ng-show="!$ctrl.upgradeJustFinished" animate="true" value="$ctrl.upgradeDetails.numberOfUpsmthngHosts" max="$ctrl.softwareUpgrade.numberOfHosts"></progressbar>
        <progressbar ng-show="$ctrl.upgradeJustFinished" type="success" value="1" max="1"></progressbar>
      </div>
    </div>
  </div>
  <div>
    <p ng-if="$ctrl.softwareUpgrade.showUpgradeWarning()">
      <i class="icon icon-warning no-data-warning hercules-update-warning-text"></i>
      <span class="hercules-update-warning-text"
            translate="hercules.softwareUpgrade.upgradeWarning"
            translate-values="{ManagementConnector: $ctrl.localizedManagementConnectorName, CiscoCollaborationCloud: $ctrl.localizedCCCName}"></span>
    </p>
  </div>
</cs-sp-section>
