/******** Resets & Globals **********/

body {
  background-color: $background-color;
}

.app-container {
  padding: 0;
}

.container {
  margin: 0;
}

.page-header {
  margin: 0;
  padding: 0;
}

.page-options-bar {}

.content-view {
  overflow-x: hidden;
  min-height: 85vh;
}

.user-img {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  background-color: lighten($gray-dark, 25%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  .icon {
    color: $brand-white;
  }
}

// Common ngGrid Styles
.grid-refresh {
  position: absolute;
  top: 20rem;
  left: 50%;
}

@media screen {
  #printSection {
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden !important;
    height: 0;
  }

  #printSection, #printSection * {
    visibility: visible !important;
    height: auto !important;
  }

  #printSection {
    position: absolute;
    left: 0;
    top: 1rem;
  }

  .modal {
    overflow: hidden;
    background: none;
  }
}

.pagination, .carousel, .panel-title a, a[ng-click] {
  cursor: pointer;
}

.grid {
  flex: 1;
  position: relative;

  .grid-refresh {
    position: absolute;
    top: 50px;
    left: 50%;
  }
}

a[href="http://www.amcharts.com/javascript-charts/"] {
  visibility: hidden;
}

.indent-checkbox .cs-input-checkbox {
  margin-left: 30px;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.messagebox,
.messagebox-backdrop {
  background-image: url(../images/bg_3515.jpg);
}

.actions-menu.open .dropdown-menu, .actions-menu.open .dropdown-menu .sub-menu, .dropdown-menu .actions-menu.open .sub-menu {
  top: 34px;
}
