@mixin close-icon($color, $hover-color) {
  cursor: pointer;
  color: $color;

  &:hover {
    color: $hover-color;
  }
}

@mixin keep-flex($flex-direction: column, $flex-grow: 1) {
  display: flex;
  flex-direction: $flex-direction;
  flex-grow: $flex-grow;
}
