.first-time-wizard {
  color: @brand-white;

  .header {
    height: 120px;
    width: 1180px;
    margin: auto;
  }

  .header-left {
    float: left;
    display: inline-block;
    margin-top: 47px;
  }

  .icon-cisco-logo {
    font-size: 34px;
    display: inline-block;
    vertical-align: middle;
  }

  .title {
    font-family: @brand-font-cisco-TT-Light;
    font-size: 16px;
    margin-left: 32px;
    display: inline-block;
    vertical-align: middle;
  }

  .greeting {
    font-family: @brand-font-cisco-TT-Extra-Light;
    font-size: 30px;
    float: right;
    margin-top: 47px;
  }
}

.wizard-form {
  padding:0;
}

.wizard-top-padding {
  padding-top:7px;
  width: auto;
}

.wizard-btn-action-row {
  margin-top: 12px;
  text-align: right;
}

.wizard-container {
  position:relative;
  top: 5em;
  left: 3em;
  width: 90%;
}

.wizard-onboard-container {
  top: 2em;
  width: 100%;
}

.onboard-label {
  width: 700px;
  margin-top: 15px;
}

.onboard-panel {
  width: 710px;
  margin-left: -30px;
}

.wiz-onboard-btn {
  margin-left: 5px !important;
  margin-right: 5px !important;
}