@import "planReview/plan-review";
@import "addUsers/add-users";
@import "messageSettings/message-settings";
@import "enterpriseSettings/enterprise-settings";
@import "finish/finish";

.wizard-main-wrapper {
  .row {
    @extend .full;
  }
}

.service-setup-container {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .service-setup {
    label {
      line-height: 24px;
      font-size: 16px;
      color: $gray-dark-4;
      margin-bottom: 0;
      padding-bottom: 11px;
      &.toggle-switch {
        margin-bottom: -2px;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    .description-block {
      margin-top: 0;
      color: $gray-dark-1;
    }
    .formly-field-group {
      margin-bottom: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
    .hide-delete {
      visibility: hidden;
    }
    &.service-setup-extension {
      .formly-field-group {
        margin-bottom: 10px;
      }
    }
    .service-setup-extension-range {
      .popover {
        right: 0;
        left: -6.3rem;
        width: 7.8rem;
        .arrow {
          right: 9px;
        }
      }
      .has-error .form-control {
        box-shadow: inset 0 0 0 2px $brand-danger;
      }
    }
    .service-setup-extension-range-to {
      margin-left: 10px;
      margin-right: 13px;
    }
    &.service-setup-company-voicemail-number {
      margin-bottom: 1rem;
    }
    &.vm-access-padding > div > .cs-input-group{
      margin-bottom: 0;
      label {
        padding-top: 0;
      }
    }
    &.voicemail-padding {
      @include vr-spacing(pl, 2);
      @include vr-spacing(mb, 1.5);
    }
    .service-setup-moh {
      width: 50%;
    }
    &.swtich-margin {
      @include vr-spacing(mt, 1);
    }
    .msg-container {
      min-width: vr-adjust(600px);
    }
    .alert {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .voicemail-switch-width {
      max-width: 40rem;
  }
  .bottom-margin {
    @include vr-spacing(mb, 2.25);
  }
}
