@import "planReview/plan-review";
@import "addUsers/add-users";
@import "messageSettings/message-settings";
@import "sipUriSettings/sip-uri";
@import "enterpriseSettings/enterprise-settings";
@import "finish/finish";

.wizard-main-wrapper {
  .row {
    @extend .full;
  }
}

.service-setup-container {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }
  .service-setup {
    label {
      font-size: 24px;
      line-height: 1;
      margin-bottom: 0;
      padding-bottom: 11px;
      padding-top: 28px;
      &.toggle-switch {
        margin-bottom: -2px;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
    .description-block {
      margin-top: 0;
    }
    .formly-field-group {
      margin-bottom: 0;
    }
    .form-group {
      margin-bottom: 0;
    }
    .hide-delete {
      visibility: hidden;
    }
    a.select-toggle {
      margin-bottom: 0;
    }
    .service-setup-timezone {
      margin-bottom: -2px;
      .formly-input-wrapper {
        width: 50%;
      }
    }
    .service-setup-steering-digit {
      margin-bottom: rem(2);
      .formly-input-wrapper {
        width: 50%;
      }
    }
    .service-setup-site-code {
      .formly-input-wrapper {
        width: 100px;
      }
    }
    &.service-setup-extension {
      .formly-field-group {
        margin-bottom: 10px;
      }
    }
    .service-setup-extension-range {
      width: 375px;
      input {
        width: 100%;
      }
    }
    .service-setup-extension-range-to {
      margin-left: 10px;
      margin-right: 13px;
    }
    .service-setup-company-voicemail ng-form {
      width: 100%;
    }
    .service-setup-company-voicemail-number {
      padding-bottom: 1rem;
      padding-top: 1rem;
      width: 50%;
    }
    .service-setup-moh {
      width: 50%;
    }
  }
}
