.hds {
  background-color: $brand-white;

  .centered-info-pane {
    background-color: $brand-white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20%;
    color: $gray-base;

    h3 {
      color: $gray-base;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .full-height {
    min-height: 100vh;
    min-height: calc(100vh - 150px);
  }

  .btn--alert {
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.hds-service {
  @extend %grid-subheader;
  @extend %page-background-white;
}

.hds-fix-paragraphs {
  p {
    margin-bottom: 1rem;
  }
}

.hds-clusters-list {
  .ngVerticalBar {
    display: none;
  }
}

