.customer-report-filter {
  width: rem-calc(200);
}
.customer-reports {
  .report-card {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);
    article {
      min-height: vr-adjust(570);
      padding: rem-calc(15);
    }
    .report-section-header {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      color: $brand-primary;
      text-align: left;
    }
    .titlebreak {
      margin: 0;
    }
  }
}