@import 'activeUsers/_active-users';
@import 'avgRooms/_avg-rooms';
@import 'callMetrics/_call-metrics-customer';
@import 'mediaQuality/_media-quality-customer';
@import 'registeredEndpoints/_registered-endpoints';

@keyframes graphAxisFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes scaleDownCard {
  0% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    height: 0;
    margin: 0;
    opacity: 0;
  }
}
@keyframes scaleUpCard {
  0% {
    transform: scale(0, 0);
    height: auto;
    margin: 0;
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }
}

.customer-reports {
  @extend %content-subheader;
  @extend %page-content-padding;
  .customer-report-filter {
    width: rem-calc(200);
  }
  .cs-card-layout {
    margin-bottom: rem-calc(15);
  }
  .report-card.hideCard {
    height: 0;
    margin: 0;
    transform: scale(1, 0);
    animation: scaleDownCard .5s linear;
    article {
      transform: scale(1, 0);
      animation: scaleDownCard .5s linear;
      .timechartDiv, .barchart {
        display: none;
      }
    }
  }
  .report-card {
    min-width: rem-calc(650);
    animation: scaleUpCard .5s linear;
    article {
      min-height: vr-adjust(590);
      min-width: rem-calc(650);
      padding: rem-calc(15);
      animation: scaleUpCard .5s linear;
    }
    .report-section-header {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      text-align: left;
    }
    .report-description {
      position: relative;
      z-index: 100;
    }
    .timechartDiv {
      font-size: rem-calc(11);
      height: vr-adjust(380);
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: rem-calc(-50);
    }
    .barchart {
      font-size: rem-calc(11);
      height: vr-adjust(375);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
    .amExportButton {
      left: calc(95% + .1rem);
      ul, .export-main, .export-list {
        overflow: visible;
      }
      .export-main {
        padding-bottom: rem-calc(5);
        ul {
          padding: 0;
        }
      }
    }
    .graph-text {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(15);
      color: $gray-dark-1;
      text-align: left;
      float: left;
      .graph-number {
        font-size: rem-calc(18);
        color: $brand-success;
        text-align: left;
      }
      .graph-media {
        font-size: rem-calc(18);
      }
    }
    .spinner-position {
      position: absolute;
      z-index: 100;
      top: rem-calc(235);
      left: rem-calc(-3);
      width: 100%;
      .icon-2x {
        font-size: 4em;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .no-data-warning {
      color: #f7c100;
      padding-right: rem-calc(15);
    }
    .no-data-center {
      position: absolute;
      z-index: 100;
      height: 0;
      left: 0;
      top: rem-calc(235);
      width: 100%;
      .no-data {
        color: $gray-darkest;
        font-family: $brand-font-cisco-TT-Light;
        font-size: rem-calc(16);
        text-align: center;
        margin: 0;
      }
    }
    .active-chart .amcharts-value-axis .amcharts-axis-label {
      opacity: 0;
      animation: graphAxisFade 2s ease-in-out 1 forwards;
    }
  }
}