@import '../../../../node_modules/collab-ui/scss/settings/core';
@import '../../../../node_modules/collab-ui/scss/settings/page';

.metricsContent {
  overflow: hidden !important;
  padding: 0 !important;
}

.fullSize {
  height: 100%;
  width: 100%;
}

.sparkMetricsContent {
  height: calc(100vh - (#{$top-bar-height} + (#{$top-bar-border-width} * 2) + #{$page-header-height})) !important;
}
