.media-quality {
  min-width: 520px;
  position: relative;
  .graph-align {
    padding: 0 15px;
  }
  .spinner-position {
    position: relative;
    top: -250px;

    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .no-data-center {
    position: relative;
    top: -300px;
  }
  .graph-text-balloon {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 15px;
    color: $gray-darkest;
    text-align: left;
    float: left;
    .graph-number {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: 15px;
      color: $gray-darkest;
      text-align: left;
    }
  }
  #mediaQualityDiv{
    overflow: visible !important;
    .amcharts-chart-div{
      overflow: visible !important;
      svg {
        overflow: visible !important;
      }
    }
  }
}
