.media-quality {
  min-width: 520px;
  position: relative;
  .graph-align {
    padding: 0 15px;
  }
  .graph-text-balloon {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 15px;
    color: $gray-darkest;
    text-align: left;
    float: left;
    .graph-number {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: 15px;
      color: $gray-darkest;
      text-align: left;
    }
  }
  #mediaQualityDiv{
    overflow: visible !important;
    position: relative;
    top: -25px;
    .amcharts-chart-div{
      overflow: visible !important;
      svg {
        overflow: visible !important;
      }
    }
  }
}
