.media-quality {
  .graph-text-balloon {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: rem-calc(15);
    color: $gray-darkest;
    text-align: left;
    float: left;
    .graph-number {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(15);
      color: $gray-darkest;
      text-align: left;
    }
  }
  #mediaQualityDiv{
    overflow: visible !important;
    position: relative;
    top: 25px;
    .amcharts-chart-div{
      overflow: visible !important;
      svg {
        overflow: visible !important;
      }
      .amcharts-axis-title {
        tspan {
          font-weight: 100;
          font-family: $brand-font-cisco-TT-Light;
          font-size: rem-calc(18) !important;
        }
      }
    }
  }
}
