div#updateIncident{
  padding:60px;
  &>div{
    margin-bottom:50px;
  }
  div.addMsg{
    padding:20px;
    border:1px solid gray;
    &>div{
      margin-bottom:20px;
    }
    div.incidentStatus{
      div>label{
        display:inline-block;
        margin-right:20px;
        input[type="radio"]{
          position:inherit;
          margin:inherit;
          width:inherit;
          height:inherit;
        }
      }
    }
    div.incidentMsg{
      textarea{
        width:100%;
      }
    }
  }
  div.msgList{
    div.item>div.itemRow1>span,a{
      margin-right:10px;
    }
  }
  select{
    width:200px;
    float:right;
  }
  .componentStatuses span.componentName{
    width:200px;
    display:inline-block;
  }
  .componentStatuses span.isOverridden{
    margin-left:200px;
  }
  i.icon{
    &:hover{
      cursor:pointer;
    }
    float:left;
    margin-top:3px;
  }
  i.icon-chevron-right{
    margin: 3px 7.74px;
  }
  .groupComponent:after,.component:after{
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
  }
  .component{
    margin-left:26px;
  }

  /* affected component */

  ul.affectedComponentsList:after{
    clear:both;
    content:'.';
    display:block;
    width: 0;
    height: 0;
    visibility:hidden;
  }
  ul.affectedComponentsList{
    list-style:none;
    li{
      float:left;
      margin-right:10px;
      background-color:#cacaca;
    }
  }

  /* incident name */
  div.incidentName{
    span{
      font-size:30px;
      font-weight: bold;
      &.none,&.maintenance{
        color:#e67e22;
      }
      &.minor{
        color:#f3c40f;
      }
      &.major{
        color:#e97e22;
      }
      &.critical{
        color:#e74c3c;
      }
    }
    a{
      margin-left:20px;
    }
  }
  div.editIncidentName{
    input{
      float:left;
      display:inline-block;
    }
    select{
      float:left;
      height:36px;
      margin:0px 10px;
      width:250px;
    }
    a{
      position: relative;
      margin: 10px;
      top: 5px;
    }
  }

  /* edit message info */
  div.editMsg{
    margin-bottom:20px;
    cs-datepicker{
      float:left;
      margin-right:10px;
    }
    textarea{
      width:50%;
    }
  }
  div.itemRow1{
    a{
      margin-left:10px;
    }
  }
}