<div class="shared-spaces devices-redux">
  <style>
    .content-view {
      overflow-x: visible !important;
    }
  </style>
  <div class="row page-header">
    <div class="page-title col-md-12 col-sm-12">
      <span class="title-heading">
        Device Utils
      </span>
      
      <button
        style="transition: none"
        ng-click="dc.exportToCsv()"
        class="btn btn-lg btn-primary pull-right">
        Export to CSV
      </button>

      <button
        ng-click="dc.deleteSelected()"
        class="btn btn-lg btn-danger pull-right"
        style="transition: none; margin-right: 10px;"
        ng-show="dc.gridOptions.$gridScope.selectedItems.length">
        Delete {{dc.gridOptions.$gridScope.selectedItems.length}} Codes/Devices
      </button>

    </div>
  </div>
  
  <div ng-if="dc.codesListSubscription.eventCount == 0 || dc.deviceListSubscription.eventCount == 0">
    <div windowsize class="empty-devices col-md-12" style="height: {{windowHeight - 150}}px;">
      <div class="empty-devices-content">
        <i class="icon icon-2x icon-spinner" />
      </div>
    </div>
  </div>

  <div ng-if="dc.codesListSubscription.currentError || dc.deviceListSubscription.currentError">
    <div class="error-spinner">
      <i class="icon icon-2x icon-spinner" />
    </div>
  </div>

  <div ng-if="dc.codesListSubscription.eventCount != 0 && dc.deviceListSubscription.eventCount != 0">
    <div ng-hide="dc.updateList().length" windowsize class="empty-devices col-md-12" style="height: {{windowHeight - 150}}px;">
      <div class="empty-devices-content">
        <img ng-src="images/devices/cisco_sx10.png" style="height: 60px; width: 60px" />
        <h2 class="empty-device-message">
          No devices found...
        </h2>
      </div>
    </div>
    <div id="roomsListPanel" class="row">
      <div gridscrollbar class="xgridStyle col-md-12" ng-grid="dc.gridOptions"></div>
    </div>
  </div>
</div>