.name-change .overview-bmmp-banner {
  top: auto;

  &.readonly {
    top: 3.25rem;
  }
}

.overview-bmmp-banner {
  position: relative;
  top: 3.25rem;

  &.readonly {
    top: 6rem;
  }
  div.colR img {
    top: 0;
    position: absolute;
  }
}
.reports-bmmp-banner {
  div.colR img {
    top: 0;
    position: absolute;
  }
}
