
div.dr-container {
	display: table;
	padding-left: 2rem;
}

div.dr-row  {
	display: table-row;
}

div.dr-left, div.dr-right {
	display: table-cell;
}

#dr-enter-email-addr-header  {
	font-size: 200%;
}

#dr-enter-email-addr-error  {
	color: $color-negative-base;
}
