<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<title>Atlas Portal Shopping Cart Login (APSCL)</title>
	</head>
	<body>
		<h2>Enter eMail Addr</h2>
		<input type="text" ng-model="error" readonly="readonly" style="color:red">
		<table>
			<tr><td>Enter your email address:</td><td><input type="text" ng-model="email" placeholder="Ex. x@y.com"></td></tr>
			<tr></tr>
			<tr><td><button ng-click="handleEnterEmailAddr()">Next</button></td><td></td></tr>
		</table>
		
	</body>
</html>
