//////////// No features available yet page ///////////////
.no-features-available {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  height: 80vh;
  color: $gray-dark;
  background: $brand-white;
  align-items: center;
  justify-content: center;

  .nothing-to-see {
    color: $gray-dark;
  }

  .lets-customize {
    color: $gray-darker;
  }

  & div {
    @include vr-spacing(pt, .5);
  }
}

.new-huron-feature-button {
  background-color: $brand-info-dark;
  font-size: $font-size-h5;
  font-weight: bold;
  width: rem-calc(110);
  height: rem-calc(40);
}

////////// Create new feature modal ///////////////

.huron-new-feature-modal {  // The modal body.
  display: flex;
  flex-direction: row;
  @include vr-spacing(pt, 0);
  @include vr-spacing(pr, 2);
  @include vr-spacing(pb, 2);
  @include vr-spacing(pl, 2);

  & button {               // The button options in the body.
    position: relative;
    color: $gray-darkest;
    background-color: $gray-lightest;
    @include vr-spacing(mh, .125);
    border-style: hidden;
    width: rem-calc(278);
    height: vr-adjust(300);
    @include vr-spacing(p, 0);

    &:hover {
      background-color: $gray-light;
    }
  }
}

.feature-icon-container {
  position: absolute;
  top: 10%;
  width: 100%;
}

.feature-icon-circle {      // Icon in the option.
  font-family: $brand-font-cisco-TT-Extra-Light;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-size: $font-size-h1;
  background: $brand-white;
  border-radius: 50%;
  width: rem-calc(78);
  height: rem-calc(78);
  @include vr-spacing(p, .625);
}

.feature-icon-color-AA {
  color: $brand-primary;
}
.feature-icon-color-HG {
  color: purple;
}
.feature-icon-color-CP {
  color: $brand-danger;
}

.feature-label-container {
  position: absolute;
  top: 45%;
  width: 100%;
}

.feature-description-container {
  position: absolute;
  top: 55%;
  width: 100%;
  @include vr-spacing(p, 1.5);
}


