@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import 'app/modules/huron/features/featureLanding/_feature-landing';

.huron-new-feature-modal {
  // The modal body.
  display: flex;
  flex-flow: row wrap;

  @include vr-spacing(pt, 0);
  @include vr-spacing(pr, 2);
  @include vr-spacing(pb, 2);
  @include vr-spacing(pl, 2);

  button {
    // The button options in the body.
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 200px;
    color: $gray-darkest;
    background-color: $gray-lightest;
    border-style: hidden;

    @include vr-spacing(mr, 0.125);
    @include vr-spacing(ml, 0.5);
    @include vr-spacing(mb, 1);
    @include vr-spacing(p, 0);

    &:hover {
      background-color: $gray-light;
    }

    &:first-child:nth-last-child(4),
    &:first-child:nth-last-child(4) ~ button {
      flex: 1 1 48%;
    }
  }
}

@mixin flex-wrap-fix($flex-basis, $max-viewport-width: 532px) {
  flex-grow: 1;
  flex-basis: $flex-basis;
  max-width: 100%;
  $multiplier: 1;
  $current-width: 266px;

  @while $current-width < ($max-viewport-width) {
    $current-width: $current-width + $flex-basis;
    $multiplier: $multiplier + 1;
    $temp-max-width-percent: percentage(1/$multiplier);
    $total: $flex-basis * $multiplier;

    @media only screen and (min-width: $total) {
      max-width: calc(#{$temp-max-width-percent} - 0.725rem);
    }
  }
}

.aa-type-button {
  @include flex-wrap-fix(266px);
}

.feature-modal-loading {
  font-size: 3rem;
  text-align: center;
}

.feature-icon-container {
  @include vr-spacing(pt, 2.5);

  .icons {
    width: rem-calc(120);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: $gray-base;

    &.show-line::before {
      content: ' ';
      border-left: 1px solid $gray-base;
      height: 1rem;
      position: relative;
      top: rem-calc(46);
    }

    &.no-line {
      padding-top: 1rem;
    }

    &.show-tree-line::before {
      content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0';
      border-top: 1px solid $gray-base;
      border-left: 1px solid $gray-base;
      border-right: 1px solid $gray-base;
      height: 0.875rem;
      margin-bottom: 0.125rem;
      width: 4rem;
      position: relative;
      top: rem-calc(46);
    }
  }

  .icon {
    font-size: 24px;
    flex-basis: 50%;

    &:first-child {
      flex-basis: 100%;
      padding-bottom: 26px;
    }
  }
}

.feature-icon-circle {      // Icon in the option.
  font-family: $brand-font-extra-light;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  justify-content: center;
  font-size: $h2-font-size;
  background: $brand-white;
  border-radius: 50%;
  width: rem-calc(78);
  height: rem-calc(78);
  padding-top: 12px;

  @include vr-spacing(p, 0.625);
}

.feature-icon-color-AA {
  color: $toolkit-primary;
}

.feature-icon-color-HG {
  color: $toolkit-alerts;
}

.feature-icon-color-CP {
  color: $toolkit-cta;
}

.feature-icon-color-PG {
  color: $toolkit-people;
}

.feature-icon-color-PI {
  color: $toolkit-attention;
}

.feature-label-container-AA {
  @include vr-spacing(pt, 2);

  color: $toolkit-primary;
}

.feature-label-container-HG {
  @include vr-spacing(pt, 2);

  color: $toolkit-alerts;
}

.feature-label-container-CP {
  @include vr-spacing(pt, 2);

  color: $toolkit-cta;
}

.feature-label-container-PG {
  @include vr-spacing(pt, 2);

  color: $toolkit-people;
}

.feature-label-container-PI {
  @include vr-spacing(pt, 2);

  color: $toolkit-attention;
}

.feature-description-container {
  @include vr-spacing(pt, 2);
  @include vr-spacing(ph, 1.5);
  @include vr-spacing(pb, 1.5);

  &.text-center {
    padding: 20px 20%;
  }
}
