<div class="fusion-cluster-settings">

  <div class="cs-form">

    <setting-section setting="calendarSettings.general">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.emailNotificationsHeading"></h5>
        <p class="sub-section__description" translate="hercules.settings.emailAdministratorNotification"></p>
        <tags-input add-on-blur="true"
                    on-tag-added="calendarSettings.writeConfig()"
                    on-tag-removed="calendarSettings.writeConfig()"
                    placeholder={{calendarSettings.localizedAddEmailWatermark}}
                    ng-model="calendarSettings.emailSubscribers"
                    type="email"
                    allowed-tags-pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"></tags-input>
        <span class="right" ng-show="calendarSettings.savingEmail"><span translate="hercules.settings.emailNotificationsSaving"></span> <i class="icon icon-spinner"/></span>
      </div>
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.emailUserHeading"></h5>
        <p class="sub-section__description" translate="hercules.settings.emailUserNotification"></p>
        <cs-toggle-switch ng-model="calendarSettings.enableEmailSendingToUser"
                          ng-click="calendarSettings.setEnableEmailSendingToUser()"
                          toggle-id="toggleEnableEmailSendingToUser"
                          name="toggleEnableEmailSendingToUser"
                          size="small">
        </cs-toggle-switch>
      </div>
    </setting-section>

    <setting-section setting="calendarSettings.googleCalendarSection" ng-show="calendarSettings.hasGoogleCalendarFeatureToggle && calendarSettings.isGoogleCalendarEntitled">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.googleCalendar.serviceAccountHeader"></h5>
        <p class="sub-section__description" translate="hercules.settings.googleCalendar.serviceAccountText"></p>
        <input cs-input
               disabled
               type="text"
               ng-model="calendarSettings.googleServiceAccount"
               cs-input-help-text="{{calendarSettings.localizedGoogleServiceAccountHelpText}}">
      </div>
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.googleCalendar.privateKeyHeader"></h5>
        <p class="sub-section__description" translate="hercules.settings.googleCalendar.privateKeyText"></p>
                <button
                ng-disabled="!calendarSettings.googleServiceAccount"
                type="button" class="btn"
                translate="common.upload"
                ng-click="calendarSettings.uploadGooglePrivateKey()"></button>
      </div>
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.googleCalendar.deactivateHeader"></h5>
        <p class="sub-section__description" translate="hercules.settings.googleCalendar.deactivateText"></p>
        <button type="button" class="btn"
                translate="common.deactivate"
                ng-click="calendarSettings.confirmDisable('squared-fusion-gcal')"></button>
      </div>
    </setting-section>

    <setting-section setting="calendarSettings.deactivateSection" ng-hide="calendarSettings.hasGoogleCalendarFeatureToggle">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.deactivateServiceHeading"
            translate-values="{ServiceName: calendarSettings.localizedServiceName}"></h5>
        <p class="sub-section__description" translate="hercules.settings.deactivateService"
           translate-values="{ServiceName: calendarSettings.localizedServiceName, ConnectorName: calendarSettings.localizedConnectorName}"></p>

        <button class="btn" id="deactivateService"
                ng-click="calendarSettings.confirmDisable('squared-fusion-cal')"
                translate="hercules.settings.deactivate">

        </button>
      </div>
    </setting-section>

    <setting-section setting="calendarSettings.documentationSection" ng-hide="calendarSettings.hasGoogleCalendarFeatureToggle">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.documentationHeading"></h5>
        <p class="sub-section__description" translate="hercules.settings.documentationHelpLink"></p>
        <p class="sub-section__description" translate="hercules.settings.documentationDownloadLink"></p>
      </div>
    </setting-section>

  </div>

</div>
