.redirect-add-resource {
  button {
    margin-left: 0.5rem;
  }

  .modal-footer .btn + .btn {
    transition: initial;
  }

  .radioNoTranform {
    transition: initial;
    display: inline-block;
  }

  .small-font {
    font-size: 0.75rem;
  }

  .addResourceBodyInfo {
    padding-top: 1rem;
  }
}

.myAddResourceForm .cs-radio-group {
  padding-top: 1rem;
}

.myAddResourceDownloadForm {
  padding-left: 31px;
}

.inputHostNameForm {
  padding-top: 1rem;
}

.inputHostNameForm .dropdown-menu {
  top: 101%;
  bottom: auto;
  height: 11rem;
}

.addResourceInlineBlock {
  display: initial;
}

.addResourceFQDN {
  display: initial;
  color: #0387b8;
}
