<div class="modal-body">

  <div class="row">
    <div class="columns medium-12">
      <div class="align-top">
        <div class="center">

          <i class="icon icon-circle-check-mark-success"></i>
          <p class="icon-info-text">Setup Successfully</p>

          <p>
            Next, sign in to WebEx Site Administration and start linking accounts
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button class="btn"
          ng-click="$ctrl.backFunc()"
          translate="common.back">
  </button>
  <button class="btn btn--primary"
          ng-click="$ctrl.next()">
    Start Linking Accounts
  </button>
</div>
