<div class="modal-body">
  <div class="row">
    <div class="columns medium-6 medium-offset-3">
      <div class="center">
        <i class="icon icon-circle-check-mark-success"></i>
        <p class="icon-info-text wizard-info-title" translate="accountLinking.wizard.linkAccounts"></p>
        <p class="wizard-info" translate="accountLinking.wizard.linkAccountsTxt"></p>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn" ng-click="$ctrl.backFunc()" translate="common.back"></button>
  <button class="btn btn--primary" ng-click="$ctrl.next()" translate="accountLinking.wizard.startLinkingAccounts"></button>

</div>
