<div class="modal-body">

  <div class="row">
    <div class="columns medium-12">
      <div class="center">

        <i class="icon icon-circle-check-mark-success"></i>
        <p class="icon-info-text">Link Accounts</p>

        <p>
          You are about to direct to WebEx Site Administgration where you can link your WebEx accounts to Cisco Spark.
        </p>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn"
          ng-click="$ctrl.backFunc()">
    Back
  </button>
  <button class="btn btn--primary"
          ng-click="$ctrl.next()">
    Start Linking Accounts

  </button>

</div>
