.device-usage-report-pages {
  .timeline-report {
    .range-wrapper {
        text-align: center;
        width: 100%;
        margin-left: 3rem;
    }
    .cs-input-group {
      display:inline-block;
      margin-top: 1rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
    }
    .device-usage-timeline-chart {
      height: 400px;
      margin: 0 auto;
    }

    .table-container {
      height: 10em;
      width: 100%;
      margin: 0 auto;
      h4 {
        text-align: center;
        margin-bottom: 0.5rem;
      }
      table {
          display: flex;
          flex-flow: column;
          height: 100%;
          width: 100%;

          thead {
              /* head takes the height it requires,
              and it's not scaled when table is resized */
              flex: 0 0 auto;
              width: calc(100% - 0.9em);

              display: table;
              table-layout: fixed;

              td {
                font-weight: bold;
                text-align: center;
              }
          }
          tbody {
              /* body takes all the remaining available space */
              flex: 1 1 auto;
              display: block;
              overflow-y: scroll;
              tr {
                  width: 100%;
                  display: table;
                  table-layout: fixed;

                  td {
                    text-align: center;
                  }
              }
          }
      }

    }
  }
  .loading-indicator {
    position: absolute;
    top: 150px;
    left: 40%;

    .loading-text {
      width: 200%;
      background-color: white;
      border: 1px solid gray;
      text-align: center;
    }
  }
}
