.device-usage-report-pages {
  .customer-report-filter {
    width: 12.5rem;
  }

  .cs-card.large, .cs-card.full {
    article {
      header {
        padding-left: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      .corrected {
        padding-left: 0;
        padding-right: 0
      }
    }
  }

  .extreme-table-entry {
    //font-size: 1rem;
    padding-bottom: 0.3rem;
    padding-top: 0.3rem;
  }

  td.right-aligned, th.right-aligned {
    text-align: right;
  }

  .total-usage-table {
    .digit {
      font-family: 'CiscoSansTT Thin';
      font-size: 3rem;
      color: $brand-primary;
    }

    .text {
      font-size: 0.875rem;
    }
  }

  .card-look {
    margin: 1rem;
    border-radius: 2px;
    background-color: #FFF;
    box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);

    .corrected {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 1rem;
    }

    .device-usage-total-chart {
      height: 400px;
      padding: 1rem;
      //padding-top: 3rem;

      .amcharts-export-menu-top-right {
        top: -56px;
        right: 0px;
      }

      .amcharts-main-div {
        font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #4F5051;
        font-weight: normal;
      }

      .amcharts-title {
        @extend .amcharts-main-div;
        font-size: 1.25rem;
      }

      .amcharts-axis-title {
        @extend .amcharts-main-div;
        font-size: 1rem;
      }
      .amcharts-axis-label {
        @extend .amcharts-main-div;
        font-size: 0.875rem;
      }
    }

    .device-select {
      width: 15rem;
      margin-right: 3rem;
      //margin-top: 0.5rem;
    }
  }

  .timeline-report {
    .cs-input-group {
      display: inline-block;
      margin-top: 1rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
    }

    .device-usage-timeline-chart {
      height: 400px;
      margin: 0 auto;
    }

    .table-container {
      height: 10em;
      width: 100%;
      margin: 0 auto;

      h4 {
        text-align: center;
        margin-bottom: 0.5rem;
      }

      table {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;

        thead {
          /* head takes the height it requires,
              and it's not scaled when table is resized */
          flex: 0 0 auto;
          width: calc(100% - 0.9em);
          display: table;
          table-layout: fixed;

          td {
            font-weight: bold;
            text-align: center;
          }
        }

        tbody {
          /* body takes all the remaining available space */
          flex: 1 1 auto;
          display: block;
          overflow-y: scroll;

          tr {
            width: 100%;
            display: table;
            table-layout: fixed;

            td {
              text-align: center;
            }
          }
        }
      }
    }
  }

  .device-usage-distribution-report {
    height: 400px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .device-details {
    background: white;
    width: 90%;
    margin: 0 auto;

    .device-list {
      height: 300px;
      border: 1px solid DarkGray;
    }
  }

  .loading-indicator {
    position: absolute;
    top: 150px;
    left: 40%;

    .loading-text {
      width: 200%;
      background-color: white;
      border: 1px solid gray;
      text-align: center;
    }
  }

  .no-border {
    border: none;
  }

  .small-padding {
    padding: 1rem;
  }

  .score-card {
    .full.side-info-card.cs-card {
      display: block;
    }
  }
}
