.timeline-report {
    .range-wrapper {
        text-align: center;
        width: 100%;
        margin-left: 3rem;
    }
    .cs-input-group {
      display:inline-block;
      margin-top: 1rem;
      margin-bottom: 0rem;
      margin-right: 1rem;
    }
    .device-usage-timeline-chart {
      height: 400px;
      margin: 0 auto;
    }
}
