.least-most-table {
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;

  tr td {
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  tbody {
    display:block;
    height:10rem;
    overflow:auto;
  }
  thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
  }
}
