.active-user {
  .most-active {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding: 0;
    color: $brand-primary;
  }
  td, th {
      border: 1px solid $gray-light-1;
      color: $gray-dark;
  }
  .box-match {
    padding-left: rem-calc(24);
    padding-right: rem-calc(24);
  }
  .spinner-most-active {
    height: rem-calc(70);
    padding-top: rem-calc(25);
  }
  .active-users-table {
    margin-left: rem-calc(24);
    margin-right: rem-calc(24);
    width: auto;
  }
  .carousel-btn {
    border: 1px solid $gray-dark-1;
    color: $gray-dark-1;
  }
  .carousel-btn:hover, .btn--none:focus, .btn--none:hover {
    border-color: transparent;
  }
  .carousel-control {
    padding: 9px 16px;
    background-color: $white;
    i {
      color: $color-primary-base;
    }
  }
  .carousel-control:focus {
    box-shadow: none;
  }
  .carousel-control:hover {
    background-color: $color-primary-base;
    i {
      color: $white;
    }
  }
  .carousel-control[disabled] {
    background-color: $gray-light-2;
    i {
      color: $gray-base;
    }
  }
  #activeUsersdiv{
    margin-top: 16px;
    position: relative;
    overflow: visible !important;
    top: -25px;
    .amcharts-chart-div svg {
      position: relative !important;
    }
  }
}
