.active-user {
  min-width: 520px;
  position: relative;
  padding-right: 15px;
  .header {
    margin: 0;
  }
  .graph-match {
    margin: 0 15px;
  }
  .carousel-container {
    margin-top: 20px;
  }
  .spinner-position {
    position: relative;
    top: -250px;

    .icon-2x {
      font-size: 4em;
    }
  }
  .active-user-status {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .most-active {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    padding: 0;
  }
  .active-users-table {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .carousel-btn {
    border-color: #878787;
    color: #878787;
  }
  .carousel-btn:hover,
  btn-none:focus,
  .btn-none:hover {
    border-color: transparent;
  }
  .no-data-center {
    position: relative;
    top: -300px;
    transform: translate(0%, 35%);
    .no-data {
      color: $gray-darkest;
      font-family: $brand-font-cisco-TT-Light;
      font-size: 46px;
      text-align: center;
    }
  }

  #activeUsersdiv{
    position: relative;
    overflow: visible !important;
    top: -50px;

    .amcharts-chart-div{
      overflow: visible !important;

      svg {
        top: 55px !important;
        position: relative !important;
        overflow: visible !important;
      }
    }
    .amcharts-legend-div {
      top: 60px !important;
    }
    .amcharts-balloon-div {
      margin-top: 55px !important;
    }
  }
}
