.form-inline .choose-file {
  margin-bottom: 2px;
}

.enterprise-settings {

  .file-drop {
    border: 1px dashed $gray-light;
    @include vr-spacing(pt, 2);
    @include vr-spacing(ph, 2);
    @include vr-spacing(pb, 1);
    &.dragover {
      border-color: $link-hover-color;
      background: $gray-lightest;
    }
    .sso-container {
      @include vr-spacing(mt, 0);
      @include vr-spacing(mb, 1);
    }
    label {
      cursor: pointer;
      color: $link-color;
      display: inline;
      &:hover {
        color: $link-hover-color;
      }
    }
  }

  .file-drop-inactive {
    @extend .file-drop;
    border: 1px solid $gray-light;
  }
  input {
    display: none;
  }
}

// Enterprise Sip Domain

.enterprise-sipDomain-page {
  #sipDomainTitle {
    margin-bottom: 1.5rem;
  }

  .btn-space {
    margin-left: .7rem
  }
  .space {
    margin-left: 1rem
  }
  .space-flow {
    margin-bottom: 2.2rem
  }
  .url-examples-style {
    margin-bottom: 1rem
  }
  .sip-domain-input {
    margin-bottom: 2.2rem
  }
  .inline {
    float: left;
  }
  .domain-check-space {
    clear: both;
  }
  .red-error-icon {
    color: red;
  }
  .green-check {
    color: green;
  }
  .confirm-box {
    position: absolute;
    margin-top: 2rem;
  }
  .font-regular {
    font-size: 1rem
  }
  .paragraphSpacing {
    margin-bottom: 1rem;
  }
}

// SSO

.sso-container {
  margin: 2rem auto;
  max-width: rem-calc(592);
  text-align: center;

  .btn.btn--people {
    @include vr-spacing(mt, .5);
  }

  .icon {
    font-size: 7rem;
    margin-bottom: 2rem;
    display: block;
  }
}

.signingMetaDiv {
  @extend .sso-container;
  @include vr-spacing(mt, 2);
  max-width: rem-calc(528);

  .SSOSelfSigned {
    text-align: left;
  }
}

.sso-status-block {
  border-top: 1px solid $gray-light-2;
  ul {
    margin: 1rem 0;
  }
}

.sso-status-circle {
  color: $color-cta-base;
}

.sso-status-circle-disabled {
  color: $gray-base;
}

.sso-warning {
  color: #f7c100;
  padding-right: rem-calc(15);
}

.toaster-warning-style {
  color: #f7c100;
}

.final-SSO {
  @include vr-spacing(mt, 2);

  .finalSSO {
    text-align: left;
    fieldset {
      @include vr-spacing(ml, 7);
    }
  }
}