<div class="enterprise-settings">
  <div ng-if="!idpFile.fileName">
    <div
      class="file-drop"
      cr-file-drop
      file="idpFile.file"
      file-name="idpFile.fileName"
      file-type="text/xml"
      file-suffix="xml">
      <div class="sso-container copy-spacing">
        <i class="icon icon-circle-upload"></i>
        <h3 translate="ssoModal.importMetadataTitle"></h3>
        <p translate="ssoModal.importMetadataDesc"></p>
        <input
          id="fileToUploadBtnHolder" 
          cr-file-read
          type="file"
          accept="text/xml"
          file="idpFile.file"
          file-name="idpFile.fileName"
          file-type="text/xml"
          file-suffix="xml">
        <p><span translate="firstTimeWizard.uploadPrompt"></span> <label for="fileToUploadBtnHolder" translate="firstTimeWizard.fileBrowser"></label></p>
      </div>
    </div>
    <div id="signingMetaDiv" class="signingMetaDiv copy-spacing">
      <h4 translate='ssoModal.signingMetadataTitle'></h4> 
      <cs-radiolist class="SSOSelfSigned" ng-model="options.SSOSelfSigned" options="SSOSelfSignedOptions"></cs-radiolist>
    </div>
  </div>
  <div ng-if="idpFile.file && idpFile.success">
    <div class="file-drop-inactive">
      <div class="file-drop-content sso-container copy-spacing">
        <i class="icon icon-circle-check"></i>
        <h3 translate="ssoModal.importSuccess"></h3>
        <p class="file-name">{{idpFile.fileName}}</p>
        <button class="btn btn--link" ng-click="resetFile();">
          <span translate="common.cancel"></span>
        </button>
      </div>
    </div>
    <div id="signingMetaDiv" class="signingMetaDiv copy-spacing">
      <h4 translate='ssoModal.signingMetadataTitle'></h4> 
      <cs-radiolist class="SSOSelfSigned" ng-model="options.SSOSelfSigned" options="SSOSelfSignedOptions"></cs-radiolist>
    </div>
  </div>
  <div ng-if="idpFile.file && idpFile.error" class="file-drop-inactive">
    <div class="file-drop-content sso-container copy-spacing">
      <i class="icon icon-circle-comp-negative"></i>
      <h3>{{idpFile.errorMsg}}</h3>
      <p class="file-name">{{idpFile.fileName}}</p>
      <button class="btn btn--link" ng-click="resetFile();">
        <span translate="common.tryAgain"></span>
      </button>
    </div>
  </div>
</div>
