<div id="fusion-root">
  <div class="page-header row">
    <div class="col-sm-6 col-md-6">
      <h2 class="page-title" translate="hercules.page_title"></h2>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="page-option-buttons">
        <button class="btn btn-info" ng-click="reload()" style="margin-right: 15px;">
          <!-- <i class="fa fa-refresh"></i> -->
          Reload
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-12">
      <div ng-show="loading" style="text-align: center; padding-top: 60px;">
        <i class="icon icon-spinner icon-spin icon-2x"></i>
      </div>
      <div ng-show="error" translate="hercules.connectors.loading_error"></div>
      <div ng-show="!loading">
        <div ng-show="clusters.length == 0" class="col-md-12">
            <h2>Nothing to do here <span style="text-decoration: underline">yet</span></h2>
            <h4>
                <p>Fusion Services enables you to monitor and manage your Cloud Fusion services running on your Cisco Expressways.</p>
                <p>Go to the Initial Setup for directions on how to activate them.</p>
                <span style="margin-top: 30px; display: block;">You are entitled to the following services:</span>
            </h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-phone"></i> UCM Service</div>
                        <div class="panel-body">
                            Integration with Cisco Unified CM registered devices.
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading"><i class="fa fa-calendar"></i> Calendar Service</div>
                        <div class="panel-body">
                            Integration with Microsoft Exchange.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="clusters.length != 0" class="col-md-12">

          <accordion close-others="{{false}}">
            <accordion-group ng-repeat="cluster in clusters" is-open="cluster.intially_open">
              <accordion-heading>
                <h4>
                  <span class="{{cluster.needs_attention ? 'red' : 'green'}}" style="padding-right: 10px;">
                    <i class="fa fa-circle-o" />
                  </span>

                  <span>{{cluster.name || 'Unknown Cluster Name'}}</span>

                  <span ng-show="{{!cluster.needs_attention && cluster.provisioning_data.not_approved_packages.length}}" style="float: right; color: #00B29D;">
                    <span class="hidden-xs">Software Upgrades Available</span>
                    <span class="visible-xs"><i class="fa fa-cloud-download"></i></span>
                  </span>

                  <span ng-show="{{cluster.needs_attention}}"  style="float: right; color: #f05d3b;">
                    <span class="hidden-xs">Cluster Needs Attention</span>
                    <span class="visible-xs"><i class="fa fa-exclamation-circle"></i></span>
                  </span>
                </h4>
              </accordion-heading>

              <div class="connector-body">

                <!-- host list -->
                <div class="md-col-12 clearfix" style="padding-left: 15px; padding-bottom: 15px">
                  <span style="font-size: xs; opacity: 0.5">
                    <span>This cluster consists of {{cluster.hosts.length}} hosts:</span>
                    <span ng-repeat="host in cluster.hosts">
                      <a href="https://{{host.host_name}}" target="_blank">
                        {{host.host_name}}
                      </a>
                      <span ng-hide="$last">|</span>
                    </span>
                  </span>
                </div>

                <!-- services -->
                <div class="sw-upgrade">
                  <div class="clearfix" ng-repeat="service in cluster.services">
                    <div class="col-md-12 clearfix">
                      <h4 style="float: left">
                        {{service.display_name}}
                        <span ng-show="{{service.needs_attention}}">needs attention:</span>
                        <span ng-show="{{!service.needs_attention}}">is running</span>
                      </h4>
                      <button ng-show="service.not_approved_package" style="float: right; margin-top: 10px;" class="btn btn-info btn-sm" ng-click="upgradeSoftware(cluster.id, service.not_approved_package.tlp_url)">
                        Upgrade Now
                      </button>
                    </div>
                    <div class="col-md-12">

                      <!-- connectors -->
                      <div style="padding-left: 40px;" ng-repeat="connector in service.connectors">
                        <div style="padding-bottom: 5px" class="clearfix" ng-show="{{connector.state != 'running' && connector.state != 'disabled'}}">
                          <span style="color: #f05d3b">{{connector.host.host_name}}</span>
                          <span translate="{{'hercules.status.' + (connector.state || 'unknown') }}" />
                        </div>
                        <div style="padding-bottom: 5px" class="clearfix" ng-show="{{connector.alarms.length}}">
                          <span style="color: #f05d3b">{{connector.host.host_name}}</span>
                          <span>has reported {{connector.alarms.length}} alarms.</span>
                        </div>
                      </div>

                      <!-- sw upgrade -->
                      <div style="padding-left: 40px;" ng-show="service.not_approved_package">
                        <div style="padding-bottom: 5px" class="clearfix">
                          <span>A software update is avalable. Current version: {{service.connectors[0].version}} New version: {{service.not_approved_package.version}}</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </accordion-group>
          </accordion>

        </div>
      </div>
    </div>
  </div>
</div>
