<div id="fusion-root" class="container-fluid">
  <div class="page-header row">
    <div class="col-sm-6 col-md-6">
      <h2 class="page-title" translate="hercules.page_title"></h2>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="page-option-buttons">
        <button class="btn btn-info" ng-click="reload()">Reload</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12"  style="padding-top: 20px;">
      <div ng-show="loading" translate="hercules.connectors.loading"></div>
      <div ng-show="error" translate="hercules.connectors.loading_error"></div>
      <div ng-show="!loading">
        <div ng-show="connectors.length == 0" translate="hercules.connectors.no_connectors"></div>

        <div ng-show="connectors.length != 0">

          <form ng-show="connectors.length > 1" class="form-inline" role="form">
            <div class="form-group">
              <label for="groupings" translate="hercules.connectors.group_by"></label>
              <select
                id="groupings"
                class="form-control"
                ng-model="current_grouping"
                ng-options="grouping.translate_attr | translate for grouping in groupings">
              </select>
            </div>
            <div style="float: right">
              <span
                class="badge badge-{{cl}}"
                style="margin-left: 3px;"
                ng-repeat="(cl, num) in aggregated_status">
                {{num}}
              </span>
            </div>
          </form>

          <div class="panel panel-default" ng-repeat="(name, connectors) in grouped_connectors">
            <div class="panel-heading panel-heading-default">
              <h4>{{name}}</h4>
            </div>
            <div class="panel-body">

              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 30%" translate="hercules.connectors.host_name"></th>
                    <th style="width: 30%" translate="hercules.connectors.display_name"></th>
                    <th style="width: 30%" translate="hercules.connectors.version"></th>
                    <th style="width: 10%" translate="hercules.connectors.status"></th>
                    <th style="width: 10%" translate="hercules.connectors.alarms"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="connector in connectors" id="{{connector.id}}">
                    <td>
                      <a href="https://{{connector.host_name}}/" target="_blank">
                        {{connector.host_name}}
                      </a>
                    </td>
                    <td>{{connector.connector_type}}</td>
                    <td>{{connector.version}}</td>
                    <td>
                      <span
                        class="label label-{{connector.status_class}}"
                        style="margin-right: 5px;">
                        {{connector.status.state}}
                      </span>
                    </td>
                    <td>
                      <a href="https://{{connector.host_name}}/alarms" target="_blank">
                        <span
                          ng-show="connector.status.alerts.length"
                          class="label label-danger">
                          {{connector.status.alerts.length}}
                        </span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
