<div id="fusion-root">
  <div class="notification"></div>
  <div class="page-header row">
    <div class="col-sm-6 col-md-6">
      <h2 class="page-title" translate="hercules.page_title"></h2>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="page-option-buttons">
        <button class="btn btn-info" ng-click="reload()" style="margin-right: 15px;">
          <i class="fa fa-refresh"></i>
          Reload
        </button>
      </div>
    </div>
  </div>
  <div>
    <div class="col-md-12">
      <div ng-show="loading" style="text-align: center; padding-top: 60px;">
        <i class="icon icon-spinner icon-spin icon-2x"></i>
      </div>
      <div ng-show="!loading">
        <div ng-show="clusters.length == 0" class="col-md-12" style="padding: 20px 40px">
          <hercules-nothing-fused />
        </div>
        <div ng-show="clusters.length != 0" class="col-md-12">

          <accordion close-others="{{false}}">
            <accordion-group ng-repeat="cluster in clusters" is-open="cluster.intially_open">
              <accordion-heading>
                <h4>
                  <span class="{{cluster.needs_attention ? 'red' : 'green'}}" style="padding-right: 10px;">
                    <i class="fa fa-circle-o" />
                  </span>

                  <span>{{cluster.name || 'Unknown Cluster Name'}}</span>

                  <span ng-show="{{!cluster.needs_attention && cluster.provisioning_data.not_approved_packages.length}}" style="float: right; color: #00B29D;">
                    <span class="hidden-xs">Software Upgrades Available</span>
                    <span class="visible-xs"><i class="fa fa-cloud-download"></i></span>
                  </span>

                  <span ng-show="{{cluster.needs_attention}}"  style="float: right; color: #f05d3b;">
                    <span class="hidden-xs">Cluster Needs Attention</span>
                    <span class="visible-xs"><i class="fa fa-exclamation-circle"></i></span>
                  </span>
                </h4>
              </accordion-heading>

              <div class="connector-body">

                <!-- host list -->
                <div class="md-col-12 clearfix" style="padding-left: 15px; padding-bottom: 15px">
                  <span style="font-size: xs; opacity: 0.5">
                    <span>This cluster consists of {{cluster.hosts.length}} {{cluster.hosts.length == 1 ? 'host' : 'hosts'}}:</span>
                    <span ng-repeat="host in cluster.hosts">
                      <a href="https://{{host.host_name}}" target="_blank">
                        {{host.host_name}}
                      </a>
                      <span ng-hide="$last">|</span>
                    </span>
                  </span>
                </div>

                <!-- services -->
                <div class="sw-upgrade">
                  <div class="clearfix" ng-repeat="service in cluster.services">
                    <div class="col-md-12 clearfix">
                      <h4 style="float: left">
                        <span ng-show="{{service.needs_attention}}">
                          {{service.display_name}} needs attention:
                        </span>
                        <span ng-show="{{!service.needs_attention}}">
                          <span ng-show="{{!service.is_disabled}}">
                            {{service.display_name}} is running on {{service.running_hosts}} {{service.running_hosts == 1 ? 'host' : 'hosts'}}
                          </span>
                          <span ng-show="{{service.is_disabled}}" style="opacity: 0.5">
                            {{service.display_name}} is disabled
                          </span>
                        </span>
                      </h4>
                      <button ng-show="service.not_approved_package" style="float: right; margin-top: 10px;" class="btn btn-info btn-sm" ng-click="upgradeSoftware(cluster.id, service.service_type)">
                        Upgrade Now
                      </button>
                    </div>
                    <div class="col-md-12">

                      <!-- connectors -->
                      <div style="padding-left: 40px;" ng-repeat="connector in service.connectors">
                        <div style="padding-bottom: 5px" class="clearfix" ng-show="{{connector.state != 'running' && connector.state != 'disabled'}}">
                          <span style="color: #f05d3b">{{connector.host.host_name}}</span>
                          <span translate="{{'hercules.status.' + (connector.state || 'unknown') }}" />
                        </div>
                        <div hercules-popover style="padding-bottom: 5px" class="clearfix" ng-show="{{connector.alarms.length}}">
                          <span style="color: #f05d3b">{{connector.host.host_name}}</span>
                          has reported <a href="#" onclick="return false" class="popover-trigger">{{connector.alarms.length}} alarms.</a>
                            <div class="popover-title hide">
                              <i class="fa fa-exclamation-triangle" style="color: #f05d3b"></i> {{service.display_name}} Alarms
                            </div>
                            <div class="popover-content hide">
                              <div ng-repeat="alarm in connector.alarms">
                                <span style="color: #f05d3b">{{alarm.title}} ({{alarm.severity}})</span>
                                <p>{{alarm.description}}</p>
                              </div>
                              <p>
                                Go to the <a href="https://{{connector.host.host_name}}/alarms" target="_blank">Expressway alarms page</a>.
                              </p>
                            </div>
                        </div>
                      </div>

                      <!-- sw upgrade -->
                      <div style="padding-left: 40px;" ng-show="service.not_approved_package">
                        <div style="padding-bottom: 5px" class="clearfix">
                          <span>A software update is avalable. Current version: {{service.connectors[0].version}} New version: {{service.not_approved_package.version}}</span>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>

            </accordion-group>
          </accordion>

        </div>
      </div>
    </div>
  </div>
</div>
