@import '~@collabui/collab-ui/scss/settings/colors';
@import 'styles/partials/mixins';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

check-certificate, certificate-type {
  @include keep-flex-container(column);

  .reveal-modal.full & .modal-body {
    align-items: center;
  }

  .sso-certificate-content-top {
    max-width: 400px !important;
    margin: 6rem auto 3rem;

    &__icon {
      @include vr-spacing(mb, 3);
      color: $green-base;
    }

    &__paragraph {
      @include vr-spacing(mb, 2);
    }

    &__radio {
      margin: auto 4rem;
    }
  }

  .sso-certificate-content-bottom {
    max-width: 500px !important;

    &__paragraph {
      @include vr-spacing(mb, 2);
    }
  }
}
