@import '~@collabui/collab-ui/scss/settings/colors';
@import 'styles/partials/mixins';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

check-certificate, certificate-type {
  @include keep-flex-container(column);

  .reveal-modal.full & .modal-body {
    align-items: center;
    > * {
      max-width: 450px;
    }
  }

  .sso-certificate-content {
    margin: auto;

    &__icon {
      @include vr-spacing(mb, 3);
      color: $green-base;
    }

    &__paragraph {
      width: 450px;
      @include vr-spacing(mb, 2);
    }

    &__radio {
      @include vr-spacing(mb, 3);
    }
  }
}
