<cs-sp-buttons ng-show="$ctrl.showSaveButton()">
  <button class="btn-primary"
          ng-click="$ctrl.save()"
          cs-btn
          loading="$ctrl.savingPage">
    <span translate="common.save"></span>
  </button>
  <button class="btn-default"
          ng-click="$ctrl.cancel()"
          ng-disabled="$ctrl.savingPage">
    <span translate="common.cancel"></span>
  </button>
</cs-sp-buttons>
<cs-sp-container cs-tabindex="$ctrl.showSaveButton() ? -1 : 0">
    <cs-sp-section class="hybrid-services-user-sidepanel">
      <div class="section-title-row">
        <span class="section-name" translate="hercules.cloudExtensions.serviceNames.squared-fusion-uc"></span>
        <cs-toggle-switch
          ng-if="!$ctrl.loadingPage"
          toggle-id="callServiceAwareEntitledToggle"
          ng-model="$ctrl.entitledToggle"
          cs-change="$ctrl.changeEntitlement(toggleValue)"
          size="small"
          is-disabled="!$ctrl.loadingPage && $ctrl.couldNotReadUser"
          cs-aria-label="{{::'hercules.cloudExtensions.serviceNames.squared-fusion-uc' | translate}}">
        </cs-toggle-switch>
        <span cs-loader
              class="hybrid-services-label loader-example--small"
              ng-if="$ctrl.loadingPage"></span>
      </div>
      <div>
      <p class="hybrid-service-description">{{'hercules.cloudExtensions.serviceDescriptions.squared-fusion-uc' | translate}}</p>

        <p ng-if="!$ctrl.loadingPage && $ctrl.showSaveButton() && !$ctrl.isServiceEnabledInFMS() && !$ctrl.isInvitePending && $ctrl.entitledToggle">
          <hybrid-services-sidepanel-message severity="'warning'" translation-key="'hercules.cloudExtensions.serviceNotEnabledInCloud'"></hybrid-services-sidepanel-message>
        </p>

        <div class="row collapse">
          <div class="columns small-3">
            <span class="hybrid-services-label">{{::'cloudExtensions.status' | translate}}:</span>
          </div>
          <div class="columns small-7 normal-line-height"
               ng-if="!$ctrl.loadingPage">
            <span class="hybrid-services-label"
                  ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatusAware && $ctrl.isServiceEnabledInFMS()"
                  ng-class="'status-' + $ctrl.userStatusAware.state"
                  id="callServiceAwareStatus"
                  translate="hercules.activationStatus.{{$ctrl.getStatus($ctrl.userStatusAware)}}"></span>

            <span class="hybrid-services-label last-state-change-timestamp"
                  ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatusAware && $ctrl.lastStateChangeText && $ctrl.isServiceEnabledInFMS()">
            {{$ctrl.lastStateChangeText}}
            </span>

            <span class="hybrid-services-label"
                  ng-if="$ctrl.isInvitePending"
                  translate="hercules.activationStatus.accountNotActivated"></span>

            <span class="hybrid-services-label status-off"
                  ng-if="$ctrl.userStatusAware && !$ctrl.isServiceEnabledInFMS()"
                  translate="hercules.activationStatus.pendingNotSetup"></span>

            <span class="hybrid-services-label status-off"
                  ng-if="!$ctrl.userIsCurrentlyEntitled && !$ctrl.couldNotReadUser && !$ctrl.isInvitePending"
                  translate="common.off"></span>

            <span class="hybrid-services-label status-off"
                  ng-if="!$ctrl.userIsCurrentlyEntitled && $ctrl.couldNotReadUser && !$ctrl.isInvitePending"
                  translate="common.unknown">
            </span>

          </div>

          <div class="columns small-7 normal-line-height"
               ng-if="$ctrl.loadingPage">
            <span cs-loader class="hybrid-services-label loader-example--small"></span>
          </div>

          <div class="columns small-2">
            <span ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatusAware"
                  class="hybrid-services-label right">
              <a ui-sref="user-overview.hybrid-services-squared-fusion-uc.aware-settings.uc-history"
                 translate="hercules.userHistory.seeHistory"></a>
            </span>
          </div>

          <div class="row collapse" ng-if="$ctrl.userStatusAware.messages.length && $ctrl.isServiceEnabledInFMS()">
            <div class="columns small-3">
              <span class="history-label">{{'cloudExtensions.details' | translate}}:</span>
            </div>
            <div class="columns small-9">
              <user-status-messages messages="$ctrl.userStatusAware.messages"></user-status-messages>
            </div>
          </div>
        </div>

        <hybrid-services-user-homed-cluster-and-hostname ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.connectorId"
                                                         connector-id="$ctrl.connectorId"></hybrid-services-user-homed-cluster-and-hostname>
        <div ng-if="$ctrl.isServiceEnabledInFMS()">

        <div class="row collapse" ng-if="$ctrl.directoryUri || ($ctrl.userStatusAware.state === 'error' || $ctrl.userStatusAware.state === 'activated')">
          <div class="columns small-3">
            <span class="hybrid-services-label">{{::'cloudExtensions.sipUri' | translate}}:</span>
          </div>
          <div class="columns small-9">
            <span ng-if="$ctrl.directoryUri"
                  class="hybrid-services-label">{{$ctrl.directoryUri}}</span>
            <span ng-if="!$ctrl.directoryUri"
                  class="hybrid-services-label status-error"
                  translate="common.notFound"></span>
          </div>
        </div>

        <div class="row collapse" ng-if="$ctrl.primaryDn || ($ctrl.userStatusAware.state === 'error' || $ctrl.userStatusAware.state === 'activated')">
          <div class="columns small-3">
            <span class="hybrid-services-label">{{::'cloudExtensions.primaryDN' | translate}}:</span>
          </div>
          <div class="columns small-9">
            <span ng-if="$ctrl.primaryDn"
                  class="hybrid-services-label">{{$ctrl.primaryDn}}</span>
            <span ng-if="!$ctrl.primaryDn"
                  class="hybrid-services-label status-error"
                  translate="common.notFound"></span>
          </div>
        </div>

        <div class="row collapse" ng-if="$ctrl.telephoneNumber || ($ctrl.userStatusAware.state === 'error' || $ctrl.userStatusAware.state === 'activated')">
          <div class="columns small-3">
            <span class="hybrid-services-label">{{::'cloudExtensions.telephoneNumber' | translate}}:</span>
          </div>
          <div class="columns small-9">
            <span ng-if="$ctrl.telephoneNumber"
                  class="hybrid-services-label">{{$ctrl.telephoneNumber}}</span>
            <span ng-if="!$ctrl.telephoneNumber"
                  class="hybrid-services-label status-error"
                  translate="common.notFound"></span>
          </div>
        </div>

        <div class="row collapse" ng-if="$ctrl.ucmCluster || ($ctrl.userStatusAware.state === 'error' || $ctrl.userStatusAware.state === 'activated')">
          <div class="columns small-3">
            <span class="hybrid-services-label">{{::'cloudExtensions.ucmCluster' | translate}}:</span>
          </div>
          <div class="columns small-9">
            <span ng-if="$ctrl.ucmCluster"
                  class="hybrid-services-label">{{$ctrl.ucmCluster}}</span>
            <span ng-if="!$ctrl.ucmCluster"
                  class="hybrid-services-label status-error"
                  translate="common.notFound"></span>
          </div>
        </div>

        </div>

        <hs-is-invite-pending-warning ng-if="$ctrl.isInvitePending"
                                      is-entitled="$ctrl.entitledToggle"
                                      was-entitled="$ctrl.userIsCurrentlyEntitled"
                                      service-id="'squared-fusion-uc.full'">
        </hs-is-invite-pending-warning>

        <div ng-if="$ctrl.domainVerificationError" class="hybrid-services-error-message">
          <i class="icon icon-error"></i>
          <p class="hybrid-services-message">
            <span translate="hercules.domain-verification.domain-not-verified"></span>
            <span translate="hercules.domain-verification.navigateToCallSettings"
                  translate-value-onclick="$ctrl.navigateToCallSettings()" translate-compile></span>
          </p>
        </div>

      </div>
    </cs-sp-section>
</cs-sp-container>
