.sq-devices-page {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ui-grid-cell:first-child ,
  .ui-grid-header-cell:first-child  {
   border-right: 0px;

    .space_avatar {
      margin: 4px 5px 4px 30px;
      width: 35px;
    }
  }
}

.none_found {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  @include vr-spacing(pt, 10);
  background-color: $gray-lightest;
  align-items: center;
  justify-content: center;
  i {
    font-size: 7em;
    @include vr-spacing(mb, 1.5);
  }
  button {
    @include vr-spacing(mt, 1);
  }
  h4, h1 {
    @include vr-spacing(mv, .5);
  }
  i, h5 {
    color: $gray-light-1;
  }
}


.sq-devices-page-overview {
  .activation-code-pane h3 {
    color: $color-people-light;
  }
  .message-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 50px;
    text-align: center;
    img {
      width: 200px;
    }
  }
  .add-device-modal .alert {
    border: 0;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ngVerticalBar {
    display: none;
  }

  .error-spinner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: white;
    border-radius: 100px;
    box-shadow: 1px 1px 5px #666;
    padding: 9px 10px 6px 10px;
  }

  .btn-action {
    width: 141px;
  }

  .activationOverview {
    display: flex;
    flex-direction: column;
    align-items: center
  }

  .activationImage {
    margin: 15px 0 40px 0;
    width: 116px;
  }

  .activationDescription {
    text-align: center;
  }

  .activationButtons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .overview {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include vr-spacing(pt, 1.5);
  }

  .overviewImage {
    width: 144px;
    margin-right: 40px;
  }

  .overviewDescription {
    margin: 0 0 0 15px;
    p {
      font-size: 1.1rem;
    }
  }

  .deviceIssue {
    padding-bottom: 10px;
    color: $brand-warning;
    p {
      color: #6A6B6C;
      line-height: 1.4;
    }
  }

  .timeZoneSelector {
    width: 280px;
  }

  .button-container {
    right: 0;
  }

  .dropdown-container {
    @include vr-spacing(mt, 1);
    @include vr-spacing(mb, 1);
  }

  .select-list.alert {
    @include vr-spacing(m, 0);
  }
}

.device-img {
  i {
    top: 15px;
  }
}

.line-row {
  display: flex;
}

.primaryLineBadge {
  margin-left: 10px;
}

.modal-success, .modal-warning {
  padding: 10px 20px;
  margin: 0 30px;
  color: white;
  display: flex;
  align-items: center;
  i {
    padding-right: 15px;
    font-size: 1.5rem;
  }
}

.modal-success {
  background-color: $color-cta-base;
}

.modal-warning {
  background-color: $color-attention-base;
}

.tag-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    margin-right: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 2px 8px 0 8px;
    background-color: #eee;
    color: #6A6B6C;
  }
  .add-tag {
    background-color: #c5e9f7;
    i {
      font-size: 20px;
    }
  }
  .add-tag:hover {
    cursor: pointer;
    color: $link-color;
  }
  i {
    padding-left: 10px;
    font-size: 12px;
  }
  i:hover {
    cursor: pointer;
    color: $link-color;
  }
  input[type=text] {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline;
    border-bottom: 1px solid $brand-primary;
    width: 100px;
    border-radius: 0;
    transition: initial;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
  }
  a {
    font-size: .7rem;
  }
}

/* widgets */
.editable-input {
  padding-top: 5px;
  &, .read-only-value, form {
    display: flex;
    align-items: center;
  }
  i, input, span {
    font-size: 22px;
  }
  i {
    color: #999;
    cursor: pointer;
  }
  i:hover, .read-only-value:hover i {
    color: #000;
  }
  .read-only-value span {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "CiscoSansTT Extra Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  input {
    width: 320px;
  }
  .read-only-value span {
    max-width: 320px;
  }
  .read-only-value span, input {
    padding-right: 10px;
  }
}




#addDeviceModal {
  .device-added {
    h3 {
      color: #00c1aa;
      margin: 10px 0;

      a {
        padding-left: 10px;
      }
    }
  }
  .btn {
    transition: none;
  }
  #newRoom {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

#remoteSupportModal {
  h3 {
    display: flex;
  }
  input {
    margin-right: 15px;
  }
  #display-key {
    width: 100%;
  }
}

.device-status {
  font-size: 0.6rem;
  padding-right: 3px;
}

.device-status-red {
  color: $brand-danger;
}
.device-status-yellow {
  color: $brand-warning;
}
.device-status-green {
  color: $brand-success;
}
.device-status-gray {
  color: $gray;
}

.accordion {
  margin-bottom: 10px;
}
