.sq-devices-page {
  @extend %grid-subheader;
  @extend %page-background-white;
}

.sq-devices-page-overview {
  .activation-code-pane {
    padding-top: 10px;
  }

  .activation-code-pane h3 {
    color: #00c1aa;
  }
  .message-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 50px;
    text-align: center;
    img {
      width: 200px;
    }
  }
  .add-device-modal .alert {
    border: 0;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ngVerticalBar {
    display: none;
  }

  .error-spinner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: white;
    border-radius: 100px;
    box-shadow: 1px 1px 5px #666;
    padding: 9px 10px 6px 10px;
  }

  .btn-action {
    width: 141px;
  }

  #overview {
    display: flex;
    align-items: center;
    justify-content: center
  }

  #overviewImage {
    width: 144px;
    margin: 15px 25px 15px 0;
  }

  #overviewDescription {
    margin: 0 0 0 25px;
  }

  .deviceIssue {
    padding-bottom: 10px
  }
}

.device-img {
  i {
    top: 15px;
  }
}

.modal-success, .modal-warning {
  padding: 10px 20px;
  margin: 0 30px;
  color: white;
  display: flex;
  align-items: center;
  i {
    padding-right: 15px;
    font-size: 1.5rem;
  }
}

.modal-success {
  background-color: $color-cta-base;
}

.modal-warning {
  background-color: $color-attention-base;
}

.tag-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    margin-right: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 12px;
    background-color: #c5e9f7;
    color: #0387b8;
  }
  .add-tag {
    background-color: white;
    border: 1px solid #d7d7d8;
    padding: 7px 7px 7px 11px;
  }
  .add-tag:hover {
    cursor: pointer;
    color: $link-color;
  }
  i {
    padding-left: 10px;
    font-size: 20px;
  }
  i:hover {
    cursor: pointer;
    color: $link-color;
  }
  input[type=text] {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline;
    border-bottom: 1px solid $brand-primary;
    width: 100px;
    border-radius: 0;
    transition: initial;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
  }
  a {
    font-size: .7rem;
  }
}

/* widgets */
.editable-input {
  padding-top: 5px;
  &, .read-only-value, form {
    display: flex;
    align-items: center;
  }
  i, input, span {
    font-size: 22px;
  }
  i {
    color: #999;
    cursor: pointer;
  }
  i:hover, .read-only-value:hover i {
    color: #000;
  }
  .read-only-value span {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "CiscoSansTT Extra Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  input {
    width: 320px;
  }
  .read-only-value span {
    max-width: 320px;
  }
  .read-only-value span, input {
    padding-right: 10px;
  }
}

.ui-grid-header-cell:first-child, .ui-grid-cell:first-child {
  border-right: 0;
}

.ui-grid-cell .space_avatar {
  margin: 4px 5px 4px 30px;
  width: 35px;
}

#addDeviceModal {
  .device-added {
    h3 {
      color: #00c1aa;
      margin: 10px 0;
    }
  }
  .btn {
    transition: none;
  }
}

#remoteSupportModal {
  h3 {
    display: flex;
  }
  input {
    margin-right: 15px;
  }
}

.device-status-red {
  color: $brand-danger;
}
.device-status-yellow {
  color: $brand-warning;
}
.device-status-green {
  color: $brand-success;
}
.device-status-gray {
  color: $gray;
}

.accordion {
  margin-bottom: 10px;
}
