@import '~@collabui/collab-ui/scss/settings/core';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.sq-devices-page {
  @extend %grid-subheader;
  @extend %page-background-white;

  .grid-contents {
    height: inherit;
  }

  .ui-grid-cell:first-child,
  .ui-grid-header-cell:first-child {
    border-right: 0px;

    .space_avatar {
      margin: 4px 5px 4px 30px;
      width: 35px;
    }
  }
  .export-button {
    font-size: 1.5rem;
    padding-right: 2rem;
  }
  .export-button:hover {
    cursor: pointer;
    color: $link-color;
  }
}

.remote-support-modal-success,
.remote-support-modal-warning {
  padding: 10px 20px;
  margin: 0 30px;
  color: white;
  display: flex;
  align-items: center;

  i {
    padding-right: 15px;
    font-size: 1.5rem;
  }
}

.remote-support-modal-success {
  background-color: $color-cta-base;
}

.remote-support-modal-warning {
  background-color: $color-attention-base;
}

.remote-support-modal-body {
  .remote-support-key {
    padding: 18px 12px;
    display: flex;
    flex-direction: column;

    .remote-support-buttons {
      padding-top: 12px;
      display: flex;
      justify-content: center;

      a, div {
        display: flex;
        align-items: center;
        padding: 0 18px;

        i {
          padding: 0 6px 3px 0;
        }
      }
    }
  }
}

.none_found {
  @include vr-spacing(pt, 7);

  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  background-color: $gray-lightest;
  align-items: center;
  justify-content: center;

  i {
    font-size: 7em;

    @include vr-spacing(mb, 1.5);
  }

  button {
    @include vr-spacing(mt, 1);
  }

  .h5,
  .h2 {
    @include vr-spacing(mv, 0.5);
    color: $gray-base;
    text-align: center;
    margin-bottom: 12px;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 640px) {
      width: 90%;
    }
  }

  i {
    color: $gray-light-1;
  }
}

sq-places-page-overview,
.sq-devices-page-overview {
  label {
    cursor: auto;
  }
}

.sq-devices-page-overview,
.sq-devices-emergency-services {
  .internal-link {
    color: $gray-dark-1;
  }

  .dropdown-menu li {
    min-width: 190px !important;
    width: auto;
    padding: 0.5em 1em;
  }

  .activation-code-pane h3 {
    color: $color-people-light;
  }

  .message-container {
    position: absolute;
    left: 0;
    right: 0;
    padding: 50px;
    text-align: center;

    img {
      width: 200px;
    }
  }

  .add-device-modal .alert {
    border: 0;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ngVerticalBar {
    display: none;
  }

  .error-spinner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10;
    background: white;
    border-radius: 100px;
    box-shadow: 1px 1px 5px #666;
    padding: 9px 10px 6px;
  }

  .btn-action {
    width: 141px;
  }

  .overview {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include vr-spacing(pt, 1.5);
  }

  .overviewImage {
    width: 144px;
    margin-right: 40px;
  }

  .overviewDescription {
    margin: 0 0 0 15px;

    p {
      font-size: 1.1rem;
    }
  }

  .issueWarning {
    margin-bottom: .5rem;
  }

  .deviceIssue {
    padding-bottom: 10px;
  }

  .timeZoneSelector,
  .countrySelector {
    width: 280px;
  }

  .issue-link {
    color: $color-primary-base;
  }

  .warningFaxes {
    font-style: italic;
    color: $gray-light-1;
  }
  .updatingAta {
    display: block;
    margin-top: -4em;
    margin-left: 4em;
  }
}

.sq-devices-emergency-services {
  .breadcrumbs {
    @include vr-spacing(mb, 1);
  }

  hr-settings-service-address > div {
    background-color: $gray-light-3;
  }

  .label-margin {
    @include vr-spacing(mb, 0.5, 0px, false);
  }

  .save-section {
    @include vr-spacing(mt, 3, -1px, true);
    @include vr-spacing(pr, 1);
    @include vr-spacing(pt, 0.5);
    @include vr-spacing(pb, 0.5);
    @include vr-spacing(pl, 1.5, 1px, false);
    @include vr-spacing(ml, 1.5, -1px, true);

    p {
      flex: 1 1 auto;
    }
  }

  .modify-button {
    color: $color-primary-base;
  }

  .saved-address {
    @include vr-spacing(p, 0.75);
    @include vr-spacing(mb, 0.5);

    position: relative;
    background-color: $gray-light-3;
  }

  .cs-input__messages {
    @include vr-spacing(pb, 1);
  }
}

.device-img {
  i {
    top: 15px;
  }
}

.line-row {
  display: flex;
}

.primaryLineBadge {
  margin-left: 10px;
}

.tag-container {
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .tag {
    margin-right: 8px;
    margin-bottom: 5px;
    border-radius: 3px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding: 2px 8px 0;
    background-color: #eee;
    color: #6a6b6c;
  }

  .add-tag {
    background-color: #c5e9f7;

    i {
      font-size: 20px;
    }
  }

  .add-tag:hover {
    cursor: pointer;
    color: $link-color;
  }

  i {
    padding-left: 10px;
    font-size: 12px;
  }

  i:hover {
    cursor: pointer;
    color: $link-color;
  }

  input[type='text'] {
    border: 0;
    margin: 0;
    padding: 0;
    display: inline;
    border-bottom: 1px solid $brand-primary;
    border-radius: 0;
    transition: initial;
    font-size: 14px;
    outline: none !important;
    box-shadow: none !important;
  }

  a {
    font-size: 0.7rem;
  }
}

.device-wizard {
  position: relative;

  h5 {
    margin-bottom: 8px;
  }

  p {
    max-width: 580px;
  }

  .errorBox,
  .noSparkCallWarning {
    max-width: 580px;
  }

  .scrollSpace {
    height: 130px;

    @media print {
      height: 0;
    }
  }

  .typeChoice {
    display: flex;

    @media screen and (max-width: 500px) {
      flex-wrap: wrap;
    }

    .typeButtonWrapper {
      flex-basis: 50%;

      @media screen and (max-width: 500px) {
        flex-grow: 1;
      }

      margin-bottom: 16px;

      .typeButton {
        user-select: none;
        cursor: default;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        border: solid 1px #ebebec;
        padding: 1px;
        margin-top: 32px;
        margin-bottom: 16px;
        height: 251px;
        outline: none;
      }

      .typeImageBox {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-height: 190px;
        }
      }

      .typeButton:hover {
        border: solid 1px #049fd9;
      }

      .typeButtonClicked,
      .typeButtonClicked:hover {
        border: solid 2px #049fd9;
        padding: 0;
      }
    }

    .typeButtonWrapperLeft {
      margin-right: 16px;
    }
  }
}

.showActivationCode {
  .activationCodeFailure {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 7em;

    i {
      @include vr-spacing(mb, 1.5);
      color: $gray-light-1;
    }
  }
}

.errorBox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 8px;

  .icon {
    margin: 3px 8px 0 0;
    color: $color-attention-base;
  }
}

.choose-shared {
  display: flex;

  .createNewPlaceForm,
  .chooseExistingPlaceForm {
    //flex-basis: 50%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-right: 8px;

    input {
      margin-top: 16px;
    }

    .searchInputField {
      display: block;
      overflow: hidden;

      input,
      div {
        float: left;
      }

      div {
        margin-top: 24px;
        margin-left: 10px;
      }
    }
  }

  .chooseExistingPlaceForm input {
    width: 250px;
  }

  .newPlaceSpacing {
    height: 24px;
  }
}

.choose-personal {
  display: flex;

  .chooseExistingUser {
    flex-grow: 1;
    display: flex;

    .chooseExistingUserForm {
      display: flex;
      flex-direction: column;
      margin-bottom: 0;
      padding-right: 8px;

      .existingUserInput {
        margin-top: 16px;
      }
    }
  }

  .chooseExistingUserForm input {
    width: 250px;
  }
}

.add-lines {
  .page-option-buttons {
    margin-top: 16px;
  }
}

.view-activation-code {
  display: flex;
  flex-direction: column;

  .qrCodeSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loading {
      font-size: 3em;
    }

    .qrCodeImage {
      width: 220px;
      height: 220px;
    }

    .expiryTime {
      font-size: 12px;
      margin-top: 8px;
    }

    .qrCodeButtons {
      margin-top: 32px;

      a,
      span {
        font-size: 16px;
      }

      a {
        margin-right: 24px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .sendEmailWrapper {
      display: flex;

      .sendEmailForm {
        width: 100%;
        display: flex;
        flex-direction: column;

        .spacingBeforeSearch {
          width: 22px;
        }

        .sendMailArrow,
        .userInput {
          margin-left: 8px;
        }

        .selectedAddress,
        .userSearch {
          display: flex;
          justify-content: center;

          .userInput {
            width: 290px;
          }

          .userInput:focus {
            outline: none;
          }
        }

        .selectedAddress {
          margin-top: 10px;
          margin-bottom: 6px;
        }
      }
    }
  }
}

#addDeviceModal {
  .device-added {
    h3 {
      color: #00c1aa;
      margin: 10px 0;

      a {
        padding-left: 10px;
      }
    }
  }

  .btn {
    transition: none;
  }

  #newRoom {
    margin-top: 10px;
    margin-bottom: 25px;
  }
}

#remoteSupportModal {
  h3 {
    display: flex;
  }

  input {
    margin-right: 15px;
  }

  #display-key {
    width: 100%;
  }
}

.sq-devices-page-overview,
.sq-devices-page {
  .status-indicator {
    padding-right: 8px;
  }
}

.device-status-red {
  color: $brand-danger;
}

.device-status-yellow {
  color: $brand-warning;
}

.device-status-green {
  color: $brand-success;
}

.device-status-gray {
  color: $gray;
}

.accordion {
  margin-bottom: 10px;
}

.kem-wrapper {
  display: flex;
  justify-content: space-between;
  color: $gray-dark-1;

  .kem-description {
    width: 25em;
  }

  .kem-number {
    @include vr-spacing(pr, 2);
  }
}

.ataDeviceModal {
  button {
    width: auto !important;
  }
  .rzSliderStyle {
    .rz-bubble {
      display: none;
    }
    .rz-bar {
      background-color: $gray-light-2;
      height: 2px;
    }
    .rz-bar.rz-selection,
    .rz-selection {
      background-color: $brand-primary;
    }
  }
  .rangeSliderWrap {
    position: relative;
    width: 100%;
    max-width: 600px !important;
    margin-top: 0.75em;
    margin-bottom: 1.5em;

    .rzSliderStyle {
      display: block;
      width: 80%;
      width: calc(100% - 60px);
      max-width: 600px !important;
      position: relative;
      margin-top: -2em;
      margin-left: 0.5em;
      margin-right: 0.7em;
      .rz-pointer {
        left: 389px;
        top: -11px;
        width: 22px;
        height: 22px;
        background-color: white;
        border: 1px solid $gray-light-2;
        &::after {
          display: none;
        }
      }
    }
    .rzSliderStyle,
    .icon {
      float: left;
    }
    input[type=range] {
      -webkit-appearance: none;
      width: 80%;
      width: calc(100% - 60px);
      background: transparent;
      background-color: rgba(255, 255, 255, 0);
      margin: 1em 0.65em 3em 1.5em;
      height: 2px;
      border-radius: 1px;
      border-color: $brand-primary;
      color: $gray-light-3;
      border-width: 0;
      z-index: 1 !important;
      position: relative;
      &::-moz-range-track {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
      }
      &::-ms-track {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
      }

      &::-ms-fill-lower {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
      }
      &::-ms-fill-upper {
        background-color: rgba(255, 255, 255, 0);
        opacity: 0;
      }
    }

    input[type=range]::-webkit-slider-thumb {
      -webkit-appearance: none;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-webkit-slider-thumb {
      margin-top: -3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid $gray-light-2;
    }
    input[type=range]::-moz-range-thumb {
      margin-top: -3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid $gray-light-2;
    }
    input[type=range]::-ms-thumb {
      margin-top: -3px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      border: 1px solid $gray-light-2;
    }
  }
}
