.device-img {
  float: left;
}

.device-status-icon {
  margin-top: 18px;
  float: left;
}

.device-status-nocode {
  position: relative;
  top: 30px;
}

.device-icon-desc {
  margin-left: 20px;
  float: left;
  position: relative;
  top: 15px;
}

.ngCellTextCustom {
  position:relative;
  left:-20px;
}

.modal-deviceadd-card {
  background-color: #F3F4F6;
  width: 700px;
  min-height: 100px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;
}

.adddevice-stepheader {
  font-family: CiscoSansTT Light;
  font-size: 20px;
  line-height: 24px;
  color: #444;
  text-align: left;
}

.adddevice-desc {
  font-family: CiscoSansTT Light;
  font-size: 16px;
  line-height: 24px;
  color: #444;
  text-align: left;
  margin-top: 10px;
}

.device-card-content {
  margin-left: 30px;
}

.device-add-footer {
  margin-left: 10px;
}

.device-add-close {
  font-size: 30px;
  margin-top: 7px;
  cursor: pointer;
  color: #999999;
  text-align: right;
}

.add-device-textbox {
  height: 45px;
}

.add-device-btn {
  margin-left: 10px;
}

.add-device-modal {
  width: 750px;
}

.device-align-ellipses {
  margin: 1px;
}

.device-status-green {
  color: #95ce00;
}

.device-status-red {
  color: #ffc709;
}