<div class="sq-devices-page">
  <div class="row page-header">
    <div class="page-title col-md-12 col-sm-12">
      <span class="title-heading">
        {{'spacesPage.title' | translate}}
      </span>

      <cs-searchfilter
        filters="sc.deviceFilter.getFilters()"
        search-item-fn="sc.deviceFilter.setCurrentSearch(searchStr)"
        set-filter-fn="sc.deviceFilter.setCurrentFilter(filter.filterValue)">
      </cs-searchfilter>

      <button
        class="btn btn--large btn--people add-button"
        ng-click="sc.showAddDeviceDialog()">
        Add Device
      </button>

    </div>
  </div>

  <cs-accordion id="licenseWarning"
                ng-show="sc.showLicenseWarning">
    <cs-accordion-group
        show-caret="true"
        display-status="warning">
      <cs-accordion-heading >
        <span class="badge badge-custom-warn">License</span>
        <span>There is a problem with the license for this service.</span>
      </cs-accordion-heading>
      <p>Your license status is: {{sc.licenseError}}</p>
    </cs-accordion-group>
  </cs-accordion>

  <div ng-if="sc.codesListSubscription.eventCount == 0 || sc.deviceListSubscription.eventCount == 0">
    <div class="message-container">
      <div class="empty-devices-content">
        <i class="icon icon-2x icon-spinner" />
      </div>
    </div>
  </div>

  <div ng-if="sc.codesListSubscription.currentError || sc.deviceListSubscription.currentError">
    <div class="error-spinner">
      <i class="icon icon-2x icon-spinner" />
    </div>
  </div>

  <div ng-if="sc.codesListSubscription.eventCount != 0 && sc.deviceListSubscription.eventCount != 0">
    <div ng-hide="sc.updateListAndFilter().length" class="message-container">
      <div class="empty-devices-content">
        <img ng-src="images/devices/cisco_sx10.png" />
        <h2 class="empty-device-message">
          No devices found...
        </h2>
      </div>
    </div>
    <div id="roomsListPanel" class="row">
      <div gridscrollbar class="gridStyle col-md-12" ng-grid="sc.gridOptions"></div>
    </div>
  </div>

  <squared-add-device></squared-add-device>
</div>
