<!-- header -->
<div class="modal-header">
  <button
    type="button"
    class="close"
    ng-click="$dismiss()">
  </button>
  <h3 class="modal-title">{{ rdc.getDeleteText() }}</h3>
</div>

<!-- body -->
<div
  class="modal-body">
  <p>
    <span>{{ rdc.getDeleteConfText() }}</span>
  </p>
</div>

<!-- footer -->
<div
  class="modal-footer">
  <button
    class="btn"
    ng-click="$dismiss()">
    <span
      translate="common.cancel">
    </span>
  </button>
  <button
    class="btn btn--negative"
    sq-click-promise="rdc.deleteDevice(sc.currentDevice)" >
    <span translate="common.delete"></span>
  </button>
</div>
