<!-- header -->
<div class="modal-header">
  <button
    type="button"
    class="close"
    ng-click="$dismiss()"
    aria-label="{{::'common.close' | translate}}">
  </button>
  <h3 class="modal-title">{{ rdc.getDeleteText() }}</h3>
</div>

<!-- body -->
<div class="modal-body remove-device-modal-body">
  <p>
    <span>{{ rdc.getDeleteConfText() }}</span>
    <input cs-input type="checkbox"
           id="deleteConfigCheckbox"
           cs-input-label="{{::'spacesPage.deleteDeviceConfigText' | translate}}"
           cs-input-group-size="cs-input-group--centered"
           ng-model="rdc.deleteConfig"
           ng-if="rdc.deleteConfigurationOptionAvailable"
    />
  </p>
</div>

<!-- footer -->
<div class="modal-footer">
  <button
    class="btn"
    ng-click="$dismiss()"
    translate="common.cancel">
  </button>
  <button
    class="btn btn--negative"
    sq-click-promise="rdc.deleteDevice(sc.currentDevice)">
    <span translate="common.delete"></span>
  </button>
</div>
