hybrid-services-cluster-list-with-cards {
  display: block;

  .loading-list {
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 2rem;
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 2rem;
  }

  .no-clusters {
    padding: 0.5rem 1rem;
  }

  .content-container {
    padding: 0 1rem;
  }

  h5 {
    margin: 1rem 1rem 0;

    .remove-margin {
      margin: 0;
    }
  }

  .dropdown-toggle {
    padding: 0 0 0 0.5rem;
    font-size: 14px;
    vertical-align: -2px;
  }

  .cs-card-layout:last-child {
    padding-bottom: 1rem;
  }
}
