/******** Resets & Globals **********/

html {
  // position: relative;
  // min-height: 100%;
}

body {
  background-color: @background-color;
}

.app-container {
  padding: 51px 0 0 0;
}

.container {
  //width: 1000px;
  //overflow: none;
  margin: 0;
}

.page-content-wrapper {
  padding-left: 0;
  //width: ~"calc(100% - 100px)";
}

.page-header {
  margin: 0;
  padding: 0;
}

.page-title {
  color: @brand-info;
  font-size: 40px;
  line-height: 1;
  margin: 0;
  padding: 28px 0 28px 15px;

  small {
    color: @gray-light;
    font-size: 32px;
  }
}

.page-option-buttons {
  padding-top: 27px;
  float: right;
}

.page-options-bar {

}

.content-view {
  overflow-x: hidden;
}

.user-img {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  background-color: #d9d9d9;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  .icon {
      color: #fff;
    }
}

// Common ngGrid Styles

div[gridscrollbar] {
  height: ~"calc(100vh - 150px)";
}

.ngCellText,
.ngHeaderText {
  &.colt0 {
    padding-left: 30px;
  }
}
