/******** Resets & Globals **********/

html {
  // position: relative;
  // min-height: 100%;
}

body {
  background-color: @background-color;
}

.app-container {
  padding: 51px 0 0 0;
}

.container {
  //width: 1000px;
  //overflow: none;
  margin: 0;
}

.page-content-wrapper {
  padding-left: 0;
  //width: ~"calc(100% - 100px)";
}

.page-header {
  margin: 0;
  padding: 0;
}

.page-title {
  font-family: @brand-font-cisco-TT-Thin;
  margin: 0;
  padding: 28px 0 28px 30px;

  .title {
    color: @brand-info;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
    float: left
  }

  small {
    color: @gray-dark;
    font-size: 22px;
  }
}

.page-option-buttons {
  padding-top: 27px;
  float: right;
}

.page-options-bar {

}

.content-view {
  overflow-x: hidden;
}

.user-img {
  border-radius: 50%;
  background-repeat: no-repeat;
  background-image: none;
  background-size: cover;
  background-color: lighten(@gray-dark, 25%);
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  .icon {
      color: @brand-white;
    }
}

#export-icon .icon {
  line-height: 45px;
  color: @brand-info;
}

// Common ngGrid Styles

div[gridscrollbar] {
  height: ~"calc(100vh - 150px)";
}

.ngCellText,
.ngHeaderText {
  &.colt0 {
    padding-left: 30px;
  }
}

@media screen {
  #printSection {
    display: none;
  }
}
@media print {
  body * {
    display:none;
  }
  #printSection, #printSection * {
    display:block;
  }
  #printSection {
    position:absolute;
    left:0;
    top:0;
  }
  .modal {
    overflow: hidden;
    background: none;
  }
}

.nav, .pagination, .carousel, .panel-title a, a[ng-click] {
  cursor: pointer;
}

.grid {
  position: relative;

  .grid-refresh {
    position: absolute;
    top: 50px;
    left: 50%;
  }
}