.alertify-logs {
  bottom: 30px;
  right:30px;
  width:160px;
}

.alertify-log {
  text-shadow: none;
  &:hover {
    cursor: pointer;
  }
  text-align: center;
  opacity: 0.95;
}

.alertify-log-error {
  background-color: @brand-danger;
  color: @brand-white;
  border:1px solid @brand-danger-dark;
}

.alertify-log-success {
  background-color: @brand-success;
  color: @brand-white;
  border:1px solid @brand-success-dark;
}

.notification-panel {
  text-align: left;
  height:250px;
  width: 450px;
  z-index: 5001;
  position:fixed;
  bottom: 0px;
  right: -450px;
}

.notification {
  z-index: -1;
}

.panel-danger {
  border-color: @brand-danger;
}

.panel-danger-body {
  color: @gray;
  font-size:14px;
  overflow: auto;
  height: 198px;
}

.panel-success {
  border-color: @brand-success;
}

.panel-success-body {
  color: @gray;
  font-size:14px;
  overflow: auto;
  height: 198px;
}

.panel-notification-heading {
  font-size: 15px;
}

.alertify-log-error .fa-times {
  .close-icon(4px, @brand-white, @brand-danger-light);
}

.panel-danger .fa-times {
  .close-icon(2px, @brand-white, @brand-danger-light);
}

.alertify-log-success .fa-times {
  .close-icon(4px, @brand-white, @brand-success-light);
}

.panel-success .fa-times {
  .close-icon(2px, @brand-white, @brand-success-light);
}

.panel-danger > .panel-heading {
  color: @brand-white;
  background-color: @brand-danger;
  border-color: @brand-danger;
}
.panel-success > .panel-heading {
  color: @brand-white;
  background-color: @brand-success;
  border-color: @brand-success;
}
