@import 'builder/_aa-builder';

/*** old UI styles TO BE REMOVED ***/
/* if using any of these older styles, please move to new section for UX 12.x and beyond */

.aa-validation .popover {
  white-space: nowrap;
}

.aa-action-input .form-control-feedback {
  top: 3px; /* 25px */
}

.aa-number-tile {
  height: 72px !important; /* override .tile mixin from call-park */
  padding: 8px 8px !important; /* override .tile mixin from call-park */
  margin: 8px 8px 8px 0px;
  margin: 8px 8px 8px 0px !important;
  @include tile;
  .aa-number-name {
    font-family: $brand-font-cisco-TT-Light;
    font-size: 16px;
    color: $brand-primary;
    display: inline-block;
    vertical-align: top;
  }
}

.aa-number-add-icon {
  float: left;
  text-align: left;
  color: $brand-default;
  .add-icon {
    @extend .icon;
    @extend .icon-plus;
    @extend .icon-2x;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

/* center tabs */
.centered-pills {
  text-align: center;
  margin: 5px auto;
  padding: 0;
}

.centered-pills ul.nav-pills {
  display: inline-block
}

.centered-pills li {
  display: inline
}

.centered-pills a {
  float: left
}

* html .centered-pills ul.nav-pills,
*+html .centered-pills ul.nav-pills {
  display: inline
}

div.aa-general-tab {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  min-height: 400px;
  .panel-body {
    padding: 14px;
  }
}

div.aa-menu-tab {
  padding-top: 10px;
  min-height: 400px;
}

table.aa-menu-table {
  @extend .table;
  @extend .table-hover;
  @extend .table-condensed;
  background-color: $brand-white;
  text-align: left;
  table-layout: fixed;
  overflow: auto;
  tr, td, th {
    text-align: left;
    background-color: $brand-white;
    word-wrap: break-word;
  }
}

tr.aa-menu-has-error {
  border-style: solid;
  border-color: $brand-danger-light;
  border-top-width: 3px; /* thicker to cover header row */
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px
}

.aa-modal-content {
  border: 1px solid $gray-light;
}

.aa-modal-dialog {
  width: 360px;
}

a:hover,
a:focus {
  text-decoration: none;
}

.aa-key {
  position: relative;
  top: 15px;
}

a.dropdown-toggle:focus {
  box-shadow: 0 0 0 0px;
}

.aa-menu-option {
  margin-top: 0px;
  margin-bottom: 0px;
}

.aa-menu-dropdown-icon {
  float: right;
  text-align: left;
  .menu-dropdown-icon {
    @extend .icon;
    @extend .icon-plus;
    @extend .icon-2x;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

.aa-menu-launch-icon {
  float: right;
  text-align: right;
  .menu-launch-icon {
    @extend .icon;
    @extend .icon-three-dots;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

.aa-menu-delete-icon {
  float: left;
  text-align: left;
  .menu-delete-icon {
    @extend .icon;
    @extend .icon-close;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

.aa-menu-delete-icon-md {
  float: left;
  text-align: left;
  .menu-delete-icon-md {
    @extend .icon;
    @extend .icon-close;
    font-size: 20px;
    &:hover {
      cursor: pointer;
      color: $brand-primary;
    }
  }
}

.aa-tooltip-wrapper {
  display: inline-block;
}

.aa-tooltip .tooltip {
  white-space: pre;
}

.aa-tooltip .tooltip-inner {
  max-width: 100%;
  background-color: $brand-info;
  color: $brand-white;
  text-align: left;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.aa-tooltip .tooltip-arrow {
  border-top-color: transparent !important;
}

.aa-tooltip .tooltip.top {
  border-top-color: transparent !important;
}

/**** begin styles for UX 12.x and beyond ****/

.aa-landing {
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.aa-template-header {
  color: $brand-info;
  margin-bottom: 1px;
}

.aa-template-card {
  padding: 0;
  width: 13rem;
  height: 13rem;
  .aa-template-card-section {
    &:hover {
      cursor: pointer;
      background-color: $gray-lightest;
    }
  }
  .aa-icon-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0
  }
  .aa-schedule-icon {
    @extend .icon;
    @extend .icon-Clock;
    font-size: 1.5em;
    text-align: center;
    color: $brand-default;
  }
  .aa-audio-icon {
    @extend .icon;
    @extend .icon-Audio;
    font-size: 1.5em;
    text-align: center;
    color: $brand-default;
  }
  .aa-headset-icon {
    @extend .icon;
    @extend .icon-Headset;
    font-size: 1.5em;
    text-align: center;
    color: $brand-default;
  }
  .aa-playlist-icon {
    @extend .icon;
    @extend .icon-Playlist;
    font-size: 1.5em;
    text-align: center;
    color: $brand-default;
  }
}

/*** begin styles for saved AA cards ***/

/* pending any toolkit chnages and integration of styles especially those overridden, ie @include vr-spacing */

article header.aa-card-header.compact {
  @include vr-spacing(pl, 1);
  @include vr-spacing(pr, 1);
  @include vr-spacing(pt, .25);
  @include vr-spacing(pb, .25);
  .aa-header-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

section.aa-card-section {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: 0;
  .aa-card-resource {
    @include vr-spacing(pt, .25);
  }
  .aa-card-more-resource {
    min-height: 1.5rem;
  }
  .aa-card-toolbar {
    float: right;
    padding-bottom: .25rem;
  }
  &:hover {
    cursor: pointer;
    background-color: $gray-lightest;
  }
}

/*** end styles for saved AA cards ***/
