<div class="callrouting-main-content">
  <br>
  <div class="text-center">
    <a ui-sref="huronfeatures"><span translate="autoAttendant.landingDevelopmentLink"></span></a>
  </div>
  <br>
  <div>
    <button class="btn btn--people" ui-sref="autoattendant.main.general({ aaName: '' })" ng-click="aaLanding.aaModel.aaName=''" type="button">
      <span translate="autoAttendant.addAutoAttendant"></span>
    </button>
  </div>
  <br>
  <div class="callpark-tile" ng-repeat="ceInfo in aaLanding.aaModel.ceInfos" ui-sref="autoattendant.main.general( {aaName: ceInfo.getName()} )" ng-click="aaLanding.aaModel.aaName=ceInfo.getName()">
    <div class="callpark-name">{{ceInfo.getName()}}</div>
    <div class="delete-btn" ng-click="aaLanding.deleteAA(ceInfo); $event.stopPropagation();">
      <i class="delete-icon" aria-hidden="true"></i>
      <span class="sr-only" translate="autoAttendant.deleteAutoAttendant"></span>
    </div>
    <div class="callpark-pattern">{{ceInfo.getResources() | DisplayNumbers}} </div>
  </div>
</div>
