@import "setupAssistantPages/setup-assistant-pages";
@import "embed-code-screen";

.careChatSetup {
  @extend %content-header;
  .cs-setupassistant {
    margin: 0 auto;
    max-width: 1080px;
  }
  .cs-setupassistant--content {
    height: calc(100vh - #{$top-bar-height + $overlay-panel-height});
    .cs-card-container {
      @include vr-spacing(p, 0);
    }
  }
}
.care-chat {
  &.overlay-panel {
    & cs-setup-assistant {
      width: 100%;
    }
  }
  .panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.ct-confirmation-header {
  text-align: center;
}

.ct-confirmation-body {
  .warning-icon {
    @extend .icon;
    @extend .icon-warning;
    font-size: 2rem;
    color: $brand-warning;
    float: left;
  }
  .ct-confirmation-message {
    @include vr-spacing(mt, 0.75);
  }
}

