<div class="careChatSetup">
  <cs-overlay-panel class="care-chat overlay-panel typeahead-group" overlay-title="{{::'careChatTpl.createTitle' | translate}}" close="careChatSA.cancelModal()" ng-keyup="careChatSA.evalKeyPress($event.keyCode)">
    <cs-setup-assistant previous="careChatSA.previousButton(careChatSA.getPageIndex())" next="careChatSA.nextButton(careChatSA.getPageIndex())" previous-fn="careChatSA.previousPage()" next-fn="careChatSA.nextPage()">

      <div
        ng-if="careChatSA.getPageIndex() === careChatSA.namePageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-profile
        ng-if="careChatSA.getPageIndex() === careChatSA.profilePageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-overview
        ng-if="careChatSA.getPageIndex() === careChatSA.overviewPageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-customer
        ng-if="careChatSA.getPageIndex() === careChatSA.customerInfoPageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-feedback
        ng-if="careChatSA.getPageIndex() === careChatSA.feedbackPageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-agent-unavailable
        ng-if="careChatSA.getPageIndex() === careChatSA.agentUnavailablePageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-off-hours
        ng-if="careChatSA.getPageIndex() === careChatSA.offHoursPageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-chat-strings
        ng-if="careChatSA.getPageIndex() === careChatSA.chatStringsPageIndex"
        ng-class="careChatSA.animation"></div>

      <div ct-embed-code
        ng-if="careChatSA.getPageIndex() === careChatSA.embedCodePageIndex"
        ng-class="careChatSA.animation"></div>


    </cs-setup-assistant>
  </cs-overlay-panel>
</div>
