<div class="setting wproximity">
  <input
    cs-input
    type="checkbox"
    id="wifiProximityOptIn"
    ng-model="proxCtrl.wifiProximityOptIn"
    ng-if="proxCtrl.wifiProximityOptIn !== null"
    cs-input-label="{{'globalSettings.proximity.wifiOptInLabel'|translate}}">
  <button class="btn--attention" ng-if="proxCtrl.wifiProximityOptIn === null" translate="common.reviewSetting"
          ng-click="proxCtrl.reviewSettings()"></button>

  <p class="body-small" ng-if="proxCtrl.wifiProximityOptIn !== null">
    <span translate="globalSettings.proximity.wifiDescription"></span>
    <br>
    <span translate="globalSettings.proximity.wifiLearnMore" translate-value-url="https://collaborationhelp.cisco.com/preview/article/en-us/nz9iowf"></span>
  </p>
</div>
