.aa-schedule {
  .modal-body &-subtitle {
    font-size: 1.25rem;
    line-height: 1;
    font-family: $brand-font-thin;
    font-weight: normal;
  }
  .icon {
    color: $aa-builder-icon-color;
    &:hover {
      color: $aa-builder-icon-click-color;
    }
  }
  .down {
    color: $aa-builder-icon-click-color;
    transform: rotate(90deg);
  }
  &-hour {
    @include vr-spacing(pt, 1);
    border-bottom: 1px solid $gray;
    &:nth-of-type(1) {
      @include vr-spacing(mt, 1);
      border-top: 1px solid $gray;
    }
  }
  &-time {
    display: inline-block;
    vertical-align: text-top;
    @include vr-spacing(mr, 2);
  }
  &-trash {
    font-size: 1.25rem;
    float: right;
  }
  &-days {
    display: flex;
    justify-content: space-between;
  }
  &-add {
    i {
      @include vr-spacing(pr, 0.5);
      color: $color-primary-base;
    }
  }
  &-holidays-behavior {
    @include vr-spacing(mt, 1);
  }
  &-recur-annually-box {
    @include vr-spacing(pt, 1.75);
  }
  &-holidays-recur-select-container {
    @include vr-spacing(mb, 6);
  }
  &-holidays-time {
    display: inline-block;
    float: right;
    width: vr-adjust(170);
    &:last-of-type {
      @include vr-spacing(mr, 2);
    }
  }
  .cs-checkbox-group {
    display: inline-block;
    &.aa-schedule-holidays-behavior {
      @include vr-spacing(mb, 0);
    }
  }
  .accordion {
    border-top: 1px solid $gray;
    border-bottom: 1px solid $gray;
    .accordion--navigation {
      > a {
        background: transparent;
        border: none;
        border-top: 1px solid $gray;
        border-radius: 0;
        @include vr-spacing(mt, 0);
        @include vr-spacing(p, 0);
        color: $gray;
        > .row {
          @include vr-spacing(pv, .5);
          .aa-schedule-holidays-name-collapse {
            width: 30%;
            float: left;
            @include vr-spacing(pl, .5);
          }
          div {
            display: inline-block;
            font-size: $paragraph-font-size;
          }
        }
        &:before {
          content: initial;
        }
        &.active {
          display: none;
        }
        &:hover {
          background: transparent;
          border-top: 1px solid $gray;
        }
        &:focus {
          box-shadow: none;
        }
        &.text-muted {
          color: $gray;
        }
      }
      .content {
        border-radius: 0;
        background: transparent;
        border: none;
        border-top: 1px solid $gray;
        @include vr-spacing(mt, 0);
        @include vr-spacing(pb, 1.5);
        &.active {
          background: transparent;
          @include vr-spacing(ph, 0);
        }
      }
      &:first-child {
        > a {
          border-top: none;
        }
        .content {
          border-top: none;
        }
      }
    }
  }
}

.aa-schedule-container {
  h3 {
    display: inline-block;
  }
}

.aa-schedule-info-item {
  @include vr-spacing(pb, .5);
  line-height: 1rem;
  text-align: left;
}

.aa-schedule-info-day {
  @include vr-spacing(pt, 1.0);
  @include vr-spacing(pr, 0.3);
}

.aa-schedule-info-hours {
  color: $gray-light-1;
  text-align: left;
}

.aa-column {
  @include vr-spacing(pl, 1.0);
  white-space: normal;
}

.aa-trim-padding {
  @include vr-spacing(pl, 0);
}

.aa-flex-item.schedule {
  @include vr-spacing(pv, .25);
  @include vr-spacing(ph, 2);
}

/* Should go in toolkit for timepicker error state */

.error .cs-datapicker-normal {
  border-color: $color-alerts-base;
  background-color: $color-alerts-lighter;
  input[type="text"][readonly].cs-datepicker-input {
    background-color: $color-alerts-lighter;
  }
}

/* Should go in toolkit for cs-select error state */
.error .select-toggle {
  border-color: $color-alerts-base;
  background-color: $color-alerts-lighter;
}

.closed-holiday {
  padding-top: rem(12);
}
