<div class="aa-panel">
  <div class="aa-panel-body aa-flex-container aa-schedule-container" ng-click="aaBuilder.openScheduleModal('hours')">
    <div class="aa-flex-item schedule">
      <i class="aa-schedule-icon" aria-label="autoAttendant.Schedule"></i>
    </div>
    <div class="aa-flex-item schedule">
      <h3 class="text-info" translate="{{ aaBuilder.getScheduleTitle() }}"></h3>
      <i class="aa-edit-icon" aria-label="common.edit"></i>
    </div>
    <div name="aaTimeZone" class="aa-flex-item schedule-timezone" cr-feature-toggle feature-show="huron-aa-timezone" ng-if="aaBuilder.ui.isClosedHours || aaBuilder.ui.isHolidays">{{aaBuilder.ui.timeZone.label}}</div>
  </div>
</div>
