@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/fonts';
@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

running-task-status {

  .rts-container {
    position: absolute;
    left: 50%;
    font-family: $brand-font-light;
    font-size: 0.75em;
    background-color: $gray-dark-4;
    @include vr-spacing(mv, 0.5);
    @include vr-spacing(ph, 0.5);
    z-index: 10;
    &:hover {
      color: $color-white;
      background: $gray-dark-2;
    }
    &:focus {
      color: $color-white;
      background: $gray-dark-2;
    }
  }

  .icon-spinner {
    color: $color-white;
    vertical-align: middle;
    @include vr-spacing(mr, 0.25);
  }

  a {
    color: $color-white;
    &:hover {
      color: $color-white;
      background: $gray-dark-2;
    }
    &:focus {
      color: $color-white;
      background: $gray-dark-2;
    }
  }
}
