.fallback-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 16rem !important;
  width: 48rem !important;
  overflow-x: hidden;
  overflow-y: auto;
  margin: auto;
}

.fallback-container .cs-card-layout {
  margin: auto;

  @include vr-spacing(mv, 0);
  @include vr-spacing(mb, 1);
}

.fallback-container-item {
  @include vr-spacing(pv, 1);

  label.cs-checkbox {
    @include vr-spacing(m, 0);
  }
}
