@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.pilot-number-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
}

.pilot-number-container {
  @include vr-spacing(ml, 20, 0px, true);

  position: fixed;
  width: 40rem;
  max-height: 12rem;
  height: 100%;
  left: 50%;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  flex: 1 1 auto;
  justify-content: center;
  margin-right: auto;
}

.hunt-member-card.pilot-number-item {
  width: 8rem !important;

  article header.open-panel {
    border-radius: 0.25rem !important;
    cursor: default;
  }

  i,
  i:hover {
    color: $color-white;
    cursor: pointer;
  }

  .pilot-number {
    display: inline-block;
    min-width: 85%;
    text-align: left;
  }
}
