@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.fallback-destination-sa {
  .fallback-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 16rem;
    width: 48rem;
    overflow-x: hidden;
    overflow-y: auto;
    margin: auto;
  }

  .fallback-container .cs-card-layout {
    margin: auto;

    @include vr-spacing(mv, 0);
    @include vr-spacing(mb, 1);
  }

  .fallback-container-item {
    @include vr-spacing(pv, 1);

    label.cs-checkbox {
      margin: auto;
    }
  }

  .typeahead-large {
    margin-top: calc(32vh - 143px);
  }

  .country-list {
    border: 0 none;
  }
}
