.fallback-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 16rem !important;
  width: 48rem !important;
  overflow-x: hidden;
  overflow-y: auto;
}

.fallback-container-item {
  @include vr-spacing(pv, 1);

  & label.cs-checkbox {
    @include vr-spacing(m, 0);
  }
}