<script type="text/ng-template" id="numberTemplate.html">
  <a>
    <span ng-bind-html="(match.label.number | telephoneNumber) | typeaheadHighlight:query" ></span>
  </a>
</script>
<div class="pilot-number-details">
  <div class="typeahead-large">
    <input id="numberInput" type="text" ng-model="huntGroupSA.selectedPilotNumber"
           typeahead="num for num in huntGroupSA.fetchNumbers($viewValue) | limitTo:10"
           typeahead-on-select="huntGroupSA.selectPilotNumber($item)"
           typeahead-template-url="numberTemplate.html" placeholder="{{:: 'huronHuntGroup.numberPlaceholder' | translate}}"
           ng-keypress="huntGroupSA.enterNextPage($event.keyCode)" focus-on/>
    <p class="input-description" translate="huronHuntGroup.numberHint"></p>
  </div>
  <div class="pilot-number-container">
        <span class="pilot-number-item" ng-repeat="num in huntGroupSA.selectedPilotNumbers">
          <span class="pilot-number">{{num.number | telephoneNumber}}</span>
          <a href='#' class="icon icon-close icon-lg" ng-click="huntGroupSA.unSelectPilotNumber(num)"></a>
        </span>
  </div>
</div>