<div class="pilot-number-details" ng-if="huntGroupSA.getPageIndex() == 1">
  <div class="typeahead-large">
    <span class="input-search"></span>
    <input id="numberInput" type="text" ng-model="huntGroupSA.selected"
           typeahead="number as num.number for num in huntGroupSA.fetchNumbers($viewValue) | limitTo:10"
           typeahead-on-select="huntGroupSA.selectHuntGroupNumber($item)"
           typeahead-template-url="numberTemplate.html" placeholder="{{:: 'huronHuntGroup.numberPlaceholder' | translate}}"/>
    <p class="input-description" translate="huronHuntGroup.numberHint"></p>
  </div>
  <div class="pilot-number-container">
        <span class="pilot-number-item" ng-repeat="number in huntGroupSA.selectedPilotNumbers">
          <span class="pilot-number">{{number}}</span>
          <a href='#' class="icon icon-close icon-lg" ng-click="huntGroupSA.unSelectHuntGroupNumber(number)"></a>
        </span>
  </div>
</div>
