<script type="text/ng-template" id="userTemplate.html">
  <div class="hunt-member-name">
    <span ng-bind-html="match.label.firstName | typeaheadHighlight:query" ></span>&nbsp;
    <span ng-bind-html="match.label.lastName | typeaheadHighlight:query" ></span>
    <span ng-bind-html="' (' + match.label.userName + ')' | typeaheadHighlight:query" ></span>
  </div>
  <a class="hunt-member-line" href ng-click="number.isSelected = true" ng-repeat="number in match.label.numbers">
    <span ng-bind-html="(number | huntMemberTelephone) | typeaheadHighlight:query" ></span>
  </a>
</script>

<div class="hunt-member-lookup">
<div class="typeahead-large">
  <input id="userInput" type="text" ng-model="huntGroupSA.userSelected" class="form-control"
         typeahead="user for user in huntGroupSA.fetchHuntMembers($viewValue) | limitTo:10"
         typeahead-on-select="huntGroupSA.selectHuntGroupMember($item)"
         typeahead-template-url="userTemplate.html"
         placeholder="{{:: 'huronHuntGroup.memberPlaceholder' | translate}}"
         ng-keypress="huntGroupSA.enterNextPage($event.keyCode)" focus-on/>

  <p class="input-description" translate="huronHuntGroup.memberHint"></p>
</div>

<cs-card-layout>
  <cs-card class="small header-background primary hunt-member-card"
           ng-repeat="user in huntGroupSA.selectedHuntMembers">
    <article>
      <header>
        <div class="header-with-right-icon">
          <h5 class="ellipsis"
              title="{{huntGroupSA.getDisplayName(user)}}">
            {{huntGroupSA.getDisplayName(user)}}</h5>
                  <span  dropdown>
                    <a class="right btn-none card-action-btn"
                       ng-click="user.showConfigSection = !user.showConfigSection">
                      <i class="icon icon-chevron-down icon-lg"></i>
                    </a>
                  </span>
        </div>
      </header>
      <section ng-if="user.showConfigSection">

        <p class="email">{{user.email}}</p>
        <fieldset>
          <cs-radio ng-repeat="number in user.numbers"
                    label="number | huntMemberTelephone"
                    value="number.uuid"
                    name="{{user.uuid}}"
                    id="number.uuid"
                    ng-model="user.selectedNumberUuid"></cs-radio>

          <p>
            <a href ng-click="huntGroupSA.unSelectHuntGroupMember(user)">Remove Member</a>
          </p>
        </fieldset>
      </section>
    </article>
  </cs-card>
</cs-card-layout>
</div>