<div class="text-center" ng-class="huntGroupSA.animation">
  <h2 class="primary-color" translate="huronHuntGroup.methodTitle"></h2>

  <p class="hunt-method-description" translate="huronHuntGroup.methodHint"></p>

  <div>
    <button ng-click="huntGroupSA.huntMethodSelection('idle')" focus-on>Longest Idle</button>
    <button ng-click="huntGroupSA.huntMethodSelection('broadcast')">Broadcast</button>
    <button ng-click="huntGroupSA.huntMethodSelection('circular')">Circular</button>
    <button ng-click="huntGroupSA.huntMethodSelection('topdown')">Top Down</button>
  </div>
</div>
