<form novalidate name="$ctrl.form" role="form" class="cs-form">
  <cs-sp-buttons ng-if="$ctrl.form.$dirty" ng-init="$ctrl.initNewForm()">
    <button cs-btn loading="$ctrl.saveInProcess" class="btn btn--primary" ng-click="$ctrl.saveLine()" ng-disabled="$ctrl.form.$invalid || $ctrl.saveDisabled() || $ctrl.saveInProcess" type="submit">
      <span translate="common.save"></span>
    </button>
    <button cs-btn ng-click="$ctrl.onCancel()">
      <span translate="common.cancel"></span>
    </button>
  </cs-sp-buttons>
  <cs-sp-container cs-tabindex="$ctrl.form.$dirty ? -1 : 0">
    <cs-sp-section>
      <section-title
        title-key="directoryNumberPanel.title"
        action-list="$ctrl.actionList"
        show-actions="$ctrl.showActions">
      </section-title>
      <uc-directory-number
        ng-if="$ctrl.isHI1484"
        show-internal-extensions="$ctrl.showExtensions"
        esn-prefix="$ctrl.esnPrefix"
        internal-selected="$ctrl.lineOverviewData.line"
        internal-numbers="$ctrl.internalNumbers"
        internal-is-warn="$ctrl.internalIsWarn"
        internal-warn-msg="$ctrl.internalWarnMsg"
        internal-refresh-fn="$ctrl.refreshInternalNumbers(filter)"
        external-selected="$ctrl.lineOverviewData.line.external"
        external-numbers="$ctrl.externalNumbers"
        external-refresh-fn="$ctrl.refreshExternalNumbers(filter)"
        on-change-fn="$ctrl.setDirectoryNumbers(internalNumber, externalNumber)">
      </uc-directory-number>
      <!-- TODO: samwi - remove below after i1484 goes GA -->
      <uc-directory-number
        ng-if="!$ctrl.isHI1484"
        show-internal-extensions="$ctrl.showExtensions"
        esn-prefix="$ctrl.esnPrefix"
        internal-selected="$ctrl.lineOverviewData.line.internal"
        internal-numbers="$ctrl.internalNumbers"
        internal-is-warn="$ctrl.internalIsWarn"
        internal-warn-msg="$ctrl.internalWarnMsg"
        internal-refresh-fn="$ctrl.refreshInternalNumbers(filter)"
        external-selected="$ctrl.lineOverviewData.line.external"
        external-numbers="$ctrl.externalNumbers"
        external-refresh-fn="$ctrl.refreshExternalNumbers(filter)"
        on-change-fn="$ctrl.setDirectoryNumbers(internalNumber, externalNumber)">
      </uc-directory-number>
      <uc-call-forward
        call-forward="$ctrl.lineOverviewData.callForward"
        is-primary="$ctrl.lineOverviewData.line.primary"
        user-voicemail-enabled="$ctrl.userVoicemailEnabled"
        owner-type="$ctrl.ownerType"
        ng-if="!$ctrl.isCloudberryPlace()"
        on-change-fn="$ctrl.setCallForward(callForward)">
      </uc-call-forward>
      <uc-simultaneous-calls
        incoming-call-maximum="$ctrl.lineOverviewData.line.incomingCallMaximum"
        ng-if="!$ctrl.isCloudberryPlace()"
        on-change-fn="$ctrl.setSimultaneousCalls(incomingCallMaximum)">
      </uc-simultaneous-calls>
      <uc-line-label
        line-label="$ctrl.lineOverviewData.line.label.value"
        apply-to-all-shared-lines="$ctrl.applyToAllSharedLines"
        ng-hide="!$ctrl.showLineLabel"
        show-apply-to-all-shared-lines="$ctrl.showApplyToAllSharedLines"
        on-change-fn="$ctrl.setLineLabel(lineLabel, applyToAllSharedLines)">
      </uc-line-label>
      <uc-caller-id
        caller-id-options="$ctrl.callerIdOptions"
        custom-caller-id-name="$ctrl.lineOverviewData.callerId.customCallerIdName"
        custom-caller-id-number="$ctrl.lineOverviewData.callerId.customCallerIdNumber"
        caller-id-selected="$ctrl.lineOverviewData.callerId.externalCallerIdType"
        direct-line="$ctrl.lineOverviewData.line.external"
        on-change-fn="$ctrl.setCallerId(callerIdSelected, customCallerIdName, customCallerIdNumber, companyNumber);"
        company-numbers="$ctrl.lineOverviewData.companyNumbers"
        owner-id="$ctrl.ownerId"
        owner-type="$ctrl.ownerType">
      </uc-caller-id>
      <uc-auto-answer
        auto-answer="$ctrl.lineOverviewData.autoAnswer"
        on-change-fn="$ctrl.setAutoAnswer(phoneId, enabled, mode)"
        ng-if="!$ctrl.isCloudberryPlace()">
      </uc-auto-answer>
      <uc-media-on-hold
        cr-feature-toggle feature-show="huron-moh-enable"
        ng-if="$ctrl.isUserMohEnabled"
        panel-title="$ctrl.panelTitle"
        panel-desc="$ctrl.panelDesc"
        line-moh="$ctrl.lineOverviewData.lineMoh"
        line-moh-options="$ctrl.lineMediaOptions"
        on-change-fn="$ctrl.setLineMedia(lineMoh)">
      </uc-media-on-hold>
      <uc-shared-line
        shared-lines="$ctrl.lineOverviewData.sharedLines"
        new-shared-line-members="$ctrl.newSharedLineMembers"
        ng-if="!$ctrl.isCloudberryPlace()"
        select-shared-line-user-fn="$ctrl.setNewSharedLineMembers(members)"
        get-user-list-fn="$ctrl.getUserList(filter)"
        on-shared-line-change-fn="$ctrl.setSharedLines(sharedLines)"
        on-delete-shared-line-member-fn="$ctrl.deleteSharedLineMember(sharedLineMember)">
      </uc-shared-line>
    </cs-sp-section>
  </cs-sp-container>
</form>
