.flip .card.flipped {
  transform: rotateY(-180deg);
}

.flip .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
  outline: none;
}
.card-on-top {
  position: relative;
  z-index: 1;
}
.flip .card .face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  z-index: 2;
  outline: none;
}

.flip .card .front {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  color: #6a6b6c;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  outline: none;
}

.flip .card .back {
  transform: rotateY(-180deg);
  position: relative;
  width: 100%;
  min-height: 250px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  color: #6a6b6c;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  outline: none;
}
.flip .card .backgraph {
  transform: rotateY(-180deg);
  position: relative;
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 1px 2px 1px rgba(52, 53, 55, 0.18);
  color: #6a6b6c;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  outline: none;
}

.media-flip-icon {
  outline: none !important;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 23px;
  padding-right: 20px;
  font-size: 1.2rem;
  color: #808080;
}

.card-desc {
  color: #808080;
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.card-desc-small {
  color: #808080;
  font-size: 0.76rem !important;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.span-desc-small {
  font-size: 0.76rem !important;
}

.media-card-article {
  min-height: 250px;
}
