<div class="servicesLanding" ng-if="servicesLandingCtrl.featureEnabled">

  <cs-page-header title="Services"></cs-page-header>

  <div class="servicesBlock">
    <h5><span>Cloud services</span></h5>
    <cs-card-layout>
      <cs-card class="large-3 medium-6 small-12 header-bar" ng-class="card.cardClass"
               ng-repeat="card in servicesLandingCtrl.cloudCards()">
        <article ng-include="card.template"></article>
      </cs-card>
    </cs-card-layout>

    <h5><span>Hybrid services</span>
      <cs-header-right>
        <i class="icon icon-three-dots" ng-click="servicesLandingCtrl.toggleDropdown()"></i>
        <ul class="dropdown" ng-if="servicesLandingCtrl.showFilterDropDown">
          <li ng-click="servicesLandingCtrl.filterHybridCard('all')">{{}}Show all cards</li>
          <li ng-click="servicesLandingCtrl.filterHybridCard('active')">Show active cards only</li>
        </ul>
      </cs-header-right>
    </h5>
    <cs-card-layout id="hybrid-layout" ng-if="showLayout!='none'">
      <cs-card class="large-3 medium-6 small-12 header-bar gray" ng-class="card.cardClass"
               ng-repeat="card in servicesLandingCtrl.hybridCards()">
        <!--ng-if="showLayout=='active'">-->
        <article ng-include="card.template"></article>
      </cs-card>
    </cs-card-layout>

  </div>
</div>
<div class="servicesLanding" ng-if="!servicesLandingCtrl.featureEnabled">waiting for feature</div>
