@import '~@collabui/collab-ui/scss/settings/settings';

// Until we merge the code in the Google Calendar page
// and the other expressways service pages, we have to deal
// with both .hercules-notifications and google-calendar-notifications-dropdown
.hercules-notifications,
hs-cloud-alarms-dropdown {
  position: relative;
  display: flex;

  .notification-button {
    display: flex;
    align-items: center;
    padding: 0.375rem 1rem;
    color: #fff;
    font-size: 14px;
    border-radius: 2rem;
    background-color: $gray-light-1;

    &.success {
      background-color: $color-cta-base;
    }

    &.warning {
      background-color: $color-attention-base;
    }

    &.alert {
      background-color: $color-negative-base;
    }

    &.clickable:hover {
      cursor: pointer;
    }
  }

  .notification-label {
    padding-left: 0.5rem;
  }

  .notification-dropdown-container {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 50px;
    width: 450px;
    box-shadow: 0 1px 3px 0 rgba(40, 40, 40, 0.25), inset 0 1px 0 0 rgba(235, 235, 236, 0.5);

    &::before,
    &::after {
      content: '';
      position: absolute;
      border-style: solid;
      display: block;
      width: 0;
    }

    &::before {
      top: -  10px;
      left: 13px;
      border-width: 0 11px 11px;
      border-color: $gray-light-2 transparent;
    }

    &::after {
      top: -9px;
      left: 14px;
      border-width: 0 10px 10px;
      border-color: #fff transparent;
    }
  }

  .notification-dropdown {
    border: 1px solid $gray-light-2;
    background-color: #fff;
    padding: 0;
    margin: 0;
  }

  .badge {
    margin: 0;
  }

  .notification-entry {
    position: relative;
    display: flex;
    list-style: none;
    padding: 1rem;
    overflow: hidden;

    + .notification-entry {
      border-top: 1px solid $gray-light-3;
    }
  }

  .notification-entry-details {
    margin: 0 1rem;
  }

  .notification-entry-title {
    font-weight: bold;
  }
}
