.cs-setupassistant--content {
  .typeahead-large {
    &.cpselect {

      margin-top: calc(32vh - 143px);
      text-align:center;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      overflow-y: auto;

      .title {
        color : $color-primary-base;
        font-family: $brand-font-thin;
        font-size : $font-size-h1;
        @include vr-spacing(pt, 3);
      }

      .desc {
        @include vr-spacing(pt, 1);
        @include vr-spacing(pb, 2.5);
        color: $gray-dark-1;
        font-family: $brand-font-light;
        font-size : $font-size-h4;
      }
    }
  }
}

form.cp-number {
  width: 100%;
  input {
    font-size: $font-size-h2;
    width: 100%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid $gray-light-2;
    font-family: 'CiscoSansTT Thin';
    &:focus {
      border-bottom: 1px solid $color-primary-base;
    }
  }
  input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .cp-edit-range .range-to {
    line-height: 2.8rem;
    font-family: 'CiscoSansTT Thin';
    span {
      font-size: $font-size-h2;
    }
  }
  .form-group > div ~ div {
    margin-top: 2.5rem;
  }
}