.typeahead-large .dropdown-menu, .typeahead .dropdown-menu {

  @include vr-spacing(pb, 1);

  li .call-park-member-name {
    @include vr-spacing(ph, 2);
    @include vr-spacing(pt, 1);
    @include vr-spacing(pb, 0.25);
    background: $color-white;
    cursor: default;
  }

  li .call-park-member-line {
    @include vr-spacing(ph, 2);
    @include vr-spacing(pv, 0.25);

    & span {
      font-size: $font-size-h4;
      font-family: $brand-font-cisco-TT-Extra-Light;
      color: $gray-dark-1;
    }
  }
}

.call-park-member-lookup .cs-card-layout {
  position: fixed !important;
  height: 16rem !important;
  width: 48rem;
  left: 50%;
  @include vr-spacing(ml,24,0px,true);
  @include vr-spacing(pb,1);
  margin-right: auto;
  overflow: auto;
  display: inline-flex;
  flex-flow: row wrap;
  flex: 1;
  align-content: flex-start;
  justify-content: center;
}

.call-park-member-card {
  position: static !important;
  width: rem-calc(250) !important;
  @include vr-spacing(mt, 0.5);
  @include vr-spacing(ph, 0.25);

  & .email {
    color: $gray-light-1;
    @include vr-spacing(p, 0.75);
  }

  & article {
    border-radius : 0.25rem !important;
    box-shadow: 0px 0px 0px;
  }

  & article header {
    z-index: 100;
    cursor: pointer;
    border-radius: 0.25rem !important;
    & i {
      @include vr-spacing(mr, 0.5, 0px, true);
    }
  }

  & a:focus {
    border-radius: 0.25rem !important;
    @include box-shadow(0px 1px 2px 2px rgba(52, 53, 55, 0.18));
  }

  & article .open-panel {
    border-radius: 0.25rem 0.25rem 0 0 !important;
  }

  & article > section {
    z-index: 200;
    position: absolute;
    background-color: $brand-white;
    border-style: solid;
    border-width: rem-calc(1);
    border-color: $gray-light-3;
    border-bottom-left-radius : 0.25rem !important;
    border-bottom-right-radius : 0.25rem !important;
  }

  & section > fieldset {
    @include vr-spacing(pt, 0);
    @include vr-spacing(pb, 0.75);
    @include vr-spacing(ph, 0.75);

    & label {
      @include vr-spacing(mb, 0.75);
    }
  }

  & fieldset > p {
    @include vr-spacing(p, 0);
  }
}