@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/fonts';
@import '~collab-ui/scss/settings/typography';
@import '~collab-ui/scss/tools/placeholders/page-layout';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.partner-main {
  padding-top: 1rem;
  text-align: center;
  outline: none;
  box-shadow: none;

  .main-heading {
    padding-top: 75px;
    display: inline-block;
    text-align: left;
    min-height: 583px;

    .results-header {
      float: left;
      padding-right: 40px;
    }

    .search-form {
      float: right;
      width: 310px;
    }

    .desc-panel {
      padding-top: 17px;
      padding-bottom: 3px;
    }

    .desc-text {
      font-family: $brand-font-cisco-TT-Extra-Light;
      font-size: 26px;
      color: $gray-light-1;
    }

    .create-form {
      padding-top: 16px;
    }

    .input-checked {
      float: left;
    }

    #email-label {
      margin-bottom: -0.875rem;
    }

    #check-glyph {
      padding-left: 10px;
    }

    #lifeCycleDiv {
      padding-top: 15px;
    }

    @media only screen and (max-width: 500px) {
      .help {
        font-size: 0.7rem;
      }
    }
  }

  h2 {
    color: $color-primary-base;
  }

  #btnSearch {
    float: right;
    padding-top: 4px;
  }

  #noMatchText {
    color: $color-primary-base;
    text-align: left;
    padding-left: 86px;
    width: 420px;
  }

  .pm-rule {
    margin-bottom: 1rem;
  }

  .pm-step {
    color: $gray-light-1;
    font-size: 16px;
  }

  .pm-btn {
    width: 147px;
  }

  .pm-btn-pad {
    padding-right: 15px;
  }
}
