/******** Home page styles ********/

.landing-page {
  padding-left: 15px;
}

.landing-content {
  padding-left: 15px;
  padding-top: 15px;
}

// Analytics Charts
.overview-updated {
  cursor: pointer;
  .fa-refresh {
    font-size: 14px;
    color: @gray-light;
    line-height: 24px;
    vertical-align: top;
  }
}

.analytics-charts {
  h3 {
    font-family: @brand-font-cisco-TT-Thin;
  }
}

#activeUsersChart {
  width: 100%;
  height: 330px;
  font-size: 11px;
  margin-left: -14px;
}

.chartBackground {
  background-color: #fff;
  height: 285px;
  width: ~'calc(95% - 98px)';
  position: absolute;
  bottom: 0;
  margin: 35px 0 35px 35px;
}

.au-graph-refresh {
  position: absolute;
  top: 225px;
  text-align: center;
  width: 775px;
  z-index: 1;
}
.chart-border {
  border: none;
}


// Monitoring Section
.landing-content {
  h4 {
    color: @gray;
    font-size: 15px;
    border-bottom: 1px solid @hr-border;
    padding-bottom: 7px;
    text-transform: uppercase;
  }

  section {
    margin-bottom: 40px;
  }
}

@media (min-width: @screen-md-min) {
  .widgets {
    margin-top: 60px;
  }

}

.monitoring-list {
  ul&,
  ul,
  li {
    list-style: none;
    padding-left: 0;
    font-size: 13px;
  }

  span {
    margin-left:9px;
  }

  a.red:hover  {
    color: @brand-danger;
  }
  a.yellow:hover  {
    color: @brand-warning;
  }


}

i {
  .green & {
    color: @brand-success;
  }
  .red & {
    color: @brand-danger;
  }
  .yellow & {
    color: @brand-warning;
  }
}

span {
  .red & {
    color: @brand-danger;
  }
  .yellow & {
    color: @brand-warning;
  }
}


.monitoring-sections {
  margin-bottom: 12px;
}

li.monitoring-cell {
  font-size: 10px;
  margin: 9px 0;

  .fa {
    font-size: 8px;
    margin-left: 2px;
  }
  span {
    margin-left: 11px;
  }
}

.help {
  margin-bottom: 20px;

}

.quick-links {
  .list-group-item {
    font-size: 13px;
    color: @brand-primary;
    padding: 5px 0;
    border: none;
    border-radius: 0;
    background-color: transparent;

  }

}

.cta {
  background-color: #fff;
  padding: 20px 15px;
  border-bottom: 1px solid @gray-light;
  font-family: @brand-font-cisco-TT-Extra-Light;

  section {
    min-height: 115px;
  }

  h3 {
    font-size: 21px;
    color: @gray;
    margin-top: 5px;
  }

  p {
    font-family: @brand-font-cisco-TT-Extra-Light;
  }

  .progress {
    margin-bottom: 6px;
  }

  .btn {
    margin-top: 7px;
  }

}

.unlicensed-users {

  .users-info {
    padding-top: 8px;
  }
  h3 {
    color: @brand-primary;
    margin-top: 2px;
    margin-bottom: 16px;
  }
  span {
    display: inline-block;
  }
  .number {
    font-size: 40px;
    line-height: 35px;
    vertical-align: top;
  }
  .text {
    font-size: 14px;
    color: lighten(@gray, 10%);
    width: 55%;
    line-height: 1.1;
    vertical-align: middle;  }
}

.licenses {
  padding-right: 30px;
}

.licenses,
.unlicensed-users,
.devices {
  margin-top: 30px;
}

.packages {
  border-right: 1px solid @gray-light;
  padding-right: 30px;
}

.devices {
  border-left: none;
}

.device-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 14px;

  .device-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;

    .number {
      color: @brand-primary;
      font-weight: bold;
      margin-right: 3px;
    }
  }
}

.no-cases {
  font-size: 13px;
  color: @gray-light;
}

@media (min-width: @screen-sm-min) {
  .devices {
    margin-top: 0;
  }
}

@media (min-width: @screen-md-min) {
  .devices {
    float: right;
    border-left: 1px solid @gray-light;
  }

  .licenses,
  .unlicensed-users {
    margin-top: 0;
  }
}

