.fusion-resource-list {
  .loading-list {
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 2rem;
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 2rem;
  }

  .cs-card {
    header {
      padding-left: 1rem !important;
      padding-right: 1rem !important;

      .icon {
        margin-right: 10px;
        vertical-align: middle;
        font-size: 26px;
      }
    }

    section {
      padding: 10px;
      border-bottom: solid 1px #bbbbbb;
    }

    .service-list {
      padding: 0;
      margin: 0;
      margin-top: 5px;

      li {
        list-style: none;
        padding-left: 4px;
      }
    }

    footer {
      padding: 10px;

      a {
        color: inherit;
        font-size: 14px;
      }

      .icon {
        vertical-align: middle;
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
}
