.registeredEndpoints {
  .endpointTable {
    padding: 0 15px;
  }
  .positive {
    color: $brand-success;
  }
  .negative {
    color: $brand-danger;
  }
  .spinner-position {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .no-data {
    color: $gray-light;
    font-family: $brand-font-light;
    font-size: 46px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}
