.registeredEndpoints {
  .endpointTable {
    margin-left: 16px;
    width: 96%;
  }
  .no-data {
    margin-right: 32px;
  }
  .positive {
    color: $brand-success;
  }
  .negative {
    color: $brand-danger;
  }
  .table-data {
    padding: 0;
  }
  .table-half {
    display: inline-block;
    width: 45%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  td, th {
    border-color: $gray-light-1;
    border: 1px solid $gray-light-1;
    color: $gray-dark;
      .table-half:first-of-type {
      border-right: 1px solid$gray-light-1;
    }
    .positive {
      color: $gray-light-1;
    }
    .negative {
      color: $gray-light-1;
    }
  }
  .customer-data {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
    white-space: nowrap;
  }
  .dummyTable {
    border-color:$gray-light-2;
    td, th {
      border-color: $gray-light-2;
      border-right: 1px solid$gray-light-2;
      border-top: 1px solid $gray-light-2;
      color:$gray-light-2;
      .table-half:first-of-type {
        border-right: 1px solid $gray-light-2;
      }
      .positive {
        color: $gray-light-2;
      }
      .negative {
        color: $gray-light-2;
      }
    }
    th {
      background-color: $brand-white;
    }
    .td:last-of-type, th:last-of-type {
      border-right: none;
    }
  }
}
