.registeredEndpoints {
  .endpointTable {
    padding: 0 15px;
    position: relative;
  }
  .no-data {
    margin-right: 32px;
  }
  .positive {
    color: $brand-success;
  }
  .negative {
    color: $brand-danger;
  }
  .table-data{
    padding: 0;
  }
  .table-half {
    display: inline-block;
    width: 45%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  td, th {
    border-color: $gray-dark;
    border-right: 1px solid $gray-dark;
    color: $gray-dark;
    .table-half:first-of-type {
      border-right: 1px solid $gray-dark;
    }
    .positive {
      color: $gray-dark;
    }
    .negative {
      color: $gray-dark;
    }
  }
  .td:last-of-type, th:last-of-type {
    border-right: none;
  }
  .customer-data {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
  }
  .dummyTable {
    border-color: #ECECEC;
    td, th {
      border-color: #ECECEC;
      border-right: 1px solid #ECECEC;
      border-top: 1px solid #ECECEC;
      color: #ECECEC;
      .table-half:first-of-type {
        border-right: 1px solid #ECECEC;
      }
      .positive {
        color: #ECECEC;
      }
      .negative {
        color: #ECECEC;
      }
    }
    th {
      background-color: $brand-white;
    }
    .td:last-of-type, th:last-of-type {
      border-right: none;
    }
  }
}
