.registeredEndpoints {
  .endpointTable {
    padding: 0 15px;
  }
  .positive {
    color: $brand-success;
  }
  .negative {
    color: $brand-danger;
  }
  .table-data{
    padding: 0;
  }
  .table-half {
    display: inline-block;
    width: 45%;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .table-half:first-of-type {
    border-right: 1px solid $gray-dark;
  }
  .customer-data {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 20px;
  }
  .spinner-position {
    transform: translate(50%, 0);
    position: relative;
    height: 75px;
    top: -10px;

    .icon-2x {
      font-size: 4em;
    }
  }
  .no-data {
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Light;
    font-size: 46px;
    text-align: center;
    top: -10px;
    position: relative;
  }
}
