auto-license-metrics-frame {
  .fullSize {
    height: 100%;
    width: 100%;
  }

  .metrics-loading-icon {
    margin-top: 10vh;
    font-size: 7rem;
  }

  .metrics-loading-data {
    margin-top: 1rem;
  }

  .metrics-loading-description {
    margin-top: 1rem;
  }

}
