.bucket {
  height: 125px;
  width: 350px;
  float: left;
  margin-right: 25px;
  margin-bottom: 40px;
}

.leader-board {
  padding: 30px, 0px, 30px, 0px;
  .total-count {
    color: $gray-dark;
  }
  .text-center {
    font-size: 12px;
  }
}

.donut {
  width: 125px;
  float: left;
}

.cs-donut-svg {
  margin-left: 0px;
}

.sub-item {
  margin-bottom: 10px;
  min-height: 55px;
}

.bucket-info {
  width: 225px;
  float: right;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.site-info {
  color: $color-primary-base;
  padding-top: 24px;
  margin-bottom: 11px;
  border-top: $gray-lighter solid 1px;
}

.site-info-noline {
  color: $color-primary-base;
  margin-bottom: 15px;
}

.site-url {
  padding-top: 10px;
  padding-bottom: 4px;
  color: #049fd9;
}

.leader-board-title {
  font-family: $brand-font-cisco-TT-Extra-Light;
  font-size: 21px;
  margin-right: 15px;
}

.title-section {
  margin-bottom: 26px;
}

.leader-board-time {
  font-family: Arial;
  font-size: 11px;
  color: $gray-dark;
}

.leader-board .cs-card .header-section {
  padding-top: 12px;
  padding-bottom: 20px;
  &.cta-card {
      &:after {
        border-top: 5px solid $color-cta-base;
      }
  }
}

.bucket-header {
  font-family: $brand-font-light;
  font-size: 20px;
  color: $gray-dark-1;
  text-align: left;
}

.bucket-subtitle {
  color: #333;
  text-align: left;
}

.bucket-description {
  font-family: "Arial";
  font-size: 12px;
  color: $gray-darker;
}

.bucket-actions {
  font-family: "Arial";
  font-size: 13px;
  color: $brand-primary;
  float: left;
}

.bucket-subtitle-danger {
  font-family: Arial Bold;
  font-size: 13px;
  color: $brand-danger;
  text-align: left;
}

.bucket-subtitle-msg-danger {
  font-family: Arial;
  font-size: 12px;
  color: $brand-danger;
  text-align: left;
}

.vertical-divider {
  width: 1px;
  background-color: $gray-dark;
  float: left;
  height: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.bucket-info .text-center .quantity-badge {
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-right: 8px;
  margin-left: 8px;
}

.quantity-padding {
  font-family: $brand-font-light;
  font-size: 12px;
  color: $gray-base;
}

.quantity {
  font-family: $brand-font-light;
  font-size: 12px;
  color: $gray-base;
}

.webex {
  margin-left: 79px;
}

.small-donut {
  width: 64px;
  float: left;
}

.number {
  font-size: 12px;
  padding-top: 8px;
  padding-bottom: 10px;
}

.text-center.trial {
  padding-bottom: 0px;
  padding-top: 12px;
}

.leader-board .subscriptionId {
  padding-left: 8px;
  font-size: 14px;
  color: $gray-dark-1;
}

.subscription {
  overflow: hidden;
  font-size: 12px;
  padding-bottom: 5px;
}

.subscription .cs-card {
  margin-top: 12px;
}

// override needed for 'cs-header-push-container' directive in 'main.tpl.html'
.license-usage {
  .push-down-container-inner {
    padding-top: 0; // lose 20px
  }
  .leader-board {
    margin-top: 20px; // gain 20px
    &.has-active-trial {
      .subscription:first-of-type {
        .subscriptionId.has-active-trial {
          display: none;
        }
      }
    }
  }
}
