<div class="leader-board row" ng-init="init()" ng-class="{
    'is-customer-admin': isCustomerAdmin,
    'has-active-trial': hasActiveTrial
  }">
  <cr-trial-notice-banner></cr-trial-notice-banner>
  <div class="subscription" ng-repeat="subscription in buckets">
    <div class="subscriptionId"
      ng-class="{ 'has-active-trial': subscription.hasActiveTrial }"
      ng-show="buckets.length > 1 && subscription.subscriptionId !== 'undefined'">
      Subscription ID {{subscription.subscriptionId}}</div>
    <cs-card class="small header-bar" ng-show="subscription.messaging && subscription.messaging.services.length !== 0">
    <article>
      <header class="header-section align-center title">
        <span class="bucket-header" translate="firstTimeWizard.message"></span>
      </header>
      <section class="bucket-info">
        <div class="text-center" class="item-paid" ng-repeat="service in subscription.messaging.services">
          <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="72" class="text-center">
          </cs-donut>
          <div class="text-center quantity number">
            <span class="quantity-padding" translate="firstTimeWizard.quantity"></span>
            <span class="quantity" >{{service.volume}}</span>
            <p ng-show="service.isTrial" class="text-center trial">
              <span class="quantity-badge badge badge-warning" ng-show="trialDaysLeft > 0" translate="customerPage.trial"></span>
              <span class="quantity-badge badge alert" ng-show="trialDaysLeft <= 0" translate="customerPage.expired"></span>
            </p>
          </div>
        </div>
      </section>
    </article>
    </cs-card>
    <cs-card class="small header-bar meetings" ng-show="(subscription.cf && subscription.cf.services.length !== 0) || (subscription.count && subscription.count > 0)" >
    <article>
      <header class="header-section align-center">
        <span class="bucket-header" translate="firstTimeWizard.meeting"></span>
      </header>
      <section ng-show="subscription.cf && subscription.cf.services.length !== 0"class="bucket-info">
        <div class="text-center" class="item-paid" ng-repeat="service in subscription.cf.services">
          <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="72" class="text-center">
          </cs-donut>
          <div class="text-center quantity number">
            <span class="quantity-padding" translate="firstTimeWizard.quantity"></span>
            <span class="quantity" >{{service.volume}}</span>
            <p ng-show="service.isTrial" class="text-center trial">
              <span class="quantity-badge badge badge-warning" ng-show="trialDaysLeft > 0" translate="customerPage.trial"></span>
              <span class="quantity-badge badge alert" ng-show="trialDaysLeft <= 0" translate="customerPage.expired"></span>
            </p>
          </div>
        </div>
      </section>
      <!-- TODO: revisit after graduation (2016-02-17) - ng-show logic -->
      <section  class="bucket-info" ng-if="(!subscription.cf.services || subscription.cf.services.length === 0) && subscription.count === 1 && subscription.licensesCount == 1">
        <div class="text-center" class="item-paid" ng-repeat="(siteUrl,services) in subscription.sites">
          <div class="sub-item" ng-repeat="service in services">
            <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="72" class="text-center">
            </cs-donut>
            <div class="text-center">
              <span class="quantity-padding" translate="firstTimeWizard.quantity"></span>
              <span class="quantity" >{{service.volume}}</span>
              <p ng-show="service.isTrial" class="text-center trial">
                <span class="quantity-badge badge badge-warning" ng-show="trialDaysLeft > 0" translate="customerPage.trial"></span>
                <span class="quantity-badge badge alert" ng-show="trialDaysLeft <= 0" translate="customerPage.expired"></span>
              </p>
            </div>
            <div class="text-center" class="item-paid" ng-repeat= "(siteUrl,services) in subscription.sites" >
              <div class="site-url"> {{siteUrl}} </div>
              <div translate="leaderBoard.{{service.offerName}}"> </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bucket-info" ng-if="!((!subscription.cf.services || subscription.cf.services.length === 0) && subscription.count === 1 && subscription.licensesCount == 1) && subscription.count > 0 ">
        <div class="text-center" class="item-paid" ng-repeat= "(siteUrl,services) in subscription.sites" >
          <div ng-if="!($first && !subscription.cf)" class="site-info"> {{siteUrl}} </div>
          <div ng-if="$first && !subscription.cf" class="site-info-noline"> {{siteUrl}} </div>
          <div class="sub-item text-left" ng-repeat="service in services">
            <div class="service-bucket">
              <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="48" tsize="16" class="text-center small-donut">
              </cs-donut>
              <div class="webex">
                <div ng-if="service.offerName !== 'MC'" translate="leaderBoard.{{service.offerName}}"></div>
                <div ng-if="service.offerName === 'MC'" translate="leaderBoard.WebExMC"></div>
                <span ng-if="service.trial" class="quantity-badge badge badge-warning" translate="firstTimeWizard.trial"></span>
                <span class="quantity" translate="firstTimeWizard.quantity"></span>
                <span class ="quantity"> {{service.volume}} </span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </article>
    </cs-card>
    <cs-card class="small header-bar" ng-show="subscription.communication && subscription.communication.services.length !== 0">
    <article>
      <header class="header-section align-center cta-card ">
        <span class="bucket-header" translate="firstTimeWizard.call"></span>
      </header>
      <section class="bucket-info">
        <div class="text-center" class="item-paid" ng-repeat="service in subscription.communication.services">
          <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="72" class="text-center">
          </cs-donut>
          <div class="text-center quantity number" >
            <span class="quantity-padding" translate="firstTimeWizard.quantity"></span>
            <span class="quantity">{{service.volume}}</span>
            <p ng-show="service.isTrial" class="text-center trial">
              <span class="quantity-badge badge badge-warning" ng-show="trialDaysLeft > 0" translate="customerPage.trial"></span>
              <span class="quantity-badge badge alert" ng-show="trialDaysLeft <= 0" translate="customerPage.expired"></span>
            </p>
          </div>
        </div>
      </section>
    </article>
    </cs-card>
    <cs-card class="small header-bar gray" ng-show="subscription.shared_devices && subscription.shared_devices.services.length !== 0">
    <article>
      <header class="header-section align-center">
        <span class="bucket-header" translate="leaderBoard.shared_devicesTitle"></span>
      </header>
      <section class="bucket-info">
        <div class="text-center" class="item-paid" ng-repeat="service in subscription.shared_devices.services">
          <cs-donut name="service.id" value="service.usage" max="service.volume" ssize="72" class="text-center">
          </cs-donut>
          <div class="text-center quantity number">
            <span class="quantity-padding" translate="firstTimeWizard.quantity"></span>
            <span  class="quantity">{{service.volume}}</span>
            <p ng-show="service.isTrial" class="text-center trial">
              <span class="quantity-badge badge badge-warning" ng-show="trialDaysLeft > 0" translate="customerPage.trial"></span>
              <span class="quantity-badge badge alert" ng-show="trialDaysLeft <= 0" translate="customerPage.expired"></span>
            </p>
          </div>
        </div>
      </section>
    </article>
    </cs-card>
  </div>
</div>
