.group-list {
  .ngCell.col0 .ngVerticalBar, .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }
  .ngCell.col4 .ngVerticalBar,
  .ngHeaderCell.col4 .ngVerticalBar {
    display: none;
  }
  .ngHeaderText.colt5 {
    text-align: right;
  }
  .ngCell.colt5 {
    overflow: visible;
    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }
}

.filter {
  top: 35px;
}

.all-filter {
  text-align: right;
}
