.group-list {
  .ngCell.col0 .ngVerticalBar, .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }
  .ngCell.col4 .ngVerticalBar,
  .ngHeaderCell.col4 .ngVerticalBar {
    display: none;
  }
  .ngHeaderText.colt5 {
    text-align: right;
  }
  .ngCell.colt5 {
    overflow: visible;
    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }
}

#addGroups {
  cursor: pointer;
  a {
    color: $gray-lightest;
  }
}

.btn--icon {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  text-align: right;
  &:hover, &:focus, &.active:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }
}

// .admin-name{
//   color: $gray-dark;
//   font-family: $brand-font-cisco-TT-Extra-Light;
//   font-size: 16px;
//   line-height: 1;
// }
.btn--actions {
  float: right;
  padding: 15px 30px;
}

// .user-status{
//   padding: 14px 20px 14px 20px;
// }
.filter {
  top: 35px;
}

.all-filter {
  text-align: right;
}
