.aa-queue-settings-modal {
  .aa-treatment-modal {
    @include vr-spacing(mt, 0.5);
  }

  .aa-selectmin-modal {
    width: 9.4rem;
  }

  .aa-selectsec-modal {
    width: 9.84rem;
  }

  .aa-selectmessage-modal {
    width: 150px;
  }
  .aa-message-select-list {
    @include vr-spacing(mb, 0.75);

    .select-toggle {
      width: 100%;

      @include vr-spacing(pr, 1.75);
    }

    .select-toggle > i {
      @include vr-spacing(mr, 0);
      @include vr-spacing(ml, -0.5);
    }

    .dropdown-menu {
      width: 100%;
    }
  }
& .aa-destination-container {
     width: 100%;
     & .csSelect-container {
       @include vr-spacing(pt, 1);
     }

     & form {
       @include vr-spacing(mb, 0);

       & .form-group {
         @include vr-spacing(mb, .25);
       }
     }
}
  .columns + .columns:last-child.aa-selectsec-modal {
    float: left;
  }
}
