.aa-queue-settings-modal {
  .aa-treatment-modal {
    @include vr-spacing(mt, 0.5);
  }
  .aa-message-select-list {
    margin-bottom: 0rem;
  }
  .aa-select-modal {
    width: 9.4rem;
    display: inline-block;
    @include vr-spacing(mr, 0.5);
  }

  & .aa-destination-container {
    width: 100%;
    & .csSelect-container {
      @include vr-spacing(pt, 1);
    }

    & form {
      @include vr-spacing(mb, 0);

      & .form-group {
        @include vr-spacing(mb, .25);
      }
    }
  }
}
