<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss();" aria-label="{{::'common.close' | translate}}"></button>
  <h3 class="modal-title" translate="autoAttendant.queueSettings"></h3>
  <aa-help content="{{ :: 'autoAttendant.mediaUploadFileInfo'| translate }}<br><br>{{ :: 'autoAttendant.queueMaxMusicSize'| translate }}" metric="Queue-Settings-Modal"></aa-help>
</div>
<div class="modal-body">
  <div class="row" ng-if="aaNewTreatmentModalCtrl.showLanguageAndVoiceOptions">
    <div class="large-4 medium-4 small-12 columns">
      <label class="h4" translate="autoAttendant.languageAndVoice"></label>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <div class="large-6 medium-6 columns aa-message-select-list">
        <label for="languageSelect{{ schedule + index + menuKeyIndex }}" translate="common.language"></label>
        <cs-select id="languageSelect{{ schedule + index + menuKeyIndex }}" name="languageSelect" ng-model="aaNewTreatmentModalCtrl.languageOption" options="aaNewTreatmentModalCtrl.languageOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" placeholder="aaNewTreatmentModalCtrl.selectPlaceholder" ng-change="aaNewTreatmentModalCtrl.setVoiceOptions()">
        </cs-select>
      </div>
      <div class="large-6 medium-6 columns aa-message-select-list">
        <label for="voiceSelect{{ schedule + index + menuKeyIndex }}" translate="autoAttendant.sayMessageVoice"></label>
        <cs-select id="voiceSelect{{ schedule + index + menuKeyIndex }}" name="voiceSelect" options="aaNewTreatmentModalCtrl.voiceOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" ng-model="aaNewTreatmentModalCtrl.voiceOption" placeholder="aaNewTreatmentModalCtrl.selectPlaceholder">
        </cs-select>
      </div>
      <div class="large-12">
       <p class ="cs-input__help-text" translate="autoAttendant.langaugeAndVoiceHelp"></p>
      </div>
    </div>
  </div>
  <hr ng-if="aaNewTreatmentModalCtrl.showLanguageAndVoiceOptions"/>
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <label class="h4" translate="autoAttendant.holdMusic"></label>
    </div>
    <div class="large-8 medium-8 small-12 columns aa-display-radio">
      <div class="cs-radio-group">
        <input
        cs-input
        type="radio"
        ng-model="aaNewTreatmentModalCtrl.musicOnHold"
        id="musicOnHoldRadio1"
        name="musicOnHoldRadio"
        value="musicOnHoldDefault"
        cs-input-label="{{ :: 'autoAttendant.standardTransferMusic' | translate }}">
        <input
        cs-input
        type="radio"
        ng-model="aaNewTreatmentModalCtrl.musicOnHold"
        id="uploadFileRadio1"
        name="uploadFileRadio"
        value="musicOnHoldUpload"
        cs-input-label="{{ :: 'autoAttendant.uploadYourOwn' | translate }}">
      </div>
    </div>
    <div class="large-8 medium-8 large-offset-4 medium-offset-4 small-12 columns">
      <aa-media-upload id="mediaUploadInput{{ schedule + index + keyIndex }}" name="mediaUploadInput" aa-index="index" aa-schedule="{{ schedule }}" aa-menu-id="{{ menuId }}" aa-key-index="{{ keyIndex }}" aa-media-type="musicOnHold" aa-media-state="aaNewTreatmentModalCtrl.mediaState" aa-change="aaNewTreatmentModalCtrl.uploadMohTrigger();" aa-media-upload-size="{{ :: aaNewTreatmentModalCtrl.MAX_FILE_SIZE_IN_BYTES }}"></aa-media-upload>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <p class="cs-input__help-text" translate="autoAttendant.musicOnHoldHelp"></p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <label class="h4" translate="autoAttendant.initialAnnouncement"></label>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <aa-message-type aa-index="index" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-from-new-treatment="true" aa-key-index="{{keyIndex}}" aa-media-type="initialAnnouncement" id="initialAnnouncement"></aa-message-type>
    </div>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns">
      <p class="cs-input__help-text" translate="autoAttendant.initialHelpText"></p>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <label class="h4" translate="autoAttendant.periodicAnnouncement"></label>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <aa-message-type aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-from-new-treatment="true" aa-index="index" aa-key-index="{{keyIndex}}" aa-media-type="periodicAnnouncement" id="periodicAnnouncement"></aa-message-type>
    </div>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns">
      <p class="cs-input__help-text" translate="autoAttendant.periodicHelpText"></p>
      <p class="cs-input__help-text" translate="autoAttendant.periodicRestartMusicHelpText"></p>
    </div>
    <br/>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns">
      <p translate="autoAttendant.periodicTime"></p>
    <div class="aa-select-modal">
      <cs-select ng-model="aaNewTreatmentModalCtrl.periodicMinute" id="periodicMinId" options="aaNewTreatmentModalCtrl.periodicMinutes"  ng-change="aaNewTreatmentModalCtrl.changedPeriodicMinValue()" secondary-label="Minutes" labelfield="label" valuefield="label" icon="icon-chevron-down" >
      </cs-select>
    </div>
    <div class="aa-select-modal">
      <cs-select ng-model="aaNewTreatmentModalCtrl.periodicSecond" id="periodicSecId" options="aaNewTreatmentModalCtrl.periodicSeconds" secondary-label="Seconds" labelfield="label" valuefield="label" icon="icon-chevron-down" is-disabled="aaNewTreatmentModalCtrl.isDisabled()">
      </cs-select>
    </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="large-4 medium-4 small-12 columns">
      <label class="h4 ng-scope" translate="autoAttendant.timeoutLabel"></label>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <p translate="autoAttendant.maxWaitTime"></p>
    </div>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns">
      <div class="aa-select-modal">
        <cs-select id="queueMin" ng-model="aaNewTreatmentModalCtrl.maxWaitTime" options="aaNewTreatmentModalCtrl.minutes" secondary-label="Minutes" labelfield="label" valuefield="label" icon="icon-chevron-down">
        </cs-select>
      </div>
    </div>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns aa-treatment-modal">
      <p translate="autoAttendant.destinationLabel"></p>
    </div>
    <div class="large-6 medium-6 small-8 large-offset-4 medium-offset-4 columns">
      <cs-select id="destinationSelect" ng-model="aaNewTreatmentModalCtrl.destination" name="destinationSelect" options="aaNewTreatmentModalCtrl.destinationOptions" labelfield="label" valuefield="label" icon="icon-chevron-down" placeholder="aaNewTreatmentModalCtrl.selectPlaceholder">
      </cs-select>
      <div ng-switch="aaNewTreatmentModalCtrl.destination.action" class="aa-destination-container">
        <aa-route-to-aa id="destinationMenuRouteAA" ng-switch-when="goto" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-route-call="{{fromRouteCall}}" aa-from-fallback="true" aa-from-decision="{{fromDecision}}"></aa-route-to-aa>
        <aa-route-to-hg id="destinationMenuRouteHunt" ng-switch-when="routeToHuntGroup" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-route-call="{{fromRouteCall}}" aa-from-decision="{{fromDecision}}" aa-from-fallback="true"></aa-route-to-hg>
        <aa-route-to-user id="destinationMenuRouteMailbox" ng-switch-when="routeToVoiceMail" aa-schedule="{{schedule}}" voicemail=true  aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-decision="{{fromDecision}}" aa-from-route-call="{{fromRouteCall}}" aa-from-fallback="true"></aa-route-to-user>
        <aa-route-to-user id="destinationMenuRouteUser" ng-switch-when="routeToUser" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-decision="{{fromDecision}}" aa-from-route-call="{{fromRouteCall}}" aa-from-fallback="true"></aa-route-to-user>
        <aa-route-to-ext-num id="destinationMenuRouteToExtNum" ng-switch-when="route" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-decision="{{fromDecision}}" aa-from-route-call="{{fromRouteCall}}" aa-from-fallback="true"></aa-route-to-ext-num>
        <aa-route-to-sip-endpoint id="destinationMenuRouteToSipEndpoint" ng-switch-when="routeToSipEndpoint" aa-schedule="{{schedule}}" aa-menu-id="{{menuId}}" aa-index="index" aa-key-index="{{keyIndex}}" aa-from-route-call="{{fromRouteCall}}" aa-from-fallback="true"></aa-route-to-sip-endpoint>
      </div>
    </div>
    <div class="large-8 medium-8 small-12 large-offset-4 medium-offset-4 columns">
      <p class="cs-input__help-text" translate="autoAttendant.destinationHelpMessage"></p>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="cancelTreatmentFeature" class="btn" ng-click="aaNewTreatmentModalCtrl.cancel();" translate="common.cancel"></button>
  <button id="okTreatmentBtn" class="btn btn-primary" ng-click="aaNewTreatmentModalCtrl.ok();" ng-disabled="!aaNewTreatmentModalCtrl.isSaveEnabled();" translate="common.ok"></button>
</div>
