<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()"></button>
  <h3 class="modal-title" translate="autoAttendant.queueSettings"></h3>
</div>
 <div class="modal-body">
    <div class="row">
    <div class="large-4 columns">
        <label class="h4" translate="autoAttendant.fallbackLabel"></label>
      </div> 
    <p class=" large-6 large-offset-4" translate="autoAttendant.maxWaitTime"></p> 
      <div class="small-2 medium-offset-4">
         <cs-select ng-model="minute" options="minutes" secondary-label="Minutes" placeholder="newTreatmentModalCtrl.selectPlaceholder" icon="icon-chevron-down" >
          </cs-select> 
      </div>
  <div style="line-height:70%;">
     <br>
	</div>
    <p class="large-6 large-offset-4" translate="autoAttendant.destinationLabel"></p>
    <div class="row">
      <div class="large-6 large-offset-4">
         <cs-select ng-model="destination" name="destinationSelect" options="destinationOptions" icon="icon-chevron-down" placeholder="selectPlaceholder" input-placeholder="inputPlaceHolder">
        </cs-select>
         <p class="cs-input__help-text" translate="autoAttendant.destinationHelpMessage"></p>
      </div>
   </div>
   </div>
   
<hr/>
</div>

<div class="modal-footer">
  <button id="cancelTreatmentFeature" class="btn" ng-click="$dismiss();" translate="common.cancel"></button>
  <button id="saveTreatmentBtn"  class="btn btn-primary" ng-click="$dismiss();">
    <span translate="common.save"></span></button>
</div>
