<div ng-form="$ctrl.hcsProfileForm">
  <h4 translate="hcs.softwareProfiles.desc" class="hcs-service-setup__title"></h4>
  <input
    cs-input
    type="text"
    ng-model="$ctrl.profileSelected.name"
    id="profileName"
    name="profileName"
    required="true"
    ng-maxlength="$ctrl.MAX_LENGTH"
    cs-input-messages="$ctrl.errors"
    ng-change="$ctrl.processChange()"
    placeholder="{{:: 'hcs.softwareProfiles.namePlace' | translate}}"
    cs-input-label="{{:: 'hcs.softwareProfiles.name' | translate}}">
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.cucm"></label>
    <div class="medium-4 large-4 hcs-profile__select">
      <cs-select
        name="cucmVer"
        ng-model="$ctrl.profileSelected.cucmVer"
        options="$ctrl.versions.cucm"
        placeholder="$ctrl.placeholder[0]"
        ng-change="$ctrl.processChange()">
      </cs-select>
    </div>
  </div>
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.ucxn"></label>
    <div class="medium-4 large-4 hcs-profile__select">
      <cs-select
        name="ucxnVer"
        ng-model="$ctrl.profileSelected.ucxnVer"
        options="$ctrl.versions.ucxn"
        placeholder="$ctrl.placeholder[1]"
        ng-change="$ctrl.processChange()">
      </cs-select>
    </div>
  </div>
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.plm"></label>
    <div class="medium-4 large-4 hcs-profile__select">
      <cs-select
        name="plmVer"
        ng-model="$ctrl.profileSelected.plmVer"
        placeholder="$ctrl.placeholder[2]"
        options="$ctrl.versions.plm"
        ng-change="$ctrl.processChange()">
      </cs-select>
    </div>
  </div>
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.cer"></label>
    <div class="medium-4 large-4 hcs-profile__select">
      <cs-select
        name="cerVer"
        ng-model="$ctrl.profileSelected.cerVer"
        placeholder="$ctrl.placeholder[3]"
        options="$ctrl.versions.cer"
        ng-change="$ctrl.setSwProfile()">
      </cs-select>
    </div>
  </div>
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.expway"></label>
    <div class="medium-4 large-4 hcs-profile__select">
      <cs-select
        name="expwayVer"
        ng-model="$ctrl.profileSelected.expwayVer"
        placeholder="$ctrl.placeholder[4]"
        options="$ctrl.versions.expway"
        ng-change="$ctrl.processChange()">
      </cs-select>
    </div>
  </div>
 </div>