@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/tools/placeholders/page-layout';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.field-list {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ngCell.col0 .ngVerticalBar,
  .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }

  .ngHeaderText.colt5 {
    text-align: left;
  }

  .ngCell.colt5 {
    overflow: visible;

    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }
  overflow-x: hidden;
}

.context-fields-state {
  background-color: $gray-lightest;
}

.context-fieldsets-state {
  background-color: $gray-lightest;
}
