.cs-form-head .cs-form__section {
    margin: 0;
    max-width: none;
    width: auto;
    border-bottom: #D7D7D8 1px solid;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .1rem;
    padding-left: .1rem;
}
.cs-form-bottom .cs-form__section {
    margin: 0;
    max-width: none;
    width: auto;
    padding-top: .1rem;
    padding-bottom: .1rem;
    padding-right: .1rem;
    padding-left: .1rem;
}
.footer-padding {
    padding-top: 11px;
    padding-left: 16px;
    display: inline-block;
    float: left;
}
.media-modal-text {
    padding-left: 16px!important;
    padding-top: 9px!important;
    height: 24px!important;
    font-family: CiscoSans!important;
    font-size: 16px!important;
    font-weight: 300;
    line-height: 1.5;
    color: #6a6b6c!important;
}
.media-cluster-list {
    line-height: 1.71;
}