.cs-form-head .cs-form__section {
  margin: 0;
  max-width: none;
  width: auto;
  border-bottom: #d7d7d8 1px solid;
  padding: 0.1rem;
}

.cs-form-bottom .cs-form__section {
  margin: 0;
  max-width: none;
  width: auto;
  padding: 0.1rem;
}

.modal-title {
  padding-left: .1rem !important;
}

.checkbox_text_align {
  padding-top: 2.7rem;
}

.modal-footer-padding {
  padding-left: 16px;
}

.stick-left {
  padding-top: 13px;
  float: left !important;
}

.media-modal-text {
  padding-left: 16px !important;
  padding-top: 9px !important;
  height: 24px !important;
  font-size: 16px !important;
  font-weight: 300;
  line-height: 1.5;
  color: #6a6b6c !important;
}
.media-modal-spinner {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}
.media-model-align {
  padding-top: .5rem;
  padding-left: 1rem;
}

.media-modal-position {
  position: absolute;
  top: 50%;
}
.media-cluster-list {
  line-height: 1.71;
  color: #F24141;
}
