<div class="incidentListPage">
  <h1>Incidents</h1>
  <tabset>

    <tab heading="Incidents">

      <div class="tab-content">

        <div class="incidentListPageHeader clearFloat">
          <h2>Incidents</h2>
          <input class="btn btn--primary" type="button" value="+ NEW INCIDENT" ng-click="toCreatePage()">
        </div>

        <div ng-if="!showList" class="noListNote">

          <span>Looks like you've got a clean record</span>
          <br/>
          <span>When you have downtime: </span><a ui-sref=".new">Create your first incident</a>

        </div>

        <div ng-if="showList" class="incidentItem" ng-repeat="incident in incidentList">

            <div class="incidentName clearFloat">
              <span>{{incident.incidentName}}</span>
            </div>

            <div class="operationHref clearFloat">
              <div ng-if="incident.status!='resolved'">
                <a ui-sref="status.incidents.update( {incidentName:incident.incidentName, incidentId:incident.incidentId} )">Update</a>
                <a ui-sref="status.incidents.delete({ incidentName:incident.incidentName, incidentId:incident.incidentId })">Delete</a>
              </div>
              <div ng-if="incident.status=='resolved'">
                <a href="#">Write Postmortem</a>
                <a href="#">View Incident</a>
                <a ui-sref="status.incidents.delete({ incidentName:incident.incidentName, incidentId:incident.incidentId })">Delete</a>
              </div>
            </div>

            <div class="operationTime clearFloat">
              <span ng-if="incident.status!='resolved'">Last updated on </span>
              <span ng-if="incident.status=='resolved'">Resolved on </span>{{incident.lastModifiedTime | date: 'medium'}}
            </div>

        </div>

      </div>
    </tab>
    <tab heading="Scheduled Maintenance">
      <div class="tab-content">
        Scheduled Maintenance
      </div>
    </tab>
    <tab heading="Incident Template">
      <div class="tab-content">
        Incident Template
      </div>
    </tab>
  </tabset>
</div>