@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

cr-banner {
  &.header-adjust .header-banner {
    top: 3.25rem;

    &.readonly {
      top: 6rem;
    }
  }

  .header-banner {
    position: relative;

    .cs-alert-banner-text {
      max-width: rem-calc(1000);
    }

    .icon-warning {
      color: $color-alerts-base;
      font-size: vr-adjust(16);
      top: rem-calc(2);
    }

    .icon-info {
      color: $color-blue-darker;
      font-size: vr-adjust(16);
      top: rem-calc(2.25);
    }
  }
}
