<cs-sp-container class="hds-settings-table">
  <cs-sp-section>
    <div class="section-title-row section-name">
      {{hdsAlarmController.alarm.title}}
    </div>
    <table>
      <tbody>
      <tr>
        <td translate="hds.alarms.severity"></td>
        <td>
          <i class="icon icon-circle status-indicator" ng-class="hdsAlarmController.alarm.severity == 'warning' ? 'warning' : 'danger'"></i>
          <span translate="{{'hds.alarms.' + hdsAlarmController.alarm.severity}}"></span>
        </td>
      </tr>
      <tr>
        <td translate="hds.alarms.firstReported"></td>
        <td><span>{{hdsAlarmController.parseDate(hdsAlarmController.alarm.firstReported) | date : 'medium'}}</span></td>
      </tr>
      <tr>
        <td translate="hds.alarms.lastReported"></td>
        <td><span>{{hdsAlarmController.parseDate(hdsAlarmController.alarm.lastReported) | date : 'medium'}}</span></td>
      </tr>
      </tbody>
    </table>
  </cs-sp-section>
  <cs-sp-section>
    <div class="section-title-row section-name" translate="hds.alarms.description"></div>
    <p>
      {{hdsAlarmController.alarm.description}}
    </p>
  </cs-sp-section>
  <cs-sp-section ng-if="hdsAlarmController.alarm.solution">
    <div class="section-title-row section-name" translate="hds.alarms.action"></div>
    <p>
      <span ng-repeat="element in hdsAlarmController.alarm.alarmSolutionElements"><a ng-if="element.link"
                                                                            target="_blank"
                                                                            href="{{element.link}}">{{element.text}}</a>{{!element.link ? element.text : ''}}</span>
    </p>
  </cs-sp-section>
</cs-sp-container>
