<div ui-view="header"></div>

<cs-sp-container class="hds-fix-paragraphs hds-settings-table">

  <cs-sp-section ng-if="hdsSidepanelClusterController.cluster.connectors.length > 0">
    <div class="section-title-row section-name" translate="hds.alarms.alarms"></div>
    <div class="feature-list" ng-if="hdsSidepanelClusterController.cluster.aggregates.alarms.length > 0">
      <ul>
        <li class="feature" ng-repeat="alarm in hdsSidepanelClusterController.cluster.aggregates.alarms" ng-class="{'list-item': !$first}">
          <a ui-sref="hds-cluster-details.alarm-details({alarm: alarm})">
            <i class="icon icon-error red status-icon"></i>
            <span class="feature-name">{{alarm.title}}</span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
    <p ng-if="hdsSidepanelClusterController.cluster.aggregates.alarms.length === 0" translate="hds.alarms.noAlarms"></p>
  </cs-sp-section>

  <cs-sp-section ng-if="hdsSidepanelClusterController.cluster.connectors.length == 0 && hdsSidepanelClusterController.hasHDSFeatureToggle">
    <div class="section-title-row section-name" translate="hds.clusterSettings.releasechannelHeader"></div>
    <p>{{hdsSidepanelClusterController.releaseChannel}}</p>
  </cs-sp-section>

  <cs-sp-section ng-if="hdsSidepanelClusterController.cluster.connectors.length == 0 && hdsSidepanelClusterController.schedule">
    <div class="section-title-row section-name" translate="hds.clusterSettings.upgradeScheduleSubHeader"></div>
    <p>
      <span>{{hdsSidepanelClusterController.schedule.dateTime}}, </span>
      <span>{{hdsSidepanelClusterController.schedule.timeZone}}</span>
    </p>
  </cs-sp-section>

  <cs-sp-section ng-if="hdsSidepanelClusterController.cluster.connectors.length == 0">
    <div class="section-title-row section-name" translate="hercules.softwareUpgrade.softwareUpgrade"></div>
    <div class="hercules-upgrade-section">
        <p ng-if="!hdsSidepanelClusterController.softwareUpgrade.isUpgradeAvailable" translate="hercules.softwareUpgrade.upToDate" translate-values="{connectorType: hdsSidepanelClusterController.connectorName}"></p>
        <p ng-if="hdsSidepanelClusterController.softwareUpgrade.isUpgradeAvailable" translate="hercules.softwareUpgrade.upgradePossible" translate-values="{connectorType: hdsSidepanelClusterController.connectorName, availableVersion: hdsSidepanelClusterController.softwareUpgrade.availableVersion}"></p>
        <button class="btn btn--primary"
                ng-click="hdsSidepanelClusterController.showUpgradeDialog(hdsSidepanelClusterController.servicesId, hdsSidepanelClusterController.connectorType, hdsSidepanelClusterController.softwareUpgrade.availableVersion)"
                ng-disabled="!hdsSidepanelClusterController.softwareUpgrade.isUpgradeAvailable || hdsSidepanelClusterController.softwareUpgrade.isUpgrading"
                translate="hercules.softwareUpgrade.upgradeNow">
        </button>
    </div>

    <div>
      <p ng-if="hdsSidepanelClusterController.softwareUpgrade.isUpgradeAvailable">
        <i class="icon icon-warning no-data-warning hercules-update-warning-text"></i>
        <span class="hercules-update-warning-text"
              translate="hercules.softwareUpgrade.upgradeWarning"
              translate-values="{CiscoCollaborationCloud: hdsSidepanelClusterController.localizedCCCName}"></span>
      </p>
    </div>
  </cs-sp-section>

  <cs-sp-section ng-if="hdsSidepanelClusterController.cluster.connectors.length > 0">
    <div class="section-title-row section-name" translate="hds.resources.connectors.hosts"></div>
    <div class="feature-list">
      <div ng-repeat="host in hdsSidepanelClusterController.hosts | orderBy: 'hostname'">
        <h6 class="feature">{{host.hostname}}</h6>
        <ul>
          <li class="feature" ng-repeat="connector in host.connectors">
            <a ui-sref="hds-connector-details({host: host.hostname, clusterId: hdsSidepanelClusterController.clusterId})">
              <i class="icon icon-circle status-indicator"
                 ng-class="hdsSidepanelClusterController.getSeverity(connector.state).cssClass"
                 ng-if="!hdsSidepanelClusterController.hasConnectorAlarm(connector)"></i>
              <i class="icon icon-circle status-indicator danger"
                 ng-if="hdsSidepanelClusterController.hasConnectorAlarm(connector)" ></i>
              <span class="feature-name">{{hdsClusterController.connectorName}}</span>
              <span class="feature-status">{{connector.runningVersion}}</span>
              <i class="feature-status feature-arrow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </cs-sp-section>

</cs-sp-container>
