@import '~collab-ui/scss/settings/colors';

#svg {
  .axis path,
  .axis line {
    fill: none;
    stroke: $gray-light-2;
    shape-rendering: crispEdges;
  }

  .axis text {
    stroke: $gray-light-2;
    stroke-width: 0.5;
    font-size: 11px;
  }

  .showUser {
    stroke: $gray-light-2;
    stroke-width: 0.5;
    font-size: 12px;
    text-anchor: end;
  }

  .gridLine {
    stroke: $gray-light-2;
    stroke-width: 0.5;
  }

  .showCircleTips .circleTips,
  .lineMsgTips .msgTips {
    stroke: $gray-light-2;
    stroke-width: 0.5;
    font-size: 12px;
  }
}
