@import '~collab-ui/scss/settings/colors';

#svg {
  .axis path,
  .axis line {
    fill: none;
    stroke: $gray-light-2;
    shape-rendering: crispEdges;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 11px;
  }
}
