<div class="ui-grid-cell-contents align-left status-column" ng-class="{'selected' : row.isSelected}" ng-click="grid.appScope.selectRow(grid, row)">
  <div ng-switch="row.entity.nodeStatus">
    <div ng-switch-when="failed">
      <i class="icon icon-circle status-indicator danger"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.failedUpgrade' | translate}}</span>
    </div>
    <div ng-switch-when="aborted">
        <i class="icon icon-circle status-indicator danger"></i>
        <span class="h6">{{::'hcs.clusterDetail.nodeStatus.aborted' | translate}}</span>
      </div>
    <div ng-switch-when="unknown">
      <i class="icon icon-circle status-indicator danger"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.notAvailable' | translate}}</span>
    </div>
    <div ng-switch-when="fail.to.cancel">
      <i class="icon icon-circle status-indicator danger"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.failToCancel' | translate}}</span>
    </div>
    <div ng-switch-when="fail.to.schedule">
      <i class="icon icon-circle status-indicator danger"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.failToSchedule' | translate}}</span>
    </div>
    <div ng-switch-when="pause.error">
      <i class="icon icon-circle status-indicator danger"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.pauseError' | translate}}</span>
    </div>
    <div ng-switch-when="started">
      <i class="icon icon-circle status-indicator warning"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeInProgress' | translate}}</span>
    </div>
    <div ng-switch-when="scheduled">
      <i class="icon icon-circle status-indicator warning"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.scheduled' | translate}}</span>
    </div>
    <div ng-switch-when="cancelled">
      <i class="icon icon-circle status-indicator warning"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.cancelled' | translate}}</span>
    </div>
    <div ng-switch-when="paused">
      <i class="icon icon-circle status-indicator warning"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.paused' | translate}}</span>
    </div>
    <div ng-switch-when="posted">
        <i class="icon icon-circle status-indicator warning"></i>
        <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeInProgress' | translate}}</span>
      </div>
    <div ng-switch-when="success">
      <i class="icon icon-circle status-indicator success"></i>
      <span class="h6">{{::'hcs.clusterDetail.nodeStatus.success' | translate}}</span>
    </div>
    <div ng-switch-default>
      <i class="icon icon-circle"></i>
      <span translate="common.unknown"></span>
    </div>
  </div>
</div>
