<div class="vts-list">
<div class="row page-header">
    <div class="page-title col-md-8 col-sm-8">
      <!--span class="title">{{'vtsPage.enterpriseResources' | translate}}</span-->
	   <h2 class="title-heading">{{'vtsPage.enterpriseResources' | translate}}&nbsp;&nbsp;<small class="count">All {{totalResults}}</small></h2>
    </div>
 </div>
 <div class="row">
    <div gridscrollbar class="gridStyle col-md-12" ng-grid="gridOptions">
    </div>
</div>
<div ng-class="{preview: vtsPreviewActive}" class="user-management">
  <div ui-view class="outer-details-div" id="entire-slide"></div>
</div>
<!-- Delete Room Modal -->
<div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog" aria-labelledby="deleteRoomTitle" aria-hidden="true">
  <div class="modal-dialog delete-device-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button id="device-modal-close" type="button" class="close" ng-click="cancelDelete()"  data-dismiss="modal">
          <span class="sr-only">Close</span>
        </button>
        <h3 class="modal-title">
            <span translate="vtsPage.deleteResource"></span>
        </h3>
      </div>
      <div class="modal-body">
        <p><div translate="vtsPage.deleteResourceConfText1"></div><div translate="vtsPage.deleteResourceConfText2"></div></p>
      </div>
      <div class="modal-footer">
        <button id="cancelButton" class="btn" ng-click="cancelDelete()" data-dismiss="modal">
          <span translate="vtsPage.cancel"></span>
        </button>
        <button id="deleteButton" class="btn btn--primary" ng-click="deleteResource(deleteResourceId)" data-dismiss="modal">
          <span translate="vtsPage.delete"></span>
        </button>
      </div>
    </div>
  </div>
</div>