<div ng-if="grid.appScope.isEdit && row.entity.isEdit"
     class="ui-grid-cell-contents select-overflow"
     ng-class="{'error': row.entity.defaultNumberValidation.invalid}"
     tooltip-class="tn-error"
     tooltip-append-to-body="true"
     tooltip-is-open="row.entity.defaultNumberValidation.show"
     tooltip-html-unsafe="{{row.entity.defaultNumberValidation.message}}">
  <cs-select id="{{row.uid}}-defaultNumber"
             is-disabled="row.entity.denbDisabled || grid.appScope.submitLoading"
             title="{{row.entity.defaultNumber.label}}"
             options="row.entity.defaultNumberOptions"
             on-change-fn="grid.appScope.changeDefaultNumber(row)"
             labelfield="label"
             valuefield="value"
             ng-model="row.entity.defaultNumber">
  </cs-select>
</div>
<div ng-if="grid.appScope.isEdit && !row.entity.isEdit"
     ng-mouseover="row.entity.isEdit=true"
     class="ui-grid-cell-contents"
     title="{{row.entity.defaultNumber.label}}">
  <div class="select-list">
    <div class="dropdown" cs-dropdown cs-keyboard-nav="true">
      <span class="select-toggle form-control" tabindex="0" aria-expanded="false" ng-class="{ disabled: row.entity.denbDisabled || grid.appScope.submitLoading }">
        {{row.entity.defaultNumber.label}}
        <i class="icon icon-chevron-down" ng-class="csSelect.icon"></i>
      </span>
    </div>
  </div>
</div>
<div ng-if="!grid.appScope.isEdit"
     class="ui-grid-cell-contents read-only-text"
     title="{{row.entity.defaultNumber.label}}">
  {{row.entity.defaultNumber.label}}
</div>
