


.main-redux .navi {
  color: white;
  background-color: #049fd9;
  background-color: #383A41;
  font-family: "CiscoSansTT Thin", "Helvetica Neue", Helvetica, Arial, sans-serif;

  padding: 10px;

  ul {
    padding-top: 10px;
    margin: 0;
    i {
      font-size: 22px;
      padding: 15px;
      line-height: 1.5;
    }

    i.active {
      background-color: #3ca8e8;
    }
    li {
      list-style-type: none;
      padding: 10px 0;
    }
  }


  a {
    color: white;
    font-family: "CiscoSansTT Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
  }

}

.devices-redux2 {
  background-color: white !important;

  .row {
    margin: 0;
  }

  .needsActivation {
    color: #aaa;
  }

  h1 {
    padding-bottom: 30px;
  }
  h2 {
    padding: 20px 0;
  }
  .pane {
    padding-right: 40px;
  }
  .details-header {
    // border-bottom: 1px solid #ccc;

    button {
      border: 0;
      color: #666;
      cursor: pointer;
      background: transparent;
    }
    button[disabled], button[disabled]:hover {
      color: #ccc;
      cursor: default;
    }
    button:hover {
      color: #049fd9;
    }
  }
  .details-pane {
    .row {
      padding: 10px 0;
      font-size: 0.875rem;
    }
  }
  .result-pane {
    padding-top: 20px;
    .result-row {
      cursor: pointer;
      padding-top: 20px;
      font-size: 0.875rem;
      border-bottom: 3px solid white;

      &:hover {
        border-bottom: 3px solid #049fd9;
      }

      i {
        padding-right: 10px;
      }
    }
  }

  input:focus, a:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
  }

  .dr2-search {
    input[type=text] {
      border: 0;
      // border-bottom: 1px solid #ccc;
    }
    ul {
      margin: 0;
      padding-bottom: 60px;
    }
    li {
      a {
        color: #666;
      }
      cursor: pointer;
      padding: 20px 0 10px 0;
      list-style-type: none;
      border-bottom: 1px solid #ddd;
    }
    li.active, input[type=text]:focus, input[type=text].active {
      border-bottom: 3px solid #049fd9;
    }
  }
}


@media (max-width: 600px) {
  .main-redux .navi {
    .burger {
      top: 0;
      right: 0;
      padding: 20px;
      cursor: pointer;
      position: absolute;
    }
    ul {
        top: 40px;
        right: 0;
        width: 200px;
        z-index: 100;
        position: absolute;
        background-color: #383A41;
    }
    .drop {
      ul {
        display: none;
      }
    }
    .drop:hover {
      ul {
        display: block;
      }
    }
  }
  .devices-redux2 {
    padding: 5px 10px;
  }
}

@media (min-width: 600px) {
  .main-redux {
    .navi {
      top: 0;
      bottom: 0;
      width: 200px;
      position: absolute;
      padding-top: 30px;
      ul {
        padding-top: 30px;
      }
    }
    .cntnt {
      margin-left: 200px;
    }

    .logo {
      text-align: center;
    }

    .burger {
      display: none;
    }
  }
  .devices-redux2 {
    padding: 100px 80px;
  }
}
