<!-- PSTN Trial Modal -->

<!-- header -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.dismissModal()" aria-label="{{::'common.close' | translate}}"></button>
  <h3 class="modal-title" translate="trialModal.pstn.title"></h3>
</div>

<!-- body -->
<div class="modal-body trials">
  <form id="callTrialForm" class="trial-modal" name="$ctrl.trialForm" novalidate>
    <uc-pstn-providers
      on-change-fn="$ctrl.onProviderChange(true)"
      on-ready-fn="$ctrl.onProviderReady()">
    </uc-pstn-providers>
    <hr>

    <div ng-if="$ctrl.providerSelected">
      <!-- manual number entry -->
      <div class="cs-form__section" ng-show="!$ctrl.ftEnterpriseTrunking && ($ctrl.providerImplementation === $ctrl.SWIVEL || $ctrl.trialData.details.pstnProvider.apiImplementation === $ctrl.SWIVEL)">
        <div class="section__info">
          <h4 class="section__title" translate="trialModal.pstn.phoneNumbers"></h4>
          <h6 class="section__description" translate="trialModal.pstn.pleaseAdd"></h6>
          <!--<h6 translate="trialModal.pstn.pleaseAdd"></h6>-->
        </div>
        <div class="section__content">
          <div class="pad-right">
            <h6 translate="trialModal.pstn.numbers"></h6>
          </div>
          <div class="did-input">
            <uc-pstn-swivel-numbers  numbers="$ctrl.manualUnsavedTokens" on-change="$ctrl.manualTokenChange(numbers, invalidCount)" no-acknowledge="true"></uc-pstn-swivel-numbers>
          </div>
        </div>
      </div>
      <!-- no manual number entry -->
      <div class="cs-form__section" ng-show="$ctrl.ftEnterpriseTrunking && ($ctrl.providerImplementation === $ctrl.SWIVEL || $ctrl.trialData.details.pstnProvider.apiImplementation === $ctrl.SWIVEL)">
        <div class="esa-note">
          <div>
             <span class="icon icon-warning warning-icon" ></i>
             <span class="esa-note-header" translate="trialModal.pstn.esaAcceptanceHeader"></span>
          </div>
          <br><br>
          <p translate="trialModal.pstn.esaAcceptance1"></p>
          <br>
          <p translate="trialModal.pstn.esaAcceptance2"></p>
        </div>
      </div>

      <!-- legal info -->
      <div class="cs-form__section" ng-hide="$ctrl.providerImplementation === $ctrl.SWIVEL || $ctrl.trialData.details.pstnProvider.apiImplementation === $ctrl.SWIVEL">
        <div class="section__info">
            <h4 class="section__title" translate="trialModal.pstn.contract"></h4>
            <h6 class="section__description" translate="trialModal.pstn.popover"></h6>
        </div>
        <div class="section__content">
          <uc-pstn-contact-info contact="$ctrl.trialData.details.pstnContractInfo"></uc-pstn-contact-info>
        </div>
      </div>

      <div class="cs-form__section flex-container pstn-selector-container" ng-if="!($ctrl.providerImplementation === $ctrl.SWIVEL || $ctrl.trialData.details.pstnProvider.apiImplementation === $ctrl.SWIVEL)">
        <div class="flex-2">
          <h4 translate="trialModal.pstn.phoneNumbers"></h4>
          <h6 class="section__description" translate="pstnSetup.newNumbersTabDesc"></h6>
          <uc-pstn-number-search
            model="$ctrl.model"
            search="$ctrl.searchCarrierInventory(value, block, quantity, consecutive, stateAbbreviation)"
            add-to-cart="$ctrl.addToCart(searchResultModel)"
            country-code="$ctrl.countryCode"
          >
          </uc-pstn-number-search>
        </div>
        <div class="flex-1">
          <div class="provider-flex center"><h1 class="h5" translate="pstnSetup.numberCart"></h1><h1 class="h4"><span class="badge badge--round info">{{$ctrl.trialData.details.pstnNumberInfo.numbers.length}}</span></h1></div>
          <ul class="list-group">
             <li class="list-group-item list-token info" ng-repeat="order in $ctrl.trialData.details.pstnNumberInfo.numbers">
              <span>{{::order.data.numbers}}</span>
              <button type="button" class="close" ng-click="$ctrl.removeOrder(order)" aria-label="{{::'common.delete' | translate}}"></button>
            </li>
          </ul>
        </div>
      </div>

      <div class="cs-form__section show" ng-if="!($ctrl.providerImplementation === $ctrl.SWIVEL || $ctrl.trialData.details.pstnProvider.apiImplementation === $ctrl.SWIVEL)">
        <emergency-services
          address="$ctrl.trialData.details.emergAddr"
          country-code="$ctrl.trialData.details.countryCode"
          validation="$ctrl.validation"
          address-loading="$ctrl.addressLoading"
          address-found="$ctrl.addressFound"
          reset-address="$ctrl.resetAddress()"
          read-only="$ctrl.readOnly"
          validate-address="$ctrl.validateAddress()"
          show-validation="true">
        </emergency-services>
      </div>
    </div>

  </form>
</div>

<!-- footer -->
<div class="modal-footer trials">
  <button class="skip-btn btn btn--link btn--none"
    ng-click="$ctrl.skip(true)"
    translate="trialModal.skip">
  </button>
  <button class="btn with-slim-offset"
    ng-click="$ctrl.previousStep()"
    ng-disabled="$ctrl.trial.loading"
    translate="common.back">
  </button>
  <button id="startTrialButton"
    class="btn btn--primary"
    type="button"
    cs-btn
    loading="$ctrl.trial.loading"
    ng-click="$ctrl.trialForm.$setPristine(true); $ctrl.trial.nextStep()"
    ng-disabled="$ctrl.isDisabled()">
    <span ng-if="!$ctrl.trial.hasNextStep()" translate="partnerHomePage.startTrial"></span>
    <span ng-if="$ctrl.trial.hasNextStep()" translate="common.next"></span>
  </button>
</div>


