<label class="sub-section__label" for="mediaOnHoldSelect" translate="serviceSetupModal.mohSelectLabel"></label>
<div class="display-flex">
  <div class="medium-5">
    <cs-select
      name="mediaOnHoldSelect"
      ng-model="$ctrl.selected"
      options="$ctrl.companyMohOptions"
      on-change-fn="$ctrl.onCompanyMohChanged()"
      filter="false">
    </cs-select>
  </div>
  <span><a href class="warning-padding" translate="mediaOnHoldPanel.mediaManager" ng-click="$ctrl.openMediaMgrModal()"></a></span>
</div>
