.status-list {
  i {
    padding-right: 10px;
  }
  .error i {
    color: #f05d3b;
  }
  .notActivated i {
    color: #999;
  }
  .activated i {
    color: #7cc153;
  }
  .deactivated i {
    color: #999;
  }
}
