.aa-message-panel {
  width: 100%;

  @include vr-spacing(mb, 1);
  @include vr-spacing(mt, 1);

  .aa-message-footer {
    color: $gray-base;
    white-space: nowrap;
  }
}

.aa-message-panel-input-only {
  @extend .aa-message-panel;
  @include vr-spacing(mt, 0);
}
