.aa-message-panel {
  width: 100%;
  @include vr-spacing(mt, 1);
  @include vr-spacing(mb, 1);

  & .aa-message-textarea {
    @include vr-spacing(mb, 1);
    line-height: 1.25rem;
    @include vr-spacing(pt, .75);
    @include vr-spacing(pb, .75);
    @include vr-spacing(pl, .75);
    @include vr-spacing(pr, .75);
    resize: none;
  }

  & .aa-message-select-list {
    @include vr-spacing(mb, .75);
    .select-toggle {
      width: 100%;
      @include vr-spacing(pr, 1.75);
    }
    .select-toggle > i {
      @include vr-spacing(mr, 0);
      @include vr-spacing(ml, -0.5);
    }
    .dropdown-menu {
      width: 100%;
    }
  }

  & .aa-message-line-break {
    border-bottom: 2px solid $gray-light-1;
    @include vr-spacing(mb, .5);
    width: 97%;
    margin-left: 1.5%;
  }

  & .aa-message-subtext {
    color: $gray-light-1;
    @include vr-spacing(mb, .75);
    font-style: italic;
  }

  & .aa-message-footer {
    color: $gray-base;
    white-space: nowrap;
  }
}
