<div ng-if="!aaSay.isMessageInputOnly()" id ="say" class="panel aa-message-panel">
    <div class="row">
      <div class="small-12 columns">
        <label for="sayMessageInput{{ schedule + index + menuKeyIndex }}" translate="{{ :: aaSay.getMessageLabel() }}"></label>
        <textarea class="aa-message-textarea" ng-keypress="aaSay.keyPress($event)" ng-change="aaSay.saveUiModel()" ng-model="aaSay.messageInput" type="text" id="sayMessageInput{{ schedule + index + menuKeyIndex }}" name="sayMessageInput" placeholder="{{ :: aaSay.messageInputPlaceholder }}" cols="50" rows="5" maxlength="2000" ></textarea>
      </div>
    </div>
    <div class="row">
      <div class="large-6 small-12 columns aa-message-select-list">
        <label for="languageSelect{{ schedule + index + menuKeyIndex }}" translate="common.language"></label>
        <cs-select id="languageSelect{{ schedule + index + menuKeyIndex }}" name="languageSelect" ng-model="aaSay.languageOption" options="aaSay.languageOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" placeholder="aaSay.languagePlaceholder" ng-change="aaSay.setVoiceOptions(); aaSay.saveUiModel()">
        </cs-select>
      </div>
      <div class="large-6 small-12 columns aa-message-select-list">
        <label for="voiceSelect{{ schedule + index + menuKeyIndex }}" translate="autoAttendant.sayMessageVoice"></label>
        <cs-select id="voiceSelect{{ schedule + index + menuKeyIndex }}" name="voiceSelect" options="aaSay.voiceOptions" icon="icon-chevron-down" labelfield="label" valuefield="value" ng-model="aaSay.voiceOption" placeholder="aaSay.voicePlaceholder" ng-change="aaSay.saveUiModel()">
        </cs-select>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <p class="body-small aa-message-footer" translate="{{ :: aaSay.getFooter() }}"></p>
      </div>
    </div>
</div>
<div ng-if="aaSay.isMessageInputOnly()">
    <label class="control-label" for="sayMessageInput{{ schedule + index + menuKeyIndex }}" translate="{{ :: aaSay.getMessageLabel() }}"></label>
    <textarea ng-change="aaSay.saveUiModel()" ng-model="aaSay.messageInput" type="text" id="sayMessageInput{{ schedule + index + menuKeyIndex }}" name="sayMessageInput" placeholder="{{ :: aaSay.messageInputPlaceholder }}" rows="4" maxlength="2000"></textarea>
</div>
