@import '~@collabui/collab-ui/scss/settings/colors';

user-statuses-bar {
  &.on-resource-page {
    .cs-form__section {
      padding: 2rem;
    }

    .cs-form__section .section__content .sub-section__description,
    .cs-form__section .section__content .sub-section {
      margin-bottom: 0;
    }
  }

  .section__content {
    display: flex;
  }

  .sub-section + .sub-section {
    margin-left: 2rem;
  }

  .sub-section__label div {
    display: inline;
  }

  .user-statuses-content {
    display: flex;
    margin: 0;

    li {
      list-style-type: none;
      margin-right: 1rem;
    }
  }
}
