<div>
  <cs-overlay-panel
    class="callpickup overlay-panel typeahead-group"
    overlay-title="{{::'callPickup.createTitle' | translate}}" close="$ctrl.cancelModal()">

    <cs-setup-assistant
      previous="$ctrl.previousButton()"
      next="$ctrl.nextButton()"
      next-text="$ctrl.nextText()"
      previous-fn="$ctrl.previousPage()"
      next-fn="$ctrl.nextPage()"
      next-aria-label="{{::'common.next' | translate}}"
      previous-aria-label="{{::'common.previous' | translate}}">

      <form novalidate name="$ctrl.form" role="form">
        <uc-call-pickup-name
          ng-if="$ctrl.getPageIndex() === 0"
          on-update="$ctrl.onUpdateName(name, isValid)"
          call-pickup-name="$ctrl.name"
          is-new="true"
          ng-class="$ctrl.animation"
          uc-keyup="$ctrl.evalKeyPress($event)"
          uc-keypress="$ctrl.enterNextPage($event)">
        </uc-call-pickup-name>

        <uc-call-pickup-members
          ng-if="$ctrl.getPageIndex() === 1"
          on-update="$ctrl.onUpdateMember(member, isValidMember)"
          selected-members="$ctrl.selectedMembers"
          ng-class="$ctrl.animation"
          is-new="true"
          uc-input-keyup="$ctrl.evalKeyPress($event)"
          uc-input-keypress="$ctrl.enterNextPage($event)">
        </uc-call-pickup-members>
      </form>
    </cs-setup-assistant>
  </cs-overlay-panel>
</div>
