<div class="notification"></div>

<div class="row page-header">
  <div class="col-md-6 col-sm-6">
    <h2 class="page-title" translate="callRoutingPage.title"></h2>
  </div>
</div>
<div class="row">
  <!-- temporary placeholder -->
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>{{'callRoutingPage.callPark' | translate}} <button type="button" ng-click="addCallPark()">+</button></h3>
        <ul>
          <li ng-repeat="callPark in callParks">
            {{callPark.description}} -- {{callPark.pattern}}  <button type="button" ng-click="deleteCallPark(callPark.uuid)">-</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>