<div class="modal-header dialog-header-confirm">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="$dismiss()">&times;</button>
  <h4 class="modal-title">{{'callPark.createTitle' | translate}}</h4>
  <h6 class="text-muted">{{'callPark.createDescription' | translate}}</h6>
</div>

<div class="modal-body">
  <form role="form">
    <div class="form-group">
      <label for="name">{{'callPark.name' | translate}}</label>
      <input type="text" ng-model="callPark.description" class="form-control" id="name" name="name"/>
    </div>

    <div class="form-group">
      <label>{{'callPark.numbers' | translate}}</label>
      <span class="help-block">{{'callPark.numbersDescription' | translate}}</span>

      <div class="form-group">
      <label class="radio-inline">
        <input type="radio" ng-model="options.pattern" value="range">{{'callPark.patternRange' | translate}}
      </label>
      <label class="radio-inline">
        <input type="radio" ng-model="options.pattern" value="single">{{'callPark.patternSingle' | translate}}
      </label>
      </div>

      <div class="row" ng-if="options.pattern == 'range'">
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="options.rangeMin" id="rangeMin" placeholder="1300">
        </div>
        <div class="col-xs-1">to</div>
        <div class="col-xs-2">
          <input type="text" class="form-control" ng-model="options.rangeMax" id="rangeMax" placeholder="1320">
        </div>
      </div>

      <input type="text" ng-if="options.pattern == 'single'" class="form-control" ng-model="callPark.pattern" id="pattern" placeholder="{{'callPark.numberPrompt' | translate}}">
    </div>

    <div class="form-group">
      <label for="retrievalPrefix">{{'callPark.retrievalPrefix' | translate}}</label>
      <span class="help-block">{{'callPark.retrievalPrefixDescription' | translate}}</span>
      <input type="text" class="form-control" id="retrievalPrefix" ng-model="callPark.retrievalPrefix">
    </div>

    <div class="form-group">
      <label for="callReversion">{{'callPark.callReversion' | translate}}</label>
      <span class="help-block">{{'callPark.callReversionDescription' | translate}}</span>
        <label class="radio-inline">
          <input type="radio" value="owner" ng-model="options.reversionPattern" ng-click="callPark.reversionPattern = ''">{{'callPark.owner' | translate}}
        </label>

        <label class="radio-inline">
          <input type="radio" value="custom" ng-model="options.reversionPattern">
          <input type="text" class="form-control" ng-model="callPark.reversionPattern" id="reversionPattern" placeholder="{{'callPark.numberPrompt' | translate}}" ng-focus="options.reversionPattern = 'custom'">
        </label>
    </div>

  </form>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="options.pattern === 'range' ? addCallParkByRange(callPark, options.rangeMin, options.rangeMax) : addCallPark(callPark)">{{'callPark.createButton' | translate}}</button>
  <button type="button" class="btn btn-primary" ng-click="$dismiss()">{{'callPark.cancelButton' | translate}}</button>
</div>
