.export-users {
  color: @gray-light;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-left: 10px;
  border-left: solid 1px @gray-lighter;
  cursor: pointer;

  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}

// #export-btn {
//   margin: 0;
//   transition: opacity 300ms;
//   -webkit-transition: opacity 300ms;
//   &:hover {
//     cursor: pointer;
//     opacity:1;
//     transition: opacity 300ms;
//     -webkit-transition: opacity 300ms;
//   }
// }
