<div ng-form="$ctrl.extensionRangeForm" class="extension-range">
  <label class="sub-section__label" translate="serviceSetupModal.internalExtensionRange"></label>
  <p class="description-block" translate="serviceSetupModal.internalNumberRangeDescription" translate-values="{ length: $ctrl.extensionLength }"></p>
  <div ng-repeat="range in $ctrl.numberRanges track by $index" class="extension-range-container">
    <input
      cs-input
      type="text"
      id="beginRange{{$index}}"
      name="beginRange{{$index}}"
      ng-model="range.beginNumber"
      ng-model-options="{
        updateOn: 'default blur',
        debounce: { 'default': 600, 'blur': 0 }
      }"
      ng-change="$ctrl.onExtensionRangeChange()"
      ng-pattern="/^[0-9]*$/"
      ng-maxlength="$ctrl.extensionLength"
      ng-minlength="$ctrl.extensionLength"
      ng-disabled="$ctrl.isDisabled(range)"
      ng-attr-focus-on="!$ctrl.isCreateLocation && $last && range.beginNumber === ''"
      cs-input-messages="$ctrl.messages"
      cs-input-warning="$ctrl.steeringDigitOverlap(range)"
      cs-input-warning-message="{{::'directoryNumberPanel.steeringDigitOverlapWarning' | translate}}"
      cs-input-group-size="medium-3"
      validate-extension-range-length="beginNumber"
      validate-extension-single-number="beginNumber"
      validate-extension-less-than
      required>
    <span class="range-to" translate="serviceSetupModal.to"></span>
    <input
      cs-input
      type="text"
      id="endRange{{$index}}"
      name="endRange{{$index}}"
      ng-model="range.endNumber"
      ng-model-options="{
        updateOn: 'default blur',
        debounce: { 'default': 600, 'blur': 0 }
      }"
      ng-change="$ctrl.onExtensionRangeChange()"
      ng-pattern="/^[0-9]*$/"
      ng-maxlength="$ctrl.extensionLength"
      ng-minlength="$ctrl.extensionLength"
      ng-disabled="$ctrl.isDisabled(range)"
      cs-input-messages="$ctrl.messages"
      cs-input-warning="$ctrl.steeringDigitOverlap(range)"
      cs-input-warning-message="{{::'directoryNumberPanel.steeringDigitOverlapWarning' | translate}}"
      cs-input-group-size="medium-3"
      validate-extension-range-length="endNumber"
      validate-extension-greater-than
      validate-extension-overlap
      required>
    <i
      ng-if="$ctrl.showTrashCan(range)"
      class="icon icon-trash trash-icon"
      ng-click="$ctrl.removeExtensionRange(range)"
      role="button">
    </i>
  </div>
  <div class="row">
    <button
      class="btn-sm btn-link"
      ng-disabled="$ctrl.addDisabled"
      ng-click="$ctrl.addExtensionRange()"
      translate="serviceSetupModal.addMoreExtensionRanges">
    </button>
  </div>
</div>
