.customer-devices {
  .device-filter {
    float: right;
    margin-right: rem-calc(35);
    position: relative;
    top: rem-calc(-15);
    z-index: 1000;
    .select-options {
    	padding: 0;
    }
  }
  .amExportButton {
    top: rem-calc(40);
  }
  .device-number {
    font-size: rem-calc(18);
    color: $color-people-base;
    text-align: left;
  }
  .barchart {
    position: relative;
    top: rem-calc(-30);
  }
}
