<!doctype html>
<html ng-app="wx2AdminWebClientApp">
  <head>
    <!-- build:js({.tmp,app}) scripts/unsupported.js -->
    <script type="text/javascript" src="scripts/unsupported.js"></script>
    <!-- endbuild -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="Localize.varTitle()"></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="images/logo.png">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <% styles.forEach( function( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- endbuild -->
  </head>
  <body ng-cloak>
    <cr-notifications></cr-notifications>
    <div ui-view="main"></div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>

      var preload = new Image();
      preload.src="images/bg_1920.jpg";

      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>
    <!-- build:js({.tmp,app}) scripts/index.scripts.js -->
    <% scripts.forEach( function( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
    <!-- endbuild -->
  </body>
</html>
