<!doctype html>
<html ng-app="wx2AdminWebClientApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title ng-bind="Localize.varTitle()"></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/png" href="images/logo.png">
  <!-- build:css({.tmp,app}) styles/main.css -->
  <% styles.forEach( function ( file ) { %>
  <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
  <!-- endbuild -->
</head>
<body ng-cloak>
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="app-container">
    <header cs-header navstyle="{{navStyle}}" headertitle="{{headerTitle}}" ng-controller="HeaderCtrl">
      <div class="header-search" ng-controller="SearchCtrl" ng-show="Utils.isAdminPage()">
        <cs-headersearch></cs-headersearch>
      </div>
      <div class="settings-menu dropdown" ng-controller="SettingsMenuCtrl" ng-show="Utils.isAdminPage()">
        <button class="btn btn-header dropdown-toggle"><i class="icon-settings icon"></i></button>
        <ul class="dropdown-menu" role="menu" >
          <li ng-repeat="item in menuItems"><a ng-click="doAction(item.link)">{{item.title}}</a></li>
        </ul>
      </div>
      <div class="user-info dropdown" ng-controller="UserInfoCtrl" ng-show="Utils.isAdminPage()">
        <button class="btn-user dropdown-toggle">
          <img ng-if="image" class="user-img" ng-src="{{image}}"/>
          <span ng-if="!image" class="user-img">
            <i class="icon icon-user"></i>
          </span>
          <ul class="user-info-text">
            <li class="user-name">{{username}}</li>
            <li class="org-name">{{orgname}}</li>
          </ul>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li class="user-name">{{username}}</li>
          <li class="org-name">{{orgname}}</li>
          <li class="divider"></li>
          <li id="feedback-btn">
            <a ng-click="sendFeedback()" tabindex="0">
              <i class="fa fa-envelope-o fa-lg" style="padding:10px;"></i>
              {{'index.feedback' | translate}}
            </a>
          </li>
          <li id="logout-btn" ng-show="loggedIn">
            <a ng-click="logout()" tabindex="0">
              <i class="fa fa-sign-out fa-lg" style="padding:10px;"></i>
              {{'index.logout' | translate}}
            </a>
          </li>
        </ul>
      </div>
    </header>

    <div class="wrapper">
      <cs-left-nav pages="tabs" ng-controller="TabsCtrl" ng-show="Utils.isAdminPage()"></cs-left-nav>
      <div class="page-content-wrapper container-fluid">
        <div class="row">
          <div class="col-md-12" ui-view="">
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-XXXXX-X');
ga('send', 'pageview');
</script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<% scripts.forEach( function ( file ) { %>
<script type="text/javascript" src="<%= file %>"></script><% }); %>
<!-- endbuild -->
</body>
</html>
