.shared-line{

  .shared-line-toggle{
    float: right;
    margin-bottom: 0px;
    margin-top: 14px;
  }
  .shared-line-title{
    padding-top: 20px;
  }
  .typeahead-dropdown{
    max-height: 150px;
    overflow-y: auto;
  }
  .icon-search{
    font-size: 26px;
    float: right;
    top: -30px;
  }
  .btn-group > .btn{
    margin-top: 3px;
    width: 380px;
  }
  .dropdown-menu > li > small, .dropdown-menu > li > label{
    padding: 6px 10px;
    margin-bottom: 0px;
  }
  .device-dropdown > ul{
    width: 380px;
  }
  .dropdown-menu > .active > a {
    background-color: @gray-dark
  }
  .panel-body {
    padding: 0px;
  }
  .list-group {
    margin-bottom: 0px;
  }
  .list-group-item > label, .list-group-item > label > label {
    margin-bottom: 0px;

  }
  .panel-heading {
    a { 
        color:@brand-white;
        &:hover{
          color:@brand-white;
        }
      }
    }
  }

.shared-line-container {
    min-height: 100px;
}

