@import '~@collabui/collab-ui/scss/settings/colors';

expressway-cluster-settings-page {
  display: block;
  background: #fff;

  .btn-save-new-name {
    margin-left: 0.5rem;
  }

  .emergency-upgrade-section {
    margin-top: 2.375rem;
  }

  .needs-border-top {
    border-top: 1px solid $gray-light-2;
  }
}
