<cs-page-sub-header>
  <cs-page-sub-header-left>
    <cs-searchfilter ng-model="$ctrl.placeholder.count" search-item-fn="$ctrl.filterList(searchStr)" clear-aria-text="{{::'common.clear' | translate}}" search-placeholder-text="{{::'common.search' | translate}}">
    </cs-searchfilter>
  </cs-page-sub-header-left>
</cs-page-sub-header>
<div class="hcs-inventory-container">
  <div class="row inventory-list-header">
    <div class="columns medium-6">Customer/ Group Name</div>
    <div class="columns medium-3">Number of Clusters</div>
    <div class="columns medium-3">Status</div>
  </div>
  <cs-card-layout block-view="true">
    <cs-card class="cs-card--full detail-view"  ng-class="{ 'subscription-expanded': subscription.viewAll }" ng-repeat="inventory in $ctrl.inventoryList track by inventory.id">
      <article><section>
          <div class="row inventory-list-item">
            <div class="columns medium-6">
              {{inventory.name && inventory.name || ('common.unassigned' | translate)}}
            </div>
            <div class="columns medium-3">{{inventory.clusterCount}}</div>
            <div class="columns medium-2" ng-switch="inventory.status">
              <i ng-switch-when="Needs Assigned" class="icon icon-circle status-indicator danger"></i>
              <i ng-switch-when="Needs Accepted" class="icon icon-circle status-indicator warning"></i>
              <i ng-switch-when="Active" class="icon icon-circle status-indicator success"></i>
              <i ng-switch-when="Agent Inactive" class="icon icon-circle status-indicator danger"></i>
               {{inventory.status}}
            </div>
            <div class="columns medium-1"><a translate="common.settings" /></div>
          </div>
      </section></article>
    </cs-card>
  </cs-card-layout>
</div>
