@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/settings/colors';

hybrid-services-nodes-page {
  display: block;

  .spinner-container {
    padding: 2rem 0;
  }

  .node-serial {
    color: $gray-base;
    margin-right: 12px;
  }

  table {
    border-collapse: collapse;
  }

  table thead tr {
    border-top: 0;
    border-bottom: 1px solid transparent;
  }

  table tbody tr {
    border-bottom: 1px solid $gray-light-3;
  }

  tr.connector-row-filler {
    background-color: $gray-light-4;
    border: 0;
  }

  table thead tr th {
    font-size: 16px;
    color: $gray-dark-2;
    background-color: $gray-light-3;

    &:last-child {
      border: 0;
    }
  }

  table thead tr th,
  table tbody tr td {
    padding: 10px 16px 10px 20px;
    line-height: 1.5rem;
  }

  .hostname td {
    border-top: 2px $color-primary-light solid;
  }

  .nodename {
    color: $gray-dark-4;
    font-family: $brand-font-bold;
  }

  .connector-row {
    &:hover {
      background-color: $color-primary-lighter;
    }

    &.active {
      background-color: $color-primary-base;

      td {
        color: #fff;
      }
    }

    .badge {
      vertical-align: middle;
    }

    .status {
      padding-right: 5px;
    }
  }

  .upgrade-link {
    margin: 0 2px;
  }

}
