@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()

@keyframes graphAxisFade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleDownCard {
  0% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }

  100% {
    transform: scale(0, 0);
    height: 0;
    margin: 0;
    opacity: 0;
  }
}

@keyframes scaleUpCard {
  0% {
    transform: scale(0, 0);
    height: auto;
    margin: 0;
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }
}

.report-box article {
  min-height: vr-adjust(600);
}

.report-box.long-card article {
  min-height: vr-adjust(640);
}

.report-card,
.report-box {
  min-width: rem-calc(650);
  animation: scaleUpCard 0.5s linear;

  article {
    min-width: rem-calc(650);
    padding: rem-calc(15);
    animation: scaleUpCard 0.5s linear;
  }

  header {
    .report-section-header {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      text-align: left;
    }

    .icon-information {
      position: relative;
      top: rem-calc(3);
      color: $gray-light-1;
      font-size: rem-calc(22);
      cursor: pointer;
    }

    .icon-information:hover {
      color: $color-primary-base;
    }

    .tooltip {
      width: rem-calc(325);
      max-width: rem-calc(325);

      .c-nub {
        font-size: rem-calc(15);
        width: rem-calc(325);
        max-width: rem-calc(325);
        text-align: left;
      }
    }
  }

  .no-data-warning {
    color: $color-attention-base;
    padding-right: rem-calc(15);
  }

  .no-data-center {
    position: absolute;
    z-index: 100;
    height: 0;
    top: rem-calc(235);
    width: 100%;
  }

  .no-data {
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Light;
    font-size: rem-calc(16);
    text-align: center;
    margin: 0;

    span {
      position: relative;
      top: -3px;
    }
  }

  .spinner-position {
    position: absolute;
    z-index: 100;
    top: rem-calc(235);
    left: rem-calc(-3);
    width: 100%;
  }

  .icon-2x {
    font-size: 4em;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .horizontal-center {
    text-align: center;
  }

  .vertical-center {
    vertical-align: middle;
  }

  .bold {
    font-weight: bold;
  }

  .pointer {
    cursor: pointer;
  }

  .graph-text {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: rem-calc(15);
    color: $gray-darkest;
    text-align: left;
    float: left;

    .graph-number {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(18);
      color: $brand-success;
      text-align: left;
    }
  }

  .box-match {
    @include vr-spacing(ph, 1.5);
  }

  .report-dropdown {
    float: right;
    margin-right: rem-calc(35);
    position: relative;
    top: rem-calc(-15);
    width: rem-calc(200);
    z-index: 60;

    .select-options {
      @include vr-spacing(p, 0);
    }
  }

  .row.label-row {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    .label-display {
      height: rem-calc(10);
      overflow: visible;
      position: relative;
      text-align: center;
      top: rem-calc(-60);
      color: $gray-light-1;

      .label-number {
        font-size: rem-calc(25);
        font-weight: bold;
        @include vr-spacing(p, 0);
      }

      .label-text {
        font-size: rem-calc(15);
        position: relative;
        top: rem-calc(-10);
      }

      .label-click {
        cursor: pointer;
      }
    }

    &.line-labels .label-display {
      top: rem-calc(52);
      cursor: pointer;
      .good {
        color: $color-primary-base;
        opacity: 0.6;
      }
      .fair {
        color: $color-attention-base;
        opacity: 0.6;
      }
      .poor {
        color: $color-negative-base;
        opacity: 0.6;
      }
    }
  }

  .line-labels .label-display {
    top: rem-calc(12);
    .good {
      color: $color-primary-base;
      opacity: 0.6;
    }
    .fair {
      color: $color-attention-base;
      opacity: 0.6;
    }
    .poor {
      color: $color-negative-base;
      opacity: 0.6;
    }
    .label-text {
      color: $gray-base;
    }
  }

  .label-click {
    cursor: pointer;
  }

  .timechartDiv {
    font-size: rem-calc(11);
    height: vr-adjust(380);
    width: 95%;
    position: relative;
    top: rem-calc(-50);
  }

  .axischart {
    font-size: rem-calc(11);
    height: vr-adjust(368);
    width: 85%;
    margin-left: 5%;
    margin-right: auto;
    z-index: 50;
  }

  .axischart-shift {
    position: relative;
    top: vr-adjust(12);
  }

  .label-chart {
    height: vr-adjust(276);
  }

  .report-table {
    .table-bordered {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      border: 1px solid $gray-light-1;
      border-collapse: collapse;
    }

    .no-data {
      margin-right: 32px;
    }

    .positive {
      color: $brand-success;
    }

    .negative {
      color: $brand-danger;
    }

    .table-data {
      @include vr-spacing(p, 0);
    }

    .table-half {
      display: inline-block;
      width: 45%;
      @include vr-spacing(pv, 0.5);
    }

    td,
    th {
      border: 1px solid $gray-light-1;
      color: $gray-dark;

      .table-half:first-of-type {
        border-right: 1px solid $gray-light-1;
      }

      .positive {
        color: $gray-light-1;
      }

      .negative {
        color: $gray-light-1;
      }
    }

    .customer-data {
      text-overflow: ellipsis;
      overflow: hidden;
      @include vr-spacing(pl, 1.25);
      white-space: nowrap;
    }

    .dummyTable {
      border-color: $gray-light-2;

      td,
      th {
        border: 1px solid $gray-light-2;
        color: $gray-light-2;

        .table-half:first-of-type {
          border-right: 1px solid $gray-light-2;
        }

        .positive {
          color: $gray-light-2;
        }

        .negative {
          color: $gray-light-2;
        }
      }

      th {
        background-color: $brand-white;
      }

      .td:last-of-type,
      th:last-of-type {
        border-right: none;
      }
    }
  }

  .percent-large {
    font-size: vr-adjust(24);
    font-family: $brand-font-cisco-TT-Light;
  }

  .percent-label {
    font-size: vr-adjust(16);
    font-family: $brand-font-cisco-TT-Light;
  }

  .graph-population {
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Regular;
    font-size: vr-adjust(20);
    text-align: left;
  }

  .donut-hover-text {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: $gray-darkest;
  }

  .report-search {
    margin-bottom: rem-calc(20);
    margin-left: rem-calc(25);
    width: 40%;
    position: relative;

    i {
      left: rem-calc(10);
      position: absolute;
      top: rem-calc(10);
    }

    input {
      @include vr-spacing(pl, 1.75);
    }
  }

  .carousel-btn {
    border: 1px solid $gray-dark-1;
    color: $gray-dark-1;
  }

  .carousel-btn:hover,
  .btn--none:focus,
  .btn--none:hover {
    border-color: transparent;
    color: $white;
  }

  .carousel-control {
    @include vr-spacing(pv, 0.5);
    @include vr-spacing(ph, 1);
    background-color: $white;

    i {
      color: $color-primary-base;
    }
  }

  .carousel-control:focus {
    box-shadow: none;
  }

  .carousel-control:hover {
    background-color: $color-primary-base;

    i {
      color: $white;
    }
  }

  .carousel-control[disabled] {
    background-color: $gray-light-2;

    i {
      color: $gray-base;
    }
  }

  .table-spinner {
    height: 100px;
    position: relative;
    top: 40px;
    width: 100%;

    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .active-chart .amcharts-value-axis .amcharts-axis-label {
    opacity: 0;
    animation: graphAxisFade 2s ease-in-out 1 forwards;
  }

  .tooltip-column {
    text-align: center;
    position: relative;
    top: rem-calc(98);
    .tooltip-title,
    .tooltip-icon {
      color: $gray-light-1;
    }
    .tooltip-icon {
      position: relative;
      top: rem-calc(6);
      font-size: rem-calc(22);
      cursor: pointer;
    }
    .tooltip-icon:hover {
      color: $color-primary-base;
    }
  }

  // !important necessary to override AmCharts putting css directly on the divs
  .amcharts-main-div,
  .amcharts-chart-div,
  .amcharts-balloon-div {
    overflow: visible !important;
  }
  .amcharts-main-div {
    .amcharts-chart-div svg {
      left: 10px !important;
    }
    .amcharts-chart-div .amcharts-balloon-div {
      margin-left: 10px !important;
    }
  }

  #avgRoomsChart .room-number {
    font-size: rem-calc(18);
    color: $color-primary-base;
    text-align: left;
  }

  #mediaQualityChart {
    .graph-text-balloon {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(16);
      color: $gray-darkest;
      text-align: left;
      float: left;

      .graph-number {
        font-family: $brand-font-cisco-TT-Regular;
        font-size: rem-calc(16);
        color: $gray-darkest;
        text-align: left;
      }
    }

    .amcharts-chart-div .amcharts-axis-title tspan {
      font-weight: 100;
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(16) !important;
    }
  }

  #userPopulationChart {
    position: relative;
    height: 350px;
    left: 18px;

    .amcharts-chart-div svg {
      position: relative !important;
    }

    .amcharts-balloon-div {
      margin-top: 5px !important;
    }
  }
}

.report-box.hideCard,
.report-card.hideCard {
  height: 0;
  margin: 0;
  transform: scale(1, 0);
  animation: scaleDownCard 0.5s linear;

  article {
    transform: scale(1, 0);
    animation: scaleDownCard 0.5s linear;

    .timechartDiv,
    .barchart,
    .table {
      display: none;
    }
  }
}
