<div class="hercules subpage">

  <div class="row">
    <div class="large-6 columns">


      <div class="row">
        <div class="large-12 columns">
          <h4>Email notifications</h4>

          <p>
            Enter addresses that shall receive emails about Service impacting Alarms and Software Upgrades.
          </p>

          <p>
            Note that this list is common for Calendar Service and Call Service.
          </p>


          <div class="form-group">
      <textarea ng-disabled="saving"
                placeholder="Separate multiple email addresses by commas, for example, foo@yourdomain.com, bar@yourdomain.com, ..."
                class="form-control"
                id="wx2_users"
                type="text"
                ng-model="calendarServiceSettings.config.wx2users"></textarea>
          </div>
          <div ng-show="calendarServiceSettings.error" class="alert alert-danger" style="margin: 0 10px 10px 10px">
            {{calendarServiceSettings.error}}
          </div>

          <button ng-disabled="loading || saving" id="convertActionButton" class="btn-primary"
                  ng-click="calendarServiceSettings.writeConfig()">
            <span ng-hide="saving">Save</span>
    <span ng-show="saving">
      <i class="icon icon-spinner"/>
    </span>
          </button>


        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <h4>Deactivate Calendar Service</h4>

          <p>
            Deactivating the service will remove any service related functionality from your Users....
            (more text to come...)
          </p>
          <button>Deactive</button>

        </div>
      </div>
    </div>

    <div class="large-6 columns">

      <h4>More settings</h4>

      <p>
        Oh, yeah ! Second columns will only appear in a second columns for large screens.
      </p>


    </div>

  </div>
</div>
