.add-resource-modal {
  .loading {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinner--large {
    font-size: 3rem;
  }

  h4 {
    margin-bottom: 1rem;
  }
}
