.trialsPanel {
  padding: 15px;
  background-color: $brand-white;
  border-color: $list-group-border;
  border-width: 1px;
  .trial {
    margin-bottom: .5rem;
  }
}

.trials-refresh {
  left: 50%;
  position: relative;
}

.trialHeader {
  display: flex;
  align-items: flex-end;
  @include vr-spacing(pb,0.25);
  & > span {
    color: $gray-dark-2;
    line-height: inherit;
    & ~ span {
      text-align: center;
    }
  }
}

.trialRow {
  display: flex;
  align-items: center;
}

.trial-danger-text {
  color: $brand-danger;
}

.expiredTrials {
  @include vr-spacing(pt,2);
  @include vr-spacing(pb,0.5);
}

.viewAll {
  @include vr-spacing(pt,0.5);
}

.trialTitle {
  font-family: $brand-font-cisco-TT-Extra-Light;
  color: $top-bar-inverse-link-disabled-color;
  @include vr-spacing(mb,1);
}
.userTitle {
  @include vr-spacing(mb,0.75);
}

.expired {
  color: $btn-link-disabled-color;
  text-align: center;
}

.trialCustomer {
  color: $brand-primary;
  text-align: left;
  margin-bottom: -.75rem;
}

.trialLicense {
  color: $gray-base;
  text-align: center;
  padding-top: 0px;
}

.trialDays {
  color: $gray-base;
  text-align: center;
}

.trialbar {
  height: 6px;
}

.trials-card {
  min-height: rem-calc(440);
}
