
/**
Special stuff currently used to display the clusters in service oriented view
*/
.hercules-cluster-table {
  cursor: pointer;
  tr {
    border-top:0px;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
  td {
    border-top:0px;
    padding:0px;
  }
  .active {
    background-color:#F7F7F7;
  }
  .cell-content {
    padding: 0.7rem;
    padding-left:1rem;
    position:relative;

    display: block;
    height: 100px;

    .icon {
      float:right;
      margin-right:10px;
      margin-top:5px;
    }
    .overlay {
      position: absolute;
      left: 20px;
      top: 15px;
      border-radius: 50px;
      height: 12px;
      width: 12px;
      border: 6px solid white;
    }
    .alarm {
      border-color: red;
    }

    .attention {
      border-color: #F5A623;
    }

    .ok {
      border-color: green;
    }

    .icon.icon-three-dots{
      position: absolute;
      top: 1rem;
      left:100%;
      margin-left: -3rem;
    }
    /* New code */
    .cell-status{
      display: block;
      padding-left: 2.8rem;

      margin-top: -1.5rem;

      span{
        display: block;
      }
    }
  }
}



/**
Special stuff currently used for out own mail input field...
*/
.cal-mail-form{
  display: block;
  //border: 2px solid rgba(0,0,0,0.75);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  padding: .3rem;

    input, input:focus, input[type="text"]:focus{
      border: none !important;
      box-shadow: none !important;
      border-color: none !important;
      transition: none !important;
    }
    #existing-mails{
        .token-label{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: .3rem;
          margin-bottom: .3rem;
          cursor: pointer;
          padding:{
            left:.75rem;
            right:1.75rem;
            top:.3rem;
            bottom:.3rem;
          }
          color:white !important;
          vertical-align: top;
          line-height: 1;
          background-color: $brand-primary;
          border-radius: 2px;

          position: relative;

            .del{
              display: block;
              width: .75rem;
              height: .75rem;
              color: white;
              position: absolute;
              right: .25rem;
              top:.3rem;
            }
        }
        .token-label.alert{
          margin-left: 0 !important;
          margin-right: .3rem !important;
          margin-bottom: .3rem !important;
          background-color: $brand-danger;
        }
        .token-label:hover{
          background-color: $brand-primary-dark;
        }
        .token-label.alert:hover{
          background-color: $brand-danger;
        }
    }
}




/**
  Old stuff that was previously used to style settings page.
  Moved to separate typography style...
  Kept for reference... can be removed ?
*/

/*
.calendar-sub{
  min-height: 100vh;
  min-height: calc(100vh - 150px);

    .row{
      margin-right: 2rem;
      margin-bottom: 1rem;

        p{
          margin-bottom: 1rem;
        }
        p:last-child{
          margin-bottom: 0;
        }
        h5{
          color: $brand-primary;
          margin-bottom: .25rem;
        }
        button{
          margin-top: .25rem;
        }
        .button.large{
          padding:{
            left: 3rem;
            right: 3rem;
          }
          margin:{
            left: 0 !important;
            right: 0;
          }
        }
        .alert{
          margin-bottom: 2rem;
        }

    }
}

.calendar-sub.subpage{
  padding:{
    top:1.5rem !important;
    bottom: 5rem !important;
    left:2.5rem !important;
    right:0.5rem !important;
  }
}
*/
