<div class="hercules subpage">
  <div class="row">
    <div class="large-6 columns">

      <h4>
        Feature Settings
      </h4>

      <p>
        Specify the Call Service features to enable or disable.
        The ‘Aware’ feature (Zero Touch Meetings) is on by default when activating Call Service.
        It can not be turned of, as it is a pre-requisite of the other features.
      </p>

      <h5>
        Aware
      </h5>
      <p>
      Effortlessly share your desktop with Spark while you are on your work phone.
      </p>

      <h5>
        Connect
        <span class="switch small right">
          <input ng-click="callServiceSettings.toggleEc()" ng-model="callServiceSettings.squaredFusionEc" id="checkboxSquaredFusionEc" type="checkbox">
        </span>
      </h5>

      <p>
        Answer your work phone or call your coworkers from Spark.
      </p>



      <h5>Sip domain</h5>

        <form ng-submit="callServiceSettings.updateSipDomain()">
        <input type="text"
               ng-disabled="saving"
               ng-blur="callServiceSettings.updateSipDomain()"
               placeholder="SIP domain or static host name / IP address, for example, yourdomain.com)"
               class="form-control"
               id="sipDomain" type="text" ng-model="callServiceSettings.org.sipDomain"/>
        </form>

      <div ng-show="callServiceSettings.error" class="alert alert-danger" style="margin: 0 10px 10px 10px">
        {{callServiceSettings.error}}
      </div>

      <button ng-disabled="callServiceSettings.loading || callServiceSettings.savingSip" id="convertActionButton" class="btn-primary"
              ng-click="callServiceSettings.updateSipDomain()">
        <span ng-hide="callServiceSettings.savingSip">
          Save
        </span>
        <span ng-show="callServiceSettings.savingSip">
          <i class="icon icon-spinner"/>
        </span>
      </button>

      <hr/>


      <h4>
        Certificates for encrypted SIP calls
      </h4>

      <p>
        Use certificates provided from Cisco Collaboration default trust list (Cert Service) for the encrypted SIP
        calls,
        or upload self-signed certificates.
      </p>

    </div>

    <div class="large-6 columns">

      <h4>
        Email notifications
      </h4>

      <p>
        Here we need a new text that tells you something useful.
        I.e. Add email adresses to receive email notifications about Service impacting Alarms and Software Upgrades.
      </p>


      <form>
      <textarea ng-disabled="saving"
                placeholder="Separate multiple email addresses by commas, for example, foo@yourdomain.com, bar@yourdomain.com, ..."
                class="form-control"
                id="wx2_users"
                type="text"
                ng-model="callServiceSettings.config.wx2users"></textarea>
      </form>
      <div ng-show="callServiceSettings.error" class="alert alert-danger" style="margin: 0 10px 10px 10px">
        {{callServiceSettings.error}}
      </div>

      <button ng-disabled="callServiceSettings.loading || callServiceSettings.savingEmail" id="convertActionButton"
              class="btn-primary"
              ng-click="callServiceSettings.writeConfig()">
        <span ng-hide="callServiceSettings.savingEmail">
          Save
        </span>
        <span ng-show="callServiceSettings.savingEmail">
          <i class="icon icon-spinner"/>
        </span>
      </button>

      <hr/>

      <h4>
        Deactivate Service
      </h4>

      <p>
        Deactivating a service (requires another confirm step) will remove any service related functionality from your
        users.
        Additional steps to remove the service from your on premise devices are required.
        See doumentation for guideance and further instructions.
      </p>
      <button class="btn-danger">DEACTIVATE</button>

      <p>
        Go to Help Central for help uninstalling a Hybrid Service.
      </p>


    </div>
  </div>


</div>




