<div class="hercules typography-airy small-margin  side-view">
  <div ng-hide="callDetails.serviceNotInstalled()">
    <div class="header-panel">
      <h3 ng-hide="callDetails.state.includes('*.list.details.cluster-settings') || callDetails.state.includes('*.list.details.alarm')">{{callDetails.cluster.name}}</h3>
      <h3 ng-show="callDetails.state.includes('*.list.details.alarm')">{{callDetails.cluster.name}}: Alarm</h3>
      <h3 ng-show="callDetails.state.includes('*.list.details.cluster-settings')">{{callDetails.cluster.name}}: Settings
      </h3>
      <h4>
        <small>
          <a ng-show="callDetails.state.includes('*.list.details')" ui-sref="{{callDetails.route}}.list.details.cluster-settings({cluster:callDetails.cluster, serviceType: callDetails.serviceType})">Edit</a>
        </small>
        <div class="right">
          <a ng-show="callDetails.state.includes('*.list.details.cluster-settings') || callDetails.state.includes('*.list.details.alarm')" ui-sref="{{callDetails.state.current.name}}({cluster:callDetails.cluster})"><i class="icon icon-close"/></a>
        </div>
      </h4>
      <hr>
    </div>

    <div ui-view="details-pane">
      <h5 class="black-header">
        Alarms
      </h5>

      <div ng-repeat="connector in combined = callDetails.managementService.connectors.concat(callDetails.selectedService.connectors)">
        <div ng-repeat="alarm in connector.alarms" ng-show="connector.alarms.length > 0">
          <span class="icon icon-error red"/>
          <span class="glyphicon-class">{{alarm.title}}</span>
          <a ui-sref="{{callDetails.route}}.list.details.alarm({alarm: alarm, host: connector.host.host_name})">View Alarm</a>
        </div>
      </div>

      <p ng-if="callDetails.selectedService.alarm_count + callDetails.managementService.alarm_count == 0">
        No alarms reported
      </p>

      <h5 class="black-header">Software Upgrades
        <span class="right">
          <div class="dropdown" on-toggle="dl.toggled(open)">
            <a class="dropdown-toggle" href></a>
            <ul class="dropdown-menu">
              <li>
                <a href>Schedule Upgrade</a>
              </li>
            </ul>
          </div>
        </span>
      </h5>

      <p>
        Current version:
        {{callDetails.selectedService.connectors[0].version}}
      </p>

      <div ng-if="callDetails.selectedService.software_upgrade_available">
        <p>
          New version:
          {{callDetails.selectedService.not_approved_package.version}}
        </p>
        <button class="button secondary" ng-click="callDetails.upgrade()">Upgrade</button>
      </div>
      <p ng-if="!callDetails.selectedService.software_upgrade_available">
        No new software available
      </p>

      <h5 class="black-header">
        Depending services
      </h5>

      <div class="row">
        <span class="small-4 column">
          Management Connector
        </span>
        <span class="small-4 column end">
          <span class="red" ng-show="callDetails.managementService.status === 'needs_attention'">
            <i class="fa fa-circle"/>
            <span class="hidden-xs">Needs attention</span>
          </span>
        </span>
      </div>

      <h5 class="black-header">
        Connectors on Hosts:
      </h5>
      <div class="row" ng-repeat="connector in callDetails.selectedService.connectors">
        <span class="small-4 column">
          {{connector.host.host_name}}
        </span>
        <span class="small-4 column end">
          <span class="red" ng-show="connector.status === 'needs_attention'">
            <i class="fa fa-circle"/>
            <span class="hidden-xs">Needs attention</span>
          </span>
        </span>
      </div>
    </div>

    <p ng-if="!callDetails.cluster">
      No clusters...
    </p>
  </div>
</div>

<div ng-show="callDetails.serviceNotInstalled()">
  <div class="centered-info-pane">
    Service is not installed on this cluster
  </div>
</div>
</div>
