<div class="modal-header">
  <div class="modal-title">
    Deactivate <span translate="hercules.serviceNames.{{disableConfirmDialog.serviceId}}"></span>
  </div>
</div>

<div class="modal-body">
  <p>
  You are about to remove the following Cloud Extension services for your organization:
  <br><br>
  <i class="{{disableConfirmDialog.serviceIconClass}}"></i>
  <span translate="hercules.serviceNames.{{disableConfirmDialog.serviceId}}"></span>
  </p>
  <br>
  <p>
  If you click Confirm, all of your users will have the service deactivated.
  <strike>Your Cisco VCS will uninstall the service connector.
  Data for the service connector will be deleted.
  If your Cisco VCS has no other services installed,
  you will need to deregister it.</strike>
    </p>
  <p>
  Log in and deregister from Applications > Cloud Extensions > Connector Management.
</p>

</div>

<div class="modal-footer">
  <button ng-click="disableConfirmDialog.cancel()">Cancel</button>
  <button ng-click="disableConfirmDialog.ok()">Confirm</button>
</div>
