.customer-overview {

  .feature-details {
    font-size: 0.875rem;
  }

  .button-container {
    left: -1px;
  }

  .trial-bar {
    margin-bottom: 1.5rem;
  }

  .trial-status {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    font-family: $brand-font-light;
  }

  .trial-danger {
    font-family: $brand-font-cisco-TT-Extra-Light;
    font-size: 13px;
    color: $brand-danger;
  }

  .status {
    i {
      padding-right: 0.5em;
      font-size: 0.75em;
    }

    i.icon-circle {
      &.trial-pending {
        color: $color-attention-base;
      }
    }

    span {
      font-size: 0.875em;
    }
  }

  // .progress {
  //   margin-bottom: auto;
  // }

  .progress-bar {
    max-width: 100%;
    height: 0.25rem;
  }

  #launchCustomer, #launchPartner, #deleteCustomer {
    margin: 1rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .feature {
    .cs-checkbox {
      margin-bottom: 0;
      margin-top: 8px;
      vertical-align: middle;
    }
  }

  .services-list, .trials-list {
    ul.has-meeting {
      padding-right: 20px;
      #meeting {
        .feature-details {
          padding-right: 10px;
        }
        .feature-arrow {
          margin-right: -20px;
        }
        .feature-icon:before {
          content: "\E068";
        }
      }
    }

    .feature {
      display: block;
    }

    .feature-name {
      display: inline-block;
    }

    .feature-details {
      font-size: 0.875rem;
    }

    i.feature-icon {
      display: inline-block;
      vertical-align: middle;
      margin-right: 7px;
      font-size: 1.25rem;
    }
  }


  .webex-domains-list {

    .spinner-loading {
      font-size: 1.5rem;
      text-align: center;
    }

    .subtitle {
      font-size: .75rem;
      color: $gray-base;
    }

    .feature-name {
      color: $gray-dark-2;

     .secondary {
        margin-top: -0.5rem;
        color: $gray-base;
        display:block;
      }
    }

    .status {
      color: $gray-light-1;
    }
  }

  .btn--delete {
    font-size: .875rem;
    color:  $gray-light-1;
    &:hover, &:active, &:focus {
      color: $color-negative-base;
      background-color: transparent;
      outline: none;
    }
  }
}
