.customer-overview {

  .button-container {
    left: -1px;
  }

  .trial-bar {
    margin-bottom: 1.5rem;
  }

  .trial-status {
      margin-bottom: 4px;
      display: flex;
      justify-content: space-between;
      font-family: $brand-font-light;
  }

  .trial-danger {
    font-family: $brand-font-cisco-TT-Extra-Light;
    font-size: 13px;
    color: $brand-danger;
  }

  .status {
    i {
      padding-right: 0.5em;
      font-size: 0.75em;
    }

    i.icon-circle {
      &.trial-pending {
        color: $color-attention-base;
      }
    }

    span {
      font-size: 0.875em;
    }
  }

  // .progress {
  //   margin-bottom: auto;
  // }

  .progress-bar {
    max-width: 100%;
  }

  #launchCustomer, #launchPartner, #deleteCustomer {
    margin: 1rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .feature {
    .cs-checkbox {
      margin-bottom: 0;
      margin-top: 8px;
      vertical-align: middle;
    }
  }

  .trials-list {
    .feature {
        display: block;
        margin-bottom: 16px;
    }
    .feature-details.ng-binding {
        padding: 0;
        line-height: 1rem;
    }
  }

  .btn--delete {
    font-size: .875rem;
    color:  $gray-light-1;
    &:hover, &:active, &:focus {
      color: $color-negative-base;
      background-color: transparent;
      outline: none;
    }
  }
}
