@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.customer-overview {
  .feature-details {
    font-size: 0.875rem;
  }

  .feature-status {
    font-size: 0.875rem;
  }

  .button-container {
    left: -1px;
  }

  .premium {
    font-size: small !important;
    margin: auto 1rem;
  }

  .trial-bar {
    margin-bottom: 1.5rem;
  }

  .trial-status {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    font-family: $brand-font-light;
  }

  .trial-danger {
    font-family: $brand-font-cisco-TT-Extra-Light;
    font-size: 13px;
    color: $brand-danger;
  }

  .status {
    i {
      padding-right: 0.5em;
    }

    span {
      font-size: 0.875em;
    }
  }

  .progress-bar {
    max-width: 100%;
    height: 0.25rem;
  }

  #launchCustomer,
  #launchPartner,
  #deleteCustomer {
    margin: 1rem 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .feature {
    .cs-checkbox {
      margin-bottom: 0;
      margin-top: 8px;
      vertical-align: middle;
    }
  }

  .webex-domains-list {
    .spinner-loading {
      font-size: 1.5rem;
      text-align: center;
    }

    .subtitle {
      font-size: 0.75rem;
      color: $gray-base;
    }

    .feature-name {
      color: $gray-dark-2;

      .secondary {
        margin-top: -0.5rem;
        color: $gray-base;
        display: block;
      }
    }

    .status {
      color: $gray-light-1;
    }
  }

  .subscriptions-detail {
    .button-container {
      position: static;
      background-color: transparent;
      padding: 0;
      border: none;
    }

    p.intro {
      padding-bottom: 0.75rem;
    }

    .sub-section {
      .title {
        font-size: 0.75rem;
      }
    }

    .feature-list li {
      padding-bottom: 0.75rem;

      ul li {
        padding-bottom: 0;
      }
    }
  }

  .btn--delete {
    font-size: 0.875rem;
    color: $gray-light-1;

    &:hover,
    &:active,
    &:focus {
      color: $color-negative-base;
      background-color: transparent;
      outline: none;
    }
  }

  div.banner-info {
    background-color: $color-red-light;
    text-align: center;
  }

  .banner-top-stripe {
    height: 4px;
    width: 100%;
    background-color: $color-red-base;
  }
}
