<div class="call-feature-add">
  <cs-overlay-panel
    class="callfeature overlay-panel typeahead-group"
    overlay-title="{{::'callPark.newCallPark' | translate}}"
    close="$ctrl.cancelModal()"
    ng-keyup="$ctrl.evalKeyPress($event.keyCode)">

    <cs-setup-assistant
      previous="$ctrl.previousButton($ctrl.pageIndex)"
      next="$ctrl.nextButton($ctrl.pageIndex)"
      previous-fn="$ctrl.previousPage()"
      next-fn="$ctrl.nextPage()"
      next-text="$ctrl.createHelpText()"
      next-aria-label="{{::'common.next' | translate}}"
      previous-aria-label="{{::'common.previous' | translate}}">

      <form novalidate name="$ctrl.form" role="form">
        <uc-call-feature-name
          ng-if="$ctrl.pageIndex === 0"
          placeholder-key="callPark.namePlaceholder"
          name-hint-key="callPark.nameHint"
          name="$ctrl.callPark.name"
          is-required="true"
          is-new="true"
          on-change-fn="$ctrl.setCallParkName(name)"
          on-key-press-fn="$ctrl.enterNextPage(keyCode)"
          ng-class="$ctrl.animation">
        </uc-call-feature-name>

        <uc-call-feature-location
          call-feature-type="huronFeatureDetails.cp"
          ng-if="($ctrl.pageIndex === 1 && $ctrl.showLocation())"
          ng-class="$ctrl.animation"
          is-required="true"
          is-new="true"
          location="$ctrl.callPark.location"
          on-change-fn="$ctrl.setCallParkLocation(location)"
          on-key-press-fn="$ctrl.enterNextPage(keyCode)"
          ng-class="$ctrl.animation">
        </uc-call-feature-location>

        <div class="select-number-details" ng-if="($ctrl.pageIndex === 1 && !$ctrl.showLocation()) || ($ctrl.pageIndex === 2 && $ctrl.showLocation())" ng-class="$ctrl.animation">
          <div class="typeahead-large cpselect large">
            <div class="title" translate="callPark.selectParkNumber"></div>
            <div class="desc" translate="callPark.selectParkHint"></div>
              <div class="cp-number">
                <uc-call-park-number
                  range="$ctrl.range"
                  extension-length="$ctrl.extensionLength"
                  on-change-fn="$ctrl.setCallParkRange(range)"
                  on-key-press-fn="$ctrl.enterNextPage(keyCode)"
                  location="$ctrl.callPark.location"
                  set-focus="true">
                </uc-call-park-number>
              </div >
          </div>
        </div>

        <uc-call-feature-members
          ng-if="($ctrl.pageIndex === 2 && !$ctrl.showLocation()) || ($ctrl.pageIndex === 3 && $ctrl.showLocation())"
          members="$ctrl.callPark.members"
          member-hint-key="callPark.memberHint"
          member-item-type="member"
          card-type="simple"
          show-external-numbers="false"
          is-new="true"
          on-change-fn="$ctrl.setCallParkMembers(members)"
          on-key-press-fn="$ctrl.enterNextPage(keyCode)"
          ng-class="$ctrl.animation"
          location="$ctrl.callPark.location">
        </uc-call-feature-members>
      </form>

    </cs-setup-assistant>
  </cs-overlay-panel>
</div>
