@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/settings/core';

$overlay-panel-height: 93px;

.callpark {
  &.overlay-panel {
    cs-setup-assistant {
      width: 100%;
    }
  }

  .panel-content {
    flex: 1;
    height: calc(100vh - #{$top-bar-height + $overlay-panel-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.call-park-edit {
  call-destination {
    display: block;
    margin-left: 2rem;
  }
}

.send-to-voicemail-chk {
  margin-top: 5rem;
}

//TODO: remove after updating the Toolkit (pajeter)
internal-number {
  input {
    width: 100%;
  }
}
