<div class="pstn-providers" ng-if="$ctrl.show">
  <cs-card-layout block-view="true">
    <cs-card class="cs-card--medium header-border pstn-provider-card" ng-repeat="pstnCarrier in $ctrl.pstnCarriers">
      <article ng-class="{'pstn-carrier-select': pstnCarrier.selected}">
        <header ng-switch="pstnCarrier.name !== 'BYO-PSTN'" class="align-center">
          <div ng-switch-when="true">
            <img ng-src="{{pstnCarrier.logoSrc}}" alt="{{pstnCarrier.logoAlt}}">
          </div>
          <div ng-switch-when="false">
            <i class="icon icon-extension-mobility"></i>
          </div>
        </header>
        <section>
          <h4>{{pstnCarrier.title}}</h4>
          <div class="card-checkbox">
            <div ng-repeat="feature in pstnCarrier.features" class="feature">
              <i class="icon icon-check"></i>
              <span class="feature-text" ng-bind-html="feature"></span>
            </div>
            <div ng-show="pstnCarrier.note.length !== 0" class="footnote">
              <i class="icon icon-info"></i>
              <span class="footnote-text">{{::pstnCarrier.note}}</span>
            </div>
          </div>
        </section>
        <footer>
          <button
            type="button"
            class="btn btn--people"
            ng-click="$ctrl.onSetProvider(pstnCarrier)"
            ng-disabled="pstnCarrier.selected"
            translate="common.select">
          </button>
          <a
            ng-if="pstnCarrier.docSrc.length !== 0"
            class="icon icon-content-share"
            ng-href="{{pstnCarrier.docSrc}}"
            download="{{pstnCarrier.title}}"
            title="{{::'common.download' | translate}}"></a>
        </footer>
      </article>
    </cs-card>
  </cs-card-layout>
</div>
<div class="pstn-providers" ng-if="!$ctrl.show">
  <span class="loading ">
    <i class="icon icon-spinner"></i>
  </span>
</div>
