.callRouter {
  &.callrouting-content {
    flex-direction: column;
    .partner-profile {
      height: 100vh;
      display: flex;
      flex-direction: row;
      background-color: $brand-white;
      flex: 1;
    }
  }
}
.callRouter-callerinfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: $gray-lightest;
  background: $gray-light;
  padding: 20px;
  padding-left: 30px;
  .callerinfo-title {
    vertical-align: middle;
    white-space: nowrap;
    margin: 20px;
    color: $brand-white;
    margin-left: 0;

  }
  .control-label {
    padding-left: 2px;
  }
  .form-wrapper {
    padding-left: 30px;
    flex: 0 1 81%;
    -ms-flex: 0 1 81%;
  }
  .popover {
    color: $gray-darkest;
  }
  label {
    color: $gray-lightest;
  }
}
.icon-warning {
  position: relative;
  left: 10px;
}
.round-icon {
  border-radius: 50%;
  border: 1px solid $gray-lighter;
  color: $gray-lighter;
  font-size: 50px;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  .icon-plus {
      position: relative;
      left: 13px;
      top: 3px;
  }
}

.callRouter-callerinfo.open-section {
   padding-top: 0;
   padding-bottom: 0;

}
.form-inline {
  [ng-transclude] {
    display: inline-block;
  }
}

.custom-combobox {
    width: calc(100% - 20px);
    .dropdown-menu {
      min-width: calc(100% + 45px);
      overflow-y: scroll;
      max-height: 261px;
    }
    .has-error & .input-group-btn > .btn {
      box-shadow: 0 0 0 2px #f05d3b;
      border-color: transparent;
    }
}


.custom-combobox .input-group .form-control,.custom-combobox .input-group .input-group-btn>.btn,.custom-combobox .input-group .side-panel .button-container .input-group-btn>button,.side-panel .button-container .custom-combobox .input-group .input-group-btn>button {
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}

.custom-combobox.open .input-group .form-control,.custom-combobox.open .input-group-btn>.btn,.custom-combobox.open .side-panel .button-container .input-group-btn>button,.side-panel .button-container .custom-combobox.open .input-group-btn>button,.custom-combobox .input-group .form-control:focus,.custom-combobox .input-group .form-control:focus+.input-group-btn>.btn,.custom-combobox .input-group .side-panel .button-container .form-control:focus+.input-group-btn>button,.side-panel .button-container .custom-combobox .input-group .form-control:focus+.input-group-btn>button {
    box-shadow: 0 0 0 2px #1472aa;
    border-color: transparent
}

.has-error .custom-combobox.open .input-group .form-control,.has-error .custom-combobox.open .input-group-btn>.btn,.has-error .custom-combobox.open .side-panel .button-container .input-group-btn>button,.side-panel .button-container .has-error .custom-combobox.open .input-group-btn>button,.has-error .custom-combobox .input-group .form-control:focus,.has-error .custom-combobox .input-group .form-control:focus+.input-group-btn>.btn,.has-error .custom-combobox .input-group .side-panel .button-container .form-control:focus+.input-group-btn>button,.side-panel .button-container .has-error .custom-combobox .input-group .form-control:focus+.input-group-btn>button {
    box-shadow: 0 0 0 3px #f4846a;
    border-color: transparent
}

.custom-combobox {
  display:inline;
}

form[name="nav.callrouterform"] .validation {
  position: absolute;
  right: -68px;
  top: 4px;
}

form[name="nav.callrouterform"] button[type="submit"] {
  margin-left: 77px;
  position: relative;
  top: 6px;
}

.has-error .custom-combobox .input-group .form-control {
  box-shadow: 0 0 0 3px #EF5E3C;
  border-color: transparent;
}

.custom-combobox .input-group .form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.custom-combobox .input-group .input-group-btn > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 10000;
  position: relative;
}