@import "callPark/_call-park";

.callrouting {
  display: flex;
  flex-direction: column;

  .callrouting-header {
    @extend .row;

    @extend .page-header;
  }

  .callrouting-content {
    display: flex;
    flex-direction: row;
    background-color: $brand-white;
    flex: 1;

    .callrouting-nav {
      width: 218px;

      @extend %ui-mt\+;

      .callrouting-nav-menuitem {
        //margin: 4px 40px 5px 30px;
        //padding: 4px 0px 5px 0px;
        font-family: $brand-font-cisco-TT-Light;
        font-size: 15px;

        .count {
          float: right;
        }
      }

      & ul {
        &.nav-stacked {
          list-style-type: none;

          @extend %ui-ml0;

          li {
            @extend %ui-mt-;

            a {
              display: block;

              @extend %ui-p0;
            }
          }
        }
      }
    }

    .callrouting-main {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      overflow-y: auto;
      flex: 1;
      height: calc(100vh - 150px);

      .callrouting-main-header {
        margin: 28px 0px 33px 0px;

        .new-button {
          height: 33px;

          .info-icon {
            @extend .icon;

            @extend .icon-information;

            font-size: 29px;
            margin-left: 5px;
            vertical-align: middle;

            &:hover {
              color: $brand-primary;
            }
          }

          .info-icon-inactive {
            color: $gray-dark;
          }

          .info-icon-active {
            color: $brand-primary;
          }
        }

        .callrouting-main-information {
          margin: 33px 30px 0px 0px;

          .information-content {
            font-family: $brand-font-cisco-TT-Light;
            font-size: 14px;
            font-color: $gray-darkest;
            line-height: 20px;
          }
        }
      }

      .callrouting-main-content {
        flex: 1;
      }
    }
  }
}
