@import '~@collabui/collab-ui/scss/settings/colors';

card-capacity-bar {
  .capacity-container {
    display: flex;
  }

  .progress,
  progressbar {
    width: 100px;
  }

  .tooltip  {
    > .c-nub {
      min-width: 15rem;
    }

    em {
      color: $gray-light-1;
      font-style: normal;
    }
  }

  .capacity-label {
    font-size: .75rem;
    margin-right: 1rem;
  }

  .progressbar-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
