/*
 * Domain Management Page
 */
#domainManagement {
  margin-bottom: -1.8rem;
  margin-top: -0.8rem;
  article {
    table.table {
      margin-top: -0.5rem;
      margin-bottom: 1rem;

      .header {
        display: none;
      }
      tr {
        border: none;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        min-height: 0 !important;

        td {
          padding-left: 0;
          color: $gray-dark-2;
          padding-top: 0 !important;
          padding-bottom: 0 !important;

          span{
            display: block;
            max-height: 40px !important;
            height: 40px;
            min-height: 40px;
          }

          .icon {
            margin-right: 0.5rem;
          }
          .icon-circle {
            font-size: .55em;
          }
          .icon-circle.pending {
            color: $color-attention-base;
          }
          .icon-circle.verified, .icon-circle.claimed {
            color: $color-cta-base;
          }
          .icon-email {
            font-size: .7em;
          }
          .icon-trash {
            font-size: 1.2em;
            position: relative;
            top: 0.1rem;
          }
          button {
            position: relative;
            top: -0.05rem;
            margin-left: 0rem;
            //text-transform: uppercase;
            font-size: 0.625rem;
            width: 50px !important;
            max-width: 50px !important;
            min-width: 50px !important;
            padding: 0 !important;
            padding-top: 2px !important;
          }

          .verify-btn{
            top:-0.85rem;
          }

          .dropdown-toggle {
            font-size: 0.85rem;
            position: relative;
            top: 0.1rem;
          }
        }
        .tokenCell {
          width: 6rem;
          .token {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 4rem;
          }
          .copy {
            width: 1rem;
            color: $color-primary;
          }
          span {
            float: left;
          }
        }
        .tableMail {
          display: block;
          width: 1.2rem !important;
        }
      }
    }
    .verifyDomainInput {
      margin-top: 2rem;
      input {
        max-width: 60% !important;
        margin-right: 1rem;
      }
      input, button {
        float: left;
      }

    }
    .addDomain {
      margin-top: -2rem;
    }
  }
}

/*
 * Domain Management New Popup
 */
.domainModal {
  .error {
    color: $color-negative-base !important;
    span {
      margin-left: 0.5rem;
    }
  }
  .domainVerificationInfo {
    padding-bottom: 2rem;

  }
  .domainInput {
    font-size: 1.5rem;
    padding-bottom: 1rem !important;
  }
  .domainToken {
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    color: $color-people-base;
    font-size: 0.85rem;
    text-align: justify;
    word-break: break-all;
    width: 103%;
  }
  .modal-body.domWarning {
    background-color: $color-attention-base;
    margin-top: -1rem;
    overflow: hidden;
    p {
      width: 93%;
    }
    i {
      display: block;
      width: 7%;
      padding-top: 0.3rem;
    }
    p, i {
      float: left;
      color: white;
    }
  }
  .modal-body.domError {
    background-color: $color-negative-base !important;
  }
  .tokenInfo {
    margin-bottom: 1rem;
  }
}

#domainModalAdd {
  .modal-body {
    padding-bottom: 3rem;
    p {
      margin-bottom: 2rem;
    }
    input{
      width: 100% !important;
    }
  }
}

@media screen and (max-width: 500px) {

  #domainManagement #domainMenu span.actions-menu.dropdown.pull-right {
    margin-left: -1rem;
  }
  #domainManagement button.btn--cta.verify-btn.ng-scope {
    margin-left: -1.5rem;
  }
}

@media screen and (max-width: 460px) {
  #domainManagement {
    table.table {
      #domainMenu {
        display: none;
      }
    }
  }
  #domainManagement button.btn--cta.verify-btn.ng-scope {
    margin-left: 1rem !important;
  }
}

@media screen and (max-width: 440px) {
  #domainManagement {
    .domain-status {
      display: none;
    }
  }
}
