<div class="domainModal" id="domainModalAdd">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dmpopup.cancel()"><span class="sr-only">Close</span></button>
    <h4 class="modal-title" translate="domainManagement.add.header"></h4>
  </div>
  <div class="modal-body">
    <p translate="domainManagement.add.description"/>

    <span ng-if="dmpopup.intDomain.show">{{dmpopup.intDomain.text}}</span>
    <input type="text"
           placeholder="{{dmpopup.exampleDomain || ('domainManagement.add.exampleDomain' | translate)}}"
           ng-model="dmpopup.domain"
           ng-keypress="dmpopup.keyPressInInputField($event)"/>

    <p ng-if="!dmpopup.validate().valid && !dmpopup.validate().empty" class="error">
      <i class="icon icon-error"></i>
      <span>{{dmpopup.validate().error ? dmpopup.validate().error:  'domainManagement.add.invalidDomain' | translate}}</span>
    </p>

    <p ng-if="dmpopup.error" class="error">
      <i class="icon icon-error"></i>
      <span>{{dmpopup.error}}</span>
    </p>
  </div>
  <div class="modal-footer">
    <button ng-click="dmpopup.cancel()" translate="common.cancel"></button>
    <button ng-disabled="!dmpopup.addEnabled" ng-click="dmpopup.add()" class="btn-primary"
            translate="common.add"></button>
  </div>
</div>
