<div class="modal-header">
  <button type="button" class="close" ng-click="dmpopup.cancel()"><span class="sr-only">Close</span></button>
  <h4 class="modal-title" translate="domainManagement.delete.header"></h4>
</div>
<div class="modal-body">
  <p translate="domainManagement.delete.description"/>
  <p class="domainInput">{{dmpopup.domain}}</p>

  <div ng-if="!dmpopup.error && dmpopup.showWarning" class="modal-body domWarning domError">
    <section>
      <i class="icon icon-error"></i>
      <p translate="domainManagement.delete.warning"></p>
    </section>
  </div>
  <div ng-if="dmpopup.error" class="modal-body domWarning domError">
    <section>
      <i class="icon icon-error"></i>
      <p>{{dmpopup.error}}</p>
    </section>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="dmpopup.cancel()" translate="common.cancel"></button>
  <button ng-disabled="!dmpopup.isValid" ng-click="dmpopup.deleteDomain()" class="btn--negative"
          translate="domainManagement.delete.remove"></button>
</div>
