<div id="domainManagement">
  <section>
    <table class="table">
      <tr class="header">
        <th translate="domainManagement.list.domainHeader"></th>
        <th translate="domainManagement.list.statusHeader"></th>
        <th translate="domainManagement.list.actionsHeader"></th>
      </tr>
      <tr ng-repeat="domain in dv.domains">
        <td><span>{{domain.text}}</span></td>
        <td class="domain-status"><span><i class="icon icon-circle {{domain.status}}"></i>{{domain.status}}</span></td>

        <td id="domainMenu">
            <span cs-dropdown class="actions-menu dropdown pull-right">
              <button cs-dropdown-toggle class="actions-button btn--none dropdown-toggle">
                <i class="icon icon-three-dots"></i>
              </button>
              <ul cs-dropdown-menu class="dropdown-menu dropdown-primary actions-services">
                <li>
                  <a ui-sref="domainmanagement.instructions({domain: domain, loggedOnUser: dv.loggedOnUser})"
                     ng-show="domain.status==='pending'"
                     translate="domainManagement.actions.instructions"></a>
                </li>
                <li>
                  <a ui-sref="domainmanagement.delete({domain: domain, loggedOnUser: dv.loggedOnUser})"
                     ng-if="domain.status==='verified'" translate="domainManagement.actions.unverify"></a>
                </li>
                <li>
                  <a ui-sref="domainmanagement.unclaim({domain: domain, loggedOnUser: dv.loggedOnUser})"
                     ng-if="domain.status==='claimed'" translate="domainManagement.actions.unclaim"></a>
                </li>
                <li>
                  <a ui-sref="domainmanagement.delete({domain: domain, loggedOnUser: dv.loggedOnUser})"
                     ng-if="domain.status==='pending'" translate="domainManagement.actions.delete"></a>
                </li>
              </ul>
            </span>
        </td>
        <td>
            <span>
              <button ui-sref="domainmanagement.verify({domain: domain, loggedOnUser: dv.loggedOnUser})"
                      ng-if="domain.status==='pending'"
                      class="btn--primary verify-btn" translate="domainManagement.verifyDomain"></button>
            </span>
        </td>
      </tr>
    </table>
    <button class="btn--primary addDomain" ng-show="dv.loggedOnUser.isLoaded" translate="domainManagement.addDomain"
            ui-sref="domainmanagement.add({loggedOnUser: dv.loggedOnUser})"></button>
  </section>
</div>
