<div id="domainManagement">
  <section>
    <table class="table">
      <tr class="header">
        <th translate="domainManagement.list.domainHeader"></th>
        <th translate="domainManagement.list.statusHeader"></th>
        <th translate="domainManagement.list.actionsHeader"></th>
      </tr>
      <tr ng-repeat="domain in dv.domains">
        <td><span>{{domain.text}}</span></td>
        <td class="domain-status"><span><i class="icon icon-circle {{domain.status}}"></i>{{domain.status}}</span></td>

        <td id="domainMenu">
            <span cs-dropdown class="actions-menu dropdown pull-right">
              <button cs-dropdown-toggle class="actions-button btn--none dropdown-toggle" aria-label="{{domain.text}} {{domain.status}}">
                <i class="icon icon-three-dots"></i>
              </button>
              <ul cs-dropdown-menu class="dropdown-menu dropdown-primary actions-services">
                <li ng-if="domain.status==='pending'">
                  <a href ui-sref="domainmanagement.instructions({domain: domain, loggedOnUser: dv.loggedOnUser})" translate="domainManagement.actions.instructions"></a>
                </li>
                <li ng-if="domain.status==='verified'">
                  <a href ui-sref="domainmanagement.delete({domain: domain, loggedOnUser: dv.loggedOnUser})" translate="domainManagement.actions.unverify"></a>
                </li>
                <li ng-if="domain.status==='claimed'">
                  <a href ui-sref="domainmanagement.unclaim({domain: domain, loggedOnUser: dv.loggedOnUser})" translate="domainManagement.actions.unclaim"></a>
                </li>
                <li ng-if="domain.status==='pending'">
                  <a href ui-sref="domainmanagement.verify({domain: domain, loggedOnUser: dv.loggedOnUser})" translate="domainManagement.verifyDomain"></a>
                </li>
                <li ng-if="domain.status==='pending'">
                  <a href ui-sref="domainmanagement.delete({domain: domain, loggedOnUser: dv.loggedOnUser})" translate="domainManagement.actions.delete"></a>
                </li>
              </ul>
            </span>
        </td>
      </tr>
    </table>
    <button class="btn--primary addDomain" ng-show="dv.loggedOnUser.isLoaded" translate="domainManagement.addDomain" ui-sref="domainmanagement.add({loggedOnUser: dv.loggedOnUser})"></button>
  </section>
</div>
