<article class="domainManagementPopupOverlay">
  <header><h3 translate="domainManagement.email.header"/></header>
  <section>
    <p translate="domainManagement.email.description" />
    <input type="text" placeholder="{{dmpopup.exampleDomain || ('domainManagement.email.exampleEmail' | translate)}}" ng-model="dmpopup.email" ng-keypress="dmpopup.keyPressInInputField($event)"/>
    <b><p ng-if="!dmpopup.validate().valid && !dmpopup.validate().empty" translate="domainManagement.email.invalidEmail"></p>
      <p ng-if="dmpopup.error">{{dmpopup.error}}</p></b>
  </section>
  <footer>
    <div>
      <button ng-click="dmpopup.cancel()" translate="common.cancel"></button>
      <button ng-disabled="!dmpopup.sendEnabled" ng-click="dmpopup.sendEmail()" class="btn-primary" translate="domainManagement.email.sendEmail"></button>
    </div>
  </footer>
</article>
