@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/text-overflow';

hs-cluster-card {
  display: block;

  .cs-card {
    header {
      position: relative;
      padding: 1.25rem 1rem 0.9375rem !important;

      h4 {
        @include text-overflow();
        margin-right: 0.625rem;
      }

      .cluster-list-hosts {
        flex-shrink: 0;
        height: 18px;
        border-radius: 2px;
        color: #fff;
        font-size: 0.75rem;
        background-color: $gray-base;
        padding: 1px 5px;
      }

      .cluster-nodes-link {
        font-size: 14px;
      }
    }

    .badge {
      vertical-align: middle;
    }

    .cluster-list-body {
      display: flex;
      flex-grow: 1;
    }

    .cluster-list-cat {
      color: $gray-base;
      font-size: 0.75rem;
    }

    .cluster-list-info {
      color: $gray-dark-2;
      font-size: 0.875rem;
    }

    .columns {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    cs-statusindicator {
      padding-right: 4px;
    }

    .cluster-list-timezone {
      @include text-overflow();
    }

    .connection-status {
      display: flex;
    }

    .connection-status-column {
      flex: 1 0 auto;
      min-width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 0.9375rem;
    }

    .connection-status-eyecandy {
      position: relative;
    }

    .connection-status-services {
      margin-left: 16px;
    }

    .connection-status-icon {
      width: 48px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .connection-status-cloud-icon {
      background-image: url('/images/hybrid-services/cloud.svg');
    }

    .connection-status-cable-vertical {
      height: 65px;
      border-right: 1px solid $gray-light-1;
      width: 50%;
      margin: 8px 0;
    }

    .connection-status-cable-horizontal {
      border-top: 1px solid $gray-light-1;
      width: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .connection-status-service {
      font-size: 0.75rem;

      a {
        display: flex;
        align-items: baseline;
      }

      span {
        font-size: 0.75rem;
      }
    }

    .connection-status-premises-icon {
      background-image: url('/images/hybrid-services/server.svg');
    }

    footer {
      text-align: center;
      padding: 0;
      height: 60px;

      a {
        display: block;
        padding: 1rem;
        border-top: 1px solid $gray-light-3;
        width: 100%;
        font-size: 16px;

        &:focus {
          box-shadow: none;
        }
      }
    }

    .no-connectors {
      opacity: 0.6;
    }

    .empty-cluster-body {
      min-height: 15.25rem;
    }

    .button-row {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-bottom: 1rem;
      .btn {
        margin-top: 0.5rem;
      }
    }
  }

  // simulating .cs-card widths with cluster-card
  width: 100%;
  .cs-card.cs-card--medium {
    width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  hs-cluster-card .cs-card .cluster-list-body {
    flex-direction: column;

    .connection-status {
      margin-top: 0.9375rem;
    }
  }
}

@media only screen and (min-width: 40.063em) {
  hs-cluster-card {
    width: 50%;
  }
}

@media only screen and (min-width: 64.063em) {
  hs-cluster-card {
    width: 33.3334%;
  }
}
// end override
