<cs-card class="cluster-card medium header-bar {{'card-' + $ctrl.cluster.targetType}}">
  <article>
    <header ng-class="{'one-liner': !$ctrl.hasNodesViewFeatureToggle}">
      <h4>{{::$ctrl.cluster.name}}</h4>
      <div ng-if="!$ctrl.cluster.isEmptyExpresswayCluster && !$ctrl.hasNodesViewFeatureToggle" class="cluster-list-hosts" tooltip-html-unsafe="{{$ctrl.getHostnames($ctrl.cluster)}}" tooltip-trigger="mouseenter" tooltip-placement="bottom">
        <div translate="hercules.fusion.list.nodes" translate-values="{count: $ctrl.countHosts($ctrl.cluster)}" translate-interpolation="messageformat"></div>
      </div>
      <div ng-if="!$ctrl.cluster.isEmptyExpresswayCluster && $ctrl.hasNodesViewFeatureToggle" class="cluster-nodes-link">
        <a ng-click="$ctrl.openNodes($ctrl.cluster.targetType, $ctrl.cluster.id)" translate="hercules.fusion.list.nodes" translate-values="{count: $ctrl.countHosts($ctrl.cluster)}" translate-interpolation="messageformat"></a>
      </div>
    </header>
    <div class="row cluster-list-body" ng-if="!$ctrl.cluster.isEmptyExpresswayCluster">
      <div class="columns medium-6">
        <div>
          <div class="cluster-list-cat" translate="hercules.fusion.list.upgrade-schedule"></div>
          <div class="cluster-list-info" ng-if="$ctrl.upgradesAutomatically($ctrl.cluster)" translate="hercules.fusion.list.upgrades-automatically"></div>
          <div ng-if="!$ctrl.upgradesAutomatically($ctrl.cluster)">
            <div class="cluster-list-info" ng-if="$ctrl.cluster.upgradeSchedule">{{$ctrl.formatTimeAndDate($ctrl.cluster.upgradeSchedule)}}<br/>
              <div class="cluster-list-timezone" title="{{$ctrl.cluster.upgradeSchedule.scheduleTimeZone}}">{{$ctrl.cluster.upgradeSchedule.scheduleTimeZone}}</div>
            </div>
            <div class="cluster-list-info" ng-if="!$ctrl.cluster.upgradeSchedule" translate="common.notSet"></div>
          </div>
        </div>
        <div ng-if="$ctrl.cluster.targetType == 'mf_mgmt' || $ctrl.hasResourceGroupFeatureToggle">
          <div class="cluster-list-cat" translate="hercules.fusion.list.release-channel"></div>
          <div class="cluster-list-info">{{$ctrl.getLocalizedReleaseChannel($ctrl.cluster.releaseChannel)}}</div>
        </div>
      </div>
      <div class="columns medium-6 connection-status">
        <div class="connection-status-column" ng-if="$ctrl.hasServices($ctrl.cluster)">
          <div class="connection-status-eyecandy">
            <div class="connection-status-icon connection-status-cloud-icon"></div>
            <div class="connection-status-cable-vertical"></div>
            <div class="connection-status-cable-horizontal"></div>
            <div class=" connection-status-icon connection-status-premises-icon"></div>
          </div>
          <div class="connection-status-services">
            <div class="connection-status-service" ng-repeat="service in $ctrl.cluster.servicesStatuses | filter: {serviceId: '!squared-fusion-mgmt'} | orderBy:'serviceId':false:$ctrl.hybridServicesComparator" ng-if="service.total > 0">
              <a ng-click="$ctrl.openService(service.serviceId, $ctrl.cluster.id)">
                <i class="icon icon-circle status-indicator" ng-class="service.state.cssClass"></i>
                <span ng-if="service.serviceId !== 'squared-fusion-cal'">{{::'overview.cards.hybrid.services.' + service.serviceId | translate}}</span>
                <span ng-if="service.serviceId === 'squared-fusion-cal'" translate="hercules.cloudExtensions.serviceNames.squared-fusion-cal"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="connection-status-column no-connectors" ng-if="!$ctrl.hasServices($ctrl.cluster)">
          <div class="connection-status-eyecandy">
            <div class="connection-status-icon connection-status-cloud-icon"></div>
            <div class="connection-status-cable-vertical"></div>
            <div class="connection-status-cable-horizontal"></div>
            <div class=" connection-status-icon connection-status-premises-icon"></div>
          </div>
          <div class="connection-status-services">
            <div class="connection-status-service">
              <span translate="hercules.fusion.list.no-services"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer ng-if="!$ctrl.cluster.isEmptyExpresswayCluster">
      <a ng-if="!$ctrl.hideFooter($ctrl.cluster)" ng-click="$ctrl.openSettings($ctrl.cluster.targetType, $ctrl.cluster.id)" translate="hercules.fusion.list.settings"></a>
    </footer>
    <!--<footer class="double-footer" ng-if="!$ctrl.cluster.isEmptyExpresswayCluster && $ctrl.hasNodesViewFeatureToggle">-->

    <div class="row cluster-list-body empty-cluster-body" ng-if="$ctrl.cluster.isEmptyExpresswayCluster">
      <div class="medium-12" ng-if="$ctrl.cluster.allowedRedirectTarget">
        <p translate="hercules.fusion.list.complete-registration"></p>
        <div class="center button-row">
          <button class="btn" ng-click="$ctrl.openDeleteConfirm($ctrl.cluster)" translate="common.remove"></button>
          <button class="btn btn--primary" ng-click="$ctrl.goToExpressway($ctrl.cluster.allowedRedirectTarget.hostname)" translate="hercules.fusion.list.go-to-expressway"></button>
        </div>
      </div>
      <div class="medium-12" ng-if="!$ctrl.cluster.allowedRedirectTarget">
        <p translate="hercules.fusion.list.registration-timeout"></p>
        <div class="center button-row">
          <button class="btn" ng-click="$ctrl.openDeleteConfirm($ctrl.cluster)" translate="common.remove"></button>
        </div>
      </div>
    </div>

  </article>
</cs-card>
