<cs-card class="cluster-card cs-card--medium">
  <article>
    <header>
      <h4>{{::$ctrl.cluster.name}}</h4>
      <div ng-if="$ctrl.showLinkToNodesPage()" class="cluster-nodes-link">
        <a href ng-click="$ctrl.openNodes($ctrl.cluster.targetType, $ctrl.cluster.id)">
          <span translate="hercules.fusion.list.nodes" translate-values="{count: $ctrl.countHosts($ctrl.cluster)}" translate-interpolation="messageformat"></span>
          <span class="badge badge-{{$ctrl.cluster.extendedProperties.alarmsBadgeCss}}" ng-if="$ctrl.cluster.extendedProperties.alarms !== 'none'" translate="hercules.alarms.alarms"></span>
          <span class="badge warning" ng-if="$ctrl.cluster.extendedProperties.maintenanceMode === 'on'" translate="hercules.fusion.list.maintenance"></span>
          <span class="badge info" ng-if="$ctrl.cluster.extendedProperties.hasUpgradeAvailable" translate="hercules.fusion.list.upgrade"></span>
        </a>
      </div>
    </header>
    <div class="row cluster-list-body" ng-if="!($ctrl.cluster.extendedProperties.isEmpty && $ctrl.cluster.targetType === 'c_mgmt')">
      <div class="columns medium-3" ng-if="$ctrl.cluster.targetType === 'ept'"></div>
      <div class="columns medium-6" ng-if="$ctrl.cluster.targetType !== 'ept'">
        <div>
          <div class="cluster-list-cat" translate="hercules.fusion.list.upgrade-schedule"></div>
          <div class="cluster-list-info" ng-if="$ctrl.upgradesAutomatically($ctrl.cluster)" translate="hercules.fusion.list.upgrades-automatically"></div>
          <div ng-if="!$ctrl.upgradesAutomatically($ctrl.cluster)">
            <div class="cluster-list-info" ng-if="$ctrl.cluster.upgradeSchedule">{{$ctrl.formatTimeAndDate($ctrl.cluster.upgradeSchedule)}}<br/>
              <div class="cluster-list-timezone" title="{{$ctrl.cluster.upgradeSchedule.scheduleTimeZone}}">{{$ctrl.cluster.upgradeSchedule.scheduleTimeZone}}</div>
            </div>
            <div class="cluster-list-info" ng-if="!$ctrl.cluster.upgradeSchedule" translate="common.notSet"></div>
          </div>
        </div>
        <div>
          <div class="cluster-list-cat" translate="hercules.fusion.list.release-channel"></div>
          <div class="cluster-list-info">{{$ctrl.getLocalizedReleaseChannel($ctrl.cluster.releaseChannel)}}</div>
        </div>
      </div>
      <div class="columns medium-6 connection-status">
        <div class="connection-status-column" ng-if="$ctrl.hasServices($ctrl.cluster)">
          <div class="connection-status-eyecandy">
            <div class="connection-status-icon connection-status-cloud-icon"></div>
            <div class="connection-status-cable-vertical"></div>
            <div class="connection-status-cable-horizontal"></div>
            <div class=" connection-status-icon connection-status-premises-icon"></div>
          </div>
          <div class="connection-status-services">
            <div class="connection-status-service" ng-repeat="serviceStatus in $ctrl.cluster.extendedProperties.servicesStatuses | filter: {serviceId: '!squared-fusion-mgmt'} | orderBy:'serviceId':false:$ctrl.hybridServicesComparator" ng-if="serviceStatus.total > 0">
              <a href ng-click="$ctrl.openService(serviceStatus.serviceId, $ctrl.cluster.id)">
                <cs-statusindicator ng-model="serviceStatus.state.cssClass"></cs-statusindicator>
                <span ng-if="serviceStatus.serviceId !== 'squared-fusion-cal'">{{::'overview.cards.hybrid.services.' + serviceStatus.serviceId | translate}}</span>
                <span ng-if="serviceStatus.serviceId === 'squared-fusion-cal'" translate="hercules.cloudExtensions.serviceNames.squared-fusion-cal"></span>
              </a>
            </div>
          </div>
        </div>
        <div class="connection-status-column no-connectors" ng-if="!$ctrl.hasServices($ctrl.cluster)">
          <div class="connection-status-eyecandy">
            <div class="connection-status-icon connection-status-cloud-icon"></div>
            <div class="connection-status-cable-vertical"></div>
            <div class="connection-status-cable-horizontal"></div>
            <div class=" connection-status-icon connection-status-premises-icon"></div>
          </div>
          <div class="connection-status-services">
            <div class="connection-status-service">
              <span translate="hercules.fusion.list.no-services"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer ng-if="!($ctrl.cluster.extendedProperties.isEmpty && $ctrl.cluster.targetType === 'c_mgmt')">
      <a href ng-if="!$ctrl.hideFooter($ctrl.cluster)" ng-click="$ctrl.openSettings($ctrl.cluster.targetType, $ctrl.cluster.id)" translate="hercules.fusion.list.settings"></a>
    </footer>

    <div class="row cluster-list-body empty-cluster-body" ng-if="$ctrl.cluster.extendedProperties.isEmpty && $ctrl.cluster.targetType === 'c_mgmt'">
      <div class="medium-12" ng-if="$ctrl.cluster.extendedProperties.allowedRedirectTarget">
        <p translate="hercules.fusion.list.complete-registration"></p>
        <div class="center button-row">
          <button class="btn" ng-click="$ctrl.openDeleteConfirm($ctrl.cluster)" translate="common.remove"></button>
          <button class="btn btn--primary"
            ng-click="$ctrl.goToExpressway($ctrl.cluster.extendedProperties.allowedRedirectTarget.hostname)"
            translate="hercules.fusion.list.go-to-expressway">
          </button>
        </div>
      </div>
      <div class="medium-12" ng-if="!$ctrl.cluster.extendedProperties.allowedRedirectTarget">
        <p translate="hercules.fusion.list.registration-timeout"></p>
        <div class="center button-row">
          <button class="btn" ng-click="$ctrl.openDeleteConfirm($ctrl.cluster)" translate="common.remove"></button>
        </div>
      </div>
    </div>

  </article>
</cs-card>
