@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.hcs-modal-component {
  .top-margin {
    margin-top: 1rem;
  }

  .bottom-margin {
    margin-bottom: 1.5rem;
  }

  .arrow-margin {
    margin-top: 1.25rem;
  }

  .center {
    display: block;
    margin: auto;
  }

  .height-min {
    min-height: 6rem;
  }

  .cs-card.medium>article header.top-padding {
    padding-top: .25rem
  }
}
