@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/settings/colors';

.hcs-modal-component {
  .top-margin {
    margin-top: 1rem;
  }

  .arrow-margin {
    margin-top: rem-calc(14);
  }

  .center {
    display: block;
    margin: auto;
  }

  .height-min {
    min-height: 6rem;
  }

  .cs-card.medium > article header {
    padding-top: 1rem;
    &.no-right-pad  {
      padding-right: 0;
    }
    &.top-padding {
      padding-top: 0;
      margin-bottom: 1rem;
      h5 {
        color: $gray-base;
      }
    }
  }
}
