@import 'media-reports-sneak-peek/_media-sneak-peek-styles';
@import 'resources-reports/callVolume/_call-volume-styles';
@import 'resources-reports/availability/_availability-styles';
@import 'resources-reports/utilization/_media-utilization-styles';
@import 'resources-reports/participant-distribution/_media-participant-distribution-styles';
@import 'adoption-report/client-type/_client-type-styles';
@import 'adoption-report/meeting-location/_meeting-location-styles';
@import 'media-report-card/_media_report_card';
@import 'media-report-flip-card/_media-report-flip-styles.scss';
@import 'resources-reports/cluster-cascade-bandwidth/_cluster-cascade-bandwidth';
@import 'resources-reports/streams-bandwidth-usage/_streams-bandwidth-usage';
@import 'resources-reports/cascade-bandwidth/_cascade-bandwidth';
.media-reports {
  .cascade-bandwidth-card {
    float: left;
    left: 0!important;
    width: 100%!important;
    position: relative;
    display: flex!important;
  }
  .cascade-card-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .cascade-bandwidth-card > article {
    position: relative;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(52,53,55,.18);
    box-shadow: 0 1px 2px 1px rgba(52,53,55,.18);
    color: #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    vertical-align: top;
  }
  @extend %content-subheader;
  @extend %page-content-padding;
  .utilization-reports,
  .participant-distribution-reports,
  .number-of-participant-reports,
  .availability-reports,
  .client-type-reports,
  .meeting-location-reports {
    z-index: 1;
  }
  .insight-balloon-div {
    display: inline-block;
    background-color: #FFF;
    margin-bottom: -8px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .dis-inline-block {
    display: inline-block;
  }
  .amcharts-export-menu {
    opacity: 1 !important;
    z-index: 100;
  }
  .media-reports-container {
    padding: 0.55rem 0.9rem !important;
  }
  .reports-select-filter {
    width: rem-calc(220);
    margin-left: 30px;
  }
  .cs-card-layout {
    margin-bottom: rem-calc(15);
  }
  .cs-card>article graphheader {
    padding-right: 1rem;
    padding-left: 0.1rem;
    padding-top: 0.1rem;
  }
  .overview-card {
    animation: scaleUpMediaCards 0.5s linear;
  }
  .media-metrics-report-card {
    animation: scaleUpMediaCards 0.5s linear;
    .report-section-header {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      text-align: left;
      padding: rem-calc(20) rem-calc(6) rem-calc(18) rem-calc(19);
    }
    .header-padding {
      padding-top: 15px !important;
    }
    .tooltip[popup-class="metrics-tooltip"] .c-nub {
      background-color: #333333;
      border: 0.2px solid #333333;
      max-width: 300px;
      color: #d6d6d6;
      line-height: 1.4rem;
      font-size: 0.8rem;
      margin-top: -10px;
      margin-bottom: -10px;
      position: relative;
    }
    .tooltip[popup-class="metrics-tooltip"] .nub {
      border-color: transparent;
    }
    .barchart {
      font-size: rem-calc(11);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
    .amExportButton {
      ul,
      .export-main,
      .export-list {
        overflow: visible;
      }
      .export-main {
        padding-bottom: rem-calc(5);
        ul {
          padding: 0;
        }
      }
    }
    .graph-text {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(13);
      color: $gray-dark-1;
      text-align: left;
      float: left;
      .graph-text-color {
        font-size: rem-calc(13);
        color: #f0a378;
        text-align: left;
        float: left;
      }
      .graph-number {
        font-size: rem-calc(15);
        color: $brand-success;
        text-align: left;
      }
      .graph-media {
        font-size: rem-calc(13);
      }
    }
    .insight-padding {
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
      padding-bottom: 0px;
    }
    .spinner-position {
      position: absolute;
      z-index: 100;
      top: rem-calc(235);
      left: rem-calc(-3);
      width: 100%;
      .icon-2x {
        font-size: 4em;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .no-data-warning {
      color: #f7c100;
      padding-right: rem-calc(15);
    }
    .no-data-center {
      position: absolute;
      z-index: 100;
      height: 0;
      left: 0;
      top: rem-calc(185);
      width: 100%;
      .no-data {
        color: $gray-darkest;
        font-family: $brand-font-cisco-TT-Light;
        font-size: rem-calc(16);
        text-align: center;
        margin: 0;
      }
    }
    .amcharts-value-axis .amcharts-axis-label {
      opacity: 0;
      animation: graphAxisFade 2s ease-in-out 1 forwards;
    }
  }
  .low-z-index {
    z-index: 0;
  }
  .cs-alert-banner--info {
    border-radius: 5px;
    margin: auto 7px;
    border-top: solid 4px #049FD9;
    background-color: #C5E9F7;
  }
}

.availabilityCursor {
  .amcharts-category-axis .amcharts-axis-label {
    cursor: pointer;
  }
}

.partically-unavailable {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  color: #F5A623;
}

.media-checkbox:before {
  margin-bottom: 40px !important;
}

@keyframes scaleUpMediaCards {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes graphAxisFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
