.moh-content {
  color: @gray-darkest;
  min-height: 645px;

  .modal-body {
    &.ng-enter,
    &.ng-leave {
      transition:0.5s ease-in-out all;
    }
    /* starting animations for enter */
    &.ng-enter {
      opacity: 0;
    }
    /* terminal animations for enter */
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    /* starting animations for leave */
    &.ng-leave {
      opacity: 1;
    }
    /* terminal animations for leave */
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
  }

  .loading {
    width: 100%;
    text-align: center;
    margin: 40px auto;

    &.ng-enter,
    &.ng-leave {
      transition:none;
    }
    /* starting animations for enter */
    &.ng-enter {
    }
    /* terminal animations for enter */
    &.ng-enter.ng-enter-active {
    }
    /* starting animations for leave */
    &.ng-leave {
    }
    /* terminal animations for leave */
    &.ng-leave.ng-leave-active {
    }
    .icon {
      font-size: 75px;
    }
  }

  ul, li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

  }
  .modal-title {
    margin-bottom: 8px;
  }
  .modal-subtitle {
    margin-bottom: 0;
  }
  .new-playlist {
    margin-bottom: 5px;
  }
  .playlist-list {
    padding-right: 5px;

    ul {
      max-height: 380px;
      overflow: auto;
    }
  }

  .playlist-item {
    min-height: 50px;
    border: 1px solid @gray-lighter;
    background-color: @brand-white;
    padding: 10px 15px;
    font-family: @brand-font-cisco-TT-Light;
    font-size: 16px;
    line-height: 16px;
    color: @gray-darkest;
    margin-right: 7px;
    margin-bottom: 5px;
    transition: 250ms ease-in-out all;

    &:hover,
    &.selected {
      color: @brand-info;
      background-color: @gray-lightest;
      cursor: pointer;

      .actions-button {
        color: @gray-darkest;
        &:hover {
          color: @brand-info;
        }
      }
    }
    .playlist-name {
      line-height: 27px;
    }
  }

  .playlist-detail {

    &.ng-enter,
    &.ng-leave {
      transition:0.5s ease-in-out all;
    }
    /* starting animations for enter */
    &.ng-enter {
      opacity: 0;
    }
    /* terminal animations for enter */
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    /* starting animations for leave */
    &.ng-leave {
      display: none;
    }
    /* terminal animations for leave */
    &.ng-leave.ng-leave-active {
      display: none;
    }

    .row {
      margin-right: -5px;
    }
    .playlist-title {
      font-family: @brand-font-cisco-TT-Extra-Light;
      font-size: 20px;
      color: @brand-info;
      padding-left: 0;
      line-height: 30px;
    }
    .playlist-info {
      font-family: @font-family-sans-serif;
      font-size: 11px;
      text-align: right;
      line-height: 30px;
      padding-right: 0;
    }
    .status {
      color: @gray-dark;
      padding-right: 10px;
    }
  }
  .tracklist-header {
    padding: 0 15px;
    background-color: @gray-lighter;
    font-family: @font-family-sans-serif;
    font-size: 11px;
    line-height: 30px;
    margin-bottom: 1px;

    .title {
      font-weight: bold;
      padding-right: 10px;
    }
    .add-track {
      float: right;

      .icon {
        color: @brand-info;
        font-size: 20px;
        vertical-align: middle;
      }
    }
  }
  .tracklist ul {
    max-height: 351px;
    overflow: auto;
    margin-bottom: 0;
  }
  .tracklist-item {
    padding: 7px 15px;
    background-color: @gray-lightest;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0;
    }

    .track-name {
      .text-overflow();
      width: ~"calc(100% - 65px)";
      vertical-align: middle;
      display: inline-block;
    }
    .track-number {
      width: 25px;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .actions-menu.dropdown {
    float: right;
  }
  .dropdown-menu {
    min-width: 75px;
    top: 50%;
    right: 8px;
    left: auto;
  }

}

.modal-body {
  &.no-bkgd {
    background-color: transparent;
    padding: 0 20px 0 0;
  }
}




