@import '~@collabui/collab-ui/scss/settings/colors';

.linking-wizard {
  .site-url {
    padding: 0.4rem;
    /* color: #fff; */
  }


  .final-icon {
    text-align: center;
    font-size: 5rem;
    color: $color-green-base;
    font-weight: bold;
    margin: 2rem 0;
  }

  h3, .intro {
    margin-top: 1rem;
  }

  .intro {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  .domains {
    margin-left: 2px;
    list-style: none;
  }

  .info {
    width: 50% !important;
    margin: 2rem auto;
  }

  .align-top {
    margin-top: 1rem;
  }

  .agreement-accept {
    /* padding-left: 1rem;*/
    margin-top: 1rem;
    label {
      font-weight: bolder;
    }
  }
}
