
/**
Special stuff currently used to display the clusters in service oriented view
*/
.hercules-cluster-table {
  cursor: pointer;
  tr {
    border-top:0px;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
  }
  td {
    border-top:0px;
    padding:0px;
  }
  .active {
    background-color:#F7F7F7;
  }
  .cell-content {
    padding: 0.7rem;
    padding-left:1rem;
    position:relative;

    display: block;

    .icon {
      float:right;
      margin-right:10px;
      margin-top:5px;
    }
    .overlay {
      position: absolute;
      left: 20px;
      top: 15px;
      border-radius: 50px;
      height: 12px;
      width: 12px;
      border: 6px solid white;
    }
    .alarm {
      border-color: red;
    }

    .attention {
      border-color: #F5A623;
    }

    .ok {
      border-color: green;
    }

    .icon.icon-three-dots{
      position: absolute;
      top: 1rem;
      left:100%;
      margin-left: -3rem;
    }
    /* New code */
    .cell-status{
      display: block;
      padding-left: 2.8rem;

      margin-top: -1.5rem;

      span{
        display: block;
      }
    }
  }
}
.export-users-statuses-icon {
  padding-left:10px;
  cursor: pointer;
  color: $gray-darker;
}

.icon-circle-user {
  font-size:1.5em;
  top:0.1em;
}



/**
Special stuff currently used for out own mail input field...
*/
.cal-mail-form{
  display: block;
  //border: 2px solid rgba(0,0,0,0.75);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  padding: .3rem;

    input, input:focus, input[type="text"]:focus{
      border: none !important;
      box-shadow: none !important;
      border-color: none !important;
      transition: none !important;
    }
    #existing-mails{
        .token-label{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: .3rem;
          margin-bottom: .3rem;
          cursor: pointer;
          padding:{
            left:.75rem;
            right:1.75rem;
            top:.3rem;
            bottom:.3rem;
          }
          color:white !important;
          vertical-align: top;
          line-height: 1;
          background-color: $brand-primary;
          border-radius: 2px;

          position: relative;

            .del{
              display: block;
              width: .75rem;
              height: .75rem;
              color: white;
              position: absolute;
              right: .25rem;
              top:.3rem;
            }
        }
        .token-label.alert{
          margin-left: 0 !important;
          margin-right: .3rem !important;
          margin-bottom: .3rem !important;
          background-color: $brand-danger;
        }
        .token-label:hover{
          background-color: $brand-primary-dark;
        }
        .token-label.alert:hover{
          background-color: $brand-danger;
        }
    }
}

.hercules-clusters-list {
  i {
    margin-right: 10px;
  }
}
