.export-users-statuses-icon {
  padding-left:10px;
  cursor: pointer;
  color: $gray-light;
}

.icon-circle-user {
  font-size:1.5em;
  top:0.1em;
}

.hercules-trash-icon {
  color: $color-alerts
}

/**
Special stuff currently used for out own mail input field...
*/
.cal-mail-form{
  display: block;
  //border: 2px solid rgba(0,0,0,0.75);
  border: 1px solid rgba(0,0,0,0.25);
  border-radius: 3px;
  padding: .3rem;

    input, input:focus, input[type="text"]:focus{
      border: none !important;
      box-shadow: none !important;
      border-color: none !important;
      transition: none !important;
    }
    #existing-mails{
        .token-label{
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: .3rem;
          margin-bottom: .3rem;
          cursor: pointer;
          padding:{
            left:.75rem;
            right:1.75rem;
            top:.3rem;
            bottom:.3rem;
          }
          color:white !important;
          vertical-align: top;
          line-height: 1;
          background-color: $brand-primary;
          border-radius: 2px;

          position: relative;

            .del{
              display: block;
              width: .75rem;
              height: .75rem;
              color: white;
              position: absolute;
              right: .25rem;
              top:.3rem;
            }
        }
        .token-label.alert{
          margin-left: 0 !important;
          margin-right: .3rem !important;
          margin-bottom: .3rem !important;
          background-color: $brand-danger;
        }
        .token-label:hover{
          background-color: $brand-primary-dark;
        }
        .token-label.alert:hover{
          background-color: $brand-danger;
        }
    }
}

.hercules-clusters-list {
  i {
    margin-right: 10px;
  }
  .ngVerticalBar {
    display: none;
  }
}

.hercules-cluster-settings {
  .section-title-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .toggle-switch {
      margin-bottom: 0;
    }
  }
}

.hercules-cluster-status-Alarm {
  color: $color-negative-base;
}
.hercules-cluster-status-Running {
  color: $color-cta-base;
}
.hercules-cluster-status-Installing {
  color: $color-attention-base;
}
.hercules-cluster-status-NotConfigured {
  color: $color-attention-base
}
.hercules-cluster-status-Disabled {
  color: $color-attention-base;
}
.hercules-cluster-status-Unknown {
  color: $gray-base;
}
