<h6><strong translate="hercules.settings.call.certificatesHeading"></strong></h6>
<p translate="hercules.settings.call.certificates"></p>
<div ng-if="expresswayServiceSettings.certificates.length == 0">
  <p><em>No certificates uploaded. Using the default trust list.</em></p>
</div>
<div ng-if="expresswayServiceSettings.certificates.length > 0" class="hercules-certificates-table">
  <p>Uploaded Certificates:</p>
  <hr>
  <table>
    <tbody>
    <tr data-ng-repeat="cert in expresswayServiceSettings.certificates">
      <td>
        <span>{{cert.decoded.subjectDN}}</span>
        <br>
        <span>Expires: {{cert.decoded.notAfter | date:'yyyy-MM-dd'}}</span>
      </td>
      <td>
        <i class="icon icon-trash icon-lg hercules-trash-icon right"
           style="margin-left: 10px; margin-top: 5px;"
           ng-click="expresswayServiceSettings.confirmCertDelete(cert)"
           tooltip-placement="top"
           tooltip="Delete Certificate"
           tooltip-animation="false"></i>
      </td>
    </tr>
    </tbody>
  </table>
  <hr>
</div>
<button class="btn btn--primary"
        name="file"
        accept=".pem, .crt, .der"
        ngf-select="expresswayServiceSettings.uploadCert($file, $event)"
        ng-model="certFile"
        loading="expresswayServiceSettings.uploadingCert"
        translate="{{'hercules.settings.call.certificatesUpload'}}">
</button>
