<cs-sp-container class="hercules-settings-table">

  <cs-sp-section>
    <table>
      <tbody>
      <tr>
        <td translate="hercules.connectors.host_name"></td>
        <td><span>{{hostDetailsCtrl.connector().host.host_name}}</span></td>
      </tr>
      <tr>
        <td translate="hercules.connectors.serial"></td>
        <td><span>{{hostDetailsCtrl.connector().host.serial}}</span></td>
      </tr>
      <tr>
        <td translate="hercules.connectors.version">Version</td>
        <td><span>{{hostDetailsCtrl.connector().version}}</span></td>
      </tr>
      <tr>
        <td translate="common.status"></td>
        <td>
          <i class="fa fa-circle status-icon"
             ng-class="hostDetailsCtrl.connector().alarms.length > 0 ? 'hercules-state-alarm' : 'hercules-state-'+hostDetailsCtrl.connector().state"></i>
          <span ng-if="hostDetailsCtrl.connector().alarms.length == 0"
                translate="{{'hercules.status.' + (hostDetailsCtrl.connector().state || 'unknown') }}"></span>
          <span ng-if="hostDetailsCtrl.connector().alarms.length > 0"
                translate="hercules.status.alarm"></span>
        </td>
      </tr>
      </tbody>
    </table>

    <div>
      <a target="_blank" ng-href="https://{{hostDetailsCtrl.connector().host.host_name}}/"
         class="btn btn--primary" translate="hercules.connectors.goToHost"></a>
      <a href
         class="btn btn--negative"
         sq-click-promise="hostDetailsCtrl.deleteHost()"
         ng-if="hostDetailsCtrl.connector().state == 'offline'"
         translate="hercules.connectors.remove"></a>
    </div>

  </cs-sp-section>

  <cs-sp-section>
    <div class="section-title-row section-name" translate="hercules.alarms.alarms"></div>
    <div class="feature-list" ng-if="hostDetailsCtrl.connector().alarms.length > 0">
      <ul>
        <li class="feature" ng-repeat="alarm in hostDetailsCtrl.connector().alarms" ng-class="{'list-item': !$first}">
          <a
            ui-sref="cluster-details.alarm-details({alarm: alarm, host: hostDetailsCtrl.connector().host.host_name})">
            <i class="icon icon-error hercules-alarm status-icon"/>
            <span class="feature-name">{{alarm.title}}</span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
    <p ng-if="hostDetailsCtrl.connector().alarms.length == 0" translate="hercules.alarms.noAlarms"></p>
  </cs-sp-section>

</cs-sp-container>
