<div ng-if="exp.serviceEnabled === true">
  <div class="expressway-service hercules hercules-fix-paragraphs">
    <cs-page-header title="{{exp.pageTitle}}" tabs="exp.tabs"></cs-page-header>
    <cs-page-sub-header>
      <cs-page-sub-header-left>
        <div style="position:relative">
          <hercules-notifications filter-tag="exp.currentServiceId"></hercules-notifications>
        </div>
      </cs-page-sub-header-left>
      <cs-page-sub-header-right>
        <div ng-if="exp.currentServiceId !== 'squared-fusion-mgmt'" class="hercules-export-list">
          <i class="icon icon-circle-user"></i>
          <span class="export-number" translate="hercules.overview.activated" translate-values="{number: exp.userStatusSummary.activated || 0}"></span>
          <span class="export-number" ng-if="exp.userStatusSummary.notActivated > 0"><span translate="hercules.overview.pending" translate-values="{number: exp.userStatusSummary.notActivated}"></span></span>
          <span class="export-number" ng-if="exp.userStatusSummary.error > 0"><span class="red" translate="hercules.overview.error" translate-values="{number: exp.userStatusSummary.error}" translate-interpolation="messageformat"></span></span>
          <a class="icon-download-container" ng-show="exp.userStatusSummary.notActivated > 0 || exp.userStatusSummary.activated > 0 || exp.userStatusSummary.error > 0" ng-click="exp.openUserStatusReportModal(exp.currentServiceId)" tooltip-placement="top" tooltip="{{'usersPage.csvBtnTitle' | translate}}" tooltip-animation="false" tooltip-append-to-body="true">
            <span translate="hercules.overview.report"></span> <i class="icon icon-download"></i>
          </a>
        </div>
        <button class="btn btn--people add-resource-button" type="submit"
                translate="hercules.overview.add-resource-button" ng-click="exp.addResourceButtonClicked()"></button>
      </cs-page-sub-header-right>
    </cs-page-sub-header>
    <div ui-view="fullPane" class="small-padding-top content-container"></div>
  </div>
</div>
<div ng-if="exp.serviceEnabled === false">
  <div class="hercules content-container" cs-scroll>
    <div class="centered-info-pane full-height">
      <div ng-include src="'modules/hercules/expressway-service/activate-service.html'"></div>
    </div>
  </div>
</div>
<div ng-if="exp.serviceEnabled === null">
  <div class="hercules content-container" cs-scroll>
    <div class="centered-info-pane full-height">
      <i class="icon icon-spinner icon-2x"></i>
      <p translate="hercules.overview.loading"></p>
    </div>
  </div>
</div>
