<div class="modal-header">
  <div class="modal-title">
    Software Upgrade
  </div>
</div>

<div class="modal-body hercules-fix-paragraphs hercules-settings-table">

  <p>
    You are about to upgrade the software for the <span
    translate="hercules.serviceNames.{{softwareUpgrade.serviceId}}"></span> on all
    hosts in the selected Cisco Expressway Cluster:
  </p>

  <table>
    <tbody>
    <tr>
      <td translate="hercules.connectors.cluster_id"></td>
      <td><span>{{softwareUpgrade.clusterName}}</span></td>
    </tr>
    <tr>
      <td translate="hercules.softwareUpgrade.currentVersion"></td>
      <td><span>{{softwareUpgrade.oldVersion}}</span></td>
    </tr>
    <tr>
      <td translate="hercules.softwareUpgrade.newVersion">New Version</td>
      <td><span>{{softwareUpgrade.newVersion}}</span></td>
    </tr>
    </tbody>
  </table>

</div>


<div class="modal-footer">
  <button ng-click="softwareUpgrade.cancel()">{{'common.cancel' | translate}}</button>
  <button class="btn btn--primary" ng-click="softwareUpgrade.ok()">{{'common.confirm' | translate}}</button>
</div>
