<div>
  <div class="modal-header">
    <button id="convertModalClose" type="button" class="close" ng-click="$parent.modal.close()">
      <span class="sr-only">Close</span>
    </button>
    <h5 class="modal-title">
      {{ 'hercules.serviceNames.' + userErrorsCtrl.serviceId | translate }}: Activation Errors
    </h5>
  </div>
  <div class="modal-body">
    <div ng-show="loading" style="text-align: center; padding: 60px;">
      <i class="icon icon-spinner icon-2x"></i>
    </div>
    <div ng-hide="loading">
      <p>Showing {{userErrorsCtrl.totalCount > userErrorsCtrl.limit ? userErrorsCtrl.limit : userErrorsCtrl.totalCount}}
        out of {{userErrorsCtrl.totalCount}} errors.
        <span
          ng-if="userErrorsCtrl.totalCount > userErrorsCtrl.limit">The
          <a href ng-click="$parent.modal.close();exp.openUserStatusReportModal(exp.currentServiceId);">user status
            report</a> has more information.</span>
      </p>

      <p ng-repeat="status in userErrorsCtrl.userStatuses" style="padding-top:10px;">
        <span class="small">
        <span style="font-weight:bold;" class="small">{{status.displayName}}</span> on <a
          href="https://{{status.connector.host_name}}" target="_blank" style="color: #3ca8e8">{{status.connector.host_name}}</a>
        <br/>
        {{status.description.defaultMessage}}
        </span>
      </p>
    </div>
  </div>
  <div class="modal-footer">
    <button id="openUserStatusReport" class="btn pull-right"
            ng-click="$parent.modal.close();exp.openUserStatusReportModal(exp.currentServiceId);">
      <span>Open User Status Report</span>
    </button>
    <button id="convertCancelButton" class="btn btn--primary pull-right" ng-click="$parent.modal.close()"
            style="margin-right: 10px">
      <span>Close</span>
    </button>
  </div>
</div>
