.aa-media-upload {

  .aa-flex-row-media-upload {
    @extend .row;
    @include vr-spacing(pt, 0.25);
  }
  .aa-box {
    display: inline-block;

    @include vr-spacing(mb, 0.3);
    @include vr-spacing(pt, 0.75);
    @include vr-spacing(pl, 0.75);
    @include vr-spacing(pr, 0.75);

    background-color: $brand-white;
    border: 1px solid $gray-light;
    height: 7.75rem;
    border-radius: 3px;
    color: $gray-light;
  }

  .aa-tall-box {
    @extend .aa-box;

    height: 9rem;
    @include vr-spacing(pt, 0.85);
    @include vr-spacing(pl, 0);
    @include vr-spacing(pr, 0);
    @include vr-spacing(pb, 1);
  }

  .aa-drop-box {
    &:hover {
      cursor: pointer;
      border-color: $brand-primary;
    }

    &.dragover {
      border-color: $brand-primary;
    }

    .icon-upload-contain {
      font-size: 2.5rem;
      color: $color-primary-base;
    }
  }

  .aa-dl-box {
    .cancel-media {
      .cancel-media-icon {
        @extend .icon;
        @extend .icon-close;

        color: $gray-light-2;
        font-size: 1rem;

        &:hover {
          cursor: pointer;
          color: $aa-builder-icon-click-color;
        }
      }
    }

    .green {
      color: $color-cta-base;
    }

    .aa-progress {
      margin-top: 0.4rem;
    }
  }

  .aa-progress-supplementary {
    @include vr-spacing(mv, 0.5);
    @include vr-spacing(mr, 0.5);
    @include vr-spacing(ml, 0.5);
    @include vr-spacing(mt, 0);

    color: $gray-dark-4;
  }

  .aa-top-bottom-push {
    @include vr-spacing(mv, 0.625);
    color: $gray-dark-4;
    line-height: 1.25rem;
  }

  .aa-upload-squish {
    @extends .aa-top-bottom-push;
    @include vr-spacing(mb, 0.25);
  }

  .spread-light {
    color: $gray-light-1;
    line-height: 1rem;
  }

  .aa-center-small {
    text-align: center;
    font-size: 0.75rem;
  }

  .aa-text-info {
    font-style: italic;
  }
}
