.aa-media-upload {

  .aa-box {
    display: inline-block;
    @include vr-spacing(mb, .3);
    @include vr-spacing(pt, .75);
    @include vr-spacing(pl, .75);
    @include vr-spacing(pr, .75);
    background-color: $brand-white;
    border: 1px solid $gray-light;
    height: 7.75rem;
    border-radius: 3px;
    color: $gray-light;
  }

  .aa-drop-box {
    &:hover {
      cursor: pointer;
      border-color: $brand-primary;
    }

    &.dragover {
      border-color: $brand-primary;
    }

    .icon-upload-contain {
      font-size: 2.5rem;
      color: $color-primary-base;
    }
  }

  .aa-dl-box {
    .cancel-media {
      .cancel-media-icon {
        @extend .icon;

        @extend .icon-close;

        color: $gray-light-2;
        font-size: 1rem;

        &:hover {
          cursor: pointer;
          color: $aa-builder-icon-click-color;
        }
      }
    }

    .green {
      color: $color-cta-base;
    }

    .aa-progress {
      margin-top: .4rem;
    }
  }

  & .aa-progress-supplementary {
    @include vr-spacing(mv, .5);
    @include vr-spacing(mr, .5);
    @include vr-spacing(ml, .5);
    @include vr-spacing(mt, 0);
    color: $gray-dark-4;
  }

  & .aa-top-bottom-push {
    @include vr-spacing(mv, .625);
    color: $gray-dark-4;
  }

  & .spread-light {
    color: $gray-light-1;
    line-height: 1.2rem;
  }

  & .aa-center-small {
    text-align: center;
    font-size: .75rem;
  }

  & .aa-text-info {
    font-style: italic;
  }

}
