/*import any additional sassy css (scss) here*/
@import '../settings/_settings';
@import '../features/_features';
@import '../lines/_line-list';

.huron-details {
  @include vr-spacing(mh, 0.5, 1px, true);
}

.save-section {
  position: absolute;
  display: flex;
  align-items: baseline;
  width: 100%;
  padding: 0.5rem 1.5rem;
  z-index: $zindex-popover;
  border-bottom: 1px solid $gray-light;
  background-color: $white;

  p {
    flex: 1;
  }
  .right {
    button:first-child {
      @include vr-spacing(mr, 0.5);
    }
  }
}

