/*import any additional sassy css (scss) here*/
@import '../settings/_settings';
@import '../features/_features';
@import '../lines/_line-list';

.save-section {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  @include vr-spacing(ph, 2);
  z-index: $zindex-popover;
  border-bottom: 1px solid $gray-light;
  background-color: $white;

  p {
    flex: 1;
  }
  .right {
    button:first-child {
      @include vr-spacing(mr, 0.5);
    }
  }
}

