/*import any additional sassy css (scss) here*/
@import '../settings/_settings';
@import '../features/_features';
@import '../lines/_line-list';

.save-section {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 25px;
  z-index: $zindex-popover;
  border-bottom: 1px solid $gray-light;
  background-color: $white;

  p {
    flex: 1;
  }
  button {
    @include vr-spacing(ml, 0.5);
  }
}

