$navi-color: white;
$navi-background-color: #383a41;
$navi-active-color: #3ca8e8;

.main-redux {

  .navi {
    color: $navi-color;
    background-color: $navi-background-color;
    font-family: $brand-font-light;

    ul {
      .icon {
        font-size: 22px;
        padding: 15px;
        line-height: 1.5;
      }
    }

    li {
      list-style-type: none;
    }

    span, a {
      vertical-align: text-bottom;
    }

    a {
      color: $navi-color;
      font-family: $brand-font-light;
      font-size: 14px;
    }

    a.active {
      background-color: $navi-active-color;
    }
  }

  @media #{$small-only} {

    $navi-mobile-logo-height: 3rem * 1.10;

    .navi {
      top: 0;
      right: 0;
      left: 0;
      height: $navi-mobile-logo-height;
      position: fixed;
      z-index: 3;

      padding: 10px;

      .burger {
        top: 0;
        right: 0;
        padding: ($navi-mobile-logo-height - 1rem) / 2;
        cursor: pointer;
        position: absolute;
      }

      ul.main-tab {
        top: $navi-mobile-logo-height;
        right: 0;
        width: 200px;
        z-index: 100;
        position: absolute;
        background-color: $navi-background-color;
      }
      .drop {
        ul {
          display: none;
        }
      }
      .drop:hover {
        ul {
          display: block;
        }
      }
    }
  }

  @media #{$medium-up} {
    .navi {
      top: 0;
      bottom: 0;
      width: 200px;
      position: fixed;
      overflow: auto;
      padding: 30px 0;

      ul {
        margin-left: 0;
      }

      a {
        display: block;
      }

      ul.main-tab {
        margin: 0;

        & > li a {
          padding: {
            top: 0.7rem;
            bottom: 0.7rem;
          }
        }
      }

      ul.sub-nav {
        & > li a {
          padding: {
            top: 0.5rem;
            left: 1rem;
            bottom: 0.5rem;
          }
        }
      }
    }
    .cntnt {
      margin-left: 200px;
    }
    .logo {
      text-align: center;
      padding: 20px 0 40px;
    }
    .burger {
      display: none;
    }
  }
}

.main-redux {
  .devices-header {
    top: 0;
    right: 0;
    z-index: 2;
    left: 200px;
    position: fixed;
    padding: 60px 80px 30px 60px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 82%, rgba(255, 255, 255, 0) 100%); /* W3C */
  }

  .devices-content {
    z-index: 1;
    margin-top: 220px;
    padding: 20px 80px 600px 80px;
  }

  @media #{$small-only} {
    .devices-header {
      left: 0;
      right: 0;
      top: 52px;
      padding: 10px 20px 30px 20px;
    }
    .devices-content {
      padding: 10px 20px 30px 20px;
    }

  }
}
