<div class="main-redux">
  <div class="navi" ng-controller="MenuCtrl as menu">
    <div class="logo">
      <img src="/images/cisco_logo_white.png"/>
    </div>
    <div class="drop">
      <i class="fa fa-bars burger"></i>
      <ul class="main-tab" ng-controller="TabsCtrl as tabs">
        <li ng-repeat="tab in tabs.tabs">

          <span ng-if="!tab.subPages">
            <a ui-sref="{{tab.state}}" ui-sref-active="active">
              <i class="icon {{tab.icon}}"></i>
              <span>{{tab.title}}</span>
            </a>
          </span>
          <span ng-if="tab.subPages">
            <a ng-click="menu.show[$index] = !menu.show[$index]">
              <i class="icon {{tab.icon}}"></i>
              <span>{{tab.title}}</span>
            </a>
          </span>

          <ul ng-show="menu.show[$index]" class="sub-nav">
            <li ng-repeat="subPage in tab.subPages">
              <a ui-sref="{{subPage.state}}" ui-sref-active="active">
                <span>{{subPage.title}}</span>
              </a>
            </li>
          </ul>

        </li>
      </ul>
    </div>
  </div>
  <div class="cntnt" ui-view/>
</div>
