.ediscovery-app-container {

  background-color: $brand-white;
  overflow-x: hidden; // Remove horizontal IE/Edge scrollbar

  .ediscovery-content-view {

    button.fit {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    label.fit {
      text-align: left;
      margin-bottom: 0;
    }

    button.align {
      margin-top: 1.5rem;
    }

    .cs-input-group {
      padding-left: 1rem;
    }

    span.icon {
      font-size: 20px;
      line-height: 40px;
      cursor: pointer;
    }

    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $brand-white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    min-height: 95vh;
    a:focus {
      outline: none;
      box-shadow: none;
    }
    p {
      margin-bottom: 1rem;
    }
    .circle-status-icon {
      font-size: 0.575rem;
      margin-right: 0.5rem;
    }
  }

  .ediscovery-search {
    .search-spinner {
      position:relative;
      top:1rem;
      font-size:3rem;
    }
    padding-top: 1rem;
    .ediscovery-search-bar {
      padding-top: 1rem;
      text-align: center;
      .pointer {
        cursor: pointer;
      }
      .main-heading {
        h1 {
          font-size: 2.8rem;
          color: $color-primary-base;
          @media only screen and (max-width: 640px) {
            font-size: 2.5rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 2.2rem;
          }
        }
        display: inline-block;
        text-align: right;
        .help {
          color: $gray-light-1;
          position: relative;
          top: -1rem;
          padding-right: 2px;
          font-size: 1.0rem;
          cursor: pointer;
          i {
            top: 2px;
            left: 3px;
          }
          @media only screen and (max-width: 640px) {
            font-size: 0.8rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 0.7rem;
          }
        }

      }
      .typeahead-large .input-description:before {
        display: none;
      }
      .typeahead-large .input-description {
        padding: 0;
      }
      .typeahead-large {
        position: relative;
        max-width: 100%;
        //margin-left: auto;
        //margin-right: auto;
        .searchInputForm {
          margin-bottom: 0px;
        }
        input {
          //text-align: left;
          border: 0px;
          font-size:24px;
          width: 33rem;
          @media only screen and (max-width: 640px) {
            font-size: 21px;
            width:80%;
            padding-bottom:0px;
          };
          @media only screen and (max-width: 500px) {
            font-size: 18px;
            width: 80%;
            padding-bottom:0px;
          };
        }
        .icon-search {
          right: 0rem;
          bottom: 0.15rem;
          font-size: 1rem;
          width: 2.4rem;
          height: 2.4rem;
          z-index: 3;
          @media screen and (-moz-images-in-menus:0) {
            top: 0 !important;
          };
          @media only screen and (max-width: 640px) {
            font-size: 0.9rem;
            bottom: 0rem;
            width: 2.0rem;
            height: 2.0rem;
          }
          @media only screen and (max-width: 500px) {
            position: absolute;
            right: 0px;
            font-size: 0.8rem;
            bottom: 0.70rem;
            width: 1.7rem;
            height: 1.7rem;
          }
        }
      }
      .searchError {
        position: relative;
        right: 1.1rem;
        padding-top: 2rem;
      }
    }
    .create-report {
      padding-left: 9rem;
      box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.18);
      border-radius: 2px;
      margin-top: 2rem;

      .cs-form__section .section__info {
        margin-top: 2rem;
      }

      .content {
        margin-left: 30px;
        border:1px solid red;
        font-weight: bold;
      }

      .progress-container {
        width: 80%;
        margin-top: 3.1rem;
        button {
          margin-top: 1rem;
          margin-left: 3rem;
        }
      }

      .fit {
        margin-left: 0;
      }
    }

    .cs-form__section .section__content .sub-section {
      margin-bottom: 0.5rem;
      h5.large {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }

    .cs-form__section .section__content .sub-section__label {
      line-height: 0.5rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .search-result {
      box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.18);
      border-radius: 2px;
      margin-top: 3rem;
      .create-form {
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        h4 {
          font-size: 2rem;
          width: 90%;
        }
        .cancel-or-download {
          width: 50%;
          padding-top: 1rem;
          .buttons {
            padding-top: 1rem;
          }
        }
        .input-section {
          padding-top: 0.5rem;
          .report-name {
            width: 100%;
          }
          .date-error {
            margin-bottom: 0;
            color: $color-negative-base;
          }
        }
        .input-section-last {
          padding-top: 2.5rem;
          padding-right: 2rem;
        }
        .buttons {
          padding-top: 2rem;
        }
        .failure {
          color: $color-negative-base;
          padding-top: 1rem;
        }
      }
      .left-side {
        padding-left: 1.5rem;

        .logo {
          font-size: 7rem;
          height: 8rem;
          color: $gray-light-1;
        }
        .content {
          padding-left: 0.3rem;
        }
      }
    }

  }

}
