.ediscovery-app-container {

  background-color: $brand-white;
  overflow-x: hidden; // Remove horizontal IE/Edge scrollbar

  .ediscovery-content-view {

    div.menu-container {
      border-bottom: 1px solid #EBEBEC;
      padding-bottom: 5px;
      ul.menu {
        margin-left: 0;
        padding: 0;
        li {
          display: inline;
          margin-right: 1rem;
          a {
            color: #AEAEAF;
            font-size: 1.0625rem;
            border-bottom: 3px solid transparent;
            padding-bottom: 0.5rem;
          }
          a.active {
            border-bottom-color: $page-header-nav-active-border-bottom-color;
            color: $page-header-nav-active-color;
          }
          a:hover {
            border-bottom-color: #AEAEAF;
          }
        }
      }
    }

    button.fit {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    label.fit {
      text-align: left;
      margin-bottom: 0;
    }

    button.align {
      margin-top: 1.5rem;
    }

    .cs-input-group {
      padding-left: 1rem;
    }

    span.icon {
      font-size: 20px;
      line-height: 30px;
      cursor: pointer;
    }

    font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: $brand-white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 2rem;
    min-height: 100vh;
    a:focus {
      outline: none;
      box-shadow: none;
    }
    p {
      margin-bottom: 1rem;
    }
    .circle-status-icon {
      font-size: 0.575rem;
      margin-right: 0.5rem;
    }
  }

  .ediscovery-search {
    padding-top: 2rem;
    @media only screen and (max-height: 700px) {
      padding-top:  2rem;
    }
    .search-spinner {
      position: relative;
      top: 1rem;
      font-size: 3rem;
    }
    .cs-tooltip {
      max-width: none;
    }
    .gridStyle {
      max-width: 100%;
      margin: 0 auto;
    }
    .fit-in-cell {
      line-height: 35px;
    }
    .ediscovery-search-bar {
      text-align: center;
      .pointer {
        cursor: pointer;
      }
      .main-heading {
        padding-bottom: 1rem;
        padding-top: 2.75rem;
        h1 {
          font-size: 2.2rem;
          color: $color-primary-base;
          @media only screen and (max-width: 640px) {
            font-size: 2.0rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }
        span {
          padding-top: 1.0rem;
        }
      }
      .typeahead-large .input-description:before {
        display: none;
      }
      .typeahead-large .input-description {
        padding: 0;
      }
      .typeahead-large {
        position: relative;
        margin-top: 1rem;
        max-width: 100%;
        .searchInputForm {
          margin-bottom: 0;
        }
        input {
          border: 0;
          font-size: 24px;
          width: 33rem;
          @media only screen and (max-width: 640px) {
            font-size: 21px;
            width: 80%;
            padding-bottom: 0;
          };
          @media only screen and (max-width: 500px) {
            font-size: 18px;
            width: 80%;
            padding-bottom: 0;
          };
        }
        .icon-search {
          position: absolute;
          right: 0;
          bottom: 0.75rem;
          font-size: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          z-index: 3;
          min-width: 2.5rem;
          @media screen and (-moz-images-in-menus:0) {
            top: 0 !important;
          }
          @media only screen and (max-width: 640px) {
            font-size: 1rem;
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
          }
          @media only screen and (max-width: 500px) {
            font-size: 0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            min-width: 1.5rem;
          }
        }
      }
      .search-tip {
        color: $gray-light-1;
        font-style: italic;
        padding: 0.5rem;
      }
    }
    .create-report {
      padding-left: 9rem;
      box-shadow: 2px 3px 10px 2px rgba(0,0,0,0.18);
      border-radius: 2px;
      margin-top: 2rem;

      .cs-form__section .section__info {
        margin-top: 2rem;
      }

      .content {
        margin-left: 30px;
        border: 1px solid red;
        font-weight: bold;
      }

      .progress-container {
        width: 80%;
        margin-top: 3.1rem;
        button {
          margin-top: 1rem;
          margin-left: 3rem;
        }
      }

      .fit {
        margin-left: 0;
      }
    }

    .cs-form__section .section__content .sub-section {
      margin-bottom: 0.5rem;
      h5.large {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }

    .cs-form__section .section__content .sub-section__label {
      line-height: 0.5rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .search-result {
      .create-form {
        padding: 2.5rem 2.5rem 5rem 0;
        @media only screen and (max-width: 800px) {
          padding: 1.25rem 1.25rem 2.5rem 0;
        }
        @media only screen and (max-width: 640px) {
          padding-left: 1rem;
        }
        h2 {
          padding-right: 1rem;
          color: $gray-dark-3;
          @media only screen and (max-width: 800px) {
            font-size: 1.5rem;
          }
        }
        .cancel-or-download {
          width: 50%;
          padding-top: 1rem;
          .buttons {
            padding-top: 1rem;
          }
        }
        .room-id {
          color: $gray-base;
          padding-bottom: 2.25rem;
          @media only screen and (max-width: 800px) {
            font-size: 1rem;
          }
        }
        .input-section {
          padding-bottom: 1.0rem;
          .report-name {
            width: 100%;
          }
          .date-error {
            margin-bottom: 0;
            color: $color-negative-base;
          }
          h6 {
            padding-bottom: 0.25rem;
            color: $gray-dark-2;
          }
        }
        .result-section {
          padding-bottom: 1.5rem;
          h6 {
            padding-bottom: 0.25rem;
            color: $gray-light-1;
            text-transform: uppercase;
          }
          .progressbar-info {
            padding-top: 0.5rem;
          }
        }
        .input-section-last {
          padding-top: 0.75rem;
          padding-right: 2rem;
        }
      }
      .report-logo-column {
        max-width:406px;
        @media only screen and (max-width: 640px) {
          max-width:100%;
        }
      }
      .report-logo {
        color: $gray-base;
        font-size: 210px;
        padding-top: 1.5rem;
        @media only screen and (max-width: 800px) {
          font-size:10rem;
          padding-top: 0.75rem;
        }
        @media only screen and (max-width: 640px) {
          font-size:4rem;
          height: 5rem;
        }
      }
    }
    .with-scroll {
      height: 60vh;
    }
    .failure {
      color: $color-negative-base;
    }
  }
}
