<script type="text/ng-template" id="userTemplate.html">
  <a>
    <span ng-bind-html="match.label | typeaheadHighlight:query"
          ng-class="{'disabled': match.model.disabled}">
    </span>
  </a>
</script>
<div id="pickup-typeahead" class="typeahead-large" ng-if="$ctrl.isNew">
  <input
    id="memberInput"
    ng-model="$ctrl.memberName"
    ng-class="{'error': $ctrl.errorMemberInput}"
    typeahead="mem as $ctrl.getDisplayName(mem) for mem in $ctrl.fetchMembers($viewValue)"
    typeahead-on-select="$ctrl.selectMember($item)"
    typeahead-dont-select="$ctrl.displayModalLinesTaken($event)"
    typeahead-should-select="!$ctrl.isActiveMemberDisabled()"
    typeahead-template-url="userTemplate.html"
    placeholder="{{:: 'common.selectMembers' | translate}}"
    typeahead-min-length="3"
    typeahead-wait-ms="200"
    autocomplete="off"
    ng-keyup="$ctrl.inputKeyup($event)"
    ng-keypress="$ctrl.inputKeypress($event)"
    focus-on>
  <p class="input-description" translate="callPickup.memberHint"></p>
  <div class="warning">
    <div class="pi-cs-input__messages">
      <div class="message member-warning" translate="callPickup.memberWarning"></div>
    </div>
  </div>
</div>
<div id="pickup-typeahead" ng-if="!$ctrl.isNew" class="typeahead">
  <input
    cs-input
    id="memberInput"
    ng-model="$ctrl.memberName"
    ng-class="{'error': $ctrl.errorMemberInput}"
    typeahead="mem as $ctrl.getDisplayName(mem) for mem in $ctrl.fetchMembers($viewValue)"
    typeahead-on-select="$ctrl.selectMember($item)"
    typeahead-dont-select="$ctrl.displayModalLinesTaken($event)"
    typeahead-should-select="!$ctrl.isActiveMemberDisabled()"
    typeahead-template-url="userTemplate.html"
    placeholder="{{:: 'callPickup.memberPlaceholder' | translate}}"
    typeahead-min-length="3"
    typeahead-wait-ms="200"
    cs-input-size="small-12"
    autocomplete="off"
    ng-keyup="$ctrl.inputKeyup($event)"
    ng-keypress="$ctrl.inputKeypress($event)"
    no-dirty>
</div>
<div id="cs-card-members">
  <cs-card-layout>
    <cs-card-member
      ng-repeat="member in $ctrl.selectedMembers track by $index"
      cs-type="complex"
      cs-member-type="{{$ctrl.getMemberType(member.member)}}"
      cs-title="$ctrl.getDisplayNameOnCard(member.member)"
      cs-subtitle="($ctrl.getUserName(member.member))"
      cs-image="$ctrl.getMembersPictures(member.member)"
      on-remove="$ctrl.removeMember(member)"
      cs-remove-label="$ctrl.removeText"
      cs-complex-card-type="checkbox"
      cs-checkboxes="member.checkboxes"
      cs-id="$index"
      on-update="$ctrl.updateNumbers(member)"
      on-toggled="$ctrl.refreshCards()"
      delete-aria-label="{{::'common.delete' | translate}}"
      toggle-aria-label="{{::'common.toggleData' | translate}}">
    </cs-card-member>
  </cs-card-layout>
</div>
