.call-metrics {
  .donut-hover-text {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: $gray-darkest;
  }
  .no-data-center {
    position: relative;
    top: -275px;
  }
  .amExportButton {
    left: 60%;
    top: rem-calc(40);
  }
}
.partner-reports .call-metrics .amExportButton {
  left: 80%;
  top: rem-calc(40);
}