.call-metrics {
  min-width: 520px;
  position: relative;
  .graph-match {
    margin: 0 15px;
  }
  .spinner-position {
    position: relative;
    top: -450px;
  }
  .clear-graph {
    background-color: $brand-white;
  }
  .description {
    font-family: $font-family-sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: $gray-darkest;
    text-align: left;
  }
  .call-metrics-status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  .donut-hover-text {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: $gray-darkest;
  }
  .no-data-center {
    height: 450px;
    left: 35%;
    position: absolute;
    transform: translate(0%, 35%);
    .no-data {
      color: $gray-light;
      font-family: $brand-font-light;
      font-size: 46px;
    }
  }
}
