.call-metrics {
  min-width: 520px;
  position: relative;
  .graph-match {
    margin: 0 15px;
  }
  .donut-hover-text {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: $gray-darkest;
  }
  .no-data-center {
    position: relative;
    top: -275px;
  }
}
