.call-metrics-customer {
  .amcharts-pie-label {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: rem-calc(15);
  }

  .metrics-display {
    height: rem-calc(10);
    overflow: visible;
    position: relative;
    text-align: center;
    top: rem-calc(-60);
    color: $gray-light-1;

    .metrics-numeral {
      font-size: rem-calc(25);
      font-weight: bold;
      padding: 0;
    }

    .metrics-text {
      font-size: rem-calc(15);
      position: relative;
      top: rem-calc(-10);
    }
  }
}
