.services-overview {
  .gray-light header::after {
    border-top-color: $gray-light-1 !important;
  }

  h5 {
    color: $gray-dark-2;
  }

  p.no-hybrid-cards-found {
    margin-left: 8px;
    margin-top: 10px;
  }

  .icon-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }

  .services-list {
    padding: 0 1.5rem;
    margin-top: 1rem;

    .cluster-list.header-bar header::after {
      border-top-color: transparent !important;
    }

    h5 {
      margin-bottom: 0;
      margin-left: 0.5rem;
      opacity: 1;
      z-index: 100;

      span {
        font-size: 1rem;
      }
    }

    .private-trunk {
      .description {
        flex: none !important;
      }
      .card-button {
        text-align: left;
        div:nth-child(1) {
          margin-left: -1.5rem;
          margin-top: -1rem;
        }
        div:nth-child(2) {
          position: absolute;
          bottom: 1.5rem;
          width: calc(100% - 3rem);
        }
      }
    }

    .cs-card-layout {
      padding-bottom: 2rem;
      z-index: 1;
      overflow: hidden;

      .cs-card {
        padding-bottom: 1rem;
        display: block;
        height: auto;
        position: relative;

        article {
          min-height: 370px;
        }

        h4 {
          font-size: 1.63rem;
          padding-top: 0.5rem;
          text-align: center;
          font-family: $brand-font-extra-light;

          i {
            position: relative;
            top: 0.2rem;
          }
        }

        h4.size-1 {
          font-size: 1.3rem;
          padding-top: 1rem;
        }

        section {
          position: relative;

          .hds-card-list {
            text-align: left;
            margin-left: 0;

            li {
              list-style-position: inside;
            }

            a {
              padding: 1px 0;
            }

            .icon {
              color: green;
            }
          }

          .btn-link {
            margin-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            padding: 1px 1rem;
            margin-top: 1rem;
            width: auto !important;
            font-size: 14px;

            &:focus {
              box-shadow: none;
            }

            &.disabled {
              color: $gray-dark-1;
              cursor: default;
            }
          }
        }

        .setup-mode {
          display: flex;
          flex-direction: column;

          .description {
            flex: 1;
          }

          .card-button {
            margin-bottom: 1.5rem;
          }

          .btn--primary {
            width: 100%;
          }

          button {
            margin-bottom: 0;
          }
        }

        footer {
          display: flex;

          div {
            width: 100%;
            justify-content: flex-start;
            padding-top: rem(12);
            text-align: center;
          }

          .status {
            &:focus {
              box-shadow: none;
            }

            span {
              color: $gray-base;
            }
          }
        }
      }
      .cs-card.header-bar.cta-bar header::after {
        border-top-color: $color-cta-base !important;
      }

      .cs-card.header-bar.care-bar header::after {
        border-top-color: $color-people-base !important;
      }
    }
  }

  .h6 {
    margin-bottom: 1rem;
  }

  .hybrid-google-calendar-footer {
    padding: 0 1rem !important;

    .status {
      display: block;
      padding-top: 0.9rem;
      padding-bottom: 1rem;
      color: inherit;
    }
  }

  .cs-card.large > article header {
    padding-top: 0.5rem;
  }

  .hybrid-calendar-large {
    display: flex;
    flex-direction: column;

    .semi-card-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 0 1.5rem 0.5rem;
    }

    .semi-card {
      background: $gray-light-4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      flex: 1;

      &:first-child {
        margin-right: 1rem;
      }
    }

    .semi-card-title {
      @extend %h6;
      margin: 1.5rem 0 1rem;
      text-align: center;

      img {
        height: 30px;
      }
    }

    .semi-card-content {
      flex: 1;
      text-align: center;
    }

    .semi-card-footer {
      text-align: center;
      height: 3rem;
      line-height: 3rem;

      a {
        color: $gray-base;
      }
    }

    .btn--primary {
      width: calc(100% - 1rem);
    }
  }
}
