@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/text-overflow';

services-overview {
  display: block;

  .gray-light header::after {
    border-top-color: $gray-light-1 !important;
  }

  h5 {
    color: $gray-dark-2;
  }

  p.no-hybrid-cards-found {
    margin-left: 8px;
    margin-top: 10px;
  }

  .icon-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }

  .services-list {
    padding: 0 1.5rem;
    margin-top: 1rem;

    .cluster-list.header-bar header::after {
      border-top-color: transparent !important;
    }

    h5 {
      margin-bottom: 0;
      margin-left: 1rem;
      opacity: 1;
      z-index: 100;

      span {
        font-size: 1rem;
      }
    }

    .cs-card-layout {
      padding-bottom: 2rem;
      z-index: 1;
      overflow: hidden;

      .cs-card {
        padding-bottom: 1rem;
        display: block;
        height: auto;
        position: relative;

        article {
          min-height: 370px;
        }

        h4 {
          font-size: 1.63rem;
          padding-top: 0.5rem;
          text-align: center;
          font-family: $brand-font-extra-light;

          i {
            position: relative;
            top: 0.2rem;
          }

          i.info-icon {
            top: .8rem;
            right: .5rem;
            font-size: 1.1rem;
            position: absolute;

            &.has-tooltip:hover {
              color: $color-primary-base;
            }
          }
        }

        h4.size-1 {
          font-size: 1.3rem;
          padding-top: 1rem;
        }

        section {
          position: relative;

          .hds-card-list {
            text-align: left;
            margin-left: 0;

            li {
              list-style-position: inside;
            }

            a {
              padding: 1px 0;
            }

            .icon {
              color: green;
            }
          }

          .btn-link {
            margin-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            padding: 1px 1rem;
            margin-top: 1rem;
            width: auto !important;
            font-size: 14px;

            &:focus {
              box-shadow: none;
            }

            &.disabled {
              color: $gray-dark-1;
              cursor: default;
            }
          }
        }

        .setup-mode {
          display: flex;
          flex-direction: column;

          .description {
            flex: 1;
          }

          .card-button {
            margin-bottom: 1.5rem;
          }

          .btn--primary {
            width: 100%;
          }

          button {
            margin-bottom: 0;
          }
        }

        footer {
          display: flex;

          div {
            width: 100%;
            justify-content: flex-start;
            padding-top: rem(12);
            text-align: center;
          }

          .status {
            &:focus {
              box-shadow: none;
            }

            span {
              color: $gray-base;
            }
          }
        }
      }
      .cs-card.header-bar.cta-bar header::after {
        border-top-color: $color-cta-base !important;
      }

      .cs-card.header-bar.care-bar header::after {
        border-top-color: $color-people-base !important;
      }
    }
  }

  .h6 {
    margin-bottom: 1rem;
  }

  .hybrid-google-calendar-footer {
    padding: 0 1rem !important;

    .status {
      display: block;
      padding-top: 0.9rem;
      padding-bottom: 1rem;
      color: inherit;
    }
  }

  .cs-card.large > article header {
    padding-top: 0.5rem;
  }

  .hybrid-calendar-large {
    display: flex;
    flex-direction: column;

    .semi-card-container {
      display: flex;
      flex-direction: row;
      flex: 1;
      padding: 0 1.5rem 0.5rem;
    }

    .semi-card {
      background: $gray-light-4;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      flex: 1;

      &:first-child {
        margin-right: 1rem;
      }
    }

    .semi-card-title {
      margin: 1.5rem 0 1rem;
      text-align: center;

      img {
        height: 30px;
      }
    }

    .semi-card-content {
      flex: 1;
      text-align: center;
    }

    .semi-card-footer {
      text-align: center;
      height: 3rem;
      line-height: 3rem;

      a {
        color: $gray-base;
      }
    }

    .btn--primary {
      width: calc(100% - 1rem);
    }

    .btn.disabled {
      width: calc(100% - 1rem);
    }
  }

  // Active card
  .active-card {
    > article {
      display: flex;
    }

    .icon-question-circle {
      font-size: 1.125rem;
      padding-top: 0.8rem;
      margin-left: auto;
    }

    .badge {
      line-height: 0.8;
    }
  }

  .active-card_header,
  .inactive-card_header {
    padding: 0 1rem;
    margin-bottom: 1rem;

    h4 {
      @include text-overflow();
      font-size: 1.2rem !important;
      text-align: left !important;
    }
  }

  .active-card_header {
    display: flex;

    &.card_header--stretched {
      display: block;

      .icon-question-circle {
        position: absolute;
        top: 0;
        right: 1rem;
      }
    }

    h4 {
      flex: 1 1 auto;
    }
  }

  .active-card_logo,
  .inactive-card_logo {
    width: 90px;
    padding-top: 0.5rem;
  }

  .active-card_logo--google,
  .inactive-card_logo--google {
    width: 70px;
  }

  .active-card_content,
  .inactive-card_content {
    margin: 0 1rem;
    margin-bottom: auto;
  }

  .active-card_textfix {
    margin-bottom: 1rem;
  }

  .active-card_section {
    margin-bottom: 0.875rem;
  }

  .active-card_title {
    font-size: 0.75rem;
  }

  .active-card_action {
    font-size: 0.875rem;
  }

  .active-card_footer {
    padding: 0.375rem 1rem;
    text-align: left;
    background-color: $gray-light-4;

    a {
      &.service-operational {
        cursor: default
      }
      color: inherit;
      display: flex;
      align-items: center;
    }

    span {
      margin-right: auto;
    }
  }

  // Inactive card specific
  .inactive-card {
    > article {
      min-height: 320px !important;
    }
  }

  .inactive-card_footer {
    margin: 0 1rem 1rem;
    text-align: center;

    .btn {
      width: 100%;
    }

    .btn--link {
      margin-bottom: 0.5rem;
    }
  }
}
