@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import 'modules/sunlight/reports/_care-task';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';
@import '~collab-ui/scss/tools/placeholders/page-layout';

.customer-reports {
  @extend %content-subheader;
  @extend %page-content-padding;

  .customer-report-filter {
    width: vr-adjust(200);
    @include vr-spacing(pl, 1.25);
  }

  .cs-card-layout {
    @include vr-spacing(mb, 1);
  }

  .report-card,
  .report-box {
    .report-description {
      position: relative;
      z-index: 100;
    }

    .areachart {
      font-size: vr-adjust(12);
      height: vr-adjust(375);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
  }

  report-slider {
    width: calc(100% - 135px); // subtracting the width and margin of the download button
  }

  .download-page {
    @include vr-spacing(mh, 0.75);
    width: vr-adjust(125);
  }
}
