@import 'modules/sunlight/reports/_care-task';
@import 'styles/toolkit/spacing';
@import 'styles/toolkit/layout';

.customer-reports {
  @extend %content-subheader;
  @extend %page-content-padding;

  .customer-report-filter {
    width: vr-adjust(200);
    @include vr-spacing(pl, 1.25);
  }

  .cs-card-layout {
    @include vr-spacing(mb, 1);
  }

  .report-card,
  .report-box {
    .report-description {
      position: relative;
      z-index: 100;
    }

    .areachart {
      font-size: vr-adjust(12);
      height: vr-adjust(375);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
  }

  .download-page {
    @include vr-spacing(mh, 0.75);
    min-width: vr-adjust(150);
    width: 15%;
  }
}
