<div class="row settings">
  <div class="columns large-5 help-info">
    <h4 translate="cmc.settingsPage.title"></h4>
    <p translate="cmc.settingsPage.description"></p>
  </div>
  <div class="columns large-7">
    <div class="selector-wrapper">
      <label translate="cmc.settingsPage.mobileProvider.title"></label>
      <p translate="cmc.settingsPage.mobileProvider.description"></p>
      <div class="selector">
        <cs-select name="cmcMobileProvider" ng-model="$ctrl.mobileProvider" labelfield="label" valuefield="value" filter="false" is-disabled="true"></cs-select>
      </div>
    </div>

    <div class="selector-wrapper">
      <label translate="cmc.settingsPage.serviceProvider.title"></label>
      <p class="description-block" translate="cmc.settingsPage.serviceProvider.description"></p>
      <div class="selector">
        <cs-select name="cmcServiceProvider" ng-model="$ctrl.ucProvider" labelfield="label" valuefield="value" filter="false" is-disabled="true"></cs-select>
      </div>
    </div>
  </div>
</div>
