.user-list {
  .ngCell.col0 .ngVerticalBar,
  .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }

  .ngCell.col4 .ngVerticalBar,
  .ngHeaderCell.col4 .ngVerticalBar {
    display: none;
  }

  .ngHeaderText.colt5 {
  text-align: right;
}

 .user-img {
    height: 35px;
    width: 35px;
    margin: 4px 5px 4px 30px;

    .icon {
        font-size: 30px;
        line-height: 35px;
        bottom: -5px;
      }
  }

  .ngCell.colt5 {
    overflow: visible;

    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }
}

.export-users {
  color: @gray-light;
  font-size: 30px;
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  margin-left: 10px;
  border-left: solid 1px @gray-lighter;
  cursor: pointer;

  &:hover {
    color: @brand-primary;
    text-decoration: none;
  }
}

#addUsers {
  cursor:pointer;
  a {
    color:#333333;
  }
}


.btn-icon {
  background: none;
  border: none;
  box-shadow: none;
  width: 100%;
  text-align: right;

  &:hover,
  &:focus,
  &.active:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }

}

.btn-actions {
  float: right;
  padding: 15px 30px;
}

.user-status{
  padding: 14px 20px 14px 20px;
}




