@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.user-list {
  @extend %grid-subheader;
  @extend %page-background-white;

  .user-list__content {
    position: relative;
  }

  .grid-contents {
    height: inherit;
  }

  .ui-grid-cell:first-child,
  .ui-grid-header-cell:first-child {
    border-right: 0;
  }

  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.first,
  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.delete.first,
  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.delete.first,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.first,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.delete.first,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.delete.first {
    top: rem-calc(30) !important;
  }

  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite,
  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.delete,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.delete {
    top: rem-calc(-30);
  }

  .ui-grid-row:last-of-type .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.delete,
  .ui-grid-row:nth-last-of-type(2) .ui-grid-cell .dropdown.open .dropdown-menu.dropdown-primary.invite.delete {
    top: rem-calc(-60);
  }

  .user-status {
    padding-right: rem(8);
  }

  .action-panel {
    .block {
      display: flex;
      flex: 1 1 auto;
      align-items: center;
    }

    .icon {
      color: $color-people-base;
      font-size: 2.2rem;
      margin-left: 1rem;
      margin-right: 1rem;
      cursor: pointer;
    }

    .add-users-button {
      display: block;
    }

    .dl-button {
      margin-top: 0.5rem;
    }
  }

  .export-users {
    display: flex;
    flex: 0 0 auto;
    align-items: center;

    .icon {
      color: $gray-dark-1;
      font-size: 1.5rem;
      margin-left: 1rem;
      cursor: pointer;
    }
  }

  .too-many-users {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
  }

  .too-many-users__content {
    margin: auto;
    margin-top: 150px;
    text-align: center;
    color: $gray-darker;
  }
}
