.user-list {
  @extend %grid-subheader;
  @extend %page-background-white;

  .ui-grid-cell:first-child ,
  .ui-grid-header-cell:first-child  {
   border-right: 0px;
  }

  .user-status {
    font-size: 0.6rem;
    padding-right: rem(3);
    &-yellow {
      color: $brand-warning;
    }
    &-green {
      color: $brand-success;
    }
  }

  .export-users {
    .icon-content-share {
      color: $gray;
      font-size: 1.5rem;
      padding-left: .5rem;
      margin-left: .5rem;
      padding-right: .5rem;
      margin-right: .5rem;
      margin-top: 1rem;
      cursor: pointer;
      &:hover {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }

  .too-many-users {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    text-align: center;
    color: $gray-darker;
  }
}
