<div class="user-list">
  <cs-page-header title="{{::pageTitle}}"></cs-page-header>
  <cs-page-sub-header>
    <cs-page-sub-header-left>
      <cs-searchfilter filters="filters" set-filter-fn="setFilter(filter.filterValue)" ng-model="placeholder.count"
                       search-item-fn="filterList(searchStr)" placeholder-text="{{placeholder.name}}">
      </cs-searchfilter>
    </cs-page-sub-header-left>

    <cs-page-sub-header-right class="action-panel" ng-show="Utils.isAdminPage()">
      <div class="export-users">
        <csv-download type="any" filename="exported_file.csv" no-icon status-message="{{::'usersPage.exportingUserAttributes' | translate}}" download-state="users.csv"></csv-download>
        <button ng-disabled="!obtainedTotalUserCount" id="manageUsers" class="btn btn--people" ng-click="onManageUsers()"
                translate="usersPage.manageUsers">
        </button>
      </div>
    </cs-page-sub-header-right>

  </cs-page-sub-header>
  <div id="usersListPanel" class="row grid">
    <div class="gridStyle" ui-grid="gridOptions" ui-grid-selection ui-grid-infinite-scroll></div>
    <div class="grid-refresh" ng-if="gridRefresh">
      <i class='icon icon-spinner icon-2x'></i>
    </div>
    <div class="too-many-users" ng-if="activeFilter === 'all' && tooManyUsers">
      <p class="h2" translate="usersPage.searchUser"></p>
      <p class="h4" translate="usersPage.tooManyUsers"></p>
    </div>
  </div>
</div>
<div ng-class="{preview: userPreviewActive, details: userDetailsActive}" class="user-management">
  <div ui-view class="outer-details-div" id="entire-slide"></div>
</div>
