.dashboard-header {
  margin-left: 2px;
  font-family: @brand-font-cisco-TT-Extra-Light;

  h4 {
    margin-top: 5px;
    padding-bottom: 0;
  }

  .item {
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    background-color: @brand-white;
  }

  .header-stat {
    font-size: 36px;
  }

  .item > i {
    float: left;
    color: white;
    padding: 15px;
    font-size: 30px;
    border-radius: 200px;
    background: @gray-lighter;
    height: 60px;
    width: 60px;
    text-align: center;
  }

  .addRemove {
    padding: 0px 15px 0px 15px;
    float: left;
    width: 150px;
  }

  .addRemoveItem {
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    background-color: @brand-white;
    height: 80px;
    text-align: center;
    cursor: pointer;
  }

  .addRemoveItem > i {
    border-radius: 100px;
    color: white;
    background: @gray-lighter;
    height: 25px;
    width: 25px;
    font-size: 25px;
  }

  .uc-config-button i {
    color: gray;
    font-size: 22px;
  }

  .content {
    padding-left: 80px;
  }
}
