.dashboard-header {
  margin-left: 2px;
  font-family: $brand-font-extra-light;
  h4 {
    margin-top: 5px;
    padding-bottom: 0;
  }
  .item {
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    background-color: $brand-white;
  }
  .header-stat {
    font-size: 36px;
  }
  .item > i {
    float: left;
    color: black;
    margin-top: 5px;
    font-size: 50px;
    text-align: center;
    background-color: $brand-white;
    padding: 0px;
  }

  .addRemove {
    padding: 0px 15px 0px 15px;
    float: left;
    width: 150px;
  }

  .addRemoveItem {
    padding: 10px 20px;
    background-color: $brand-white;
    height: 95px;
    text-align: center;
    cursor: pointer;
  }

  .addRemoveItem > i {
    border-radius: 100px;
    color: white;
    background: $gray-lighter;
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .uc-config-button i {
    color: gray;
    font-size: 20px;
  }
  .content {
    padding-left: 70px;
  }
  .export-users-statuses-icon {
    color: $gray-dark;
    font-size: 18px;
    display: inline-block;
    float: right;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
  .export-users-statuses {
    color: $gray-dark;
    display: inline-block;
    cursor: pointer;
    &:hover {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}

.brand-primary {
  color: $brand-primary;
}
