.dashboard-header {
  margin-left: 2px;
  text-align: center;
  font-family: @brand-font-cisco-TT-Extra-Light;
}

.dashboard-header h4 {
  padding-bottom: 0;
}

.dashboard-header .item {
  margin: 0 20px;
  padding: 10px 30px;
  background-color: @brand-white;
}

.dashboard-header .header-stat {
  font-size: 36px;
}

@media (max-width: @screen-sm-min) {
  .dashboard-header {
    padding: 20px 30px;
  }
  .dashboard-header .item {
    padding: 0;
  }
}
