.dashboard-header {
  margin-left: 2px;
  font-family: @brand-font-cisco-TT-Extra-Light;

  h4 {
    margin-top: 5px;
    padding-bottom: 0;
  }

  .item {
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    background-color: @brand-white;
  }

  .header-stat {
    font-size: 36px;
  }

  i {
    float: left;
    color: white;
    padding: 15px;
    font-size: 28px;
    border-radius: 100px;
    background: @gray-lighter;
  }

  .content {
    padding-left: 80px;
  }
}
