<div>
  <h3 style="padding-left: 20px">Services</h3>
  <div class="dashboard-header row" ng-hide="noServicesEnabled">
    <div class="col-sm-6 col-md-5 col-lg-4" ng-repeat="(type, service) in serviceAggregates.services">
      <div class="item">
        <i ng-class="serviceIcon(service.service_id)" />
        <hercules-uc-config-button style="float: right" ng-show="service.type == 'c_ucmc'"></hercules-uc-config-button>
        <div class="content clearfix">
          <h4><span translate="hercules.serviceNames.{{service.service_id}}"/></h4>
          <div>
            <div>
              Clusters: {{service.running}} running.
              <span class="error" ng-show="service.needs_attention > 0">{{service.needs_attention}} needs attention.</span>
            </div>
            <div>
              Users: {{summary(service.service_id).activated}} activated.
              <span class="error" ng-show="summary(service.service_id).error > 0 && clusters && clusters.length > 0">{{summary(service.service_id).error}} in error.</span>
              <span class="export-users-statuses-icon" tooltip-placement="top" tooltip="User Status Report" tooltip-animation="false" tooltip-append-to-body="true"><i class="icon icon-content-share" ng-click="openUserStatusReportModal(service.service_id)"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 style="padding-left: 20px; color: #ccc" ng-show="noServicesEnabled">
    No Services Added
  </h4>
</div>
