<div class="modal-content small">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.dismissModal()"></button>
    <h3 class="modal-title" translate="hcs.prechecks.title"></h3>
  </div>
  <div class="modal-body">
    <div ng-if="!$ctrl.runningPrechecks">
      <h4 style="margin-bottom: 2rem;" translate="hcs.prechecks.choose"></h4>
      <div class="cs-checkbox-group">
        <div class="container row">
          <input
            cs-input
            type="checkbox"
            ng-model="$ctrl.spacePrecheck"
            id="spaceBox"
            name="spaceBox"
            cs-input-label="{{::'hcs.prechecks.availableSpace' | translate}}"
            cs-input-help-text="{{::'hcs.prechecks.availableSpaceDesc' | translate}}"/>
        </div>
        <input
          cs-input
          type="checkbox"
          ng-model="$ctrl.copPrecheck"
          id="copBox"
          name="copBox"
          cs-input-label="{{::'hcs.prechecks.copFiles' | translate}}"
          cs-input-help-text="{{::'hcs.prechecks.copFilesDesc' | translate}}"/>
      </div>
    </div>
    <div ng-if="$ctrl.runningPrechecks">
      <h4 style="margin-bottom: 2rem;" translate="hcs.prechecks.runningPrechecks"></h4>
      <div ng-if="$ctrl.spacePrecheck" class="container row">
        <span class="medium-2">
          <i ng-if="$ctrl.spacePrecheckRunning" class="icon icon-spinner"></i>
          <i ng-if="!$ctrl.spacePrecheckRunning" class="icon icon-check"></i>
        </span>
        <span class="h5" translate="hcs.prechecks.availableSpace"></span>
      </div>
      <div ng-if="$ctrl.copPrecheck" class="container row">
        <span class="medium-2">
          <i ng-if="$ctrl.copPrecheckRunning" class="icon icon-spinner"></i>
          <i ng-if="!$ctrl.copPrecheckRunning" class="icon icon-check"></i>
        </span>
        <span class="h5" translate="hcs.prechecks.copFiles"></span>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$ctrl.dismissModal()" translate="common.cancel"></button>
    <button class="btn btn-primary" ng-click="$ctrl.runPrechecks()" ng-disabled="$ctrl.runningPrechecks" translate="hcs.prechecks.runPrechecks"></button>
  </div>
</div>
