<div class="row">
  <div class="sub-title col-md-12">
      <span translate="usersPreview.telephonyPreview"></span>
  </div>
</div>
<div class="row">
  <div class="dir-number-list col-md-12">
    <div ng-repeat="directoryNumber in vm.telephonyInfo.directoryNumbers track by directoryNumber.uuid" class="dir-number sub-service">
      <a id="{{directoryNumber.uuid}}" ui-sref="users.list.preview.directorynumber({directoryNumber: directoryNumber})" ui-sref-active="selected" ng-click="vm.showDirectoryNumberPanel(directoryNumber)">
        <span class="sub-service-title"><span class="number">{{directoryNumber.pattern}}</span><span class="number" ng-if="directoryNumber.altDnPattern !== ''" translate="telephonyPreview.or" translate-values="{directoryNumber: directoryNumber.altDnPattern}"></span></span>
        <span class="usage" ng-if="directoryNumber.dnUsage">{{directoryNumber.dnUsage}}</span>
        <i class="icon icon-arrow-next pull-right"></i>
      </a>
    </div>
    <div class="dir-number sub-service" ng-show="vm.telephonyInfo.currentDirectoryNumber.uuid === 'new'">
      <a id="addNewLine" ui-sref="users.list.preview.directorynumber({directoryNumber: 'new'})" ui-sref-active="selected" ng-click="vm.showDirectoryNumberPanel('new')">
        <span class="sub-service-title"><span class="number" translate="usersPreview.newLine"></span></span>
        <i class="icon icon-arrow-next pull-right"></i>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="voicemail col-md-12">
    <div class="sub-service">
      <a ui-sref="users.list.preview.voicemail" ui-sref-active="selected">
        <span class="sub-service-title" translate="telephonyPreview.voicemail"></span>
          <i class="icon icon-arrow-next pull-right"></i>
        <span id="voicemailStatus" class="status">{{vm.telephonyInfo.voicemail}}</span>
      </a>
    </div>
  </div>
</div>
<div class="row">
  <div class="single-number-reach col-md-12">
    <div class="sub-service">
      <a ui-sref="users.list.preview.snr" ui-sref-active="selected">
        <span class="sub-service-title" translate="telephonyPreview.singleNumberReach"></span>
          <i class="icon icon-arrow-next pull-right"></i>
        <span id="snrStatus" class="status">{{vm.telephonyInfo.singleNumberReach}}</span>
      </a>
    </div>
  </div>
</div>
