.fusion-resource-setting {


  .clusterid {
    background: white;
    font-size: 14px;
  }

  h5 {

    margin-top: 10px;
    margin-left: 5px;
  }

  p {
    margin-left: 5px;
  }

  button {
    margin-top: 15px;
  }
}

.deregister-expressway-modal {

  .serviceicon {
    vertical-align: middle;
    margin-left: 8px;
  }

}

