<form style="margin-top: 0px; margin-bottom: 10px">
<!--  <cs-select aa-key="$index" ng-model="aaRouteToHG.hgSelected" options="aaRouteToHG.huntGroups" labelfield="description" valuefield="id" placeholder="aaRouteToHG.selectPlaceholder" filter="true" on-change-fn="aaRouteToHG.saveUiModel()">
  </cs-select>
  -->
  <cs-select ng-model="aaRouteToHG.hgSelected" options="aaRouteToHG.huntGroups" labelfield="description" valuefield="id" placeholder="aaRouteToHG.selectPlaceholder" filter="true" on-change-fn="aaRouteToHG.saveUiModel()">
  </cs-select>
</form>
