.dashboard-info-panel {
  background: white;
  border: 1px solid $gray-lighter;

  &:first-child {
    background: $brand-white;
    padding: 20px 10px 10px 10px;
    margin: 0px 0px 10px 20px;
  }
  .panel,
  .panel-group {
    margin: 0;
  }
  .panel {
    margin-bottom: 5px;
    box-shadow: none;
  }
  .panel-heading,.panel-heading:hover {
    border: 0;
    color: #333;
    background: white;
  }
  *:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  .panel-heading:hover a {
    color: $brand-primary;
  }
  .panel-body, .panel-group .panel-heading + .panel-collapse .panel-body {
    border: 0;
    margin-top: 0;
    padding: 0px 0px 0px 106px;
  }
  .panel-heading .badge.badge-custom-warn {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-warning;
    font-size: 12px;
  }
  .panel-heading .badge.badge-custom-info {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-primary;
    font-size: 12px;
  }
  .panel-heading .badge.badge-custom-error {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-danger;
    font-size: 12px;
  }
}

.dashboard-info-panel:after {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  bottom: 100%;
  right: 88px;
  border-bottom: 17px solid #FFF;
  margin-top: 0px;
  z-index: 1;
  margin-bottom: -1px;
}

.dashboard-info-panel:before {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  bottom: 100%;
  right: 88px;
  margin-top: 0px;
  z-index: 1;
  border-bottom: 17px solid $gray-lighter;
}
