.dashboard-info-panel {
  background: white;

  &:first-child {
    background: $brand-white;
    padding: 20px 10px 10px 10px;
    margin: 0 10px 10px 20px;
  }
  .panel,
  .panel-group {
    margin: 0;
  }
  .panel {
    margin-bottom: 5px;
    box-shadow: none;
  }
  .panel-heading,.panel-heading:hover {
    border: 0;
    color: #333;
    background: white;
  }
  *:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  .panel-heading:hover a {
    color: $brand-primary;
  }
  .panel-body, .panel-group .panel-heading + .panel-collapse .panel-body {
    border: 0;
    margin-top: 0;
    padding: 0px 0px 0px 106px;
  }
  .panel-heading .badge.badge-custom-warn {
    width: 55px;
    height: 25px;
    color: white;
    padding-top: 6px;
    background: $brand-warning;
    font-size: 12px;
  }
  .panel-heading .badge.badge-custom-info {
    width: 55px;
    height: 25px;
    color: white;
    padding-top: 6px;
    background: $brand-primary;
    font-size: 12px;
  }
  .panel-heading .badge.badge-custom-error {
    width: 55px;
    height: 25px;
    color: white;
    padding-top: 6px;
    background: $brand-danger;
    font-size: 12px;
  }
}
