.dashboard-info-panel {
  background: white;
  border: 1px solid $gray-lighter;
  margin: 1rem 0;

  &:first-child {
    background: $brand-white;
  }
  .content,
  .accordion--navigation {
    margin: 0;
  }
  .content {
    box-shadow: none;
  }
  .accordion--navigation,.accordion--navigation:hover {
    border: 0;
    color: #333;
    background: white;
  }
  *:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
  .accordion .accordion--navigation > a {
    background: transparent;
    border-color: transparent;
    color: inherit;
  }
  .accordion--navigation:hover a {
    color: $brand-primary;
  }

  .accordion--navigation span {
    margin-left: 5px;
  }
  .accordion .accordion--navigation .content {
    border: 0;
    margin-top: -10px;
    padding: 0px 0px 0px 102px;
  }
  .accordion--navigation .badge.badge-custom-warn {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-warning;
    font-size: 12px;
  }
  .accordion--navigation .badge.badge-custom-info {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-primary;
    font-size: 12px;
  }
  .accordion--navigation .badge.badge-custom-error {
    width: 55px;
    color: white;
    padding-top: 6px;
    background: $brand-danger;
    font-size: 12px;
  }
}

.dashboard-info-panel:after {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  top: 0;
  right: vr-adjust(50);
  border-bottom: 17px solid #FFF;
  margin-top: 0px;
  z-index: 1;
  margin-bottom: -1px;
}

.dashboard-info-panel:before {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  top: -1px;
  right: vr-adjust(50);
  margin-top: 0px;
  z-index: 1;
  border-bottom: 17px solid $gray-lighter;
}
