<cs-accordion ng-show="userActivationNotComplete">
  <cs-accordion-group
    is-open="false"
    show-caret="true"
    display-status="warning">

    <cs-accordion-heading style="background: white;">
      <span class="badge badge-custom-warn">To-do</span>
      <span>Enable Services for Users</span>
    </cs-accordion-heading>

    <div style="margin: 0 0 10px;">
      <p>The following Services have not been turned on for any users: <span ng-repeat="service in xsummary | filter: { needsUserActivation: true }"><span translate="hercules.serviceNames.{{service.serviceId}}"/>{{$last ? '' : ', '}}</span>.</p>
      <p>Click on a user in the Spark Management <a href ng-click="navigateToUsers()">Users</a> list to bring up the Overview pane where you can enable Cloud Extension services.</p>
      <p>It can take a few minutes for the service to be fully activated.</p>
    </div>

  </cs-accordion-group>
</cs-accordion>

<cs-accordion ng-show="servicesWithUserErrors">
  <cs-accordion-group
    is-open="false"
    show-caret="true"
    display-status="warning">

    <cs-accordion-heading style="background: white;">
      <span class="badge badge-custom-warn">To-do</span>
      <span>Review Service Activation Errors</span>
    </cs-accordion-heading>

    <div style="margin: 0 0 10px;">
      <p>There are users with service activation errors:</p>
      <ul>
        <li ng-repeat="service in xsummary | filter: { errors: '!0' }">
          <span translate="hercules.serviceNames.{{service.serviceId}}"/>: <a href ng-click="showUserStatusesDialog(service.serviceId)"><span class="error">{{service.errors}} in error.</span></a>
        </li>
      </ul>
    </div>

  </cs-accordion-group>
</cs-accordion>
