<cs-accordion ng-show="userActivationNotComplete">
  <cs-accordion-group
    is-open="false"
    show-caret="true"
    display-status="warning"
    heading="Enable Services For Users">

    <div style="margin: 0 0 10px;">
      <p>The following services are not enabled for your users: <span ng-repeat="service in xsummary | filter: { needsUserActivation: true }"><span translate="hercules.serviceNames.{{service.serviceId}}"/>{{$last ? '' : ', '}}</span>.</p>
      <div>
        <p>To enable Cloud Extensions for your users:</p>
        <ol>
          <li>Go to the Users > <a href ng-click="navigateToUsers()">List Users</a> page</li>
          <li>Select a user</li>
          <li>Drill down to the Cloud Extension Service you want to turn on</li>
        </ol>
        <p>Note! It might take a few minutes for the service to be turned on (reflected in Cloud Extension Status).</p>
      </div>
    </div>

  </cs-accordion-group>
</cs-accordion>

<cs-accordion ng-show="servicesWithUserErrors">
  <cs-accordion-group
    is-open="false"
    show-caret="true"
    display-status="warning"
    heading="Review Service Activation Errors">

    <div style="margin: 0 0 10px;">
      <p>There are users with service activation errors:</p>
      <ul>
        <li ng-repeat="service in xsummary | filter: { errors: '!0' }">
          <span translate="hercules.serviceNames.{{service.serviceId}}"/>: <a href ng-click="showUserStatusesDialog('squared-fusion-cal')">{{service.errors}} users.</a>
        </li>
      </ul>
    </div>

  </cs-accordion-group>
</cs-accordion>
