.has-error .custom-combobox .input-group .form-control:focus + .input-group-btn > .btn {
    box-shadow: 0 0 0 2px #f05d3b;
    border-color: transparent;
  }
.custom-combobox {
  .dropdown-menu {
    min-width: calc(100% + 45px);
    overflow-y: scroll;
    max-height: 261px;
  }

  .has-error & .input-group-btn > .btn, .has-error .custom-combobox .input-group .form-control:focus + .input-group-btn > .btn {
    box-shadow: 0 0 0 2px #f05d3b;
    border-color: transparent;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    width: 90%;

    .form-control {
      flex: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-group-btn {
      .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        z-index: 100;
        position: relative;
        height: 1.95rem;
      }
    }

    .form-control,
    .input-group-btn>.btn {
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

  }

  &.open .input-group .form-control,
  &.open .input-group-btn>.btn,
  .input-group .form-control:focus,
  .input-group .form-control:focus+.input-group-btn>.btn {
    box-shadow: 0 0 0 2px #1472aa;
    border-color: transparent;
  }

  .has-error &.open .input-group .form-control,
  .has-error &.open .input-group-btn>.btn,
  .has-error .custom-combobox .input-group .form-control:focus,
  .has-error .custom-combobox .input-group .form-control:focus+.input-group-btn>.btn {
    box-shadow: 0 0 0 3px #f4846a;
    border-color: transparent;
  }

  .has-error & .input-group .form-control {
    box-shadow: 0 0 0 3px #EF5E3C;
    border-color: transparent;
  }

}

form[name="settings.form"] .validation {
  position: absolute;
  right: -68px;
  top: 4px;
}
