<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span class="sr-only" translate="common.close"></span>
  </button>
  <h3 class="modal-title" translate="servicesOverview.cards.privateTrunk.setupTitle"></h5>
</div>
<div class="modal-body private-trunk">
  <p translate="servicesOverview.cards.privateTrunk.setupDescription"></p>
    <h5 translate="servicesOverview.cards.privateTrunk.domainVerification"></h5>
  <p>
    <i class="icon icon-error red-error-icon"></i>
    <span translate="servicesOverview.cards.privateTrunk.domainVerificationDescription"></span>
    <a translate="servicesOverview.cards.privateTrunk.verifyADomain"></a>
  </p>
    <h5 translate="servicesOverview.cards.privateTrunk.basicConnectivity"></h5>
  <ul>
    <li ng-repeat="help in setup.connectivityHelpMessages">
      <p>
        <span> {{::help.helpText}} </span>
        <a name="certificatehelp" translate="servicesOverview.cards.privateTrunk.help"></a>
      </p>
    </li>
  </ul>
  <h5 translate="servicesOverview.cards.privateTrunk.fullService"></h5>
  <ul>
    <li ng-repeat="help in setup.fullServiceHelpMessages">
      <p>
        <span> {{::help.helpText}} </span>
        <a name="certificatehelp" translate="servicesOverview.cards.privateTrunk.help"></a>
      </p>
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()" translate="common.cancel"></button>
  <button cs-btn class="btn btn-primary" ng-click="vm.next()">
    <span translate="common.next"></span>
  </button>
</div>