<div ng-form="privateTrunkCertificateForm" class="private-trunk">
  <h5 ng-if="!$ctrl.isFirstTimeSetup" class="cert-top-margin" translate="servicesOverview.cards.privateTrunk.certificateTitle"></h5>
  <h4 ng-if="$ctrl.isFirstTimeSetup" translate="servicesOverview.cards.privateTrunk.certificateTitle"></h4>
  <span class="span-font-size"
    ng-class="{'font-settings': !$ctrl.isFirstTimeSetup}"
    translate="servicesOverview.cards.privateTrunk.certDescNew"
    translate-values="{href: 'https://collaborationhelp.cisco.com/article/en-us/DOC-4302'}"></span>
  <span class="span-font-size" ng-class="{'font-settings': !$ctrl.isFirstTimeSetup}" translate="servicesOverview.cards.privateTrunk.upload"></span>
  <span ng-if="$ctrl.serviceId === 'ept'" class="span-font-size" ng-class="{'font-settings': !$ctrl.isFirstTimeSetup}" translate="servicesOverview.cards.privateTrunk.click" translate-values="{href: 'https://www.cisco.com/go/spark-calling-branch-office'}"></span>
  <span ng-if="$ctrl.serviceId === 'squared-fusion-ec'" class="span-font-size" ng-class="{'font-settings': !$ctrl.isFirstTimeSetup}" translate="servicesOverview.cards.privateTrunk.click" translate-values="{href: 'https://www.cisco.com/go/hybrid-services-call' }"></span>
  <div>
    <div class="margin-input">
      <input cs-input type="checkbox"
        ng-model="$ctrl.certificateCustom"
        id="certificateChk"
        name="certificateChk"
        ng-value="true"
        checked="true"
        ng-disabled="$ctrl.formattedCertList.length > 0"
        cs-input-label="{{'servicesOverview.cards.privateTrunk.certificateCustom' | translate}}"
        ng-change="$ctrl.changeOption()">
    </div>
    <div class="row">
      <div class="columns large-12 medium-12 small-12" ng-if="$ctrl.formattedCertList.length > 0 || $ctrl.certificateCustom">
        <div class="box center singlebox-margin">
          <div class="flex-center-container certificate-upload">
            <label ng-if="$ctrl.isImporting" class="icon-label" for="import">
                <span class="icon icon-spinner"></span>
                <span class="body-small span-text" translate="siteList.siteCsvImportInProgressLinkLabel"></span>
            </label>
            <div ng-if="!$ctrl.isImporting" class="file-drop"
              cr-file-drop
              file="$ctrl.file"
              file-name="$ctrl.fileName"
              file-max-size="10"
              file-type=".pem .crt .der"
              file-suffix="pem crt der">
              <label class="icon-label" for="upload">
                <span class="icon icon-upload"></span>
                <span class="body-small span-text" translate="hercules.settings.call.certificatesUpload"></span>
              </label>
              <input cr-file-read
                id="upload"
                type="file"
                name="upload"
                file="$ctrl.file"
                file-name="$ctrl.fileName"
                file-max-size="10"
                file-type=".pem .crt .der application/x-x509-ca-cert"/>
              <div class="prompt" >
                <span class="body-small" translate="servicesOverview.cards.privateTrunk.dragAndDropKeyFileHere "></span>
                <label for='upload' class="body-small" translate="userManage.bulk.fileBrowser"></label>
              </div>
            </div>
          </div>
      </div>
      </div>
        <div ng-repeat="cert in $ctrl.formattedCertList">
          <div class="columns large-12 medium-6 small-6">
            <div class="box multibox-margin padding-multi">
              <div>
                <i class="icon icon-certified icon-lg cert-icon cert-color"></i>
                <span class="span-filename">{{cert.commonName}}</span>
                <i class="icon icon-close close-icon-align" ng-click="$ctrl.deleteCert(cert.certId)"></i>
              </div>
              <div ng-repeat="(key, value) in cert" ng-if="key!=='certId'">
                <div class="body-small columns large-6 medium-6 small-6 cert-word-wrap bold padding-labels">{{$ctrl.certLabels[$index]}}</div>
                <div ng-if="$index<8" class="body-small columns medium-6 small-6 large-6 cert-word-wrap">{{value}}</div>
                <div ng-if="$index>7" class=" body-small columns medium-6 small-6 large-6">{{value| date:'fullDate'}}</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row" id="private-trunk-certificate-defaults">
    <h5 ng-if="!$ctrl.isCustomEnabled()" translate="servicesOverview.cards.privateTrunk.certificateDefault"></h5>
    <h5 ng-if="$ctrl.isCustomEnabled()" translate="servicesOverview.cards.privateTrunk.certificateDefaultInactive"></h5>
    <div ng-if="$ctrl.isCustomEnabled()">
      <span translate="servicesOverview.cards.privateTrunk.inactiveHelp"> </span>
      <a href class="body-small" translate="servicesOverview.cards.privateTrunk.restore" ng-click="$ctrl.deleteAllCerts()">'.'</a>
    </div>
    <div class="columns large-12 medium-12 small-12">
      <div class="box multibox-margin">
          <div ng-class="{'box-disabled': $ctrl.isCustomEnabled()}">
            <i class="icon icon-certified icon-lg cert-icon" ng-class="{'cert-color': !$ctrl.isCustomEnabled()}" ></i>
            <span class="span-filename" translate="servicesOverview.cards.privateTrunk.certificateDefaultListNew"></span>
            <a
              class="close-icon-align body-small float-right-view"
              href="https://collaborationhelp.cisco.com/article/en-us/DOC-4302"
              target="_blank"
              translate="servicesOverview.cards.privateTrunk.view">
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
