.ct-summary {
  @include vr-spacing(mt, 11);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .success-icon {
    color: $color-cta-base;
  }

  .edit-message {
    @include vr-spacing(pt, 1.2);
    color: $color-attention-darker;
    line-height: initial;
    display: flex;
    flex-direction: row;
  }

  .warning-sign {
    color: $color-attention-base;
    @include vr-spacing(mr, 0.5);
  }

  .description {
    @include vr-spacing(pl, 1);
    @include vr-spacing(pv, 1);

    text-align: center;
    width: 100%;
  }

  > button {
    width: 5.5rem;
  }

  .retry-message {
    color: $color-alerts-base;
  }
}
