@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.ct-virtual-assistant {
  align-items: center;

  @mixin placeholder {
    /* stylelint-disable selector-no-vendor-prefix */
    ::-webkit-input-placeholder {
      @content;
    }

    :-moz-placeholder {
      @content;
    }

    ::-moz-placeholder {
      @content;
    }

    :-ms-input-placeholder {
      @content;
    }
    /* stylelint-enable selector-no-vendor-prefix */
  }

  .inputField {
    @include vr-spacing(mb, 0);

    color: $gray-dark-2;
  }

  .ct-attribute-field-textbox {
    @include placeholder {
      line-height: rem-calc(12);
    }

    font-family: 'CiscoSansTT Light';
    resize: none;
    width: 100%;
    height: 5rem;
  }

  .cs-card article.profile-preview {
    height: 26.5rem;
    width: 21.75rem;
    text-align: center;

    > header {
      height: 4rem;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      background-color: $gray-light-4;
      padding-top: 2rem!important;
      padding-bottom: 2rem!important;

      .profile-name {
        @include vr-spacing(pb, 0.5);

        flex: 0 1 65%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $color-primary-base;
      }

      .img {
        .icon-circle-computer-blank {
          font-size: 3rem;
        }
      }

      .uploded-bot-img {
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
        border: 1px solid $gray-light-1;
      }

      .bot {
        font-size: 1.8rem;
        border: 1px solid $gray-light-1;
        background-color: white;
        border-radius: 50%;
        @include vr-spacing(p, 0.5);
      }

      .actions {
        flex: 0 1 15%;

        > i {
          font-size: 1rem;
        }

        .icon-minus {
          @include vr-spacing(pr, 0.5);
        }
      }
    }

    .bot-message {
      text-align: left;
      @include vr-spacing(mt, 1);
      @include vr-spacing(ml, 1.5);
      @include vr-spacing(mr, 2);
      @include vr-spacing(mb, -2);

      border-radius: 2px 2px 0px;

      .bot-message-text {
        background-color: $gray-light-3;
        @include vr-spacing(mr, 2.5);
        @include vr-spacing(p, 0.5);
        word-wrap: break-word;
      }

      .time {
        text-align: left;
        background-color: $white;
        position: relative;
        top: -2.5rem;
      }

      .speech-bubble {
        top: -34px;
        left: -30px;
        width: 1.875rem;
        height: 1.875rem;
        position: relative;
        overflow: hidden;
        display: inline-block;
        background-color: $gray-light-3;

        > span {
          position: absolute;
          width: 3rem;
          height: 3rem;
          border-radius: 100%;
          background-color: $white;
        }

        .top {
          top: -14px;
        }

        .left {
          left: -14px;
        }
      }
    }

    > section {
      .customer-details {
        float: right;
        position: relative;

        .customer-message {
          @include vr-spacing(p, 0.75);

          color: $white;
          border-radius: 2px 2px 0px;
          background-color: $color-people-base;
        }

        .time {
          @include vr-spacing(mt, 0.5);
          @include vr-spacing(ml, 10);
        }

        .speech-bubble {
          top: 0.9375rem;
          right: 0.31rem;
          width: 1.875rem;
          height: 1.875rem;
          position: relative;
          overflow: hidden;
          display: inline-block;
          background-color: $color-people-base;

          > span {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background-color: $white;
          }

          .top {
            top: -14px;
          }

          .right {
            right: -14px;
          }
        }
      }
    }

    > footer {
      text-align: start;
      color: $gray-light-1;
      border-top: 1px solid $gray-light-3;

      @include vr-spacing(pv, 0.75);
    }
  }

  .cs-card article.profile-attributes {
    height: 26.5rem;
    width: 21.75rem;
    box-shadow: 0;
    background-color: $gray-light-4;

    @include vr-spacing(pt, 1);
    @include vr-spacing(ph, 1);

    .subheader-text {
      @include vr-spacing(pt, 1.25);
      @include vr-spacing(pb, 0.5);
    }

    .ct-display-txt {
      @include vr-spacing(pb, 0.5);

      padding-top: 0;
    }
  }

  .setting-info {
    position: absolute;
    color: $color-primary-base;
    bottom: 0.5rem;
    left: 0.25rem;
    @include vr-spacing(pl, 0.25);
    @include vr-spacing(pr, 0.25);

    .icon {
      bottom: -3px;
    }

    .setting-info-text {
      font-size: 10px;
      letter-spacing: 0;
      line-height: 16px;
    }
  }

  .bot-welcome-msg-help {
    color: $gray-base;
    letter-spacing: 0;
    line-height: 1rem;
    @include vr-spacing(mt, -0.625);
    padding: 0rem !important;
  }
}
