<div id="embedCodeModalDiv">
	<div class="modal-header">
	  <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
	  <span class="h3 modal-title sunlight-ellipsis-text" ng-attr-title="{{embedCodeCtrl.templateHeader}}" ng-bind="embedCodeCtrl.templateHeader"></span>
	</div>
	<div class="modal-body ct-embed-code-area lead">
	  <textarea class="script-area" rows=20 readonly ng-bind="embedCodeCtrl.embedCodeSnippet"></textarea>
	</div>
  <div class="modal-body">
    <div ng-if="embedCodeCtrl.isLoading"><i class='icon icon-spinner icon-2x'></i></div>
    <div ng-show="embedCodeCtrl.domainInfo.warn" class="flex-display">
      <i class="icon icon-warning warning-icon"></i>
      <div class="body-small warning-msg" translate="careChatTpl.embed-code.no-verified-domains.warn_v1"></div>
    </div>
    <div ng-show="embedCodeCtrl.domainInfo.data" class="flex-display">
      <i class="icon icon-warning warning-icon"></i>
      <div>
        <div class="body-small warning-msg" translate="careChatTpl.embed-code.verified-domains.info"></div>
        <div class="domain-list"><div class="body-small domain-names-style" ng-repeat="domain in embedCodeCtrl.domainInfo.data">{{domain}}</div></div>
        <div class="body-small warning-msg" translate="careChatTpl.embed-code.verified-domains.warn"></div>
      </div>
    </div>
    <div ng-show="embedCodeCtrl.domainInfo.error" class="flex-display">
      <i class="icon icon-error red-error-icon"></i>
      <div>
        <div class="body-small error-msg-1" translate="careChatTpl.embed-code.domain-fetch-error.info"></div>
        <div class="body-small warning-msg warning-msg-2" translate="careChatTpl.embed-code.domain-fetch-error.warn_v1"></div>
      </div>
    </div>
  </div>
	<div class="modal-footer">
	  <button class="btn btn-default" id="closeEmbedCodeBtn"
	          ng-click="$dismiss()" translate="common.close"></button>
	  <a id="downloadChatCodeTxt" ng-click="embedCodeCtrl.downloadEmbedCode($event); $dismiss();">
	  	<button class="btn btn--primary" id="copyEmbedCodeBtn" focus-on translate="careChatTpl.downloadEmbedCode"></button>
	  </a>
	</div>
</div>
