<div ng-form="hcsSelectionForm">
  <h5 translate="hcs.installFiles.description" class="hcs-service-setup__title"></h5>
  <input
    cs-input
    type="text"
    ng-model="$ctrl.fileName"
    id="installFilename"
    name="installFilename"
    required="true"
    placeholder="{{::'hcs.installFiles.enterFileName' | translate}}"
    ng-change="$ctrl.setInstallFileInfo()"
    cs-input-messages="$ctrl.messages"
    cs-input-label="{{:: 'hcs.installFiles.fileName' | translate}}">
  <label class="cs-input__label" translate="hcs.installFiles.httpProxies"></label>
  <h6 translate="hcs.installFiles.httpProxyDesc"></h6>
  <div class="hcs-padding__token hcs-install__token">
    <cs-token-field
      tokens="$ctrl.httpProxyToken"
      tokenfieldid="$ctrl.tokenfieldid"
      tokenoptions="$ctrl.tokenoptions"
      tokenplaceholder="ctrl.tokenplaceholder"
      tokenmethods="$ctrl.tokenmethods">
    </cs-token-field>
  </div>
</div>