@import 'ct-chat-common';

.ct-chat-status-messages {
  .cs-card {
    width: rem-calc(575px);
    height: rem-calc(515px);
  }
  .ct-status-section {
    @include vr-spacing(pl, 2);
    @include vr-spacing(pr, 2);
  }
  .ct-attribute-field-textbox {
    @include vr-spacing(ml, 3);
    width: 100%;
    height: rem-calc(40px);
    width: 30rem;
  }
  .margin-0 {
    @include vr-spacing(m, 0);
  }
}
