.ct-card-border-enabled {
  border: 1px solid $color-primary-base
}
.ct-card-border-disabled {
  border: 1px solid $gray-light-1
}

.overview-card-layout {
  align-items: center;
}
.ct-card-overview {
  height: rem-calc(220);
  width: rem-calc(350) !important;
  @include vr-spacing(mt, 3.5);
  box-shadow: 0px 0px 0px 0px !important;
  .icon.ct-card-img {
    font-size: 4rem;
  }
  .ct-card-img {
    @include vr-spacing(mt, 1);
    text-align: center;
    color: $gray-base
  }
  .ct-card-title {
    text-align: center;
    color: $gray-dark-1;
    @include vr-spacing(mt, 0.5);
  }
  .ct-card-desc {
    color: $gray-dark-1;
    text-align: center;
    width: 100%;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }
  .ct-toggle-position{
    margin-top: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center
  }
}
