.ct-feedback {

  @mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
    :-moz-placeholder {
      @content
    }
    ::-moz-placeholder {
      @content
    }
    :-ms-input-placeholder {
      @content
    }
  }

  .ct-article {
    box-shadow: none;
    border: 1px solid $gray-light-1;
  }

  .cs-card {
    @include vr-spacing(ml, 2);
    width: rem-calc(366px);
    height: rem-calc(458px);
    display: flex;
    flex-flow: column;
    .cardHeader1 {
      text-align: center;
      color: $gray-dark-1;
    }
    .articleHeight {
      height: 100%;
    }
  }

  .ct-feedback-rating {
    width: 100%;
  }

  .ct-left-row {
    &:hover {
      background-color: $color-primary-lighter;
    }
  }

  .labelText {
    @include vr-spacing(pt, 0.75);
  }

  .textOverflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .inputField {
    @include vr-spacing(mb, 0);
    color: $gray-dark-2;
  }

  .ct-left-cs-input {
    @include vr-spacing(ml, 1);
    @extend .cs-input;
    border-color: $gray-light-3;
    cursor: default;
    color: $gray-dark-1;
    pointer-events: none;
    width: 90%
  }

  .ct-footer {
    color: $gray-light-1;
    border-top: 1px solid $gray-light-3;
    @include vr-spacing(pv, 0.75);
    @include vr-spacing(pl, 0.5);
  }

  .ct-flex-topleft {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    .feedback-right-container {
      @include vr-spacing(ml, 1);
      width: 95%;
    }
  }

  .ct-attribute-right-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    .ct-default-msg {
      text-align: center;
      flex: 0;
      color: $gray-dark-1;
    }
  }


  .ct-attribute-field-label {
    @include vr-spacing(m, 0);
    font-family: "CiscoSansTT Regular";
  }

  .ct-attribute-field-textbox {
    @include placeholder {
      line-height: rem-calc(12px);
    }
    font-family: "CiscoSansTT Light";
    width: 90%;
    height: 2rem;
  }

  .ct-attribute-left-section {
    display: flex;
    flex-flow: column;
    background-color: $color-white;
    .ct-default-msg {
      max-width: 60%;
      text-align: center;
      flex: 0;
      color: $gray-dark-1;
    }
  }

  .ct-attribute-row {
    width: 100%;
  }

  .feedback-question-text {
    @include vr-spacing(mt, 4.5);
    font-size: $h6-font-size;
    font-family: CiscoSansTT Light;
    color: $gray-dark-2;
    align-self: center;
    height: 4rem;
    overflow: hidden;
    width: 18rem;
    text-align: center;
    @include vr-spacing(pr, 1);
    @include vr-spacing(pl, 1);
  }

  .feedback-star {
    @include vr-spacing(mt, 1.5);
    @include vr-spacing(mb, 2.5);
    @include vr-spacing(mh, 1.8);
    font-size: $h6-font-size;
    font-family: CiscoSansTT Light;
    color: $gray-dark-2;
    align-self: center;
  }

  .feedback-star-orange {
    color: $color-attention-base;
    align-self: center;
    @include vr-spacing(mr, 1.4);
    font-size: $h2-font-size;
  }

  .feedback-star-grey {
    color: $gray-light-2;
    align-self: center;
    font-size: $h2-font-size;
  }

  .feedback-comment-text {
    @include vr-spacing(pt, 0.375);
    @include vr-spacing(pr, 0.3125);
    @include vr-spacing(pl, 0.625);
    @include vr-spacing(m, 0);
    width: 18.75rem;
    height: 8.75rem !important;
    position: relative;
    align-self: center;
    font-family: CiscoSansTT Light;
    font-size: $h6-font-size;
    resize: none;
    border: 1px solid $gray-light-2;
    border-radius: 3px;
    background-color: $white;
  }

  .feedback-buttons {
    align-self: center;
  }

  .feedback-btn {
    @include vr-spacing(p, 0.3125);
    @include vr-spacing(mt, 1.5);
    @include vr-spacing(mr, 0.3125);
    @include vr-spacing(mb, 0.625);
    @include vr-spacing(ml, 0.5);
    border: medium none;
    border-radius: 0.25rem;
    color: $white;
    font-size: $h6-font-size;
    height: rem-calc(35px);
    position: relative;
    text-align: center;
    width: 18.75rem;
  }
}
