.ct-card-border-enabled {
  border: rem-calc(1) solid $color-primary-base;

}

.ct-card-border-disabled {
  border: rem-calc(1) solid $gray-light-1;
}

.ct-card-img {
  margin-top: rem-calc(17);
  text-align: center;
  color: $gray-base;
}
.ct-card-title {
  text-align: center;
  color: $gray-dark-1
}

.ct-card-desc {
  color: $gray-dark-1;
  text-align: center
}
.ct-card-overview {
  height: rem-calc(220);
  box-shadow: rem-calc(0) rem-calc(0) rem-calc(0) rem-calc(0) !important;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}



