.ct-chat-common {
  align-items: center;
  @mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
    :-moz-placeholder {
      @content
    }
    ::-moz-placeholder {
      @content
    }
    :-ms-input-placeholder {
      @content
    }
  }
  .cs-card {
    @include vr-spacing(ml, 2);
    width: rem-calc(366px);
    height: rem-calc(458px);
    display: flex;
    flex-flow: column;
    .cardHeader1 {
      text-align: center;
      color: $gray-dark-1;
    }
    .articleHeight {
      height: 100%;
    }
  }
  .ct-left-row {
    &:hover {
      background-color: $color-primary-lighter;
    }
  }
  .labelText {
    @include vr-spacing(pt, 0.75);
  }

  .textOverflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .inputField {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.1);
    color: $gray-dark-2;
  }
  .ct-left-cs-input {
    @include vr-spacing(ml, 1);
    @extend .cs-input;
    border-color: $gray-light-3;
    cursor: default;
    color: $gray-dark-1;
    pointer-events: none;
    width: 90%
  }
  .ct-footer {
    color: $gray-light-1;
    border-top: 1px solid $gray-light-3;
    @include vr-spacing(pv, 0.75);
    @include vr-spacing(pl, 0.5);
  }
  .ct-flex-topleft {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }
  .ct-attribute-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    .ct-default-msg {
      text-align: center;
      flex: 0;
      color: $gray-dark-1;
    }
  }
  .ct-attribute-field-label {
    @include vr-spacing(mb, 0);
    @include vr-spacing(ml, 1);
    font-family: $brand-font-cisco-TT-Regular;
  }
  .ct-attribute-field-textbox {
    @include placeholder {
      line-height: rem-calc(12px);
    }
    font-family: $brand-font-cisco-TT-Light;
    @include vr-spacing(ml, 1);
    width: 90%;
    height: 2rem;
  }
  .ct-attribute-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    .ct-default-msg {
      max-width: 60%;
      text-align: center;
      flex: 0;
      color: $gray-dark-1;
    }
  }
  .ct-attribute-row {
    width: 100%;
  }
}
