@import 'ct-chat-common';

.ct-chat-status-messages {
  .cs-card {
    width: rem-calc(575px);
    height: rem-calc(513px);
  }
  .ct-attribute-field-label {
    @include vr-spacing(mb, 0.3);
    @include vr-spacing(ml, 3);
  }
  .ct-attribute-field-textbox {
    @include vr-spacing(ml, 3);
    width: 85%;
    height: rem-calc(40px);
  }
}
