.ct-feedback {

  @mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
    :-moz-placeholder {
      @content
    }
    ::-moz-placeholder {
      @content
    }
    :-ms-input-placeholder {
      @content
    }
  }

  .cs-card {
    width: rem-calc(366px);
    height: rem-calc(458px);
    display: flex;
    flex-flow: column;
    .cardHeader1 {
      text-align: center;
      color: $gray-dark-1;
    }
    .articleHeight {
      height: 100%;
    }
  }

  .cardScroll {
    padding: rem-calc(15px) rem-calc(60px) rem-calc(50px) rem-calc(120px);
  }

  .ct-feedback-rating {
    width: 100%;
  }

  .ct-left-row {
    &:hover {
      background-color: $color-primary-lighter;
    }
  }

  .labelText {
    padding-top: .75rem;
  }

  .textOverflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .inputField {
    @include vr-spacing(ml, 1);
    @include vr-spacing(mb, 0.1);
    font-family: "CiscoSansTT Light";
    color: $gray-dark-2;
  }

  .ct-left-cs-input {
    @include vr-spacing(ml, 1);
    @extend .cs-input;
    border-color: $gray-light-3;
    cursor: default;
    color: $gray-dark-1;
    pointer-events: none;
    font-family: "CiscoSansTT Light";
    font-size: rem-calc(16px);
    width: 90%
  }

  .ct-footer {
    color: $gray-light-1;
    border-top: 1px solid $gray-light-3;
    @include vr-spacing(pv, 0.75);
    @include vr-spacing(pl, 0.5);
  }

  .ct-flex-topleft {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
  }

  .ct-attribute-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    .ct-default-msg {
      text-align: center;
      flex: 0;
      font-family: "CiscoSansTT Light";
      color: $gray-dark-1;
    }
  }


  .ct-attribute-field-label {
    @include vr-spacing(mb, 0);
    @include vr-spacing(ml, 1);
    font-family: "CiscoSansTT Regular";
  }

  .ct-attribute-field-textbox {
    @include placeholder {
      line-height: rem-calc(12px);
    }
    font-family: "CiscoSansTT Light";
    @include vr-spacing(ml, 1);
    width: 90%;
    height: 2rem;
  }

  .ct-attribute-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    .ct-default-msg {
      max-width: 60%;
      text-align: center;
      flex: 0;
      color: $gray-dark-1;
    }
  }

  .ct-attribute-row {
    width: 100%;
  }

  .feedback-question-text {
    font-size: 14px;
    font-family: CiscoSansTT Light;
    color: #555555;
    align-self: center;
    margin-top: 5.5rem;
  }

  .feedback-radio-list {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    position: relative;
    margin: 1.5rem 1.8rem 3.5rem 1.8rem;
    outline: none;
    z-index: 20;
  }

  .feedback-radio-outer {
    display: inline-block;
    margin-bottom: 0rem;
  }

  .feedback-radio {
    -webkit-appearance:none;
    -moz-appearance:none;
    width:1.5rem;
    height:1.5rem;
    margin:auto;
    border:1px solid #999999;
    border-radius:50%;
    outline:#999999;
    position: relative;
    background-color: #FFFFFF;
  }

  .feedback-radio-inner {
    background-color: #FFFFFF;
    display:block;
    width:0.85rem;
    height:0.85rem;
    border-radius:50%;
    margin: 0.25rem;
  }
  .feedback-radio-green {
    background-color:#7CC153;
  }

  .feedback-radio-line {
    height: 1px;
    width: 80%;
    background-color: #979797;
    position: relative;
    top: -5.4rem;
    z-index: 1;
    margin: 1rem auto;
  }

  .radio-text-div {
    align-self: stretch;
    margin-top: -5.4rem;
    display: flex;
    padding-bottom: 1.25rem;
  }

  .radio-text {
    font-size: 10px;
    font-family: "CiscoSansTT Light";
    color: #555555;
    text-align: center;
    width: 100%;
    margin-top: .625rem;
  }

  .radio-text-left {
    width: 40%;
  }

  .radio-text-middle {
    width: 50%;
    padding-left: 2.5rem;
  }

  .radio-text-right {
    width: 50%;
    padding-left: 3.125rem;
  }

  .feedback-comment-text {
    width: 18.75rem;
    margin: 0rem;
    height: 8.75rem !important;
    position: relative;
    align-self: center;
    font-size: 14px;
    resize: none;
    border: 1px solid #CCCCCC;
    border-radius: rem-calc(3px);
    background-color: #FFFFFF;
    padding: rem-calc(6px) rem-calc(5px) 0rem rem-calc(10px);
  }

  .feedback-buttons {
    align-self: center;
  }

  .feedback-btn {
    border: medium none;
    border-radius: 0.25rem;
    color: white;
    font-size: 15px;
    height: rem-calc(35px);
    position: relative;
    text-align: center;
    width: rem-calc(141px);
    margin: rem-calc(15px) rem-calc(5px) rem-calc(10px) rem-calc(8px);
    padding: rem-calc(5px);
  }
}
