.ct-profile {
  align-items: center;
  .cs-card article.profile-preview {
    height: 26.5rem;
    width: 21.75rem;
    text-align: center;

    > header {
      height: 4rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      background-color: $gray-light-4;

      .profile-name {
        flex: 0 1 65%;
        @include vr-spacing(pb, 0.5);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: $color-primary-base;
        .agent {
          opacity: 0.5;
        }
      }
      .img {
        .icon-circle-computer-blank {
          font-size: 3rem;
        }
        .icon-user {
         font-size: 2rem;
        }
        .uploded-org-img {
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          border: 1px solid $gray-light-1;
        }
        .agent {
          @include vr-spacing(mb, 0.5);
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          border: 1px solid $color-primary-base;
          background: $color-primary-base;
          >i {
            top: 0.6rem;
            left: 0.7rem;
            color: $white;
            font-size: 1.7rem;
          }
        }
      }
      .actions {
        flex: 0 1 15%;
        > i {
          font-size: 1rem;
        }
        .icon-minus {
          @include vr-spacing(pr, 0.5);
        }
      }
    }

    > section {
      .customer-details {
        float: right;

        .customer-message {
          color: $white;
          @include vr-spacing(p, 0.75);
          border-radius: 2px 2px 0px 2px;
          background-color: $color-people-base;
        }
        .time {
          @include vr-spacing(mt, 0.5);
          @include vr-spacing(ml, 10);
        }
        .speech-bubble {
          top: 0.9375rem;
          right: 0.3125rem;
          width: 1.875rem;
          height: 1.875rem;
          position: relative;
          overflow: hidden;
          display: inline-block;
          background-color: $color-people-base;
          > span {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background-color: $white;
          }
          .top {
            top: -14px;
          }
          .right {
            right: -14px;
          }
        }
      }

      .agent-message-details {
        float: left;
        @include vr-spacing(mt, 1);
        .message {
          @include vr-spacing(p, 0.75);
          border-radius: 2px 2px 2px 0px;
          background-color: $gray-light-3;
        }
        .time {
          @include vr-spacing(mt, 0.5);
          @include vr-spacing(mb, 8.5);
          @include vr-spacing(pr, 9.5);
        }
        .speech-bubble {
          top: 0.9375rem;
          left: 0.3125rem;
          width: 1.875rem;
          height: 1.875rem;
          position: relative;
          overflow: hidden;
          display: inline-block;
          background-color: $gray-light-3;
          > span {
            position: absolute;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            background-color: $white;
          }
          .top { top: -14px; }
          .left { left: -14px; }
        }

        .agent-status {
          @include vr-spacing(pr, 4);
        }
      }
    }

    > footer {
      text-align: start;
      color: $gray-light-1;
      border-top: 1px solid $gray-light-3;
      @include vr-spacing(pv, 0.75);
    }
  }

  .cs-card article.profile-attributes {
    height: 26.5rem;
    width: 21.75rem;
    box-shadow: 0;
    background-color: $gray-light-4;
    @include vr-spacing(pt, 1);
    @include vr-spacing(ph, 1);
    .subheader-text{
      @include vr-spacing(pt, 0);
      @include vr-spacing(pb, 0.5);
    }
    .agent-name-options {
      @include vr-spacing(mb, 0.5, 0px, true);
    }

    .profile-image {
      .img-common {
        width: 7.5rem;
        height: 7.5rem;
        border-radius: 50%;
        position: relative;
        text-align: center;
        @include vr-spacing(ml, 5.5);
      }
      .preview-org-img {
        font-size:7rem;
      }
      .uploaded-org-img {
        border-radius: 70%;
        border: 1px solid $gray-light-1;
        width: 7rem;
        height: 7rem;
      }
      .agent-img {
        background: $color-primary-base;
        border: 1px solid $color-primary-base;
        .icon-user-chat {
          font-size: 4rem;
          top: 1.5rem;
          color: $white;
        }
      }
    }

    .ct-org-logo-text{
      @include vr-spacing(pb, 1);
      text-align: center;
      color: $color-cta-dark;
      font-size: 12px;
      width: 100%;
    }

    .ct-display-txt {
      @include vr-spacing(pb, 0.5);
      padding-top: 0;
    }

  }
}
