@import 'ct-name';
@import 'ct-customer';
@import 'ct-feedback';
@import 'ct-profile';
@import 'ct-overview';
@import 'ct-offhours';
@import 'ct-chat-status-messages';

// These variables define the height of chat template setup assistant page title and desc
$ct-title-height : 48px;
$ct-desc-height: 32px;

.ct-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.ct-title-icon {
  @include vr-spacing(pr, 0.75);
  font-size: 3rem;
}

.ct-title-desc {
  text-align: center;
  color: $gray-dark-2;
  @include vr-spacing(mv, 1);
  @include vr-spacing(mh, 5);
}

.ct-success {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  @include vr-spacing(mt, 5);
  @include vr-spacing(mb, 2);
  @include vr-spacing(mh, 5);
  @include vr-spacing(pt, 6);
}

.ct-sa-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - #{($top-bar-height + $page-header-height + $ct-title-height + $ct-desc-height)});
  overflow: auto;

  .cs-card section ul {
    @include vr-spacing(p, 0);
  }
}

