<div>
  <div class="ct-title">
    <span class="h2" translate="careChatTpl.chatStrings"></span>
  </div>
  <div class="h4 ct-title-desc" translate="careChatTpl.chatStringsDesc"></div>
  <div class="ct-chatstring ct-sa-content">
    <cs-card-layout block-view="true" class="cardScroll">
      <cs-card>
        <article class="ct-article articleHeight">
          <section class="ct-attribute-section ct-flex-topleft">

            <div class="row ct-attribute-row labelText">
              <label class="cs-input__label ct-attribute-field-label  h4 large-11"
                     translate="careChatTpl.connecting">
              </label>
              <input id="connecting"
                     class="h5 inputField ct-attribute-field-textbox large-11"
                     type="text" maxlength="50" ng-minlength="1"
                     ng-model="careChatSA.template.configuration.pages.chatString.messages.connectingString.displayText"/>
            </div>

            <div class="row ct-attribute-row">
              <label class="cs-input__label ct-attribute-field-label  h4 large-11"
                     translate="careChatTpl.waiting">
              </label>
              <input id="waiting"
                     class="h5 inputField ct-attribute-field-textbox large-11"
                     type="text" maxlength="50" ng-minlength="1"
                     ng-model="careChatSA.template.configuration.pages.chatString.messages.waitingString.displayText"/>
            </div>

            <div class="row ct-attribute-row">
              <label class="cs-input__label ct-attribute-field-label  h4 large-11"
                     translate="careChatTpl.enterRoom">
              </label>
              <input id="enterRoom"
                     class="h5 inputField ct-attribute-field-textbox large-11"
                     type="text" maxlength="50" ng-minlength="1"
                     ng-model="careChatSA.template.configuration.pages.chatString.messages.enterRoomString.displayText"/>
            </div>

            <div class="row ct-attribute-row">
              <label class="cs-input__label ct-attribute-field-label  h4 large-11"
                     translate="careChatTpl.leaveRoom">
              </label>
              <input id="leaveRoom"
                     class="h5 inputField ct-attribute-field-textbox large-11"
                     type="text" maxlength="50" ng-minlength="1"
                     ng-model="careChatSA.template.configuration.pages.chatString.messages.leaveRoomString.displayText"/>
            </div>

            <div class="row ct-attribute-row">
              <label class="cs-input__label ct-attribute-field-label  h4 large-11"
                     translate="careChatTpl.chatting">
              </label>
              <input id="chatting"
                     class="h5 inputField ct-attribute-field-textbox large-11"
                     type="text" maxlength="50" ng-minlength="1"
                     ng-model="careChatSA.template.configuration.pages.chatString.messages.chattingString.displayText"/>
            </div>

          </section>
        </article>
      </cs-card>
    </cs-card-layout>
  </div>
</div>
