<div class="ct-profile">
  <div>
    <div class="h1 ct-title" translate="careChatTpl.profile"></div>
    <div class="h4 ct-title-desc" translate="careChatTpl.profileDesc"></div>
  </div>
  <div class="ct-profile-body ct-sa-content">
    <div>
      <span class="h4 preview" translate="careChatTpl.screen"></span>
      <span class="h4 attributes" translate="careChatTpl.attributes"></span>
    </div>
    <div class="cs-card-container">
      <cs-card-layout block-view="true">
        <cs-card class="medium header-border">
          <article class="ct-profile-preview">
            <header>
               <div class="img-details">
                 <div ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.org">
                  <i class="icon icon-circle-computer-blank icon-3x" ng-hide="careChatSA.logoUploaded"></i>
                  <img class="org-img" ngf-size="{{careChatSA.imgDetails.imageDim}}"ng-src="{{careChatSA.logoFile}}" ng-show="careChatSA.logoUploaded"/>
                 </div>
                 <div class="agent-img" ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.agent">
                    <i class="icon icon-user icon-2x"></i>
                 </div>
              </div>
              <div class="h5 name-details" ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.org">
               <div title="{{ careChatSA.orgName | translate}}" class="orgName">{{careChatSA.orgName | translate}}</div>
              </div>
               <div class="h5 name-details" ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.agent">
                  <div class="agentName">{{careChatSA.agentNamePreview | translate}}</div>
                  <div class="desc" translate="careChatTpl.agent"></div>
                </div>
              <div class="right action-details">
                <i class="icon icon-minus"></i>
                <i class="icon icon-close"></i>
              </div>
            </header>
            <section>
              <div class="agent-chat">
                <span class="agent-msg" translate="careChatTpl.agentMsg"></span>
                <span class="speech-bubble"><span class="top right"></span></span>
                <div class="body-smallest timer" translate="careChatTpl.agentMsgTime"></div>
              </div>
              <div class="customer-chat">
                <span class="speech-bubble">
                  <span class="top left"></span>
                </span>
                <span class="customer-msg" translate="careChatTpl.customerMsg"></span>
                <div class="body-smallest timer" translate="careChatTpl.agentMsgTime"></div>
                <em class="body-smallest agent-status" translate="careChatTpl.agentEnteredStatus"></em>
              </div>

            </section>
            <footer class="h6 footer" translate="careChatTpl.typeNewMsg"></footer>
          </article>
        </cs-card>
        <cs-card class="medium section-background">
          <article>
            <section class="ct-profile-attributes">
              <span class="h4" translate="careChatTpl.profileSelector"></span>
              <cs-radio class="h6" ng-repeat="(key, profile) in careChatSA.profiles" label="profile" value="profile" name="{{profile}}" id="profile" ng-model="careChatSA.selectedTemplateProfile"></cs-radio>
              <div ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.org">
                <div class="h4 img-txt" translate="careChatTpl.image"></div>
                <div class="ct-profile-img">
                  <i class="icon icon-circle-computer-blank preview-img" ng-hide="careChatSA.logoUploaded"></i>
                  <img class="uploaded-img" ng-src="{{careChatSA.logoFile}}" ng-show="careChatSA.logoUploaded"/>
                </div>
                <div class="h4 ct-display-txt" translate="careChatTpl.displayText"></div>
                <input class="h6" cs-input type="text" placeholder="Enter organization name" ng-model="careChatSA.orgName" cs-input-group-size="medium-14">
              </div>
              <div ng-if="careChatSA.selectedTemplateProfile === careChatSA.profiles.agent">
                <div>
                  <div class="h4 img-txt" translate="careChatTpl.image"></div>
                  <div class="ct-profile-agent-img">
                    <i class="agent-img icon icon-user"></i>
                  </div>
                </div>
                <div class="h4 ct-display-txt" translate="careChatTpl.displayText"></div>
                <div class="agent-name-options">
                  <cs-radio ng-repeat="(key, name) in careChatSA.agentNames" label="name" value="name" name="{{name}}" id="name" ng-model="careChatSA.selectedAgentProfile" ng-click="careChatSA.setAgentProfile()"></cs-radio>
                </div>

              </div>
            </section>
          </article>
        </cs-card>
      </cs-card-layout>
    </div>
  </div>
</div>

