@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.pg-edit {
  height: calc(100vh - #{($top-bar-height + $page-header-height)}) !important;
  overflow-y: auto;
  position: relative;
  background: $color-white;

  .cs-form__section--first {
    .cs-input {
      width: 20rem;
    }
  }

  .select-list {
    width: 10rem;
  }

  .cs-form__section--member {
    overflow-y: auto;
    overflow: visible;
    height: 100%;

    .section__content {
      .pg-search-add {
        display: inline-flex;
        align-items: inherit;
        margin: auto;
        width: 54.5rem;

        .cs-input {
          width: 20rem;
          margin-left: 2px;
          margin-bottom: 1rem;
        }

        .search-member {
          width: 300px;
          position: relative;

          @include vr-spacing(ml, 2);

          .icon-search {
            position: absolute;
            top: 10px;
            left: 10px;
          }

          input {
            width: 100%;
            text-indent: 20px;
          }
        }
      }

      .cs-card-layout {
        @include vr-spacing(ml, 1.5, 0px, true);
        @include vr-spacing(pb, 1);

        width: 58rem;
        height: 100% !important;
        padding-left: 0.75rem;
        margin-right: auto;
        display: inline-flex;
        flex-flow: row wrap;
        flex: 1;
        align-content: flex-start;
        justify-content: flex-start;
      }
    }
  }

  .pg-footer {
    margin: auto;
    width: 54.5rem;
    margin-bottom: 2rem;

    .member-count {
      color: $gray-light;
      padding-right: 2rem;
    }
  }
}

.paging-initiator-select {
  text-align: center;
  position: relative;

  @include vr-spacing(mt, 6, 0px, true);

  .paging-group-initiator-title {
    .title {
      color: $gray-light-1;
      font-family: $brand-font-thin;
      font-size: $h2-font-size;
    }

    .desc {
      @include vr-spacing(pb, 1.5);

      color: $gray-base;
      font-family: $brand-font-light;
      font-style: italic;
      font-size: $h5-font-size;
    }

    .initiator-warning {
      @include vr-spacing(pl, 0);

      color: $gray-darkest;
    }

    .pg-init-cs-input__messages {
      display: block;
      visibility: hidden;
    }

    .warning .pg-init-cs-input__messages {
      margin-top: -1rem;
      visibility: visible;
    }
  }

  .cs-radio-group {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .cs-input-group {
      display: inline;
      padding-right: 1rem;

      .cs-input {
        display: inline;
        padding-right: 1rem;
      }
    }
  }

  .cs-input {
    width: 20rem;
    text-align: left;
    margin: auto;
  }

  .dropdown-menu {
    width: auto;

    li {
      text-align: left;
    }

    .active > a {
      background-color: $gray-light-2;
    }
  }

  .pg-header {
    text-align: left;
    margin: auto;
    width: 54.5rem;

    .initiator-count {
      color: $gray-base;
    }
  }

  .cs-card-layout {
    @include vr-spacing(ml, 28.5, 0px, true);
    @include vr-spacing(pb, 1);

    position: fixed !important;
    height: 16rem !important;
    width: 58rem;
    left: 50%;
    margin-right: auto;
    overflow: auto;
    display: inline-flex;
    flex-flow: row wrap;
    flex: 1;
    align-content: flex-start;
    justify-content: center;
  }
}
