@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/settings/z-index';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.cs-setupassistant {
  &--content {
    .typeahead-large {
      &.with-feature-title {
        margin-top: calc(53vh - 327px);
      }

      &.fallback-destination-large {
        margin-top: calc(32vh - 143px);
      }

      .feature-title {
        @include vr-spacing(pt, 3);
        font-family: $brand-font-thin;
        font-size: $h1-font-size;
      }

      .feature-desc {
        @include vr-spacing(pb, 2.75);
        font-family: $brand-font-light;
        font-size: $h4-font-size;
      }
    }
  }

  form,
  .cs-form {
    margin-top: 0;
  }
}
