@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/z-index';

.callpickupedit-state {
  @extend %page-background-white;
}

.callparkedit-state {
  @extend %page-background-white;
}

.huntgroupedit-state {
  @extend %page-background-white;
}

.huronPagingGroupEdit-state {
  @extend %page-background-white;
}

.call-feature-edit {
  @extend %content-header;

  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .save-section {
    position: fixed;
    bottom: 0;
  }

  .cs-form {
    margin: 0;
  }

  .content-container {
    height: calc(100vh - (50px + (1px * 2) + 180px));
  }
}
