<div ng-if="$ctrl.entitled" class="hybrid-service-section">
  <h5 translate="helpdesk.hybridVoicemail.hybridVoicemail"></h5>
  <div class="row collapse">
    <div class="columns small-4 details-heading">
      <span>{{::'cloudExtensions.status' | translate}}: </span>
    </div>
    <div class="columns small-8 details-value">
      <span>{{$ctrl.status}}</span>
    </div>
  </div>
  <div class="row collapse" ng-show="$ctrl.visible">
    <div class="columns small-4 details-heading">
      <span>{{::'hercules.hybridVoicemailUserSection.pilot' | translate}}: </span>
    </div>
    <div class="columns small-8 details-value">
      <span>{{$ctrl.pilot}}</span>
    </div>
  </div>
  <div class="row collapse" ng-show="$ctrl.visible">
    <div class="columns small-4 details-heading">
      <span>{{::'hercules.hybridVoicemailUserSection.mwi' | translate}}: </span>
    </div>
    <div class="columns small-8 details-value">
      <span>{{$ctrl.mwi ? 'common.on' : 'common.off' | translate}}</span>
    </div>
  </div>
</div>
