.servicesOverview {
  .hidden {
    display: none;
  }

  h5 {
    position: relative;
    i {
      cursor: pointer;
    }
    .dropdown {
      position: absolute;
      top: 1.5rem;
      right: 0rem;
      background-color: white;
      border-radius: 2px;
      border: 1px solid $gray-dark-1;
      list-style-type: none;

      opacity: 1;
      z-index: 9;

      width: 10rem;

      text-transform: initial;
      font-size: 0.7rem !important;
      color: black !important;
      li {
        padding: 0.5rem;
        color: $gray-dark-1 !important;
        cursor: pointer;
      }
      li:hover {
        background-color: $gray-light-3;
      }
    }
  }

  .servicesBlock {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    margin-top: 1rem;
    margin-left: -1rem;

    display: block;
    min-height: 90vh;
    width: 100%;
    width: calc(100% + 2rem);

    h5 {
      margin-bottom: 1rem;
      margin-bottom: 0;
      margin-left: 0.5rem;

      opacity: 1;
      z-index: 100;
      span {
        font-size: 1rem;
      }
    }
    .cs-card-layout {
      padding-bottom: 2rem;
      z-index: 1;
      overflow: hidden;
      .cs-card {
        padding-bottom: 2rem;
        display: block;
        height: 350px;
        min-height: 320px;
        position: relative;
        .cardLink {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
        }
        article {
          height: 100%;
        }
        h4 {
          font-size: 1.75rem;
          padding-top: 0.5rem;
          text-align: center;
        }
        button {
          width: 100%;
          margin-left: 0;
          background-color: $gray-light-3;
          color: $gray-dark-2;
          text-overflow: ellipsis;
          a {
            color: $gray-dark-2;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            padding-top: 1px;
            padding-bottom: 1px;
          }
        }
        .cta-btn {
          background-color: $color-cta-base !important;
          color: white;
        }
      }
      .cs-card.header-bar.cta-bar header:after {
        border-top-color: $color-cta-base !important;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .servicesOverview {
    .servicesBlock {
      .cs-card-layout {
        .cs-card {
          height: 350px;
        }
      }
    }
  }
}
