<header>
  <h4><i class="icon" ng-class="card.icon"></i> {{card.name | translate}}</h4>
</header>
<section ng-if="!card.loading">
  <p>
    {{card.description | translate}}
  </p>
  <div class="card-button" ng-class="{alignedButtons: !card.loading && card.status}">
    <a ng-href="#/{{button.link}}" ng-repeat="button in card.getButtons()">
      <button ng-class="button.buttonClass">{{button.name | translate}}</button>
      <!--      <button class="btn-link">{{button.name | translate}}</button> -->
    </a>
    <a ng-if="card.getShowMoreButton()" ng-href="#/{{card.getShowMoreButton().link}}">{{card.getShowMoreButton().name |
      translate}}</a>
  </div>
</section>
<section ng-if="card.loading">
  <i class='icon icon-spinner icon-2x'></i>
</section>
<footer ng-if="!card.loading && card.status">
  <p class="status">
      <i class="icon icon-circle" ng-class="card.status || 'disabled'"></i>
      <span ng-class="card.status || 'disabled'">{{card.statusTxt| translate}}</span>
  </p>
</footer>
