<div ui-view="header"></div>
<cs-sp-container class="hercules-fix-paragraphs hercules-settings-table">
  <cs-sp-section>
    <div class="section-title-row section-name" translate="hercules.alarms.alarms"></div>
    <div class="feature-list" ng-if="clusterDetailsCtrl.cluster.aggregates.alarms.length > 0">
      <ul>
        <li class="feature" ng-repeat="alarm in clusterDetailsCtrl.cluster.aggregates.alarms" ng-class="{'list-item': !$first}">
          <a ui-sref="cluster-details.alarm-details({alarm: alarm})">
            <i class="icon icon-error red status-icon"></i>
            <span class="feature-name">{{alarm.title}}</span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
    <p ng-if="clusterDetailsCtrl.cluster.aggregates.alarms.length === 0" translate="hercules.alarms.noAlarms"></p>
  </cs-sp-section>

  <cs-sp-section ng-if="clusterDetailsCtrl.schedule">
    <div class="section-title-row section-name" translate="hercules.expresswayClusterSettings.upgradeScheduleSubHeader"></div>
    <p>
      <span>{{clusterDetailsCtrl.schedule.dateTime}}, </span>
      <span>{{clusterDetailsCtrl.schedule.timeZone}}</span>
    </p>
  </cs-sp-section>

  <cs-sp-section ng-if="!(clusterDetailsCtrl.cluster.releaseChannel === 'GA' || clusterDetailsCtrl.cluster.releaseChannel === 'stable')">
    <div class="section-title-row section-name" translate="hercules.expresswayClusterSettings.releasechannelReleasechannel"></div>
      <p class="hercules-capitalize">{{clusterDetailsCtrl.cluster.releaseChannel}}</p>
  </cs-sp-section>

  <cs-sp-section>
    <div class="section-title-row section-name" translate="hercules.softwareUpgrade.softwareUpgrade"></div>
    <div ng-if="!clusterDetailsCtrl.showUpgradeProgress">
      <p ng-if="!clusterDetailsCtrl.softwareUpgrade.isUpgradeAvailable" translate="hercules.softwareUpgrade.upToDate" translate-values="{connectorType: clusterDetailsCtrl.connectorName}"></p>
      <p ng-if="clusterDetailsCtrl.softwareUpgrade.isUpgradeAvailable" translate="hercules.softwareUpgrade.upgradePossible" translate-values="{connectorType: clusterDetailsCtrl.connectorName, availableVersion: clusterDetailsCtrl.softwareUpgrade.availableVersion}"></p>
      <button class="btn btn--primary"
              ng-click="clusterDetailsCtrl.showUpgradeDialog()"
              ng-disabled="!clusterDetailsCtrl.softwareUpgrade.isUpgradeAvailable"
              translate="hercules.softwareUpgrade.upgradeNow">
      </button>
      <p ng-if="clusterDetailsCtrl.softwareUpgrade.showUpgradeWarning()"><i class="icon icon-warning no-data-warning hercules-update-warning-text"></i><span  class="hercules-update-warning-text" translate="hercules.softwareUpgrade.upgradeWarning" translate-values="{connectorType: clusterDetailsCtrl.connectorName}"></span></p>
    </div>
    <div ng-if="clusterDetailsCtrl.showUpgradeProgress">
      <div ng-if="clusterDetailsCtrl.fakeUpgrade">
        <div class="progressbar-info">
          <span class="progressbar-label" translate="hercules.softwareUpgrade.pending"></span>
          <span class="progressbar-progress">0 / {{clusterDetailsCtrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar animate="true" value="10" max="100"></progressbar>
      </div>
      <div ng-if="!clusterDetailsCtrl.fakeUpgrade">
        <div class="progressbar-info">
          <span ng-show="!clusterDetailsCtrl.upgradeJustFinished" class="progressbar-label" translate="hercules.softwareUpgrade.upgradingHost" translate-values="{host: clusterDetailsCtrl.upgradeDetails.upgradingHostname, version: clusterDetailsCtrl.softwareUpgrade.provisionedVersion}"></span>
          <span ng-if="clusterDetailsCtrl.upgradeJustFinished" class="progressbar-label" translate="hercules.softwareUpgrade.upgradeDone"></span>
          <span class="progressbar-progress">{{clusterDetailsCtrl.upgradeDetails.numberOfUpsmthngHosts}} / {{clusterDetailsCtrl.softwareUpgrade.numberOfHosts}}</span>
        </div>
        <progressbar ng-show="!clusterDetailsCtrl.upgradeJustFinished" animate="true" value="clusterDetailsCtrl.upgradeDetails.numberOfUpsmthngHosts" max="clusterDetailsCtrl.softwareUpgrade.numberOfHosts"></progressbar>
        <progressbar ng-show="clusterDetailsCtrl.upgradeJustFinished" type="success" value="1" max="1"></progressbar>
      </div>
    </div>
  </cs-sp-section>

  <cs-sp-section ng-hide="clusterDetailsCtrl.hasF410FeatureToggle">
    <div class="section-title-row section-name" translate="hercules.connectors.hosts"></div>
    <div class="feature-list">
      <ul>
        <li class="feature" ng-repeat="host in clusterDetailsCtrl.cluster.aggregates.hosts | orderBy:'host.hostname'"
            ng-class="{'list-item': !$first}">
          <a
            ui-sref="cluster-details.host-details({host: host.hostname, clusterId: clusterDetailsCtrl.clusterId, connectorType: clusterDetailsCtrl.connectorType})">
            <i class="fa fa-circle status-icon" ng-class="'hercules-state-' + clusterDetailsCtrl.getSeverity(host.state).label"></i>
            <span class="feature-name">{{host.hostname}}</span>
            <span class="feature-status">
              <span translate="{{'hercules.status.' + host.state }}"></span>
              <span ng-if="host.upgradeState === 'upgrading'"> | <span translate="hercules.status.upgrading"></span></span>
            </span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
  </cs-sp-section>

  <cs-sp-section ng-hide="!clusterDetailsCtrl.hasF410FeatureToggle">
    <div class="section-title-row section-name" translate="hercules.connectors.hosts"></div>
    <div class="feature-list">
      <div ng-repeat="host in clusterDetailsCtrl.F410cluster.hosts | orderBy: 'hostname'">
        <h6 class="feature">{{host.hostname}}</h6>
        <ul>
          <li class="feature" ng-repeat="connector in host.connectors | orderBy: clusterDetailsCtrl.sortConnectors ">
            <a ng-if="connector.connectorType === 'c_mgmt'"
               ui-sref="management-connector-details({host: host.hostname, clusterId: clusterDetailsCtrl.clusterId, connectorType: 'c_mgmt'})"
            >
              <i class="fa fa-circle status-icon"
                 ng-class="'hercules-state-' + clusterDetailsCtrl.getSeverity(connector.state).label"
                 ng-if="!clusterDetailsCtrl.hasConnectorAlarm(connector)"></i>
              <i class="fa fa-circle status-icon hercules-state-error"
                 ng-if="clusterDetailsCtrl.hasConnectorAlarm(connector)" ></i>
              <span class="feature-name">{{clusterDetailsCtrl.localizedManagementConnectorName}}</span>
              <span ng-if="connector.connectorType !== 'c_mgmt'" class="feature-name">{{clusterDetailsCtrl.localizedConnectorName}}</span>
              <span class="feature-status">{{connector.runningVersion}}</span>
              <i class="feature-status feature-arrow"></i>
            </a>
            <a ng-if="connector.connectorType !== 'c_mgmt'"
               ui-sref="cluster-details.host-details({host: host.hostname, clusterId: clusterDetailsCtrl.clusterId, connectorType: connector.connectorType})"
            >
              <i class="fa fa-circle status-icon"
                 ng-class="'hercules-state-' + clusterDetailsCtrl.getSeverity(connector.state).label"
                 ng-if="!clusterDetailsCtrl.hasConnectorAlarm(connector)"></i>
              <i class="fa fa-circle status-icon hercules-state-error"
                 ng-if="clusterDetailsCtrl.hasConnectorAlarm(connector)" ></i>
              <span class="feature-name">{{clusterDetailsCtrl.localizedConnectorName}}</span>
              <span class="feature-status">{{connector.runningVersion}}</span>
              <i class="feature-status feature-arrow"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </cs-sp-section>

  <cs-sp-section ng-hide="clusterDetailsCtrl.hasF410FeatureToggle">
    <div class="section-title-row section-name" translate="hercules.clusters.deregisterSectionHeader"></div>
    <span translate="hercules.clusters.deregisterSectionBody"></span>
    <div>
      <button class="btn btn--negative hercules-btn-deregister"
              ng-disabled="saving"
              ng-click="clusterDetailsCtrl.showDeregisterDialog();"
              translate="hercules.clusters.deregister">
      </button>
    </div>
  </cs-sp-section>
</cs-sp-container>
