.read-only-modal {
  h3 {
    text-align: center;
    font-size: 1rem;
    margin-top: 1rem;
  }
  p {
    margin: 1rem 1rem;
    font-size: 0.8rem;
  }
  div {
    margin: 1rem 1rem;
  }
}

.read-only-banner {
  color: white;
  text-align: center; 
  background-color: #F5A623;
}
