<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
  <h4 class="modal-title" translate="hercules.renameAndDeregisterComponent.deregisterConfirmRemoval"></h4>
</div>
<div class="modal-body hercules-fix-paragraphs deregister-expressway-modal">

  <p translate="hercules.renameAndDeregisterComponent.deregisterConfirmationText" translate-values="{clusterName: clusterDeregister.cluster.name}"></p>

</div>
<div class="modal-footer">
  <button class="btn btn-default"
          ng-click="$dismiss()"
          type="button"
          translate="common.cancel"></button>
  <button class="btn btn--negative"
          cs-btn
          loading="clusterDeregister.loading"
          type="button"
          ng-disabled="vm.loading"
          ng-click="clusterDeregister.deregister()">
    <span translate="hercules.renameAndDeregisterComponent.deregisterConfirmRemoval"></span>
  </button>
</div>
