@import 'styles/toolkit/spacing';

.callpark {
  &.overlay-panel {
    cs-setup-assistant {
      width: 100%;
    }
  }

  .panel-content {
    flex: 1;
    height: calc(100vh - #{$top-bar-height + $overlay-panel-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}

.call-park-edit {
  call-destination {
    display: block;
    margin-left: 2rem;
  }
}

//TODO: remove after updating the Toolkit (pajeter)
internal-number {
  input {
    width: 100%;
  }
}
