.aa-dynamic-prompt {

  .dynamic-prompt {
    border: 1px solid $gray-light-2;
    @include vr-spacing(mb, 0.5);
    @include vr-spacing(pt, 0.75);
    @include vr-spacing(pb, 0.75);
    @include vr-spacing(pl, 0.75);
    @include vr-spacing(pr, 0.75);
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.75rem;
    word-wrap: break-word;
    min-width: 100%;
    background-color: $white;
  }

  .aa-blank-line {
    margin-bottom: 0.4rem;
  }
  div.dynamic-prompt[data-placeholder]:not(:focus)[data-div-placeholder-content]::before {
    content: attr(data-placeholder);
    color: $gray-light-2;
  }

  div.dynamic-prompt[contentEditable="true"]:focus {
    border-color: $brand-primary;
    outline: none;
  }

  div.dynamic-prompt[contentEditable="true"]:hover {
    border-color: $brand-primary;
  }

  .aa-rest-url-box-error {
    border: 1px solid $color-red-base;
    background-color: $color-red-light;
  }

  .aa-rest-url-box-focussed {
    background-color: $white;
  }
}
