<form name="internationalDialing.form" novalidate role="form">
  <cs-sp-buttons ng-show="internationalDialing.form.$dirty">
    <button cs-btn loading="internationalDialing.saveInProcess" class="btn-primary" ng-click="internationalDialing.save()" type="submit">
      <span translate="common.save"></span>
    </button>
    <button class="btn-default" translate="common.cancel" ng-click="internationalDialing.reset()"></button>
  </cs-sp-buttons>
  <cs-sp-container>
    <cs-sp-section>
      <div class="section-title-row">
        <span class="section-name" translate="internationalDialingPanel.title"></span>
      </div>
      <formly-form model="internationalDialing.model" fields="internationalDialing.fields" form="internationalDialing.form"></formly-form>
    </cs-sp-section>
  </cs-sp-container>
</form>
