.ct-card-border-enabled {
  border: 1px solid $color-primary-base;
}

.ct-card-border-disabled {
  border: 1px solid $gray-light-1;
}

.overview-card-layout {
  align-items: center;

  .cs-card {
    .ct-card-disabled {
      background: $gray-light-4;
    }
    justify-content: center;
  }
}

.ct-sa-footer {
  height: rem-calc(50);
}

.ct-card-overview {
  height: rem-calc(220);
  width: rem-calc(350) !important;
  @include vr-spacing(mt, 3.5);
  box-shadow: none !important;

  .icon.ct-card-img {
    font-size: 4rem;
  }

  .ct-card-img {
    @include vr-spacing(mt, 1);

    text-align: center;
    color: $gray-base;
  }

  .ct-card-title {
    text-align: center;
    color: $gray-dark-1;

    @include vr-spacing(mt, 0.5);
  }

  .ct-card-desc {
    color: $gray-dark-1;
    text-align: center;
    width: 100%;
    padding-left: rem-calc(10);
    padding-right: rem-calc(10);
  }

  .ct-toggle-position {
    margin-top: auto;
  }

  .card-media-icon {
    @include vr-spacing(pt, 0.5);
    @include vr-spacing(pl, 0.5);
    opacity: .3;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
