.va-dialog-integration-box {
  margin: rem-calc(48px) auto rem-calc(24px);
  padding: rem-calc(27px) rem-calc(27px) rem-calc(20px) rem-calc(27px);
  width: rem-calc(612px);

  .instruction-row {
    display: flex;
    padding-top: rem-calc(17px);

    &:first-child {
      padding-top: 0;
    }

    .icon-circle {
      height: rem-calc(24px);
      width: rem-calc(24px);
      margin: 3px 20px 0 0;
    }

    h4 {
      font-family: 'CiscoSansTT Regular';
      font-size: rem-calc(20px);
      color: #4F5051;
      letter-spacing: 0;
      line-height: rem-calc(32px);
    }
  }

  p,
  ul {
    font-family: 'CiscoSansTT Light';
    font-size: rem-calc(14px);
    color: #6A6B6C;
    letter-spacing: 0;
    line-height: rem-calc(24px);
    padding-left: rem-calc(45px);
  }

  .desc {
    padding-top: rem-calc(12px);
  }

  .download-button {
    background: #14A792;
    border-radius: rem-calc(2px);
    color: #FFFFFF;
    font-family: 'CiscoSansTT Light';
    font-size: rem-calc(16px);
    height: rem-calc(48px);
    letter-spacing: 0;
    line-height: rem-calc(20px);
    margin: rem-calc(10px) 0 rem-calc(9px) rem-calc(45);
    width: rem-calc(240px);
  }

  .learn-more-row {
    display: flex;
    padding-top: rem-calc(21px);

    a {
      font-family: 'CiscoSansTT Light';
      font-size: rem-calc(14px);
      letter-spacing: 0;
      line-height: rem-calc(24px);
    }

    span {
      font-family: 'CiscoSansTT Light';
      font-size: rem-calc(14px);
      color: #6A6B6C;
      letter-spacing: 0;
      line-height: rem-calc(24px);
      padding-left: 5px;
    }
  }
}
