.va-summary {
  @include vr-spacing(mt, 11);

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  .success-icon {
    color: $color-cta-base;
  }

  .edit-message {
    @include vr-spacing(pt, 1.2);
    font-family: CiscoSans;
    color: $color-attention-darker;
    line-height: initial;
    display: flex;
    flex-direction: row;
  }

  .description {
    @include vr-spacing(pl, 1);
    @include vr-spacing(pv, 1);

    text-align: center;
    width: 100%;
  }

  .retry-message {
    color: $color-alerts-base;
    display: inline-block;
    margin-top: rem-calc(16px);

    .icon-error {
      float: left;
      font-size: rem-calc(16px);
      margin-top: rem-calc(3px);
    }
    .error-message {
      margin-left: rem-calc(8px);
    }
  }

  .vaSetupFinishBtn {
    border-radius: 2px;
    margin-top: rem-calc(29px);
    width: rem-calc(100px);
  }
}
