.va-access-token-box {
  margin: rem-calc(16px) auto rem-calc(16px);
  padding: rem-calc(35px) rem-calc(40) rem-calc(35px);
  width: rem-calc(612px);

  .desc {
    font-family: 'CiscoSansTT Light';
    font-size: rem-calc(14px);
    color: #6A6B6C;
    letter-spacing: 0;
    line-height: rem-calc(24px);
  }

  .input-row {
    display: flex;
    margin-top: rem-calc(43px);

    .input-label {
      font-family: 'CiscoSansTT Regular';
      font-size: rem-calc(20px);
      color: #4F5051;
      letter-spacing: 0;
      line-height: rem-calc(24px);
    }

    input {
      background: #FFFFFF;
      border: 1px solid #9B9B9B;
      border-radius: 2px;
      margin-top: rem-calc(12px);
      margin-bottom: 0;
      width: rem-calc(386px);

      &:disabled {
        background: #EBEBEC;
        border: 1px solid #D7D7D8;
      }
    }
  }

  .validate-button {
    background: #858688;
    border-radius: 2px;
    height: rem-calc(36px);
    margin-top: auto;
    margin-left: rem-calc(46px);
    width: rem-calc(100px);
  }

  .loader-example--small {
    background: #EBEBEC;
    border-radius: 2px;

    .cs-loading {
      margin: 4px auto;
      width: rem-calc(40px);
    }
  }
}
