<div class="ct-summary">
    <i class="icon icon-circle-check-mark-success icon-5x success-icon"></i>
    <div class="h4 description">
        {{
        careSetupAssistant.isEditFeature ?
        careSetupAssistant.getLocalisedText('careChatTpl.editSummaryDesc') :
        careSetupAssistant.getLocalisedText('careChatTpl.summaryDesc')
        }}
    </div>
    <button loading="careSetupAssistant.creatingChatTemplate"
            cs-btn
            id="chatSetupFinishBtn"
            class="btn btn--primary"
            ng-class="{'btn--link': careSetupAssistant.saveCTErrorOccurred}"
            ng-click="careSetupAssistant.submitChatTemplate()">{{careSetupAssistant.ChatTemplateButtonText}}
    </button>
    <div class="body-small edit-message" ng-if="careSetupAssistant.isEditFeature">
      <div class="warning-sign">
      <i class="icon icon-warning"></i>
      </div>
      <div>
        <div>{{careSetupAssistant.getLocalisedText('careChatTpl.editCodeWarnMsg2Line1')}}</div>
        <div>{{careSetupAssistant.getLocalisedText('careChatTpl.editCodeWarnMsg2Line2')}}</div>
      </div>
    </div>
    <div class="h6 retry-message" ng-if="careSetupAssistant.saveCTErrorOccurred">
        {{:: 'careChatTpl.errorCreateChatTemplate' | translate }}
    </div>
</div>
