<div>
  <div class="ct-title">
    <span class="va-title">
    {{vaSetupAssistant.getVaText('name.title')}}
    </span>
  </div>
	<h5 class="h5 va-title-desc ct-title-desc">
		{{vaSetupAssistant.getVaText('name.desc')}}
  </h5>
	<div id="va-content" class="ct-sa-content">
		<div class="va-box va-name-box">
			<p class="desc">{{vaSetupAssistant.getVaText('name.box-desc')}}</p>
			<form />
			<form class="submit" name="myForm">
				<label class="input-label" for="name-input">
					{{vaSetupAssistant.getVaText('name.input-label')}}
				</label>
				<input
					name="nameInput"
					type="text"
					autocomplete="off"
					ng-model="vaSetupAssistant.template.configuration.pages.VirtualAssistantName.nameValue"
					ng-maxlength="vaSetupAssistant.maxNameLength"
				/>
				<div
					class="inline-error"
					ng-show="myForm.nameInput.$dirty && myForm.nameInput.$invalid">
					<p class="icon icon-error" />
					<span class="inline-error-msg">
						{{vaSetupAssistant.getVaText('name.max-length-error')}}
					</span>
				</div>
			</form>
		</div>
	</div>
</div>
