<div>
	<div class="ct-title">
		<span class="va-title">
			{{vaSetupAssistant.getVaText('dialogIntegration.title')}}
		</span>
	</div>
	<h5 class="h5 va-title-desc ct-title-desc">
		{{vaSetupAssistant.getVaText('dialogIntegration.desc')}}
	</h5>
	<div class="ct-sa-content">
		<div class="va-box va-dialog-integration-box">
			<div class="instruction-row">
				<img class="icon-circle" src="images/icon-circle-one.svg" />
				<h4>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-one')}}</h4>
			</div>
			<p>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-one-desc')}}</p>
			<a class="btn download-button"
				target="_self"
				href="https://care-assistant.produs1.ciscoccservice.com/onboarding/apiai/escalation.json"
				download="escalation.json"
			>
				{{vaSetupAssistant.getVaText('dialogIntegration.download-button-text')}}
			</a>
			<div class="instruction-row">
				<img class="icon-circle" src="images/icon-circle-two.svg" />
				<h4>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-two')}}</h4>
			</div>
			<p>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-two-desc')}}</p>
			<div class="instruction-row">
				<img class="icon-circle" src="images/icon-circle-three.svg" />
				<h4>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-three')}}</h4>
			</div>
			<p>{{vaSetupAssistant.getVaText('dialogIntegration.box-step-three-desc')}}</p>
			<ul>
				<li>{{vaSetupAssistant.getVaText('dialogIntegration.box-bullet-one')}}</li>
				<li>{{vaSetupAssistant.getVaText('dialogIntegration.box-bullet-two')}}</li>
			</ul>
			<p class="desc">
				{{vaSetupAssistant.getVaText('dialogIntegration.box-step-three-desc-cont')}}
			</p>
			<div class="learn-more-row">
				<a href="http://www.cisco.com/go/ca-integrate" target="_blank">
					{{vaSetupAssistant.getVaText('dialogIntegration.learn-more-link')}}
				</a>
				<span>{{vaSetupAssistant.getVaText('dialogIntegration.final-note')}}</span>
			</div>
		</div>
	</div>
