<div class="va-summary">
  <i class="icon icon-circle-check-mark-success icon-5x success-icon"></i>
  <div class="h4 description">
    {{vaSetupAssistant.getSummaryDescription()}}
  </div>
  <div class="h4 description" ng-if="!vaSetupAssistant.saveTemplateErrorOccurred">
    {{vaSetupAssistant.getVaText('summary.descCont')}}
  </div>
  <button loading="vaSetupAssistant.creatingTemplate"
          cs-btn
          id="vaSetupFinishBtn"
          class="btn btn--primary vaSetupFinishBtn"
          ng-click="vaSetupAssistant.submitFeature()">
            {{vaSetupAssistant.templateButtonText}}
  </button>
  <div class="body-small edit-message" ng-if="vaSetupAssistant.isEditFeature">
  </div>
  <div class="h6 retry-message" ng-if="vaSetupAssistant.saveTemplateErrorOccurred && !vaSetupAssistant.creatingTemplate">
    <i class="icon icon-error"></i>
    <span class="error-message">{{vaSetupAssistant.getVaText('summary.errorCreateTemplate')}}</span>
  </div>
</div>
