<div>
  <div class="ct-title">
    <span class="h3">
    {{vaSetupAssistant.getVaText('name.title')}}
    </span>
  </div>
	<h6 class="ct-title-desc">
		{{vaSetupAssistant.getVaText('name.desc')}}
  </h6>
  <div class="cs-card-container ct-sa-content">
    <cs-card-layout block-view="true" class="va-card-center">
      <cs-card class="va-box va-name-box va-card">
				<p class="h6">{{vaSetupAssistant.getVaText('name.boxDesc')}}</p>
				<div ng-form="vaSetupAssistant.nameForm">
					<div class="cs-input-group medium-10 columns" ng-class="{'error': vaSetupAssistant.nameForm.nameInput.$invalid}">
						<label class="cs-input__label input-label" for="nameInput">{{vaSetupAssistant.getVaText('name.inputLabel')}}</label>
						<input
							name="nameInput"
							type="text"
							autocomplete="off"
							ng-model="vaSetupAssistant.template.configuration.pages.VirtualAssistantName.nameValue"
							ng-maxlength="vaSetupAssistant.maxNameLength"
						/>
						<div class="cs-input__messages" ng-messages="vaSetupAssistant.nameForm.nameInput.$error" ng-if="vaSetupAssistant.nameForm.nameInput.$invalid">
							<div class="message" ng-message="maxlength">{{vaSetupAssistant.getVaText('name.maxLengthError')}}</div>
							<div class="message" ng-message="duplicateNameError">{{vaSetupAssistant.getVaText('name.duplicateError')}}</div>
						</div>
					</div>
				</div>
			</cs-card>
		</cs-card-layout>
	</div>
</div>
