<div>
  <div class="ct-title">
    <span class="va-title">
    {{vaSetupAssistant.getVaText('configOverview.title')}}
    </span>
  </div>
	<h5 class="h5 va-title-desc ct-title-desc">
		{{vaSetupAssistant.getVaText('configOverview.desc')}}
  </h5>
	<div id="va-content" class="ct-sa-content">
		<div class="va-box va-config-overview-box">
			<h4>{{vaSetupAssistant.getVaText('configOverview.box-title')}}</h4>
			<p class="desc">{{vaSetupAssistant.getVaText('configOverview.box-desc')}}</p>
			<form>
				<div class="radio-group">
					<input
						class="radio-row"
						cs-input
						type="radio"
						id="radio-one"
						name="radio"
						ng-model="vaSetupAssistant.template.configuration.pages.VirtualAssistantConfigOverview.isApiAiAgentConfigured"
						ng-value="false"
						cs-input-label="{{vaSetupAssistant.getVaText('configOverview.box-radio-one')}}"
					/>
					<p class="radio-desc">
						<span>{{vaSetupAssistant.getVaText('configOverview.box-radio-one-desc1')}}</span>
						<a href="https://api.ai/" target="_blank">
							{{vaSetupAssistant.getVaText('configOverview.box-radio-apiai')}}
						</a>
						<span>{{vaSetupAssistant.getVaText('configOverview.box-radio-one-desc2')}}</span>
						<a href="https://api.ai/docs/getting-started/basics" target="_blank">
							{{vaSetupAssistant.getVaText('configOverview.box-radio-apiai-doc')}}
						</a>
					</p>
					<input
						class="radio-row"
						cs-input
						type="radio"
						id="radio-two"
						name="radio"
						ng-model="vaSetupAssistant.template.configuration.pages.VirtualAssistantConfigOverview.isApiAiAgentConfigured"
						ng-value="true"
						cs-input-label="{{vaSetupAssistant.getVaText('configOverview.box-radio-two')}}"
					/>
					<p class="radio-desc">
						<span>
							{{vaSetupAssistant.getVaText('configOverview.box-radio-two-desc')}}
						</span>
					</p>
				</div>
			</form>
		</div>
	</div>
