<div>
  <div class="ct-title">
    <span class="h3">
      {{vaSetupAssistant.getVaText('accessToken.title')}}
    </span>
  </div>
  <h6 class="ct-title-desc">
    {{vaSetupAssistant.getVaText('accessToken.desc')}}
  </h6>
  <div class="cs-card-container ct-sa-content">
    <cs-card-layout block-view="true" class="va-card-center">
      <cs-card class="va-box va-access-token-box va-card">
        <p class="h6">{{vaSetupAssistant.getVaText('accessToken.boxDesc')}}</p>
        <div ng-form="vaSetupAssistant.tokenForm">
          <div class="cs-input-group medium-12 columns" ng-class="{'error': vaSetupAssistant.tokenForm.tokenInput.$invalid}">
          <label class="cs-input__label input-label" for="tokenInput">{{vaSetupAssistant.getVaText('accessToken.inputLabel')}}</label>
            <div class="input-row">
            <input
              name="tokenInput"
              type="text"
              autocomplete="off"
              ng-change="vaSetupAssistant.onAPIAITokenChange()"
              ng-model="vaSetupAssistant.template.configuration.pages.VirtualAssistantAccessToken.accessTokenValue"
              ng-disabled="vaSetupAssistant.template.configuration.pages.VirtualAssistantAccessToken.validatingToken">
            <i class="icon icon-check token-check-mark" ng-hide="!(vaSetupAssistant.template.configuration.pages.VirtualAssistantAccessToken.invalidToken === false)"></i>
            <button cs-btn class="btn btn--primary validate-button"
                ng-disabled="!(vaSetupAssistant.template.configuration.pages.VirtualAssistantAccessToken.accessTokenValue)"
                loading="vaSetupAssistant.template.configuration.pages.VirtualAssistantAccessToken.validatingToken"
                ng-click="vaSetupAssistant.validateAPIAIToken()">
                {{vaSetupAssistant.getVaText('accessToken.validateButtonText')}}
            </button>
            </div>
            <div class="cs-input__messages" ng-messages="vaSetupAssistant.tokenForm.tokenInput.$error" ng-if="vaSetupAssistant.tokenForm.tokenInput.$invalid">
              <div class="message" ng-message="maxlength">{{vaSetupAssistant.getVaText('accessToken.maxLengthError')}}</div>
              <div class="message" ng-message="invalidToken">{{vaSetupAssistant.getVaText('accessToken.invalidTokenText')}}</div>
            </div>
          </div>
        </div>
      </cs-card>
    </<cs-card-layout>
  </div>
</div>
