<div class="notification-style" ng-repeat="notification in $ctrl.notifications | orderBy:['badgeText', 'zOrder']:false:$ctrl.notificationComparator">
  <span class="notification-spacing">
    <span class="badge {{notification.badgeType}}" translate="{{notification.badgeText}}"></span>
    <span class="text" translate="{{notification.text}}" translate-values="{{notification.textValues}}" translate-compile></span>
    <span ng-if="notification.extendedText" class="text" translate="{{notification.extendedText}}"></span>
    <div class="text-right">
      <a href ng-if="notification.linkText.length > 0" ng-click="notification.link()" translate="{{notification.linkText}}"></a>
    </div>
  </span>
  <button type="button" class="close" ng-if="notification.canDismiss" ng-click="$ctrl.dismissNotification(notification)" aria-label="{{::'common.close' | translate}}"></button>
</div>
