<div class="dr-container" style="width: 420px; height: 450px" ng-hide="!enterEmailAddrController.drReferrer">
    <div class="dr-row" ng-hide="enterEmailAddrController.error == null">
        <textarea rows="2" cols="50" ng-model="enterEmailAddrController.error" readonly="readonly" id="dr-error"/>
    </div>
    <div class="dr-row">
    	<div class="dr-center">
        	<img ng-src="/images/sparkLg.png"/>
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad" id="dr-header" translate="digitalRiver.ciscoSpark"></div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad" id="dr-enter-email-addr-label" translate="digitalRiver.enterEmailAddr.startTrial"></div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad" id="dr-enter-email-addr-label" translate="digitalRiver.enterEmailAddr.enterEmail"></div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <input class="dr-center" type="email" autofocus ng-model="enterEmailAddrController.email" placeholder="{{enterEmailAddrController.emailPlaceholder()}}"/>
        </div>
    </div>
    <div class="dr-row" ng-hide="enterEmailAddrController.loading">
        <div class="dr-center">
            <button class="btn btn--primary" id="dr-enter-email-addr-next" ng-click="enterEmailAddrController.handleEnterEmailAddr()" translate="digitalRiver.nextButton" />
        </div>
    </div>
    <div class="dr-center" ng-show="enterEmailAddrController.loading">
      <i class="icon icon-3x icon-spinner"></i>
    </div>
</div>
