<cs-sp-header>

  <div class="header-image">
    <div class="device-img" ng-if="deviceOverview.currentDevice.accountType === 'MACHINE'">
      <img src="images/devices-hi/space_avatar.png" />
    </div>
    <div class="user-img" ng-if="deviceOverview.currentDevice.accountType === 'PERSON'">
      <span ng-if="!deviceOverview.currentDevice.photos">
        <i class="icon icon-user"></i>
      </span>
      <img ng-if="deviceOverview.currentDevice.photos"
           ng-src="{{deviceOverview.currentDevice.photos[1].url}}" />
    </div>
  </div>

  <div class="header-info">
    <div class="header-info-wrap">
      <sq-editable-input
        ng-if="deviceOverview.currentDevice.canEditDisplayName"
        sq-save="deviceOverview.save(newText)"
        ng-model="deviceOverview.currentDevice.displayName">
      </sq-editable-input>
      <div
        id="header-title"
        class="header-title"
        title="{{deviceOverview.currentDevice.displayName}}"
        ng-if="!deviceOverview.currentDevice.canEditDisplayName">
        {{deviceOverview.currentDevice.displayName}}
      </div>
    </div>
  </div>

</cs-sp-header>
