.devices-redux {
  .clipboard-button {
    padding-left: 10px;
  }

  background-color: white !important;

  .tag-container {
    padding-top: 10px;

    .tag {
      margin-right: 5px;
      margin-bottom: 5px;
      border-radius: 8px;
      white-space: nowrap;
      padding: 2px 4px 3px 10px;
      background-color: $gray-lightest;
    }
    i:hover {
      cursor: pointer;
      color: $link-color;
    }
    input[type=text] {
      border: 0;
      margin: 0;
      padding: 0;
      display: inline;
      border-bottom: 1px solid $brand-primary;
      width: 100px;
      border-radius: 0;
      transition: initial;
    }
    a {
      font-size: .7rem;
    }
  }

  .device-card {

    &:hover {
      cursor: pointer;
      background: #fafafa;
    }

    padding: 20px;
    position: relative;

    .card-items > * {
      padding-left: 20px;
    }

    h4, h4 span {
      font-family: "CiscoSansTT Light","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 1rem;
    }

    .overlay {
      position: absolute;
      left: 50px;
      top: 20px;
      border-radius: 50px;
      height: 16px;
      width: 16px;
      border: 3px solid white;
    }
    .device-status-red {
      background-color: $brand-danger;
    }
    .device-status-yellow {
      background-color: $brand-warning;
    }
    .device-status-green {
      background-color: $brand-success;
    }
    .device-status-gray {
      background-color: $gray;
    }
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .row {
    margin: 0;
  }

  .hl {
    background: lighten($brand-success, 30%);
  }

  .needsActivation {
    color: #aaa;
  }

  h1 {
    padding-bottom: 30px;
  }

  button {
    border: 0;
    cursor: pointer;
    color: $link-color;
    background: transparent;
  }
  button[disabled], button[disabled]:hover {
    color: #ccc;
    cursor: default;
    background: transparent;
  }
  button:hover {
    color: #049fd9;
    background: transparent;
  }

  strong, strong span {
    font-family: "CiscoSansTT Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
  }

  .details-pane {
    padding-top: 20px;

    strong {
      padding-bottom: 30px;
      display: block;
    }
    .para {
      padding-bottom: 60px;
      .row:first-child { 
        padding-top: 0; 
      }
    }
    .para > .row {
    }

    .device-issues {
      i {
        padding-right: 10px;
      }
      p {
        padding-bottom: 10px;
      }
    }

    h2 {
      padding: 0 0 60px 0;
      i {
        padding-right: 20px;
      }
    }

    h2, h2 span {
      font-size: 2.3rem;
    }

    .row {
      padding: 10px 0;
      font-size: 0.875rem;
    }

    .device-pager {
      display: flex;
      justify-content: space-between;
      .pr {
        text-align: right;
      }
    }

    .readable-activation-code, .readable-activation-code span {
      font-weight: bold;
    }
  }
  .result-pane {
    padding-top: 20px;

    strong {
      padding: 20px 0 30px 0;
      display: block;
      color: gray;
      text-transform: uppercase;
    }

    .more-pager {
      padding-top: 20px;
    }

    .more-pager, .more-pager * {
      font-size: 1rem;
      text-align: center;
    }

    .result-row {
      cursor: pointer;
      padding-top: 18px;
      font-size: 0.875rem;
      border-bottom: 3px solid white;
      padding-bottom: 8px;
      i {
        padding-right: 10px;
      }
    }

    .result-row.active {
      background: $gray-lightest;
    }

  }

  .no-results-matched-search {
    padding: 10px;
    text-align: center;
    color: $brand-danger;
  }

  input:focus, a:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
  }

  .devices-search {
    form {
      display: flex;
      border-bottom: 1px solid #ccc;
      padding-bottom: 8px;

      .filter {
        margin: 0 10px 2px 0;
        padding: 1px 10px 2px;
        border-radius: 10px;
        background: $brand-primary;
        color: $gray-lightest;
        white-space: nowrap;

        i {
          cursor: pointer;
          padding-left: 5px
        }
      }

      .displayNamefilter {
        background: $brand-info;
      }

      .search-icon {
        color: $gray;
        padding-right: 10px;
        cursor: search;
      }

      .clear-icon {
        color: $gray;
        cursor: pointer;
      }

      input[type=text] {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    form.active {
      border-bottom: 1px solid $brand-primary;
    }
    form.no-match {
      border-bottom: 1px solid $brand-danger;
    }

    ul {
      margin: 0;
      padding-bottom: 60px;
    }

    li {
      a {
        color: #666;
      }
      cursor: pointer;
      padding: 20px 0 10px 0;
      list-style-type: none;
      border-bottom: 1px solid #eee;
    }
  }

  .button-bar {
    a {
      font-size: .9rem;
      padding-right: 40px;
      font-family: "CiscoSansTT Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }

  .pager {
    text-align: center; 
    padding-bottom: 20px;
  }

}
