.devices-overview-redux {
  table {
    margin-top: 10px;
    td {
      padding: 10px;
    }
  }

  .activation-code-pane {
    padding-top: 20px;
  }
}

.devices-redux {
  .add-device-modal .alert {
    border: 0;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 0;
  }
  .ngVerticalBar {
    display: none;
  }
}

.devices-redux, .devices-overview-redux {
  .needs-activation {
    opacity: .3;
  }
  i.device-status {
    padding-right: 10px;
  }
  td {
    font-family: "CiscoSansTT Light", Helvetica, Arial, sans-serif, sans-serif;
  }
}