.devices-overview-redux {
  table {
    td {
      padding: 10px 10px 10px 0;
    }
  }

  .activation-code-pane {
    padding-top: 10px;
  }

  .activation-code-pane h3 {
    color: #00c1aa;
  }

}

.devices-redux {
  .add-device-modal .alert {
    border: 0;
    padding: 15px;
    border-radius: 0;
    margin-bottom: 0;
  }

  .ngVerticalBar {
    display: none;
  }

  .title {
    display: inline-block;
    vertical-align: middle;
    height: 60px;
    line-height: 60px;
  }

  .table-filter {
    top: -10px;
    position: relative;
  }

  .add-button {
    position: absolute;
    top: 25px;
    right: 10px
  }

}

.devices-redux, .devices-overview-redux {
  .needs-activation {
    opacity: .3;
  }
  i.device-status {
    padding-right: 10px;
  }
  td {
    font-family: "CiscoSansTT Light", Helvetica, Arial, sans-serif, sans-serif;
  }
}