.devices-overview-redux {
  table {
    margin-top: 10px;
    td {
      padding: 10px;
    }
  }

  .activation-code-pane {
    padding-top: 20px;
  }

  ol.breadcrumb {
    display: none;
  }
}

.add-device-modal .alert {
  border: 0;
  padding: 15px;
  border-radius: 0;
  margin-bottom: 0;
}

.needs-activation {
  opacity: .3;
}