.services-page {
  background-color: $white;

  ul {
    list-style: none;
    @include vr_spacing(p, 1.25);

    li {
      @include vr_spacing(mt, .75, 2px);
    }
  }
}

.modal-content.small.status-add-service,
.modal-content.small.status-edit-service {
  height: 235px;

  .modal-body {
    label {
      line-height: 36px;
    }
  }
}


.delete-service-page {
  background: $white;

  @include vr_spacing(p, 3);

  p, input {
    font-size: 1rem;
    @include vr_spacing(mb, 1.25);
  }
}
