.expressway-service {
  @extend %grid-subheader;
  @extend %page-background-white;

  .trash-icon {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.hercules-settings-table {
  table {
    td {
      padding: 10px 10px 10px 0;
    }

    tbody {
      tr {
        border-top: transparent;
      }
    }
  }
}

.feature-list {
  .status-icon {
    margin-right: 10px;
    line-height: $feature-line-height;
  }

  .status-indicator {
    line-height: $feature-line-height;
  }

  .feature-status span {
    font-size: 0.75rem;
  }
}

.userStatusesExport-form {
  display: flex;
  margin-top: 1rem;

  h5 {
    margin-bottom: 0.625rem;
  }

  > div {
    margin-right: 5rem;
  }
}

.export-user-statuses-progress-info {
  padding-bottom: 0.5rem;
}
