/*************************************
 *      Hercules Style imports
 ************************************/

.connector-body .host {
  padding-bottom: 10px;
}

.gray {
  color: @gray-dark;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.popover-title {
  background: @brand-white;
}
