/*************************************
 *      Hercules Style imports
 ************************************/

.connector-body .host {
  padding-bottom: 10px;
}

.gray {
  color: #999;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.popover-title {
  background: #ffffff;
}
