.hercules {
  background-color: $brand-white;

  .page-header {
    .title-heading {
      margin-right: 1rem;
    }

    .menu {
      position: absolute;
      right: 0;
      bottom: 24px;

      a {
        color: $brand-default;
        font-size: 1.25rem;
        padding-bottom: 24px;
        margin-right: 1rem;
      }

      a:hover {
        color: $brand-default;
        border-bottom: 3px solid $brand-default;
      }

      a.active {
        color: $brand-primary;
        border-bottom: 3px solid $brand-primary;
        padding-bottom: 23px;
        margin-right: 1rem;
        box-shadow: none;
      }
    }

    .page-title {
      position: relative;
    }
  }

  .centered-info-pane {
    background-color: $brand-white;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20%;
    color: $gray-base;

    h2 {
      color: black;
    }

    h3 {
      color: $gray-base;
    }

    p {
      margin-bottom: 1rem;
    }
  }

  .full-height {
    min-height: 100vh;
    min-height: calc(100vh - 150px);
  }

  .btn--negative {
    margin-left: 0;
  }

  .btn--primary,
  .btn--negative {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/**
  Overwritten from Toolkit somehwere in Atlas -
  Fix it before removing this code
  */
.hercules.large-margin {
  p {
    margin-bottom: 1rem;
  }
}

/* Has to be fixed in TK before we can fix the code in Atlas */
.black-header {
  color: black !important;
}

.hercules-fix-paragraphs {
  p {
    margin-bottom: 1rem;
  }
}

.email-subsection {
  margin-top: 1rem;
}

label.toggle-switch {
  padding-top: 0 !important;
}

.hybrid-services-info-message {
  position: relative;

  .icon {
    position: absolute;
    color: $color-primary-base;
    top: 3px;
  }
}

.hybrid-services-warning-message {
  position: relative;
  margin-top: 1rem;

  .icon {
    position: absolute;
    color: $color-attention-base;
    top: 3px;
  }
}

.hybrid-services-error-message {
  position: relative;

  .icon {
    position: absolute;
    color: $color-alerts-base;
    top: 3px;
  }
}

.hybrid-services-message {
  margin-left: 1.5rem;
  font-size: 0.875rem;
  max-width: 36rem;
}
