.hercules {

  .content {
    border-right:1px solid #EEE;
  }
  background-color: $brand-white;

  .cluster-card {
    margin: 0.5rem;
    cursor: pointer;
    .gray {
      background-color: #EEE;
    }
    .overlay {
      position: absolute;
      left: 25px;
      top: 5px;
      border-radius: 50px;
      height: 12px;
      width: 12px;
      border: 6px solid white;
    }
    .alarm {
      border-color: red;
    }

    .attention {
      border-color: #F5A623;
    }

    .ok {
      border-color: green;
    }
  }

  .page-header {
    .title-heading {
      margin-right: 1rem;
    }
    .menu {
      position: absolute;
      right: 0;
      bottom: 24px;
      a {
        color: $brand-default;
        border-bottom: 2px solid $brand-default;
        padding-bottom: 24px;
        margin-right: 1rem;
      }
      a.active, a:hover {
        color: $brand-primary;
        border-bottom: 3px solid $brand-primary;
        padding-bottom: 23px;
        margin-right: 1rem;
        box-shadow: none;
      }
    }
    .page-title {
      position: relative;
    }
  }
/**
  Preliminary styling of subpages to get margins
  */
  .subpage {
    padding:20px;
    h4 {
      padding-bottom:0.5rem;
      padding-top:0.5rem;

    }
    h5 {
      padding-bottom:0.1rem;
      padding-top:0.5rem;
    }

  }
}

/**
 Work around the extra col-md-12 class in views/main.tpl.html
 */
.hercules {
  margin: {
    right: -0.5rem;
    left: -0.5rem;
  };
}
