<div class="row collapse">
  <h5 class="columns small-5" translate="userManage.org.directorySynchronization"></h5>
  <div class="columns small-7" ng-if="!$ctrl.dirsyncUpdating && $ctrl.dirsyncEnabled">
    <div cs-dropdown class="actions-menu dirsync-action-button">
      <button cs-dropdown-toggle id="actionsButton" class="btn--none dropdown-toggle icon icon-three-dots" aria-label="{{::'common.toggleMenu' | translate}}"></button>
      <ul cs-dropdown-menu class="dropdown-menu dropdown-primary" role="menu">
        <li ng-repeat="dirsync in $ctrl.dirSyncArray track by $index" ng-click="$ctrl.deleteDomain(dirsync)">
          <a translate="globalSettings.multiDirsync.turnOff" translate-values="{ domainName: dirsync.domains[0].domainName }"></a>
        </li>
        <li ng-click="$ctrl.goToSettings()">
          <a translate="globalSettings.multiDirsync.seeAllDomains"></a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="dirsyncUpdating" ng-if="$ctrl.dirsyncUpdating">
  <span translate="globalSettings.multiDirsync.loading"></span>
  <i class="space icon icon-spinner"></i>
</div>
<div id="dirsyncDisabled" ng-if="!$ctrl.dirsyncUpdating && !$ctrl.dirsyncEnabled">
  <cs-statusindicator ng-model="disabled"></cs-statusindicator>
  <span translate="common.disabled"></span>
  <br>
  <a href class="p" ng-click="$ctrl.onEnableClick()" translate="userManage.org.turnOnDirSync"></a>
</div>
<div id="dirsyncEnabled" ng-if="!$ctrl.dirsyncUpdating && $ctrl.dirsyncEnabled" ng-repeat="dirsync in $ctrl.dirSyncArray track by $index">
  <cs-statusindicator ng-model="dirsync.siteStatus"></cs-statusindicator>
  <span>{{::dirsync.domains[0].domainName}}</span>
</div>
