<div ng-form="companyVoicemailAvrilForm">
  <p class="description-block" translate="locations.voicemailInstruction"></p>
  <input
    cs-input
    type="checkbox"
    ng-model="$ctrl.externalAccess"
    id="externalVoiceMailAccess"
    name="externalVoiceMailAccess"
    ng-change="$ctrl.onChange()"
    cs-input-label="{{::'serviceSetupModal.externalVoicemailAccessLabel' | translate}}">
  <div class="indent-left">
    <p class="description-block" translate="serviceSetupModal.externalNumberDescriptionText"></p>
    <div class="medium-5 external-voicemail-number">
      <cs-select
        name="externalVoicemailNumber"
        ng-model="$ctrl.externalNumberModel"
        options="$ctrl.externalNumberOptions"
        input-placeholder="$ctrl.selectPlaceholder"
        on-change-fn="$ctrl.onChange()"
        is-warn="{{$ctrl.missingDirectNumbers}}"
        warn-msg="{{::'serviceSetupModal.voicemailNoDirectNumbersError' | translate}}"
        filter="true"
        cs-required="$ctrl.externalAccess"
        is-disabled="!$ctrl.externalAccess"
        refresh-data-fn="$ctrl.onNumberFilter(filter)">
      </cs-select>
      <p
        class="help-block"
        ng-if="!$ctrl.missingDirectNumbers"
        translate="serviceSetupModal.voicemailPilotHelpText">
      </p>
    </div>
  </div>
</div>
