<div class="deleteIncidentPage">
	<span class="pageTitle">Delete {{incidentName}}</span>
	<p>
		WARNING! <strong>Deleting an incident cannot be undone.</strong> All associated data (such as downtime) will be deleted as well. Please be absolutely sure this is what you want.
    <br/><br/>
    Type DELETE in the box below for final confirmation, then hit the delete button.
	</p>
	<input type="text" class="cs-input" ng-model="deleteCommand" ng-pattern="DELETE" name="delete"/>
	<button class="btn btn--primary" type="button" ng-class="{disabled:deleteCommand!='DELETE'}" ng-click="dic.deleteIncidentBtn()">DELETE INCIDENT</button>
</div>
