<div ng-form="$ctrl.hcsProfileForm">
  <h4 translate="hcs.softwareProfiles.desc" class="hcs-service-setup__title"></h4>
  <input
    cs-input
    type="text"
    ng-model="$ctrl.changedProfile.name"
    id="profileName"
    name="profileName"
    required="true"
    ng-maxlength="$ctrl.MAX_LENGTH"
    cs-input-messages="$ctrl.errors"
    ng-change="$ctrl.processName()"
    placeholder="{{:: 'hcs.softwareProfiles.namePlace' | translate}}"
    cs-input-label="{{:: 'hcs.softwareProfiles.name' | translate}}">
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.cucm"></label>
    <div class="medium-8 large-8 hcs-profile__select">
      <cs-select
        name="cucmVer"
        ng-model="$ctrl.selectedVersion.cucm"
        options="$ctrl.versions.cucm"
        placeholder="$ctrl.placeholder.cucm"
        combo="true"
        searchable-combo="true"
        ng-change="$ctrl.processChange('CUCM', $ctrl.selectedVersion.cucm)">
      </cs-select>
    </div>
  </div>
  <div class="row">
      <label class="cs-input__label" translate="hcs.softwareProfiles.imp"></label>
      <div class="medium-8 large-8 hcs-profile__select">
        <cs-select
          name="impVer"
          ng-model="$ctrl.selectedVersion.imp"
          options="$ctrl.versions.imp"
          placeholder="$ctrl.placeholder.imp"
          combo="true"
          searchable-combo="true"
          ng-change="$ctrl.processChange('IM&P', $ctrl.selectedVersion.imp)">
        </cs-select>
      </div>
    </div>
  <div class="row">
    <label class="cs-input__label" translate="hcs.softwareProfiles.ucxn"></label>
    <div class="medium-8 large-8 hcs-profile__select">
      <cs-select
        name="ucxnVer"
        ng-model="$ctrl.selectedVersion.ucxn"
        options="$ctrl.versions.ucxn"
        placeholder="$ctrl.placeholder.ucxn"
        combo="true"
        searchable-combo="true"
        ng-change="$ctrl.processChange('CUC', $ctrl.selectedVersion.ucxn)">
      </cs-select>
    </div>
  </div>
  <div ng-if="$ctrl.hcsToggle2">
    <div class="row">
      <label class="cs-input__label" translate="hcs.softwareProfiles.plm"></label>
      <div class="medium-8 large-8 hcs-profile__select">
        <cs-select
          name="plmVer"
          ng-model="$ctrl.selectedVersion.plmVer"
          placeholder="$ctrl.placeholder.plm"
          options="$ctrl.versions.plm"
          combo="true"
          searchable-combo="true"
          ng-change="$ctrl.processChange('plm', $ctrl.selectedVersion.plm)">
        </cs-select>
      </div>
    </div>
    <div class="row">
      <label class="cs-input__label" translate="hcs.softwareProfiles.cer"></label>
      <div class="medium-8 large-8 hcs-profile__select">
        <cs-select
          name="cerVer"
          ng-model="$ctrl.selectedVersion.cerVer"
          placeholder="$ctrl.placeholder.cer"
          options="$ctrl.versions.cer"
          combo="true"
          searchable-combo="true"
          ng-change="$ctrl.processChange('cer', $ctrl.selectedVersion.cer)">
        </cs-select>
      </div>
    </div>
    <div class="row">
      <label class="cs-input__label" translate="hcs.softwareProfiles.expway"></label>
      <div class="medium-8 large-8 hcs-profile__select">
        <cs-select
          name="expwayVer"
          ng-model="$ctrl.selectedVersion.expwayVer"
          placeholder="$ctrl.placeholder.expway"
          options="$ctrl.versions.expway"
          combo="true"
          searchable-combo="true"
          ng-change="$ctrl.processChange('', $ctrl.selectedVersion.expwayVer)">
        </cs-select>
      </div>
    </div>
  </div>
 </div>