<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
  <h4 class="modal-title" translate="hercules.fusion.add-resource.title"></h4>
</div>
<div class="modal-body add-resource-modal">
  <h5><span translate="mediaFusion.add-resource-dialog.grant-registration-success-header-new-cluster" translate-values="{hostname: vm.hostName, clustername: vm.selectedCluster}"></span></h5>
  <p><span translate="mediaFusion.add-resource-dialog.grant-success-information"></span></p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="vm.next()" translate="mediaFusion.add-resource-dialog.register"></button>
</div>
