<div class="modal-header">
  <button type="button" class="close" ng-click="editCalendarService.close()" aria-label="{{::'common.close' | translate}}">
  </button>
  <h3 class="modal-title" translate="{{editCalendarService.title}}"></h3>
</div>
<div class="modal-body">
  <form name="placesEditCalServices" class="chooseServiceForm" ng-submit="editCalendarService.submitForm()">
    <h4 translate="addDeviceWizard.editCalendarService.title"></h4>
        <div class="callServiceRow" ng-if="editCalendarService.getShowServiceOptions()">
          <div class="cs-radio-group calendarServiceControls">
            <div class="section-title-row">
              <span class="section-name" translate="addDeviceWizard.editCalendarService.whichCalendar"></span>
            </div>
            <input
              ng-if="editCalendarService.getShowCalService()"
              cs-input
              type="radio"
              ng-model="editCalendarService.calService"
              id="service1"
              name="service"
              value="squared-fusion-cal"
              cs-input-label="{{'addDeviceWizard.editServices.exchangeTitle' | translate}}">
            <input
              ng-if="editCalendarService.getShowGCalService()"
              cs-input
              type="radio"
              ng-model="editCalendarService.calService"
              id="service2"
              name="service"
              value="squared-fusion-gcal"
              cs-input-label="{{'addDeviceWizard.editServices.googleTitle' | translate}}">
          </div>
        </div>

        <div class="callServiceRow emailsControlsParent">
          <div class="cs-radio-group calendarServiceControls emailControls">
            <label
              ng-if="editCalendarService.calService !== 'squared-fusion-gcal'"
              for="email-cal"
              translate="addDeviceWizard.editServices.calendarEmail"></label>
            <input
              ng-if="editCalendarService.calService !== 'squared-fusion-gcal'"
              id="email-cal"
              class="calendar-mail-id"
              type="email"
              autocomplete="off"
              maxlength="321"
              ng-model="editCalendarService.emailOfMailbox">
            <label
              ng-if="editCalendarService.calService === 'squared-fusion-cal'"
              for="email-gcal"
              translate="addDeviceWizard.editServices.calendarEmail"></label>
            <input
              ng-if="editCalendarService.calService === 'squared-fusion-gcal'"
              id="email-gcal"
              class="calendar-mail-id"
              type="text"
              autocomplete="off"
              ng-model="editCalendarService.emailOfMailbox"
              maxlength="321"
              ng-pattern="/^[^@]+@[^@]+$/">
            <p class="cs-input__help-text" translate="addDeviceWizard.editServices.calendarEmailHelp"></p>
          </div>
        </div>


        <div class="calenderResourcesRow" ng-if="editCalendarService.getResourceGroupShow()">
          <div ng-if="!editCalendarService.resourceGroup.cannotFindResouceGroup">
            <label translate="hercules.resourceGroups.setPlaceDescription"></label>
            <cs-select
              class="selectResourceGroup"
              ng-model="editCalendarService.resourceGroup.selected"
              options="editCalendarService.resourceGroup.options"
              on-change-fn="editCalendarService.selectedResourceGroupChanged()">
            </cs-select>
            <div class="hybrid-services-warning-message" ng-if="editCalendarService.resourceGroup.shouldWarn">
              <i class="icon icon-warning"></i>
              <p class="hybrid-services-message"
                 translate="hercules.resourceGroups.groupIsEmptyWarning"
                 translate-values="{ConnectorName: localizedConnectorName}">
              </p>
            </div>
          </div>
          <div ng-if="editCalendarService.resourceGroup.cannotFindResouceGroup" class="hybrid-services-error-message">
            <i class="icon icon-error"></i>
            <p class="hybrid-services-message"
               translate="hercules.resourceGroups.groupHasBeenDeleted"></p>
            <form>
              <button class="btn" type="submit" ng-click="editCalendarService.setResourceGroupOnUser('')">
                <span translate="common.remove"></span>
              </button>
            </form>
          </div>
        </div>

  </form>
</div>

<div class="modal-footer">

  <button
    id="back-button"
    class="btn"
    sq-click-promise="editCalendarService.back()"
    ng-class="{'ng-hide':!editCalendarService.hasBackStep()}"
    translate="common.back">
  </button>
  <button
  type="button"
  class="btn"
  ng-click="editCalendarService.close()"
  ng-class="{'ng-hide':editCalendarService.hasBackStep()}"
  translate="common.cancel">
</button>
  <button
    cs-btn
    id="save-button"
    loading="editCalendarService.isLoading"
    class="btn btn--primary"
    ng-class="{'ng-hide':editCalendarService.hasNextStep()}"
    ng-disabled="editCalendarService.isSaveDisabled()"
    ng-click="editCalendarService.save()">
    <span translate="common.save"></span>
  </button>
  <button
    cs-btn
    id="next-button"
    class="btn btn--primary"
    ng-class="{'ng-hide':!editCalendarService.hasNextStep()}"
    ng-disabled="editCalendarService.isNextDisabled()"
    ng-click="editCalendarService.next()">
    <span translate="common.next"></span>
  </button>
</div>
