.settings {
  background-color: white;

  .hidden {
    display: none;
  }

  .setting {
    i.icon-circle {
      &.success {
        color: $color-cta-base;
      }
      &.disabled {
        color: $gray-base;
      }
    }
    .enterprise-sipDomain-page {
      margin-top: -1.25rem;
    }
  }
}
