.settings {
  background-color: white;
  .hidden {
    display: none;
  }
  #domainManagement{
    table.table tr td .verify-btn,.verify-btn{
      top: -0.1rem;
    }
  }
  #supportSettings{
    input[type="radio"], input[type="radio"] + label:before{
      min-width: 1.25rem;
    }
    #problemReportsInput{
      overflow:hidden;
      position: relative;
      label, input[type="radio"] + label:before{
        float:left;
      }

      input[type="radio"] + label:before{
        position: absolute;
        top: 0;
      }
      label div{
        margin-left: 1.8rem;
      }
    }
  }
}
.sipurlPrefix {
  #sipUriDomainTitle {
    margin-bottom: 1.5rem;
  }

  .btn-space {
    margin-left: .7rem
  }
  .space {
    margin-left: 1rem
  }
  .space-flow {
    margin-bottom: 2.2rem
  }
  .url-examples-style {
    margin-bottom: 1rem
  }
  .sip-uri-input {
    margin-bottom: 2.2rem
  }
  .inline {
    float: left;
  }
  .uri-check-space {
    clear: both;
  }
  .red-error-icon {
    color: red;
  }
  .green-check {
    color: green;
  }
  .font-regular {
    font-size: 1rem
  }
  .paragraphSpacing {
    margin-bottom: 1rem;
  }
}
