.settings {
  background-color: white;

  .hidden {
    display: none;
  }

  .setting {
    i.icon-circle {
      &.success {
        color: $color-cta-base;
      }
      &.disabled {
        color: $gray-base;
      }
    }
    .enterprise-sipDomain-page {
      margin-top: -1.25rem;
    }
    #domainManagement{
      .verify-btn{
        top:0;
      }
    }
    #brandingLogoPanel,#webex_client_versions_label_and_dropdown{
      h4{
        font-size: 1rem;
        font-family: $brand-font-light;
        margin-bottom: 0.5rem;
      }
      span{
        font-family: $brand-font-light;
        margin-left: 0.05rem;
      }
    }

    #webex_client_versions_label_and_dropdown .row{
      margin-top: 2.5rem;
    }
  }
}
