@import 'styles/toolkit/colors';
@import 'styles/toolkit/fonts';
@import 'styles/toolkit/spacing';

@import 'sipDomain/_sip-domain-settings';
@import 'dirsync/_dirSync';

.settings {
  background-color: white;

  .hidden {
    display: none;
  }

  .setting {
    i.icon-circle {
      &.success {
        color: $color-cta-base;
      }

      &.disabled {
        color: $gray-base;
      }
    }

    .enterprise-sipDomain-page {
      margin-top: -1.25rem;
    }

    #domainManagement {
      .verify-btn {
        top: 0;
      }
    }

    #brandingLogoPanel,
    #webex_client_versions_label_and_dropdown {
      h4 {
        font-size: 1rem;
        font-family: $brand-font-light;
        margin-bottom: 0.5rem;
      }

      span {
        font-family: $brand-font-light;
        margin-left: 0.05rem;
      }
    }

    #webex_client_versions_label_and_dropdown .row {
      margin-top: 2.5rem;
    }
  }

  .save-cancel-footer {
    width: calc(100% - 100px);
    position: fixed;
    top: calc(100vh - 60px);
    background-color: $gray-light-4;
    @include vr-spacing(ph, 2);
    @include vr-spacing(pv, 1);
    .save-cancel-buttons {
      @include vr-spacing(ml, 0.5)
    }
  }
}
