<div class="settings">

  <cs-page-header title-name="{{'globalSettings.pageTitle' | translate}}"></cs-page-header>

  <div class="cs-form">
    <setting-section setting="settingsCtrl.security" ng-if="settingsCtrl.security">
      <security-setting></security-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.externalCommunication" ng-if="settingsCtrl.externalCommunication">
      <external-communication-setting></external-communication-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.fileSharingControl" ng-if="settingsCtrl.fileSharingControl">
      <file-sharing-control-setting></file-sharing-control-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.privacy" ng-if="settingsCtrl.privacy">
      <privacy-setting></privacy-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.domains" ng-if="settingsCtrl.domains">
      <domains-setting></domains-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.sipDomain" ng-if="settingsCtrl.sipDomain">
      <sipdomain-setting show-save-button="true"></sipdomain-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.sparkAssistant" ng-if="settingsCtrl.sparkAssistant">
      <spark-assistant-setting></spark-assistant-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.dirsync" ng-if="settingsCtrl.dirsync">
      <dirsync-setting></dirsync-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.authentication" ng-if="settingsCtrl.authentication">
      <authentication-setting></authentication-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.email" ng-if="settingsCtrl.email">
      <email-setting></email-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.branding" ng-if="settingsCtrl.branding">
      <branding-setting></branding-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.brandingWrapper" ng-if="settingsCtrl.brandingWrapper">
      <branding-setting-wrapper show-application-branding-title="settingsCtrl.brandingWrapper.branding">
        <branding-setting show-version="false" show-branding="true" ng-if="settingsCtrl.brandingWrapper.branding"></branding-setting>
        <device-branding-setting ng-if="settingsCtrl.brandingWrapper.deviceBranding && !settingsCtrl.brandingWrapper.isPartner" ></device-branding-setting>
      </branding-setting-wrapper>
    </setting-section>

    <setting-section setting="settingsCtrl.webexVersion" ng-if="settingsCtrl.webexVersion">
      <webex-version-setting class="setting webexversion" show-version="true" show-branding="false"></webex-version-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.support" ng-if="settingsCtrl.support">
      <support-setting></support-setting>
    </setting-section>

    <setting-section setting="settingsCtrl.retention" hide-bottom-line=true ng-if="settingsCtrl.retention">
      <retention-setting></retention-setting>
    </setting-section>
  </div>

  <div class="save-cancel-footer" ng-if="settingsCtrl.saveCancelFooter">
    <button type="button" class="btn btn--primary save-cancel-buttons pull-right" translate="common.save" ng-click="settingsCtrl.save()"></button>
    <button type="button" class="btn save-cancel-buttons pull-right" translate="common.cancel" ng-click="settingsCtrl.cancel()"></button>
  </div>
</div>
