.hg-save {
  @include vr-spacing(mh, 0.5, 1px, true);
}

.hg-edit {
  height: calc(100vh - #{($top-bar-height + $page-header-height)}) !important;
  overflow-y: auto;
  position: relative;
  background: $color-white;
  @include vr-spacing(mh, 0.5, 1px, true);
  @include vr-spacing(pb, 10);
  > .row {

    @include vr-spacing(pt, 2);
  }
  .cs-card.small {
    position: relative;
    width: 43%;
    @include vr-spacing(pl, 0);
    @include vr-spacing(pr, 0);
    i {
      font-size: 1.5rem;
    }
  }
  .load {
    font-size: 3rem;
    text-align: center;
    height : 80vh;
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  form {
    @include vr-spacing(m, 1.5);
  }
  label {
    font-size: 1rem;
  }
  .hg-name .formly-input-wrapper {
    width: 20rem;
    font-family: $brand-font-light;
    font-size: $font-size-base;
  }
  .hg-num .formly-input-wrapper {
    width: 13rem;
    font-family: $brand-font-light;
    font-size: $font-size-base;
  }
  .hg-time .formly-input-wrapper {
    width: 9rem;
    font-family: $brand-font-light;
    font-size: $font-size-base;
  }
  .hg-num .formly-input-wrapper,
  .hg-time .formly-input-wrapper {
    @include vr-spacing(mb, 1);
  }

  .typeahead .dropdown-menu {
    .active > a {
      background: $gray-light-2;
    }

    & span {
      font-size: $font-size-h4;
      font-family: $brand-font-cisco-TT-Light;
      color: $gray-dark-2;
    }

    li .hunt-member-name {
      @include vr-spacing(ph, 0.5);
    }

    li .hunt-member-line {
      @include vr-spacing(ph, 0.5);
      & span {
        font-size: 1rem;
      }
    }
  }
}

.hg-wrapper {
  @include vr-spacing(m, 1.5);
  .form-input {
    width: 40%;
  }
  p {
    @include vr-spacing(pb, 0.5);
  }
  .warning-typeahead {
    .icon {
      @extend .icon-warning;
			font-size: .75rem;
      color: $color-attention;
    }
    .message {
      color: $color-attention;
    }
    > input[type="text"] {
      border: 1px solid $color-attention;
    }
  }
}

.hgmethods {
  margin-left: auto;
  margin-right: auto;
  display : flex !important;
  flex-wrap: wrap;
  @include vr-spacing(mr, 0.5);
}

.method-container {
  @include vr-spacing(mt, 0.75, 1px, false);
  @include vr-spacing(mh, 0.5, 1px, true);
}

.method-desc {
  color: $gray-dark-2;
  font-family: $brand-font-light;
}

.hgmethod {
  display: flex !important;
  flex: none;
  @include vr-spacing(pr, 0);
  &.current {
    > a {
      background: $gray-light-4;
    }
  }
  > a {
    flex: 1;
    border: 1px solid $gray-light;
    @include box-shadow(0px 1px 2px 1px rgba(52, 53, 55, 0.18));
    border-radius: $global-radius;
    text-align: center;
    @include vr-spacing(pv, 1);
    cursor: pointer;
    > div {
      color: $brand-info;
      @include vr-spacing(pt,0.5)
    }
    > i {
      color: $color-black;
      font-size: 2rem;
    }
    &:hover, &:focus {
      background: $gray-light-4;
      @include box-shadow(0px 1px 2px 2px rgba(52, 53, 55, 0.18));
    }
  }
}

.hgmembers {
  @include vr-spacing(pt, 1);
  .form-input {
    width: 80%;
    @include vr-spacing(mb, 2);
  }

  .select-member{
    width : 76%;
    @include vr-spacing(mb, 1.25);
  }
}

.hgmember {
  width: rem-calc(250) !important;
  @include vr-spacing(mb, 0.5);
  .hg-edit & .cs-card.small {
    width: 100%;
  }
}
.hgmember .hunt-member-card {
  @include vr-spacing(mt, 0);
}

.dragging-source {
  display: none;
}

.drop-placeholder header {
  background: $brand-white!important;
}

.dragover {
  .cs-card.header-background header {
    background: $gray;
  }
}
