.participant-distribution-reports {
  position: relative;
  bottom: 10px;

  .barchart {
    position: relative;
    top: rem-calc(-5);
  }
}

.media-reports .media-metrics-report-card .legendDiv p {
  display: inline-block;
  padding: 0;
}

.media-reports .media-metrics-report-card .legendDiv .headerTable {
  table-layout: fixed;
  margin-bottom: 0rem;
  border-collapse: inherit;
  width: 100%;

  td {
    padding: 0;
    vertical-align: top;
    width: 50%;
  }
}

