<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<div class="dr-container" ng-hide="!createAccountController.drReferrer">
    <div class="dr-row" ng-hide="createAccountController.error == null">
       <textarea rows="2" cols="50" ng-model="createAccountController.error" readonly="readonly" id="dr-error"/>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <img class="dr-left" style="width: 15%; height=auto" ng-src="/images/sparkLg.png"/>
            <span translate="digitalRiver.createAccount.noAccount" translate-values="{email: createAccountController.originalEmail}"></span>
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <input class="dr-center" type="email" ng-model="createAccountController.email1">
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <input class="dr-center" type="email" autofocus ng-model="createAccountController.email2" placeholder="{{createAccountController.confirmEmailPlaceholder()}}">
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <input class="dr-center" type="password" ng-model="createAccountController.password1"  placeholder="{{createAccountController.passwordPlaceholder()}}"/>
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-center dr-pad">
            <input class="dr-center" type="password" ng-model="createAccountController.password2" placeholder="{{createAccountController.confirmPasswordPlaceholder()}}">
        </div>
    </div>
    <div class="dr-row">
        <div class="dr-recaptcha dr-pad">
            <div class="g-recaptcha" data-sitekey="6LcZZB4TAAAAAI64QQlcew_oK2jxkql4zKswB4hl"></div>
        </div>
    </div>
    <div class="dr-row" ng-hide="createAccountController.loading">
        <div class="dr-button">
            <button class="btn btn--primary" ng-click="createAccountController.handleCancel()" translate="common.cancel" />
            <button class="btn btn--primary" ng-click="createAccountController.handleCreateAccount()" id="dr-create-account-next" translate="digitalRiver.createAccount.createAccount" />
        </div>
    </div>
    <div class="dr-center" ng-show="createAccountController.loading">
      <i class="icon icon-3x icon-spinner"></i>
    </div>
</div>

