<div class="entitled-services">
  <div ng-repeat="service in services">
    <b>{{service.display_name}}</b>
    <p>{{service.description}}</p>
    <!--
    <div ng-show="service.status == 'error'" class="alert alert-danger" style="margin: 0 10px 10px 10px">
      There is a problem with dependent services for {{service.display_name}}, your organization is missing the following needed services:
      <li ng-repeat="entitlement in service.missing_entitlements">
        {{entitlement}}
      </li>
    </div>
    -->
  </div>
</div>
