<div class="modal-header">
  <button type="button" class="close" ng-click="csv.onCancelModal()" id="closeUserCsvFile" aria-label="{{::'common.close' | translate}}"></button>
  <h3 class="modal-title" translate="usersPage.manageUsers"></h3>
</div>
<div class="modal-body" ng-if="csv.isLoading">
    <div class="user-csv-bulk-center">
        <i class="icon icon-spinner larger"></i>
      </div>
</div>
<div class="modal-body user-csv-bulk" ng-if="!csv.isLoading">
    <div ng-if="csv.isDirSyncEnabled">
    <h4 translate="userManage.bulk.ad.title"></h4>
    <p cr-feature-toggle feature-hide="atlas-user-csv-subscription-enable" translate="userManage.bulk.ad.instructions"></p>
    <p cr-feature-toggle feature-show="atlas-user-csv-subscription-enable" translate="userManage.bulk.ad.subscriptionReminder"></p>
  </div>
  <div ng-if="!csv.isDirSyncEnabled">
    <h4 translate="userManage.bulk.org.title"></h4>
    <p cr-feature-toggle feature-hide="atlas-user-csv-subscription-enable" translate="userManage.bulk.org.instructions"></p>
    <p cr-feature-toggle feature-show="atlas-user-csv-subscription-enable" translate="userManage.bulk.org.subscriptionReminder"></p>
  </div>

  <div class="row text-center">
    <div class="columns medium-6">
      <div class="box center">
        <div class="box-content" ng-class="{'disabled': csv.isCsvValid}">
          <cr-user-csv-export on-status-change="csv.onExportDownloadStatus(isExporting, dataUrl)">
          </cr-user-csv-export>
          <div class="disable-mask" ng-click="" ng-if="csv.isCsvValid"></div>
        </div>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="box center file-content">
        <div class="box-content" ng-class="{'disabled': csv.isExporting}">
          <cr-user-csv-file></cr-user-csv-file>
          <div class="disable-mask" ng-click="" ng-if="csv.isExporting"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="csv.isCsvValid">

    <div class="import-options column medium-10">
      <h5 translate="userManage.bulk.import.title"></h5>
      <p translate="userManage.bulk.import.body"></p>

      <div class="cs-radio-group">
        <ul>
          <li>
            <input cs-input type="radio" ng-model="csv.model.enableRemove" id="import-add-only" ng-value="false"
                   cs-input-label="{{::'userManage.bulk.import.addOnlyTitle'|translate}}">
            <div class="cs-radio-help" translate="userManage.bulk.import.addOnlyBody"></div>
          </li>
          <li>
            <input cs-input type="radio" ng-model="csv.model.enableRemove" id="import-add-remove" ng-value="true"
                   cs-input-label="{{::'userManage.bulk.import.addRemoveTitle'|translate}}">
            <div class="cs-radio-help" translate="userManage.bulk.import.addRemoveBody"></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" id="btnBack" class="btn" ng-click="csv.onBack()"><span translate="common.back"></span></button>
  <button type="button" class="btn btn--primary" ng-disabled="!csv.model.file || !csv.isCsvValid" ng-click="csv.startUpload();"
          translate="common.submit"></button>
</div>

