<div class="user-csv-pane">
  <div ng-if="csv.model.isProcessing" class="user-csv-process-progress">
    <div class="csv-process-content">
      <div class="progressbar">
        <div class="progressbar-info">
          <span class="progressbar-label" ng-if="!csv.model.isRetrying && csv.model.processProgress < 100" translate="firstTimeWizard.processing"></span>
          <span class="progressbar-label retry-label" ng-show="csv.model.isRetrying">
            <span translate="csvUpload.retryingUsers" translate-value-users="{{csv.model.usersToRetry.length}}" translate-interpolation="messageformat"></span>
            <span translate="csvUpload.retryingIn"></span>
            <span ng-show="csv.model.retryTimerParts.hours > 0" translate="time.hours" translate-value-time="{{csv.model.retryTimerParts.hours}}" translate-interpolation="messageformat"></span>
            <span ng-show="csv.model.retryTimerParts.minutes > 0" translate="time.minutes" translate-value-time="{{csv.model.retryTimerParts.minutes}}" translate-interpolation="messageformat"></span>
            <span translate="time.seconds" translate-value-time="{{csv.model.retryTimerParts.seconds}}" translate-interpolation="messageformat"></span>
          </span>
          <span class="progressbar-label" ng-if="csv.model.processProgress == 100" translate="common.done"></span>
          <span class="progressbar-progress">{{csv.model.numTotalUsers}}/{{csv.model.numMaxUsers}}</span>
        </div>
        <progressbar animate="false" class="progress-striped active" value="csv.model.processProgress" type="primary"></progressbar>
        <div class="csv-filename">{{csv.model.fileName}}</div>
      </div>
      <div class="close-button">
        <button type="button" class="close" ng-click="csv.cancelProcessCsv();">
          <span class="sr-only" translate="common.close"></span>
        </button>
      </div>
    </div>
  </div>

  <div class="user-csv-upload-results">
    <div class="csv-results-container">
      <div class="result new-users" ng-class="{disabled: csv.model.numNewUsers === 0}">
        <h4 class="total-title" translate="csvUpload.newUsers"></h4>
        <div class="total">{{csv.model.numNewUsers}}</div>
      </div>
      <div class="result existing-users" ng-class="{disabled: csv.model.numExistingUsers === 0}">
        <h4 class="total-title" translate="csvUpload.existingUsers"></h4>
        <div class="total">{{csv.model.numExistingUsers}}</div>
      </div>
      <div ng-if="csv.model.usersToRetry.length > 0" class="result retry-users">
        <h4 class="total-title" translate="csvUpload.retryUsers"></h4>
        <div class="total">{{csv.model.usersToRetry.length}}</div>
      </div>
      <div ng-if="csv.model.userErrorArray.length > 0" class="result error-users">
        <h4 class="total-title" translate="csvUpload.errorUsers"></h4>
        <div class="total">{{csv.model.userErrorArray.length}}</div>
      </div>
    </div>
    <div class="results-timer">
      <span translate="firstTimeWizard.timeElapsed"></span>
      <timer interval="1000">
        <span ng-show="hours" translate="time.hours" translate-value-time="{{hours}}" translate-interpolation="messageformat"></span>
        <span ng-show="minutes" translate="time.minutes" translate-value-time="{{minutes}}" translate-interpolation="messageformat"></span>
        <span translate="time.seconds" translate-value-time="{{seconds}}" translate-interpolation="messageformat"></span>
      </timer>
    </div>
    <div class="error-table table-header" ng-if="csv.model.userErrorArray.length > 0">
      <table class="table table-bordered">
        <colgroup>
          <col class="medium-2">
          <col class="medium-10">
        </colgroup>
        <thead>
          <tr>
            <th translate='firstTimeWizard.resultRowHeader'></th>
            <th translate='firstTimeWizard.resultErrorHeader'></th>
          </tr>
        </thead>
      </table>
    </div>
    <div cs-scroll class="error-table table-body" ng-if="csv.model.userErrorArray.length > 0">
      <table id="errorTable" class="table table-bordered">
        <colgroup>
          <col class="medium-2">
          <col class="medium-10">
        </colgroup>
        <tbody>
          <tr ng-repeat="data in csv.model.userErrorArray">
            <td class="center">{{::data.row}}</td>
            <td>{{::data.error}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="!csv.model.isProcessing && csv.model.userErrorArray.length > 0">
      <csv-download type="error" filename="errors.csv" no-icon anchor-text="{{csv.model.exportErrorsAnchorText}}"></csv-download>
    </div>
  </div>
</div>
