<div class="user-csv-upload" ng-disabled="vm.disabled">
  <div ng-if="!csv.isCsvValid">
    <div class="file-drop"
         cr-file-drop
         file="csv.model.file"
         file-name="csv.model.fileName"
         file-max-size="10"
         file-max-size-error="csv.onFileSizeError()"
         file-type="text/csv, application/csv, application/vnd.ms-excel"
         file-suffix="csv"
         file-type-error="csv.onFileTypeError()">

        <div class="icon icon-upload-contain"></div>
        <div translate="userManage.bulk.import.label"></div>
        <input
          id="upload"
          name="upload"
          type="file"
          cr-file-read
          file="csv.model.file"
          file-name="csv.model.fileName"
          file-max-size="10"
          file-max-size-error="csv.onFileSizeError()"
          file-type="text/csv, application/csv, application/vnd.ms-excel"
          file-suffix="csv"
          file-type-error="csv.onFileTypeError()"/>
        <div class="prompt">
          <span translate="userManage.bulk.uploadPrompt"></span>
          <label for='upload' translate="userManage.bulk.fileBrowser"></label>
        </div>
    </div>
  </div>
  <div ng-if="csv.isCsvValid" class="file-drop-inactive">
    <div class="center-vert">
      <h5 translate="userManage.bulk.readyForImport"></h5>
      <p>{{csv.model.fileName}}</p>
      <a href="" ng-click="csv.resetFile()" translate="userManage.bulk.removeFile" class="ng-scope"></a>
    </div>

  </div>
</div>
