@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.features-loading {
  font-size: 3rem;
  text-align: center;
}

.huron-features {
  @extend %content-subheader;
  @extend %card-container-padding !optional;
}

.features-reload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > p {
    color: $gray-dark;
  }

  > div {
    color: $gray-darker;
  }
}

.feature-header {
  @include vr-spacing(ph, 1.5);
  @include vr-spacing(pv, 1);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $brand-white;
  border-bottom: 1px solid $gray-light-3;
  color: $gray-dark-2;
}

.features-content {
  padding-bottom: rem-calc(16);

  .cs-card article {
    height: rem-calc(195);
  }

  .cs-card article section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .cs-card > article header {
    @include vr-spacing(pt, 1);
  }

  .card-body {
    &:hover {
      cursor: pointer;
    }
  }

  .card-section {
    @include vr-spacing(pl, 1.5);
  }

  .card-section-num {
    display: block;
    color: $gray-base;
    font-family: $brand-font-light;
    font-size: $base-font-size;
    line-height: rem-calc(24);

    span {
      font-size: 1rem;
    }
  }

  .card-members {
    color: $gray-dark;
    font-family: $brand-font-light;
    font-size: $base-font-size;
  }

  .card-footer {
    @include vr-spacing(ph, 1);
    @include vr-spacing(pv, 0.5);

    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;

    .card-icons {
      display: flex;
    }

    a {
      font-size: rem-calc(24);
      color: $gray-light-2;
      top: -2px;
      padding-left: 8px;

      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }

  .card-icon {
    @include vr-spacing(ml, 0.5);

    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: $gray-light-4;
    text-align: center;
  }
}

.card-icon-color-AA {
  color: $color-primary;
}

.card-icon-color-HG {
  color: $color-alerts;
}

.card-icon-color-CP {
  color: $color-cta;
}

.card-icon-color-PG {
  color: $color-people;
}

.card-icon-color-PI {
  color: $color-attention-base;
}

.spinner-icon {
  height: 70vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.no-features-available {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  height: 80vh;
  color: $gray-dark;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  text-align: center;

  .nothing-to-see {
    color: $gray-dark;
  }

  .lets-customize {
    color: $gray-darker;
  }

  div {
    @include vr-spacing(pt, 1);
  }
}

.feature-delete-modal {
  @include vr-spacing(ph, 2);
}

.aa-depends-modal {
  @include vr-spacing(ph, 2);

  ul {
    list-style-type: none;

    @include vr-spacing(ml, 0);
  }
}

$toolkit-primary: #0393c9;
$toolkit-people: #09b385;
$toolkit-attention: #dd9608;
$toolkit-cta: #835dce;
$toolkit-alerts: #d3385e;
//Toolkit
.cs-card.header-background.hoverable {
  article {
    &.hover,
    &:focus {
      background-color: $toolkit-primary;
      header {
        background-color: $toolkit-primary;
        button.close {
          color: $color-white;
          opacity: 1;
        }
      }
      .badge--outline {
        border: none !important;
        color: $color-white;
        padding: 0;
        font-size: rem-calc(12);
      }
      .h4 {
        color: $color-white;
      }
    }
    header {
      background-color: $color-white;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
      padding-top: 1rem;
      .h4 {
        color: $gray-dark-2;
      }

      button.close {
        color: $gray-light-2;
        opacity: 1;
        &::before {
          font-size: 1rem;
        }
      }
    }
    .card-body {
      padding-bottom: 1rem;
    }
  }

  &.alerts {
    article {
      &.hover,
      &:focus {
        background-color: $toolkit-alerts;
        header {
          background-color: $toolkit-alerts;
        }
      }
    }
  }

  &.cta {
    article {
      &.hover,
      &:focus {
        background-color: $toolkit-cta;
        header {
          background-color: $toolkit-cta;
        }
      }
    }
    .badge {
      border-color: $toolkit-cta;
      color: $toolkit-cta;
    }
  }

  &.people {
    article {
      &.hover,
      &:focus {
        background-color: $toolkit-people;
        header {
          background-color: $toolkit-people;
        }
      }
    }
  }

  &.attention {
    article {
      &.hover,
      &:focus {
        background-color: $toolkit-attention;
        header {
          background-color: $toolkit-attention;
        }
      }
    }
  }
}

// Atlas
.features-content {
  .cs-card.hoverable {
    article {
      &.hover,
      &:focus {
        .card-section-num,
        .card-members {
          color: $color-white;
        }
      }
      section {
        justify-content: flex-end;
      }
    }
    header a {
      color: $gray-light-2;
      line-height: 2;
      padding-right: .5rem;
    }
  }
}
