$page-header-height: 95px;
$features-header-height : 83px;

.features-loading{
  font-size: 3rem;
  text-align: center;
}

.huron-features{
  @extend %content-subheader;
  @extend %card-container;
}

.features-reload {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: calc(100vh - #{($top-bar-height + $page-header-height + $features-header-height)});
   >p {
     color: $gray-dark;
   }
  >div {
    color: $gray-darker;
  }
}

.feature-header {
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  background-color: $brand-white;
  @include vr-spacing(ph, 1.5);
  @include vr-spacing(pv, 1);
  border-bottom: 1px solid $gray-light-3;
  color: $gray-dark-2;
}


.features-content {
  padding-bottom: rem-calc(16);

  .cs-card article {
    height : rem-calc(170);
  }
  .cs-card article section {
    display : flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .cs-card > article header {
    @include vr-spacing(pt, 1);
  }

  .card-body{
    &:hover {
      cursor: pointer;
    }
  }

  .card-section {
    @include vr-spacing(pl, 0.9);
    @include vr-spacing(pt, 0.8);
  }

  .card-section-num {
    display : block;
    color : $gray-base;
    font-family: $brand-font-light;
    font-size: $font-size-large;
    @include vr-spacing(pb, 0.2);
    line-height: rem-calc(24);
  }

  .card-members {
    color : $gray-dark;
    font-family: $brand-font-light;
    font-size: $font-size-base;
  }

  .card-footer {
    width : 100%;
    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    @include vr-spacing(ph, 1);
    @include vr-spacing(pv, .5);
    .card-icons {
      display: flex;
    }

    a {
      font-size: rem-calc(24);
      color: $gray-light-2;
      top: -2px;
      padding-left: 8px;
      &:hover,
      &:focus {
        color: $color-primary;
      }
    }
  }


  .card-icon {
    display : block;
    height : 2rem;
    width : 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: $gray-light-4;
    text-align: center;
    @include vr-spacing(ml, .5);
  }
}

.card-icon-color-AA{
  color: $color-primary;
}
.card-icon-color-HG{
  color:  $color-eggplant;
}
.card-icon-color-CP{
  color: $color-alerts;
}

.spinner-icon{
  height: 70vh;
  display : flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}


.no-features-available {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
  height: 80vh;
  color: $gray-dark;
  background: $brand-white;
  align-items: center;
  justify-content: center;
  padding: 0 32px;
  text-align: center;

  .nothing-to-see {
    color: $gray-dark;
  }

  .lets-customize {
    color: $gray-darker;
  }

  & div {
    @include vr-spacing(pt, 1);
  }
}
