<div class="cs-card-container">
  <cs-card-layout>
    <cs-card ng-repeat="huronFeature in huronFeaturesCtrl.listOfFeatures" class="cs-card--small header-background hoverable" ng-class="huronFeaturesCtrl.cardColor[huronFeature.filterValue]">
      <article ng-click="huronFeaturesCtrl.editHuronFeature((huronFeature), $event)" hover-delay>
        <header>
          <div class="header-with-right-icon">
            <p class="h4 ellipsis" title="{{huronFeature.cardName}}"> {{huronFeature.cardName}} </p>
            <div class="right card-icon-div ">
              <a href
                class="icon icon-link"
                ng-if="(huronFeature.filterValue === 'AA' && huronFeature.hasDepends)"
                ng-click="huronFeaturesCtrl.detailsHuronFeature((huronFeature), $event)"
                aria-label="{{::'huronFeatureDetails.viewDepend' | translate}}"></a>
              <button type="button" class="close"
                ng-click="huronFeaturesCtrl.deleteHuronFeature((huronFeature), $event)"
                ng-keydown="huronFeaturesCtrl.deleteKeypress((huronFeature), $event)"
                aria-label="{{::'common.delete' | translate}}"></button>
            </div>
          </div>
          <p><span class="badge badge--outline" ng-class="huronFeaturesCtrl.badgeColor[huronFeature.filterValue]">{{:: huronFeature.featureName | translate}}</span></p>
        </header>
        <section class="card-body">
          <div class="card-section" ng-if="(huronFeaturesCtrl.featureFilter(huronFeature))">
            <span class="card-section-num" ng-if="(huronFeature.numbers.length <= 1)" ng-repeat="number in huronFeature.numbers">{{number | telephoneNumber}}</span>
            <span class="card-section-num" ng-if="(huronFeature.numbers.length > 1)">{{:: huronFeature.numbers.length + ' '+ ('huronHuntGroup.numbers' | translate)}}</span>
          </div>
          <div class="card-section" ng-if="huronFeature.filterValue === 'CP'">
            <span class="card-section-num">
              <span ng-if="huronFeature.endRange === huronFeature.startRange">{{ ::huronFeature.startRange }}</span><span ng-if="huronFeature.endRange !== huronFeature.startRange"> {{ ::(huronFeature.endRange - huronFeature.startRange + 1)+ ' '+ ('huronHuntGroup.numbers' | translate) }}</span>
            </span>
          </div>
          <div class="card-section" ng-if="huronFeature.filterValue === 'PG'">
            <span class="card-section-num">
              <span>{{ ::huronFeature.pgNumber }}</span>
            </span>
          </div>
          <div class="card-section"><span ng-if="(huronFeature.filterValue === 'HG' || huronFeature.filterValue === 'CP' || huronFeature.filterValue === 'PG' || huronFeature.filterValue === 'PI')" class="card-members left">
                {{:: huronFeature.memberCount + ('huronFeatureDetails.members' | translate)}}</span></div>
        </section>
      </article>
    </cs-card>
  </cs-card-layout>
</div>
