<div class="huron-features" ng-if="!huronFeaturesCtrl.loading && !huronFeaturesCtrl.noFeatures">
  <cs-page-sub-header ng-if="huronFeaturesCtrl.pageState !== 'NewFeature' && huronFeaturesCtrl.pageState !== 'Loading'">
    <cs-page-sub-header-left>
      <cs-searchfilter filters="huronFeaturesCtrl.filters" set-filter-fn="huronFeaturesCtrl.setFilter(filter.filterValue)" search-item-fn="huronFeaturesCtrl.searchData(searchStr)" placeholder-text="{{huronFeaturesCtrl.placeholder.name}}" hide-count="true" clear-aria-text="{{::'common.clear' | translate}}" search-placeholder-text="{{::'common.search' | translate}}">
      </cs-searchfilter>
    </cs-page-sub-header-left>
    <cs-page-sub-header-right>
      <button class="btn btn--people new-feature-button" ng-click="huronFeaturesCtrl.openModal()">
        <span translate="huronHuntGroup.newFeatureButtonText"></span>
      </button>
    </cs-page-sub-header-right>
  </cs-page-sub-header>

  <!--Show Create New Feature Page if no features exists-->
  <div ng-if="huronFeaturesCtrl.pageState === 'NewFeature'" class="no-features-available">
    <div class="h1 nothing-to-see" translate="huronHuntGroup.featuresNotYetConfiguredPage.nothingToSee"></div>
    <div class="h4 lets-customize" translate="huronHuntGroup.featuresNotYetConfiguredPage.letsCustomize"></div>
    <div><button class="btn btn--people btn--large" ng-click="huronFeaturesCtrl.openModal()" translate="huronHuntGroup.newFeatureButtonText"></button></div>
  </div>

  <div ng-if="huronFeaturesCtrl.pageState !== 'NewFeature'" class="features-content content-container">
    <!--Show Reload page when all feature requests fail-->
    <div ng-if="huronFeaturesCtrl.pageState === 'Reload'">
      <div class="features-reload">
        <p class="h4" translate="huronFeatureDetails.sorryMessage"></p>
        <div class="h2" translate="huronFeatureDetails.reloadMessage"></div>
        <button type="button" class="btn btn--link" ng-click="huronFeaturesCtrl.reload()">Reload</button>
      </div>
    </div>
    <!--Show Spinner Icon until controller receives data from back-end-->
    <div grid-spinner="huronFeaturesCtrl.pageState === 'Loading'"></div>

    <!-- Show Cards whenever data is received by controller-->
    <feature-cards ng-if="huronFeaturesCtrl.pageState === 'showFeatures'"></feature-cards>
  </div>
</div>
<div class="features-loading" ng-if="huronFeaturesCtrl.loading">
  <i class="icon icon-spinner"></i>
</div>
<div class="no-features-available" ng-if="!huronFeaturesCtrl.loading && huronFeaturesCtrl.noFeatures">
  <span class="h1 gray-base" translate="huronHuntGroup.noFeatures"></span>
</div>
