<!-- Add Trial Modal -->
<form name="trialForm">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$parent.addTrialModalInstance.close()">
      <i class="icon icon-close" aria-hidden="true"></i><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title" translate="partnerHomePage.dialogTitle"></h3>
  </div>
  <div class="modal-body">
    <h4 translate="partnerHomePage.customerInformation"></h4>
    <div class="row input-row-spacing">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <span class="modal-options" translate="partnerHomePage.customerName"></span>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
        <div id="customerNameForm" class="form-group trial-form" ng-class="{ 'has-error': (trialForm.customerName.$invalid && trialForm.customerName.$dirty) || ($parent.nameError && !trialForm.customerName.$dirty) }">
          <input id="customerNameInput" class="form-control" name="customerName" ng-model="$parent.customerName" type="text" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <span class="modal-options" translate="partnerHomePage.customerEmail"></span>
      </div>
      <div class="col-xs-9 col-sm-9 col-md-9">
        <div id="customerEmailForm" class="form-group trial-form" ng-class="{ 'has-error': (trialForm.customerEmail.$invalid && trialForm.customerEmail.$dirty) || ($parent.emailError && !trialForm.customerEmail.$dirty)}">
          <input id="customerEmailInput" type="email" class="form-control" name="customerEmail" ng-model="$parent.customerEmail" required>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <h4 translate="partnerHomePage.termsOfTrial"></h4>
    <div class="row">
      <div class="col-xs-7 col-sm-7 col-md-7">
        <span class="trial-options" translate="partnerHomePage.numberOfLicenses"></span>
        <select class="form-control modal-form-control" ng-model="$parent.licenseCount">
          <option value="50" translate="partnerHomePage.fifty"></option>
          <option value="100" translate="partnerHomePage.oneHundred"></option>
          <option value="200" translate="partnerHomePage.twoHundred"></option>
        </select>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5">
        <span class="trial-options" translate="partnerHomePage.duration"></span>
        <select class="form-control modal-form-control" ng-model="$parent.licenseDuration">
          <option value="30" translate="partnerHomePage.thirtyDays"></option>
          <option value="60" translate="partnerHomePage.sixtyDays"></option>
          <option value="90" translate="partnerHomePage.ninetyDays"></option>
        </select>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" id="startTrialButton" class="btn btn-primary btn-lg pull-right" ng-click="$parent.startTrial(); trialForm.$setPristine(true)" ng-disabled="trialForm.$invalid" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">
      <span class="button-text" translate="partnerHomePage.startTrial"></span>
    </button>
    <div id="cancelNewTrialButton" class="btn btn-default btn-lg pull-right" ng-click="$parent.addTrialModalInstance.close()">
      <span class="button-text" translate="partnerHomePage.cancel"></span>
    </div>
  </div>
</form>
