<div class="panel panel-default add-user-panel" id="manageUsersPanel">
  <div class="panel-heading panel-heading-default">
    <div id="addUsers">
      <h3 class="panel-title panel-title-default">
      <strong id="subTitleAdd" ng-show="isAddEnabled()" translate="usersPage.subTitleAdd"></strong>
      <strong id="subTitleEnable" ng-show="!isAddEnabled()" translate="usersPage.subTitleEnable"></strong>
      </h3>
    </div>
    <div ui-sref="users.list">
      <span><i id="closeAddUser" class="icon icon-close add-user-close pull-right"></i></span>
    </div>
  </div>
  <div class="panel-body">
    <form role="form">
      <div class="form-group">
        <label for="usersfield" translate="usersPage.email"></label>
        <input cs-input type="text" class="form-control" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
        <br>
        <div class="entitle-check-grp" ng-repeat="(service, val) in entitlements" ng-if="service!=='webExSquared' && isServiceAllowed(service)">
          <input cs-input type="checkbox"
            id="{{'chk_'+service}}"
            cs-input-label="{{getServiceName(service)}}"
            ng-model="entitlements[service]">
        </div>
      </div>
      <div class="form-group">
        <div id="btn-cancel" class="btn btn--link pull-right" ng-click="clearPanel()"><span translate="usersPage.clear"></span></div>
        <button cs-btn type="button"
          id="btnAdd"
          loading="btnAddLoad"
          class="btn btn--primary pull-right"
          ng-show="isAddEnabled()"
          ng-click="addUsers()">
          <span translate="usersPage.add"></span>
        </button>
        <button cs-btn type="button"
          id="btnEntitle"
          loading="btnEntitleLoad"
          class="btn btn--primary pull-right"
          ng-click="entitleUsers()">
          <span translate="usersPage.entitle"></span>
        </button>
        <button cs-btn type="button"
          id="btnInvite"
          loading="btnInviteLoad"
          class="btn btn--primary pull-right"
          ng-disabled="!isSquaredInviter()"
          ng-click="inviteUsers()">
          <span translate="usersPage.invite"></span>
        </button>
      </div>
    </form>
  </div>
</div>
