<!-- Edit Trial Modal -->
<div class="modal-header">
  <button type="button" class="close" ng-click="$parent.editTrialModalInstance.close()">
    <i class="icon icon-close" aria-hidden="true"></i><span class="sr-only">Close</span>
  </button>
  <h3 class="modal-title">{{$parent.currentTrial.customerName}}</h3>
</div>
<div class="modal-body-white">
  <div class="row modal-trial-status">
    <div class="col-sm-9">
      <div class="progress">
        <div class="progress-bar" ng-class="{'danger-bar': $parent.currentTrial.daysLeft <= 5, 'warning-bar': ($parent.currentTrial.daysLeft < $parent.currentTrial.duration/2)}" role="progressbar" aria-valuenow="{{$parent.currentTrial.daysUsed}}" aria-valuemin="0" aria-valuemax="{{$parent.currentTrial.duration}}" style="width: {{$parent.currentTrial.percentUsed}}%;">
        </div>
        <!-- TO DO: Why does this not work in the modal? -->
        <!-- <div class="modal-bar">
          <progressbar max="currentTrial.duration" value="currentTrial.daysUsed" type="{{getProgressStatus(currentTrial)}}"></progressbar>
        </div> -->
        <div class="days-left-trial">
          <span translate="partnerHomePage.trialsEndDate"></span>
        </div>
        <div class="days-left-edit-modal">
          <span ng-class="{'trial-danger-text': currentTrial.daysLeft <= 5}">{{getDaysLeft($parent.currentTrial.daysLeft)}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <span class="users-edit-modal trialHeading" translate="partnerHomePage.trialsNumUsers"></span>
        <div class="license-count-modal">
          <span >{{$parent.currentTrial.usage}}/{{$parent.currentTrial.licenses}}</span>
        </div>
    </div>
  </div>
  <div class="modal-body">
    <h4 translate="partnerHomePage.customerInformation"></h4>
    <div class="row input-row-spacing">
      <div class="col-md-4">
        <span class="modal-edit-options" translate="partnerHomePage.name"></span>
      </div>
      <div class="col-md-8">
        <div class="company-info">
          <span>{{$parent.currentTrial.customerName}}</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <span class="modal-edit-options" translate="partnerHomePage.customerEmail"></span>
      </div>
      <div class="col-md-8">
        <div class="company-info">
          <span>{{$parent.currentTrial.customerEmail}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-body">
    <button id="editTrialButton" class="btn btn-primary pull-right" ng-click="editTerms = false" ng-show="editTerms">
      <span class="button-text" translate="partnerHomePage.edit"></span>
    </button>
    <h4 translate="partnerHomePage.termsOfTrial"></h4>
    <div ng-show="editTerms">
      <div class="row input-row-spacing">
        <div class="col-md-4">
          <span class="modal-edit-options" translate="partnerHomePage.numberOfLicenses"></span>
        </div>
        <div class="col-md-8">
          <div class="company-info">
            <span>{{$parent.currentTrial.licenses}}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span class="modal-edit-options" translate="partnerHomePage.duration"></span>
        </div>
        <div class="col-md-8">
          <div class="company-info">
            <span>{{$parent.currentTrial.duration}} Days</span>
          </div>
        </div>
      </div>
    </div>
    <div ng-show="!editTerms">
      <div class="row">
        <div class="col-md-7">
          <span class="trial-options" translate="partnerHomePage.numberOfLicenses"></span>
          <select id="editLicensesSelect" class="form-control modal-form-control" ng-model="licenseCount">
            <option value="50" translate="partnerHomePage.fifty"></option>
            <option value="100" translate="partnerHomePage.oneHundred"></option>
            <option value="200" translate="partnerHomePage.twoHundred"></option>
          </select>
        </div>
        <div class="col-md-5">
          <span class="trial-options" translate="partnerHomePage.duration"></span>
          <select id="editLengthSelect" class="form-control modal-form-control" ng-model="licenseDuration">
          <option value="30" translate="partnerHomePage.thirtyDays"></option>
          <option value="60" translate="partnerHomePage.sixtyDays"></option>
          <option value="90" translate="partnerHomePage.ninetyDays"></option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button"  ng-show="!editTerms" id="saveSendButton" class="btn btn-primary btn-lg pull-right" ng-click="editTrial()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">
    <span class="button-text" translate="partnerHomePage.saveSendReminder"></span>
  </button>
  <div  ng-show="!editTerms" id="cancelTrialButton" class="btn btn-default btn-lg pull-right" ng-click="$parent.editTrialModalInstance.close()">
    <span class="button-text" translate="partnerHomePage.cancel"></span>
  </div>
</div>