<div class="initial-setup">
	<div class="initial-setup-panel">
		<div class="initial-setup-sidebar">
			<div class="initialSetupNav" id='accountreviewTab'>
				<a class="ftwNavLink" ng-click="showNav('accountreview')"> <span translate="firstTimeWizard.accountReview"></span></a>
			</div>
			<div class="initialSetupNav" id='servicesetupTab'>
				<a class="ftwNavLink" ng-click="showNav('servicesetup')"> <span translate="firstTimeWizard.serviceSetup"></span></a>
			</div>
			<div class="initialSetupNav" id='adduserTab'>
				<a class="ftwNavLink" ng-click="showNav('adduser')"> <span translate="firstTimeWizard.addUsers"></span></a>
			</div>
			<div class="initialSetupNav" id='getstartedTab'>
				<a class="ftwNavLink" ng-click="showNav('getstarted')"> <span translate="firstTimeWizard.getStarted"></span></a>
			</div>
	</div>
		</div>

		<div class="initial-setup-body" ui-view>
			
		</div>
	</div>
</div>