<div class="initialSetupTabs">
    <div class="initialSetupTab" id="chooseSyncTab">
        <a class="ftwTabLink" ng-click="showStep('chooseSync')">
            <span translate="firstTimeWizard.chooseSync"></span>
        </a>
    </div>
    <div class="initialSetupTab" id="manualTab">
        <a class="ftwTabLink" ng-click="showStep('manual')">
            <span translate="firstTimeWizard.manualTitle"></span>
        </a>
    </div>
    <div class="initialSetupTab" id="domainTab">
        <a class="ftwTabLink" ng-click="showStep('domain')">
            <span translate="firstTimeWizard.yourDomainTitle"></span>
        </a>
    </div>
    <div class="initialSetupTab" id="installCloudTab">
        <a class="ftwTabLink" ng-click="showStep('installCloud')">
            <span translate="firstTimeWizard.installTitle"></span>
        </a>
    </div>
    <div class="initialSetupTab" id="syncStatusTab">
        <a class="ftwTabLink" ng-click="installNextStep()">
            <span translate="firstTimeWizard.syncStatus"></span>
        </a>
    </div>
</div>

<div id="chooseSync">
    <div class="initialSetupContent">
        <div class="ftwCenterContent">
            <div class="choosesyncOpts">
                <span translate="firstTimeWizard.chooseSyncDesc"></span>
            </div>
            <div class="chooseSyncOptions">
                <div class="choosesyncOpts">
                    <input type="radio" class="syncradio" ng-model="chooseSync" value="manual"/>
                    <span translate="firstTimeWizard.chooseManualDesc"></span>
                </div>
              <div class="choosesyncOpts">
                <input type="radio" class="syncradio" ng-model="chooseSync" value="dirsync"/>
                <span translate="firstTimeWizard.chooseADSyncDesc"></span>
              </div>
        </div>
        </div>
        <div class="initialSetupAddUserNavBtns">
            <button class="btn btn--primary pull-left" ng-click="chooseSkipStep()">
                <span translate="firstTimeWizard.skipBtn"></span>
            </button>
            <button class="btn btn--primary pull-left" ng-click="chooseBackStep()">
                <span translate="firstTimeWizard.backBtn"></span>
            </button>
        <button class="btn btn--primary pull-left" ng-click="chooseNextStep()" ng-disabled="!chooseSync">
            <span translate="firstTimeWizard.nextBtn"></span>
        </button>
        </div>
    </div>


</div>

<div id="manual" class="ng-hide">
    <div class="initialSetupContent" ng-init="setupTokenfield()">
        <form role="form">
      <div class="form-group">
        <label for="inputEmail3" translate="usersPage.email"></label>
        <input class="form-control" type="text" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
      </div>
      <div class="form-group">
        <div id="btn-cancel" class="btn btn--link pull-right" ng-click="clearPanel()">
            <span translate="usersPage.clear"></span>
        </div>
        <button type="button" id="btnInvite" cs-btn loading="btnInviteLoad" class="btn btn--primary pull-right" ng-click="inviteUsers()">
            <span translate="usersPage.invite"></span>
        </button>
      </div>
    </form>
    <div class="initialSetupAddUserNavBtns">
        <button class="btn btn--primary pull-left" ng-click="manualBackStep()">
            <span translate="firstTimeWizard.backBtn"></span>
        </button>
          <button class="btn btn--primary pull-left" ng-click="manualNextStep()">
            <span translate="firstTimeWizard.doneBtn"></span>
          </button>
        </div>
  </div>
</div>

<div id="domain" class="ng-hide">
    <div class="initialSetupContent" ng-init="getDefaultDomain()">
    <div class="ftwCenterContent">
      <span class="subheading" translate="firstTimeWizard.domain"></span>
      <input type="text" id="dirDomainText" placeholder="{{'firstTimeWizard.defaultPlaceholder' | translate}}" ng-model="domain" onchange="angular.element(this).scope().setDomainName(this)"/>
      <div id="domainDesc">
        <span translate="firstTimeWizard.domainDesc"></span>
      </div>
    </div>
    <div class="initialSetupAddUserNavBtns">
        <button class="btn btn--primary pull-left" ng-click="domainBackStep()">
            <span translate="firstTimeWizard.backBtn"></span>
        </button>
          <button class="btn btn--primary pull-left" ng-click="domainNextStep()" ng-disabled="!domain">  <span translate="firstTimeWizard.nextBtn"></span>
          </button>
        </div>
  </div>
</div>

<div id="installCloud" class="ng-hide">
    <div class="initialSetupContent">
        <div class="ftwCenterContent">
            <div class="installStep"> <span translate="firstTimeWizard.installStep1"></span></div>
          <div class="installStep"> <span translate="firstTimeWizard.installStep2"></span></div>
          <div class="installStep"> <span translate="firstTimeWizard.installStep3"></span></div>
          <div class="installStep"> <span translate="firstTimeWizard.nextSteps"></span></div>
        </div>
        <div class="initialSetupAddUserNavBtns">
            <button class="btn btn--primary pull-left" ng-click="installBackStep()">
                <span translate="firstTimeWizard.backBtn"></span>
            </button>
          <button class="btn btn--primary pull-left" ng-click="installNextStep()">
            <span translate="firstTimeWizard.nextBtn"></span>
          </button>
        </div>
    </div>
</div>

<div id="syncStatus" class="ng-hide">
    <div class="initialSetupContent">
        <div class="syncStatusText">
            <span class="subheading" translate="firstTimeWizard.results"></span>
          <span class="boldText"> {{dirsyncStatus}} </span>

          <span class="sync-dirsync-refresh-button">
            {{formatDate(lastEndTime)}}
              <span id="refreshButton">
                <a href ng-click="getStatus()"><i class="icon icon-refresh"></i></a>
              </span>
          </span>
        </div>

      <div id="syncNumUsers">
        <span class="boldText"> {{numUsersInSync}} </span>
        <span translate="firstTimeWizard.syncAgreementText"></span>
      </div>
      <div class="ftwdirgridStyle" ng-grid="gridOptions"></div>
      <div class="initialSetupAddUserNavBtns">
        <button class="btn btn--primary pull-left" ng-click="syncBackStep()">
            <span translate="firstTimeWizard.backBtn"></span>
        </button>
              <button class="btn btn--primary pull-left" ng-click="syncNextStep()">
                <span translate="firstTimeWizard.doneBtn"></span>
              </button>
            </div>
    </div>
</div>

