<div class="landing-page">
  <div class="cta row" ng-controller="LicensesCtrl" ng-show="isAdmin()">
    <section class="packages col-sm-6 col-md-3">
      <h3>{{packageInfo.name}}</h3>
      <progressbar max="packageInfo.termMax" value="packageInfo.termUsed"></progressbar>
      <p ng-show="isOnTrial()">{{packageInfo.termRemaining}} {{packageInfo.termUnits}} left in your trial</p>
      <p ng-hide="isOnTrial()">Unlimited use</p>
      <button class="btn btn-sm btn-default">Buy / Upgrade</button>
    </section>
    <section class="devices col-sm-6 col-md-3" ng-controller="DevicesCtrl">
      <h3>Devices</h3>
      <ul class="device-list">
        <li ng-repeat="device in devices" class="device-item"><span class="number">{{device.qty}}</span><span class="model">{{device.model}}</span></li>
      </ul>
      <button class="btn btn-sm btn-default">Order More</button>
    </section>
    <div class="col-md-6">
      <div class="row">
        <section class="licenses col-sm-6">
          <h3>{{licenses.total}} Licenses</h3>
          <div class="progress">
            <progressbar max="licenses.total" value="licenses.used"></progressbar>
          </div>
          <p ng-show="isOnTrial()">{{licenses.total - licenses.used}} unused</p>
          <p ng-hide="isOnTrial()">{{licenses.used}} used</p>
          <button class="btn btn-sm btn-default">Remind</button>
          <button class="btn btn-sm btn-default">Buy More</button>
        </section>
        <section class="unlicensed-users col-sm-6">
          <div ng-show="isDomainClaimed()">
            <div class="users-info">
              <span class="number">{{licenses.unlicensed}}</span>
              <span class="text">unlicensed users registered on</span>
            </div>
            <h3>{{licenses.domain}}</h3>
            <button class="btn btn-sm btn-default">Convert</button>
          </div>
          <div ng-hide="isDomainClaimed()">
            <h3>Unlicensed Users</h3>
            <p>View unlicensed users</p>
            <button class="btn btn-sm btn-default">View</button>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="landing-content row">
    <section class="analytics-charts col-md-9">
      <h3>
      <span translate="homePage.activity"></span><span ng-click="manualReload(false)" class="overview-updated" id="time-click-div">:
      <reload-data id="homeRefreshData" last-updated-time="homeRefreshTime"></reload-data>
      </span>
      </h3>
      <div id="activeUsersLegend"></div>
      <!-- <div class="chartBackground"></div> -->
      <div id="activeUsersChart"></div>
      <div id="au-graph-refresh" class="au-graph-refresh" ng-show="showAUGraphRefresh"></div>
    </section>
    <div class="widgets col-md-3">
      <div class="row">
        <!-- TODO: To be removed when monitoring service is refactored-->
        <section class="monitoring-panel col-sm-4 col-md-12">
          <a ng-href="{{statusPageUrl}}" target="_blank">
            <h4 class="monitoring-section" translate="homePage.monitoring"></h3>
            <div ng-repeat="health in healthMetrics">
              <div ng-class="{true:'green', false:'red'}[health.status==='operational']" class="monitoring-cell" id="{{health.name}}">
                <i class="fa fa-circle"></i>&nbsp;&nbsp;<span>{{health.name}}</span>
              </div>
            </div>
          </a>
        </section>

        <!-- TODO: Replacement for when monitoring service is refactored
        <section class="monitoring-panel col-sm-4 col-md-12">
          <h4 translate="homePage.monitoring">Monitoring</h4>
          <ul class="monitoring-list">
            <li class="monitoring-sections" ng-repeat="section in healthMetricsSections" ng-click="isCollapsed = !isCollapsed">
              <a href ng-class="{true:'green', false:'red'}[section.status==='operational']">
                <i class="fa fa-circle"></i><span>{{section.name}}</span>
              </a>
              <ul class="health-metrics" collapse="isCollapsed">
                <li id="{{health.name}}" class="monitoring-cell"ng-repeat="health in section.healthMetrics">
                  <a ng-href="{{statusPageUrl}}"  ng-class="{true:'green', false:'red'}[health.status==='operational']" target="_blank">
                    <i class="fa fa-circle"></i><span>{{health.name}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </section> -->
        <section class="help col-sm-4 col-md-12" ng-controller="SupportCtrl">
          <h4>Need Help?</h4>
          <p class="no-cases">There are no open cases</p>
          <button class="btn btn-sm btn-default">Open a Case</button>
        </section>
        <section class="quick-links col-sm-4 col-md-12" ng-controller="QuikLinksCtrl">
          <h4>Quick Links</h4>
          <div class="list-group">
            <a ng-repeat="item in links" href ng-href="{{item.link}}" ng-show="{{item.show}}" class="list-group-item">{{item.text}}</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
