<div class="app-container">
  <div ng-controller="HeaderCtrl as headerCtrl">
    <cs-header navstyle="{{headerCtrl.navStyle}}" headertitle="{{headerCtrl.headerTitle}}" icon="{{headerCtrl.icon}}" show-read-only>
      <cs-header-left>
        <div class="top-bar-orgname" ng-controller="UserInfoController" ng-if="headerCtrl.showOrgName()">
          <div class="top-bar-title" title="{{orgname}}">{{orgname}}</div>
        </div>
      </cs-header-left>
      <cs-header-right>
        <div ng-show="lBoardCtrl.buckets && lBoardCtrl.buckets.length > 0" class="leaderboard-push-trigger" ng-controller="leaderBoardCtrl as lBoardCtrl" ng-if="headerCtrl.showLicenseUsageDropDown()">
          <cs-header-push-trigger icon="lBoardCtrl.icon" state="lBoardCtrl.state" label="lBoardCtrl.label" ng-if="lBoardCtrl.isCustomer"></cs-header-push-trigger>
        </div>
        <cr-setup-dropdown
          ng-if="headerCtrl.showFirstTimeSetupDropDown() && !headerCtrl.newTabDisplay">
        </cr-setup-dropdown>
        <button ui-sref="my-company.info" ng-controller="UserInfoController" ng-if="headerCtrl.showMyCompany()" class="btn btn--header btn--myCompany">
          <div>
            <span class="header-label">{{orgname}}</span>
            <i class="icon-settings icon"></i>
          </div>
        </button>
        <cr-user-info ng-if="headerCtrl.showUserDropDown()"></cr-user-info>
      </cs-header-right>
    </cs-header>
  </div>

  <div class="wrapper">
    <div ng-controller="TabsCtrl as tCtrl">
      <cs-left-nav pages="tCtrl.tabs"  ng-if="tCtrl.showLeftNav()"></cs-left-nav>
    </div>
    <div class="page-content-wrapper container-fluid">
      <div class="row full">
        <div class="medium-12 columns">
          <cs-header-push-container ng-if="Utils.isAdminPage()" class="license-usage">
            <cr-leader-board-bucket></cr-leader-board-bucket>
          </cs-header-push-container>
        </div>
      </div>
      <div class="row full collapse">
        <div class="medium-12 columns content-view" ui-view="">
        </div>
      </div>
    </div>
  </div>
</div>
