<div class="sidenav-app-container control-hub-container">
  <read-only></read-only>
  <learn-more-report-banner></learn-more-report-banner>
  <learn-more-overview-banner></learn-more-overview-banner>

  <cr-banner></cr-banner>
  <div class="sidenav-admin-container">
    <div>
    <div class="sidenav-admin-wrapper" ng-controller="TabsCtrl as tCtrl">
      <cui-sidenav-admin image="{{tCtrl.image}}" ng-attr-icon="{{tCtrl.icon}}" pages="tCtrl.tabs" ng-if="tCtrl.showLeftNav()" collapsed="tCtrl.collapsed">
        <div ng-controller="HeaderCtrl as headerCtrl">
          <cui-sidenav-admin-footer adminpages="headerCtrl.adminTabs" partner="{{headerCtrl.partnerInfo}}" collapsed="tCtrl.collapsed">
            <cr-user-info ng-if="headerCtrl.showUserDropDown()"></cr-user-info>
          </cui-sidenav-admin-footer>
        </div>
      </cui-sidenav-admin>
    </div>
    </div>
    <div class="sidenav-page-content-wrapper" role="main">
      <user-task-status
        cr-feature-toggle
        feature-show="atlas-csv-import-task-manager">
      </user-task-status>
      <div class="row full collapse">
        <div class="content-view" ui-view="">
        </div>
      </div>
    </div>
  </div>
</div>
