<!-- Notification Init for Popup -->
<div class="notification"></div>

<!-- Main View -->
<div id="trialsPanel" class="container partner-container">
  <div class="row">
    <section class = "col-sm-12 col-md-7 col-lg-8" ng-controller="PartnerReportsCtrl" >
       <div class="trialTitle">
        <span translate="partnerHomePage.partnerHeading"></span><span ng-click="reloadReports(false)" class="overview-updated" id="time-click-div">:
        <cr-reload-data id="partnerRefreshData" last-updated-time="refreshTime"></cr-reload-data>
        </span>
      </div>

      <section class="background-white">
        <h3 id="entitlementTitle"><span translate="partnerHomePage.entitlementsTitle"></span> {{counts.entitlements}}</h3>
        <div id="entitlementsLegend"></div>
        <div id="entitlementsChart" class="report"></div>
        <div class="report-status">
          <i class='icon icon-spinner icon-spin icon-2x' ng-if="isRefresh('entitlements')"></i>
          <span translate="status.noResults" ng-if="isEmpty('entitlements')"></span>
          <span translate="status.errorProcessing" ng-if="hasError('entitlements')"></span>
        </div>
      </section>
      <section class="tab-reports">
        <tabset justified="true">
          <tab select="resizeActiveUsersChart()">
            <tab-heading>
              <span translate="partnerHomePage.activeUsersTitle"></span>
              <div class="total">{{counts.activeUsers}}</div>
            </tab-heading>
            <div id="dailyActiveUsersChart" class="tab-report"></div>
            <div class="report-status">
              <i class='icon icon-spinner icon-spin icon-2x' ng-if="isRefresh('activeUsers')"></i>
              <span translate="status.noResults" ng-if="isEmpty('activeUsers')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('activeUsers')"></span>
            </div>
          </tab>
          <tab select="resizeAverageCallsChart()">
            <tab-heading>
              <span translate="partnerHomePage.averageCallsTitle"></span>
              <div class="total">{{counts.averageCalls}}</div>
            </tab-heading>
            <div id="averageCallsChart" class="tab-report"></div>
            <div class="report-status">
              <i class='icon icon-spinner icon-spin icon-2x' ng-if="isRefresh('averageCalls')"></i>
              <span translate="status.noResults" ng-if="isEmpty('averageCalls')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('averageCalls')"></span>
            </div>
          </tab>
          <tab select="resizeContentSharedChart()">
            <tab-heading>
              <span translate="partnerHomePage.contentSharedTitle"></span>
              <div class="total">{{counts.contentShared}}</div>
            </tab-heading>
            <div id="contentSharedChart" class="tab-report"></div>
            <div class="report-status">
              <i class='icon icon-spinner icon-spin icon-2x' ng-if="isRefresh('contentShared')"></i>
              <span translate="status.noResults" ng-if="isEmpty('contentShared')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('contentShared')"></span>
            </div>
          </tab>
        </tabset>
      </section>
      <!-- end -->
    </section>

    <section class = "col-sm-12 col-md-5 col-lg-4">
      <section id="activeTrials" class="trialTitle">
        <div class="col-xs-9 col-sm-9 col-md-9">
          <span class="">{{'partnerHomePage.trialsHeading' | translate}}</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
          <button id="trialAddButton" class="btn btn-info pull-right button-text add-trial-button" translate="partnerHomePage.addTrial" data-toggle="modal" data-target="#addTrialDialog" ng-click="formReset()"></button>
        </div>
      </section>

      <section class="trialsPanel">
        <div id="trialHeader" class="row">
          <div class="col-xs-6 col-sm-6 col-md-6 trialHeading">
            <span translate="partnerHomePage.trialsCustomerName"></span>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 trialHeading trials-heading-spacing">
            <span translate="partnerHomePage.trialsEndDate"></span>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 trialHeading trials-heading-spacing">
            <span translate="partnerHomePage.trialsNumUsers"></span>
          </div>
        </div>
        <div id="trials-refresh" class="trials-refresh" ng-show="showTrialsRefresh">
          <i class='icon icon-spinner icon-spin'></i>
        </div>
        <div ng-repeat="trial in trialsList | orderBy: 'daysLeft' | limitTo: displayRows">
          <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5">
              <div class="trialCustomer ellipsis-trials" id="{{trial.customerName}}" data-toggle="modal" data-target="#editTrialDialog" ng-click="formReset(); setTrial(trial)" orgId="{{trial.customerOrgId}}" trialId="{{trial.trialId}}">
                <a href="">
                  <span>{{trial.customerName}}</span>
                </a>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 trialDays">
              <span ng-class="{'trial-danger-text': trial.daysLeft <= 5}">{{getDaysLeft(trial.daysLeft)}}</span>
            </div>
          </div>
          <div class="row trialRow">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="trialbar">
                <progressbar max="trial.duration" value="trial.daysUsed" type="{{getProgressStatus(trial)}}"></progressbar>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 trialLicense">
              <span>{{trial.usage}}</span>/<span>{{trial.licenses}}</span>
            </div>
          </div>
        </div>

        <div id="viewAll" class="row trials-all">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <span><a ui-sref="customers.list">{{'partnerHomePage.viewAll' | translate}}</a></span>
          </div>
        </div>

        <div ng-show="showExpired">
          <div id="expiredTrials" class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
              <span class="trialTitle">{{'partnerHomePage.expiredHeading' | translate}}</span>
            </div>
          </div>

          <div class="row trialRow" ng-repeat="trial in expiredList | orderBy: 'daysLeft' | limitTo: expiredRows">
            <div class="col-xs-5 col-sm-5 col-md-5 expiredCustomer">
              <div>
                <span>{{trial.customerName}}</span>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4  expired">
              <span translate="partnerHomePage.daysAgo" translate-values="{ days: trial.daysLeft }"></span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3  expired">
              <span>{{trial.usage}}</span>/<span>{{trial.licenses}}</span>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>

<!-- Add Trial Modal -->
<div class="modal fade" id="addTrialDialog" tabindex="-1" role="dialog" aria-labelledby="addTrialTitle" aria-hidden="true">
  <div class="modal-dialog">
    <form name="trialForm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close header-text" data-dismiss="modal">
            <span aria-hidden="true">
              <span class="icon icon-close cancel-color"></span>
            </span>
          </button>
          <h3 class="header-text" translate="partnerHomePage.dialogTitle"></h3>
        </div>
        <div class="modal-body">
          <div class="modal-card">
            <h4 translate="partnerHomePage.customerInformation"></h4>
            <div class="row input-row-spacing">
              <div class="col-md-3">
                <span class="modal-options" translate="partnerHomePage.customerName"></span>
              </div>
              <div class="col-md-9">
                <div id="customerNameForm" class="form-group trial-form" ng-class="{ 'has-error': (trialForm.customerName.$invalid && trialForm.customerName.$dirty) || (nameError && !trialForm.customerName.$dirty) }">
                  <input id="customerNameInput" class="form-control" name="customerName" ng-model="customerName" type="text" required></input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <span class="modal-options" translate="partnerHomePage.customerEmail"></span>
              </div>
              <div class="col-md-9">
                <div id="customerEmailForm" class="form-group trial-form" ng-class="{ 'has-error': (trialForm.customerEmail.$invalid && trialForm.customerEmail.$dirty) || (emailError && !trialForm.customerEmail.$dirty)}">
                  <input id="customerEmailInput" type="email" class="form-control" name="customerEmail" ng-model="customerEmail" required></input>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-card">
            <h4 translate="partnerHomePage.termsOfTrial"></h4>
            <div class="row">
              <div class="col-md-7">
                <span class="trial-options" translate="partnerHomePage.numberOfLicenses"></span>
                <select class="form-control modal-form-control" ng-model="licenseCount">
                  <option value="50" translate="partnerHomePage.fifty"></option>
                  <option value="100" translate="partnerHomePage.oneHundred"></option>
                  <option value="200" translate="partnerHomePage.twoHundred"></option>
                </select>
              </div>
              <div class="col-md-5">
                <span class="trial-options" translate="partnerHomePage.duration"></span>
                <select class="form-control modal-form-control" ng-model="licenseDuration">
                  <option value="30" translate="partnerHomePage.thirtyDays"></option>
                  <option value="60" translate="partnerHomePage.sixtyDays"></option>
                  <option value="90" translate="partnerHomePage.ninetyDays"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="startTrialButton" class="btn btn-primary btn-lg pull-right" ng-click="startTrial()" ng-disabled="trialForm.$invalid" data-loading-text="<i class='icon icon-spinner icon-spin'></i>">
            <span class="button-text" translate="partnerHomePage.startTrial"></span>
          </button>
          <div id="cancelNewTrialButton" class="btn btn-default btn-lg pull-right" data-dismiss="modal">
            <span class="button-text" translate="partnerHomePage.cancel"></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Edit Trial Modal -->
<div id="editTrialDialog" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTrialTitle" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close header-text" data-dismiss="modal">
            <span aria-hidden="true">
              <span class="icon icon-close cancel-color"></span>
            </span>
          </button>
          <h3 class="header-text edit-header">{{currentTrial.customerName}}</h3>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-9">
              <div class="progress">
                <div class="progress-bar" ng-class="{'danger-bar': currentTrial.daysLeft <= 5, 'warning-bar': (currentTrial.daysLeft < currentTrial.duration/2)}" role="progressbar" aria-valuenow="{{currentTrial.daysUsed}}" aria-valuemin="0" aria-valuemax="{{currentTrial.duration}}" style="width: {{currentTrial.percentUsed}}%;">
                </div>
                <!-- <div class="modal-bar">
                  <progressbar max="currentTrial.duration" value="currentTrial.daysUsed" type="{{getProgressStatus(currentTrial)}}"></progressbar>
                </div> -->
                <div class="days-left-trial">
                  <span translate="partnerHomePage.trialsEndDate"></span>
                </div>
                <div class="days-left-edit-modal">
                  <span ng-class="{'trial-danger-text': currentTrial.daysLeft <= 5}">{{getDaysLeft(currentTrial.daysLeft)}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
                <span class="users-edit-modal trialHeading"translate="partnerHomePage.trialsNumUsers"></span>
                <div class="license-count-modal">
                  <span >{{currentTrial.usage}}/{{currentTrial.licenses}}</span>
                </div>
            </div>
          </div>
          <div class="modal-card">
            <h4 translate="partnerHomePage.customerInformation"></h4>
            <div class="row input-row-spacing">
              <div class="col-md-4">
                <span class="modal-edit-options" translate="partnerHomePage.name"></span>
              </div>
              <div class="col-md-8">
                <div class="company-info">
                  <span>{{currentTrial.customerName}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <span class="modal-edit-options" translate="partnerHomePage.customerEmail"></span>
              </div>
              <div class="col-md-8">
                <div class="company-info">
                  <span>info@partner.com</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-card">
            <button id="editTrialButton" class="btn btn-primary pull-right" ng-click="editTerms = false" ng-show="editTerms">
              <span class="button-text" translate="partnerHomePage.edit"></span>
            </button>
            <h4 translate="partnerHomePage.termsOfTrial"></h4>
            <div ng-show="editTerms">
              <div class="row input-row-spacing">
                <div class="col-md-4">
                  <span class="modal-edit-options" translate="partnerHomePage.numberOfLicenses"></span>
                </div>
                <div class="col-md-8">
                  <div class="company-info">
                    <span>{{currentTrial.licenses}}</span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <span class="modal-edit-options" translate="partnerHomePage.duration"></span>
                </div>
                <div class="col-md-8">
                  <div class="company-info">
                    <span>{{currentTrial.duration}} Days</span>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!editTerms">
              <div class="row">
                <div class="col-md-7">
                  <span class="trial-options" translate="partnerHomePage.numberOfLicenses"></span>
                  <select id="editLicensesSelect" class="form-control modal-form-control" ng-model="licenseCount">
                    <option value="50" translate="partnerHomePage.fifty"></option>
                    <option value="100" translate="partnerHomePage.oneHundred"></option>
                    <option value="200" translate="partnerHomePage.twoHundred"></option>
                  </select>
                </div>
                <div class="col-md-5">
                  <span class="trial-options" translate="partnerHomePage.duration"></span>
                  <select id="editLengthSelect" class="form-control modal-form-control" ng-model="licenseDuration">
                  <option value="30" translate="partnerHomePage.thirtyDays"></option>
                  <option value="60" translate="partnerHomePage.sixtyDays"></option>
                  <option value="90" translate="partnerHomePage.ninetyDays"></option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" ng-show="!editTerms">
          <button type="button" id="saveSendButton" class="btn btn-primary btn-lg pull-right" ng-click="editTrial()" data-loading-text="<i class='icon icon-spinner icon-spin'></i>">
            <span class="button-text" translate="partnerHomePage.saveSendReminder"></span>
          </button>
          <div id="cancelTrialButton" class="btn btn-default btn-lg pull-right" data-dismiss="modal">
            <span class="button-text" translate="partnerHomePage.cancel"></span>
          </div>
        </div>
      </div>
  </div>
</div>
