<!-- Main View -->
<div id="trialsPanel" class="container partner-container">
  <div class="row">
    <section class = "col-sm-12 col-md-7 col-lg-8" ng-controller="PartnerReportsCtrl" >
       <div class="trialTitle">
        <span translate="partnerHomePage.partnerHeading"></span><span ng-click="reloadReports(false)" class="overview-updated" id="time-click-div">:
        <cr-reload-data id="partnerRefreshData" last-updated-time="refreshTime"></cr-reload-data>
        </span>
      </div>

      <section class="background-white">
        <h3 id="entitlementTitle"><span translate="partnerHomePage.entitlementsTitle"></span> {{counts.entitlements}}</h3>
        <div id="entitlementsLegend"></div>
        <div id="avgEntitlementsdiv" class="report"></div>
        <div class="report-status-partner" id="avg-entitlements-refresh">
          <i class='icon icon-spinner icon-2x' ng-if="isRefresh('entitlements')"></i>
          <span translate="status.noResults" ng-if="isEmpty('entitlements')"></span>
          <span translate="status.errorProcessing" ng-if="hasError('entitlements')"></span>
        </div>
      </section>
      <section class="tab-reports" id="tab-reports">
        <cs-tabset justified="true" large="true">
          <cs-tab select="resizeActiveUsersChart()">
            <cs-tab-heading>
              <span translate="partnerHomePage.activeUsersTitle"></span>
              <div class="total">{{counts.activeUsers}}</div>
            </cs-tab-heading>
            <div id="activeUsersdiv" class="tab-report"></div>
            <div id='active-users-refresh' class="report-status-partner">
              <i class='icon icon-spinner icon-2x' ng-if="isRefresh('activeUsers')"></i>
              <span translate="status.noResults" ng-if="isEmpty('activeUsers')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('activeUsers')"></span>
            </div>
          </cs-tab>
          <cs-tab select="resizeAverageCallsChart()">
            <cs-tab-heading>
              <span translate="partnerHomePage.averageCallsTitle"></span>
              <div class="total">{{counts.averageCalls}}</div>
            </cs-tab-heading>
            <div id="avgCallsdiv" class="tab-report"></div>
            <div id="calls-refresh" class="report-status-partner">
              <i class='icon icon-spinner icon-2x' ng-if="isRefresh('avgCalls')"></i>
              <span translate="status.noResults" ng-if="isEmpty('avgCalls')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('avgCalls')"></span>
            </div>
          </cs-tab>
          <cs-tab select="resizeContentSharedChart()">
            <cs-tab-heading>
              <span translate="partnerHomePage.contentSharedTitle"></span>
              <div class="total">{{counts.contentShared}}</div>
            </cs-tab-heading>
            <div id="contentShareddiv" class="tab-report"></div>
            <div id="content-shared-refresh" class="report-status-partner">
              <i class='icon icon-spinner icon-2x' ng-if="isRefresh('contentShared')"></i>
              <span translate="status.noResults" ng-if="isEmpty('contentShared')"></span>
              <span translate="status.errorProcessing" ng-if="hasError('contentShared')"></span>
            </div>
          </cs-tab>
        </cs-tabset>
      </section>
      <!-- end -->
    </section>

    <section class = "col-sm-12 col-md-5 col-lg-4">
      <section id="activeTrials" class="trialTitle">
        <div class="col-xs-8 col-sm-8 col-md-8">
          <span class="">{{'partnerHomePage.trialsHeading' | translate}}</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4">
          <button id="trialAddButton" class="btn btn-info btn" translate="partnerHomePage.addTrial" ng-click="openAddTrialModal()"></button>
        </div>
      </section>

      <section class="trialsPanel">
        <div id="trialHeader" class="row">
          <div class="col-xs-7 col-sm-7 col-md-7 trialHeading">
            <span translate="partnerHomePage.trialsCustomerName"></span>
          </div>
          <div class="col-xs-3 col-sm-3 col-md-3 trialHeading trials-heading-spacing">
            <span translate="partnerHomePage.trialsEndDate"></span>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 trialHeading trials-heading-spacing">
            <span translate="partnerHomePage.trialsNumUsers"></span>
          </div>
        </div>
        <div id="trials-refresh" class="trials-refresh" ng-show="showTrialsRefresh">
          <i class='icon icon-spinner'></i>
        </div>
        <div ng-repeat="trial in activeList | orderBy: 'daysLeft' | limitTo: displayRows">
          <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
              <div class="trialCustomer ellipsis-trials" id="{{trial.customerName}}" ng-click="setTrial(trial); openEditTrialModal();" orgId="{{trial.customerOrgId}}" trialId="{{trial.trialId}}">
                <a href="">
                  <span>{{trial.customerName}}</span>
                </a>
              </div>
            </div>
          </div>
          <div class="row trialRow">
            <div class="col-xs-8 col-sm-8 col-md-8">
              <div class="trialbar">
                <progressbar max="trial.duration" value="trial.daysUsed" type="{{getProgressStatus(trial)}}"></progressbar>
              </div>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 trialDays">
              <span ng-class="{'trial-danger-text': trial.daysLeft <= 5}">{{getDaysLeft(trial.daysLeft)}}</span>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 trialLicense">
              <span>{{trial.usage}}</span>/<span>{{trial.licenses}}</span>
            </div>
          </div>
        </div>

        <div id="viewAll" class="row trials-all">
          <div class="col-xs-6 col-sm-6 col-md-6">
            <span ng-click="setFilter('trials')"><a id="viewAllLink" ui-sref="partnercustomers.list({filter: 'trials'})">{{'partnerHomePage.viewAll' | translate}}</a></span>
          </div>
        </div>

        <div ng-show="showExpired">
          <div id="expiredTrials" class="row">
            <div class="col-xs-10 col-sm-10 col-md-10">
              <span class="trialTitle">{{'partnerHomePage.expiredHeading' | translate}}</span>
            </div>
          </div>

          <div class="row trialRow" ng-repeat="trial in expiredList | orderBy: 'daysLeft' | limitTo: expiredRows">
            <div class="col-xs-5 col-sm-5 col-md-5 expiredCustomer">
              <div>
                <span>{{trial.customerName}}</span>
              </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4  expired">
              <span translate="partnerHomePage.daysAgo" translate-values="{ days: getDaysAgo(trial.daysLeft) }"></span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3  expired">
              <span>{{trial.usage}}</span>/<span>{{trial.licenses}}</span>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
