<div class="notification"></div>

<div>
  <div style="position: absolute;">
    <span class="user-title">{{'usersPage.manageUsers' | translate}}</span>
  </div>
  <div class="user-option-buttons" ng-show="Utils.isAdminPage() && userTabActive">
    <div id="userOptions" style="position: absolute;">
      <button id="addUsers" class="btn btn-success narrow-button" ng-click="changeTab('invite')">
        <span translate="usersPage.add"></span>
      </button>
    </div>
    <div class="user-options-bar">
      <button class="btn btn-default narrow-button dropdown-toggle" type="button" id="userMoreOptions" data-toggle="dropdown">
        {{'usersPage.moreOptions' | translate}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu user-options-menu" role="menu" aria-labelledby="userMoreOptions">
        <li>
          <div ng-controller="ExportUsersCtrl" id="export-btn" ng-csv="exportCSV()" filename="{{'usersPage.csvFilename' | translate}}" title="{{'usersPage.csvBtnTitle' | translate}}" class="btn" ng-disabled="exportBtn.disabled">
            <span id="export-icon"><i class="fa fa-file-text"></i> {{'usersPage.exportUsers' | translate}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div ng-init="init()">

  <div class="panel panel-default add-user-panel" ng-show="inviteTabActive" id="manageUsersPanel">
    <div class="panel-heading panel-heading-default">
      <div id="addUsers">
        <h3 class="panel-title panel-title-default">
          <strong id="subTitleAdd" ng-show="isAddEnabled()" translate="usersPage.subTitleAdd"></strong>
          <strong id="subTitleEnable" ng-show="!isAddEnabled()" translate="usersPage.subTitleEnable"></strong>
        </h3>
      </div>
      <div  ng-click="changeTab('users')">
        <span style="float: right"><i id='closeAddUser' class="fa fa-times add-user-close"></i></span>
      </div>
    </div>

    <div class="panel-body">
      <form role="form">
        <div class="form-group">
          <label for="inputEmail3" translate="usersPage.email"></label>
          <input class="form-control" type="text" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
          <br>
          <div class="entitle-check-grp" ng-repeat="(service, val) in entitlements" ng-if="service!='webExSquared'">
            <div class="btn-group" id="{{'btn_'+service}}">
             <input type="checkbox" ng-model="entitlements[service]" icheck>
            </div>
            <label><span style="font-size:15px; padding:5px">{{getServiceName(service)}}</span></label>
         </div>
       </div>

       <div class="form-group">
        <div id="btnCancel" class="btn btn-link pull-right" ng-click="clearPanel()"><span translate="usersPage.clear"></span></div>
        <button type="button" id="btnAdd" class="btn btn-primary pull-right" ng-show="isAddEnabled()" ng-click="addUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.add"></span></button>
        <button type="button" id="btnEntitle" class="btn btn-primary pull-right" ng-click="entitleUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.entitle"></span></button>
        <button type="button" id="btnInvite" class="btn btn-primary pull-right" ng-click="inviteUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.invite"></span></button>

      </div>
    </form>
  </div>
</div>

<div ng-controller="ListUsersCtrl">
  <div ng-show="userTabActive" id="userslistpanel">
    <table id="userslist" ng-class="userPreview ? 'table preview-user-table table-bordered' : 'table table-bordered'">
      <thead>
        <tr>
          <th id="usericon" class="center">
            <i class="fa fa-user"></i></th>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.firstnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.lastnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('username')" id="username-sort"><span translate="usersPage.emailHeader"></span> <i class="fa {{sort.icon.username}} pull-right"></i></th>
          <th id="entitlementCol" class="text-center" ng-show="!userPreview"><img src="images/logo_gray.png" height="20px" width="20px" alt=""></img></th>
        </tr>
      </thead>
      <tbody>

        <tr ng-show="!queryuserslist">
          <td></td><td></td><td></td><td></td><td></td>
        </tr>
        <tr ng-show="queryuserslist" ng-repeat="user in queryuserslist" ng-click="showUserDetails(user)" id="{{user.id}}" ng-class-odd="'odd'" ng-class-even="'even'">
          <td class="center">
            <img ng-if="user.name" src='{{getUserPhoto(user)}}' class='user-img'></img>
          </td>
          <td id="userNameCell"><span ng-if="user.name">{{user.name.givenName}}</span></td>
          <td><span ng-if="user.name">{{user.name.familyName}}</span></td>
          <td id='{{user.userName}}'>{{user.userName}}</td>
          <td class="text-center icon-{{user.id}}" ng-bind-html="getEntitlementState(user)?getStatusIcon('active'):getStatusIcon('inactive')" ng-show="!userPreview"></td>
        </tr>
      </tbody>
    </table>

    <div id="queryresults" value="{{queryuserslist.length}}" style="display: none;">{{queryuserslist.length}}</div>
      <ul class="pagination" ng-show="queryuserslist">
        <li><a id="prev-page" ng-click="pagination.prevPage();"><i class="fa fa-angle-left"></i></a></li>
        <li class="pagination-current"><a>{{page}}</a></li>
        <li><a id="next-page" ng-click="pagination.nextPage()"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  <div class="outer-details-div" id="entire-slide">
    <div ng-show="userPreview" class="details-panel-card"  id="details-panel">
      <div class="name-card">
          <div class="name-card-image center">
            <img ng-if='getUserPhoto(currentUser)' src='{{getUserPhoto(currentUser)}}'></img>
            <i ng-if='!getUserPhoto(currentUser)' class="fa fa-user fa-5x"></i>
          </div>
          <div class="name-card-info">
            <a href="#/userprofile/{{currentUser.id}}">
            <div id="name-preview" class="ellipsis-name">
              <span class="name" ng-if="currentUser.name.givenName && currentUser.name.familyName">{{currentUser.name.givenName}} {{currentUser.name.familyName}}</span>
              <span class="name" ng-if="!currentUser.name.givenName && !currentUser.name.familyName">{{currentUser.userName}}</span><br>
            </div>
            </a>
            <span>{{currentUser.title}}</span><br>
            <span>{{currentUser.addresses.streetAddress}}</span>
          </div>
          <div class="name-card-cancel" ng-click="closePreview()" id="exitPreviewButton">
            <i class="fa fa-times"></i>
          </div>
      </div>
      <div class="standard-card group-card preview-card-title" ng-show="false">
        <div class="group-title">
          <span translate="usersPreview.groupPreview"></span>
        </div>
        <div class="group-type">
          Default Group Name <i class="fa fa-caret-down"></i>
        </div>
      </div>

      <div class="standard-card services-card">
        <span class="preview-card-title" translate="usersPreview.servicesPreview"></span>
        <div id="huronPanel" telephony-info current-user="currentUser" ng-show="isHuronEnabled()"></div telephony-info>
        <div id="conferencePanel" conferencing-info ng-show="false"></div conferencing-info>
        <div id="squaredPanel" conversations-info ng-click="showConversationPanel()"></div conversations-info>
        <div id="endpointPanel" endpoints-info ng-show="false">
        </div endpoints-info>
      </div>
    </div>

    <div id="entitlementPanel" ng-show="conversationsPanel" class="sub-details-panel">
      <div user-entitlements
        current-user="currentUser"
        entitlements="entitlements" queryuserslist="queryuserslist">
      </div>
    </div>
  </div>
