cr-notification {
  position: fixed;
  bottom: 0px;
  right: -450px;
  z-index: 5001;
}

.alertify-logs {
  right: 30px;
  width: 400px;
  bottom: 30px;
}

.alertify-log {
  text-shadow: none;
  &:hover {
    cursor: pointer;
  }
  text-align: center;
  opacity: 0.95;
  line-height: 1;
}

.alertify-log-error {
  background-color: $brand-danger;
  color: $brand-white;
  border: 1px solid $brand-danger-dark;
}

.alertify-log-success {
  background-color: $brand-success;
  color: $brand-white;
  border: 1px solid $brand-success-dark;
}

.notification-panel {
  text-align: left;
  width: 450px;
  .panel-body {
    margin: 0;
    border: 0;
  }
}

.notification {
  z-index: -1;
}

.panel-title {
  font-size: 14px;
  span {
    margin-left: 5px;
  }
}

.panel-danger {
  border-color: $brand-danger;
}

.panel-danger-body {
  color: $gray;
  font-size: 14px;
  overflow: auto;
}

.panel-success {
  border-color: $brand-success;
}

.panel-success-body {
  color: $gray;
  font-size: 14px;
  overflow: auto;
}

.panel-notification-heading {
  font-size: 15px;
}

.alertify-log-error .icon-close,
.panel-danger .icon-close {
  @include close-icon($brand-white, $brand-danger-light);
}

.alertify-log-success .icon-close,
.panel-success .icon-close {
  @include close-icon($brand-white, $brand-success-light);
}

.panel-danger > .panel-heading {
  color: $brand-white;
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.panel-success > .panel-heading {
  color: $brand-white;
  background-color: $brand-success;
  border-color: $brand-success;
}
