cr-notification {
  position: fixed;
  bottom: 0px;
  right: -450px;
  z-index: 5001;
}

.alertify-logs {
  right: 30px;
  width: 400px;
  bottom: 30px;
}

.alertify-log {
  &:after {
    content: $icon-close;
    top: 13px;
    right: 12px;
    position: absolute;
    font-size: 17px;
    line-height: 22px;
    height: 17px;
    width: 17px;
  }
  &:hover {
    cursor: pointer;
  }
  text-shadow: none;
  text-align: left;
  line-height: 20px;
  font-family: Arial, "Cisco_Toolkit_Icons";
  font-size: 14px;
  padding-left: 40px;
  padding-right: 34px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.alertify-log-error {
  &:before {
    content: $icon-error;
    top: 13px;
    left: 12px;
    position: absolute;
    font-size: 17px;
    line-height: 22px;
    height: 17px;
    width: 17px;
  }
  background-color: $brand-danger;
  color: $brand-white;
}

.alertify-log-success {
  &:before {
    content: $icon-check;
    top: 12px;
    left: 12px;
    position: absolute;
    font-size: 37px;
    line-height: 25px;
    height: 17px;
    width: 17px;
    text-indent: -14px;
  }
  background-color: $brand-success;
  color: $brand-white;
}

.notification-panel {
  text-align: left;
  width: 450px;
  .panel-body {
    margin: 0;
    border: 0;
  }
}

.notification {
  z-index: -1;
}

.panel-title {
  font-size: 14px;
  span {
    margin-left: 5px;
  }
}

.panel-danger {
  border-color: $brand-danger;
}

.panel-danger-body {
  color: $gray;
  font-size: 14px;
  overflow: auto;
}

.panel-success {
  border-color: $brand-success;
}

.panel-success-body {
  color: $gray;
  font-size: 14px;
  overflow: auto;
}

.panel-notification-heading {
  font-size: 15px;
}

.alertify-log-error .icon-close,
.panel-danger .icon-close {
  @include close-icon($brand-white, $brand-danger-light);
}

.alertify-log-success .icon-close,
.panel-success .icon-close {
  @include close-icon($brand-white, $brand-success-light);
}

.panel-danger > .panel-heading {
  color: $brand-white;
  background-color: $brand-danger;
  border-color: $brand-danger;
}

.panel-success > .panel-heading {
  color: $brand-white;
  background-color: $brand-success;
  border-color: $brand-success;
}
