.vis-hidden{
	visibility: hidden;
}
.sneak-peek-filter{
	width: rem-calc(220);
    margin: 0 auto;
    cursor: pointer;
}
.sneak-peek-filter .select-toggle, 
.sneak-peek-filter .select-toggle:active, 
.sneak-peek-filter .select-toggle:hover{
	border: none;
	color: rgb(92, 164, 229);
	outline: none;
	text-align: center;
}

.sneak-peek-filter .select-list .open > a:focus, .sneak-peek-filter .select-list .open > a:hover{
	border: none;
	color: rgb(92, 164, 229);
	outline: none;
	text-align: center;
}