@import 'activeUsers/_active-users';
@import 'mediaQuality/_media-quality';
@import 'callMetrics/_call-metrics';
@import 'registeredEndpoints/_registered-endpoints';
@import 'activeUserPopulation/_active-user-population';

@keyframes graphAxisFade {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes scaleDownCard {
  0% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }
  100% {
    transform: scale(0, 0);
    height: 0;
    margin: 0;
    opacity: 0;
  }
}
@keyframes scaleUpCard {
  0% {
    transform: scale(0, 0);
    height: auto;
    margin: 0;
    opacity: 0;
  }
  100% {
    transform: scale(1, 1);
    height: auto;
    margin-top: 1rem;
    opacity: 1;
  }
}

.partner-reports {
  @extend %content-subheader;
  @extend %page-content-padding;
  .report-filter-link:first-of-type {
    padding: rem-calc(3) rem-calc(16) rem-calc(3) 0;
  }
  .report-filter-link:last-of-type {
    border-right: none;
  }
  .report-filter-link {
    display: inline;
    border-right: rem-calc(1) solid $gray;
    padding: rem-calc(3) rem-calc(16);
    .report-link {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(14);
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
  .not-selected {
    color: $brand-primary;
  }
  .selected-link {
    color: $gray-darkest;
  }
  .cs-card-layout {
    margin-bottom: rem-calc(15);
  }
  .report-box.hideCard, .report-card.hideCard {
    height: 0;
    margin: 0;
    transform: scale(1, 0);
    animation: scaleDownCard .5s linear;
    article {
      transform: scale(1, 0);
      animation: scaleDownCard .5s linear;
      .timechartDiv, .barchart, .table {
        display: none;
      }
    }
  }
  .report-box article {
    min-height: vr-adjust(570);
  }
  .report-card, .report-box {
    min-width: rem-calc(650);
    animation: scaleUpCard .5s linear;
    article {
      min-width: rem-calc(650);
      padding: rem-calc(15);
      animation: scaleUpCard .5s linear;
    }
    .no-data-warning {
      color: $color-attention-base;
      padding-right: rem-calc(15);
    }
    .no-data-center {
      position: absolute;
      z-index: 100;
      height: 0;
      top: rem-calc(235);
      width: 100%;
    }
    .no-data {
      color: $gray-darkest;
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(16);
      text-align: center;
      margin: 0;
      span {
        position: relative;
        top: -3px;
      }
    }
    .spinner-position {
      position: absolute;
      z-index: 100;
      top: rem-calc(235);
      left: rem-calc(-3);
      width: 100%;
    }
    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .timechartDiv {
      font-size: rem-calc(11);
      height: vr-adjust(380);
      width: 100%;
    }
    .barchart {
      font-size: rem-calc(11);
      height: vr-adjust(375);
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
    .active-chart .amcharts-value-axis .amcharts-axis-label {
      opacity: 0;
      animation: graphAxisFade 2s ease-in-out 1 forwards;
    }
    .horizontal-center {
      text-align: center;
    }
    .vertical-center {
      vertical-align: middle;
    }
    .bold {
      font-weight: bold;
    }
    .pointer {
      cursor: pointer;
    }
    .graph-text {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(15);
      color: $gray-darkest;
      text-align: left;
      float: left;
      .graph-number {
        font-family: $brand-font-cisco-TT-Regular;
        font-size: rem-calc(18);
        color: $brand-success;
        text-align: left;
      }
    }
  }
  .amExportButton {
    left: calc(95% + .1rem);
    ul, .export-main, .export-list {
      overflow: visible;
    }
    .export-main {
      padding-bottom: rem-calc(5);
      ul {
        padding: 0;
      }
    }
  }
}
