@import 'activeUsers/_active-users';
@import 'mediaQuality/_media-quality';
@import 'callMetrics/_call-metrics';
@import 'registeredEndpoints/_registered-endpoints';
@import 'activeUserPopulation/_active-user-population.less';

.partner-reports {
  padding: 0px;
  height: auto;
  min-width: 1150px;

  .reports-header {
    .row;
    .page-header;

    .sync {
      position: relative;
      top: 17px;
      padding-left: 15px;
      font-family: "CiscoSansTT Extra Light";
      color: @gray-darker;
    }

    .report-filter-one {
      width: 200px;
      margin: 5px;
    }

    .report-filter-two {
      width: 240px;
      margin: 5px;
    }
  }

  .report-tabs-container {
    padding: 5px;
    background-color: @brand-white;

    .cstabs {
      li, li:first-of-type, li:last-of-type {
        a {
          margin-top: 0;
          background-color: @gray-lightest;
          border-color: rgb(234,235,238);
        }
      }

      li.active, li.active:first-of-type, li.active:last-of-type {
        a {
          background-color: @brand-white;
        }
      }
    }

    .tab-pane {
      padding: 40px 30px 60px;

      .section-title {
        font-family: "CiscoSansTT Light";
        font-size: 22px;
        color: @brand-primary;
        text-align: left;
        margin: 0 0 10px;
      }

      .sub-section-title {
        font-family: "CiscoSansTT Light";
        font-size: 18px;
        color: @gray-darkest;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 15px;
      }

      .report-threedot-button {
        font-size: 15px;
        padding-top: 5px;
      }

      .report-section {
        min-width: 520px;
        text-align: left;
        width: 50%;
        display: inline-block;
        vertical-align: top;
      }

      .report-right {
        padding-left: 30px;
      }
      
      .report-left {
        padding-right: 30px;
      }

      .title-break {
        margin-top: 0;
        width: 100%;
      }
      
      .timechartDiv {
        font-size: 11px;
        height: 450px;
        width: 100%;
      }

      .horizontal-center {
        text-align: center;
      }

      .vertical-center {
       vertical-align: middle;
      }

      .bold {
        font-weight: bold;
      }

      .pointer {
        cursor: pointer;
      }

      .graph-text {
        font-family: "Arial";
        font-size: 15px;
        color: @gray-darkest;
        text-align: left;
        float:left;

        .graph-number {
          font-family: "Arial";
          font-size: 18px;
          color: @brand-success;
          text-align: left;
        }
      }
    }
  }
}
