@import 'activeUsers/_active-users';
@import 'mediaQuality/_media-quality';
@import 'callMetrics/_call-metrics';
@import 'registeredEndpoints/_registered-endpoints';
@import 'activeUserPopulation/_active-user-population';

.partner-reports {
  @extend %content-subheader;
  // @extend %page-content-padding;
  // TODO: remove when page is made responsive
  .content-container {
    padding: 1.5rem 0;
  }

  .reports-header {
    @extend .row;
    @extend .page-header;
    .sync {
      padding-left: rem-calc(35);
    }
    .report-filters {
      padding: rem-calc(25) 0 rem-calc(24);
    }
  }
  .report-filter-link:first-of-type {
    padding: rem-calc(3) rem-calc(16) rem-calc(3) 0;
  }
  .report-filter-link:last-of-type {
    border-right: none;
  }
  .report-filter-link {
    display: inline;
    border-right: rem-calc(1) solid $gray;
    padding: rem-calc(3) rem-calc(16);
    .report-link {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(14);
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }
  .report-select-filters {
    width: rem-calc(250);
    margin-left: rem-calc(20);
  }
  .not-selected {
    color: $brand-primary;
  }
  .selected-link {
    color: $gray-darkest;
  }
  .reports-container {
    padding-left: rem-calc(30);
    padding-right: rem-calc(15);
  }
  .report-space {
    padding: 0 rem-calc(16);
    min-width: rem-calc(650);
  }
  .report-space:last-of-type {
    float: left;
  }
  .report-box {
    background-color: $brand-white;
    min-height: vr-adjust(570);
    min-width: rem-calc(650);
    margin-bottom: rem-calc(32);
    padding: rem-calc(32);
    .no-data-warning {
      color: #f7c100;
      padding-right: rem-calc(15);
    }
    .no-data-center {
      position: absolute;
      z-index: 100;
      height: 0;
      top: rem-calc(235);
      width: 100%;
      .no-data {
        color: $gray-darkest;
        font-family: $brand-font-cisco-TT-Light;
        font-size: rem-calc(16);
        text-align: center;
        margin: 0;
      }
    }
    .spinner-position {
      position: absolute;
      z-index: 100;
      top: rem-calc(235);
      left: rem-calc(-3);
      width: 100%;
      .icon-2x {
        font-size: 4em;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .report-description {
      margin-bottom: rem-calc(15);
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(13);
      line-height: rem-calc(18);
      color: $gray-darkest;
      z-index: 100;
      position: relative;
    }
    .section-title {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(22);
      color: $brand-primary;
      text-align: left;
      margin: 0 0 rem-calc(10);
    }
    .sub-section-title {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(18);
      color: $gray-darkest;
      text-align: left;
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(15);
    }
    .title-break {
      margin-top: 0;
      width: 100%;
    }
    .timechartDiv {
      font-size: rem-calc(11);
      height: vr-adjust(380);
      width: 100%;
    }
    .barchart {
      font-size: rem-calc(11);
      height: vr-adjust(375);
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      z-index: 50;
    }
    .amExportButton {
      top: rem-calc(30);
    }
    .horizontal-center {
      text-align: center;
    }
    .vertical-center {
      vertical-align: middle;
    }
    .bold {
      font-weight: bold;
    }
    .pointer {
      cursor: pointer;
    }
    .graph-text {
      font-family: $brand-font-cisco-TT-Regular;
      font-size: rem-calc(15);
      color: $gray-darkest;
      text-align: left;
      float: left;
      .graph-number {
        font-family: $brand-font-cisco-TT-Regular;
        font-size: rem-calc(18);
        color: $brand-success;
        text-align: left;
      }
    }
  }
}
