@import 'reportCard/_report-card';
@import 'reportFilter/_report-filter';
@import 'reportSlider/_report-slider';

@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.partner-reports {
  @extend %content-subheader;
  @extend %page-content-padding;

  .report-subheader {
    @include vr-spacing(mt, 0.25);
    @include vr-spacing(mr, 1);
  }

  .time-filter {
    width: vr-adjust(200);
  }

  .customer-filter {
    width: vr-adjust(350);
  }

  .report-download {
    @include vr-spacing(mr, 1);
    width: vr-adjust(125);
  }

  .report-filter-link:first-of-type {
    padding: rem-calc(3) rem-calc(16) rem-calc(3) 0;
  }

  .report-filter-link:last-of-type {
    border-right: none;
  }

  .report-filter-link {
    display: inline;
    border-right: rem-calc(1) solid $gray;
    padding: rem-calc(3) rem-calc(16);

    .report-link {
      font-family: $brand-font-cisco-TT-Light;
      font-size: rem-calc(14);
      padding: 0;
      margin: 0;
      cursor: pointer;
    }
  }

  .cs-card-layout {
    margin-bottom: rem-calc(15);
  }
}
