@import '~@collabui/collab-ui/scss/settings/core';
@import '~@collabui/collab-ui/scss/settings/page';
@import '~@collabui/collab-ui/scss/settings/fonts';

.partner-spark-reports {
  &.content-container {
    overflow: hidden !important;
    padding: 0 !important;
    height: calc(100vh - (#{$top-bar-height} + (#{$top-bar-border-width} * 2) + #{$page-header-height})) !important;
  }
  .full-size,
  .full-size__iframe {
    height: 100%;
    width: 100%;
  }
  #sparkReportsIframeLoading {
    text-align: center;
  }

  .metrics-loading-icon {
    margin-top: 10vh;
    font-size: 7rem;
  }

  .metrics-loading-data {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-family: $brand-font-extra-light;
  }

  .metrics-loading-description {
    margin-top: 1rem;
  }
}
