<setting-section setting="$ctrl.voicemailSection" class="needs-border-top">
  <div class="sub-section">
    <h5 class="sub-section__label" translate="hercules.settings.voicemail.heading"></h5>
    isCallServiceConnectEnabled={{$ctrl.isCallServiceConnectEnabled}}
    <p class="sub-section__description"
       translate="hercules.settings.voicemail.description"
    >
    </p>
    <cs-toggle-switch ng-model="$ctrl.voicemail"
                      ng-click="$ctrl.deactivateVoicemail($ctrl.voicemail)"
                      toggle-id="voicemail-toggle"
                      is-disabled="{{!$ctrl.isCallServiceConnectEnabled}}"
                      cs-change="$ctrl.change"
                      size="small">
    </cs-toggle-switch>


   isvoicemailEnabled={{$ctrl.voicemail}}
  </div>
</setting-section>

