.modal-useradd-dialog {
	width: 900px;
}

.modal-panel {
  width: 830px;
}

.modal-manageGrp-dialog {
  width: 800px;
}

.modal-useradd-header {
  padding: 20px;
  border-bottom: 0px;
  background-color: @brand-white;
}

.modal-useradd-card {
  background-color: @body-bg;
  width: 590px;
	min-height: 225px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;
}

.modal-useradd-body {
  padding-top: 0px;
}

.modal-useradd-footer {
	margin-right: 25px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 0px;
}

.adduser-desc {
	font-family: CiscoSansTT Light;
	font-size: 16px;
	line-height: 24px;
	color: @gray-darkest;
	text-align: left;
  margin-bottom: 15px;
}

 #usersfield-tokenfield {
	font-family: CiscoSansTT Light;
	font-size: 18px;
	line-height: 20px;
	color: @gray-dark;
	text-align: left;
}

.adduser-importlink {
	font-family: CiscoSansTT Light;
	font-size: 14px;
	color: @link-color;
	text-align: left;
	margin-top: 25px;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 1px solid #dddddd;
}

.onboard-block {
  margin-top: 5px;
  margin-left: 30px;
  width: 100%;
}

.license-block {
  position: inherit;
}

.service-block {
  margin-top: 5px;
  width: 30%;
  height: 300px;
  padding-top: 10px;
}

.absolute {
  position: absolute;
  width: 30%;
  margin: 0px;
}

.shift-middle {
  position: absolute;
  left: 35%;
  width: 30%;
  margin: 0px;
}

.shift-right {
  position: relative;
  left: 61%;
  width: 33%;
  margin: 0px;
}

.manage-group {
  position: relative;
  left: 65px;
}

#manageGroupsDialog {
  .gridStyle {
      border: 1px solid rgb(212,212,212);
      width: 50%;
      height: 500px;
  }
}

.indentedCheckbox {
  margin-left: 27px;
  margin-bottom: 0px;
}

.invisible {

    background: transparent;
    border: none !important;
    font-size:0;
}

.select-grp {
  position: absolute;
  top: 55px;
  left: 430px;
}

.bold {
  font-weight: bold;
}

.service-title {
  margin-bottom: 15px
}

.onboard-radio {
  margin-top: 10px;
  margin-bottom: 15px;
}

.license-block {
  margin-top: 20px;
}

.onboard-divider {
  width: 205px;
  margin: 5px 0px 0px -5px;
}

.onboard-check {
  color: @brand-success;
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
}

.footer {
  padding-right: 0px;
}

.manage-groups {
  margin-left: 5px;
}

.service-label {
  display: inline-block;
  width: 80%;
}

.service-check {
  display: inline-block;
  vertical-align: top;
}
