.modal-useradd-dialog {
	width: 650px;
}

.modal-useradd-header {
  padding: 20px;
  border-bottom: 0px;
  background-color: @brand-white;
}

.modal-useradd-card {
  background-color: @body-bg;
  width: 590px;
	min-height: 225px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;
}

.modal-useradd-body {
  padding-top: 0px;
}

.modal-useradd-footer {
	margin-right: 25px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 0px;
}

.adduser-desc {
	font-family: CiscoSansTT Light;
	font-size: 16px;
	line-height: 24px;
	color: @gray-darkest;
	text-align: left;
}

 #usersfield-tokenfield {
	font-family: CiscoSansTT Light;
	font-size: 18px;
	line-height: 20px;
	color: @gray-dark;
	text-align: left;
}

.adduser-importlink {
	font-family: CiscoSansTT Light;
	font-size: 14px;
	color: @link-color;
	text-align: left;
	margin-top: 25px;
}

.adduser-btn {
	height: 45px;
	margin-left: 5px;
	margin-right: 5px;
	min-width: 134px;
}

.adduser-close {
	font-size: 36px;
	color: @gray-dark;
}
