.modal-useradd-dialog {
  width: 900px;
}

.modal-manageGrp-dialog {
  width: 800px;
}

.modal-useradd-header {
  padding: 20px;
  border-bottom: 0px;
  background-color: $brand-white;
}

.modal-useradd-card {
  background-color: $body-bg;
  width: 590px;
  min-height: 225px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 25px;
  padding-bottom: 29px;
}

.modal-useradd-body {
  padding-top: 0px;
}

.modal-useradd-footer {
  margin-right: 25px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 0px;
}

.adduser-desc {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 16px;
  line-height: 24px;
  color: $gray-darkest;
  text-align: left;
  margin-bottom: 15px;
}

#usersfield-tokenfield {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 18px;
  line-height: 20px;
  color: $gray-dark;
  text-align: left;
  width: 100%;
}

.adduser-input-desc {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 12px;
  color: $gray-darker;
  margin-left: 15px;
  margin-top: 10px;
}

.adduser-importlink {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 14px;
  color: $link-color;
  text-align: left;
  margin-top: 25px;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 1px solid #dddddd;
}

.onboard-block {
  margin-left: 30px;
}

.license-block {
  position: inherit;
}

.service-block {
  margin-top: 5px;
  width: 30%;
  height: 300px;
  padding-top: 10px;
}

.absolute {
  position: absolute;
  width: 30%;
  margin: 0px;
}

.shift-middle {
  position: absolute;
  left: 35%;
  width: 30%;
  margin: 0px;
}

.shift-right {
  position: relative;
  left: 61%;
  width: 33%;
  margin: 0px;
}

.manage-group {
  position: relative;
  left: 65px;
}

#manageGroupsDialog {
  .gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 50%;
    height: 500px;
  }
}

.indentedCheckbox {
  margin-left: 27px;
  margin-bottom: 0px;
}

.invisible {
  background: transparent;
  border: none !important;
  font-size: 0;
}

.select-grp {
  position: absolute;
  top: 55px;
  left: 430px;
}

.bold {
  font-weight: bold;
}

.service-title {
  margin-bottom: 15px
}

.onboard-fieldset,
.onboard-radio {
  margin-top: 10px;
  margin-bottom: 10px;
}

.collab-svc-radio {
  margin-top: 20px;
}

.bucket-lic-header {
  margin-bottom: 20px;
}

.license-block {
  margin-top: 20px;
}

.onboard-divider {
  width: 205px;
  margin: 5px 0px 0px -5px;
}

.onboard-check {
  color: $brand-success;
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
}

.footer {
  padding-right: 0px;
}

.manage-groups {
  margin-left: 5px;
}

.service-label {
  display: inline-block;
  width: 80%;
}

.service-check {
  display: inline-block;
  vertical-align: middle;
}

.warning-icon {
  display: inline-block;
  vertical-align: middle;
}

.service-link-span-box {
  display: inline-block;
  vertical-align: middle;
}

.bucket-license {
  width: 32.93%;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  min-height: 135px;
  min-width: 250px;
  label {
    margin-bottom: 0px;
  }
}

.bucket-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap
}

.middle-bucket {
  margin-left: 5px;
  margin-right: 5px;
}

.conf-desc {
  color: $gray-darker;
  padding-left: 30px;
}

.has-cmr {
  margin-bottom: 10px !important;
}

.user-input-option-radio-group {
  margin-top: 15px;
  margin-bottom: 15px;
}

.user-name-email-input {
  display: flex;
  align-items: center;
  .flex1 {
    flex: 1;
    margin-right: 5px;
  }
  .flex2 {
    flex: 2;
    margin-right: 5px;
  }
  .plus-icon {
    @extend .icon;
    @extend .icon-plus;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 10px;
  }
  .plus-icon-inactive {
    color: $gray-lighter;
    background-color: $gray-lightest;
  }
  .plus-icon-active {
    cursor: pointer;
    color: $brand-white;
    background-color: $brand-info;
  }
}

/*-------------------------------------------------------------------
  US196818 | Atlas - Add User Modal Update
-------------------------------------------------------------------*/

.add-users, .edit-services {
  .modal-body {
    background-color: $brand-white;
    margin-bottom: 0;
    padding: 0;
  }
}

.onboard-users {
  .tokenfield.form-control, .tokenfield.form-control-static {
    width: 100% !important;
    input.token-input {
      margin-top: 0;
      padding: 6px;
    }
  }
  .wizard-main & {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.collab-options {
  padding-bottom: 20px;
}
.collab-svc-radio {
  margin-top: 0;
  padding-top: 8px;
}
.adduser-input-desc {
  color: $gray-dark;
  font-family: $brand-font-extra-light;
  font-style: italic;
  margin-left: 0;
}

.license-wrapper {
  display: flex;
  background-color: $brand-white;
  font-family: $brand-font-light;
  font-size: 14px;
  .bucket-column {
    flex: 1;
  }
  .bucket-column-inner {
    margin-right: 5px;
    &.last-column {
      margin-right: 0;
    }
    .bucket-row-header h3 {
      color: $gray-darkest;
      font-family: $brand-font-cisco-TT-Extra-Light;
      text-align: center;
    }
    .bucket-row-inner {
      background: $gray-lightest;
      margin-top: 5px;
      min-height: 150px;
      padding: 15px;
      &.top-row {
        min-height: 50px;
        padding: 11px 15px 0;
      }
      .cs-checkbox span:before {
        margin-top: -2px;
        margin-right: 12px;
      }
      .service-label {
        color: $gray-darkest;
      }
    }
    .onboard-radio {
      margin-top: 0;
      margin-bottom: 0;
    }
    .onboard-check {
      color: $brand-primary;
    }
    .warning-icon {
      @extend .icon;
      @extend .icon-warning;
      margin-top: -2px;
      margin-right: 12px;
      font-size: 15px;
      color: $brand-warning;
      float: left;
    }
    .service-check {
      margin-left: -6px;
    }
    .service-link-span-box {
      @extend .warning-icon;
      visibility: hidden;
    }
  }
}

.wizard-main {
  .title-separator-pipe {
    color: $gray-light;
  }
  .onboard-label {
    margin-bottom: 20px;
    margin-top: 10px;
  }
  #usersfield-tokenfield {
    font-family: $brand-font-cisco-TT-Extra-Light;
  }
  .wizard-main-title {
    color: $gray-darkest;
  }
}
