@import 'modules/core/setupWizard/planReview/plan-container';

@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';

.modal-useradd-dialog {
  width: 900px;
}

.modal-manageGrp-dialog {
  width: 800px;
}

.modal-useradd-header {
  padding: 20px;
  border-bottom: 0px;
  background-color: $brand-white;
}

.modal-useradd-card {
  background-color: $body-bg;
  width: 590px;
  min-height: 225px;
  margin-bottom: 40px;
  margin-top: 35px;
  padding: 25px 30px 29px;
}

.modal-useradd-body {
  padding-top: 0px;
}

.modal-useradd-footer {
  margin-right: 25px;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 30px;
  border-top: 0px;
}

.modal-body {
  .modal-spacing {
    padding-bottom: 20px;
  }

  .icon-offset-l {
    margin-left: 3px;
  }

  .icon-offset-l-6px {
    margin-left: 6px;
  }

  .tooltip {
    font-family: $brand-font-light;

    .c-nub {
      text-align: center;
      font-size: 12px;
    }
  }

  // TODO: add a property in 'tooltip' directive to allow setting tooltip container with w/o need for '!important'
  .tooltip[popup-class="long-msg"] {
    width: 227px !important;

    .c-nub {
      max-width: 227px;
    }
  }
}

.modal-icon-flex-row {
  width: 33px;
}

.adduser-desc {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 16px;
  line-height: 24px;
  color: $gray-darkest;
  text-align: left;
  margin-bottom: 15px;
}

.onboard-users {
  .unsynced-users {
    display: inherit;
    margin-bottom: 1rem;
    color: $color-negative-base;

    .icon-error {
      margin-right: 0.5rem;
      margin-top: 0.4rem;
      font-size: medium;
    }

    p {
      display: inline-block;
    }
  }

  .flex-container {
    display: flex;

    .adduser-input-desc {
      flex: 1 1 auto;
    }
  }

  .clear-button {
    float: right;
    color: $gray-base;
    min-width: 1rem;
    border: none;
    font-size: small;
    flex: 0 0 auto;
    width: 1.5rem;
    height: 1.5rem;

    &:active,
    &:hover,
    &:focus,
    &:visited {
      color: $brand-primary;
      background-color: transparent;
    }
  }
}

#usersfield-tokenfield {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 18px;
  line-height: 20px;
  color: $gray-dark;
  text-align: left;
  width: 100%;
  background-color: transparent;
}

.adduser-importlink {
  font-family: $brand-font-cisco-TT-Light;
  font-size: 14px;
  color: $link-color;
  text-align: left;
  margin-top: 25px;
}

.hr-style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 5px;
  margin-bottom: 15px;
  border-top: 1px solid #dddddd;
}

.onboard-block {
  margin-left: 30px;
}

.license-block {
  position: inherit;
}

.service-block {
  margin-top: 5px;
  width: 30%;
  height: 300px;
  padding-top: 10px;
}

.absolute {
  position: absolute;
  width: 30%;
  margin: 0px;
}

.shift-middle {
  position: absolute;
  left: 35%;
  width: 30%;
  margin: 0px;
}

.shift-right {
  position: relative;
  left: 61%;
  width: 33%;
  margin: 0px;
}

.manage-group {
  position: relative;
  left: 65px;
}

#manageGroupsDialog {
  .gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 50%;
    height: 500px;
  }
}

.indentedCheckbox {
  margin-left: 27px;
  margin-bottom: 0px;
}

.select-grp {
  position: absolute;
  top: 55px;
  left: 430px;
}

.bold {
  font-weight: bold;
}

.service-title {
  margin-bottom: 15px;
}

.onboard-fieldset,
.onboard-radio {
  padding: 0px;
  margin: 0px;
}

.bucket-lic-header {
  margin-bottom: 20px;
}

.license-block {
  margin-top: 20px;
}

.onboard-divider {
  width: 205px;
  margin: 5px 0px 0px -5px;
}

.onboard-check {
  color: $brand-success;
  margin-top: 10px;
  font-size: 2em;
  font-weight: bold;
}

.footer {
  padding-right: 0px;
}

.manage-groups {
  margin-left: 5px;
}

.service-label {
  display: inline-block;
  width: 80%;
}

.service-check {
  display: inline-block;
  vertical-align: middle;
}

.warning-icon {
  margin-right: 12px;
  font-size: 15px;
  color: $brand-warning;
  float: left;
}

.service-link-span-box {
  display: inline-block;
  vertical-align: middle;
}

.warning {
  color: $brand-warning-dark;
}

.bucket-license {
  width: 32.93%;
  margin-left: 0px;
  margin-right: 0px;
  float: left;
  min-height: 135px;
  min-width: 250px;

  label {
    margin-bottom: 0px;
  }
}

.bucket-wrapper {
  margin-right: 30px;
  margin-left: 30px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.middle-bucket {
  margin-left: 5px;
  margin-right: 5px;
}

.conf-desc {
  color: $gray-darker;
  padding-left: 30px;
}

.has-cmr {
  margin-bottom: 10px !important;
}

.user-input-option-radio-group {
  margin-bottom: 2rem;
}

.onboard-users .user-name-email-input {
  display: flex;
  align-items: center;

  .flex1 {
    flex: 1;
    margin-right: 5px;
  }

  .flex2 {
    flex: 2;
    margin-right: 5px;
  }

  .plus-icon {
    border-radius: 50%;
    font-size: 25px;
    margin-left: 10px;
  }

  .plus-icon-inactive {
    color: $gray-lighter;
    background-color: $gray-lightest;
  }

  .plus-icon-active {
    cursor: pointer;
    color: $brand-white;
    background-color: $brand-info;
  }
}

// ------------------------------------------------------------------
//  US196818 | Atlas - Add User Modal Update
// ------------------------------------------------------------------

.add-users,
.edit-services {
  .modal-body {
    .loading {
      width: 100%;
      text-align: center;
      margin: 40px auto;

      &.ng-enter,
      &.ng-leave {
        transition: none;
      }

      .icon {
        font-size: 75px;
      }
    }
  }
}

.edit-services {
  .modal-body {
    background-color: $brand-white;
    margin-bottom: 0;
    padding: 0;
  }
}

.onboard-users {
  .tokenfield.form-control,
  .tokenfield.form-control-static {
    width: 100% !important;

    input.token-input {
      margin-top: 0;
      padding: 6px;
    }
  }

  .wizard-main & {
    margin-left: 2px;
    margin-right: 2px;
  }
}

.collab-options {
  padding-bottom: 20px;
}

.adduser-input-desc {
  color: $gray-dark;
  font-family: $brand-font-extra-light;
  font-style: italic;
  font-size: 12px;
  margin-left: 0;
  margin-top: 10px;
}

.license-wrapper {
  @extend %plan-container;
}

.add-users {
  .modal-body {
    background-color: $color-white;
  }

  .license-wrapper {
    margin-left: -20px;
    margin-right: -20px;
  }

  .hs-section {
    margin-left: -20px;
    margin-right: -20px;
  }
}

.license-entity-type {
  font-family: $brand-font-light;
  font-size: 14px;
  color: $gray-base;
  display: block;
}

.license-entity {
  font-family: $brand-font-light;
  font-size: 12px;
  color: $gray-base;
  display: block;
}

.license-entity-disable {
  font-family: $brand-font-light;
  font-size: 0.75rem;
  color: $gray-light-1;
  display: block;
}

.license-siteUrl {
  color: $color-primary-base;
  font-family: $brand-font-light;
  font-size: 12px;
}

.under-label-reposition {
  margin-top: -12px;
  margin-left: 32px;
}

.product-entity-reposition {
  margin-left: 16px;
}

.license-entity-tooltip {
  color: $color-primary-base;
  font-size: 12px;
  cursor: pointer;
}

.license-tooltip-html {
  font-size: 12px;
  text-align: center;
  width: 170px;
  height: auto;
}

.wizard-main {
  .title-separator-pipe {
    color: $gray-light;
  }

  .onboard-label {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  .wizard-main-title {
    color: $gray-dark-1;
  }
}

.option-separator-pipe {
  color: $gray-light;
  padding-left: 6px;
  padding-right: 6px;
}

.did-map-error {
  display: inline-block;
}

.did-map-spinner {
  margin-bottom: -3px;
}

.addDnToUser {
  .gridStyle {
    margin-top: 20px;
    margin-bottom: 5px;
    border: solid;
    border-color: $gray-light;
    border-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    height: calc(100vh - 370px);
    width: 100%;

    .ui-grid-row,
    .ui-grid-cell {
      height: rem-calc(60);
    }

    .ngTopPanel {
      width: 100% !important;
      background-color: $gray-lightest;
      border-bottom: 1px solid $gray-light;
      box-sizing: content-box;
    }

    .ngHeaderContainer {
      width: 100% !important;
    }

    .ngHeaderRow {
      width: 100%;
    }

    .ngHeaderCell {
      width: 100%;
    }

    .ngHeaderText {
      padding-left: 20px;
    }

    .ngViewport {
      width: 100% !important;
    }

    .ngCanvas {
      margin-top: 10px;
      width: 100% !important;
    }

    .ngRow {
      border-width: 0px;
      // affects borders around grid rows
      width: 100%;
    }

    .ngRow:hover {
      background-color: transparent;
    }

    .ngCell {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .ngCellText {
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left: 20px;
    }

    .name-display-style {
      font-size: 14px;
      color: $gray-darkest;
      text-align: left;
      line-height: 1;
      display: block;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .email-display-style {
      font-family: Arial;
      font-size: 12px;
      color: $gray-dark;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .error,
    .warning {
      font-family: Arial;
      font-size: 12px;
      text-align: left;
      top: rem-calc(-4);
      position: relative;
    }
  }

  .select-list {
    padding-top: 0px;
    padding-left: 0px;
  }

  .select-list.colt1 {
    width: 200px;
  }

  .select-list.colt2 {
    width: 90px;
    margin-left: auto;
    margin-right: auto;
  }

  .selected {
    a {
      background-color: transparent;
    }

    a .icon {
      background-color: transparent;
    }
  }

  .form-control.select-toggle {
    padding-top: 8px;
  }

  .form-control[disabled].select-toggle {
    border: 1px solid $brand-danger;
    background-color: transparent;
  }

  .select-warning .select-toggle {
    border: 1px solid $brand-warning-dark;
    background-color: transparent;
  }

  .icon-arrow-down {
    padding-top: 0;
  }

  .ngHeaderText.colt2 {
    text-align: center;
  }

  .ngCell.colt2 {
    overflow: visible;
    padding-left: 20px;

    .dropdown-menu {
      right: 25px;
      left: auto;
      top: 70%;
    }
  }

  .ngCell.colt1 {
    overflow: visible;
    padding-left: 20px;

    .dropdown-menu {
      top: 70%;
    }
  }
}

.users-upload-results {
  min-height: 0px;
}

.care-information-text {
  display: block;
}

.under-careradio-reposition {
  @include vr-spacing(mb, 0.8);
}

.entitle-check-grp {
  .icon-warning {
    color: $color-attention-base;
    @include vr-spacing(mt, 0.4);
    @include vr-spacing(ml, 0.15);
  }

  .under-label-caremsg-reposition {
    @include vr-spacing(mt, -0.75);
    @include vr-spacing(ml, 2);
  }
}

.hybrid-service-warning {
  margin-left: 20px;
  color: $gray-dark;
  font-size: smaller;
  font-style: italic;
}
