<div class="users-upload-results">
  <i ng-if="results.errors.length === 0" class="icon icon-check-mark-success"></i>
  <div class="results-container">
    <div class="result new-users" ng-class="{disabled: numAddedUsers === 0}">
      <div class="total">{{numAddedUsers}}</div>
      <h4 class="total-title" translate="usersPage.newUsers" translate-value-newusers="{{numAddedUsers}}" translate-interpolation="messageformat"></h4>
    </div>
    <div class="result updated-users" ng-class="{disabled: numUpdatedUsers === 0}">
      <div class="total">{{numUpdatedUsers}}</div>
      <h4 class="total-title" translate="usersPage.updatedUsers" translate-value-updatedusers="{{numUpdatedUsers}}" translate-interpolation="messageformat"></h4>
    </div>
    <div class="result error-users" ng-class="{disabled: results.errors.length === 0}">
      <div class="total">{{results.errors.length}}</div>
      <h4 class="total-title" translate="usersPage.errors" translate-value-errors="{{results.errors.length}}" translate-interpolation="messageformat"></h4>
      <div class="action-link" ng-if="results.errors.length > 0">
        <i class="icon icon-error"></i>
        <a href ng-click="fixBulkErrors()" translate="firstTimeWizard.fixBulkErrors"></a>
      </div>
    </div>
  </div>
  <div class="results-total">{{results.resultList.length}} <span translate="firstTimeWizard.totalProcessed"></span></div>
  <div class="error-table table-header" ng-if="results.errors.length > 0">
    <table class="table table-bordered">
      <colgroup>
        <col class="medium-10">
      </colgroup>
      <thead>
        <tr>
          <th translate='usersPage.errorMessages'></th>
        </tr>
      </thead>
    </table>
  </div>
  <div cs-scroll class="error-table table-body" ng-if="results.errors.length > 0">
    <table id="errorTable" class="table table-bordered">
      <colgroup>
        <col class="medium-10">
      </colgroup>
      <tbody>
        <tr ng-repeat="msg in results.errors">
          <td>{{::msg}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
