<div id="modalContent" class="add-users">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" id="closeAddUser">
      <i class="icon icon-close" aria-hidden="true"></i><span class="sr-only" translate="common.close"></span>
    </button>
    <h3 class="modal-title" translate="usersPage.assignServices"></h3>
  </div>

  <div class="modal-body">
    <cr-assign-services></cr-assign-services>
  </div>

  <div class="modal-footer">
    <button type="button" id="btnBack" class="btn btn-default" ui-sref="users.add"><span translate="common.back"></span></button>
    <button type="button" id="btnOnboard" class="btn btn-primary" ng-click="onboardUsers()" data-loading-text="<i class='icon icon-spinner'></i>"><span translate="common.save"></span></button>
  </div>

</div>