<div id="licenseBlock" class="bucket-wrapper">

  <!-- Messaging Bucket -->
  <div class="modal-body bucket-license" id="messaging">
    <h4 class="text-center bucket-lic-header" translate="onboardModal.messaging"></h4>
      <div class="entitle-check-grp onboard-radio" ng-repeat="msgFeature in messageFeatures">
        <div ng-if="msgFeature.license.licenseType === 'freeTeamRoom'">
          <div class="service-check">
            <span class="icon icon-check onboard-check"></span>
          </div>
          <div class="service-label">
            <span class="onboard-radio" ng-click="setMsgRadio(msgFeature.value)">{{msgFeature.label}}</span>
          </div>
        </div>
        <div ng-if="msgFeature.license.licenseType !== 'freeTeamRoom'">
          <cs-checkbox ckid="paid-msg" ng-model="radioStates.msgRadio" label="{{msgFeature.label}}" isdisabled=false></cs-checkbox>
        </div>
      </div>
  </div>

  <!-- Conferencing Bucket -->
  <div class="modal-body bucket-license middle-bucket" id="conference">
  <h4 class="text-center bucket-lic-header" translate="onboardModal.conferencing"></h4>
    <div class="entitle-check-grp onboard-radio" ng-repeat="confFeature in conferenceFeatures">
      <div ng-if="confFeature.license.licenseType === 'freeConferencing'">
        <div class="service-check">
          <span class="icon icon-check onboard-check"></span>
        </div>
        <div class="service-label">
          <span ng-click="setConfRadio(confFeature.value)" translate="{{confFeature.label}}"></span>
        </div>
      </div>
      <div ng-if="confFeature.license.licenseType !== 'freeConferencing'">
        <cs-checkbox ckid="paid-conf" ng-model="radioStates.confRadio" label="{{confFeature.license.siteUrl}}" isdisabled=false></cs-checkbox>
        <p class="conf-desc" ng-if="confFeature.label">{{confFeature.label | translate}} {{confFeature.license.capacity}}</p>
        <cs-checkbox ng-if="false" class="indentedCheckbox" ckid="ckbox4" ng-model="cb.checkboxValue3" label="{{confFeature.label}}" isdisabled=false></cs-checkbox>
      </div>
    </div>
  </div>

  <!-- Communications Bucket -->
  <div class="modal-body bucket-license" id="communication">
  <h4 class="text-center bucket-lic-header" translate="onboardModal.communications"></h4>
    <div class="entitle-check-grp onboard-radio" ng-repeat="commFeature in communicationFeatures">
      <div ng-if="commFeature.license.licenseType === 'advancedCommunication'">
        <div class="service-check">
          <span class="icon icon-check onboard-check"></span>
        </div>
        <div class="service-label">
          <span>{{commFeature.label}}</span>
        </div>
      </div>
      <div ng-if="commFeature.license.licenseType !== 'advancedCommunication'">
        <cs-checkbox ckid="paid-comm" ng-model="radioStates.commRadio" label="{{commFeature.label}}" isdisabled=false></cs-checkbox>
      </div>
    </div>
  </div>

</div>


