.devices-redux4 {
  background-color: white !important;
  min-height: 1000px;

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .row {
    margin: 0;
  }

  .hl {
    background: $brand-success-light;
  }

  .needsActivation {
    color: #aaa;
  }

  h1 {
    padding-bottom: 30px;
  }

  button {
    border: 0;
    cursor: pointer;
    color: $link-color;
    background: transparent;
  }
  button[disabled], button[disabled]:hover {
    color: #ccc;
    cursor: default;
    background: transparent;
  }
  button:hover {
    color: #049fd9;
    background: transparent;
  }


  .details-pane {
    h2 {
      padding: 0 0 20px 0;
    }

    h2, h2 span {
      font-size: 2.25rem;
    }

    strong, strong span {
      font-family: "CiscoSansTT Light","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700;
    }

    .row {
      padding: 10px 0;
      font-size: 0.875rem;
    }
    .details-container {
      border: 1px solid $gray-lightest;
      padding: 20px;
      margin-top: 40px;
    }

    .device-pager {
      text-align: center;
      padding: 20px;
    }

    .readable-activation-code {
      padding-top: 20px;
    }

    .readable-activation-code, .readable-activation-code span {
      font-size: 2rem;
      color: $brand-primary;
    }
  }
  .result-pane {
    padding-top: 20px;

    .bg-container {
      padding: 20px;
      position: relative;
      border: 1px solid $gray-lightest;

      h4 {
        padding-left: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      h4, h4 span {
        font-size: 1.25rem;
      }

      .overlay {
        position: absolute;
        left: 40px;
        top: 38px;
        opacity: .5;
      }
    }

    .bg-container:hover {
      cursor: pointer;
      background: #fafafa;
    }

    .result-row {
      cursor: pointer;
      padding-top: 18px;
      font-size: 0.875rem;
      border-bottom: 3px solid white;
      padding-bottom: 8px;
      i {
        padding-right: 10px;
      }
    }

    .result-row.active {
      background: $gray-lightest;
    }

  }

  .no-results-matched-search {
    padding: 10px;
    text-align: center;
    color: $brand-danger;
  }

  input:focus, a:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: white !important;
  }

  .devices-search {
    form {
      display: flex;
      border-bottom: 1px solid #ccc;
      padding-bottom: 8px;

      .filter {
        margin: 0 10px 2px 0;
        padding: 1px 10px 2px;
        border-radius: 10px;
        background: $brand-primary;
        color: $gray-lightest;
        white-space: nowrap;
      }

      .search-icon {
        color: $gray;
        padding-right: 10px;
        cursor: search;
      }

      .clear-icon {
        color: $gray;
        cursor: pointer;
      }

      input[type=text] {
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
    form.active {
      border-bottom: 3px solid $brand-primary;
    }
    form.no-match {
      border-bottom: 3px solid $brand-danger;
    }

    ul {
      margin: 0;
      padding-bottom: 60px;
    }

    li {
      a {
        color: #666;
      }
      cursor: pointer;
      padding: 20px 0 10px 0;
      list-style-type: none;
      border-bottom: 1px solid #eee;
    }
  }
}

@media (max-width: 600px) {
  .devices-redux4 {
    padding: 5px 10px;
  }
}

@media (min-width: 600px) {
  .devices-redux4 {
    padding: 60px 80px;
  }
}
