<div ng-show="devices.filterOrSearchActive">

  <div class="result-pane" ng-if="devices.filteredCodesAndDevices.matches.length">
    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4">
      <li
        ui-sref="devices-redux4.details({device: device})"
        ng-repeat="device in devices.filteredCodesAndDevices.matches | limitTo: ((devices.pager.currentPage * devices.pager.pageSize) + (devices.pager.currentPageSize - devices.pager.pageSize)) | limitTo: -devices.pager.currentPageSize">
        <div class="bg-container">
          <div style="display: flex">
            <i
              class="icon icon-2x icon-circle-telepresence"
              ng-class="{'needsActivation': device.needsActivation}"
            />
            <i
              class="fa fa-circle overlay"
              ng-class="device.cssColorClass"
            />
            <div class="ellipsis">
              <h4 ng-bind-html="device.displayName | highlight:devices.search">

              </h4>
            </div>
          </div>

<!--
          <div class="ellipsis">
            Status: <span ng-bind-html="device.readableState | highlight:devices.search"></span>
          </div>
 -->

          <div class="ellipsis">
            {{devices.deviceProps[device.filterMatch || 'readableState']}}:
            <span
              ng-bind-html="device[device.filterMatch || 'readableState'] | highlight:devices.search">
            </span>
          </div>

        </div>
      </li>
    </ul>

    <!-- pager -->
    <div class="details-header clearfix">
      <div style="text-align: center">
        <button
          ng-click="devices.pager.prevPage()"
          ng-disabled="!devices.pager.prev">
          <i class="fa fa-chevron-left" />
        </button>
        <span style="padding: 0 20px">
          Page {{devices.pager.currentPage}} of {{devices.pager.pageCount}}
        </span>
        <button
          ng-click="devices.pager.nextPage()"
          ng-disabled="!devices.pager.next">
          <i class="fa fa-chevron-right" />
        </button>
      </div>
    </div>
    <!-- end:pager -->
  </div>

</div>
