@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~collab-ui/scss/tools/mixins/spacing-responsive';
@import '~collab-ui/scss/tools/placeholders/page-layout';

media-mgr {

  flex: 1 1 auto;
  flex-direction: column;
  display: flex;

  .reveal-modal.full & .modal-body {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: none;
  }

  .reveal-modal.full & .modal-container {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    max-width: inherit;
  }

  .mb-nav {
    flex: 0 0 94px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .mb-container {
    flex: 12;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    max-width: inherit;
  }

  .mb-panel-left {
    flex: 5;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
  }

  .mb-panel-right {
    flex: 7;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
  }

  .mb-panel-header {
    display: flex;
    justify-content: space-between;
    font-family: 'CiscoSansTT Extra Light';
    text-align: end;
    margin: .5rem 1rem 1.5rem .5rem;
  }

  .mb-panel-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mb-panel {
    flex: 1;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
  }

  .mb-title-centered {
    display: flex;
    justify-content: center;
    font-family: 'CiscoSansTT Extra Light';
    font-size: 26px;
    color: $gray-dark-2;
    margin-top: 2.5rem;
  }

  .mb-title-spaced {
    display: flex;
    justify-content: space-between;
    font-family: 'CiscoSansTT Extra Light';
    font-size: 26px;
    color: $gray-dark-2;
  }

  .mb-desc {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-1;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
  }

  .row {
    &:hover { background: $gray-light-4; }
    &:focus { background: $gray-light-4; }
  }

  .active-row {
    background: $gray-light-3;
  }

  .mb-row-seperator {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .mb-rows-wide {
    margin: 1rem 1.25rem;
  }

  .mb-rows-narrow {
    margin: 1.5rem 2.25rem;
    flex-grow: 1;
  }

  .mb-row-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
  }

  .searchbox .searchinput {
    margin: 0;
    border: none;
  }

  .searchfilter {
    border: none;
    width: 100%;
  }

  .media-text {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-2;
    margin: 0;
  }

  .media-subtext {
    font-family: 'CiscoSansTT';
    font-size: 12px;
    color: $gray-light-1;
    margin: 0;
    justify-content: flex-start;
  }

  .nowrap {
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .media-icon-alignment {
    text-align: right;
    vertical-align: middle;
  }

  .mb-br-button {
    margin: auto 1rem 1rem auto;
  }

  .icon-msg-alignment {
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  .icon-music {
    background: none;
    margin: 0.5rem;
    color: $gray-base;
  }

  .icon-trash {
    background: none;
    margin: 0.5rem;
    color: $gray-light-1;
  }

  .icon-back {
    background: none;
    margin: 0.5rem;
    color: $gray-light-1;
  }

  .active-icon {
    color: $color-primary-base;
  }

  .icon-spinner {
    color: $color-primary-base;
    margin: 0;
  }

  .icon-error {
    color: $color-negative-base;
    margin: 0;
  }

  .icon-plus {
    color: $color-primary-base;
    text-align: right;
    margin: 0;
  }

  .icon-plus-disabled {
    color: $color-primary-lighter;
    margin: 0;
  }

  .icon-exit {
    float: right;
    margin: 0;
  }

  .progress-striped {
    background: $gray-light-2;
  }

  .progress-bar {
    margin: 10rem;
  }

  .centered {
    justify-content: center;
    align-items: center;
  }
}
