@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

media-mgr {

  flex: 1 1 auto;
  flex-direction: column;
  display: flex;
  min-height: 0;

  .reveal-modal.full & .modal-body {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: none;
    min-height: 0;
  }

  .reveal-modal.full & .modal-container {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    max-width: inherit;
    min-height: 0;
  }

  .download-media-card {
    background-color: $gray-light-4;
    align-self: center;
    margin: 0;
    padding: 0.5rem;

    .label-download {
      font-family: $brand-font-light;
      font-size: 16px;
      color: $gray-dark-3;
      align-self: center;
    }

    .icon {
      vertical-align: middle;
    }
  }

  .mb-nav {
    flex: 0 0 94px;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: .5rem 0rem;

    button:focus {
      text-decoration: none;
      outline: none;
      order: none;
      box-shadow: none;
    }

    .icon-music {
      background: none;
      margin: .5rem 0rem;
      color: $gray-base;
    }

    .icon-trash {
      background: none;
      margin: .5rem 0rem;
      color: $gray-base;
    }

    .active {
      color: $color-primary-base;
    }
  }

  .mb-container {
    flex: 12;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 94px);
    min-height: 0;
  }

  .mb-panel {
    flex: 1;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
    min-height: 0;

    .cs-card.cs-card--large {
      width: 80%;
      margin-top: 6rem;
      border: 1px dashed $gray-light-1;
      border-radius: 8px;
      background-color: $gray-light-4;
      align-self: center;
    }

    .icon-spinner {
      color: $color-primary-base;
    }
  }

  .mb-panel-left {
    flex: 5;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
    min-height: 0;

    .mb-panel-header {
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      margin: .5rem .75rem 1rem .5rem;
    }

    .nowrap {
      width: 252px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .searchbox .searchinput {
    border: none;
    background: none;
    height: 1.5rem;
  }

  .searchfilter {
    border: none;
    background: none;
    width: 100%;
  }

  .icon-search {
    border: none;
    top: .25rem;
  }

  .mb-panel-right {
    flex: 7;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
    min-height: 0;

    .mb-title {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
    }

    .mb-rows {
      margin: 1rem 2.5rem;
    }

    .mb-panel-footer {
      display: flex;
      flex-direction: row;
      margin: 1rem auto 2.25rem;
      justify-content: flex-end;
    }

    .nowrap {
      width: 360px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .mb-panel-header {
    display: flex;
    margin: 1.5rem auto 2rem;
    justify-content: center;
  }

  .mb-panel-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
  }

  .mb-panel-footer {
    display: flex;
    flex-direction: row;
    margin: 1.5rem 1rem 2.5rem auto;
    justify-content: flex-end;
  }

  .mb-title {
    font-family: $brand-font-extra-light;
    font-size: 26px;
    color: $gray-dark-2;
  }

  .mb-desc {
    font-family: $brand-font-light;
    font-size: 14px;
    color: $gray-dark-1;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .row {
    &:hover { background: $gray-light-4; }
    &:focus { background: $gray-light-4; }
    .active { background: $gray-light-3; }
  }

  .mb-row-seperator {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .mb-rows {
    margin: 1rem 1.25rem;
  }

  .mb-row-content {
    flex: 1;
    display: flex;
    justify-content: space-between;

    input[name='displayName'] {
      border: 0;
      margin: 0;
      padding: 0;
      display: inline;
      border-bottom: 1px solid $brand-primary;
      border-radius: 0;
      transition: initial;
      font-size: 14px;
      outline: none !important;
      box-shadow: none !important;
    }

    .icon-spinner {
      color: $color-primary-base;
    }

  }

  .media-text {
    font-family: $brand-font-light;
    font-size: 14px;
    color: $gray-dark-2;
    margin: 0;
  }

  .media-subtext {
    font-family: $brand-font-regular;
    font-size: 12px;
    color: $gray-light-1;
    margin: 0;
    justify-content: flex-start;
  }

  .icon-msg-alignment {
    vertical-align: middle;
    margin: 0rem 0.25rem 0rem 0rem;
  }

  .icon-trash {
    background: none;
    margin: 0 0 0 .5rem;
    color: $gray-light-1;
  }

  .icon-back {
    background: none;
    margin: 0 0 0 .5rem;
    color: $gray-light-1;
  }

  .icon-download {
    background: none;
    color: $gray-base;
    &:disabled {
      background: none;
      color: $gray-light-2;
    }
  }

  .btn--none {
    background: none;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    &:disabled {
      background: none;
    }
  }

  .btn--none.ng-animate {
    transition: 0s none;
    animation: 0s none;
  }

  .icon-error {
    color: $color-negative-base;
    margin: 0;
  }

  .icon-plus {
    color: $color-primary-base;
    text-align: right;
    margin: 0;
    padding: 0;
    &:disabled {
      color: $color-primary-lighter;
      margin: 0;
    }
  }

  .progress-bar {
    margin: 6rem;

    .progressbar-icon-alignment {
      display: flex;
    }

    .progressbar-content-alignment {
      flex-grow: 1;
    }

    .progressbar-label {
      font-family: $brand-font-light;
      font-size: 14px;
      color: $gray-dark-2;
    }

    .progressbar-progress {
      font-family: $brand-font-light;
      font-size: 14px;
      color: $gray-dark-2;
    }

    .progressbar-sublabel {
      color: $gray-base;
    }

    .icon-exit {
      align-self: flex-end;
      margin-left: 0.5rem;
    }
  }

  .centered {
    justify-content: center;
    align-items: center;
  }

  .btn {
    height: 2.25rem;
  }

  .text-right.nowrap {
    padding-left: 0.25rem;
    white-space: nowrap;
  }

  .text-left.nowrap {
    padding-right: 0.25rem;
    white-space: nowrap;
  }
}
