@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~collab-ui/scss/tools/mixins/spacing-responsive';
@import '~collab-ui/scss/tools/placeholders/page-layout';

media-mgr {

  flex: 1 1 auto;
  flex-direction: column;
  display: flex;

  .reveal-modal.full & .modal-body {
    margin: 0;
    border: 0;
    padding: 0;
    max-width: none;
  }

  .reveal-modal.full & .modal-container {
    flex: 1 1 auto;
    flex-direction: row;
    display: flex;
    align-items: stretch;
    max-width: inherit;
  }

  .cs-card.large {
    width: 80%;
    margin-top: 6rem;
    border: 1px dashed $gray-light-1;
    border-radius: 8px;
    background-color: $gray-light-4;
    align-self: center;
  }

  .mb-nav {
    flex: 0 0 94px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .mb-container {
    flex: 12;
    flex-direction: row;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 94px);
  }

  .mb-panel {
    flex: 1;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;
    overflow-y: auto;
  }

  .mb-panel-left {
    flex: 5;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;

    .nowrap {
      width: 252px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .mb-panel-right {
    flex: 7;
    flex-direction: column;
    display: flex;
    border-left: $gray-light-2;
    border-left-width: thin;
    border-left-style: solid;
    padding-left: 0;
    padding-right: 0;

    .mb-title {
      margin-top: 0.5rem;
    }

    .mb-rows {
      margin: 1rem 2.5rem;
    }

    .mb-panel-footer {
      display: flex;
      flex-direction: row;
      margin: 1rem auto 2.25rem;
      justify-content: flex-end;
    }

    .nowrap {
      width: 360px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .mb-panel-header {
    display: flex;
    justify-content: space-between;
    font-family: 'CiscoSansTT Extra Light';
    text-align: end;
    margin: .5rem 1rem 1rem .5rem;
  }

  .mb-panel-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .mb-panel-footer {
    display: flex;
    flex-direction: row;
    margin: auto 1rem 2rem auto;
  }

  .mb-title {
    font-family: 'CiscoSansTT Extra Light';
    font-size: 26px;
    color: $gray-dark-2;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .mb-desc {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-1;
    margin-bottom: 1.5rem;
    word-break: break-word;
  }

  .row {
    &:hover { background: $gray-light-4; }
    &:focus { background: $gray-light-4; }
    .active { background: $gray-light-3; }
  }

  .mb-row-seperator {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .mb-rows {
    margin: 1rem 1.25rem;
  }

  .mb-row-content {
    flex: 1;
    display: flex;
    justify-content: space-between;

    input[name='displayName'] {
      border: 0;
      margin: 0;
      padding: 0;
      display: inline;
      border-bottom: 1px solid $brand-primary;
      border-radius: 0;
      transition: initial;
      font-size: 14px;
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .searchbox .searchinput {
    margin: 0;
    border: none;
  }

  .searchfilter {
    border: none;
    width: 100%;
  }

  .media-text {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-2;
    margin: 0;
  }

  .media-subtext {
    font-family: 'CiscoSansTT';
    font-size: 12px;
    color: $gray-light-1;
    margin: 0;
    justify-content: flex-start;
  }

  .media-icon-alignment {
    text-align: right;
    vertical-align: middle;
  }

  .icon-msg-alignment {
    vertical-align: middle;
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }

  .icon-music {
    background: none;
    margin: 0.5rem;
    color: $gray-base;
  }

  .icon-trash {
    background: none;
    margin: 0.5rem;
    color: $gray-light-1;
  }

  .icon-back {
    background: none;
    margin: 0.5rem;
    color: $gray-light-1;
  }

  .icon-spinner {
    color: $color-primary-base;
    margin: 0;
  }

  .icon-error {
    color: $color-negative-base;
    margin: 0;
  }

  .icon-plus {
    color: $color-primary-base;
    text-align: right;
    margin: 0;
    &:disabled {
      color: $color-primary-lighter;
      margin: 0;
    }
  }

  .active-icon {
    color: $color-primary-base;
  }

  .progressbar-label {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-2;
  }

  .progressbar-progress {
    font-family: 'CiscoSansTT Light';
    font-size: 14px;
    color: $gray-dark-2;
  }

  .progressbar-sublabel {
    color: $gray-base;
  }

  .progress-bar {
    margin: 6rem;
    .icon-exit {
      align-self: center;
      margin-left: 0.5rem;
    }
  }

  .progressbar-icon-alignment {
    display: flex;
  }

  .progressbar-content-alignment {
    flex-grow: 1;
  }

  .centered {
    justify-content: center;
    align-items: center;
  }

  .btn {
    height: 2.25rem;
  }
}
