@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.spark-call-location-body {
  .cisco-logo {
    font-size: 2.5em;
  }

  .spark-name {
    @include vr-spacing(ml, 0.5);

    color: $color-primary-base;
  }

  p:first-of-type {
    @include vr-spacing(mt, 2);
  }

  p {
    @include vr-spacing(mb, 1);
  }
}

.spark-call-location-list {
  @include vr-spacing(mt, 1);
}
