@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/core';
@import '~collab-ui/scss/settings/typography';

.device-brand-files {
  display: flex;
  margin-top: 6px;
  .file {
    flex-grow: 1;
    .filearea {
      width: 200px;
      height: 175px;
      border: dashed $gray-base 2px;
      border-radius: 10px;
      background-color: $gray-lightest;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: center;
      text-align: center;
      position: relative;
      &.dragover {
        border-color: $link-hover-color;
        background: $gray-lighter;
      }
      span {
        font-size: 1rem;
      }
      i {
        font-size: 2rem;
      }
      .dropinfo {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        z-index: 2;
        width: inherit;
        height: inherit;
        :first-child {
          margin-top: auto;
        }
        * {
          flex-basis: 75%;
        }
      }
      .tmb {
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 171px;
        width: 196px;
        overflow: hidden;
        &.logo {
          background-size: auto 75%;
        }
      }
      .imgpresent {
        display: none;
      }
      &:hover > .dropinfo {
        display: flex;
      }
    }
    input {
      display: none;
    }
    .filetopdrop {
      font-size: 0.875rem;
      line-height: 1rem;
      height: 2.1rem;
      text-overflow: ellipsis;
      font-family: $brand-font-light;
    }
  }
  .midfile {
    margin: 0 10px;
  }
}

#best-res {
  font-size: 0.75rem;
  line-height: 0.75rem;
  padding: 5px 0 10px;
}

#apply-device-branding {
  width: 200px;
}
