<div class="sub-section">
  <h5 class="sub-section__label" translate="Devices"></h5>
  <!--<p class="sub-section__description" translate=""></p>-->
  <div class="cs-radio-group">
    <div class="cs-input-group cs-input-radio">
      <input type="radio" id="defaultDLogoRadio" ng-model="dbctrl.usePartnerLogo" ng-value="true"
             ng-change="dbctrl.toggleLogo(dbctrl.usePartnerLogo)">
      <label for="defaultDLogoRadio">
        <span ng-if="dbctrl.isPartner || dbctrl.isDirectCustomer"
              translate="No logo and use the standard graphics supplied on the product (default)"></span>
        <span ng-if="!dbctrl.isPartner && !dbctrl.isDirectCustomer"
              translate="No logo and use the standard graphics supplied on the product (default)"
              translate-value-partner="{{dbctrl.partner.displayName}}"></span>
      </label>
    </div>
    <div class="cs-input-group cs-input-radio" ng-if="nobod">
      <input type="radio" id="partnerDLogoRadio" ng-model="dctrl.usePartnerLogo" ng-value="true"
             ng-change="dbctrl.toggleLogo(dbctrl.usePartnerLogo)">
      <label for="partnerDLogoRadio">
        <span ng-if="dbctrl.isPartner || dbctrl.isDirectCustomer" translate="branding.useCiscoLogo"></span>
        <span ng-if="!dbctrl.isPartner && !dbctrl.isDirectCustomer" translate="branding.usePartnerLogo"
              translate-value-partner="{{bctrl.partner.displayName}}"></span>
        <a ng-if="!dbctrl.isPartner && !dbctrl.isDirectCustomer" ng-click="dbctrl.showBrandingExample('Partner')"
           translate="branding.exampleLink"></a>
      </label>
    </div>
    <div class="cs-input-group cs-input-radio" class="radio-input-spacing">
      <input type="radio" id="customDLogoRadio" ng-model="dbctrl.usePartnerLogo" ng-value="false"
             ng-change="dbctrl.toggleLogo(dbctrl.usePartnerLogo)">
      <label for="customDLogoRadio">
        <span translate="Upload your own logo(s) and/or image(s) for a custom solution"></span>
      </label>
      <div class="device-customlogo" ng-if="!dbctrl.usePartnerLogo">
        <div class="device-brand-files">
          <div class="file">
            <p class="filetopdrop">Logo to be visible on dark background</p>
            <div ngf-drop class="filearea"
                 ngf-select
                 ng-model="dbctrl.logodark.file"
                 ngf-drag-over-class="'dragover'"
                 ngf-pattern="'image/*'">
              <div class="dropinfo"
                   ng-class="{imgpresent: dbctrl.logodark.hasImg}">
              <span class="body-small span-text"
                    translate="Drop file here or click to upload"></span>
                <i class="icon icon-upload large"></i>
              </div>
              <div class="tmb logo" ngf-background="dbctrl.logodark.file"></div>
              <div class="tmb logo" ng-if="dbctrl.logodark.tempDownloadUrl  && !dbctrl.logodark.file" ng-style="{'background-image': 'url('+dbctrl.logodark.tempDownloadUrl+')'}"></div>
            </div>
          </div>
          <div class="file midfile">
            <p class="filetopdrop">Logo to be visible on light background</p>
            <div ngf-drop class="filearea"
                 ngf-select
                 ng-model="dbctrl.logolight.file"
                 ngf-drag-over-class="'dragover'"
                 ngf-pattern="'image/*'">
              <div class="dropinfo"
                   ng-class="{imgpresent: dbctrl.logolight.hasImg}">
                <span class="body-small span-text"
                      translate="Drop file here or click to upload"></span>
                <i class="icon icon-upload large"></i>
              </div>
              <div class="tmb logo" ngf-background="dbctrl.logolight.file"></div>
              <div class="tmb logo" ng-if="dbctrl.logolight.tempDownloadUrl && !dbctrl.logolight.file" ng-style="{'background-image': 'url('+dbctrl.logolight.tempDownloadUrl+')'}"></div>
            </div>
          </div>
          <div class="file">
            <p class="filetopdrop">Image to be shown when the device wakes up from standby</p>
            <div ngf-drop class="filearea"
                 ngf-select
                 ng-model="dbctrl.halfwakeBackground.file"
                 ngf-drag-over-class="'dragover'"
                 ngf-pattern="'image/*'">
              <div class="dropinfo"
                   ng-class="{imgpresent: dbctrl.halfwakeBackground.hasImg}">
                <span class="body-small span-text"
                      translate="Drop file here or click to upload"></span>
                <i class="icon icon-upload large"></i>
              </div>
              <div class="tmb" ngf-background="dbctrl.halfwakeBackground.file"></div>
              <div class="tmb" ng-if="dbctrl.halfwakeBackground.tempDownloadUrl  && !dbctrl.halfwakeBackground.file" ng-style="{'background-image': 'url('+dbctrl.halfwakeBackground.tempDownloadUrl+')'}"></div>

            </div>
          </div>
        </div>
        <div id="best-res">For best results, logos should be transparent, with no padding around the outside of the
          image size. Recommended minimum logo file size is XXX and image size is XXX. Supported le types: .svg, .png,
          .jpg, jpeg Wake-up image should be XXXXXX and XXXXXXXXXX.
        </div>
      </div>
      <button
        cs-btn
        id="apply-device-branding"
        class="btn btn--primary"
        ng-class="{'ng-hide':!dbctrl.changeInBranding()}"
        loading="dbctrl.applyInProgress"
        ng-disabled="!dbctrl.applyAllowed()"
        ng-click="dbctrl.applyBranding()">
        <span translate="common.apply"></span>
      </button>
    </div>
  </div>
</div>



