.fusion-cluster-list {
  .add-resource-button {
    margin-left: 1rem;
  }

  .loading-list {
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 2rem;
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 2rem;
  }

  .cs-card-layout:last-child {
    padding-bottom: 1rem;
  }
}
