.fusion-cluster-list {
  .loading-list {
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 2rem;
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 2rem;
  }

  .cluster-table {
    tr {
      border-top: 0 !important;
    }

    td:nth-child(1) {
      vertical-align: top;
      color: $gray-base;
    }
  }

  .cs-card {
    header {
      display: flex;
      position: relative;
      padding: 1.25rem 1rem 0.9375rem !important;
      align-items: baseline;

      h4 {
        @include text-overflow;
        margin-right: 0.625rem;
      }

      .cluster-list-hosts {
        flex-shrink: 0;
        height: 18px;
        border-radius: 2px;
        color: #fff;
        font-size: 0.75rem;
        background-color: $gray-base;
        padding: 1px 5px;
      }
    }

    .cluster-list-body {
      display: flex;
      flex-grow: 1;
    }

    .cluster-list-cat {
      color: $gray-base;
      font-size: 0.75rem;
    }

    .cluster-list-info {
      color: $gray-dark-2;
      font-size: 0.875rem;
    }

    .columns {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    .cluster-list-timezone {
      @include text-overflow;
    }

    .connection-status {
      display: flex;
    }

    .connection-status-column {
      flex: 1 0 auto;
      min-width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.9375rem;
    }

    .connection-status-icon {
      // outline: 1px dashed blue;
      width: 48px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    .connection-status-cloud-icon {
      background-image: url('/images/hybrid-services/cloud.svg');
    }

    .connection-status-cable {
      height: 16px;
      border-right: 1px solid $gray-light-1;
      margin: 8px 0;
    }

    .connection-status-cable-cloud {
      margin-bottom: 5px
    }

    .connection-status-cable-premises {
      margin-top: 5px
    }

    .connection-status-service {
      font-size: 0.75rem;

      a {
        display: flex;
        align-items: baseline;
      }

      span {
        margin-left: 4px;
        font-size: 0.75rem;
      }
    }

    .connection-status-premises-icon {
      background-image: url('/images/hybrid-services/server.svg');
    }

    footer {
      text-align: center;
      padding: 0;

      a {
        display: block;
        padding: 1rem;
        border-top: 1px solid $gray-light-3;
        width: 100%;
        font-size: 16px;
        &:focus {
          box-shadow: none
        }
      }
    }

    &.card-expressway {
      header:after {
        border-top-color: $color-people-base;
      }
    }
    &.card-mediafusion {
      header:after {
        border-top-color: $color-meetings-base;
      }
    }
  }
}

@media only screen and (max-width: 470px) {
  .fusion-cluster-list .cs-card .cluster-list-body {
    flex-direction: column;
    .connection-status {
      margin-top: 0.9375rem;
    }
  }
}
