.fusion-cluster-list {
  .loading-list {
    text-align: center;
    margin-top: 2rem;

    span {
      font-size: 2rem;
    }
  }

  .empty-list {
    text-align: center;
    margin-top: 2rem;
  }

  .cluster-table {
    tr {
      border-top: 0 !important;
    }

    td:nth-child(1) {
      vertical-align: top;
      color: $gray-base;
    }
  }

  .cs-card {
    header {
      display: flex;
      position: relative;;
      padding-top: 1.25rem;
      padding-bottom: 0.9375rem;

      h4 {
        flex-grow: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 0.625rem;
      }

      $orb-size: 2.125rem;
      .cluster-type-orb {
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: $orb-size;
        width: $orb-size;
        height: $orb-size;
        font-size: 0.875rem;
        line-height: 2.8;
        text-align: center;
        background-color: $gray-light-4;
      }
    }

    .cluster-list-timezone {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .columns {
      &:first-child {
        color: $gray-light-1;
      }
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 16px;
    }

    .service-list {
      padding: 0;
      margin: 0;
      margin-top: 1rem;
      margin-left: 1rem;
      font-size: 1rem;

      li {
        list-style: none;
      }

      span {
        font-size: 1rem;
      }

      .fa {
        font-size: 12px;
        vertical-align: 1px;
      }
    }

    footer {
      display: flex;
      padding: 1rem;

      div, a {
         width: 50%;
         color: $gray-base;
         font-size: 16px;
      }

      a {
        text-align: right;
        &:focus {
          box-shadow: none
        }
      }

      span {
        font-size: 16px;
      }

      i {
        font-size: 24px;
        vertical-align: -7px;
        color: $gray-light-2;
      }
    }

    &.card-expressway {
      header:after {
        border-top-color: $color-primary-base;
      }
      .cluster-type-orb {
        color: $color-primary-base;
      }
    }
    &.card-mediafusion {
      header:after {
        border-top-color: $color-meetings-base;
      }
      .cluster-type-orb {
        color: $color-meetings-base;
      }
    }
  }
}
