@import '~@collabui/collab-ui/scss/settings/settings';
@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';

.fusion-cluster-settings {
  background-color: #fff;

  .sub-section + .sub-section {
    margin-top: 24px;
  }

  .cap-long-names {
    @include text-overflow;
  }

  .remove-warning {
    font-family: 'CiscoSansTT Regular Oblique', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 0.75rem;
    color: $gray-light-1;
    line-height: 1rem;
    margin-top: 4px;
    margin-bottom: 0.25rem;
  }

  .media-service-btn-padding {
    margin-left: 25px;
  }

  .needs-border-top {
    border-top: 1px solid $gray-light-2;
  }

  tags-input.ng-invalid .tags {
    border-color: $color-alerts-base;
    box-shadow: none;
  }

  tags-input .host {
    border: 1px solid $gray-light-2;
    border-radius: 5px;
  }

  tags-input .tags {
    border-radius: 4px;
    box-shadow: none;
    border: none !important;
    padding: 5px !important;

    &:hover {
      border-color: $gray-light-1;
    }

    &.focused {
      box-shadow: none;
      border-color: $color-primary-darker;
    }

    .tag-item {
      background: $brand-primary-light;
      border: 0;
      color: $brand-white;
      line-height: 24px;

      .remove-button {
        color: $brand-white;
      }
    }

    .input.invalid-tag {
      color: $brand-danger;
    }
  }

  .remove-margins {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
  }

  .custom-line-height {
    line-height: 2.3;
    font-family: $brand-font-light;
    font-size: 0.875rem;
  }
}

.deregister-expressway-modal {
  .serviceicon {
    vertical-align: middle;
    margin-left: 8px;
  }

  .lastClusterAcknowledgement form {
    padding-left: 20px;
  }
}

.fusion-resource-group-settings {
  background-color: #fff;

  .group-settings-users-description {
    p:first-child,
    li.sub-section__description {
      margin-bottom: 0 !important;
    }
  }

  .needs-border-top {
    border-top: 1px solid $gray-light-2;
  }
}
