.fusion-cluster-settings {
  background-color: #fff;

  setting-section {
    border-top: none;
  }

  button {
    margin-top: 10px;
  }

  .sub-section {
    margin-bottom: 25px !important;
  }

  .cap-long-names {
    @include text-overflow;
  }
}

.deregister-expressway-modal {
  .serviceicon {
    vertical-align: middle;
    margin-left: 8px;
  }

}
