.fusion-cluster-settings .cs-form__section {
  margin: 0;
  max-width: none;
  width: auto;
  border-bottom: #D7D7D8 1px solid;
  padding-top: 1rem;
  padding-bottom: 0.1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.fusion-cluster-settings .deletesection {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fusion-cluster-settings .deleteclusterDesc {
  color: #AEAEAF;
  padding-top: 1.2rem;
}
