<div class="fusion-cluster-settings">

  <cs-page-header title="{{clusterSettings.localizedTitle}}" back="true" back-url="clusterSettings.backUrl"  ng-if="clusterSettings.cluster.name"></cs-page-header>

  <div class="cs-form">

    <setting-section setting="clusterSettings.upgradeSchedule">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.scheduleUpgrade.title"></h5>
        <p class="sub-section__description" translate="hercules.settings.scheduleUpgrade.description"></p>
        <upgrade-schedule-configuration cluster-id="clusterSettings.cluster.id"></upgrade-schedule-configuration>
        <div class="emergency-upgrade-section" ng-if="clusterSettings.showEmergencyUpgrade">
          <h5 class="sub-section__label" translate="hercules.settings.emergencyUpgrade.expressway.title"></h5>
          <p class="sub-section__description" translate="hercules.settings.emergencyUpgrade.expressway.description"></p>
          <emergency-upgrade-configuration cluster-id="clusterSettings.cluster.id"></emergency-upgrade-configuration>
        </div>
      </div>
    </setting-section>

    <setting-section setting="clusterSettings.resourceGroup" ng-if="clusterSettings.showResourceGroups">
      <h5 class="sub-section__label" translate="hercules.expresswayClusterSettings.resourceGroupsSubHeader" id="RG-section-test"></h5>
      <p class="sub-section__description" translate="hercules.expresswayClusterSettings.resourcegroupsParagraph"></p>
      <div class="medium-8">
        <cs-select
          ng-model="clusterSettings.selectedResourceGroup"
          options="clusterSettings.resourceGroupOptions"
          on-change-fn="clusterSettings.showResourceGroupModal()"
        >
        </cs-select>
      </div>
    </setting-section>

    <setting-section setting="clusterSettings.releasechannel" ng-if="clusterSettings.showResourceGroups && clusterSettings.allowedChannels.length > 1">
      <h5 class="sub-section__label" translate="hercules.expresswayClusterSettings.releasechannelSubHeader" id="RC-section-test"></h5>
      <p class="sub-section__description" translate="hercules.expresswayClusterSettings.releasechannelParagraph"></p>
      <div class="medium-8">
        <cs-select
          ng-model="clusterSettings.releasechannelsSelected"
          options="clusterSettings.releasechannelsOptions"
          placeholder="clusterSettings.releasechannelsPlaceholder"
          is-disabled="true"
        >
        </cs-select>
      </div>
    </setting-section>

    <setting-section setting="clusterSettings.deactivateServices">
      <div ng-if="clusterSettings.enabledServices.length > 1">
        <div class="sub-section" ng-repeat="service in clusterSettings.enabledServices | filter: clusterSettings.filterServices | orderBy: service ">
            <h5 class="sub-section__label"
                translate="hercules.expresswayClusterSettings.deactivateServicesSubHeader"
                translate-values="{service: clusterSettings.getLocalizedServiceName(service)}"></h5>
            <p class="sub-section__description"
               translate="hercules.expresswayClusterSettings.deactivateServicesParagraph"
               translate-values="{ ServiceName: clusterSettings.getLocalizedServiceName(service) }"></p>
            <button type="button"
                    class="btn"
                    id="deactivateCalendar"
                    ng-click="clusterSettings.deactivateService(service, clusterSettings.cluster);"
                    translate="hercules.settings.deactivate"></button>
        </div>
      </div>
      <div ng-if="clusterSettings.enabledServices.length < 2">
        <p class="sub-section__description" translate="hercules.expresswayClusterSettings.noHybridServicesProvisioned"></p>
      </div>
    </setting-section>

    <rename-and-deregister-cluster-section
      service-id="'squared-fusion-cal'"
      cluster="clusterSettings.cluster"
      show-rename-section="true"
      on-name-update="clusterSettings.nameUpdated()">
    </rename-and-deregister-cluster-section>

  </div>
</div>
