<div class="fusion-cluster-settings">

  <div class="cs-form">
    <setting-section setting="clusterSettings.upgradeSchedule">
      <div class="sub-section">
        <h5 class="sub-section__label" translate="hercules.settings.scheduleUpgrade.title"></h5>
        <p class="sub-section__description" translate="hercules.settings.scheduleUpgrade.description"></p>
        <upgrade-schedule-configuration only-daily="true" cluster-id="clusterSettings.cluster.id"></upgrade-schedule-configuration>
        <div class="emergency-upgrade-section">
          <h5 class="sub-section__label" translate="hercules.settings.emergencyUpgrade.mediafusion.title"></h5>
          <p class="sub-section__description" translate="hercules.settings.emergencyUpgrade.mediafusion.description"></p>
        </div>
      </div>
    </setting-section>

    <div ng-if="clusterSettings.hasMFFeatureToggle">
      <setting-section setting="clusterSettings.sipRegistration" class="needs-border-top">
        <div class="sub-section">
          <h5 class="sub-section__label" translate="mediaFusion.sipconfiguration.title"></h5>
          <p class="sub-section__description" translate="mediaFusion.sipconfiguration.description"></p>
          <input
            cs-input
            type="text"
            id="sipurlconfiguration"
            placeholder="{{'mediaFusion.sipconfiguration.placeholder' | translate}}"
            ng-model="clusterSettings.sipurlconfiguration"
            cs-input-group-size="medium-4"
            cs-input-help-text="{{'mediaFusion.sipconfiguration.example' | translate}}">
          <button type="button" class="btn media-service-btn-padding" ng-click="clusterSettings.saveSipTrunk()" translate="common.save"></button>
        </div>
      </setting-section>
    </div>

    <release-channel-section cluster="clusterSettings.cluster"></release-channel-section>

    <rename-and-deregister-cluster-section
      service-id="'squared-fusion-media'"
      cluster="clusterSettings.cluster"
      deregister-modal-options="clusterSettings.deregisterModalOptions">
    </rename-and-deregister-cluster-section>

  </div>
</div>
