@import 'styles/partials/mixins';

user-manage-dir-sync-auto-assign-license-summary {
  @include keep-flex-container(column);
}

.user-manage-dir-sync-auto-assign-license-summary {
  &__icon-spinner--large {
    font-size: 7rem;
    margin: 2rem auto;
  }
  &__license-summary {
    margin-top: 1rem;
  }
}
