@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.modal-body.subdomain-modal {
  .modal-space {
    @include vr-spacing(mt, 0.75);
  }
}

.domain-page {
  .domain {
    color: $gray-dark-4;
  }
  .domain-header {
    @include vr-spacing(mt, 1.25);
    @include vr-spacing(mb, 0.5);
  }
  .domain-buttons {
    display: flex;
    width: 50%;
    height: vr-adjust(36);
    .btn {
      @include vr-spacing(ml, 0.5);
    }
  }
  .domain-description {
    position: relative;
    top: vr-adjust(-16);
  }
  .domain-error {
    color: $color-negative-base;
    @include vr-spacing(mr, 0.25);
  }
  .domain-success {
    color: $color-cta-base;
    font-size: vr-adjust(20);
    @include vr-spacing(mr, 0.25);
  }
  .domain-icon {
    position: relative;
    top: vr-adjust(4);
    @include vr-spacing(ml, 0.25);
  }
  .domain-form {
    display: flex;
    width: 100%;
    margin-bottom: 0;
  }
  .domain-input {
    min-width: vr-adjust(200);
    width: 50%;
    input {
      width: 100%;
    }
  }
  .domain-space {
    @include vr-spacing(mt, 1);
    height: vr-adjust(20);
  }
  .domain-space-two {
    @include vr-spacing(mt, 2.5);
    height: vr-adjust(20);
  }
}
