@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.modal-body.subdomain-modal {
  .modal-space {
    @include vr-spacing(mt, 0.75);
  }
}

sipdomain-setting {
  .loading {
    text-align: center;
    font-size: 50px;
    line-height: 1;
  }
}

.domain-page {
  .domain-header {
    @include vr-spacing(mt, 1.25);
    @include vr-spacing(mb, 0.5);
  }

  .domain--top-margin {
    margin-top: 1rem;
  }

  .domain--flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    .domain-buttons {
      flex-shrink: 0;
      display: flex;
    }
    .domain-button {
      flex-shrink: 0;
    }
    .domain-input-group {
      flex-grow: 1;
      flex-basis: 0;
      min-width: vr-adjust(200);
      max-width: vr-adjust(400);
      @include vr-spacing(mr, 0.5);
    }
    .domain-input {
      width: 100%;
    }
  }
}
