<div class="modal-header subdomain-modal">
  <h3 class="modal-title" translate="firstTimeWizard.editSipDomainTitle"></h3>
</div>
<div class="modal-body subdomain-modal">
  <p translate="firstTimeWizard.editCSCPartOne"></p>
  <p class="modal-space"
    translate="firstTimeWizard.editCSCPartTwo"
    translate-value-onclick="subdomain.openDocumentation()"
    translate-compile></p>
  <p class="modal-space" translate="firstTimeWizard.editCSCPartThree"></p>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="$dismiss()" translate="common.no"></button>
  <button class="btn btn-primary" ng-click="$close()" translate="common.yes"></button>
</div>
