@import '~@collabui/collab-ui/scss/settings/colors';

hs-sip-destination-test-results {

  display: flex;
  min-height: 115px;
  flex-direction: column;
  justify-content: center;

  .sip-issues-container {

    display: inline-flex;
    min-height: 115px;

    .sip-issues-result {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $gray-lightest;
      position: relative;

      + .sip-issues-result {
        margin-left: 10px;
      }
    }

    .sip-issues-label {
      margin: 0 0 5px;
      font-size: 14px;
    }

    .sip-issues-count {
      font-size: 48px;
    }

    .successful {
      color: $color-cta-base;
    }

    .issues {
      color: $color-attention-base;
    }

    .failed {
      color: $color-alerts-base;
    }
  }
}
