.connector-body .host {
  padding-bottom: 10px;
}

.gray {
  color: @gray-dark;
}

.fusion-welcome {
  background-color: @brand-white;
  padding-left: 30px;
  padding-right: 30px;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.connector-info-item {
  padding-left: 20px;
}

@media (max-width: @screen-sm-min) {
  .connector-info-item {
    padding-left: 0;
  }
}

.sw-upgrade .header .clearfix {
  padding-top: 5px;
  display: block;
}

.grid {
  background-color: @brand-white;

  .row:nth-child(n+2) {
    border-top: 1px solid #eee;
  }

  .row {
    cursor: pointer;
    padding: 15px 10px;
  }

  .row:hover {
    background: #fafafa;
  }

  i {
    margin-right: 10px;
  }
}

.icon-inverse-round {
  color: white;
  padding: 10px;
  border-radius: 100px;
  background: @gray-lighter;
}

.status-icon {
  color: @brand-danger;
  margin-right: 10px;
}

.list-item {
  padding-top: 10px;
}

.error {
  color: @brand-danger;
}

.disabled {
  color: @gray-dark;
}

.running {
  color: @brand-success;
}

.status-info {
  color: @gray-dark;
  font-size: 12px;
  padding-left: 27px;
  line-height: normal;
}
