.connector-body .host {
  padding-bottom: 10px;
}

.gray {
  color: @gray-dark;
}

.accordion-toggle:hover {
  text-decoration: none;
}

.connector-info-item {
  padding-left: 40px;
}

@media (max-width: @screen-sm-min) {
  .connector-info-item {
    padding-left: 0;
  }
}
