<div ui-view="header"></div>

<cs-sp-container>

  <!-- cluster overview -->
  <cs-sp-section>
    <div class="sw-upgrade" style="font-size: xs">
      <div>Status: {{cluster.needs_attention ? 'Needs attention' : 'Running'}}.</div>
      <div>Cluster consists of {{cluster.hosts.length}} {{cluster.hosts.length == 1 ? 'host' : 'hosts'}}.</div>
    </div>
  </cs-sp-section>

  <!-- services stuff -->
  <cs-sp-section>
    <div class="section-name" style="padding: 15px 0;">
      Connectors
    </div>
    <div>
      <div class="sw-upgrade clearfix">

        <div ng-repeat="service in cluster.services" class="list">
          <a ui-sref="cluster-details.service({clusterId: cluster.id, serviceType: service.service_type})" style="padding-bottom: 15px; display: block;" ng-class="service.needs_attention ? 'needs_attention' : (service.is_disabled || !service.running_hosts) ? 'disabled' : 'running'">
            <i class="fa fa-circle" />
            <span>{{service.display_name}}</span>
            <i class="icon icon-chevron-right pull-right" />
            <div class="clearfix" style="color: #999; font-size: 9px; padding-left: 27px;">
              <span ng-switch="service.is_disabled">
                <span ng-switch-when="true">
                  Disabled.
                </span>
                <span ng-switch-default>
                  <span ng-switch="service.needs_attention">
                    <span ng-switch-when="true">
                      <span ng-show="{{service.running_hosts}}">Needs attention.</span>
                      <span ng-show="{{!service.running_hosts}}">Not running.</span>
                    </span>
                    <span ng-switch-default>
                      <span ng-show="{{service.installed}}">Running on {{service.running_hosts}} {{service.running_hosts == 1 ? 'host' : 'hosts'}}.</span>
                      <span ng-show="{{!service.installed && !service.install_available}}">Pending installation.</span>
                      <span ng-show="{{!service.installed && service.install_available}}">Not installed.</span>
                    </span>
                  </span>
                </span>
              </span>
              <span ng-show="service.software_upgrade_available">
                <span>Software upgrade available.</span>
              </span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </cs-sp-section>

  <!-- hosts -->
  <cs-sp-section>
    <div class="section-name" style="padding-top: 15px;">
      Expressway Hosts
    </div>

    <div ng-repeat="host in cluster.hosts" style="padding-bottom: 10px" class="list">
      <a ui-sref="cluster-details.hosts" style="padding-top: 1.4rem; display: block;" ng-class="host.state == 'running' ? 'running' : 'needs_attention'">
        <i class="fa fa-circle" />
        <span>{{host.host_name}}</span>
        <i class="icon icon-chevron-right pull-right" />
        <div class="clearfix" style="color: #999; font-size: 9px; padding-left: 27px;">
          <span translate="{{'hercules.status.' + (host.state || 'unknown') }}"></span>
        </div>
      </a>
    </div>


  </cs-sp-section>


</cs-sp-container>
