<div ui-view="header"></div>

<cs-sp-container>

  <!-- cluster overview -->
  <cs-sp-section>
    <div class="sw-upgrade" style="font-size: xs">
      <div>Cluster consists of {{cluster.hosts.length}} {{cluster.hosts.length == 1 ? 'host' : 'hosts'}}.</div>
    </div>
  </cs-sp-section>

  <!-- services stuff -->
  <cs-sp-section>
    <div class="section-name" style="padding: 15px 0;">
      Connectors
    </div>
    <div>
      <div class="sw-upgrade clearfix">
        <div class="feature-list">
          <ul>
            <div ng-repeat="service in cluster.services">
              <li class="feature" ng-class="{'list-item': !$first}">
                <a ui-sref="cluster-details.service({clusterId: cluster.id, serviceType: service.service_type})" ng-show="service.state">
                  <i class="fa fa-circle status-icon" ng-class="service.status"></i>
                  <span class="feature-name">{{service.display_name}}</span>
                  <span class="feature-status" translate="{{'hercules.status.' + service.state }}"></span>
                  <i class="feature-arrow"></i>
                </a>
              </li>
              <li>
                <div class="status-info">
                  <div ng-show="service.software_upgrade_available" style="color: #00c1aa">
                    Software upgrade available.
                  </div>
                  <div class="clearfix" ng-show="service.alarm_count">
                    <span ng-show="service.alarm_count==1" class="feature-status">
                      {{service.alarm_count}} reported alarm.
                    </span>
                    <span ng-hide="service.alarm_count==1" class="feature-status">
                      {{service.alarm_count}} reported alarms.
                    </span>
                  </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </cs-sp-section>

  <!-- hosts -->
  <cs-sp-section>
    <div class="section-name" style="padding: 15px 0;">
      Hosts
    </div>
    <div class="feature-list">
      <ul>
        <li class="feature" ng-repeat="host in cluster.hosts" ng-class="{'list-item': !$first}">
          <a ui-sref="cluster-details.hosts({clusterId: cluster.id, hostSerial: host.serial})">
            <i class="fa fa-circle status-icon" ng-class="host.status"/>
            <span class="feature-name">{{host.host_name}}</span>
            <span class="feature-status" translate="{{'hercules.status.' + (host.state || 'unknown') }}"></span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
  </cs-sp-section>

  <!-- deregister -->
  <cs-sp-section>
    <div>
      <button id="btn--primary" ng-disabled="saving" class="btn btn--negative" style="margin-top: 15px;"
              translate="hercules.clusters.deregister"
              ng-click="sp.close();showDeregisterDialog();"/>
    </div>
  </cs-sp-section>

</cs-sp-container>
