<div id="fusion-root" style="padding-left: 10px; padding-right: 10px;">

  <!-- header -->
  <div class="page-header row">
    <div class="page-title small-7 columns">
      <span class="title-heading" translate="hercules.page_title" />
      </div>
      <div ng-hide="shouldShowWelcomeScreen()" class="small-5 columns page-option-buttons" style="white-space: nowrap">
        <div  style="border-right: solid 1px #dddddd; padding-right: 15px; margin-right: 10px; display: inline-block;">
          <button
            class="btn btn--people"
            ng-click="showServiceActivationDialog()">
            Add/Remove Services
          </button>
        </div>
        <button
          class="btn btn--primary"
          ng-click="showInfoPanel = !showInfoPanel">
          <i class="fa fa-bell" />
        </button>
        <button
          class="btn btn--primary"
          ng-click="showNotificationConfigDialog()">
          <i class="icon icon-settings" />
        </button>
      </div>
  </div>


  <!-- content -->
  <div class="row">
    <div class="small-12 columns">
      <!-- loader -->
      <div ng-show="subscription.eventCount == 0 || subscription.currentError" style="text-align: center; padding-top: 60px;">
        <p ng-show="subscription.currentError">Disconnected. Trying to reconnect...</p>
        <i class="icon icon-spinner icon-2x"></i>
      </div>

      <div ng-show="shouldShowWelcomeScreen()" style="padding: 20px 40px">
        <hercules-fusion-welcome></hercules-fusion-welcome>
      </div>

      <div ng-show="subscription.eventCount > 0 && !subscription.currentError && !shouldShowWelcomeScreen()">
        <hercules-dashboard-info-panel> </hercules-dashboard-info-panel>

        <hercules-dashboard-header> </hercules-dashboard-header>

        <div class="row" ng-show="clusterLength() != 0">
          <h3>Cisco Expressway Clusters: {{clusterLength()}}</h3>

          <div class="grid" style="margin-right: -30px; margin-left: -10px;">

            <div class="row"
                 ng-repeat="cluster in clusters | toArray | orderBy:['needs_attention','-any_service_connectors_enabled','name']"
                 ng-click="showClusterDetails(cluster)">
              <div class="col-sm-4 col-xs-10">
                <i class="icon icon-data icon-inverse-round" />
                <span>{{cluster.name}}</span>
              </div>
              <div class="col-sm-4 col-xs-1">
                <span ng-show="cluster.needs_attention" class="red">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">Needs attention</span>
                </span>
                <span ng-hide="cluster.needs_attention || !cluster.any_service_connectors_enabled" class="green">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">Running</span>
                </span>
                <span ng-hide="cluster.needs_attention || cluster.any_service_connectors_enabled" class="yellow">
                  <i class="fa fa-circle" />
                  <span class="hidden-xs">No service connectors enabled</span>
                </span>
              </div>
              <div class="col-sm-4 col-xs-1">
                <span ng-show="cluster.software_upgrade_available" style="color: #00c1aa">
                  <i class="fa fa-cloud-upload" />
                  <span class="hidden-xs">Software upgrade available</span>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="clusterLength() == 0">
          <h3>Cisco Expressway Clusters</h3>
          <h5 style="color: #ccc">
            No clusters connected to Spark
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
