<div>
  <div class="modal-header">
    <button id="convertModalClose" type="button" class="close" ng-click="$parent.modal.close()">
      <i class="icon icon-close" aria-hidden="true"></i><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">
      <span>Add/Remove Cloud Extension Services</span>
    </h3>
  </div>
  <div class="modal-body">
    <div ng-show="loading" style="text-align: center; padding: 60px;">
      <i class="icon icon-spinner icon-2x"></i>
    </div>
    <div ng-hide="loading || confirmRemove">
      <p>Select the Cloud Extension Services you want to turn on for your organization. This step lets you configure the selected Services on your on-premises devices and turn on related functionality for your users.</p>
      <div ng-repeat="service in services.allExceptManagement" style="margin-top: 20px;">
        <span><cs-checkbox ckid="{{service.service_id}}" ng-model="service.enabled" label=""/></span> <i ng-class="serviceIcon(service.service_id)" style="font-size: 25px; vertical-align: middle;" /> <span translate="hercules.serviceNames.{{service.service_id}}" style="font-weight: 600; margin-left: 10px;"/>
        <p><span translate="hercules.serviceDescriptions.{{service.service_id}}"/></p>
      </div>
      <p>Note! Deselecting a service (requires another confirm step) will remove any related functionality from your users. Additional steps to remove the service from your on-premises devices are required. See documentation for guidance and further instructions. </p>
    </div>

    <div ng-show="!loading && confirmRemove">
      <div class="alert alert-danger" role="alert" style="margin-left: 0px; margin-right: 0px;">
        You are about to remove the following Cloud Extension Services for your organization. This will also remove any related functionality from your users.
      </div>
      <div ng-repeat="service in servicesToBeRemoved" style="margin-top: 20px;">
        <p><i ng-class="serviceIcon(service.service_id)" style="font-size: 25px; vertical-align: middle;"/> <span translate="hercules.serviceNames.{{service.service_id}}" style="font-weight: 500; margin-left: 10px;"/></p>
      </div>
      <p>Are you sure?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="loading || saving" ng-hide="confirmRemove" id="convertActionButton" class="btn btn-primary pull-right" ng-click="save()">
      <span ng-hide="saving">Save</span>
      <span ng-show="saving">
        <i class="icon icon-spinner" />
      </span>
    </button>
    <button ng-disabled="loading || saving" ng-show="confirmRemove" id="confirmButton" class="btn btn-danger pull-right" ng-click="confirm()">
      <span ng-hide="saving">Confirm</span>
      <span ng-show="saving">
        <i class="icon icon-spinner" />
      </span>
    </button>
    <button id="convertCancelButton" class="btn btn-default pull-right" ng-click="$parent.modal.close()" style="margin-right: 10px">
      <span ng-hide="confirmRemove">Close</span>
      <span ng-show="confirmRemove">Cancel</span>
    </button>
  </div>
</div>
