<div>
  <div class="modal-header">
    <button id="convertModalClose" type="button" class="close" ng-click="$parent.modal.close()">
      <i class="icon icon-close" aria-hidden="true"></i><span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">
      <span>Add/Remove Cloud Extension Services</span>
    </h3>
  </div>
  <div class="modal-body">
    <div ng-show="loading" style="text-align: center; padding: 60px;">
      <i class="icon icon-spinner icon-2x"></i>
    </div>
    <div ng-hide="loading || confirmUpdate">
      <p>Select the Cloud Extension Services you want to turn on for your organization. This will enable you to configure the selected Services on your on premise devices and to turn the features on for your users.</p>
      <div ng-repeat="service in services.allExceptManagement" style="margin-top: 20px;">
        <span><cs-checkbox ckid="{{service.service_id}}" ng-model="service.enabled" label=""/></span> <i ng-class="service.icon_class" /> <span translate="hercules.serviceNames.{{service.service_id}}" style="font-weight: 600; margin-left: 10px;"/>
        <p>{{service.description}}</p>
      </div>
      <p>Note! De-selecting a service will remove any service related functionality from your users. Additional steps to remove the service from your on premise devices are required. See documentation for guidance and further instructions.</p>
    </div>

    <div ng-show="!loading && confirmUpdate">
      <div ng-show="servicesToBeAdded.length > 0">
        <p><b>Adding Services:</b></p>
        <div ng-repeat="service in servicesToBeAdded" style="margin-top: 20px;">
          <p><i ng-class="service.icon_class" /> <span translate="hercules.serviceNames.{{service.service_id}}" style="font-weight: 500; margin-left: 10px;"/></p>
        </div>
      </div>
      <div ng-show="servicesToBeRemoved.length > 0">
        <p><b>Removing Services:</b></p>
        <div ng-repeat="service in servicesToBeRemoved" style="margin-top: 20px;">
          <p><i ng-class="service.icon_class" /></span> <span translate="hercules.serviceNames.{{service.service_id}}" style="font-weight: 500; margin-left: 10px;"/></p>
        </div>
      </div>
      <div class="alert alert-danger" role="alert" ng-show="servicesToBeRemoved.length > 0" style="margin-left: 0px; margin-right: 0px;">
        Removing Cloud Extension Services for your organization will remove any service related functionality from your users.
      </div>
      <p>Are you sure?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button ng-disabled="loading || saving" ng-hide="confirmUpdate" id="convertActionButton" class="btn btn-primary pull-right" ng-click="save()">
      <span ng-hide="saving">Save</span>
      <span ng-show="saving">
        <i class="icon icon-spinner" />
      </span>
    </button>
    <button ng-disabled="loading || saving" ng-show="confirmUpdate" id="confirmButton" class="btn btn-danger pull-right" ng-click="confirm()">
      <span ng-hide="saving">Confirm</span>
      <span ng-show="saving">
        <i class="icon icon-spinner" />
      </span>
    </button>
    <button id="convertCancelButton" class="btn btn-default pull-right" ng-click="$parent.modal.close()" style="margin-right: 10px">
      <span ng-hide="confirmUpdate">Close</span>
      <span ng-show="confirmUpdate">Cancel</span>
    </button>
  </div>
</div>
