.meeting-list {
  .meeting-table {
    .meeting-title {
      color: $gray-dark;
    }
  }
  .meeting-ldr-brd-row {
    div {
      height: 40px;
    }
    .mlb-title {
      color: $gray-dark;
      background-color: $brand-white;
      padding-left: 0px;
      h4 {
        margin: 12px 0 0 0;
      }
    }
    .mlb-ent-title {
      background-color: $gray-dark;
      color: $brand-white;
      h3 {
        margin: 10px 0 0 0;
      }
    }
    .mlb-cloud-title {
      background-color: #7C71AD;
      color: $brand-white;
      h3 {
        margin: 10px 0 0 0;
      }
    }
    .mlb-mtgpartcount {
      border: 1px solid rgb(212, 212, 212);
      background-color: $brand-white;
      h2 {
        margin: 4px 0 0 0;
      }
    }
    .mlb-blank-col {
      width: 20px;
      padding: 0 2px 0 2px;
      background-color: $brand-white;
    }
  }
  .meeting-chart {
    .meeting-chart-title-bar {
      height: 40px;
      .meeting-chart-btn-grp {
        width: 130px;
        padding: 0 0 0 0;
      }
      .meeting-chart-btn-blank-grp {
        width: 2px;
        height: 40px;
        background-color: $gray-dark;
        padding: 0 0 0 0;
      }
      .meeting-chart-cal-nav {
        font-size: 20px;
        width: 40px;
        height: 40px;
        color: $gray-dark;
        background-color: $gray-lightest;
        border: none;
      }
      .meeting-chart-cal-nav-btn-label {
        font-size: 15px;
        width: 50px;
        height: 40px;
        color: $gray-dark;
        background-color: $gray-lightest;
        border: none;
      }
      .meeting-chart-default-duration {
        color: #777777;
      }
      .meeting-chart-date {
        color: $gray-dark;
      }
      .meeting-chart-dropdown {
        height: 40px;
        width: 200px;
        color: $gray-dark;
        background-color: $brand-white;
        border: 1px solid rgb(212, 212, 212);
        padding: 0 0 0 10px
      }
      .highlet {
        font-weight: bold;
        color: #777777;
      }
    }
    .meeting-chart-div {
      height: 350px;
      width: 100%
    }
  }
  .meeting-search {
    padding: 0 0 0 0;
    .meeting-input {
      height: 40px;
      width: 200px;
      margin: 15px 0 0 0;
      float: right;
    }
    .meeting-btn {
      height: 40px;
      float: left;
      margin: 15px 0 0 0;
      background-color: $brand-white;
      border: 1px solid rgb(212, 212, 212);
      .meeting-btn-search {
        color: $gray-dark;
        font-size: 30px
      }
    }
  }
}
