.meeting-list {
  
  .meeting-table{
    .meeting-title{
      color:#999;
    }
  }
  .meeting-ldr-brd-row {
    div{
     height:40px;
    }

    .mlb-title {
      color:#999;
      background-color:#FFF;
      padding-left:0px;

      h4{
        margin:12px 0 0 0;
      }
    }
    
    .mlb-ent-title{
      background-color:#999; 
      color:#FFF;

      h3{
        margin:10px 0 0 0;
      }
    }

    .mlb-cloud-title{
      background-color:#7C71AD; 
      color:#FFF;

      h3{
        margin:10px 0 0 0;
      }
    }

    .mlb-mtgpartcount{
      border: 1px solid rgb(212,212,212);
      background-color:#FFF;

      h2{
        margin:4px 0 0 0;
      }
    }

    .mlb-blank-col{
      width:20px;
      padding:0 2px 0 2px;
      background-color:#FFF;
    }
  }

  .meeting-search{
    padding:0 0 0 0;

    .meeting-input{
      height:40px;
      width:200px;
      margin:15px 0 0 0;
      float:right;
    }

    .meeting-btn{
      height:40px;
      float:left;
      margin:15px 0 0 0;
      background-color:#FFF;
      border: 1px solid rgb(212,212,212);

      .meeting-btn-search {
        color:#999; 
        font-size:30px
      }
    }
  }


}





