@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/fonts';
@import '~collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

csv-upload-results {

  .base-margin {
    margin: 1em;
  }

  .flex-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
  }

  &.modal-body .flex-container {
    flex-shrink: 1;
  }

  .flex-item-resize {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
  }

  .flex-item-no-resize {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
  }

  .scroller {
    overflow-y: scroll;
  }

  .upload-complete {
    align-items: flex-start;
    @include vr-spacing(mv, 0.5);
  }

  // Error display
  .upload-errors {
    background-color: transparent;

    .error-download {
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
    }

    .csv-download {
      font-size: small;
      margin: 0;
    }

    p {
      .icon {
        color: $gray-light-1;
        top: 0.1rem;

        &:hover {
          color: $color-primary-base;
        }
      }
    }

    .row {
      border-color: $gray-dark;
      border-style: solid;
      border-width: thin thin 0;
      display: flex;
    }

    div.row:last-child {
      border-bottom-width: thin;
    }

    .error-row {
      padding: 0.5rem 1rem;
      overflow-x: hidden;
    }

    .error-desc {
      border-color: $gray-dark;
      border-style: solid;
      border-width: 0 0 0 thin;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      padding: 0.5rem 1rem;
    }

    .table-header {
      background-color: $gray-light-4;
      color: $gray-dark;
      text-align: left;
      font-weight: bold;
    }

    .table-body {
      color: $gray-base;
    }
  }
}
