@import 'styles/partials/mixins';

user-task-manager-modal {
  @include keep-flex(column);

  .reveal-modal.full & .modal-body {
    padding: 0;
    > * {
      max-width: none;
    }
  }

  .loading-wrapper {
    @include keep-flex();
    align-items: center;
    justify-content: center;
  }
}
