@import '~@collabui/collab-ui/scss/settings/colors';
@import 'styles/partials/mixins';

user-task-manager-modal {
  @include keep-flex-container(column);

  .reveal-modal.full & .modal-body {
    padding: 0;
    > * {
      max-width: none;
    }
  }

  .loading-wrapper {
    @include keep-flex-container(row);
    align-items: center;
    justify-content: center;
  }

  .alert {
    color: $color-alerts;
  }
}
