.event-list {
  
  .event-table{
    .event-title{
      color:#999;
    }
  }
  
  .event-search{
    padding:0 0 0 0;

    .event-input{
      height:40px;
      width:200px;
      margin:15px 0 0 0;
      float:right;
    }

    .event-btn{
      height:40px;
      float:left;
      margin:15px 0 0 0;
      background-color:#FFF;
      border: 1px solid rgb(212,212,212);

      .event-btn-search {
        color:#999; 
        font-size:30px
      }
    }
  }


}





