@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/settings/colors';
.external-voicemail-number {
  @include vr-spacing(mb, 2.5);
}
.disable-color {
    color: $gray-light-1;
}


