/*** PARTNERS ***/

.partneroverview-state {
  @extend %page-content-padding;
}

.partner-container {
  @extend %content-header;

  .tab-reports {
    background-color: transparent;
    margin-top: 40px;
  }
  .report {
    height: 250px;
  }
  .report + .report-status {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 125px;
    float: left;
  }
  .tab-report {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 15px;
  }
  .tab-report {
    height: 300px;
  }
  .tab-report + .report-status {
    text-align: center;
    width: 100%;
    position: relative;
    bottom: 150px;
    float: left;
  }
  #entitlementTitle {
    color: $brand-primary;
    margin-left: 55px;
    padding-top: 20px;
    span {
      font-size: inherit;
    }
  }
  .tab-reports .nav-tabs li .total {
    font-size: 24px;
  }
}
