.trialsPanel {
  padding: 15px;
  background-color: $brand-white;
  border-color: $list-group-border;
  border-width: 1px;
  .trial {
    margin-bottom: .5rem;
  }
}

.trials-refresh {
  left: 50%;
  position: relative;
}

#trialHeader {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-end;
  padding: .5rem 0;
}

.trialRow {
  display: flex;
  align-items: center;
}

.trial-danger-text {
  color: $brand-danger;
}

#expiredTrials {
  padding-top: 30px;
}

.trialTitle {
  font-family: $brand-font-cisco-TT-Extra-Light;
  color: $top-bar-inverse-link-disabled-color;
  @extend %ui-pb;
}

.trialHeading {
  color: $gray-dark-2;
  line-height: 1;
  text-align: center;
  &--customer {
    text-align: left
  }
}

.expiredCustomer {
  line-height: 20px;
  color: $brand-primary;
  text-align: left;
}

.expired {
  font-size: 13px;
  line-height: 20px;
  color: $btn-link-disabled-color;
  text-align: center;
}

.trialCustomer {
  color: $brand-primary;
  text-align: left;
  margin-bottom: -.75rem;
}

.trialLicense {
  color: $gray-base;
  text-align: center;
  padding-top: 0px;
}

.trialDays {
  color: $gray-base;
  text-align: center;
}

.trialbar {
  height: 6px;
}

.trials-card {
  min-height: rem-calc(440);
}