@import '~@collabui/collab-ui/scss/settings/colors';

.csv-download {
  display: flex;
  flex: 1 0 auto;

  .icon {
    font-size: 1.5rem;
    color: $gray-dark-1;
  }

  .status-container {
    display: flex;
    align-items: center;
    flex: 1 1 auto;

    a {
      display: flex;
    }

    .status-message {
      color: $gray-light-1;
      font-size: small;
      margin-right: 1rem;
    }
  }
}
