<div class="csv-download">
  <div ng-hide="$ctrl.noIcon" class="stat">
    <a href ng-click="$ctrl.downloadCsv()" aria-label="{{::$ctrl.getDownloadTranslation()}}">
      <span ng-if="$ctrl.anchorText">{{::$ctrl.anchorText}}</span>
      <icon-tooltip
        ng-if="!$ctrl.anchorText && !$ctrl.downloading"
        tt-class="{{::$ctrl.iconClass}}"
        tt-tooltip-animation="false"
        tt-tooltip-append-to-body="true"
        tt-tooltip-text="{{$ctrl.tooltipMessage}}">
      </icon-tooltip>
    </a>
  </div>
  <div
    class="status-container"
    ng-if="$ctrl.downloading"
    ng-click="$ctrl.goToDownload()"
    tooltip-placement="bottom"
    tooltip="{{$ctrl.downloadingMessage}}"
    tooltip-animation="false"
    tooltip-append-to-body="true"
    tooltip-trigger="focus mouseenter"
    aria-label="{{$ctrl.downloadingMessage}}">
      <i class="icon icon-spinner"></i>
      <span class='status-message'>{{::$ctrl.statusMessage}}</span>
  </div>
</div>
