<h5 class="heading-div">
  <b translate="mediaFusion.easyConfig.completeregister"></b>
</h5>
<br>
<h5 class="description-div" translate="mediaFusion.easyConfig.grant-registration-success-header-old-cluster" translate-values="{hostname: $ctrl.hostName, clustername: $ctrl.clusterName}"></h5>
<br>
<h5 class="description-div" translate="mediaFusion.easyConfig.grant-success-information"></h5>
<br>
<h5 class="heading-div">
  <b translate="mediaFusion.easyConfig.testconfigure"></b>
</h5>
<br>
<h5 class="description-div" translate="mediaFusion.easyConfig.testconfiguremsg"></h5>