.feature-icon {
  #Message & {
    @extend .icon-circle-message;
  }
  #Call & {
    @extend .icon-circle-call;
  }
  #Meeting & {
    @extend .icon-circle-group;
  }
  #ContactCenter & {
    /* This icon is used temporarily, will be changed later */
   @extend .icon-circle-contact-centre;
  }
}
.side-panel .no-services {
  cursor: default;
  .feature-arrow-match {
    padding-right: rem-calc(23);
  }
}

.pendingStatus {
  text-align: center;
  font-family: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .icon-circle-email {
    font-size: 96px;
    padding-top: 96px;
  }

  .pendingTitle {
    font-size: 20px;
    line-height: 32px;
    padding-top: 24px;
  }

  .pendingMsg {
    font-size: 14px;
    line-height: 24px;
    padding-top: 12px; 
  }

  .resendMsg {
    padding-top: 44px;
  }
}

.editServices{
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  padding-top: 36px;
  a {
    color: $color-primary-base;
  }    
}