.pendingStatus {
  background-color: $color-attention-light;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  .pending-icon {
    font-size: 1rem;
    margin: 1rem;
    margin-left: 1.5rem;
  }
  .pending-text {
    flex: 1;
    .pendingTitle {
      font-size: 1rem;
      font-weight: bold;
    }
    .pendingMsg {
      font-size: rem(14);
    }
  }
}
