@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/sidepanel';
@import '~@collabui/collab-ui/scss/tools/functions/core';

.pendingStatus {
  background-color: $color-attention-light;
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;

  .pending-icon {
    font-size: 1rem;
    margin: 1rem;
    margin-left: 1.5rem;
  }

  .pending-text {
    flex: 1;

    .pendingTitle {
      font-size: 1rem;
      font-weight: bold;
    }

    .pendingMsg {
      font-size: rem(14);
    }
  }
}

.user-header-title {
  max-width: 90%;
}

// taking the calculation from toolkit (100vh - 140px) and subtracting
// the height of the user pending alert (60px) and the side-panel-padding
.user-pending .side-panel-container {
  height: calc(100vh - 140px - 60px - #{$side-panel-padding});
}

.side-panel-form {
  margin-top: 0;
}
