<cs-sp-container ng-class="{'user-pending': userOverview.currentUser.pendingStatus}">
  <cs-sp-section>
    <section-title
      title-key="usersPreview.servicesPreview"
      action-list="userOverview.actionList"
      as-button="true">
    </section-title>
    <feature-list
      features="userOverview.services"
      on-feature-click="userOverview.clickService(feature)">
    </feature-list>
  </cs-sp-section>
  <hybrid-services-user-sidepanel-section user="userOverview.currentUser"></hybrid-services-user-sidepanel-section>
  <linked-sites-user-sidepanel-section user="userOverview.currentUser"></linked-sites-user-sidepanel-section>
  <roles-and-security-menu-item></roles-and-security-menu-item>
  <uc-devices ng-if="userOverview.showDevices"></uc-devices>
  <uc-user-details
    ng-if="userOverview.hasSparkCall"
    details="userOverview.userDetailList"
    on-user-detail-click="userOverview.clickUserDetailsService(userDetail)"
    user-details="userOverview.currentUser"></uc-user-details>
</cs-sp-container>
