<cs-sp-header>
  <div class="header-image">
    <div class="user-img">
      <i ng-if="!user.image" class="icon icon-user"></i>
      <img ng-if="user.image" ng-src="user.img" />
    </div>
  </div>
  <div class="header-info">
    <div class="header-info-wrap">
      <div class="header-title" title="">{{userOverview.currentUser.userName}}</div>
      <div ng-if="userOverview.currentUser.title || userOverview.currentUser.addresses" class="header-sub-info">
        <span class="user-info-1" ng-if="userOverview.currentUser.title">{{userOverview.currentUser.title}}</span>
        <span class="user-info-2" ng-if="userOverview.currentUser.addresses"><span ng-if="userOverview.currentUser.title && userOverview.currentUser.addresses">,&nbsp;</span>{{userOverview.currentUser.addresses[0].locality}}</span>
      </div>
    </div>
  </div>
</cs-sp-header>
<cs-sp-container>
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name" translate="usersPreview.servicesPreview"></span>
    </div>
    <div class="feature-list">
      <ul>
        <li class="feature" ng-repeat="service in userOverview.services">
          <a ui-sref="{{service.state}}">
            <span class="feature-name">{{service.name}}</span>
            <i class="feature-arrow"></i>
          </a>
        </li>
      </ul>
    </div>
  </cs-sp-section>
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name" translate="usersPreview.devicesPreview"></span>
      <span class="actions-menu dropdown pull-right">
        <button class="actions-button btn-none dropdown-toggle">
          <i class="icon icon-three-dots"></i>
        </button>
        <ul class="dropdown-menu dropdown-primary actions-services">
          <li ng-repeat="item in userOverview.dropDownItems"><a ui-sref="{{item.state}}">{{item.text}}</a></li>
        </ul>
      </span>
    </div>
    <uc-devices></uc-devices>
  </cs-sp-section>
</cs-sp-container>
