@import '~@collabui/collab-ui/scss/tools/functions/core'; // vr-adjust(), rem-calc()

$aa-builder-header-height: 54px;
$aa-builder-border-color: $gray-light-1;
$aa-builder-border-size: 1px;
$aa-builder-icon-color: $gray-light-1;
$aa-builder-icon-hover-color: $gray-base;
$aa-builder-icon-click-color: $color-primary-base;
$aa-builder-text-color: $gray-dark-1;

@mixin aa-builder-height($rem_offset) {
  /* base-offset includes top-bar, overlay-heading and aa-builder-header (elements from top of page) */
  $aa-builder-base-offset: rem($top-bar-height + $overlay-panel-height + $aa-builder-header-height);

  /* add to offset any additional value */
  $aa-builder-offset: $aa-builder-base-offset + $rem_offset;

  height: calc(100vh - #{$aa-builder-offset});
}

.aa-nowrap {
  @include vr-spacing(m, 0);
  @include vr-spacing(p, 0);

  white-space: nowrap;
  color: $aa-builder-text-color;
}

.aa-builder-frame {
  $frame-margin-size: 2rem;

  border-top: $aa-builder-border-size solid $aa-builder-border-color;
  box-shadow: inset 0 0.25rem 0.25rem 0.25rem $gray-light-2;
  border-bottom: $aa-builder-border-size solid $gray-light-3;
  border-left: $aa-builder-border-size solid $gray-light-3;
  margin: 0 $frame-margin-size $frame-margin-size $frame-margin-size;

  .aa-builder-container {
    $margin-top: 0.125rem;

    background-color: $gray-light-4;
    overflow-y: auto;
    overflow-x: auto;
    margin-top: $margin-top;

    /* allows aa-builder-frame box-shadow to show */
    @include aa-builder-height($frame-margin-size + 2 * rem($aa-builder-border-size) + $margin-top);
  }
}

.aa-flex-row {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.aa-flex-row.centered {
  justify-content: center;
  align-items: center;
}

.aa-flex-row-item {
  display: flex;
  flex: 1 1 auto;
  align-items: baseline;
  justify-content: center;
}

.aa-flex-row-item-bottom-align {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
  justify-content: center;
}

#aa-header-row {
  height: $aa-builder-header-height;
  background-color: $color-white;
}

#aa-header-row-content {
  @include vr-spacing(pl, 7.5);
}

#aa-header-row-name {
  @include vr-spacing(pr, 2.5);
}

.aa-flex-row-item-right {
  display: flex;
  flex: 0 1 auto;
  align-items: baseline;
  justify-content: right;
}

#aa-header-row-save {
  @include vr-spacing(pr, 2);
}

.aa-edit-icon {
  font-size: 1.5rem;
  color: $aa-builder-icon-color;

  @include vr-spacing(pl, 0.25);
  @include vr-spacing(pt, 0.25);
  @include vr-spacing(mb, 0.75);

  &:hover {
    cursor: pointer;
    color: $aa-builder-icon-click-color;
  }
}

.aa-trash-icon {
  font-size: 1.25rem;
  color: $aa-builder-icon-color;

  @include vr-spacing(pl, 0.25);
  @include vr-spacing(pt, 0.25);

  &:hover {
    cursor: pointer;
    color: $aa-builder-icon-click-color;
  }
}

.aa-schedule-icon {
  font-size: 2.5rem;
  color: $aa-builder-icon-color;

  @include vr-spacing(p, 0.25);
}

.aa-builder-number-tile {
  height: 2rem;
  width: 16rem;
  margin: 0.125rem 0;

  @include vr-spacing(p, 0.5);

  /* set to match the select-box's 3px radius */
  border-radius: 0.188rem;
  color: $color-white;
  background-color: $color-primary-base;
  display: inline-block;
  vertical-align: top;
  transition: all 0.2s ease-in-out;

  .phone-number {
    display: inline-block;

    @include vr-spacing(pt, 0.25);
  }

  &:hover {
    background-color: $color-primary-dark;
  }

  .icon {
    float: right;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
    }
  }
}

.aa-setup-assistant {
  .cs-setupassistant--content {
    @include aa-builder-height(0);
  }
}

.aa-name-edit {
  min-width: 1rem;
  white-space: nowrap;
  color: $aa-builder-text-color;

  &:focus {
    outline: solid 1px transparent;
  }
}

.aa-and-more {
  @include vr-spacing(ml, 1);

  color: $aa-builder-text-color;
}

.aa-selected-phones {
  @include vr-spacing(mt, 1);
}

.aa-panel-numbers {
  text-align: left;
  width: 16rem;

  @include vr-spacing(mv, 1);
}

.aa-container {
  width: 100%;
  padding: 0;
  min-height: 1px;
  align-items: center;
}

.aa-flex-container {
  @extend .aa-container;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#aa-builder-actionsets {
  min-height: 60vh;
}

.aa-panel {
  @extend .aa-transition;

  @include vr-spacing(m, 0);
  @include vr-spacing(pl, 0.5);
  @include vr-spacing(pr, 0.5);

  white-space: normal;
  box-shadow: none;
  line-height: 0.5rem;

  .text-info {
    color: $color-people-base;
    text-align: center;
  }

  .text-info-left {
    color: $color-people-base;
    text-align: left;

    @include vr-spacing(pl, 0);
    @include vr-spacing(pb, 1);
  }

  .aa-panel-body {
    @include vr-spacing(p, 1.25);

    margin: 0;
    background-color: $color-white;
    border: $aa-builder-border-size solid $aa-builder-border-color;
    border-radius: 0.25rem;

    &:hover {
      border-color: $color-primary-base;
    }
  }

  .aa-schedule-body {
    @extend .aa-panel-body;

    min-width: vr-adjust(300);

    &:hover {
      cursor: pointer;
    }
  }

  .aa-panel-body-endcall {
    @extend .aa-panel-body;

    @include vr-spacing(pv, 0.25);

    .text-info {
      @include vr-spacing(pl, 0.5);
      @include vr-spacing(pt, 0.25);
    }
  }

  .aa-panel-round {
    @include vr-spacing(m, 0);
    @include vr-spacing(p, 0);

    position: relative;
    text-align: center;
    vertical-align: middle;

    .popover {
      background-color: transparent;
      border: 0;
      min-width: vr-adjust(120);
      color: $anchor-font-color-hover;

      @include vr-spacing(m, 0);
      @include vr-spacing(p, 0);

      &.right > .arrow {
        background-color: transparent;
        border-right-color: transparent;

        &::after {
          border-color: transparent;
          border-right-color: transparent;
          border-width: 0;
        }
      }

      .popover-content {
        font-size: $h6-font-size;

        @include vr-spacing(p, 0.5);
      }
    }
  }
}

.aa-transition.ng-enter,
.aa-transition.ng-leave {
  transition: 0.5s ease all;
}

.aa-transition.ng-enter,
.aa-transition.ng-leave.ng-leave-active {
  opacity: 0;
}

.aa-transition.ng-leave,
.aa-transition.ng-enter.ng-enter-active {
  opacity: 1;
}

.aa-add-step-icon {
  font-size: 2rem;
  padding-right: $aa-builder-border-size;
  color: $anchor-font-color;

  &:hover {
    cursor: pointer;
    color: $anchor-font-color-hover;
  }
}

.aa-action-delete {
  margin-left: auto;

  .aa-action-delete-icon {
    color: $gray-light-2;
    font-size: 1.5rem;

    &:hover {
      cursor: pointer;
      color: $aa-builder-icon-click-color;
    }
  }
}

.aa-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .aa-general-2-lanes {
    min-width: vr-adjust(780);
  }

  .aa-lanes-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .aa-lane {
    @extend .aa-flex-container;

    min-width: vr-adjust(480);

    .aa-panel-lane {
      @extend .aa-panel;
      @extend .aa-max-width;
    }
  }
}

.aa-max-width {
  max-width: 100%;
}

.aa-vertical-line {
  border-left: $aa-builder-border-size solid $aa-builder-border-color;
  min-height: 30px;
  display: flex;
  flex: 0 1 auto;
}

.aa-vertical-spacer {
  min-height: 30px;
  display: flex;
  flex: 0 1 auto;
}

.aa-horizontal-line {
  border-bottom: $aa-builder-border-size solid $aa-builder-border-color;
  height: 1px;
  width: 100%;
  display: flex;
  flex: 0 1 auto;
}

.aa-horizontal-line-right {
  border-bottom: $aa-builder-border-size solid $aa-builder-border-color;
  height: 1px;
  min-width: 50%;
  display: flex;
  flex: 0 1 auto;
  align-self: flex-end;
}

.aa-horizontal-line-left {
  border-bottom: $aa-builder-border-size solid $aa-builder-border-color;
  height: 1px;
  min-width: 50%;
  display: flex;
  flex: 0 1 auto;
  align-self: flex-start;
}

.aa-new-step-info {
  max-width: 18.75rem;
  margin-top: 0.625rem;
  margin-bottom: 1.875rem;
}

.aa-endcall-icon {
  font-size: 2.25rem;
  color: $aa-builder-icon-color;
}

.loading-container {
  @include aa-builder-height(0);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-spinner {
  font-size: 3rem;
}
