<div class="aa-wrapper">
  <div class="aa-general-wrapper" ng-class="aaBuilder.generalStyle">
    <div class="aa-vertical-line"></div>
    <div ng-include="'modules/huron/features/autoAttendant/numbers/aaNumbers.tpl.html'"></div>
    <div class="aa-vertical-line"></div>
    <div ng-repeat="scheduleTitle in ['{{aaBuilder.getScheduleTitle()}}']"
         ng-include="'modules/huron/features/autoAttendant/schedule/aaSchedule.tpl.html'"></div>
    <div ng-if="aaBuilder.closedLane || aaBuilder.holidaysLane" class="aa-vertical-line"></div>
  </div>
  <div class="aa-lanes-wrapper" ng-class="aaBuilder.lanesWrapperStyle">
    <div class="aa-lane" ng-class="aaBuilder.laneStyle">
      <!--open lane-->
      <div ng-if="aaBuilder.closedLane || aaBuilder.holidaysLane" class="aa-horizontal-line-right"></div>
      <aa-schedule-info ng-if="aaBuilder.closedLane || aaBuilder.holidaysLane" schedule="openHours"></aa-schedule-info>
      <aa-builder-lane aa-schedule="openHours" class="aa-max-width"></aa-builder-lane>
    </div>
    <div ng-if="aaBuilder.closedLane" class="aa-lane" ng-class="aaBuilder.laneStyle">
      <!--close lane-->
      <div ng-if="!aaBuilder.holidaysLane" class="aa-horizontal-line-left"></div>
      <div ng-if="aaBuilder.holidaysLane" class="aa-horizontal-line"></div>
      <aa-schedule-info schedule="closedHours"></aa-schedule-info>
      <aa-builder-lane aa-schedule="closedHours" class="aa-max-width"></aa-builder-lane>
    </div>
    <div ng-if="aaBuilder.holidaysLane" class="aa-lane" ng-class="aaBuilder.laneStyle">
      <!--holiday lane   -->
      <div class="aa-horizontal-line-left"></div>
      <aa-schedule-info schedule="holidays"></aa-schedule-info>
      <aa-builder-lane aa-schedule="holidays" class="aa-max-width"></aa-builder-lane>
    </div>
  </div>
</div>
<div class="aa-vertical-spacer"></div>