<div class="aa-flex-row centered" id="aa-header-row">
  <div class="aa-flex-row-item" id="aa-header-row-content" ng-if="aaBuilderMain.isAANameDefined">
    <div class="aa-flex-row">
      <a class="aa-flex-row-item-bottom-align" id="aa-header-row-name">
        <aa-builder-name-edit aa-keypress class="aa-name-edit" aa-max-length="64" aa-name-focus="aaBuilderMain.aaNameFocus" ng-model="aaBuilderMain.ui.builder.ceInfo_name" ng-click="aaBuilderMain.setAANameFocus()"></aa-builder-name-edit>
        <span class="aa-edit-icon" aria-label="common.edit" ng-click="aaBuilderMain.setAANameFocus()"></span>
      </a>
      <div class="aa-flex-row-item">
        <h2 class="aa-nowrap">{{ aaBuilderMain.ui.ceInfo | preferredAAResource | telephoneNumber}}</h2>
        <h3 class ="aa-and-more">{{ aaBuilderMain.ui.ceInfo | moreAAResources }}</h3>
      </div>
    </div>
  </div>
  <div class="aa-flex-row-item-right" id="aa-header-row-save" ng-if="aaBuilderMain.isAANameDefined">
    <button type="button" name="saveButton" class="btn btn--primary" ng-disabled="!aaBuilderMain.canSaveAA()" ng-click="aaBuilderMain.saveAARecords()" translate="common.save"></button>
  </div>
</div>



