
.users-upload-csv {
  border:none;
  outline:none;
  height: 276px;
 }
 
.icon-export-import {
  top: 41px;
  color: $color-primary-base;
}
 
.icon-export-import-disabled {
  top: 41px;
  color: $gray-light-3;
}
 
.file-drop {
  border: none !important;
}

.export-import-container {
  border:none;
  outline:none;
  height: 276px;
}
