
.wx-csv-results-table {
  width: auto;
  margin-bottom: 0;
  width: 100%;
}

.wx-csv-results-tr {
  border-top: 0;
  valign: bottom;
}

.wx-csv-results-td-lt {
  padding-bottom: 0;
  padding-left: 0;
  text-align: right;
  width: 50%;
}

.wx-csv-results-td-rt {
  padding-bottom: 0;
  padding-left: 0;
  text-align: left;
  width: 50%;
}
