<div ng-if="siteCSVModalCtrl.viewReady" id="siteCSVImportModal">
    <div class="modal-header">
        <button id="closeCSVImportModal" type="button" class="close"
            ng-click="$dismiss()">
            <span class="sr-only" translate="siteCSVModalCtrl.common.close"></span>
        </button>
        
        <h4 class="modal-title" translate='siteList.siteCsvColumnHeader'>
        </h4>
    </div>

    <!-- 
    <div>
        <div class="modal-body csv-import-modal-body">
            <p translate='siteList.importStartModalInstruction_1'></p>
        </div>
        <div class="users-upload-csv">
            <div ng-if="!siteCSVModalCtrl.modal.file" class="file-drop" cr-file-drop
                file="siteCSVModalCtrl.modal.file" file-name="siteCSVModalCtrl.modal.fileName"
                file-type="text/csv, application/csv, application/vnd.ms-excel"
                file-suffix="csv" file-type-error="siteCSVModalCtrl.onFileTypeError()">
                <div class="file-drop-content">
                    <div class="icon icon-circle-upload center"></div>
                    <input id="upload" name="upload" type="file" cr-file-read
                        file="siteCSVModalCtrl.modal.file" file-name="siteCSVModalCtrl.modal.fileName"
                        file-type="text/csv, application/csv, application/vnd.ms-excel"
                        file-suffix="csv" file-type-error="siteCSVModalCtrl.onFileTypeError()" />
                        <span translate="firstTimeWizard.uploadPrompt"></span>
                        <label for='upload' translate="firstTimeWizard.fileBrowser"></label>
                </div>
            </div>
            <div ng-if="siteCSVModalCtrl.modal.file" class="file-drop-inactive">
                <div class="file-drop-content">
                    <div class="file-name">{{siteCSVModalCtrl.modal.fileName}}</div>
                </div>
                <button type="button" class="close" ng-click="siteCSVModalCtrl.resetFile();">
                    <span class="sr-only" translate="common.close"></span>
                </button>
            </div>
        </div>
    </div>
    
    <div class="modal-footer">
        <button type="button" class="btn btn--people"
            ng-click="siteCSVModalCtrl.startImport()"
            translate="siteList.importButton"></button>
        <button type="button" class="btn" ng-click="$dismiss()"
            translate="common.cancel"></button>
    </div>
    -->
</div>


