<cs-sp-section ng-if="$ctrl.destinationList.length === 0">
  <section-title title-key="hercules.addressesStatusComponent.addresses"></section-title>
  <p translate="hercules.addressesStatusComponent.noAddressesFound"></p>
</cs-sp-section>
<cs-sp-section ng-if="$ctrl.destinationList.length > 0">
  <section-title title-key="hercules.addressesStatusComponent.addresses"></section-title>
  <div class="feature-list">
    <p ng-repeat="destination in $ctrl.destinationList | orderBy: 'address'" class="feature">
      <span class="feature-name">{{destination.address}}</span>
      <span class="feature-status">
        <cs-statusindicator ng-model="destination.cssClass"></cs-statusindicator>
        <span translate="{{'servicesOverview.cardStatus.' + destination.state}}"></span>
      </span>
    </p>
  </div>
</cs-sp-section>
