<div class="search-panel">
	<span class="search-title" id="subtitleCommonSiteSettings" translate="webexSiteSettings.titleCommonSiteSettings"></span>
	<hr>
	<p>
	<div>
		<ul style="list-style-type:none">
			<li ng-repeat="commonSiteSetting in WebExSiteSettings.siteSettingsObj.commonSiteSettingPages"
			    ng-if="commonSiteSetting.enabled">
                <a href={{commonSiteSetting.link}} id={{commonSiteSetting.id}}><span translate={{commonSiteSetting.label}}></span></a>
            </li>
		</ul> 
	</div>
</div>