
  <cs-card class="cs-card medium"
           id={{WebExSiteSettings.siteSettingsObj.meetingCenterSettingsCardObj.id}}-card
           name={{WebExSiteSettings.siteSettingsObj.meetingCenterSettingsCardObj.id}}-card
           ng-if="0 < WebExSiteSettings.siteSettingsObj.meetingCenterSettingsCardObj.pageObjs.length">
           
    <article>
      <header>
        <h3>{{WebExSiteSettings.siteSettingsObj.meetingCenterSettingsCardObj.label}}</h3>
      </header>
      
      <section>        
        <ul class="no-bullet">
          <div ng-repeat="pageObj in WebExSiteSettings.siteSettingsObj.meetingCenterSettingsCardObj.pageObjs">
            <a id={{pageObj.id}}
               name={{pageObj.id}}
               ui-sref={{pageObj.uiSref}}>

              {{pageObj.label}}
            </a>
          </div>
        </ul>
      </section>
    </article>
  </cs-card>
