
  <cs-card class="cs-card medium"
           id={{WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.id}}-card
           name={{WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.id}}-card
           ng-if="0 < WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.pageObjs.length">
           
    <article>
      <header>
        <h3>{{WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.label}}</h3>
      </header>
      
      <section>        
        <ul class="no-bullet">
          <div ng-repeat="pageObj in WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.pageObjs">
            <a id={{pageObj.id}}
               name={{pageObj.id}}
               ui-sref={{pageObj.uiSref}}>

              {{pageObj.label}}
            </a>
          </div>
        
          <div ng-if="0 < WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.webACDSettingsObj.pageObjs.length">
            <h4>
              {{WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.webACDSettingsObj.label}}
            </h4>

            <div ng-repeat="pageObj in WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.webACDSettingsObj.pageObjs">
              <a id={{pageObj.id}}
                  name={{pageObj.id}}
                  ui-sref={{pageObj.uiSref}}>

                 {{pageObj.label}}
              </a>
            </div>
          </div>
        
          <div ng-if="0 < WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.remoteAccessSettingsObj.pageObjs.length">
            <h4>
              {{WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.remoteAccessSettingsObj.label}}
            </h4>
          
            <div ng-repeat="pageObj in WebExSiteSettings.siteSettingsObj.supportCenterSettingsCardObj.remoteAccessSettingsObj.pageObjs">
              <a id={{pageObj.id}}
                 name={{pageObj.id}}
                 ui-sref={{pageObj.uiSref}}>

                {{pageObj.label}}
              </a>
            </div>
          </div>
        </ul>
      </section>
    </article>
  </cs-card>
