<div class="ent-detail-panel">
  <div>
    <button class="btn btn-primary" style="float: right" data-loading-text="<i class='fa fa-refresh fa-spin'></i>" ng-click="saveDirectoryNumber()"><span translate="common.save"></span></button>
    <!--<button id="btnCancel" class="btn btn-default" style="margin-left:62%; margin-top:5px;" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="common.cancel"></span></button>-->
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;Line Setting</h3>
    <div class="details-body">
      <div>
        <h4>Direct Numbers</h4>        
        Reach this line by any of these numbers or extensions<br>

        Internal Number Extension *<br>
        <select ng-model="assignedInternalNumber.id" name="internalNumber" required="true" ng-options="unassignedNumber.id as unassignedNumber.pattern for unassignedNumber in unassingedDirectoryNumbers">
          <option value="">-- choose a number --</option>
        </select><br>
        <div ng-show="false">
          External Number<br>
          <select ng-model="directoryNumber" name="directoryNumber" required="true" ng-options="directoryNumber.pattern for directoryNumber in unassingedDirectoryNumbers">
            <option value="">-- choose a number --</option>
          </select>
        </div>
        <br><br>
        <div call-forward-info></div call-forward-info>
      </div>
    </div>
  </div>
</div>
