<div>
  <table class="table">
    <tbody>
      <tr>
        <td><span class="services-subtitle" translate="usersPreview.telephonyPreview"></span><i class="fa fa-angle-right pull-right"></i></td>               
      </tr>
      <tr>
        <td><span class="sub-service">{{mainPhoneData}} Main</span><i class="fa fa-angle-right pull-right"></i></td>
      </tr>
      <tr>
        <td><span class="sub-service">{{sharedPhoneData}} Shared</span><i class="fa fa-angle-right pull-right"></i></td>
      </tr>
    </tbody>  
  </table>    
</div> 