 <div>
   <table class="table">
     <tbody>
       <tr>
         <td><span class="services-subtitle" translate="usersPreview.telephonyPreview"></span></td>
       </tr>
       <tr ng-repeat="directoryNumber in userDnList" id="{{directoryNumber.id}}">
         <td><div ng-click="showDirectoryNumberPanel(directoryNumber)"><span class="sub-service">{{directoryNumber.pattern}}  {{directoryNumber.dnUsage}}</span><i class="fa fa-angle-right pull-right"></i></div></td>
       </tr>
       <tr>
         <td><span class="services-subtitle" translate="usersPreview.telephonyFeaturesPreview"></span></td>
       </tr>
       <tr>
        <td><div ng-click="showVoicemailPanel()"><span class="sub-service">{{'telephonyPreview.voicemail' | translate}} <span class="text-muted">{{telephonyUserInfo.voicemail}}</span></span><i class="fa fa-angle-right pull-right"></i></div></td>
      </tr>
       <tr>
        <td><div ng-click="showSingleNumberReachPanel()"><span class="sub-service">{{'telephonyPreview.singleNumberReach' | translate}} <span class="text-muted">{{telephonyUserInfo.singleNumberReach}}</span></span><i class="fa fa-angle-right pull-right"></i></div></td>
      </tr>
     </tbody>
   </table> 
 </div>