.cancel-btn {
  padding-top: 0px;

  font-size: 30px;
  cursor: pointer;
  color: #999;
  text-align: right;
}

.customer-title {
  color: #555555;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 10px 0 0px 0px;
}

.customer-info {
  padding-top: 0px;
  padding-left: 15px;
}

.trial-heading {
  padding-right: 10px;
}

.trial-bar {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.trialbar {
  width: 100%;
}

.trial-card {
  padding: 10px;
  border-bottom: solid 1px #999999;
}

.right {
  text-align: right;
}

.trial-danger {
  font-family: "CiscoSansTT Extra Light";
  font-size: 13px;
  color: @brand-danger;
}

