.cancel-btn {
  padding-top: 0px;

  font-size: 30px;
  cursor: pointer;
  color: @gray-dark;
  text-align: right;
}

.customer-title {
  color: @gray-darker;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 10px 0 0px 0px;

  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

.customer-info {
  padding-top: 0px;
  padding-left: 15px;
}

.trial-heading {
  padding-right: 10px;
}

.trial-bar {
  padding-top: 5px;
  padding-bottom: 18px;
  padding-right: 20px;
}

.trialbar {
  width: 100%;
}

.trial-card {
  padding: 10px 10px 20px 10px;
  border-bottom: solid 1px @gray-dark;
}

.trial-details {
  padding: 10px 10px 20px 20px;
  border-bottom: solid 1px @gray-dark;
}

.right {
  text-align: right;
}

.trial-danger {
  font-family: "CiscoSansTT Extra Light";
  font-size: 13px;
  color: @brand-danger;
}

.edit-lnk {
  font-weight: normal;
}

.trial-terms {
  font-weight: bold;
}

.duration-title {
  padding-top: 6px;
}

.license-title {
  padding-top: 12px;
}

.progress-margin {
  margin-bottom: 7px;
}


