<div class="grid-contents" ng-class="{'selected' : row.isSelected}" ng-click="grid.appScope.selectRow(grid, row)">
  <span cs-dropdown class="actions-menu" ng-if="grid.appScope.canShowActionsMenu(row.entity)">
    <button cs-dropdown-toggle id="actionsButton" class="btn--none dropdown-toggle icon icon-three-dots"
            ng-click="$event.stopPropagation();" ng-keydown="$event.stopPropagation();" ng-class="dropdown-toggle">
    </button>
    <ul cs-dropdown-menu class="dropdown-menu dropdown-primary" role="menu" ng-class="{
          'invite': (row.entity.userStatus === 'pending' || grid.appScope.isHuronUser(row.entity.entitlements)),
          'delete': (!org.dirsyncEnabled && (row.entity.displayName !== grid.appScope.userName || row.entity.displayName === grid.appScope.userName)),
          'first': grid.appScope.firstOfType(row)
        }">

      <li ng-if="grid.appScope.canShowResendInvite(row.entity)" id="resendInviteOption">
        <a href
          ng-click="grid.appScope.resendInvitation($event, row.entity.userName, row.entity.name.givenName, row.entity.id, row.entity.userStatus, org.dirsyncEnabled, row.entity.entitlements);"
          ng-keydown="grid.appScope.keypressResendInvitation($event, row.entity.userName, row.entity.name.givenName, row.entity.id, row.entity.userStatus, org.dirsyncEnabled, row.entity.entitlements);">
          <span translate="usersPage.resend"></span>
        </a>
      </li>

      <li ng-if="grid.appScope.canShowUserDelete(row.entity)" id="deleteUserOption">
        <a href data-toggle="modal"
          ng-click="grid.appScope.handleDeleteUser($event, row.entity, (row.entity.displayName === grid.appScope.userName));"
          ng-keydown="grid.appScope.keypressHandleDeleteUser($event, row.entity, (row.entity.displayName === grid.appScope.userName));">
          <span translate="usersPage.deleteUser"></span>
        </a>
      </li>
    </ul>
  </span>
</div>
