@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import 'styles/partials/mixins';

cr-convert-users-modal-xxx {
  @include keep-flex-container(column);
}

.convert-users {
  .unlicensed-user-list {
    border: solid $gray-light-2 1px;
    @include keep-flex-container(column);
  }

  .gridStyle {
    flex: 1 1 0px;
    min-height: 0;
    background-color: $brand-white;
  }

  .explanation {
    margin-bottom: 10px;
  }

  .search {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px;

    input {
      width: 100%;
      height: 32px;
      text-indent: 20px;
    }

    .icon-search {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }

  .noUnlicensedUsers {
    @include vr-spacing(mt, 5);

    text-align: center;
  }
}
