.convert-users {

	.ngGrid {
		background-color: #eee;
	}
	.gridStyle {
    	width: 797px;
    	height: 271px;
    	margin-left: 12px;
    	border: 1px solid rgb(212,212,212);
	}

	.row {
		margin-left: -13px !important;
	}

	.colt0 {
		left: 0px !important;
		width: 51px !important;
		border-bottom: 1px solid rgb(212,212,212) !important;
	}

	.colt1 {
		left: 50px !important;
		border-bottom: 1px solid rgb(212,212,212) !important;
	}

	.colt2 {
		left: 390px !important;
		width: 405px !important;
		border-bottom: 1px solid rgb(212,212,212) !important;
	}

	.ngSelectionHeader {
		top: 17px;
    	left: 18px;
	}

	.ngSelectionCell {
		margin-top: 17px;
    	margin-left: 18px;
	}

	.hoverStyle {
		text-overflow : ellipsis !important;
        white-space   : nowrap !important;
        overflow      : hidden !important;
	}
}