.convert-users {
  #convertCancelButton {
    margin-right: 10px;
  }
  .gridStyle {
    width: 898px;
    height: 491px;
    background-color: $brand-white;
    border: solid $gray-light-2 1px;
  }

  .explanation {
    margin-bottom: 10px;
  }

  .search {
    width: 898px;
    position: relative;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 0px;

    input {
      width: 100%;
      height: 32px;
      text-indent: 20px;
    }

    .icon-search {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
   .spinner-example--large {
    font-size: 2rem;
    padding-left: 425px;
  }

  .noUnlicensedUsers {
    @include vr-spacing(mt, 5);
    text-align: center;
  }
}
