@import '~@collabui/collab-ui/scss/settings/colors';

auto-assign-template-summary {
  .summary__group {
    border: 1px solid $gray-light-2;
    border-bottom: 0;
    margin-top: -1px;
    display: flex;

    &:last-child {
      border-bottom: 1px solid $gray-light-2;
    }

    .summary__group-header {
      padding: 1.5rem;
      white-space: nowrap;
      flex: 1;

      h5 {
        color: $gray-dark-2;
      }
    }

    .summary__group-body,
    .summary__group-body--2-col,
    .summary__group-body--2-col-wrap {
      border-left: 1px solid $gray-light-2;
      display: flex;
      flex: 6 1 0;
      padding: 0;
    }

    .summary__group-item {
      padding: 1.5rem;
      flex: 0 1 auto;
    }

    .summary__subgroup--1-col {
      border-left: 1px solid $gray-light-2;

      &:first-child,
      &:only-child {
        border-left: 0;
      }

      .summary__group-item {
        padding-top: 1rem;
        padding-bottom: 0;
      }

      .summary__group-item:first-child {
        padding-top: 1.5rem;
      }

      .summary__group-item:only-child,
      .summary__group-item:last-child {
        padding-bottom: 1.5rem;
      }
    }

    .summary__group-body--2-col-wrap {
      flex-flow: row wrap;

      // first 2 elements - rm bottom padding
      .summary__group-item:nth-child(-n+2) {
        padding-bottom: 0;
      }

      // 3rd element on up - add top padding
      .summary__group-item:nth-child(n+3) {
        padding-top: 0.5rem;
      }
    }
  }
}
