@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.user-manage-picker__center-spinner {
  margin: auto;
}

.user-manage__text--margin {
  @include vr-spacing(mt, 0.75);
}

.user-manage__heading--link:not(:hover):not(:focus) {
  color: $anchor-font-color;
}

.user-manage {
  display: flex;
  flex: 1 1 auto;

  .modify-users-section {
    &--disabled {
      color: $gray-light-1;
    }
  }

  .sync-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    .sync-top {
      max-height: 20rem;
    }
  }

  .csv-export-link {
    @include vr-spacing(pv, 0.5);

    &--not-auto-assign {
      @include vr-spacing(pl, 2);
    }

    .cancel {
      display: inline-flex;

      .icon-spinner {
        @include vr-spacing(ml, 0.25);
        @include vr-spacing(mr, 0.5);
      }
    }
  }

  .row {
    flex: 1 1 auto;
  }

  .row.no-flex {
    flex: 0 0 auto;
  }

  form {
    .columns {
      @include vr-spacing(mb, 1);
    }
  }

  .sync-status {
    .ds-inline {
      display: inline;
    }

    .icon-refresh {
      @include vr-spacing(m, 0.5);

      font-weight: bolder;
      position: relative;
      top: 0.1rem;
    }

    .ds-sync {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;

      h5 {
        @include vr-spacing(ml, 0.5);
      }

      div.details {
        @include vr-spacing(ml, 0.5);

        h5 {
          @include vr-spacing(ml, 0);
        }

        p {
          @include vr-spacing(mv, 1);
        }
      }

      .icon-circle-manage {
        @include vr-spacing(mr, 0.5);
      }

      .disabled {
        @include vr-spacing(mt, 0.25);
        color: $gray-base;
      }

      .working {
        color: $brand-success;
        top: 0.25rem;
        font-size: small;
      }

      .failing {
        color: $brand-danger;
      }
    }
  }

  &__manage-type-list-item {
    @include vr-spacing(pb, 1);

    list-style-type: none;

    .cs-input-radio.cs-input-group {
      @include vr-spacing(mb, 0);
    }
  }

  .dirsync-info {
    width: 100%;

    .ftwdirgridStyle {
      height: 100%;
    }
  }

  &.user-csv.modal-body.user-manage-advanced-results > .flex-container {
    flex-shrink: 0;
  }
}
