<div class="modal-header">
  <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-label="{{::'common.close' | translate}}"></button>
  <div class="modal-title" translate="hcs.taas.createSuiteModal.title"></div>
</div>
<div class="modal-body suite-create-modal">
  <div ng-form="$ctrl.suiteCreateForm">
    <div class="row">
      <div class="columns medium-8">
        <div class="addSuiteInput" class="cs-input-group medium-6 columns" ng-class="{'error': $ctrl.suiteCreateForm.customerName.$invalid && $ctrl.suiteCreateForm.customerName.$touched}">
          <label translate="hcs.taas.createSuiteModal.suiteName"> </label>
          <input
            type="text"
            name="suiteName"
            id="suiteName"
            placeholder="{{'hcs.taas.createSuiteModal.suiteName' | translate}}"
            cs-input-nested="1"
            cs-input-group-size="medium-8"
            ng-model="$ctrl.suiteName"
            focus-on
            required>
          <div class="cs-input__messages" ng-messages="$ctrl.suiteCreateForm.customerName.$error" role="alert">
            <div class="message" ng-message="required">{{::'common.invalidRequired' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer" >
<button class="btn btn-default"  ng-click="$ctrl.dismiss()"
  translate="common.cancel">
</button>
<button class="btn btn-primary" ng-click="$ctrl.validateAndContinue()" translate="common.continue" ng-disabled="$ctrl.suiteCreateForm.$invalid">
</button>
</div>


