.hercules-notifications {
  z-index: 999;
  margin-top: 0.5rem;

  .notification-bell {
    position: relative;
    cursor: pointer;
    color: $gray-light;
    margin-right: 2rem;
    display: block;
  }

  .notification-dismiss {
    cursor: pointer;
  }

  .notification-todo {
    background-color: $brand-warning;
  }

  .notification-alert {
    background-color: $brand-danger;
  }

  .notification-new {
    background-color: $color-cta;
  }

  .icon-bell {
    font-size: 20px;
  }

  .container {
    position: absolute;
    background-color: $brand-white;
    width: 450px;
    top: 5px;
    left: 0;
    margin-top: 30px;
    z-index: 999;
  }

  .notification-close {
    padding: 4px;
    cursor: pointer;
    display: block;
    //position: absolute;
    top: 5px;
  }

  ul {
    background-color: $brand-white;
    top: 30px;
    border: 1px solid #c6c7ca;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .notif {
    overflow: hidden;
    list-style-type: none;
    text-align: left;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    a,
    a:hover,
    a:active {
      position: static;
    }

    .badge-wrapper,
    .notif-wrapper {
      float: left;
    }

    .badge-wrapper {
      display: block;
      width: 55px;
      text-align: center;
      color: #fff;
    }

    .notif-wrapper {
      width: 320px;
      margin-left: 20px;

      p {
        margin-bottom: 0;
      }
    }

    span {
      a,
      a:hover,
      a:visited,
      a:active {
        margin-left: 0;
        margin-right: 0;
        left: 0;
      }
    }

    .notif::after {
      content: '';
      position: absolute;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      top: -17px;
      left: 60px; //vr-adjust(58);
      border-bottom: 17px solid #fff;
      margin-top: 1px;
      z-index: 9999;
      margin-bottom: -1px;
    }

    .notif::before {
      content: '';
      position: absolute;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      top: -17px;
      left: 60px; //vr-adjust(58);
      margin-top: 0px;
      z-index: 9999;
      border-bottom: 17px solid $gray-lighter;
    }
  }

  .amountBubble {
    position: absolute;
    top: -5px;
    right: -5px;

    span {
      display: block;
      width: 14px;
      height: 14px;
      text-align: center;
      font-size: 8px;
      font-weight: bold;
      border-radius: 50%;
      color: white;
      border: 1px solid #fff;
      line-height: 14px;
    }
  }
}

@media screen and (max-width: 903px) {
  .hercules-notifications {
    left: 20px;
    top: 90px;
  }
}
