.hercules-notifications{
  z-index: 999;
  position:relative;
  padding-right:0.5rem;

  a,a:hover,a:active{
    color: #ddd;
    //position: relative;
    //top: 0px;
    //left: 0px;
  }
  .fa-bell {
    font-size: 20px;
  }

  ul{
    background-color: $brand-white;
    width: 450px;
    top: 5px;
    left: -5rem;
    margin-top: 30px;
    border: 1px solid #C6C7CA;
    padding-top: 0px;
    padding-bottom: 10px;
    display: block;
    z-index: 999;
    position: absolute;

    .notif{
      list-style-type: none;
      text-align: left;

      margin-left: 20px;

      display: block;

      padding-top: 10px;
      padding-bottom: 20px;

      a,a:hover,a:active{
        position: static;
      }

      .label{
        width: auto;
        max-width: 50px;
      }
      .notification-todo{
        background-color: $brand-warning;
      }
      .notification-alert{
        background-color: $brand-danger;
      }
      .badge-custom-warn.Info{
        background-color: #3ca8e8;
      }
      .heading{
        font-weight: bold;
      }
    }
  }
}


.notif{
  overflow: hidden;
  .badge-wrapper,.notif-wrapper{
    float: left;
    display: block;
  }

  .badge-wrapper{
    display: block;
    width: 50px;
  }

  .notif-wrapper{
    width:300px;
    margin-left: 20px;
  }

  span{
    display: block;
    a, a:hover, a:visited, a:active{
      margin-left: 0;
      margin-right: 0;
      left: 0;
      color: #049FD9;
    }
  }
}

#managementActions{
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
}

.amountBubble{
  span{
    display: block;
    width: 11px;
    height: 11px;
    text-align: center;

    padding-top: 1px;
    background-color: red;

    font-size: 8px;
    font-weight: bold;
    border-radius: 50%;

    color: white;

    position: relative;
    top: -25px;
    left: 12px;
  }
}


.notif:after {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  top: -17px;
  left: 60px; //vr-adjust(58);
  border-bottom: 17px solid #FFF;
  margin-top: 1px;
  z-index: 9999;
  margin-bottom: -1px;
}

.notif:before {
  content: "";
  position: absolute;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  top: -17px;
  left: 60px; //vr-adjust(58);
  margin-top: 0px;
  z-index: 9999;
  border-bottom: 17px solid $gray-lighter;
}


@media screen and (max-width:903px){
  .hercules-notifications{
    left: 20px;
    top: 90px;
  }
}
