@import '~collab-ui/scss/settings/fonts';
@import '~collab-ui/scss/settings/typography';
@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';

.call-feature-edit {
  .typeahead .dropdown-menu {
    .active > a {
      background: $gray-light-2;
    }
    span {
      font-size: $h4-font-size;
      font-family: $brand-font-light;
      color: $gray-dark-2;
    }
  }
}

.call-feature-members {
  .icon.icon-tables.selected {
    color: $color-blue-base;
  }
  .search-add {
    display: inline-flex;
    align-items: inherit;
    margin: auto;
    width: 54.5rem;
    .cs-input {
      width: 19rem;
      margin-left: 2px;
    }
    .search-member {
      @include vr-spacing(ml, 2);
      width: 18.3rem;
      position: relative;
      .icon-search {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      input {
        width: 100%;
        text-indent: 20px;
      }
    }
  }
  .members-header {
    .cancel-reorder {
      color: $gray;
    }
    .apply-reorder {
      padding-left: 1rem;
    }
    .overlay-panel & {
      margin: auto;
      width: 52rem;
    }
  }
  .members-footer {
    margin: auto;
    width: 54.5rem;
    .member-count {
      color: $gray;
      padding-right: 2rem;
    }
  }
  .members-reorder {
    cursor: move;
    cursor: grab;
  }
  .members-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .overlay-panel & {
      @include vr-spacing(ml, 26, 0px, true);
      @include vr-spacing(pb, 1);

      position: fixed !important;
      height: 16rem !important;
      width: 54rem;
      left: 50%;
      margin-right: auto;
      overflow: auto;
      display: inline-flex;
      flex-flow: row wrap;
      flex: 1;
      align-content: flex-start;
      justify-content: center;
    }

    &.members-reorderable {
      flex-direction: column;
    }
  }
}

.typeahead-large,
.typeahead {
  .dropdown-menu {
    li a + a {
      padding-top: 0;
      margin-top: -.5rem;
    }
  }
}
