<div class="aa-panel">
  <div class="aa-panel-body">
    <div class="aa-flex-row centered schedule">
      <span class="aa-schedule-icon" aria-label="autoAttendant.Schedule"></span>
    </div>
    <div class="aa-flex-row centered schedule">
      <h3 class="text-info" translate="{{ aaBuilder.getScheduleTitle() }}"></h3>
      <!--span class="aa-edit-icon" aria-label="common.edit"></span-->
      <!-- todo: click to open schedule modal-->
    </div>
    <!-- to be removed once schedule modal implemented -->
    <!--div name="demoSchedule" class="aa-flex-row">
      <button type="button" class="btn btn-info" ng-click="aaBuilder.closedHours = !aaBuilder.closedHours" translate="autoAttendant.scheduleClosed">Closed</button>
      <button type="button" class="btn btn-info" ng-click="aaBuilder.holidays = !aaBuilder.holidays" translate="autoAttendant.scheduleHolidays"></button>
    </div-->
  </div>
</div>
