@import '../userSettings/usersettings';
@import '../siteSettings/sitesettings';
@import '../siteCSVModal/site-csv-modals';

.webex-reports {
  @extend %content-header;
}

#webexSiteReports {
  .cs-card-container {
    @include vr-spacing(ph, 0);
      .cs-card-layout {
        @include vr-spacing(mb, 0);
      }
    }
}

.webexlogo {
   @include vr-spacing(pr, .25);
}
