@import '../userSettings/usersettings';
@import '../siteSettings/sitesettings';

.popout-link {
  color: $link-color;
  cursor: pointer;
  border-radius: 0;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
    background-color: transparent;
  }
}

.webex-reports {
  @extend %content-header;
}