<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
  </button>
  <h3 class="modal-title" translate="{{choosePersonal.wizardData.title}}"></h3>
</div>
<div class="modal-body device-wizard choose-personal">
  <div ng-show="choosePersonal.wizardData.allowUserCreation">
    <h5 translate="addDeviceWizard.choosePersonal.existingOrNewUser"></h5>
    <p class="wizardDescription" translate="addDeviceWizard.choosePersonal.existingOrNewUserInstructions"></p>
    <div class="typeChoice">
      <div class="typeButtonWrapper typeButtonWrapperLeft">
        <div class="typeButton typeButtonLeft"
             ng-class="{'typeButtonClicked':choosePersonal.radioSelect === 'existing'}"
             ng-click="choosePersonal.existing()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/user-illustration.png" />
          </div>
          <h4 class="buttonBottom" translate="addDeviceWizard.choosePersonal.existingUser"></h4>
        </div>
      </div>
      <div class="typeButtonWrapper">
        <div class="typeButton"
             ng-class="{'typeButtonClicked':choosePersonal.radioSelect === 'create'}"
             ng-click="choosePersonal.create()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/new-illustration.png" />
          </div>
          <h4 class="buttonBottom" translate="addDeviceWizard.choosePersonal.newUser"></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="chooseExistingUser" ng-hide="choosePersonal.isExistingCollapsed">
    <form class="chooseExistingUserForm" onsubmit="$('#next-button').click()">
      <h5 translate="addDeviceWizard.choosePersonal.existingUser"></h5>
      <p translate="addDeviceWizard.choosePersonal.existingUserInstructions"></p>
      <div class="existingUserSpacing" ng-hide="choosePersonal.wizardData.allowUserCreation"></div>
      <div>
        <input type="text"
               class="existingUserInput"
               ng-model="choosePersonal.selected"
               typeahead="user for user in choosePersonal.search($viewValue) | limitTo:6"
               typeahead-loading="choosePersonal.isSearching"
               typeahead-template-url="userTemplate.html"
               typeahead-on-select="choosePersonal.selectUser($item)"
               placeholder="{{'addDeviceWizard.choosePersonal.searchForUser' | translate}}"
               typeahead-wait-ms="500"/>
        <script type="text/ng-template" id="userTemplate.html">
          <a>
            <span ng-bind-html="match.label.extractedName | typeaheadHighlight:query" ></span>
          </a>
        </script>
        <span ng-show="choosePersonal.isSearching" cs-loader class="loader-example--small"></span>
        <span ng-show="choosePersonal.noResults" translate="addDeviceWizard.choosePersonal.noUserFound"></span>
        <div class="errorBox" ng-if="choosePersonal.userError">
          <i class="icon icon-warning"></i>
          <span translate="addDeviceWizard.choosePersonal.userMissesUcEntitlement"></span>
        </div>
      </div>
      <div class="scrollSpace"></div>
    </form>
  </div>
  <div class="createNewUser" ng-hide="choosePersonal.isNewCollapsed">
    <form class="createNewUserForm" onsubmit="$('#next-button').click()">
      <h5 translate="addDeviceWizard.choosePersonal.newUser"></h5>
      <p translate="addDeviceWizard.choosePersonal.newUserInstructions"></p>
      <div class="createNewUserInputs">
        <div class="cs-input-group firstName notRight">
          <label class="cs-input__label" for="firstName" translate="common.firstName"></label>
          <input type="text"
                 class="cs-input notRight"
                 ng-model="choosePersonal.newUser.firstName"
                 id="firstName"
                 placeholder="{{'addDeviceWizard.choosePersonal.firstNameExample' | translate}}"
                 ng-keypress="onEnterKey($event)">
        </div><div class="cs-input-group lastName notRight">
          <label class="cs-input__label notRight" for="lastName" translate="common.lastName"></label>
          <input type="text"
                 class="cs-input notRight"
                 ng-model="choosePersonal.newUser.lastName"
                 id="lastName"
                 placeholder="{{'addDeviceWizard.choosePersonal.lastNameExample' | translate}}"
                 ng-keypress="onEnterKey($event)">
        </div><div class="cs-input-group emailAddress" ng-class="{'error': choosePersonal.isValidEmailAddress === false}">
          <label class="cs-input__label" for="emailAddress" translate="common.email"></label>
          <input required type="text"
                 class="cs-input"
                 ng-model="choosePersonal.newUser.emailAddress"
                 id="emailAddress"
                 placeholder="{{'addDeviceWizard.choosePersonal.emailExample' | translate}}"
                 ng-change="choosePersonal.validateEmailField()"
                 ng-model-options='{ debounce: 500 }'
                 ng-keypress="onEnterKey($event)">
          <div class="cs-input__messages" role="alert" ng-if='choosePersonal.isValidEmailAddress === false'>
            <div class="message" translate="addDeviceWizard.choosePersonal.invalidEmailAddress"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button
    id="back-button"
    class="btn"
    sq-click-promise="choosePersonal.back()"
    translate="common.back">
  </button>
  <button
    id="create-place-button"
    class="btn btn--primary"
    sq-click-promise="choosePersonal.next()"
    ng-disabled="!choosePersonal.isNameValid()"
    translate="common.next">
  </button>
</div>
