<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
  </button>
  <h3 class="modal-title" translate="{{choosePlace.wizardData.title}}"></h3>
</div>
<div class="modal-body device-wizard choose-shared">
  <div ng-hide="choosePlace.onlyNew()">
    <h5 translate="addDeviceWizard.chooseSharedSpace.existingOrNewPlace"></h5>
    <p class="wizardDescription" translate="addDeviceWizard.chooseSharedSpace.existingOrNewPlaceInstructions"></p>
    <div class="typeChoice">
      <div class="typeButtonWrapper typeButtonWrapperLeft">
          <div class="typeButton typeButtonLeft"
             ng-class="{'typeButtonClicked':choosePlace.radioSelect === 'existing'}"
             ng-click="choosePlace.existing()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/places-illustration.png" />
          </div>
          <h4 translate="addDeviceWizard.chooseSharedSpace.existingPlace"></h4>
          <span>&nbsp;</span>
        </div>
        <div class="errorBox" ng-hide="choosePlace.hasRooms || choosePlace.isExistingCollapsed">
          <i class="icon icon-warning"></i>
          <span translate="addDeviceWizard.chooseSharedSpace.noExistingPlaces"></span>
        </div>
      </div>
      <div class="typeButtonWrapper">
        <div class="typeButton"
             ng-class="{'typeButtonClicked':choosePlace.radioSelect === 'create'}"
             ng-click="choosePlace.create()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/new-illustration.png" />
          </div>
          <h4 translate="addDeviceWizard.chooseSharedSpace.newPlace"></h4>
          <span>&nbsp;</span>
        </div>
      </div>
    </div>
  </div>

  <div class="chooseExistingPlace" ng-hide="choosePlace.isExistingCollapsed || !choosePlace.hasRooms">
    <form class="chooseExistingPlaceForm" onsubmit="$('#next-button').click()">
      <h5 translate="addDeviceWizard.chooseSharedSpace.existingPlace"></h5>
      <p translate="addDeviceWizard.chooseSharedSpace.existingPlaceInstructions"></p>
      <div>
        <input type="text"
               ng-model="choosePlace.selected"
               typeahead="room for room in choosePlace.rooms() | filter:$viewValue | limitTo:6"
               typeahead-template-url="placeTemplate.html"
               typeahead-on-select="choosePlace.selectPlace($item)"
               placeholder="{{'addDeviceWizard.chooseSharedSpace.selectPlace' | translate}}"
               typeahead-wait-ms="500"/>
        <script type="text/ng-template" id="placeTemplate.html">
          <a>
            <span ng-bind-html="match.label.displayName | typeaheadHighlight:query" ></span>
          </a>
        </script>
      </div>
      <div class="scrollSpace"></div>
    </form>
  </div>

  <div class="createNewPlace" ng-hide="choosePlace.isNewCollapsed">
    <form name="placeForm" class="createNewPlaceForm" onsubmit="$('#next-button').click()">
      <h5 ng-show="choosePlace.wizardData.showPlaces" translate="addDeviceWizard.chooseSharedSpace.newPlace"></h5>
      <h5 ng-hide="choosePlace.wizardData.showPlaces" translate="addDeviceWizard.chooseSharedSpace.deviceInstalled"></h5>
      <p>{{ choosePlace.localizedCreateInstructions() }}</p>
      <div class="newPlaceSpacing" ng-show="choosePlace.onlyNew()"></div>
      <div class="cs-input-group" ng-class="{'error': placeForm.newPlace.$invalid && placeForm.newPlace.$touched}">
        <input
            required
            type="text"
            id="newPlace"
            name="newPlace"
            focus-on="true"
            ng-model="choosePlace.deviceName"
            placeholder="{{'addDeviceWizard.chooseSharedSpace.insertRoomName' | translate}}"
            class="form-control"
            autocomplete="off"
            ng-minlength="3"
            ng-maxlength="64"
            required>
        </input>
        <div class="cs-input__messages" ng-messages="placeForm.newPlace.$error" role="alert" ng-if='placeForm.newPlace.$touched'>
          <div class="message" ng-message="required">{{choosePlace.message.required}}</div>
          <div class="message" ng-message="minlength">{{choosePlace.message.min}}</div>
          <div class="message" ng-message="maxlength">{{choosePlace.message.max}}</div>
        </div>

      </div>
    </form>
  </div>
</div>
<div class="modal-footer">

  <button
      id="back-button"
      class="btn"
      ng-hide="choosePlace.hideBackButton"
      sq-click-promise="choosePlace.back()"
      translate="common.back">
  </button>

  <button
      cs-btn
      loading="choosePlace.isLoading"
      id="next-button"
      class="btn btn--primary"
      ng-click="choosePlace.next()"
      ng-disabled="!choosePlace.isNameValid()">
        <span translate="common.next"></span>
    </button>
  </button>
</div>
