<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
  </button>
  <h3 class="modal-title" translate="{{ chooseDeviceType.wizardData.title }}"></h3>
</div>
<div class="modal-body choose-device-type device-wizard">
  <div>
    <h5 ng-if="!chooseDeviceType.isNewPlaceFlow()" translate="addDeviceWizard.chooseDeviceType.deviceType"></h5>
    <h5 ng-if="chooseDeviceType.isNewPlaceFlow()"
        translate="addDeviceWizard.chooseDeviceType.deviceTypeNewPlace"></h5>
    <p ng-if="!chooseDeviceType.isNewPlaceFlow()" class="wizardDescription"
       translate="addDeviceWizard.chooseDeviceType.deviceTypeInstructions"></p>
    <p ng-if="chooseDeviceType.isNewPlaceFlow()" class="wizardDescription"
       translate="addDeviceWizard.chooseDeviceType.deviceTypeInstructionsNewPlace"></p>
    <div class="typeChoice">
      <div class="typeButtonWrapper typeButtonWrapperLeft">
        <div class="typeButton"
             ng-class="{'typeButtonClicked':chooseDeviceType.selectedDeviceType === 'huron'}"
             ng-click="chooseDeviceType.huron()"
             ng-dblclick="chooseDeviceType.next()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/desk-phone-system.png"/>
          </div>
          <h4 ng-if="!chooseDeviceType.wizardData.showPlaces"
              translate="addDeviceWizard.chooseDeviceType.newDeskPhone"></h4>
          <h4 ng-if="chooseDeviceType.wizardData.showPlaces"
              translate="addDeviceWizard.chooseDeviceType.deskPhone"></h4>
          <span translate="addDeviceWizard.chooseDeviceType.deskPhoneExamples"></span>
        </div>
        <div class="errorBox" ng-if="chooseDeviceType.huronError">
          <i class="icon icon-warning"></i>
          <span translate="addDeviceWizard.chooseDeviceType.deskPhoneLicenseWarning"></span>
        </div>
      </div>
      <div class="typeButtonWrapper">
        <div class="typeButton"
             ng-class="{'typeButtonClicked':chooseDeviceType.selectedDeviceType === 'cloudberry'}"
             ng-click="chooseDeviceType.cloudberry()"
             ng-dblclick="chooseDeviceType.next()">
          <div class="typeImageBox">
            <img class="typeImage" type="image" src="images/devices/room-system.png"/>
          </div>
          <h4 ng-if="!chooseDeviceType.wizardData.showPlaces"
              translate="addDeviceWizard.chooseDeviceType.newRoomSystem"></h4>
          <h4 ng-if="chooseDeviceType.wizardData.showPlaces" translate="addDeviceWizard.chooseDeviceType.roomSystem"></h4>
          <span translate="addDeviceWizard.chooseDeviceType.roomSystemExamples"></span>
        </div>
        <div class="errorBox" ng-if="chooseDeviceType.cloudberryError">
          <i class="icon icon-warning"></i>
          <span translate="addDeviceWizard.chooseDeviceType.roomSystemLicenseWarning"></span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn"
    ng-hide="chooseDeviceType.hideBackButton"
    sq-click-promise="chooseDeviceType.back()"
    translate="common.back">
  </button>
  <button
    type="button"
    class="btn"
    ng-hide="chooseDeviceType.hideCancelButton"
    ng-click="$dismiss()"
    translate="common.cancel">
  </button>
  <button
    class="btn btn--primary"
    ng-disabled="!chooseDeviceType.selectedDeviceType"
    sq-click-promise="chooseDeviceType.next()"
    translate="common.next">
  </button>
</div>
