/*****  _directorynumberlist  *****/

.side-panel .line-show-more-text {
  transition: none;
}

.line-show-more-text span {
  color: $anchor-font-color;
}

.side-panel .line-show-less-text {
  transition: none;
}

.line-show-less-text span {
  color: $anchor-font-color;
}
