<div class="feature-list">
  <ul>
    <li class="feature" ng-repeat="directoryNumber in $ctrl.directoryNumbers | limitTo:$ctrl.numberOfLines track by directoryNumber.uuid">
      <a href id="{{::directoryNumber.uuid}}"
        ng-if="::$ctrl.directoryNumberSref"
        ui-sref="{{::$ctrl.directoryNumberSref}}"
        ng-click="$ctrl.onDirectoryNumberClick()">
        <span class="feature-name">
          <div>
            <span ng-if="$ctrl.isHI1484" ng-bind="directoryNumber.siteToSite"></span>
            <span ng-if="!$ctrl.isHI1484" ng-bind="directoryNumber.internal"></span>
            <span class="feature-name" ng-if="directoryNumber.external">
              <span translate="common.or"></span> <span ng-bind="directoryNumber.external"></span>
            </span>
            <span ng-if="!directoryNumber.siteToSite" ng-bind="directoryNumber.pattern"></span>
            <span class="feature-name" ng-if="directoryNumber.altDnPattern">
              <span translate="common.or"></span> <span ng-bind="directoryNumber.altDnPattern"></span>
            </span>
            <p class="line-label" ng-bind="directoryNumber.label.value"></p>
          </div>
        </span>
        <span class="feature-status" ng-if="directoryNumber.primary || directoryNumber.shared" ng-bind="$ctrl.setLineUseLabel(directoryNumber.primary, directoryNumber.shared)"></span>
        <span class="feature-status" ng-if="directoryNumber.dnSharedUsage" ng-bind="directoryNumber.dnSharedUsage"></span>
        <i class="feature-arrow"></i>
      </a>
    </li>
  </ul>
  <a href class="line-show-more-less-text" ng-click="$ctrl.showMoreClicked()" ng-show="$ctrl.showMoreButton()">
    <span translate="common.showMore"></span>
  </a>
  <a href class="line-show-more-less-text" ng-click="$ctrl.showLessClicked()" ng-show="$ctrl.showLessButton()">
    <span translate="common.showLess"></span>
  </a>
</div>
