<cs-sp-container>
  <cs-sp-section>
    <section-title
      title-key="common.ciscoWebexSipAddress">
    </section-title>
    <div class="feature-list">
      <ul ng-repeat="address in $ctrl.sipAddresses track by address.address" class="sip-address-list">
        <li>{{:: address.address | giveBreakOpportunities}}<span class="badge" translate="common.primary" ng-if="address.isPrimary && $ctrl.sipAddresses.length > 1"></span></li>
      </ul>
    </div>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.hasCallFeatures">
    <section-title
      title-key="directoryNumberPanel.directNumbers"
      action-list="$ctrl.actionList"
      as-button="true">
    </section-title>
    <directory-number-list
      directory-numbers="$ctrl.directoryNumbers"
      directory-number-sref="user-overview.communication.line-overview({numberId: directoryNumber.uuid})"
      line-threshold="5"
      voicemail-enabled="$ctrl.voicemailEnabled">
    </directory-number-list>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.hasCallFeatures">
    <section-title
      title-key="telephonyPreview.features">
    </section-title>
    <feature-list
      features="$ctrl.features"
      on-feature-click="$ctrl.clickFeature(feature)">
    </feature-list>
  </cs-sp-section>
</cs-sp-container>
