<div ng-form="privateTrunkDomainForm" class="private-trunk">
  <div ng-class="{'top-margin': !$ctrl.isFirstTimeSetup}"></div>
  <h5 ng-if="!$ctrl.isFirstTimeSetup" >{{$ctrl.domainDesc.title}}</h5>
  <h4 ng-if="$ctrl.isFirstTimeSetup">{{$ctrl.domainDesc.title}}</h4>
  <div class="body-medium margin-input" ng-class="{'font-settings': !$ctrl.isFirstTimeSetup}">{{$ctrl.domainDesc.desc}}</div>
  <div class="cs-radio-group" ng-if="$ctrl.isFirstTimeSetup">
      <input
        cs-input
        type="radio"
        ng-model="$ctrl.domainOptionRadio"
        id="domainRadio1"
        name="domainRadio"
        ng-value="'domain'"
        ng-change="$ctrl.changeRadio()"
        cs-input-label="{{'servicesOverview.cards.privateTrunk.radioSelect1' | translate}}">
        <div ng-if="$ctrl.domainOptionRadio==='domain'" class="small-6 medium-6 large-6 cs-input-group cs-input--nested-1">
          <cs-select
            ng-model="$ctrl.domainSelected"
            options="$ctrl.domainOptions"
            placeholder="$ctrl.selectPlaceHolder"
            multi="true"
            singular="Domain"
            plural="Domains"
            on-change-fn="$ctrl.changeSelected()"
            is-disabled= "$ctrl.domainOptionRadio==='none'">
          </cs-select>
        </div>
      <input
        cs-input
        type="radio"
        ng-model="$ctrl.domainOptionRadio"
        id="domainRadio2"
        name="domainRadio"
        ng-value="'none'"
        cs-input-label="{{'servicesOverview.cards.privateTrunk.radioSelect2' | translate}}"
        ng-change="$ctrl.changeRadio()">
     </div>
     <div class="small-6 medium-6 large-6 cs-input-group" ng-if="!$ctrl.isFirstTimeSetup">
        <cs-select
          ng-model="$ctrl.domainSelected"
          options="$ctrl.domainOptions"
          placeholder="$ctrl.selectPlaceHolder"
          multi="true"
          singular="Domain"
          plural="Domains"
          on-change-fn="$ctrl.changeSelected()">
        </cs-select>
        <a href class="body-small bottom-margin" translate="servicesOverview.cards.privateTrunk.verifyADomain" ng-click="$ctrl.gotoSettings()"></a>
     </div>
</div>
