<cs-sp-container class="external-number-detail">
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name" translate="externalNumberPanel.phoneNumbers"></span>
    </div>

    <tabset justified="true">
      <tab heading="{{::externalNumbers.assignedText}}">
        <div class="tab-content center">
          <div class="filter search-margin">
            <input
              ng-model="externalNumbers.assignedModel"
              id="allNumberSearch"
              type="text"
              typeahead="number for number in externalNumbers.getAllAssignedNumbers($viewValue)"
              placeholder="{{::externalNumbers.findNumber}}"
              typeahead-min-length="3"
              typeahead-wait-ms="100"
              ng-keyup="externalNumbers.refreshAssignedOnDelete($event)"/>
            <i class="icon icon-search"></i>
          </div>
          <ul class="list-group">
            <li class="list-group-item list-token" ng-repeat="number in externalNumbers.assignedNumbers">
              <span ng-bind="::number.number"></span>
            </li>
          </ul>
        </div>
      </tab>
      <tab heading="{{::externalNumbers.unassignedText}}">
        <div class="tab-content center">
          <div class="filter search-margin">
            <input
              ng-model="externalNumbers.unassignedModel"
              id="unassignedNumberSearch"
              type="text"
              typeahead="number for number in externalNumbers.getAllUnassignedNumbers($viewValue)"
              placeholder="{{::externalNumbers.findNumber}}"
              typeahead-min-length="3"
              typeahead-wait-ms="100"
              ng-keyup="externalNumbers.refreshUnassignedOnDelete($event)"/>
            <i class="icon icon-search"></i>
          </div>
          <ul class="list-group">
            <li class="list-group-item list-token" ng-repeat="number in externalNumbers.unassignedNumbers">
              <span ng-bind="::number.number"></span>
              <button type="button" class="close" ng-click="externalNumbers.deleteNumber(number)" aria-label="{{::'common.delete' | translate}}"></button>
            </li>
          </ul>
        </div>
      </tab>
      <tab heading="{{::externalNumbers.pendingText}}">
        <hr-external-number-list
          numbers="externalNumbers.pendingList"
          count-translate-key="externalNumberPanel.pendingNumbers"
          external-numbers="externalNumbers"
          tooltip-text="{{:: 'externalNumberPanel.pendingNumbersTooltip' | translate}}"
          tooltip-class="icon-information"
          quantity="externalNumbers.getQuantity('pending')">
        </hr-external-number-list>
      </tab>
    </tabset>
  </cs-sp-section>
</cs-sp-container>