@import '~collab-ui/scss/settings/colors';
@import '~collab-ui/scss/settings/typography';
@import '~collab-ui/scss/tools/mixins/spacing-responsive';
@import '~collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~collab-ui/scss/tools/placeholders/page-layout';
@import './modals/copy/copy-location';
@import './wizard/locations-wizard';

.locations-content {
  padding-bottom: rem-calc(16);
  article {
    height: rem-calc(172);
    .overview-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;
      .text-center {
        margin: 0 1.5rem;
      }
    }
    header {
      display: flex;
      text-align: left;
      .header-with-right-icon {
        flex: 1 1 0;
      }
      .icon-star {
        padding: .5rem;
        color: #f0a309;
      }
    }
  }
  .overview-card article {
    text-align: left;
    .overview-count {
      font-size: rem-calc(20);
      font-family: inherit;
    }
    .overview-title {
      font-size: rem-calc(12);
    }
  }

  .route-title {
    padding-left: 1rem;
  }
}

