@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.call-locations-edit-state {
  @extend %page-background-white;
}

.location-content {
  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .save-section {
    position: fixed;
    bottom: 0;
  }

  .display-flex {
    display: flex;
    align-items: center;
  }

  .warning-padding {
    padding-left: 16px;
  }

  .bottom-pdding {
    padding-bottom: 4rem;
  }
}

.indent-left {
  padding-left: vr-adjust(32px);
}

.locations-content {
  padding-bottom: rem-calc(16);
  article {
    height: rem-calc(172);
    .overview-info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 0;
      .text-center {
        margin: 0 1.5rem;
      }
    }
    header {
      display: flex;
      text-align: left;
      .header-with-right-icon {
        flex: 1 1 0;
      }
      .icon-star {
        padding: .5rem .5rem .5rem 0;
        color: #f0a309;
      }
    }
  }
  .overview-card article {
    text-align: left;
    .overview-count {
      font-size: rem-calc(20);
      font-family: inherit;
    }
    .overview-title {
      font-size: rem-calc(12);
    }
  }

  .route-title {
    padding-left: 1rem;
  }
}

