<section class="no-margin">
  <form name="PstnNpaNxxForm">
  <div class="row collapse-both flex-search">
    <div class="medium-4 padding-right">
      <p>{{$ctrl.areaLabel}}</p>
      <cs-select
        aria-text="{{::$ctrl.areaLabel}}"
        ng-model="$ctrl.area"
        options="$ctrl.areas"
        labelfield="name"
        valuefield="abbreviation"
        placeholder="::'common.select' | translate"
        input-placeholder=""
        required="true"
        filter="true"
        refresh-data-fn="sel.getoptions(filter)"
        on-change-fn="$ctrl.getNpaInventory()">
      </cs-select>
    </div>
    <div class="medium-3 padding-right">
      <p translate="pstnSetup.areaCode"></p>
      <cs-select
        aria-text="{{::'pstnSetup.areaCode' | translate}}"
        ng-model="$ctrl.model.areaCode"
        is-disabled="!$ctrl.model.areaCodeEnable"
        options="$ctrl.model.areaCodeOptions"
        labelfield="code"
        valuefield="code"
        placeholder="::'common.select' | translate"
        input-placeholder=""
        required="true"
        filter="true"
        refresh-data-fn="sel.getoptions(filter)"
        on-change-fn="$ctrl.getNxxInventory()">
      </cs-select>
    </div>
    <div class="medium-3 padding-right">
      <p translate="pstnSetup.nxx"></p>
      <cs-select
        aria-text="{{::'pstnSetup.nxx' | translate}}"
        ng-model="$ctrl.model.nxx"
        is-disabled="!$ctrl.model.nxxEnable"
        options="$ctrl.model.nxxOptions"
        labelfield="code"
        valuefield="code"
        placeholder="::'common.optional' | translate"
        input-placeholder=""
        required="true"
        filter="true"
        refresh-data-fn="sel.getoptions(filter)">
      </cs-select>
    </div>
    <div class="medium-2">
      <button
        class="search-button right btn--primary"
        ng-disabled="!$ctrl.model.searchEnable"
        ng-click="$ctrl.onSearch()"
      ><span translate="common.search">
      </button>
    </div>
  </div>
  <div class="row collapse-both block" ng-if="!$ctrl.simple">
    <div class="search-options">
      <input
        cs-input
        type="checkbox"
        ng-model="$ctrl.model.block"
        id="blockChk{{$ctrl.numberType}}"
        name="blockChk{{$ctrl.numberType}}"
        ng-click="$ctrl.onBlockClick()"
        cs-input-label="{{::'pstnSetup.block' | translate}}">

      <i class="icon icon-info"
        tooltip="{{::'pstnSetup.advancedOrder.blockTooltip' | translate}}"
        tooltip-trigger="mouseenter focus"
        tooltip-placement="right"
        tooltip-animation="false"
        aria-label="{{::'pstnSetup.advancedOrder.blockTooltip' | translate}}"
        tabindex="0"></i>
    </div>
    <div class="medium-4 columns" ng-if="$ctrl.model.block">
      <input
        id="quantity{{$ctrl.numberType}}"
        name="quantity{{$ctrl.numberType}}"
        type="number"
        placeholder="{{::'pstnSetup.quantity' | translate}}"
        min="2"
        max="100"
        ng-model="$ctrl.model.quantity"
        ng-disabled="!$ctrl.model.block"
        ng-required="$ctrl.model.block">
      <div ng-if="$ctrl.form['quantity'+$ctrl.numberType].$valid === false && $ctrl.model.block">
        <p translate="pstnSetup.quantityRange"></p>
      </div>
    </div>
    <div class="search-options" ng-if="$ctrl.model.block">
      <input cs-input type="checkbox"
        ng-model="$ctrl.model.consecutive"
        ng-disabled="!$ctrl.model.block"
        id="consecutiveChk{{$ctrl.numberType}}"
        name="consecutiveChk{{$ctrl.numberType}}"
        cs-input-label="{{::'pstnSetup.consecutive' | translate}}">
      <i class="icon icon-info"
        tooltip="{{::'pstnSetup.advancedOrder.consecutiveTooltip' | translate}}"
        tooltip-trigger="mouseenter focus"
        tooltip-placement="right"
        tooltip-animation="false"
        aria-label="{{::'pstnSetup.advancedOrder.consecutiveTooltip' | translate}}"
        tabindex="0"></i>
    </div>
  </div>
  </form>
</section>


