<div ng-if="!row.entity.timeoutDetected" class="ui-grid-cell-contents" ng-switch on="row.entity.state">
  <span class="fit-in-cell" ng-switch-when="RUNNING" >
     <div class="progressbar-info">
       <span>{{'ediscovery.reportStates.RUNNING' | translate}}...</span>
       <span class="progressbar-progress">{{row.entity.progress}}%</span>
     </div>
     <progressbar class="progress-striped" value="row.entity.progress"></progressbar>
  </span>
  <span class="fit-in-cell" ng-switch-when="CREATED" >
     <div class="progressbar-info">
       <span>{{'ediscovery.reportStates.CREATED' | translate}}...</span>
       <span class="progressbar-progress">0</span>
     </div>
     <progressbar class="progress-striped" value="row.entity.progress"></progressbar>
  </span>

  <div ng-switch-when="FAILED" class="fit-in-cell"  tooltip-placement="left" cs-tooltip="{{'ediscovery.reportFailureReasons.' + row.entity.failureReason | translate}}">
    <i class="icon icon-warning"></i> <span translate="ediscovery.reportsList.failed"></span>
  </div>

  <span class="fit-in-cell" ng-switch-default>
    {{'ediscovery.reportStates.' + row.entity.state | translate}}
  </span>
</div>

<div ng-if="row.entity.timeoutDetected" class="ui-grid-cell-contents" tooltip-placement="left" cs-tooltip="{{'ediscovery.reportTimeout' | translate}}">
  <span class="fit-in-cell" ng-if="row.entity.timeoutDetected" class="red" translate="ediscovery.reportTimeout"></span>
</div>
