<div ng-if="!row.entity.timeoutDetected" class="ui-grid-cell-contents">
  <div ng-if="!row.entity.isDone">
    <div>
      <span translate="ediscovery.reportsList.generating"></span>
    </div>
  </div>
  <div ng-if="row.entity.isDone" ng-switch on="row.entity.state">
    <div ng-switch-when="FAILED"
      tabindex="0"
      class="fit-in-cell"
      tooltip-placement="{{grid.renderContainers.body.visibleRowCache.indexOf(row) === 0 ? 'left' : 'top'}}"
      tooltip="{{'ediscovery.reportFailureReasons.' + row.entity.failureReason | translate}}"
      tooltip-trigger="focus mouseenter"
      aria-label="{{'ediscovery.reportFailureReasons.' + row.entity.failureReason | translate}}">
      <i class="icon icon-warning"></i> <span translate="ediscovery.reportsList.failed"></span>
    </div>
    <span ng-switch-default class="fit-in-cell">
      {{'ediscovery.reportStates.' + row.entity.state | translate}}
    </span>
  </div>
</div>

<div ng-if="row.entity.timeoutDetected"
  class="ui-grid-cell-contents"
  tabindex="0"
  tooltip-placement="{{grid.renderContainers.body.visibleRowCache.indexOf(row) === 0 ? 'left' : 'top'}}"
  tooltip="{{::'ediscovery.searchResults.reportTimeout' | translate}}"
  tooltip-trigger="focus mouseenter"
  aria-label="{{::'ediscovery.searchResults.reportTimeout' | translate}}">
  <div>
    <i class="icon icon-warning"></i> <span>{{'ediscovery.timeout' | translate}}</span>
    <span class="progressbar-progress">{{row.entity.progress}}%</span>
  </div>
  <progressbar type="danger" class="progress-striped" value="row.entity.progress"></progressbar>
</div>
