@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/page';

.tooltip[popup-class="cs-datepicker-tooltip"] .c-nub {
  text-align: center;
  max-width: 212px;
}

.ediscovery-app-container {
  background-color: $brand-white;
  overflow-x: hidden; // Remove horizontal IE/Edge scrollbar
  min-height: 100vh;

  .ediscovery-logo {
    width: 48px;
    margin-left: 29px;
  }

  a:focus {
    box-shadow: none;
  }

  .header-tabs {
    position: fixed;
    left: 0px;
    top: 3.3rem;
    height: 3rem;
    text-align: left;
    font-size: 1rem;
    padding-left: 6.3rem;
    width: 100%;
    background: $brand-white;
    border-bottom: 1px solid $gray-light-3;

    .page-sub-header {
      border-bottom: none;
      background-color: transparent;
    }

    .menu-container {
      padding-bottom: 5px;

      ul.menu {
        margin-left: 0;
        padding: 0;

        li {
          display: inline;
          margin-right: 1rem;

          a {
            color: $gray-light-1;
            font-size: 1.0625rem;
            //border-bottom: 3px solid transparent;
            //padding-bottom: 0.5rem;
          }

          a.active {
            //border-bottom-color: $page-header-nav-active-border-bottom-color;
            color: $page-header-nav-active-color;
          }

          a:hover {
            //border-bottom-color: $gray-light-1;
          }
        }
      }
    }
  }

  .ediscovery-content-view {
    height: 100vh;
    padding-top: rem-calc(100);
    font-family: 'CiscoSansTT Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    [ui-view] {
      height: 100%;
    }

    button.fit {
      height: 30px;
      width: 30px;
      line-height: 30px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    label.fit {
      text-align: left;
      margin-bottom: 0;
    }

    button.align {
      margin-top: 1.5rem;
    }

    a:focus {
      outline: none;
      box-shadow: none;
    }

    .circle-status-icon {
      font-size: 0.575rem;
      margin-right: 0.5rem;
    }
  }

  .ediscovery-search {

    .basic-search {
      background-color: $brand-white;
    }

    .advanced-search {
      background-color: $gray-light-4;
    }

    div.search-result-area {
      background-color: $gray-light-4;
      min-height: calc(100% - 200px);
      padding-top: 2.25rem;

      @media only screen and (max-height: 950px) {
        padding-top: 1rem;
        min-height: calc(100% - 113px);
      }
    }

    div.search-error {
      padding-top: 0.5rem;
      float: left;
      padding-left: 20px;
    }

    .search-spinner {
      position: relative;
      top: 2rem;
      font-size: 3rem;
    }

    .ediscovery-search-bar {
      text-align: center;
      padding-bottom: 3rem;

      @media only screen and (max-height: 950px) {
        padding-bottom: 1rem;
      }

      .main-heading {
        padding-top: 2rem;

        h1 {
          font-size: 2.2rem;
          color: $color-primary-base;

          @media only screen and (max-width: 640px) {
            font-size: 2rem;
          }

          @media only screen and (max-width: 500px) {
            font-size: 1.5rem;
          }
        }

        span {
          padding-top: 1rem;
        }
      }

      .search-warning {
        color: $color-attention-base;
      }

      .search-warning-text {
        color: $color-attention-darker;
      }

      .search-error {
        color: $color-alerts-base;
      }

      .date-validation {
        float: left;
        padding: 3px;
      }

      .ediscovery-advanced-search {
        margin-top: 48px;
        display: inline-block;
        width: 50%;

        .subheading {
          font-size: 14px;
          font-weight: 300;
          line-height: 1.71;
          color: #858688;
          margin-bottom: 8px;
        }

        .cs-input {
          width: 100%;
        }

        .input-validation {
          margin-top: 0;
        }

        .search-req-msg {
          margin-top: 20px;
        }

        .search-limit-msg {
          float: left;
          padding-left: 10px;
        }

        .query-error-msg {
          width: 250px;
        }

        .cs-datapicker-normal {
          max-width: 100%;
        }

        .cs-datepicker {
          display: block;
        }

        .search-spacing {
          float: left;
        }

        .search-text {
          color: #4f5051;
        }

        .query-row {
          padding-right: 0.5rem;
          padding-left: 0.5rem;
        }

        .search-button {
          float: left;
          width: 100px;
        }

        .small-gap {
          margin-top: 16px;
        }

        .mid-gap {
          padding-top: 24px;
        }

        .large-gap {
          margin-top: 36px;
        }

        .icon-info {
          width: 16px;
          height: 16px;
          color: #aeaeaf;
        }
      }

      .typeahead-large .input-description::before {
        display: none;
      }

      .typeahead-large .input-description {
        padding: 0;
      }

      .typeahead-large {
        position: relative;
        margin-top: 1rem;
        max-width: 100%;

        @media only screen and (max-width: 640px) {
          max-width: 90%;
        }

        input {
          border: 0;
          font-size: 24px;
          width: 33rem;

          @media only screen and (max-width: 640px) {
            font-size: 21px;
            width: 80%;
            padding-bottom: 0;
          }

          @media only screen and (max-width: 500px) {
            font-size: 18px;
            width: 80%;
            padding-bottom: 0;
          }
        }

        .icon-search {
          position: absolute;
          right: 0;
          bottom: 0.75rem;
          font-size: 1rem;
          width: 2.5rem;
          height: 2.5rem;
          z-index: 3;
          min-width: 2.5rem;

          @media screen and (-moz-images-in-menus: 0) {
            top: 0 !important;
          }

          @media only screen and (max-width: 640px) {
            font-size: 1rem;
            width: 2rem;
            height: 2rem;
            min-width: 2rem;
          }

          @media only screen and (max-width: 500px) {
            font-size: 0.75rem;
            width: 1.5rem;
            height: 1.5rem;
            min-width: 1.5rem;
          }
        }
      }

      .search-tip {
        color: $gray-light-1;
        font-style: italic;
        padding-top: 0.5rem;
      }
    }

    .cs-form__section .section__content .sub-section {
      margin-bottom: 0.5rem;

      h5.large {
        font-size: 2rem;
        margin-bottom: 0.25rem;
        line-height: 2rem;
        margin-top: 1rem;
      }
    }

    .cs-form__section .section__content .sub-section__label {
      line-height: 0.5rem;
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }

    .search-result {
      .create-form {
        padding: 2.5rem 2.5rem 5rem 0;

        @media only screen and (max-width: 800px) {
          padding-left: 1.25rem;
          padding-right: 1.25rem;
        }

        @media only screen and (max-height: 950px) {
          padding-top: 1.25rem;
          padding-bottom: 2.5rem;
        }

        @media only screen and (max-width: 640px) {
          padding-left: 1rem;
        }

        h2 {
          padding-right: 1rem;
          color: $gray-dark-3;

          @media only screen and (max-width: 800px) {
            font-size: 1.5rem;
          }
        }

        .cancel-or-download {
          width: 50%;
          padding-top: 1rem;

          .buttons {
            padding-top: 1rem;
          }
        }

        .room-id {
          color: $gray-base;
          padding-bottom: 2.25rem;

          @media only screen and (max-width: 800px) {
            font-size: 1rem;
          }
        }

        .back-button {
          padding-left: 16px;
          padding-top: 24px;
        }

        .icon-info {
          width: 16px;
          height: 16px;
          color: $gray-light-1;
        }

        .date-range-tooltip {
          padding: 16px 24px 4px;
        }

        .result-title {
          font-size: 12px;
          font-family: 'CiscoSansTT Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          padding-bottom: 4px;
        }

        .result-info {
          font-size: 16px;
          font-family: 'CiscoSansTT Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
          padding-top: 0px;
          padding-bottom: 0px;
        }

        .report-title {
          font-size: 16px;
          font-weight: 200;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.5;
          letter-spacing: normal;
          text-align: center;
          color: #6a6b6c;
        }

        .report-info {
          font-size: 26px;
          font-weight: 200;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.23;
          letter-spacing: normal;
          text-align: center;
          color: #049fd9;
          padding-bottom: 20px;
        }

        .report-header {
          padding: 0px 18px;
        }

        .report-parameters {
          padding: 0 32px 12px;

          .results-spacing {
            margin-top: 16px;
          }

          .search-results-key {
            font-size: .875rem;
            color: $gray-dark-3;
          }

          .copy {
            a {
              font-size: .875rem;
            }

            i {
              color: $gray-light-1;
              font-size: 1.5rem;
              vertical-align: middle;
              display: inline-block;
            }
          }

          .copy:hover i {
            color: $gray-base;
          }
        }

        .report-error {
          padding: 1.5rem;

          .report-warning {
            color: $color-attention-base;
          }
        }

        .input-section {
          padding-bottom: 2.5rem;

          .report-name {
            width: 100%;
            margin-bottom: 15px;
          }

          .date-error {
            margin-bottom: 0;
            color: $color-negative-base;
          }

          h6 {
            padding-bottom: 0.25rem;
            color: $gray-dark-2;
          }
        }

        .report-section {
          overflow: hidden;
        }

        .result-section {
          padding-bottom: 1.5rem;

          h6 {
            font-size: 14px;
            padding-bottom: 0.25rem;
            color: $gray-base;
          }

          .progressbar-info {
            padding-top: 0.5rem;
          }

          .report-timeout {
            padding-top: 1rem;
          }

          .failure {
            color: $gray-base;
            font-size: 16px;
            padding: 0;
          }
        }

        .expiry-info {
          padding-top: 1.5rem;

          i.icon-warning {
            color: $color-attention-base;
          }
        }

        .last-input-row {
          padding-bottom: 0.75rem;
        }
      }

      .report-logo-column {
        max-width: 406px;

        @media only screen and (max-width: 640px) {
          max-width: 100%;
        }
      }

      .report-logo {
        color: $gray-base;
        font-size: 210px;
        padding-top: 1.5rem;

        @media only screen and (max-width: 800px) {
          font-size: 10rem;
          padding-top: 0.75rem;
        }

        @media only screen and (max-width: 640px) {
          font-size: 4rem;
          height: 5rem;
        }
      }

      span.cancel-icon {
        position: relative;
        top: 2rem;
        font-size: 2rem;
        color: $gray-light-1;
        cursor: pointer;
      }
    }
  }

  .ediscovery-reports {
    background-color: $gray-light-4;
    height: 100%;

    .report-banner {
      padding-top: 9.5rem;

      &--generating {
        .banner-padding {
          padding-bottom: 52px;
        }

        .cs-alert-banner-text {
          max-width: none;
        }
      }
    }

    .group-icon {
      font-size: 1.5rem;
      vertical-align: middle;
      padding-right: 0.3rem;
    }

    .action-icons {
      font-size: 1.1rem;
      vertical-align: middle;
      top: 5px;
      padding-right: 1rem;
      color: $gray-light-1;
    }

    .action-icons.disabled {
      color: $gray-light-3;
    }

    .action-icons.disabled:hover {
      color: $gray-light-3;
    }

    .action-icons:hover {
      color: $color-primary-base;
    }

    .download-wait {
      position: relative;

      .icon-download {
        color: $color-primary-darker;
      }

      .icon-spinner {
        position: absolute;
        top: -3px;
        left: -7px;
        font-size: 1.8rem;
      }
    }

    .cancel-wait {
      position: relative;

      .icon-exit {
        color: $color-primary-darker;
      }

      .icon-spinner {
        position: absolute;
        top: -5px;
        left: -7px;
        font-size: 1.8rem;
      }
    }

    .column-air {
      margin-left: 6.3rem;
      margin-right: 6.3rem;

      @media only screen and (max-width: 1280px) {
        margin-left: 2rem;
        margin-right: 2rem;
      }
    }

    .search-spinner {
      position: relative;
      top: 1rem;
      font-size: 3rem;
    }

    .with-scroll {
      min-height: 60vh;
      background-color: $brand-white;
      border: 1px solid $gray-light-3;
    }

    .ui-grid-header-cell-primary-focus:first-child {
      background-color: $gray-light-3;
      margin-right: -2rem;
    }

    .cs-tooltip {
      max-width: none;
    }

    .gridStyle {
      max-width: 100%;
      margin: 0 auto;
    }

    .fit-in-cell {
      line-height: 35px;
    }

    i.icon-warning {
      font-size: 1rem;
      color: $color-attention-base;
      vertical-align: middle;
      padding-right: 0.3rem;
    }

    span.progressbar-progress {
      color: $gray-dark-1;
    }
  }
}
