<div class="ediscovery-search">
  <div ng-class="(ediscoverySearchCtrl.roomInfo) ? 'advanced-search' : 'basic-search'">
    <div class="ediscovery-search-bar">

      <!-- Updated Search -->
      <div ng-if="!ediscoverySearchCtrl.roomInfo && !ediscoverySearchCtrl.searchingForRoom">
        <div class="main-heading">
          <h1 translate="ediscovery.heading"></h1>
        </div>
        <div class="ediscovery-advanced-search">
          <div class="row query-row">
            <span class="search-text search-spacing" translate="ediscovery.searchParameters.search"></span>
          </div>
          <!-- Search Row-->
          <div class="row">
            <span class="subheading search-spacing query-row" translate="ediscovery.subheading"></span>
            <div class="col-md-6 search-box">
              <cs-select ng-model="ediscoverySearchCtrl.searchBySelected"
                ng-change="ediscoverySearchCtrl.searchByParameters()"
                options="ediscoverySearchCtrl.searchByOptions"
                placeholder="ediscoverySearchCtrl.searchByOptions[0]">
              </cs-select>
            </div>
            <div class="col-md-6">
              <div class="cs-input-group search-box" ng-class="{'error': ediscoverySearchCtrl.limitErrorMessage || (sForm.sInput.$invalid && sForm.sInput.$touched)}">
                <form name="sForm" class="input-validation" novalidate>
                  <input required class="cs-input" type="text" name="sInput" ng-model="ediscoverySearchCtrl.searchModel" autofocus="true"
                   ng-keyup="ediscoverySearchCtrl.keyPressHandler($event)" placeholder="{{ediscoverySearchCtrl.searchPlaceholder}}" >
                   <p ng-if="!ediscoverySearchCtrl.limitErrorMessage" class="cs-input__help-text search-spacing">{{ediscoverySearchCtrl.searchHelpText}}</p>
                  <div ng-class="{'search-req-msg': !ediscoverySearchCtrl.limitErrorMessage}" class="cs-input__messages" role="alert">
                    <div ng-messages="sForm.sInput.$error" class="search-limit-msg">
                      <span ng-message="required" translate="common.fieldRequired"></span>
                    </div>
                    <span ng-if="ediscoverySearchCtrl.limitErrorMessage" class="search-limit-msg">{{ediscoverySearchCtrl.limitErrorMessage}}</span>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Date Range Row -->
          <div class="row">
            <div class="col-md-6 search-box">
              <span class="search-spacing search-text small-gap">
                <span translate="common.dateRange"></span>
                <i ng-if="ediscoverySearchCtrl.showHover()"
                tooltip-html-unsafe="{{'ediscovery.searchParameters.dateRangeTooltip' | translate}}" tooltip-placement="right" tooltip-class="cs-datepicker-tooltip"
                class="icon icon-info"></i>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-5 search-box">
              <cs-datepicker required
                ng-model="ediscoverySearchCtrl.searchCriteria.startDate"
                first-enabled-date="{{ediscoverySearchCtrl.firstEnabledDate}}"
                last-enabled-date="{{ediscoverySearchCtrl.lastEnabledDate}}"
                disabled-tooltip-text="{{ediscoverySearchCtrl.getProPackTooltip()}}"
                view-format="YYYY-MM-DD">
              </cs-datepicker>
            </div>
            <span class="col-md-2" translate="common.to"></span>
            <div class="col-md-5 search-box">
              <cs-datepicker required
                ng-model="ediscoverySearchCtrl.searchCriteria.endDate"
                first-enabled-date="{{ediscoverySearchCtrl.firstEnabledDate}}"
                last-enabled-date="{{ediscoverySearchCtrl.lastEnabledDate}}"
                disabled-tooltip-text="{{ediscoverySearchCtrl.getProPackTooltip()}}"
                view-format="YYYY-MM-DD">
              </cs-datepicker>
            </div>
          </div>
          <div class="row" ng-if="ediscoverySearchCtrl.dateValidationError">
            <i class="icon icon-error date-validation search-error"></i>
            <span class="date-validation search-error" ng-repeat="error in ediscoverySearchCtrl.dateValidationError.errors">
              {{error}}
            </span>
          </div>
          <!-- Text Message and File Name Row -->
          <div class="row query-row">
            <span class="search-spacing search-text large-gap" translate="ediscovery.searchParameters.messages"></span>
          </div>
          <div class="row query-row">
            <div class="cs-input-group col-md-12 search-box" ng-class="{'error': qForm.qInput.$invalid && qForm.qInput.$touched}">
              <form name="qForm" class="input-validation" novalidate>
                <input class="cs-input" type="text" name="qInput" ng-model="ediscoverySearchCtrl.queryModel"
                placeholder="{{'ediscovery.searchParameters.messagesPlaceholder' | translate}}"
                ng-keyup="ediscoverySearchCtrl.keyPressHandler($event)" ng-maxlength="200">
                <p class="cs-input__help-text search-spacing" translate="ediscovery.searchParameters.messagesHelpText"></p>
                <div class="cs-input__messages" ng-messages="qForm.qInput.$error" role="alert">
                  <div ng-message="maxlength" class="query-error-msg" translate="ediscovery.searchErrors.queryLimit"></div>
                </div>
              </form>
            </div>
          </div>
          <div class="row mid-gap query-row">
            <button type="submit"
              class="btn btn--primary search-button"
              translate="common.search"
              ng-click="ediscoverySearchCtrl.searchByLimit()"
              ng-disabled="ediscoverySearchCtrl.searchButtonDisabled(qForm.qInput.$invalid && qForm.qInput.$touched)">
            </button>
            <div ng-if="ediscoverySearchCtrl.error" class="search-error">
              <i class="icon icon-error search-error"></i>
              <span class="search-error">{{ediscoverySearchCtrl.error}}</span>
            </div>
            <div ng-if="ediscoverySearchCtrl.warning" class="search-error">
              <i class="icon icon-warning search-warning"></i>
              <span class="search-warning-text">{{ediscoverySearchCtrl.warning}}</span>
            </div>
          </div>
        </div>
      </div>

      <div ng-show="ediscoverySearchCtrl.searchingForRoom">
        <div class="main-heading">
          <h1 translate="ediscovery.searchingHeader"></h1>
          <span translate="ediscovery.searchingSubheader"></span>
        </div>
        <span class="search-spinner">
          <i class="icon icon-spinner"></i>
        </span>
      </div>
    </div>
  </div>

 <ediscovery-search-result class="search-result-area" ng-if="ediscoverySearchCtrl.roomInfo"></ediscovery-search-result>

</div>
