<div class="ediscovery-search">
  <div class="ediscovery-search-bar">
    <div class="main-heading">
      <h1>Search Activities</h1>
      <span class="help" ng-click="ediscoverySearchCtrl.showSearchHelp()">
      </span>
    </div>

    <div class="typeahead-large" style="text-align: left;">
      <!--<form class="searchInputForm">-->
        <input class="fit" id="searchInput" type="search" tabindex="1" placeholder="Type in a room id" autocomplete="off" ng-model="ediscoverySearchCtrl.searchCriteria.roomId" autofocus="true" ng-keyup="ediscoverySearchCtrl.keyPressHandler($event)"/>

        <button type="submit" id="ediscoverySearchButton" class="btn btn--circle btn--primary icon icon-search" ng-click="ediscoverySearchCtrl.searchForRoom()" ng-disabled="ediscoverySearchCtrl.searchCriteria.roomId == ''"></button>
      <!--</form>-->

      <div class="input-description"></div>
    </div>
  </div>

  <div ng-if="ediscoverySearchCtrl.roomInfo" class="row">
    <div class="columns large-12 medium-12 small-12 small-centered">
      <form name="createForm" class="cs-form create-report">
        <div class="cs-form__section">
          <div class="section__info">
            <i class="room-icon icon icon-meeting-room icon-lg"></i>
            <span class="content">Participants
              {{ediscoverySearchCtrl.roomInfo.participants.items.length}}</span>
            <div ng-if="ediscoverySearchCtrl.report" class="progress-container" ng-hide="ediscoverySearchCtrl.report.state == 'FAILED'">
              <div class="progressbar-info">
                <span class="progressbar-label">{{ediscoverySearchCtrl.report.state}}</span>
                <span class="progressbar-progress">{{ediscoverySearchCtrl.report.progress}}%</span>
              </div>
              <progressbar class="progress-striped" value="ediscoverySearchCtrl.report.progress" type="{{ediscoverySearchCtrl.progressType()}}"></progressbar>
              <button ng-show="ediscoverySearchCtrl.report.state == 'COMPLETED'" type="button" class="btn btn--circle btn--primary" ng-click="ediscoverySearchCtrl.downloadReport()">
                <span tooltip-placement="top" cs-tooltip="Download Report" tooltip-animation="false" tooltip-append-to-body="true" class="icon icon-download"></span>
              </button>
            </div>
            <div class="failure progress-container">
              <span ng-show="ediscoverySearchCtrl.report.state == 'FAILED'">Failure:
                {{ediscoverySearchCtrl.report.failureReason}}</span>
            </div>
          </div>

          <div class="section__content">
            <div class="sub-section">
              <h5 class="sub-section__label large ellipsis">{{ediscoverySearchCtrl.roomInfo.displayName}}</h5>
              <span class="section__description">{{ediscoverySearchCtrl.roomInfo.id}}</span>
            </div>
            <div class="sub-section">
              <h5 class="sub-section__label">Display Name</h5>
              <input size="40" id="displayName" class="cs-input" placeholder="Enter display name" ng-model="ediscoverySearchCtrl.searchCriteria.displayName">
            </div>
            <div class="sub-section">
              <h5 class="sub-section__label">Start Date</h5>
              <cs-datepicker id="startDate" ng-model="ediscoverySearchCtrl.searchCriteria.startDate" placeholder="Choose a start Day" view-format="YYYY-MM-DD"></cs-datepicker>
            </div>
            <div class="sub-section">
              <h5 class="sub-section__label">End Date</h5>
              <cs-datepicker id="endDate" ng-model="ediscoverySearchCtrl.searchCriteria.endDate" placeholder="Choose an end Day" view-format="YYYY-MM-DD"></cs-datepicker>
            </div>
            <div class="sub-section">
              <button ng-disabled="ediscoverySearchCtrl.report" type="button" class="button btn--primary" ng-click="ediscoverySearchCtrl.createReport()">Create Report</button>
              <a ui-sref="ediscovery.reports" ng-show="ediscoverySearchCtrl.report.state == 'COMPLETED'" class="button btn--primary fit">Take Me to Reports</a>
              <!--
              <div ng-if="ediscoverySearchCtrl.report" class="progress-container" ng-hide="ediscoverySearchCtrl.report.state == 'FAILED'">
                <div class="progressbar-info">
                  <span class="progressbar-label">{{ediscoverySearchCtrl.report.state}}</span>
                  <span class="progressbar-progress">{{ediscoverySearchCtrl.report.progress}}%</span>
                </div>
                <progressbar class="progress-striped" value="ediscoverySearchCtrl.report.progress" type="{{ediscoverySearchCtrl.progressType()}}"></progressbar>
                <button ng-show="ediscoverySearchCtrl.report.state == 'COMPLETED'" type="button" class="btn btn--circle btn--primary" ng-click="">
                  <span class="icon icon-download"></span>
                </button>
              </div>
              <div class="failure">
                <span ng-show="ediscoverySearchCtrl.report.state == 'FAILED'">Failure:
                  {{ediscoverySearchCtrl.report.failureReason}}</span>
              </div>
              -->
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

</div>
