@login-splash-background-color: rgba(34,34,34,0.65);
@login-splash-border-color: rgba(26,26,26,0.65);
@login-splash-color: #ffffff;
@login-splash-title-color: #eeeeee;
@login-button-border-color: rgba(255,255,255,0.2);
@login-button-border-active-color: rgb(63,169,233);
@login-button-background-color: rgba(0,0,0,0.45);
@login-button-size: 70px;

.login-splash {
  width: 400px;
  height: 100vh;
  min-height: 360px;
  margin: auto;
  padding-top: 30px;
  color: @login-splash-color;
  background-color: @login-splash-background-color;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: @login-splash-border-color;
  border-style: solid;

  .alert:before {
    content: '';
  }

  .icon-cisco-logo {
    font-size: 55px;
    margin-bottom: 24px;
    text-align: center;
  }

  .title {
    font-family: @brand-font-cisco-TT-Extra-Light;
    font-size: 18px;
    color: @login-splash-title-color;
    text-align: center;
  }

  .content {
    position: relative;
    top: ~"calc((100% - 180px)/2)";
    transform: translateY(-50%);
  }

  .results {
    margin: 50px auto 0 auto;
    width: 280px;
  }

  .round-button {
    height: @login-button-size;
    width: @login-button-size;
    margin: 50px auto 0 auto;
  }

  @keyframes spinner {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
  }

  .spinner .round-button-circle:hover {
    border-color: @login-button-border-color;
  }

  .round-button-circle {
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border:1px solid @login-button-border-color;
    background-color: @login-button-background-color;
    overflow:hidden;
  }

  .round-button.spinner:before {
    content: '';
    display: block;
    width: calc(@login-button-size + 2px);
    height: calc(@login-button-size + 2px);
    border-radius: 50%;
    border: 1px solid transparent;
    border-top: 2px solid @login-button-border-active-color;
    margin-bottom: calc(-@login-button-size - 1px);
    margin-left: -1px;
    animation: spinner 1s linear infinite;
  }

  .round-button-circle:hover {
    cursor: pointer;
    border-color: @login-button-border-active-color
  }

  .round-button span {
    display:block;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
    font-size: 17px;
    font-family: @brand-font-cisco-TT-Light;
  }
}