.alert::before {
  content: '';
}

.results {
  margin: 50px auto 0;
  width: 280px;
}

.login-box .validation-messages.info {
  display: flex;
  justify-content: center;
}

.expired-inactivity {
  margin-left: 1.5rem;
  font-size: 0.875rem;
  max-width: 36rem;
}
