/*------------------------------------*\
    #LOGIN SPLASH SCREEN
\*------------------------------------*/

@import "../../../styles/common";

.loading-icon {
  height: vr-adjust(54);
  padding-top: 10px;
  margin-top: vr-adjust(50);
  width: vr-adjust(280);
  margin-left: auto;
  margin-right: auto;
  display: block;
  span {
    font-size: $h3-font-size;
  }
  text-align: center;
  background-color: $brand-white;
  border: $brand-white;
}

.alert:before {
  content: '';
}

.results {
  margin: 50px auto 0 auto;
  width: 280px;
}

/* Remove when Microsoft fixes flexbox problem *\
   when min-height is defined.  See
\* messagebox-small in ToolKit.                */
.vertical-ie-workaround {
  height: 0px;
}

.login-box {
  .messagebox-small {
    padding-top: 40px;
  }
  h3 {
    margin-top: 0.5rem;
    color: $gray-dark-1;
  }
  input {
    margin-top: 0.5rem;
    font-size: 1rem;
    width: 100%;
  }
  h6 {
    font-size: 10px;
    padding: 0 1.75rem;
  }
  .icon-spinner {
    position: relative;
    top: -60px;
  }
  &.loading {
    h3 {
      margin-top: -116px;
    }
    form, h6, button {
      display: none;
    }
  }
}
