<div class="messagebox login-box" ng-class="{loading: loading}">
  <div class="messagebox-small" ng-class="checkForIeWorkaround">
    <i class="icon icon-2x icon-cisco-logo messagebox-heading"></i>
    <div class="h3" translate="loginPage.title"></div>
    <div ng-show="result">
      <div class="results alert alert-danger" ng-bind-html="result"></div>
    </div>
    <form novalidate name="loginForm" class="typeahead-group" autocomplete="off">
      <input type="email" class="underline" name="email" ng-model="email" placeholder="Email Address" required focus-on ng-keypress="login($event.which)">
    </form>
    <button class="btn btn--primary btn--large btn--expand messagebox-btn" role="button" ng-click="login()" ng-disabled="loginForm.email.$invalid">
      <span translate="loginPage.login"></span>
    </button>
    <h6 translate="loginPage.license"></h6>
    <div ng-show="loading">
      <i class="icon icon-3x icon-spinner"></i>
    </div>
  </div>
</div>
