<script type="text/ng-template" id="fallbackDestinationTemplate.html">
  <a class="member__name">
    <span ng-bind-html="match.label.firstName | typeaheadHighlight:query" ng-if="match.label.firstName"></span>
    <span ng-bind-html="match.label.lastName | typeaheadHighlight:query" ng-if="match.label.lastName"></span>
    <span ng-bind-html="match.label.number | typeaheadHighlight:query" ng-if="match.label.number"></span>
    <span ng-bind-html="match.label.siteToSite | typeaheadHighlight:query" ng-if="match.label.siteToSite"></span>
    <span ng-show="match.label.lastName">(<span ng-bind-html="match.label.userName | typeaheadHighlight:query"></span>)</span>
    <span ng-show="!match.label.lastName && !match.label.displayName && !match.label.number && !match.label.siteToSite" ng-bind-html="match.label.userName | typeaheadHighlight:query"></span>
    <span ng-show="!match.label.userName && !match.label.number && !match.label.siteToSite" ng-bind-html="match.label.displayName | typeaheadHighlight:query"></span>
  </a>
  <div class="member__line">
    <span ng-bind-html="(match.label.numbers | callFeatureMemberNumberFormatterFilter : true) | typeaheadHighlight:query" ng-if="match.label.numbers"></span>
  </div>
</script>
<div ng-form="$ctrl.fallbackDestForm">
  <div ng-if="$ctrl.isNew" class="typeahead-large fallback-destination-large">
    <div class="feature-title" translate="huronHuntGroup.fallbackTitle"></div>
    <div class="feature-desc" translate="huronHuntGroup.fallbackHint"></div>
    <cs-call-destination
      input-type="undefined"
      class="columns medium-10 text-center"
      ng-class="{'error': $ctrl.isErrorFallbackInput()}"
      model="$ctrl.selectedReversionNumber"
      inputs="$ctrl.callDestInputs"
      select-type="button"
      external-number-region-code-fn="$ctrl.getExternalRegionCode()"
      ng-keyup="$ctrl.validateReversionNumber()"
      internal-number-data-fn="$ctrl.getMemberList(data)"
      internal-number-on-select="$ctrl.onSelectReversionMember(data)"
      internal-number-template-url="fallbackDestinationTemplate.html"
      input-translations="$ctrl.inputTranslations"
      on-change-fn="$ctrl.setSelectedReversionNumber(model)"
      focus-on>
    </cs-call-destination>
    <p class="input-description"></p>
  </div>
  <div ng-if="$ctrl.showReversionLookup && !$ctrl.isNew" class="typeahead">
    <cs-call-destination
      model="$ctrl.selectedReversionNumber"
      inputs="$ctrl.callDestInputs"
      select-type="select"
      external-number-region-code-fn="$ctrl.getExternalRegionCode()"
      ng-keyup="$ctrl.validateReversionNumber()"
      internal-number-data-fn="$ctrl.getMemberList(data)"
      internal-number-on-select="$ctrl.onSelectReversionMember(data)"
      internal-number-template-url="fallbackDestinationTemplate.html"
      input-translations="$ctrl.inputTranslations"
      on-change-fn="$ctrl.setSelectedReversionNumber(model)">
    </cs-call-destination>
  </div>
  <div ng-if="$ctrl.showMember">
    <cs-card-layout>
      <cs-card-member
        ng-if="$ctrl.fallbackDestination.memberUuid"
        cs-type="simple"
        cs-member-type="user"
        cs-id="$ctrl.fallbackDestination.memberUuid"
        cs-title="$ctrl.fallbackDestination.name"
        cs-subtitle="$ctrl.directoryNumber | callFeatureFallbackDestinationDirectoryNumberFilter"
        cs-image="$ctrl.thumbnailSrc"
        on-remove="$ctrl.removeMember()"
        delete-aria-label="{{::'common.delete' | translate}}">
      </cs-card-member>
      <cs-card-number
        ng-if="!$ctrl.fallbackDestination.memberUuid"
        cs-id="$ctrl.fallbackDestination.numberUuid"
        cs-title="$ctrl.fallbackDestination.number"
        on-remove-fn="$ctrl.removeMember()"
        delete-aria-label="{{::'common.delete' | translate}}">
      </cs-card-number>
    </cs-card-layout>
    <div class="send-to-voicemail-chk" ng-if="!$ctrl.isNew">
      <input
        cs-input
        ng-disabled="!$ctrl.hasVoicemail"
        type="checkbox"
        id="ckSendToVoicemail{{$ctrl.index}}"
        name="ckSendToVoicemail{{$ctrl.index}}"
        ng-model="$ctrl.fallbackDestination.sendToVoicemail"
        cs-input-label="{{:: 'callPark.voicemailCheckLabel' | translate}}"
        ng-click="$ctrl.onChangeSendToVoicemail()">
    </div>
  </div>
</div>
