.users-download-csv {
  .file-download {
    height: rem(300);
    display: flex;
    align-content: center;
    justify-content: center;
    .file-download-content {
      @extend .center;
      align-self: center;
      .csv-download {
        margin-bottom: 2rem;
        .icon {
          font-size: 7rem;
          color: $gray-dark-1;
        }
      }
    }
  }
}

.users-upload-csv {
  label {
    cursor: pointer;
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
  }
  .file-drop {
    border: 1px dashed $gray-light;
    height: 300px;
    display: flex;
    align-content: center;
    justify-content: center;
    &.dragover {
      border-color: $link-hover-color;
      background: $gray-lightest;
    }
  }
  .file-drop-content {
    align-self: center;
    .icon {
      font-size: 7rem;
      margin-bottom: 2rem;
      color: $gray-dark-1;
      display: block;
    }
  }
  .file-drop-inactive {
    @extend .file-drop;
    border: 1px solid $gray-light;
    .file-drop-content {
      width: 50%;
    }
    .close {
      align-self: center;
      margin-left: rem(5);
      margin-top: rem(-15);
    }
    .file-name {
      margin-top: rem(5);
    }
  }
  input {
    display: none;
  }
}

.users-process-csv {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .icon-circle-group {
    font-size: 100px;
    margin-bottom: 100px;
    color: $gray-light;
  }
  .users-process-content {
    width: 50%;
    display: flex;
    .progressbar {
      flex: 1;
    }
    .close {
      align-self: center;
      margin-left: rem(5);
      margin-top: rem(-15);
    }
  }
  .time-duration {
    margin-top: rem(5);
  }
}

.users-upload-results {
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  .icon-check-mark-success {
    font-size: 100px;
    color: $gray-light;
    align-self: center;
    margin-bottom: 25px;
  }
  .results-container {
    display: inline-flex;
    min-height: 150px;
    .result {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $gray-lightest;
      min-height: 150px;
      position: relative;
      .action-link {
        position: absolute;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-error {
          color: $brand-danger;
          margin-right: 5px;
        }
      }
      & + .result {
        margin-left: 3px;
      }
      .total {
        font-size: 64px;
        line-height: 1;
        font-family: "CiscoSansTT Thin";
      }
      .total-title {
        margin: 0 0 5px;
      }
      &.disabled {
        color: $gray-light;
      }
      &.new-users:not(.disabled) .total {
        color: $brand-success;
      }
      &.existing-users:not(.disabled) .total {
        color: $brand-info;
      }
      &.error-users:not(.disabled) .total {
        color: $brand-danger;
      }
    }
  }
  .results-total {
    align-self: center;
    margin: 20px 0;
  }
  .table-header {
    border: $gray-light solid 1px;
    border-bottom: 0;
    .table {
      border-color: $gray-lightest;
    }
    .table-bordered > thead > tr > th {
      background-color: $gray-lightest;
      color: $gray-darker;
      height: 44px;
      padding: 14px;
      text-align: center;
      font-weight: bold;
    }
  }
  .table-body {
    border: $gray-light solid 1px;
    border-top: 0;
    position: relative;
    top: -1px;
    .table {
      border-width: 0;
    }
    .center {
      text-align: center;
    }
    .table-bordered > tbody > tr > td {
      color: $brand-danger;
      height: 44px;
      padding: 14px;
    }
    .table-bordered > tbody > tr {
      border-top: none;
      border-bottom: $gray-lighter solid 1px;
    }
    .table-bordered > tbody > tr:last-of-type {
      border-bottom: none;
    }
  }
  .error-table {
    min-height: 46px;
    max-height: 360px;
    min-width: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    .table {
      margin-bottom: 0;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > th,
    .table-bordered > tbody > tr > td {
      border-bottom-width: 1px;
      border-right: $gray-light solid 1px;
      font-size: 15px;
    }
    .table-bordered > thead > tr > th:last-of-type,
    .table-bordered > tbody > tr > td:last-of-type {
      border-right: none;
    }
    .table-bordered > thead > tr:last-of-type > th,
    .table-bordered > tbody > tr:last-of-type > td {
      border-bottom-width: 0;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
      border-right: $gray-light solid 1px;
      border-left: none;
      border-top: none;
    }
  }
}

.add-user-container {
  .title-desc {
    color: $gray-darker;
    font-size: 16px;
    padding-bottom: 5px;
  }
  .form-group {
    label {
      color: $gray-darkest;
      font-size: 18px;
      line-height: 24px;
      padding-top: 20px;
    }
    p {
      color: $gray-darker;
      font-size: 14px;
    }
  }
  .wizard-inline-block {
    display: inline-block;
  }
  .installStepHead {
    margin-top: rem(15);
    margin-bottom: rem(15);
  }
  .installStep {
    margin-bottom: rem(1);
  }
  .installStepLast {
    margin-bottom: rem(25);
  }
  .installStepWarning {
    margin-bottom: rem(25);
    .alert-text {
      color: $color-alerts-base;
      font-weight: bold;
    }
  }
}

input#dirDomainText {
  width: 25%;
  left: 2px;
  position: relative;
}

.dirsync-info {
  margin-top: 16px;
  width: 550px;
  display: flex;
  flex-direction: column;
  .ftwdirgridStyle {
    margin-top: 10px;
    height: 200px;
    border: 1px solid lightgray;
    & >:nth-child(2) {
      overflow-x: hidden;
    }
  }
  .sync-dirsync-refresh-button {
    font-size: 12px;
    //font-size: $body-small-font-size;
  }
}

.onboard-label {
  width: 700px;
  margin-top: 15px;
}
