<div>
  <cs-overlay-panel
    class="overlay-panel typeahead-group"
    overlay-title="{{::'locations.createLocation' | translate}}" close="$ctrl.cancelModal()"
    ng-keyup="$ctrl.evalKeyPress($event.keyCode)"
    ng-keypress="$ctrl.enterNextPage($event.keyCode)">

    <cs-setup-assistant previous="$ctrl.previousButton()"
      next="$ctrl.nextButton()"
      next-text="$ctrl.nextText()"
      previous-fn="$ctrl.previousPage()"
      next-fn="$ctrl.nextPage()">

      <form novalidate class="assistant-form" name="$ctrl.form" role="form">
        <!-- Location Name -->
        <div ng-if="$ctrl.getPageIndex() === 0"  ng-class="$ctrl.animation">
          <div class="typeahead-large typeahead-large__no-icon" ng-class="{error: $ctrl.form.locationName.$invalid && $ctrl.form.locationName.$touched}">
            <input class="form-control"
              name="locationName"
              placeholder="{{$ctrl.namePlaceholder}}"
              required
              unique-location
              messages="$ctrl.validationMessages"
              ng-model="$ctrl.locationDetail.name"
              ng-model-options="{updateOn: 'default blur', debounce: { default: 500, blur: 0 } }">
            <p class="input-description">{{'locations.locationDesc' | translate}}</p>
            <div class="cs-input__messages error" ng-messages="$ctrl.form.locationName.$error" role="alert">
              <div ng-repeat="(key, value) in $ctrl.validationMessages" class="message">
                <span ng-message="{{key}}">{{value}}</span>
              </div>
            </div>
          </div>
        </div>

        <!-- Caller ID -->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 1">
          <div class="section__content" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 1">
            <h4 translate="callerIdPanel.title"></h4>
            <div class="sub-section">
              <uc-location-caller-id
                caller-id="$ctrl.locationDetail.callerId"
                show-label="false"
                region-code="$ctrl.huronSettingsData.customerVoice.regionCode"
                external-number-options="$ctrl.settingsOptions.companyCallerIdOptions"
                voicemail-pilot-number="$ctrl.locationDetail.voicemailPilotNumber"
                company-name="$ctrl.huronSettingsData.customerVoice.name"
                on-change-fn="$ctrl.onCallerIdChanged(callerId)">
              </uc-location-caller-id>
            </div>
          </div>
        </div>

        <!-- Time Zone & Preferred Language -->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 2">
          <div class="section__content">
            <h4 translate="serviceSetupModal.regionalSettings"></h4>
            <div class="sub-section">
              <uc-time-zone
                time-zone="$ctrl.locationDetail.timeZone"
                time-zone-options="$ctrl.settingsOptions.timeZoneOptions"
                on-change-fn="$ctrl.onTimeZoneChanged(timeZone)">
              </uc-time-zone>
            </div>
            <div class="sub-section" ng-if="$ctrl.callDateTimeFormat">
              <uc-date-format
                date-format="$ctrl.locationDetail.dateFormat"
                date-format-options="$ctrl.settingsOptions.dateFormatOptions"
                on-change-fn="$ctrl.onDateFormatChanged(dateFormat)">
              </uc-date-format>
            </div>
            <div class="sub-section" ng-if="$ctrl.callDateTimeFormat">
              <uc-time-format
                time-format="$ctrl.locationDetail.timeFormat"
                time-format-options="$ctrl.settingsOptions.timeFormatOptions"
                on-change-fn="$ctrl.onTimeFormatChanged(timeFormat)">
              </uc-time-format>
            </div>
            <div class="sub-section service-setup service-setup-regional-settings">
              <uc-settings-preferred-language
                preferred-language="$ctrl.locationDetail.preferredLanguage"
                preferred-language-options="$ctrl.settingsOptions.preferredLanguageOptions"
                on-change-fn="$ctrl.onPreferredLanguageChanged(preferredLanguage)">
              </uc-settings-preferred-language>
            </div>
            <div class="sub-section service-setup service-setup-regional-settings"
              cr-feature-toggle feature-show="h-regional-tones">
              <uc-default-country
                default-country="$ctrl.locationDetail.country"
                default-country-options="$ctrl.settingsOptions.defaultCountryOptions"
                on-change-fn="$ctrl.onDefaultCountryChanged(defaultCountry)">
              </uc-default-country>
            </div>
          </div>
        </div>

        <!--Extentions and Routing Prefix-->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 3">
          <div class="section__content">
            <h4 translate="serviceSetupModal.internalDialing"></h4>
            <div class="sub-section">
              <uc-routing-prefix
                routing-prefix="$ctrl.locationDetail.routingPrefix"
                on-change-fn="$ctrl.onRoutingPrefixChanged(routingPrefix)">
              </uc-routing-prefix>
            </div>
            <div class="sub-section">
              <uc-extension-range
                steering-digit="$ctrl.locationDetail.steeringDigit"
                extension-length="$ctrl.huronSettingsData.customerVoice.extensionLength"
                number-ranges="$ctrl.huronSettingsData.internalNumberRanges"
                first-time-setup="false"
                on-change-fn="$ctrl.onExtensionRangeChanged(extensionRanges)">
              </uc-extension-range>
            </div>
          </div>
        </div>

        <!-- Steering Digit -->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 4">
          <div class="section__content">
            <h4 translate="serviceSetupModal.externalDialing"></h4>
            <div class="sub-section">
              <uc-outbound-dial-digit
                steering-digit="$ctrl.locationDetail.steeringDigit"
                internal-number-ranges="$ctrl.locationDetail.internalNumberRanges"
                is-terminus-customer="$ctrl.PstnModel.isCustomerExists()"
                on-change-fn="$ctrl.onSteeringDigitChanged(steeringDigit)">
              </uc-outbound-dial-digit>
            </div>
            <div
              class="sub-section"
              ng-if="$ctrl.settingsOptions.dialPlan.supportsSimplifiedNationalDialing || $ctrl.settingsOptions.dialPlan.supportsLocalDialing">
              <uc-dialing-setup
                steering-digit="$ctrl.locationDetail.steeringDigit"
                use-simplified-national-dialing="$ctrl.locationDetail.regionCodeDialing.simplifiedNationalDialing"
                supports-simplified-national-dialing="$ctrl.settingsOptions.dialPlan.supportsSimplifiedNationalDialing"
                supports-local-dialing="$ctrl.settingsOptions.dialPlan.supportsLocalDialing"
                region-code="$ctrl.locationDetail.regionCodeDialing.regionCode"
                is-terminus-customer="$ctrl.PstnModel.isCustomerExists()"
                on-change-fn="$ctrl.onRegionCodeChanged(regionCode, useSimplifiedNationalDialing)">
              </uc-dialing-setup>
            </div>
          </div>
        </div>

        <!-- Voicemail -->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 5">
          <div class="section__content">
            <h4 translate="voicemailPanel.title"></h4>
            <uc-location-voicemail
              display-label="false"
              dial-plan-country-code="$ctrl.settingsOptions.dialPlan.countryCode"
              voicemail-pilot-number="$ctrl.locationDetail.voicemailPilotNumber"
              external-number-options="$ctrl.settingsOptions.companyVoicemailOptions"
              change-fn="$ctrl.onLocationVoicemailChanged(voicemailPilotNumber)"
              number-filter-fn="$ctrl.onVoicemailFilter(filter)">
            </uc-location-voicemail>
          </div>
        </div>

        <!-- Address Validating -->
        <div class="section" ng-class="$ctrl.animation" ng-if="$ctrl.getPageIndex() === 6">
          <div class="section__content">
            <h4 class="left-indent" translate="locations.emergencyServicesTitle"></h4>
            <div ng-if="!$ctrl.addressValidating && $ctrl.addressValidated !== true">
              <hr-service-address
                address="$ctrl.address"
                hide-search="true"
                hide-address="true"
                class="columns row full large-form"
                read-only="$ctrl.readOnly">
              </hr-service-address>
              <button class="btn btn--primary" ng-disabled="$ctrl.form.$invalid" ng-click="$ctrl.validateAddress()">Validate</button>
            </div>
            <div>
              <div class="text-center" ng-show="$ctrl.addressValidating">
                <i class="icon icon-spinner icon-2x text-center"></i>
              </div>
              <div ng-if="$ctrl.addressValidated === true">
                <h6 translate="trialModal.pstn.addrFound"></h6>
                <h5>{{$ctrl.address.streetAddress}} {{$ctrl.address.unit}}</h5>
                <h5>{{$ctrl.address.city}}, {{$ctrl.address.state}}, {{$ctrl.address.zip}}</h5>
                <a href="" class="primary" ng-click="$ctrl.resetAddr()" translate="trialModal.pstn.addrRetry"></a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </cs-setup-assistant>
  </cs-overlay-panel>
</div>
