@import '~collab-ui/scss/tools/placeholders/page-layout';

.cs-setupassistant {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
    &__content {
      margin: 0 auto;
      width: rem-calc(500);
      min-height: 0;
      .btn {
        margin-left: 1rem;
        margin-top: 1rem;
      }
    }
  }
  h4 {
    margin-bottom: 1rem;
  }
}

.assistant-form {
  height: 95%;
}
