<script type="text/ng-template" id="initTemplate.html">
  <a>
    <span ng-bind-html="match.label | typeaheadHighlight:query"></span>
  </a>
</script>
<div class = "paging-initiator-select">
  <div class="typeahead-large">
  <div class = "paging-group-initiator-title">
    <div class="title" translate="pagingGroup.initiatorTitle"></div>
      <div class="desc" translate="pagingGroup.initiatorHint"></div>
      <div class="warning">
        <div class="cs-input__messages pg-init-cs-input__messages">
          <div class="message initiator-warning" translate="pagingGroup.initiatorWarning"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cs-radio-group">
    <input cs-input type="radio"
           ng-model="$ctrl.initiatorType"
           name="initiatorRadio"
           ng-change="$ctrl.onChange()"
           id="public"
           value="PUBLIC"
           cs-input-label="{{:: 'pagingGroup.all' | translate}}">
    <input cs-input type="radio"
           ng-model="$ctrl.initiatorType"
           id="membersonly"
           ng-change="$ctrl.onChange()"
           name="initiatorRadio"
           value="MEMBERS_ONLY"
           cs-input-label="{{:: 'pagingGroup.allMembers' | translate}}">
    <input cs-input type="radio"
           ng-model="$ctrl.initiatorType"
           id="custom"
           ng-change="$ctrl.onChange()"
           name="initiatorRadio"
           value="CUSTOM"
           cs-input-label="{{:: 'pagingGroup.custom' | translate}}">
  </div>
  <input cs-input id="paging-group-initiator"
             type="text"
             ng-model="$ctrl.initiatorName"
             ng-disabled="$ctrl.initiatorType!=='CUSTOM'"
             typeahead="mem as $ctrl.getDisplayNameInDropdown(mem) for mem in $ctrl.fetchInitiators($viewValue) | limitTo: 10"
             typeahead-template-url="userTemplate.html"
             typeahead-on-select="$ctrl.selectInitiators($item)"
             placeholder="{{:: 'pagingGroup.addInitiatorPlaceholder' | translate}}"
             typeahead-min-length="3"
             typeahead-wait-ms="200">
  <div class="pg-header">
    <span class="initiator-count" ng-show="$ctrl.showInitiatorCounts()">
        {{$ctrl.selectedInitiators.length + ('pagingGroup.initiators' | translate)}}
    </span>
  </div>
  <cs-card-layout>
    <cs-card-member
        ng-repeat="member in $ctrl.selectedInitiators"
        cs-type="simple"
        cs-member-type="{{$ctrl.getMemberType(member.member)}}"
        cs-id="member.member.uuid"
        ng-hide="$ctrl.initiatorType!=='CUSTOM'"
        cs-title="$ctrl.getDisplayNameOnCard(member.member)"
        cs-subtitle="$ctrl.getUserName(member.member)"
        cs-image="$ctrl.getMembersPictures(member.member)"
        on-remove="$ctrl.removeMembers(member)"
        delete-aria-label="{{::'common.delete' | translate}}">
    </cs-card-member>
  </cs-card-layout>
</div>
