.center-card-content {
  text-align: center;
}

.abc-cva-selection {
  .ct-sa-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .cs-card article.ct-article {
    height: rem-calc(202px);

    section {
      overflow: visible;
    }
  }
}

.abc-sa-disabled {
  display: block;
  height: calc(100vh - #{($top-bar-height + $page-header-height + $ct-title-height + $ct-desc-height + 100)});
  overflow: auto;

  .cs-card section ul {
    @include vr-spacing(p, 0);
    @include vr-spacing(pb, 1.25);
  }
}

.abc-cva-panel {
  text-align: left;

  .column-small {
    float: left;
    width: 15%;
    padding-left: 5%;
    white-space: normal;
  }

  .column-large {
    float: left;
    width: 85%;
    line-height: 100%;
    font-size: 0.875rem;
    @include vr-spacing(pl, 0.5);
    @include vr-spacing(pr, 3.75);
    white-space: normal;
  }

  .column-not-padded {
    float: left;
    width: 98%;
    @include vr-spacing(pl, 0.25);
  }

  .column-icon {
    vertical-align: middle;
    float: left;
    width: 2%;
    line-height: 100%;
    @include vr-spacing(pl, 0.5);
    @include vr-spacing(pt, 0.5);
    &:focus {
      color: $blue-base;
    }
    &:focus:hover {
      color: $blue-base;
    }
    &:hover {
      color: $blue-base;
    }
  }
}

.abc-cva-panel-padding {
  @include vr-spacing(pt, 1);
  @include vr-spacing(pr, 0);
  @include vr-spacing(pb, 1.25);
}


.abc-card {
  @include vr-spacing(pl, 1.5);

  .medium-input {
    width: 90%;
  }

  .error-line {
    color: $red;

    .icon {
      vertical-align: middle;
    }
  }

  .error-input {
    width: 90%;
    border-radius: 3px;
    border:solid rem(1px) $red;
    background: $red-light;
    color: $gray-1;
    &:focus {
      box-shadow: none;
      border:solid rem(1px) $red;
      background: $white;
    }
  }
}

.abc-card-center {
  justify-content: center;
  width: 100% !important;

  .button-validate {
    @include vr-spacing(pr, 3.25);
  }
}

.abc-card-spacing {
  @include vr-spacing(pt, 1);
}

.abc-business-id {
  .ct-sa-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .business-id-box {
    @include vr-spacing(mt, 0);
    @include vr-spacing(pl, 2.5);
    @include vr-spacing(pr, 6.5);
    @include vr-spacing(pb, 1);
    max-width: rem-calc(612px);
    width: rem-calc(612px);
    text-align: left;

    .input-label {
      @include vr-spacing(mv, 1.25);
      @include vr-spacing(mb, .75);
    }

    .input-row {
      @include vr-spacing(mv, 1);

      input {
        width: rem-calc(464px);
      }
    }

    .abc-link {
      font-size: rem-calc(14px);
    }
  }
}

.abc-status-messages {

  .cs-card {
    max-width: rem-calc(575px);
    max-height: rem-calc(400px);
    @include vr-spacing(mt, 5);
  }

  .ct-attribute-field-textbox-large {
    @include placeholder($line-height-large);

    font-family: $brand-font-cisco-TT-Light;
    width: 100%;
    height: 4rem;
    resize: none;
  }

  .ct-attribute-section {
    display: flex;
    flex-flow: column;
    background-color: $gray-light-4;
    height: rem-calc(350px);
    @include vr-spacing(ph, 1.3);
  }
}
