<div class="helpdesk-app-container">
  <cs-header navstyle="" headertitle="{{'helpdesk.navHeaderTitle' | translate}}" icon="icon-cisco-logo">
    <cs-header-left>
    </cs-header-left>
    <cs-header-right>
      <div ng-if="!helpdeskCtrl.isProd" cs-dropdown class="user-info dropdown">
        <button cs-dropdown-toggle class="btn--user dropdown-toggle" ng-click="helpdeskCtrl.populateHistory()" tabindex="0">
          <i class="icon icon-clock" style="font-size:1.5rem;color:lightgrey;"></i>
        </button>
        <ul cs-dropdown-menu class="helpdesk-history-dropdown-menu" role="menu">
          <li ng-if="helpdeskCtrl.searchHistory.length <= 0">
          <small>
	          <strong>{{'helpdesk.history.nohistory' | translate}}</strong>
          </small>
          </li>
          <li ng-repeat="search in helpdeskCtrl.searchHistory track by $index" tabindex="{{$index + 1}}">
            <div ng-click="helpdeskCtrl.loadSearch(search)">
              <small>
                <strong>{{search.searchString}}</strong>
              </small>
              <div ng-if="search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length === 1">
                <small>1 {{'helpdesk.history.singlematch' | translate}}</small>
              </div>
              <div ng-if="search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length > 1">
                <small>{{search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length}} {{'helpdesk.history.matches' | translate}}</small>
              </div>
            </div>
          </li>
          <li ng-if="helpdeskCtrl.searchHistory.length > 0">
	        <div ng-click="helpdeskCtrl.clearSearchHistory()">         
	         <span class="clear-history"><small>{{'helpdesk.history.clear' | translate}}</small></span>
	        </div>
          </li>
        </ul>
      </div>
      <div cs-dropdown class="user-info dropdown">
        <button class="btn--user" ng-click="helpdeskCtrl.showSearchHelp()" tabindex="-1">
          <!-- TODO: should avoid inline css -->
          <i class="icon icon-help" style="font-size:2rem;color:lightgrey;"></i>
        </button>
      </div>
      <cr-user-info></cr-user-info>
    </cs-header-right>
  </cs-header>
  <div class="helpdesk-content-view" ui-view=""></div>
</div>

