.helpdesk-app-container {
  background-color: $brand-white;
  height: 100%;
  overflow: hidden;
}
.helpdesk-content-view {
  background-color: $brand-white;
  height: 100%;
  min-height: 100vh;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 4rem;
  p {
    margin-bottom: 1rem;
  }
  .user-view {
    .vw-90 {
      max-width: 90vw;
    }
    .user-info {
      margin-bottom: 0.5rem;
      font-size: 0.875rem;
      .action {
        padding: 2px;
        width: 5rem;
      }
      span {
        font-size: inherit;
      }
      .user-value {
      }
    }
    .display-name {
      margin-bottom: 0.5rem;
    }
    .head {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
  }
}
.helpdesk-landing {
  padding-top: 1rem;
  text-align: center;
  table {
    tbody {
      tr {
        border-top: transparent;
      }
      td a,
      .td a {
        color: $anchor-font-color;
      }
      td a:hover,
      .td a:hover {
        color: $anchor-font-color-hover;
      }
    }
    margin-left: auto;
    margin-right: auto;
  }
  .card-section {
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
  }
  h1 {
    margin-bottom: 1rem;
    color: $color-primary-base;
  }
  h2 {
    margin-bottom: 1rem;
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1rem;
  }
  .no-top-margin {
    margin-top: 0;
  }
  .typeahead-large .input-description:before {
    display: none;
  }
  .typeahead-large {
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .icon-search {
      position: absolute;
      right: 0;
      font-size: 1rem;
      width: 2.5rem;
      height: 2.5rem;
    }
    .helpdesk-tile {
      height: 2.25rem;
      padding: 0.5rem;
      margin: 0.125rem 0.5rem 0.125rem 0;
      border: 1px solid $gray-lighter;
      border-radius: 0.25rem;
      color: $brand-white;
      background-color: $brand-primary;
      display: inline-block;
      vertical-align: top;
      transition: all 0.2s ease-in-out;
      &:hover {
        background-color: $gray;
      }
      .icon {
        float: right;
        font-size: 1rem;
        margin-left: 0.5rem;
      }
    }
  }
  .search-results {
    .cs-card:first-child {
      margin-top: 0;
    }
    .cs-card {
      header {
        h5, h5 a {
          padding-left: 0.5rem;
          font-size: 0.875rem;
          font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
          color: $gray-dark-3;
        }
      }
      section {
        div,
        span {
          font-family: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
    }
    .cs-card{
      .clickable-area{
        display: block;
        background-color: rgba(0,0,0,0);
        width: 85%;
        height: 53px;
        position: absolute;
        top: 0;
      }
    }
    .cs-card:hover {
      article {
        border: 1px solid $brand-primary;
      }
    }
    .cs-card article:focus {
      outline: none !important;
      outline: 0 !important;
      border: 1px solid $brand-primary;
    }
    .cs-card:active {
      article {
        background-color: $brand-primary;
        color: white !important;
        header {
          h4,
          h5,
          * {
            color: white !important;
          }
        }
      }
    }
  }
}

.helpdesk-cards {
  .cs-card section {
    text-align: left;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    overflow: hidden;
  }
}

.helpdesk-red {
  color: $color-negative-base;
}
.helpdesk-green {
  color: $color-cta-base;
}
.helpdesk-grey {
  color: $gray-base;
}
.helpdesk-yellow {
  color: $color-attention-base;
}
