<div class="helpdesk-app-container">
  <cs-header navstyle="" headertitle="{{'helpdesk.navHeaderTitle' | translate}}" icon="icon-cisco-logo">
    <cs-header-left>
    </cs-header-left>
    <cs-header-right>
      <div cs-dropdown class="sparkstatus-info dropdown">
        <button cs-dropdown-toggle class="btn-sparkstatus dropdown-toggle" tabindex="0">
          <span class="fa fa-circle" ng-class="{unknown:  'helpdesk-grey', error: 'helpdesk-error', major_outage: 'helpdesk-error', warning: 'helpdesk-warning', partial_outage: 'helpdesk-yellow', operational: 'helpdesk-ok', degraded_performance:'helpdesk-yellow'}[helpdeskHeaderCtrl.overallSparkStatus]">
          </span>
        </button>
        <div cs-dropdown-menu class="helpdesk-spark-status-dropdown-menu" role="menu">
          <div class="header" >
            <b translate="helpdesk.sparkStatus"></b>&nbsp;&nbsp;&nbsp;&nbsp;
            <a ng-href="{{helpdeskHeaderCtrl.statusPageUrl}}" target="_blank">{{helpdeskHeaderCtrl.statusPageUrl}}</a>
          </div>
          <div class="content">
            <div ng-repeat="health in helpdeskHeaderCtrl.healthMetrics">
              <div ng-href="{{helpdeskHeaderCtrl.statusPageUrl}}" target="_blank">
                <span class="fa fa-circle"  ng-class="{unknown:  'helpdesk-grey', error: 'helpdesk-error', major_outage: 'helpdesk-error', warning: 'helpdesk-warning', partial_outage: 'helpdesk-yellow', operational: 'helpdesk-ok', degraded_performance:'helpdesk-yellow'}[health.status]"></span>&nbsp;&nbsp;
                {{health.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div cs-dropdown class="history-info dropdown">
        <button cs-dropdown-toggle class="btn-history dropdown-toggle" ng-click="helpdeskHeaderCtrl.populateHistory()" tabindex="0">
          <i class="icon icon-clock"></i>
        </button>
        <ul cs-dropdown-menu class="helpdesk-history-dropdown-menu" role="menu">
          <li ng-if="helpdeskHeaderCtrl.searchHistory.length <= 0">
	          <strong>{{'helpdesk.history.nohistory' | translate}}</strong>
          </li>
          <li ng-repeat="search in helpdeskHeaderCtrl.searchHistory track by $index" tabindex="{{$index + 1}}">
            <div class="search-result" ng-click="helpdeskHeaderCtrl.loadSearch(search)">
                <strong>{{search.searchString}}</strong>
              <div ng-if="search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length === 1">
                1 {{'helpdesk.history.singlematch' | translate}}
              </div>
              <div ng-if="search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length > 1">
                {{search.userSearchResults.length + search.orgSearchResults.length + search.deviceSearchResults.length}} {{'helpdesk.history.matches' | translate}}
              </div>
            </div>
          </li>
          <li ng-if="helpdeskHeaderCtrl.searchHistory.length > 0">
	        <div ng-click="helpdeskHeaderCtrl.clearSearchHistory()">
	         <span class="clear-history">{{'helpdesk.history.clear' | translate}}</span>
	        </div>
          </li>
        </ul>
      </div>

      <cr-user-info></cr-user-info>

    </cs-header-right>
  </cs-header>
  <div class="helpdesk-content-view" ui-view=""></div>
</div>
