<div class="org-view user-view helpdesk-org">
  <div class="row head full">
    <div class="columns large-12">
      <a ui-sref="helpdesk.search">
        <i class="icon icon-back icon-lg"></i>
        <span translate="helpdesk.backToSearchResults"></span>
      </a>
    </div>
  </div>

  <div class="row full">
    <div class="columns large-4 medium-5">

      <h3>{{helpdeskOrgCtrl.org.displayName}}</h3>

      <div class="customer-or-partner">
        <span ng-if="!helpdeskOrgCtrl.org.isPartner" translate="helpdesk.customer"></span>
        <span ng-if="helpdeskOrgCtrl.org.isPartner" translate="helpdesk.partner"></span>
        <span ng-if="helpdeskOrgCtrl.delegatedAdministration"> ({{helpdeskOrgCtrl.delegatedAdministration}})</span>
      </div>
      <div class="row">
        <div class="medium-5 columns">
          <p>{{'common.id' | translate}}:</p>
        </div>
        <div class="medium-7 columns org-value">
          <span>{{helpdeskOrgCtrl.org.id}}</span>
        </div>
      </div>

      <div class="row" ng-if="helpdeskOrgCtrl.org.email">
        <div class="large-5 columns">
          <p>{{'helpdesk.contact' | translate}}:</p>
        </div>
        <div class="large-7 columns org-value">
          <span><a href="mailto:{{helpdeskOrgCtrl.org.email}}">{{helpdeskOrgCtrl.org.email}}</a></span>
        </div>
      </div>

      <div class="row">
        <div class="large-5 columns">
          <p>{{'helpdesk.claimedDomain' | translate}}:</p>
        </div>
        <div class="large-7 columns org-value">
          <span ng-repeat="domain in helpdeskOrgCtrl.org.domains">
            {{domain}}{{$last ? '' : ', '}}
          </span>
          <span ng-if="!helpdeskOrgCtrl.org.domains" translate="helpdesk.none"></span>
        </div>
      </div>

      <div class="row" ng-if="helpdeskOrgCtrl.org.webExSites">
        <div class="large-5 columns">
          <p>{{'helpdesk.webexsites' | translate}}:</p>
        </div>
        <div class="large-7 columns org-value">
          <span ng-repeat="site in helpdeskOrgCtrl.org.webExSites">
            {{site.siteUrl}}{{$last ? '' : ', '}}
          </span>
          <span ng-if="helpdeskOrgCtrl.org.webExSites.length == 0" translate="helpdesk.none"></span>
        </div>
      </div>

      <div class="row" ng-if="helpdeskOrgCtrl.org.managedByOrgs && helpdeskOrgCtrl.org.managedByOrgs.length > 0">
        <div class="medium-5 columns">
          <p>{{'helpdesk.managedBy' | translate}}:</p>
        </div>
        <div class="medium-7 columns org-value">
          <div ng-repeat="managingOrg in helpdeskOrgCtrl.org.managedByOrgs">
            <span>
              <a ui-sref="helpdesk.org({org:managingOrg})">
                {{managingOrg.displayName}}
              </a>
            </span>
          </div>
        </div>
      </div>

    </div>

    <div class="columns large-8 medium-7 card-panel" ng-include src="'modules/squared/helpdesk/org-cards.html'">

    </div>

  </div>


</div>
