<cs-card-layout block-view="true" class="helpdesk-cards">
  <cs-card class="large header-bar primary" ng-if="helpdeskOrgCtrl.messageCard.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-message"/>
          {{'helpdesk.message' | translate}}
        </h4>
      </header>
      <section>
      </section>
      <footer class="org-card-footer">
        <span><i class="icon icon-circle right" ng-class="helpdeskOrgCtrl.healthStatuses.message"></i></span>
      </footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar meetings" ng-show="helpdeskOrgCtrl.meetingCard.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-group"/>
          {{'helpdesk.meeting' | translate}}
        </h4>
      </header>
      <section>
      </section>
      <footer class="org-card-footer">
        <span><i class="icon icon-circle right" ng-class="helpdeskOrgCtrl.healthStatuses.meeting"></i></span>
      </footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar people" ng-show="helpdeskOrgCtrl.callCard.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-call"/>
          {{'helpdesk.call' | translate}}
        </h4>
      </header>
      <section>
      </section>
      <footer class="org-card-footer">
        <span><i class="icon icon-circle right" ng-class="helpdeskOrgCtrl.healthStatuses.call"></i></span>
      </footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar grey" ng-show="helpdeskOrgCtrl.roomSystemsCard.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-telepresence"/>
          {{'helpdesk.rooms' | translate}}
        </h4>
      </header>
      <section>
      </section>
      <footer class="org-card-footer">
        <span><i class="icon icon-circle right" ng-class="helpdeskOrgCtrl.healthStatuses.room"></i></span>
      </footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar cta" ng-show="helpdeskOrgCtrl.hybridServicesCard.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-world"/>
          {{'helpdesk.hybridServices' | translate}}
        </h4>
      </header>
      <section>
        <h5 translate="helpdesk.enabledServices"></h5>

        <div ng-repeat="hybridService in helpdeskOrgCtrl.hybridServicesCard.enabledHybridServices">
          <span><i class="icon icon-circle"
                   ng-class="hybridService.status ? ('helpdesk-' + hybridService.status) : 'helpdesk-grey'"></i>
          </span>
          <span translate="{{'hercules.serviceNames.' + hybridService.id}}"></span>
        </div>
        <div
          ng-if="!helpdeskOrgCtrl.hybridServicesCard.enabledHybridServices || helpdeskOrgCtrl.hybridServicesCard.enabledHybridServices.length === 0">
          <span translate="helpdesk.none"></span>
        </div>

        <h5 translate="helpdesk.availableServices"></h5>

        <div
          ng-if="!helpdeskOrgCtrl.hybridServicesCard.availableHybridServices || helpdeskOrgCtrl.hybridServicesCard.availableHybridServices.length === 0">
          <span translate="helpdesk.none"></span>
        </div>
        <div ng-repeat="hybridService in helpdeskOrgCtrl.hybridServicesCard.availableHybridServices">
          <span ng-if="hybridService.id != 'squared-fusion-uc'"
                translate="{{'hercules.serviceNames.' + hybridService.id}}"></span>
          <span ng-if="hybridService.id == 'squared-fusion-uc'"
                translate="hercules.serviceNames.squared-fusion-uc.full"></span>
        </div>
      </section>
      <footer class="org-card-footer">
        <span><i class="icon icon-circle right" ng-class="helpdeskOrgCtrl.healthStatuses.hybrid"></i></span>
      </footer>
    </article>
  </cs-card>

  <cs-card class="large">
    <article>
      <header class="align-center">
        <h4 translate="helpdesk.users"></h4>
      </header>
      <section>
        <div>
          <span><i class="icon icon-circle"
                   ng-class="helpdeskOrgCtrl.org.dirsyncEnabled ? 'helpdesk-green' : 'helpdesk-grey'"></i></span>
          <span translate="helpdesk.dirSync"></span>
        </div>
        <div>
          <span><i class="icon icon-circle"
                   ng-class="helpdeskOrgCtrl.org.ssoEnabled ? 'helpdesk-green' : 'helpdesk-grey'"></i></span>
          <span translate="helpdesk.sso"></span>
        </div>
      </section>
      <footer></footer>
    </article>
  </cs-card>
</cs-card-layout>
