<cs-card-layout block-view="true" class="helpdesk-cards">
  <cs-card class="large header-bar primary" ng-if="helpdeskUserCtrl.messaging.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-message icon-lg"></i>
          Message
        </h4>
      </header>
      <section>
        <h5>Entitlements</h5>

        <div ng-repeat="entitlement in helpdeskUserCtrl.messaging.entitlements">
          <span>{{entitlement}}</span>
        </div>
      </section>
      <footer></footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar meetings" ng-if="helpdeskUserCtrl.meeting.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-group icon-lg"></i>
          Meeting
        </h4>
      </header>
      <section>
        <h5>Entitlements</h5>

        <div ng-repeat="entitlement in helpdeskUserCtrl.meeting.entitlements">
          <span>{{entitlement}}</span>
        </div>
      </section>
      <footer></footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar people" ng-if="helpdeskUserCtrl.call.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-call icon-lg"></i>
          Call
        </h4>
      </header>
      <section>
        <h5>Entitlements</h5>

        <div ng-repeat="entitlement in helpdeskUserCtrl.call.entitlements">
          <span>{{entitlement}}</span>
        </div>
      </section>
      <footer></footer>
    </article>
  </cs-card>

  <cs-card class="large header-bar" ng-if="helpdeskUserCtrl.hybrid.entitled">
    <article>
      <header class="align-center">
        <h4>
          <i class="icon icon-circle-world icon-lg"></i>
          Hybrid Services
        </h4>
      </header>
      <section>
        <div ng-if="helpdeskUserCtrl.hybrid.cal.entitled">
          <h5 translate="hercules.serviceNames.squared-fusion-cal"></h5>
          <span ng-if="!helpdeskUserCtrl.hybrid.cal.status" translate="common.on"></span>
          <span ng-if="helpdeskUserCtrl.hybrid.cal.status"
                translate="hercules.activationStatus.{{helpdeskUserCtrl.hybrid.cal.status.collapsedState}}"></span>
        </div>
        <div ng-if="helpdeskUserCtrl.hybrid.uc.entitled">
          <h5 translate="hercules.serviceNames.squared-fusion-uc"></h5>
          <span ng-if="!helpdeskUserCtrl.hybrid.uc.status" translate="common.on"></span>
          <span ng-if="helpdeskUserCtrl.hybrid.uc.status"
                translate="hercules.activationStatus.{{helpdeskUserCtrl.hybrid.uc.status.collapsedState}}"></span>
        </div>
        <div ng-if="helpdeskUserCtrl.hybrid.ec.entitled">
          <h5 translate="hercules.serviceNames.squared-fusion-ec"></h5>
          <span ng-if="!helpdeskUserCtrl.hybrid.ec.status" translate="common.on"></span>
          <span ng-if="helpdeskUserCtrl.hybrid.ec.status"
                translate="hercules.activationStatus.{{helpdeskUserCtrl.hybrid.ec.status.collapsedState}}"></span>
        </div>
      </section>
      <footer></footer>
    </article>
  </cs-card>
</cs-card-layout>
