<div class="ui-grid-cell-contents align-left status-column">
<div ng-switch="row.entity.clusterStatus">
  <div ng-switch-when="UNASSIGNED">
    <i class="icon icon-circle status-indicator danger"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.unassigned' | translate}}</span>
  </div>
  <div ng-switch-when="NO_AGENT_RUNNING">
    <i class="icon icon-circle status-indicator danger"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.noAgentRunning' | translate}}</span>
  </div>
  <div ng-switch-when="AGENT_OFFLINE">
    <i class="icon icon-circle status-indicator danger"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.agentOffline' | translate}}</span>
  </div>
  <div ng-switch-when="FAILED_UPGRADE">
    <i class="icon icon-circle status-indicator danger"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.failedUpgrade' | translate}}</span>
  </div>
  <div ng-switch-when="SOFTWARE_PROFILE_NOT_ASSIGNED">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swProfileNotAssigned' | translate}}</span>
  </div>
  <div ng-switch-when="NODES_NEED_ACCEPTANCE">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.needsAcceptance' | translate}}</span>
  </div>
  <div ng-switch-when="SOFTWARE_PROFILE_DOES_NOT_COVER_ALL_APPLICATIONS">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swProfileNotCoverAll' | translate}}</span>
  </div>
  <div ng-switch-when="SOFTWARE_VERSION_MISMATCH">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swVersionMismatch' | translate}}</span>
  </div>
  <div ng-switch-when="SOFTWARE_UPGRADE_NEEDED">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.swUpgradeNeeded' | translate}}</span>
  </div>
  <div ng-switch-when="NEED_TO_UPDATE_BATCH_NUMBER">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.needToUpdateBatchNumber' | translate}}</span>
  </div>
  <div ng-switch-when="UPGRADE_SCHEDULED">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeScheduled' | translate}}</span>
  </div>
  <div ng-switch-when="UPGRADE_IN_PROGRESS">
    <i class="icon icon-circle status-indicator warning"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.upgradeInProgress' | translate}}</span>
  </div>
  <div ng-switch-when="OPERATIONAL">
    <i class="icon icon-circle status-indicator success"></i>
    <span class="h6">{{::'hcs.clusterDetail.nodeStatus.operational' | translate}}</span>
  </div>
  <div ng-switch-default>
    <i class="icon icon-circle"></i>
    <span translate="common.unknown"></span>
  </div>
</div>
</div>
