<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()">
    <span class="sr-only" translate='common.close'></span>
  </button>
  <h3 class="modal-title">{{pstnToS.carrier.logoAlt}} <span translate="pstnSetup.tos.title"></span></h3>
</div>

<div class="modal-body">
  <div class="pstn-tos-loading" ng-if="!pstnToS.initComplete">
    <i class="icon icon-spinner"></i>
  </div>
  <div class="pstn-tos" ng-if="pstnToS.initComplete">
    <div class="intelepeer">
      <img class="logo" src="{{pstnToS.carrier.logoSrc}}" alt="{{pstnToS.carrier.logoAlt}}">
      <p class="copyright" translate="pstnSetup.tos.copyright"></p>
      <p class="description" translate="pstnSetup.tos.info"></p>
    </div>
    <div>
      <p class="noticeTitle" translate="pstnSetup.tos.noticeTitle"></p>
      <p class="notice" translate="pstnSetup.tos.notice"></p>
      <p class="viewTos"><a translate="pstnSetup.tos.viewTos" href="{{pstnToS.tosUrl}}" target="_blank"></a></p>
      <p class="confirm" translate="pstnSetup.tos.confirmHeading"></p>
      <form name="pstnToS.form">
        <div class="name">
          <div>
            <label class="cs-input__label" for="input-fname" translate="common.firstName"></label>
            <input
              id="input-fname"
              class="cs-input"
              type="text"
              ng-model="pstnToS.firstName"
              maxlength="50"
              required>
          </div>
          <div>
            <label class="cs-input__label" for="input-lname" translate="common.lastName"></label>
            <input
              id="input-lname"
              class="cs-input"
              type="text"
              ng-model="pstnToS.lastName"
              maxlength="50"
              required>
          </div>
        </div>
        <div class="email">
          <label class="cs-input__label" for="input-email" translate="common.email"></label>
          <input
            id="input-email"
            class="cs-input"
            type="email"
            ng-model="pstnToS.email"
            maxlength="254"
            required>
        </div>
      </form>
      <p class="agree" translate="pstnSetup.tos.agreeInstructions" ng-if="!pstnToS.showCanadaThinkTelLegal"></p>
      <p class="agree" translate="pstnSetup.tos.agreeInstructionsCanadaThinkTel" ng-if="pstnToS.showCanadaThinkTelLegal"></p>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    class="btn"
    ng-click="$dismiss()"
    translate="common.cancel"
    ng-disabled="pstnToS.loading"></button>
  <button
    cs-btn
    class="btn btn--primary"
    loading="pstnToS.loading"
    ng-click="pstnToS.onAgreeClick()"
    ng-disabled="pstnToS.form.$invalid"><span translate="common.agree"></span></button>
</div>