cluster-sidepanel-overview {
  display: block;

  .cs-input__help-text {
    margin-top: 3px;
  }

  cs-statusindicator {
    padding-right: 4px;
  }
}

.tooltip[popup-class="cluster-name"] .c-nub {
  font-size: small;
  white-space: normal;
  word-wrap: break-word;
  max-width: 300px;
}
