@import 'mySubscriptions/_mySubscription';

#my-company-info{
  display: block;
  background-color: white;
  min-height: 100vh;
}

.btn--myCompany{
  .icon{
    position: static !important;
    margin-left: 0.75rem !important;
  }
}

.company-left-tabs{
  position: relative;
  top: 4px;
  .page-header__left{
    display: none;
  }
  .page-header__right{
    @include vr-spacing(mt, 0.75);
    @include vr-spacing(mh, 0);
    order: -1;
    li.current.active:first-of-type a.nav-link {
      @include vr-spacing(ml, 0);
    }
    li.current.active a.nav-link, li a.nav-link {
      @include vr-spacing(pb, 0.5);
    }
  }
}
