<form class="cs-form" id="my-company-info">
  <div class="cs-form__section">
    <!-- company name / account number -->
    <div class="section__info">
      <h4 class="section__title" translate="partnerProfile.companyInfo"></h4>
    </div>
    <div class="section__content">
      <article>
        <div class="form-group">
          <!-- <div class="columns small-4"> -->
          <label for="company-name" translate="partnerProfile.name"></label>
          <input class="form-control" name="test2" type="text" ng-model="mcpInfo.companyName" disabled="true"
                 id="company-name">
          <!-- </div> -->
        </div>
        <div class="form-group">
          <!-- <div class="columns small-4"> -->
          <label for="company-id" translate="partnerProfile.id"></label>
          <input id="company-id" class="form-control" type="text" ng-model="mcpInfo.accountNumber" disabled="true">
          <!-- </div> -->
        </div>
      </article>
    </div>
  </div>

  <!-- cisco rep -->
  <div class="cs-form__section" ng-if="mcpInfo.showSupportContacts">
    <div class="section__info">
      <h4 class="section__title" ng-if="mcpInfo.isPartner" translate="partnerProfile.ciscoRep"></h4>
      <h4 class="section__title" ng-if="!mcpInfo.isPartner" translate="customerProfile.supportContacts"></h4>
    </div>
    <div class="section__content">
      <div ng-show="mcpInfo.showSupportContacts" class="form-spacing">
        <h4 ng-if="mcpInfo.isPartner" translate="partnerProfile.ciscoRep"></h4>
        <h4 ng-if="!mcpInfo.isPartner" translate="customerProfile.supportContacts"></h4>
        <div ng-repeat="representative in mcpInfo.representatives">
          <span class="rep-info"><strong>{{representative.name.givenName | translate}} {{representative.name.familyName | translate}}</strong></span>,
          <span class="rep-info">{{representative.displayName}}</span> <br>
          <span class="rep-info">{{representative.userName}}</span><br>
        </div>
        <div ng-if="!mcpInfo.isPartner && mcpInfo.partner !== null">
          <h4 translate="customerProfile.partnerAdmin"></h4>
          <div ng-repeat="partner in mcpInfo.partners">
            <span class="rep-info"><strong>{{partner.displayName}}</strong></span> <br>
            <span class="rep-info">{{partner.userName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
