<div class="status cmc-user-list">

  <div ng-if="$ctrl.status.status === 'ok'">
    <div class="ok">
      CMC status for organization is OK !
    </div>
  </div>

  <div ng-if="$ctrl.status.status === 'error'">
    <div class="error">CMC status is NOT OK:</div>
    <div ng-repeat="issue in $ctrl.status.issues">
      {{issue.message}} [{{issue.code}}] (mock)
    </div>
  </div>

  <div ng-if="$ctrl.error">
    <div class="error">ERROR: CMC status check not performed because:</div>
    <div>{{$ctrl.error.message}}</div>
  </div>

  <div>
    {{$ctrl.userStatusesSummaryText}}
    <div class="gridStyle col-md-12" ui-grid="$ctrl.gridOptions"></div>
  </div>
</div>
