<div class="status-page">


  <div class="org-status">

    <div class="row state-header">
      <div class="columns large-6">
        <span translate="cmc.statusPage.sparkMobileConvergence" />
      </div>
      <div class="columns large-6">
        <span translate="cmc.statusPage.serviceStatus" />
      </div>
    </div>
    <div class="row state-body">
      <div class="columns large-6">
        <i class="icon icon-circle-globe" /> {{$ctrl.orgName}}
      </div>
      <div class="columns large-6">
        <div ng-if="$ctrl.status.status === 'ok'">
          <span>
            <i class="icon icon-circle success"/>
          </span> Active
        </div>
        <div ng-if="$ctrl.status.status === 'error'">
          <i class="icon icon-circle error" />
          <span>Issues [{{$ctrl.status.issues.length}}]:</span>
          <div ng-repeat="issue in $ctrl.status.issues">
            {{issue.message}} [{{issue.code}}]
          </div>
        </div>
      </div>
    </div>

  </div>

  <h4 style="float: right; margin: 1.5rem 1.5rem;">User Status Report</h4>
  <hr/>
  <div style="margin: 0.5rem 2rem;">
    <cs-searchfilter filters="$ctrl.filters" search-item-fn="$ctrl.filterList(searchStr)">
    </cs-searchfilter>
  </div>

  <!--
  <div class="stats">
    <div class="vertical-space" />
    <div>
      User Status
    </div>
    <div>
      <span>Activated: {{$ctrl.userStatuses.length}}</span>
    </div>
  </div>
  -->
  <div class="user-status">
    <div>
      {{$ctrl.userStatusesSummaryText}}
      <div class="gridStyle col-md-12 user-status-grid" ui-grid="$ctrl.gridOptions"></div>
    </div>
  </div>
</div>
