<div class="status-page">
  <div class="org-status">

    <div class="row state-header">
      <div class="columns large-6">
        <span translate="cmc.statusPage.sparkMobileConvergence" />
      </div>
      <div class="columns large-6">
        <span translate="cmc.statusPage.table.serviceStatus" />
      </div>
    </div>
    <div class="row state-body">
      <div class="columns large-6">
        <i class="icon icon-circle-globe" /> {{$ctrl.orgName}}
      </div>
      <div class="columns large-6">
        <div ng-if="$ctrl.status.status === 'ok'">
          <span>
            <i class="icon icon-circle success"/>
          </span> Active
        </div>
        <div ng-if="$ctrl.status.status === 'error'">
          <i class="icon icon-circle error" />
          <span>Issues [{{$ctrl.status.issues.length}}]:</span>
          <div ng-repeat="issue in $ctrl.status.issues">
            {{issue.message}} [{{issue.code}}]
          </div>
        </div>
      </div>
    </div>

  </div>

  <h4 class="sub-header" translate="cmc.statusPage.subHeading"></h4>
  <hr/>
  <div class="search-filter">
    <cs-searchfilter filters="$ctrl.filters" search-item-fn="$ctrl.filterList(searchStr)">
    </cs-searchfilter>
  </div>

  <div class="user-status">
    <div>
      {{$ctrl.userStatusesSummaryText}}
      <!--<div style="position:relative">-->
        <div class="col-md-12 user-status-grid" ui-grid-infinite-scroll ui-grid="$ctrl.gridOptions"></div>
      <!--</div>-->
    </div>
  </div>
</div>
