<div class="loading" ng-if="$ctrl.loading">
  <i class="icon icon-spinner"></i>
</div>

<form name="$ctrl.form" novalidate  ng-if="!$ctrl.loading" class="bsft-site-setup">
  <div class="container-fluid service-setup-container">
    <h4 ng-if="!$ctrl.editing && $ctrl.site.defaultLocation" class="title-margin" translate="broadCloud.site.setupDefault"></h4>
    <h4 ng-if="$ctrl.editing && $ctrl.site.defaultLocation" class="title-margin" translate="broadCloud.site.editDefault"></h4>
    <h4 ng-if="!$ctrl.editing && !$ctrl.site.defaultLocation" class="title-margin" translate="broadCloud.site.setup"></h4>
    <h4 ng-if="$ctrl.editing && !$ctrl.site.defaultLocation" class="title-margin" translate="broadCloud.site.edit"></h4>
    <h6 class="later-margin" translate="broadCloud.site.editLater"></h6>
    <input
      ng-if="!$ctrl.site.defaultLocation"
      cs-input
      type="checkbox"
      ng-model="$ctrl.makeDefault"
      id="defaultLocation"
      name="defaultLocation"
      cs-input-label="{{'broadCloud.site.makeDefault' | translate}}">
    <div class="row full service-setup">
      <bsft-site-name
        name="$ctrl.site.name"
        on-change-fn="$ctrl.onSiteNameChanged(name)">
      </bsft-site-name>
    </div>
    <div class="row full service-setup">
      <bsft-site-address
        address1="$ctrl.site.address.address1"
        address2="$ctrl.site.address.address2"
        on-change-fn="$ctrl.onSiteAddressChanged(address1, address2)">
      </bsft-site-address>
    </div>
    <div class="row full service-setup">
      <bsft-site-city
        city="$ctrl.site.address.city"
        on-change-fn="$ctrl.onSiteCityChanged(city)">
      </bsft-site-city>
    </div>
    <div class="row full service-setup">
      <bsft-site-zipcode
        zipcode="$ctrl.site.address.zipcode"
        on-change-fn="$ctrl.onSiteZipcodeChanged(zipcode)">
      </bsft-site-zipcode>
    </div>
    <div class="row full service-setup">
      <bsft-site-state
        state="$ctrl.site.address.state"
        on-change-fn="$ctrl.onSiteStateChanged(state)">
      </bsft-site-state>
    </div>
    <div class="row full service-setup">
      <bsft-site-country
        country="$ctrl.site.address.country"
        on-change-fn="$ctrl.onSiteCountryChanged(country)">
      </bsft-site-country>
    </div>
    <div class="row full service-setup time-zone-margin">
      <uc-time-zone
        time-zone="$ctrl.site.timeZone"
        time-zone-options="$ctrl.timeZoneOptions"
        disable-description-text="true"
        on-change-fn="$ctrl.onTimeZoneChanged(timeZone)">
      </uc-time-zone>
    </div>
    <h4 class="location-contact-margin" translate="broadCloud.site.locationContactInfo"></h4>
    <div class="row full service-setup">
      <bsft-contact-first-name
        first-name="$ctrl.site.contact.firstName"
        on-change-fn="$ctrl.onContactFirstNameChanged(firstName)">
      </bsft-contact-first-name>
    </div>
    <div class="row full service-setup">
      <bsft-contact-last-name
        last-name="$ctrl.site.contact.lastName"
        on-change-fn="$ctrl.onContactLastNameChanged(lastName)">
      </bsft-contact-last-name>
    </div>
    <div class="row full service-setup">
        <bsft-contact-phone-number
          phone-number="$ctrl.site.contact.phoneNumber"
          on-change-fn="$ctrl.onContactPhoneNumberChanged(phoneNumber)">
        </bsft-contact-phone-number>
      </div>
    <div class="row full service-setup bottom-margin">
      <bsft-contact-email
        email="$ctrl.site.contact.email"
        on-change-fn="$ctrl.onContactEmailChanged(email)">
      </bsft-contact-email>
    </div>
  </div>
</form>
