<div class="loading" ng-if="$ctrl.loading">
  <i class="icon icon-spinner"></i>
</div>

<form name="$ctrl.form" novalidate  ng-if="!$ctrl.loading">
  <div class="container-fluid service-setup-container">
    <h4 style="margin-bottom: .5rem;">Setup Default Location</h4>
    <h6 style="margin-bottom: 1rem;">You can also edit location information after setup is complete in Control Hub</h6>
    <div class="row full service-setup">
      <bsft-site-name
        name="$ctrl.bsftSettingsData.bsftSettings.site.name"
        on-change-fn="$ctrl.onSiteNameChanged(name)">
      </bsft-site-name>
    </div>
    <div class="row full service-setup">
      <bsft-site-address
        address1="$ctrl.bsftSettingsData.bsftSettings.site.address1"
        address2="$ctrl.bsftSettingsData.bsftSettings.site.address2"
        on-change-fn="$ctrl.onSiteAddressChanged(address1, address2)">
      </bsft-site-address>
    </div>
    <div class="row full service-setup">
      <bsft-site-city
        city="$ctrl.bsftSettingsData.bsftSettings.site.city"
        on-change-fn="$ctrl.onSiteCityChanged(city)">
      </bsft-site-city>
    </div>
    <div class="row full service-setup">
      <bsft-site-state
        state="$ctrl.bsftSettingsData.bsftSettings.site.state"
        on-change-fn="$ctrl.onSiteStateChanged(state)">
      </bsft-site-state>
    </div>
    <div class="row full service-setup">
      <bsft-site-country
        city="$ctrl.bsftSettingsData.bsftSettings.site.country"
        on-change-fn="$ctrl.onSiteCountryChanged(country)">
      </bsft-site-country>
    </div>
    <div class="row full service-setup" style="margin-bottom: 1.5rem;">
      <uc-time-zone
        time-zone="$ctrl.bsftSettingsData.bsftSettings.site.timeZone"
        time-zone-options="$ctrl.bsftSettingsOptions.timeZoneOptions"
        on-change-fn="$ctrl.onTimeZoneChanged(timeZone)">
      </uc-time-zone>
    </div>
    <h4 style="padding-bottom: 1rem;">Location Contact Info</h4>
    <div class="row full service-setup">
      <bsft-contact-first-name
        first-name="$ctrl.bsftSettingsData.bsftSettings.site.contact.firstName"
        on-change-fn="$ctrl.onContactFirstNameChanged(firstName)">
      </bsft-contact-first-name>
    </div>
    <div class="row full service-setup">
      <bsft-contact-last-name
        last-name="$ctrl.bsftSettingsData.bsftSettings.site.contact.lastName"
        on-change-fn="$ctrl.onContactLastNameChanged(lastName)">
      </bsft-contact-last-name>
    </div>
    <div class="row full service-setup">
        <bsft-contact-phone-number
          phone-number="$ctrl.bsftSettingsData.bsftSettings.site.contact.phoneNumber"
          on-change-fn="$ctrl.onContactPhoneNumberChanged(phoneNumber)">
        </bsft-contact-phone-number>
      </div>
    <div class="row full service-setup bottom-margin">
      <bsft-contact-email
        email="$ctrl.bsftSettingsData.bsftSettings.site.contact.email"
        on-change-fn="$ctrl.onContactEmailChanged(email)">
      </bsft-contact-email>
    </div>
    <h4 style="margin-bottom: .5rem;">Emergency Address</h4>
    <input cs-input type="checkbox" ng-model="$ctrl.copySiteAddress" id="sameEmergencyAddress" name="sameEmergencyAddress" cs-input-label="Same as location address" />
    <div ng-if="!$ctrl.copySiteAddress">
      <div class="row full service-setup">
        <bsft-site-address
          address1="$ctrl.bsftSettingsData.bsftSettings.site.emergency.address1"
          address2="$ctrl.bsftSettingsData.bsftSettings.site.emergency.address2"
          on-change-fn="$ctrl.onSiteEmergencyAddressChanged(address1, address2)">
        </bsft-site-address>
      </div>
      <div class="row full service-setup">
        <bsft-site-city
          city="$ctrl.bsftSettingsData.bsftSettings.site.emergency.city"
          on-change-fn="$ctrl.onSiteEmergencyCityChanged(city)">
        </bsft-site-city>
      </div>
      <div class="row full service-setup">
        <bsft-site-state
          state="$ctrl.bsftSettingsData.bsftSettings.site.emergency.state"
          on-change-fn="$ctrl.onSiteEmergencyStateChanged(state)">
        </bsft-site-state>
      </div>
      <div class="row full service-setup">
        <bsft-site-country
          city="$ctrl.bsftSettingsData.bsftSettings.site.emergency.country"
          on-change-fn="$ctrl.onSiteEmergencyCountryChanged(country)">
        </bsft-site-country>
      </div>
    </div>
  </div>
</form>
