.bsft-site-setup{
  .title-margin {
    margin-bottom: .5rem;
  }
  .later-margin {
    margin-bottom: 1rem;
  }
  .time-zone-margin {
    margin-bottom: 1.5rem;
  }
  .location-contact-margin {
    margin-bottom: 1rem;
  }
}
