.add-did-numbers-modal {
  .icon {
    font-size: 75px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
  }
  p {
    text-align: center;
  }
}

.add-numbers {
  p {
    text-align: left;
  }
}

.adding-numbers {
  .modal-body {
    background-color: transparent;
  }
  .icon-spinner {
    border-color: @gray-lighter;
  }
}

.add-success {
  .icon-check-mark-success {
    color: @gray-dark;
  }
  .btn {
    margin: 0 auto;
    display: block;
  }
  .modal-footer {
    text-align: center;
    margin-top: 0;
  }
}

.setupDidBtn,
.deleteDidBtn {
  display: none;
}
