@import '~@collabui/collab-ui/scss/settings/colors';

.add-did-numbers-modal {
  .modal-body .icon {
    font-size: 75px;
    margin: 0 auto 20px;
    display: block;
    text-align: center;
  }

  p {
    text-align: center;
  }
}

.did-input {
  position: relative;

  .tokenfield {
    min-height: 44px;
  }

  .modal-note {
    font-size: 12px;
    padding-top: 12px;
  }
}

.add-numbers,
.delete-numbers {
  p {
    text-align: left;
  }
}

.adding-numbers {
  .modal-body {
    background-color: transparent;
  }

  .icon-spinner {
    border-color: $gray-lighter;
  }
}

.add-success {
  .icon-check {
    color: $gray-dark;
  }

  .btn {
    margin: 0 auto;
    display: block;
  }

  .modal-footer {
    text-align: center;
    margin-top: 0;
  }
}
