<div class="add-did-numbers-modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" ng-show="addNumbers || addSuccess"><i class="icon icon-close" aria-hidden="true"></i><span class="sr-only">{{'common.close' | translate}}</span></button>
        <h3 class="modal-title">{{'didAddModal.title' | translate}}</h3>
    </div>
    <div class="add-numbers" ng-show="addNumbers">
        <div class="modal-body">
            <p>{{'didAddModal.instructionsText' | translate}}</p>
            <cs-token-field tokens="tokens" tokenfieldid="tokenfieldid" tokenplacehoder="tokenplacehoder" tokenoptions="tokenoptions" tokenmethods="tokenmethods"></cs-token-field>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default btn-lg" ng-click="cancel()">{{'common.cancel' | translate}}</button>
            <button class="btn btn-primary btn-lg" ng-class="{'disabled': !submitBtnStatus}" ng-click="submit()">{{'common.next' | translate}}</button>
        </div>
    </div>
    <div class="adding-numbers" ng-show="addingNumbers">
        <div class="modal-body">
            <i class='icon icon-spinner icon-spin'></i>
            <p>{{'didAddModal.processingText' | translate}}</p>
        </div>
        <div class="modal-footer">
        </div>
    </div>
    <div class="add-success" ng-show="addSuccess">
        <div class="modal-body">
            <i class="icon icon-check-mark-success"></i>
            <p ng-if="successCount">{{successCount}} {{'didAddModal.successText' | translate}}</p>
            <p ng-if="failCount">{{failCount}} {{'didAddModal.failText' | translate}}</p>
            <button class="btn btn-info btn-lg" ng-click="sendEmail()">{{'didAddModal.sendEmail' | translate}}</button>
        </div>
        <div class="modal-footer">
            <a href ng-click="cancel()">{{'didAddModal.notifyCustLater' | translate}}</a>
        </div>
    </div>
</div>
