<cs-sp-buttons ng-show="$ctrl.showSaveButton()">
  <button class="btn-primary"
          ng-click="$ctrl.saveData()"
          cs-btn
          loading="$ctrl.savingPage">
    <span translate="common.save"></span>
  </button>
  <button class="btn-default"
          ng-click="$ctrl.cancel()"
          ng-disabled="$ctrl.savingPage">
    <span translate="common.cancel"></span>
  </button>
</cs-sp-buttons>
<cs-sp-container cs-tabindex="$ctrl.showSaveButton() ? -1 : 0">
  <cs-sp-section class="hybrid-services-user-sidepanel">
    <div class="section-title-row">
      <span class="section-name" translate="hercules.hybridServiceNames.spark-hybrid-impinterop"></span>
      <cs-toggle-switch
        ng-if="!$ctrl.loadingPage"
        toggle-id="impEntitledToggle"
        ng-model="$ctrl.entitledToggle"
        cs-change="$ctrl.changeEntitlement(toggleValue)"
        size="small"
        is-disabled="!$ctrl.loadingPage && $ctrl.couldNotReadUser"
        cs-aria-label="{{::'hercules.hybridServiceNames.spark-hybrid-impinterop' | translate}}">
      </cs-toggle-switch>
      <span cs-loader
            class="hybrid-services-label loader-example--small"
            ng-if="$ctrl.loadingPage"></span>
    </div>

    <reactivate-user-modal-link ng-if="$ctrl.showReactivateLink()" user-id="$ctrl.userId" service="$ctrl.userStatus.serviceId" callback="$ctrl.reactivateCallback()"></reactivate-user-modal-link>

    <div>
      <p class="hybrid-service-description" translate="hercules.cloudExtensions.serviceDescriptions.spark-hybrid-impinterop"></p>

      <p ng-if="!$ctrl.loadingPage && $ctrl.showSaveButton() && $ctrl.isServiceEnabledInFMS() && !$ctrl.isInvitePending && $ctrl.entitledToggle">
        <hybrid-services-sidepanel-message severity="'warning'" translation-key="'hercules.cloudExtensions.serviceNotEnabledInCloud'"></hybrid-services-sidepanel-message>
      </p>

      <div class="row collapse">
        <div class="columns small-3">
          <span class="hybrid-services-label">{{::'cloudExtensions.status' | translate}}:</span>
        </div>
        <div class="columns small-7 normal-line-height"
             ng-if="!$ctrl.loadingPage">
            <span class="hybrid-services-label"
                  ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatus && !$ctrl.isServiceEnabledInFMS()"
                  ng-class="'status-' + $ctrl.userStatus.state"
                  id="userStatus"
                  translate="hercules.activationStatus.{{$ctrl.getStatus($ctrl.userStatus)}}"></span>

          <span class="hybrid-services-label last-state-change-timestamp"
                ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatus && $ctrl.lastStateChangeText && !$ctrl.isServiceEnabledInFMS()">
            {{$ctrl.lastStateChangeText}}
            </span>

          <span class="hybrid-services-label status-off"
                ng-if="$ctrl.isInvitePending"
                translate="hercules.activationStatus.accountNotActivated"></span>

          <span class="hybrid-services-label status-off"
                ng-if="!$ctrl.userIsCurrentlyEntitled && !$ctrl.couldNotReadUser && !$ctrl.isInvitePending"
                translate="common.off"></span>

          <span class="hybrid-services-label status-off"
                ng-if="$ctrl.userStatus && $ctrl.isServiceEnabledInFMS()"
                translate="hercules.activationStatus.pendingNotSetup"></span>

          <span class="hybrid-services-label status-off"
                ng-if="!$ctrl.userIsCurrentlyEntitled && $ctrl.couldNotReadUser && !$ctrl.isInvitePending"
                translate="common.unknown"></span>

        </div>
        <div class="columns small-7 normal-line-height"
             ng-if="$ctrl.loadingPage">
          <span cs-loader class="hybrid-services-label loader-example--small"></span>
        </div>
        <div class="columns small-2">
            <span ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatus"
                  class="hybrid-services-label right">
              <a ui-sref="user-overview.hybrid-services-spark-hybrid-impinterop.history"
                 ng-if="!$ctrl.isActivation2User"
                 translate="hercules.userHistory.seeHistory"></a>
              <a ui-sref="user-overview.hybrid-services-spark-hybrid-impinterop.activationHistory"
                 ng-if="$ctrl.isActivation2User"
                 translate="hercules.userHistory.seeHistory"></a>
            </span>
        </div>

        <div class="row collapse" ng-if="$ctrl.userStatus.messages.length && !$ctrl.isServiceEnabledInFMS()">
          <div class="columns small-3">
            <span class="hybrid-services-label ">{{'cloudExtensions.details' | translate}}:</span>
          </div>
          <div class="columns small-9" ng-if="!$ctrl.loadingPage">
            <user-status-messages messages="$ctrl.userStatus.messages"
                                  human-readable="true"
                                  resource-group-id="$ctrl.resourceGroupId"
                                  connector-type="'c_imp'">
            </user-status-messages>
          </div>
          <div class="columns small-9" ng-if="$ctrl.loadingPage">
            <span cs-loader class="hybrid-services-label loader-example--small"></span>
          </div>
        </div>

        <hybrid-services-user-homed-cluster-and-hostname ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.connectorId && !$ctrl.isActivation2User"
                                                         connector-id="$ctrl.connectorId"></hybrid-services-user-homed-cluster-and-hostname>

        <hybrid-services-user-assignments ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.isActivation2User && $ctrl.userStatus.assignments.length > 0"
                                          user-status="$ctrl.userStatus"></hybrid-services-user-assignments>

      </div>

      <hs-is-invite-pending-warning ng-if="$ctrl.isInvitePending"
                                    is-entitled="$ctrl.entitledToggle"
                                    was-entitled="$ctrl.userIsCurrentlyEntitled"
                                    service-id="'spark-hybrid-impinterop'">
      </hs-is-invite-pending-warning>

    </div>
  </cs-sp-section>

  <hybrid-services-resource-group-selector user-id="$ctrl.userId"
                                           resource-group-id="$ctrl.resourceGroupId"
                                           service-id="'spark-hybrid-impinterop'"
                                           refresh-callback="$ctrl.resourceGroupRefreshCallback()"></hybrid-services-resource-group-selector>

</cs-sp-container>
