.details-panel {
  @extend .container-fluid;

  background-color: $body-bg;
  height: 100%;
  position: relative;
  width: calc(100% - 350px);
  overflow-y: auto;

  .header-row {
    margin-bottom: 30px;

    h3 {
      margin: 0 40px 0 0;
      display: inline-block;
      vertical-align: middle;
    }
  }

  .close-row {
    font-size: 13px;
    color: $gray-darker;
    float: right;
    width: 100%;
    text-align: right;
    cursor: pointer;

    .icon {
      font-size: 30px;
      text-align: left;
      position: relative;
      display: inline-block;
      width: 2em;
      height: 1em;
      line-height: 1em;
      vertical-align: middle;
    }
  }

  .details-body {
    width: 400px;
  }
}

.ent-detail-panel {
  @include make-md-column(12);
}

.call-info-panel {
  position: relative;
  top: 21px;
}

.sub-details-full {
  height: 100%;
}

.btn-remove {
  margin-left: 10px;
}

.btn-bar {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px;
}
