<div class="ent-detail-panel btn-bar">
  <div class="header-row row">
    <div class="col-md-12">
      <button id="btn-save" cs-btn loading="btn_saveLoad" class="btn btn--people" ng-click="save()"><span translate="common.save"></span></button>
      <button ng-if = "additionalBtn.show" id="{{additionalBtn.id}}" class="{{additionalBtn.btnclass}}" ng-click="additionalBtnClick()"> <span translate="{{additionalBtn.label}}"></span></button>{{crDetailsBody.showAdditionalBtn}}
    </div>
  </div>
  <div ng-transclude></div>
</div>

