.add-resource {
  button {
    margin-left: .5rem;
    transition: initial;
  }

  .modal-footer .btn + .btn {
    transition: initial;
  }

  .form {
    margin:0;
  }

  p {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  li.hostlist {
    margin-left: 30px;
  }

  .addResourceModalInput {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 70%;
    transition: initial;
  }

  .radioNoTranform {
    transition: initial;
  }

}

.inputbox {
  margin-left: 5px;
}
