<div class="modal-header">
  <button type="button" class="close" ng-click="$close()">
    <span class="sr-only" translate="common.close"></span>
  </button>
  <h5 class="modal-title" translate="hercules.addResourceDialog.title" translate-values="{ServiceName: addResource.localizedServiceName}"></h5>
</div>

<div class="modal-body add-resource">
  <form name="selectNewOrExisting" ng-show="!addResource.preregistrationCompleted">
    <div class="cs-radio-group">
      <input
        cs-input
        type="radio"
        ng-model="addResource.selectedAction"
        id="NewExpressway"
        name="NewExpressway"
        value="new"
        cs-input-label="{{addResource.localizedAddNewExpressway}}">

      <input
        cs-input
        type="radio"
        ng-model="addResource.selectedAction"
        id="ExistingExpressway"
        name="ExistingExpressway"
        value="existing"
        cs-input-label="{{addResource.localizedAddToExistingExpressway}}">
    </div>
  </form>

  <form ng-show="addResource.selectedAction === 'new' && !addResource.preregistrationCompleted" class="inputbox">
    <span translate="hercules.addResourceDialog.enterHostname"></span>
    <input type="text"
           ng-model="addResource.newHostname"
           placeholder="{{'hercules.addResourceDialog.enterHostnamePlaceholder' | translate}}" class="normaltextinput">
  </form>

  <div ng-show="addResource.preregistrationCompleted" class="add-resource">
    <p><span translate="hercules.redirect-target-dialog.grant-registration-success-header"
             translate-values="{hostname: addResource.newHostname || ''}"></span>
    </p>

    <p>{{addResource.localizedWillBeInstalledMessage}}</p>

    <p><span translate="hercules.redirect-target-dialog.grant-success-information"></span>
    </p>
  </div>

  <form ng-show="addResource.selectedAction === 'existing'" class="inputbox">
    <span translate="hercules.addResourceDialog.selectExisting"></span>
    <cs-select
      ng-model="addResource.selectedClusters"
      options="addResource.expresswayOptions"
      multi="true"
      placeholder="addResource.localizedSelectClusterPlaceholder"
      singular="Expressway"
      plural="Expressways"
    >
    </cs-select>
  </form>

</div>

<div class="modal-footer add-resource">
  <button class="btn" ng-click="$close()" ng-hide="addResource.preregistrationCompleted">
    <span translate="common.cancel"></span>
  </button>
  <button class="btn btn--primary"
          ng-click="addResource.preregisterAndProvisionExpressway(addResource.connectorType)"
          ng-disabled="addResource.selectedAction !== 'new' || !addResource.newHostname"
          ng-hide="addResource.preregistrationCompleted"
  >
    <span translate="hercules.redirect-target-dialog.activate-resource-button"></span>
  </button>

  <button class="btn btn--primary"
          ng-show="addResource.preregistrationCompleted"
          ng-click="addResource.redirectToTargetAndCloseWindowClicked(addResource.newHostname)">
    <span translate="hercules.redirect-target-dialog.register-resource-button"></span>
  </button>

</div>
