
.icon-export-import {
  top: 40px;
  color: $color-primary-base;
  &:hover {
    cursor: pointer;
    color: $color-primary-dark;
  }
}
 
.icon-export-import-disabled {
  top: 40px;
  color: $gray-light-3;
  &:hover {
    cursor: default;
  }
}
 
.webex-csv-container {
  height: 275px;
  .file-drop {
    height: 275px;
    display: flex;
    align-content: center;
    justify-content: center;
    &.dragover {
      border: 1px dashed $gray-light;
      border-color: $link-hover-color;
      background: $gray-lightest;
    }
  }
  .file-drop-content {
    position: relative;
    align-self: center;
  }
  .file-drop-inactive {
    @extend .file-drop;
    .file-drop-content {
      width: 50%;
    }
    .close {
      align-self: center;
      margin-left: rem(5);
      margin-top: rem(-15);
    }
    .file-name {
      margin-top: rem(5);
    }
  }
  input {
    display: none;
  }
}
