<div class="modal-header">
        <button type="button" class="close" ng-click="$ctrl.dismiss()" aria-label="{{::'common.close' | translate}}"></button>
        <div class="modal-title" translate="hcs.hls.addSuiteModal.title"></div>
    </div>
    <div class="modal-body addSuiteModal">
        <div ng-form="$ctrl.addSuiteForm">
        <div class="row">
        <div ng-if="!$ctrl.showConfirmation" class="columns medium-8">
          <div class="addSuiteInput" class="cs-input-group medium-6 columns" ng-class="{'error': $ctrl.addCustomerForm.customerName.$invalid && $ctrl.addCustomerForm.customerName.$touched}">
            <label translate="hcs.hls.addSuiteModal.suiteName"> </label>
            <input
              type="text"
              name="suiteName"
              id="suiteName"
              placeholder="{{'hcs.hls.addSuiteModal.suiteName' | translate}}"
              cs-input-nested="1"
              cs-input-group-size="medium-8"
              ng-model="$ctrl.customerObject.name"
              focus-on
              required>
            <div class="cs-input__messages" ng-messages="$ctrl.addCustomerForm.customerName.$error" role="alert">
              <div class="message" ng-message="required">{{::'common.invalidRequired' | translate}}</div>
            </div>
          </div>
        </div>
        <!-- <div ng-if="$ctrl.showConfirmation" class="columns medium-8">
          <span translate="hcs.hls.addCustomerModal.addSuccessMsg"></span>
          <label> {{$ctrl.customerObject.name}} </label>
          <span translate="hcs.hls.addCustomerModal.addNextCustomerMsg"></span>
        </div> -->
      </div>
    </div>
    </div>
    <div class="modal-footer" ng-if="!$ctrl.showConfirmation">
      <button class="btn btn-default"  ng-click="$ctrl.dismiss()"
        translate="common.cancel">
      </button>
      <button class="btn btn-primary" ng-click="$ctrl.validateAndSave()" ng-disabled="$ctrl.addCustomerForm.$invalid">
        <span translate="common.save"></span>
      </button>
    </div>
    <div class="modal-footer" ng-if="$ctrl.showConfirmation">
      <button class="btn btn-primary"  ng-click="$ctrl.finishAddingCustomer()"
        translate="common.finish">
      </button>
    </div>