.customer-list {
  @extend %grid-subheader;
  @extend %page-background-white;

  .grid-filter {
    margin-left: 0;
  }

  .filter-dropdown {
      width: 250px;
      margin-right: 24px;
  }
}

#customerListPanel {
  .ui-grid-cell {
    height: 56px;
  }

  .ui-grid-cell-contents {
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 56px;
    .service-icon {
      color: $gray-light-1;
      margin-right: 1rem;
      font-size: 1rem;
    }

    .badge {
      min-width: rem-calc(60);
    }

    &.align-center {
      text-align: center;
    }

    .badge-active {
      @extend .badge.badge-primary;
    }

    @mixin badge-active-darker {
      background-color: $brand-primary-dark;
    }

    .badge-trial {
      @extend .badge.badge-warning;
    }

    .badge-disabled {
      background-color: $gray-lightest;
      color: $gray-lightest;
    }

    @mixin badge-disabled-darker {
      background-color: $gray-lighter;
      color: $gray-lighter;
    }

    .badge--managed {
      margin-left: 12px;
    }

    .orgnotselected {
      background-color: $gray-light-3;
      color: $gray-dark-1;
    }

    .orgselected {
      background-color: $color-primary-darker;
      color: $brand-white;
    }

    .free {
      color: $gray;
    }

    @mixin free-white {
      color: $brand-white;
    }

    .free-disabled {
      color: $gray-lighter;
    }

    @mixin free-disabled-darker {
      color: $gray-light;
    }

    .red {
      color: $brand-danger;
    }

    @mixin red-white {
      color: $brand-white;
    }


    .badge-active.selected {
      @include badge-active-darker;
    }

    .free.selected {
      @include free-white;
    }

    .red.selected {
      @include red-white;
    }

    &:hover {
      .badge-disabled {
        @include badge-disabled-darker;
      }

      .free-disabled {
        @include free-disabled-darker;
      }
    }
  }

  .ui-grid-row {
    border-bottom: none;
    height: 56px;
  }

  .status-column {
    padding-left: 25%;
    padding-right: 25%;
  }
}

.ui-grid-header-cell:last-child .ui-grid-cell-contents {
  padding-right: 10px;
}

.ui-grid-header-cell .ui-grid-cell-contents {
  cursor: pointer;
}
.ui-grid-header-cell.align-center,
.ui-grid-cell:last-child.align-center {
  text-align: center;
}

.ui-grid-cell.ui-grid-add-column-border {
  border-right: 1px solid $gray-light-3;
}

.ui-grid-header-cell:first-child, .ui-grid-cell:first-child {
  border-right: 1px solid $gray-light-3;
}

.ngHeaderText.colt1,
.ngHeaderText.colt2,
.ngHeaderText.colt3 {
  text-align: center;
}

.ngHeaderText.colt4 {
  text-align: left;
}

.customer-header {
  color: $gray-darker;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  padding: 35px 0 0px 30px;
}

.subcol {
  display:inline-block;
  margin-left:10px;

  &:first-child {
    margin-left: 0px;
  }

  .free {
    min-width: 3.75rem;
    display: inline-block;
  }
  .no-license {
    min-width: 3.75rem;
    display: inline-block;
  }
}

.trials-badge {
  line-height: 1;
  margin: 0;
  padding: 35px 0 0px 30px;
}

.badge-label {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
}

.ngCell.colt5, .ngCell.colt6 {
  overflow: visible;

  .dropdown-menu {
    right: 25px;
    left: auto;
    top: 70%;
  }
}
