.customer-list {
  .ngCell.col0 .ngVerticalBar,
  .ngHeaderCell.col0 .ngVerticalBar {
    display: none;
  }
}

.btn-icon {
  background: none;
  border: none;
  box-shadow: none;

  &:hover,
  &:focus,
  &.active:focus {
    border: none;
    box-shadow: none;
    outline: 0;
  }
}

.btn-actions {
  float: right;
  padding: 15px 30px;
}

.trial-progress {
  position:relative;
  top:-15px;
  left:75px;
}

.trial-days {
  position: relative;
  top: -6px;
  left: 335px;
}

.ngHeaderText.colt4 {
  text-align: left;
}

.customer-refresh {
  position: relative;
  top: 38px;
  left: -465px;
}
