<div class="customer-list">
  <cs-page-header title-name={{customerList.header}}></cs-page-header>
  <cs-page-sub-header>
    <cs-page-sub-header-left>
      <cs-searchfilter filters="filters" search-item-fn="customerList.filterList(searchStr)">
      </cs-searchfilter>
      <div>
        <span translate="customerPage.allCustomers"/> <span class="count">{{customerList.totalOrgs}}</span>
      </div>
    </cs-page-sub-header-left>
    <cs-page-sub-header-right>
      <cs-select  class="filter-dropdown" ng-model="customerList.filter.selected" options="customerList.filter.options" placeholder="customerList.filter.placeholder" multi="true" singular="filter" plural="filters"></cs-select>

      <csv-simple-export
        on-export="customerList.exportCsv()"
        filename="{{::'customerPage.csvFilename' | translate}}"
        export-tooltip="{{::'customerPage.csvBtnTitle' | translate}}"
        exporting-tooltip="{{::'customerPage.csvBtnExportingTitle' | translate}}"
        tooltip-placement="top">
      </csv-simple-export>

      <button id="addTrial" class="btn btn--people add-button" ng-if="!customerList.isCustomerPartner" ng-click="customerList.openAddTrialModal()" translate="customerPage.addTrial"></button>
    </cs-page-sub-header-right>
  </cs-page-sub-header>
  <div id="customerListPanel" class="gridStyle" ui-grid="customerList.gridOptions"
    ui-grid-selection ui-grid-infinite-scroll ui-grid-resize-columns ui-grid-move-columns
    grid-spinner="customerList.showManagedOrgsRefresh"></div>
</div>
