<div class="update-component-page">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
    <h5 class="modal-title" translate="gss.componentsPage.updateComponentTitle"></h5>
  </div>

  <div class="modal-body component-body">
    <form name="updateComponentForm" novalidate>
      <div class="row cs-input-group">
        <label class="cs-input__label medium-4 columns" for="update-component-name" translate="gss.componentsPage.componentName"></label>

        <div class=" medium-8 columns">
          <input id="update-component-name" cs-input required type="text" maxlength="200"
                 ng-model="updateComponentCtrl.componentName"
                 placeholder="{{ 'gss.componentsPage.componentName' | translate }}">
        </div>
      </div>

      <div class="row cs-input-group">
        <label class="cs-input__label medium-4 columns" for="update-component-desc" translate="gss.componentsPage.componentDesc"></label>

        <div class=" medium-8 columns">
          <input id="update-component-desc" cs-input type="text"
                 ng-model="updateComponentCtrl.componentDesc"
                 placeholder="{{ 'gss.componentsPage.componentDesc-placeholder' | translate }}">
        </div>
      </div>

      <div class="row cs-input-group" ng-if="updateComponentCtrl.updateGroup">
        <label class="cs-input__label medium-4 columns" for="update-component-group" translate="gss.componentsPage.componentGroup"></label>

        <div class=" medium-8 columns">
          <cs-select ng-show="!updateComponentCtrl.isCreatingGroup()"
                     ng-model="updateComponentCtrl.selectedGroup" options="updateComponentCtrl.groupOptions"
                     placeholder="updateComponentCtrl.selectPlaceholder">
          </cs-select>

          <div ng-show="updateComponentCtrl.isCreatingGroup()">
            <input id="update-component-group" cs-input ng-model="updateComponentCtrl.groupName"
                   placeholder="{{ 'gss.componentsPage.groupName' | translate }}" type="text"
                   maxlength="200">

            <button ng-click="updateComponentCtrl.resetSelectedGroup()">
              <span translate="gss.componentsPage.cancelCreateNewGroup"></span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button cs-btn class="btn btn--primary" ng-disabled="!updateComponentCtrl.isValid()"
            loading="updateComponentCtrl.isUpdating"
            ng-click="updateComponentCtrl.updateComponent()">
      <span translate="gss.componentsPage.updateComponent"></span>
    </button>
  </div>
</div>
