@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

multi-dirsync-setting {
  &.setting-section .cs-form__section {
    border-top: 1px solid $gray-light-2;
  }
}

multi-dirsync-section {
  .dirsync-action-button {
    top: rem-calc(-10);
  }
}

.row .row.dirsync-row {
  @include vr-spacing(mb, 1);

  .connector-disabled {
    color: $gray-3;
  }

  .primary {
    color: $blue-base;
  }
}
