.threshold-list {
  
  .threshold-table{
    .threshold-title{
      color:#999;
    }
  }
  


  .threshold-search{
    padding:0 0 0 0;

    .threshold-input{
      height:40px;
      width:200px;
      margin:15px 0 0 0;
      float:right;
    }

    .threshold-btn{
      height:40px;
      float:left;
      margin:15px 0 0 0;
      background-color:#FFF;
      border: 1px solid rgb(212,212,212);

      .threshold-btn-search {
        color:#999; 
        font-size:30px
      }
    }
  }


}





