.messaging-setup {
  margin-left: 3px;
  .title {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .dr-content {
    margin-top: 5px;
    margin-bottom: 60px;
  }
  .dr-selector {
    padding: 0;
    margin-left: 3px;
  }
  .app-launch {
    margin-top: 25px;
  }
  .data-share {
    margin-top: 25px;
  }
}
