  <div ng-if="$ctrl.introCopy">
    <p translate="{{ $ctrl.introCopy }}"></p>
    <h4 class="element-spacing" translate="firstTimeWizard.haveExistingWebExSite"></h4>
    <p class="element-spacing" translate="firstTimeWizard.existingWebExSiteDescription"></p>
  </div>
  <div>
    <input
      cs-input
      type="checkbox"
      id="has-transfer-code"
      name="has-transfer-code"
      ng-change="$ctrl.checkValidTransferData()"
      ng-model="$ctrl.showTransferCodeInput"
      cs-input-label="{{::'firstTimeWizard.hasTransferCode' | translate}}">
  </div>
  <div ng-if="$ctrl.showTransferCodeInput">
    <div class="col-lg-12 input-block--transfer-code">
      <div class="cs-input-group" ng-class="{'error': $ctrl.error.isError}">
        <label class="cs-input__label" translate="firstTimeWizard.transferCode"></label>
        <input cs-input type="text"
          cs-input-size="medium-4"
          ng-change="$ctrl.checkValidTransferData()"
          ng-model="$ctrl.transferSiteCode">
          <a class="input-block__help-link" ng-href="{{:: $ctrl.migrateSiteUrl }}" translate="firstTimeWizard.dontHaveTransferCode" target="_blank"></a>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="cs-input-group" ng-class="{'error': $ctrl.error.isError}">
        <label class="cs-input__label" translate="firstTimeWizard.siteName"></label>
        <input cs-input type="text"
          cs-input-size="medium-4"
          cs-input-secondary-label="{{::'firstTimeWizard.pmrSiteURLDomain' | translate}}"
          ng-change="$ctrl.checkValidTransferData()"
          ng-model="$ctrl.transferSiteUrl">
        <div class="cs-input__messages error-msg-spacing" role="alert" ng-if="$ctrl.error.isError">
          <div class="message">{{$ctrl.error.errorMsg}}</div>
        </div>
        <i tooltip-html-unsafe="{{'helpdesk.help.webExSiteTooltip' | translate}}"
          tooltip-placement="right"
          tooltip-trigger="mouseenter focus"
          tabindex="0"
          class="icon icon-help icon-lg"
          aria-label="{{'helpdesk.help.webExSiteTooltip' | translate}}"></i>
      </div>
    </div>
  </div>
