@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';



.hcs-upgrade-group{
  .upgrade-cluster-grid {
    .cluster-grid-header {
      background-color: $gray-light-4;
    }

    .ui-grid-row {
      border-bottom: none;
      height: 56px;
      background-color: $white;
      &:hover {
        background-color: transparent;
      }
    }
  }
}
