<div class="graphCarousel hidden-sm hidden-xs">
  <div id="chartTitle">{{chart.chartTitle}}</div>
  <div id="chartArea"></div>
  <div class="carousel">
    <div class="title">{{chart.selectedAggregation.bucketName}}</div>
    <i class="icon icon-chevron-left large" ng-click="chart.cycleAggregateLeft()"/>
    <i class="icon icon-circle" ng-class="{selected: chart.selectedAggregation.bucketName === aggregate.bucketName}"
       ng-repeat="aggregate in chart.currentAggregations" title="{{aggregate.bucketName}}"
       ng-click="chart.showAggregate(aggregate.bucketName)"/>
    <!--<i class="icon icon-circle" title="super" ng-click="chart.selectCarousel()"/>-->
    <!--<i class="icon icon-circle" title="super" ng-click="chart.selectCarousel()"/>-->
    <!--<i class="icon icon-circle"/>-->
    <!--<i class="icon icon-circle"/>-->
    <i class="icon icon-chevron-right large" ng-click="chart.cycleAggregateRight()"/>
  </div>
</div>
