<div class="search-filters-redux">
  <form ng-class="{ 'active': dctrl.inputActive}">
    <div class="bulleted-searchbox" ng-click="dctrl.userSetFocusToInputField()">
      <div class="bulleted-searchinput"
           ng-class="{'searcherror': dctrl.searchObject.hasError, 'focus': dctrl.inputActive}">
        <i class="icon icon-search" ng-click="dctrl.resetInputFieldCursor()"></i>
        <device-search-bullet ng-repeat="bullet in dctrl.getBullets()" search-element="bullet"
                              bullet-container="dctrl"></device-search-bullet>
        <input
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          autofocus="true"
          spellcheck="false"
          id="searchFilterInput"
          ng-model="dctrl.searchInput"
          ng-keydown="dctrl.onSearchInputKeyDown($event)"
          ng-keypress="dctrl.onSearchInputKeyPress($event)"
          type="text"
          placeholder="{{dctrl.getSearchPlaceholder()}}"
          ng-focus="dctrl.inputActive=true"
          ng-blur="dctrl.inputActive=false">

        <i class="icon icon-exit-outline clear" ng-click="dctrl.clearSearchInput();"
           ng-if="dctrl.searchObject.hasAnyBulletOrEditedText()"></i>
      </div>
      <div class="dropdown-positioner">
        <div class="suggestions-dropdown" ng-mouseleave="dctrl.suggestions.setActiveSuggestionByHover()"
             ng-show="dctrl.showSuggestions || dctrl.startSelecting" ng-mousedown="dctrl.startSelecting = true">
          <ul class="group">
            <li class="group"
                ng-repeat="suggestionGroup in dctrl.suggestions.uiSuggestionGroups track by $index"
                ng-hide="suggestionGroup.uiSuggestions.length===0">

              <ul class="suggestions">
                <li class="suggestion"
                    ng-repeat="suggestion in suggestionGroup.uiSuggestions track by $index"
                    ng-class="{active: suggestion.activeByKeyboard, hover: suggestion.activeByHover}"
                    ng-mouseenter="dctrl.suggestions.setActiveSuggestionByHover(suggestion)"
                    ng-mouseup="dctrl.selectSuggestion(suggestion);dctrl.startSelecting = false">
                  <div class="field" ng-show="$first"
                       ng-bind-html="suggestionGroup.readableField | highlight:dctrl.searchInput:true">
                  </div>
                  <div class="field" ng-hide="$first"></div>
                  <div class="text"
                       ng-bind-html="suggestion.translatedText | translateHighlight:suggestion.textTranslationKey:suggestion.textTranslationParams:dctrl.searchObject.getWorkingElement()"></div>
                  <div class="count" ng-if="suggestion.count > 0 || suggestion.count === 0">({{suggestion.count}})</div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-error-box" ng-class="{'warning': dctrl.searchObject.hasError}">
      <div class="cs-input__messages">
        <div class="message" translate="spacesPage.searchError"></div>
      </div>
    </div>
  </form>
</div>
