<div class="search-filters-redux searchFilter">
  <form ng-submit="dctrl.onInputSubmit()" ng-class="{ 'active': dctrl.inputActive}">
    <div class="searchbox" onclick="angular.element('#searchFilterInput').focus();">
      <div class="searchinput" ng-class="{'searcherror': dctrl.searchObject.hasError}">
        <i class="icon icon-search"></i>
        <input
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"
          id="searchFilterInput"
          cs-expandinginput
          ng-model="dctrl.searchInput"
          ng-change="dctrl.onInputChange()"
          ng-keydown="dctrl.onSearchInputKeyDown($event)"
          type="text"
          placeholder="{{::'common.search' | translate}}"
          ng-focus="searchFilterInput.inputFocus = true; dctrl.inputActive=true; searchFilterInput.expand()"
          ng-blur="searchFilterInput.inputFocus = true; dctrl.inputActive=false"
          focus-width="300"
          style="width: 1px; min-width: 1px; max-width: 350px;"
          cs-expandinginput-minwidth="1px"
          class="form-control ng-valid ng-isolate-scope ng-dirty ng-valid-parse ng-touched ng-empty"
        >
        <i class="icon icon-exit-outline clear" ng-click="dctrl.clearSearchInput();"></i>
        <div class="suggestions-dropdown" ng-mouseleave="dctrl.suggestions.resetActive()"
             ng-show="true || dctrl.showSuggestions">
          <ul>
            <li
              ng-repeat="suggestion in dctrl.suggestions.uiSuggestions track by $index"
              ng-class="{active: dctrl.suggestions.isSuggestionActive($index)}"
              ng-mouseenter="dctrl.suggestions.setActiveSuggestion($index)"
              ng-click="dctrl.selectSuggestion(suggestion)">
              <div class="field"><i ng-bind-html="suggestion.field | highlight:dctrl.searchInput"></i></div>
              <div class="text" ng-bind-html="suggestion.text | highlight:dctrl.searchInput"></div>
              <div class="count">({{suggestion.count}})</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
  <span>{{ dctrl.activeSuggestion }}</span>
  <span class="search-filters-only">
    <cs-searchfilter filters="dctrl.searchFilters"
                     search-item-fn="dctrl.setCurrentSearch(searchStr)"
                     set-filter-fn="dctrl.setCurrentFilterValue(filter.filterValue)"
                     ng-class="{'searcherror': dctrl.searchObject.hasError}">
    </cs-searchfilter>
  </span>
</div>
<div class="bullets">
  <span class="bullet" ng-if="!bullet.isBeingEdited()" ng-repeat="bullet in dctrl.getBullets()"
        ng-dblclick="dctrl.editBullet(bullet)">
    <span class="field-descriptor" ng-if="bullet.field">{{bullet.getQueryPrefix()}} </span>
    <span>{{bullet.getQueryWithoutField()}}</span>
    <i class="icon icon-close" ng-click="dctrl.removeBullet(bullet)"/>
  </span>
</div>

<!--Enable this to see the final query for debugging:-->
<!--<label style="margin:0; font-size: xx-small">{{ dctrl.getTranslatedQuery() }}</label>-->
