<div class="devices-redux">
  <div ng-if="!devices.anyDevicesOrCodesLoaded">
    <div style="padding: 100px; text-align: center;">
      <i class="icon icon-2x icon-spinner"/>
    </div>
  </div>

  <div ng-if="devices.subscriptionErrorsExist">
    <div class="error-spinner">
      <i class="icon icon-2x icon-spinner"/>
    </div>
  </div>

  <div ng-if="devices.anyDevicesOrCodesLoaded">
    <div class="devices-header">
      <div class="clearfix row">
        <h1>
          Devices
          <a href ng-click="dctrl.exportToCsv()" class="pull-right hidden-sm hidden-xs"
             style="padding-top: 20px; font-size: 1.5rem; padding-left: 40px;">
            Export
          </a>
          <a
            href
            class="pull-right"
            ng-click="dctrl.showAddDeviceDialog()"
            style="padding-top: 20px; font-size: 1.5rem">
            Add Device
          </a>
        </h1>
      </div>
      <device-search search="devices.search" search-object="devices.searchObject" search-changed="devices.searchChanged(search)" clear-search="devices.clearSearch()" search-result-changed="devices.searchResultChanged(result)"></device-search>
      <device-chart search-result="devices.searchResult" pie-chart-clicked="devices.addToSearch(searchField,query)"></device-chart>
      <div class="bottom"><i class="icon icon-arrow-up "></i> </div>
    </div>
    <device-list devices="devices.searchResult.hits.hits" search-object="devices.searchObject"></device-list>
    <div class="devices-content">
      <div class="row">
        <div class="large-12 columns" ui-view="leftPanel"></div>
      </div>
      <div class="row">
        <div class="large-6 columns" ui-view="rightPanel"></div>
      </div>
    </div>
  </div>
</div>
