<div class="devices-header">
  <div class="clearfix row">
    <h1>
      Devices
      <a href ng-click="dctrl.exportToCsv()" class="pull-right hidden-sm hidden-xs"
         style="padding-top: 20px; font-size: 1.5rem; padding-left: 40px;">
        Export
      </a>
      <a
        href
        class="pull-right"
        ng-click="dctrl.showAddDeviceDialog()"
        style="padding-top: 20px; font-size: 1.5rem">
        Add Device
      </a>
    </h1>
  </div>
  <div class="devices-search" ng-class="{searching: dctrl.searching }">
    <form ng-class="{
              'active': dctrl.search || dctrl.inputActive,
              'no-match': dctrl.search && !dctrl.groupedDevices.length
            }">

      <input
        type="text"
        class="form-control"
        ng-model="dctrl.search"
        ng-blur="dctrl.inputActive=false"
        ng-focus="dctrl.inputActive=true"
        placeholder="Search for devices..."
        ng-change="dctrl.searchChanged2()"
        ng-model-options="{ debounce: { default: 250 } }"
      />


      <i
        ng-if="dctrl.search"
        class="fa fa-times clear-icon"
        ng-click="dctrl.clearSearch()"
      />

    </form>
  </div>
  <!--<div class="searchfield"><input type="text"></div>-->
  <div class="graphCarousel hidden-sm hidden-xs">
    <div id="chartTitle">{{dctrl.chartTitle}}</div>
    <div id="chartArea"></div>
  </div>

</div>
