<div class="devices-redux">
  <cs-page-header title-name="{{'spacesPage.title' | translate}}"></cs-page-header>
  <div ng-if="!devices.anyDevicesOrCodesLoaded">
    <div style="padding: 100px; text-align: center;">
      <i class="icon icon-2x icon-spinner"/>
    </div>
  </div>

  <div ng-if="devices.subscriptionErrorsExist">
    <div class="error-spinner">
      <i class="icon icon-2x icon-spinner"/>
    </div>
  </div>

  <div ng-if="devices.anyDevicesOrCodesLoaded">
    <div class="devices-header">
      <div class="clearfix row">
        <button
          class="btn btn--people add-button pull-right"
          ng-click="devices.startAddDeviceFlow()"
          ng-disabled="devices.addDeviceIsDisabled">
          <span translate="spacesPage.addBtn"></span>
        </button>
      </div>
      <device-search search="devices.search" search-object="devices.searchObject" search-changed="devices.searchChanged(search)" clear-search="devices.clearSearch()" search-result-changed="devices.searchResultChanged(result)"></device-search>
      <device-chart search-result="devices.searchResult" pie-chart-clicked="devices.addToSearch(searchField,query)"></device-chart>
      <div class="bottom"><i class="icon icon-arrow-up "></i> </div>
    </div>
    <device-list devices="devices.searchResult.hits.hits" search-object="devices.searchObject"></device-list>
    <div class="devices-content">
      <div class="row">
        <div class="large-12 columns" ui-view="leftPanel"></div>
      </div>
      <div class="row">
        <div class="large-6 columns" ui-view="rightPanel"></div>
      </div>
    </div>
  </div>
</div>
