<div class="messagebox-backdrop">
  <div class="message-box">
    <section class="message-box__content">
      <i class="message-box__icon icon-circle-comp-negative"></i>
      <h3 class="message-box__title message-box__title--alert" translate="unauthorizedPage.title"></h3>
      <h5 class="message-box__details" translate="unauthorizedPage.text"></h5>
      <p>
        <button cs-btn class="btn btn--people btn--large message-box__btn" role="button" ng-click="stateRedirect.performRedirect()" loading="stateRedirect.loading">
          <span ng-if="::stateRedirect.hasPreviousState" translate="stateRedirect.goBackButton"></span>
          <span ng-if="::!stateRedirect.hasPreviousState" translate="stateRedirect.signInButton"></span>
        </button>
      </p>
    </section>
  </div>
  <div class="messagebox-backdrop__footer">
    <i class="icon icon-cisco-logo"></i>
    <div class="body-smallest">
      <a href="http://www.ciscospark.com/terms-of-service.html" target="_blank" translate="loginPage.tos"></a> | <a href="http://www.cisco.com/web/siteassets/legal/privacy.html" target="_blank" translate="loginPage.privacy"></a>
      <span
        translate="loginPage.copyright"
        translate-value-year="2018">
      </span>
    </div>
  </div>
</div>
