@import 'styles/toolkit/colors';
@import 'styles/toolkit/spacing';

$overlay-panel-height: 93px;

.cs-setupassistant {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;

  .btn--right.saveCallPickup:not(.disabled) {
    background: $color-cta;
  }

  .helptext-btn--right.enabled {
    color: $color-cta;
  }
}

.call-pickup-edit .call-pickup-notification-form {
  input {
    width: 3.7rem;
  }
  .cs-input__secondary-label {
    float: left;
  }
}

.callpickup .overlay-panel .cs-card-layout{
  height: 16rem !important;
  @include vr-spacing(ml, 28.5, 0px, true);
  @include vr-spacing(pb, 1);
  position: fixed;
  width: 58rem;
  left: 50%;
  margin-right: auto;
  overflow: auto;
  display: inline-flex;
  flex-flow: row wrap;
  flex: 1;
  align-content: flex-start;
  justify-content: center;
}

.member-warning {
  @include vr-spacing(pl, 0);
  color: $gray-darkest;
}

.pi-cs-input__messages {
  display: block;
  visibility: hidden;
}

///// Type ahead input box styling with icon ///////
.typeahead-large {
  .input-hint {
    @include vr-spacing(p, 1);

    border: 0;
    border-top: solid rem(1px) $gray-light;
    width: 100%;
    text-align: center;
    color: $gray;
    font-style: italic;
  }

  // Input control.
  input {
    height: 44px; // prevents Firefox from clipping top of text
    &:focus ~ .input-hint {
      border-top: solid rem(1px) $brand-primary;
    }

    &.error ~ .input-hint {
      border-top: solid rem(1px) $color-negative-base;
    }
  }

  .dropdown-menu {
    span {
      &.disabled {
          color: $gray-light-1;
      }
    }
    .active {
      a {
        &.disabled {
          color: $gray-light-1;
          background: $color-white;
          cursor: default;
        }
      }
    }
  }
}

.pi-edit {
  height: calc(100vh - #{($top-bar-height + $page-header-height)}) !important;
  overflow-y: auto;
  position: relative;
  background: $color-white;

  .cs-form__section-first {

    padding-top: 4rem;

    .cs-input {
      width: 20rem;
    }
  }
}
