.finish-page {
  text-align: center;
  width: 25rem;
  margin: 0 auto;
  margin-top: 5rem;

  i {
    font-size: 8rem;
    color: $color-cta-base;
  }

  h3,
  p {
    margin-top: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}

.provision-page {
  &__section {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  &__header {
    font-weight: bold;
  }
}

