<div ng-if="!isOrderSimplificationToggled()" class="finish-page">
  <i class="icon icon-circle-check" />
  <h3 translate="firstTimeWizard.readyToGo"></h3>
  <p translate="firstTimeWizard.finishDesc"></p>
</div>
<div ng-if="isOrderSimplificationToggled()" class="activate-page">
  <div class="activate-page__section">
    <p class="activate-page__header" translate="firstTimeWizard.activateAndBeginBilling"></p>
    <p translate="firstTimeWizard.activateBillingDescription"></p>
  </div>
  <div class="activate-page__section">
    <p translate="firstTimeWizard.activateBillingWarning"></p>
  </div>
  <div class="activate-page__section">
    <input
      cs-input
      type="checkbox"
      ng-model="sendEmailModel"
      id="sendEmailToCustomer"
      cs-input-label="{{::'firstTimeWizard.sendEmailToCustomer' | translate}}">
  </div>
</div>
