.deregisterTitle {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.mediafusion-settings-table .node-list .feature-name {
  flex: initial;
	width: 23rem;
}

.mediafusion-settings-table .red, .mediafusion-settings-table .yellow, .mediafusion-settings-table .green, .mediafusion-settings-table .installing {
	flex: 1;
}
.mediafusion-settings-table .hercules-alarm, .node-details .icon-error{
	color: #D35545;
}

.reveal-modal.full .modal-content.small .modal-body .moveNodeDropDown{
    max-width: 400px;
}