<cs-sp-container class="mediafusion-settings-table">
  <cs-sp-section ng-if="alarmCtrl.alarm.alarm">
    <div class="section-title-row section-name">
      {{alarmCtrl.alarm.alarm.title}}
    </div>
    <table>
      <tbody>
      <tr>
        <td translate="mediaFusion.alarms.severity"></td>
        <td>
          <span ng-if="alarmCtrl.alarm.alarm.severity == 'warning' " class="yellow">
            <i class="fa fa-circle mediafusion-state-alarm" />
          </span>
          <span ng-if="alarmCtrl.alarm.alarm.severity == 'critical'" class="red">
            <i class="fa fa-circle mediafusion-state-offline" />
          </span>
          <span
          ng-class="alarmCtrl.alarm.alarm.severity == 'warning' ? 'hercules-state-disabled' : 'hercules-state-alarm'">{{'mediaFusion.alarms.' + alarmCtrl.alarm.alarm.severity | translate}}
          </span>
        </td>
      </tr>
      <tr>
        <td translate="mediaFusion.alarms.raised"></td>
        <td><span>{{alarmCtrl.alarm.alarm.firstReported | date : 'medium'}}</span></td>
      </tr>
      <!--tr>
        <td translate="mediaFusion.alarms.lastReported"></td>
        <td><span>{{alarmCtrl.alarm.alarm.last_reported | date : 'medium'}}</span></td>
      </tr-->
      <tr>
        <td translate="mediaFusion.alarms.nodesImpact"></td>
        <td>
          <span data-ng-repeat="host in alarmCtrl.alarm.hosts">{{host}}<span ng-show=" !$last ">,</span></span>
        </td>
      </tr>
      </tbody>
    </table>
  </cs-sp-section>

  <cs-sp-section ng-if="!alarmCtrl.alarm.alarm">
    <div class="section-title-row section-name">
      {{alarmCtrl.alarm.title}}
    </div>
    <table>
      <tbody>
      <tr>
        <td translate="mediaFusion.alarms.severity"></td>
        <td>
          <span ng-if="alarmCtrl.alarm.severity == 'warning' " class="yellow">
            <i class="fa fa-circle mediafusion-state-alarm" />
          </span>
          <span ng-if="alarmCtrl.alarm.severity == 'critical'" class="red">
            <i class="fa fa-circle mediafusion-state-offline" />
          </span>
          <span
          ng-class="alarmCtrl.alarm.severity == 'warning' ? 'hercules-state-disabled' : 'hercules-state-alarm'">{{'mediaFusion.alarms.' + alarmCtrl.alarm.severity | translate}}
          </span>
        </td>
      </tr>
      <tr>
        <td translate="mediaFusion.alarms.raised"></td>
        <td><span>{{alarmCtrl.alarm.firstReported | date : 'medium'}}</span></td>
      </tr>
      <!--tr>
        <td translate="mediaFusion.alarms.lastReported"></td>
        <td><span>{{alarmCtrl.alarm.last_reported | date : 'medium'}}</span></td>
      </tr-->
      <tr>
        <td translate="mediaFusion.alarms.nodeImpact"></td>
        <td>
          <span>{{alarmCtrl.host}}</span>
          <!--span data-ng-repeat="host in alarmCtrl.alarm.hosts">{{host}}<span ng-show=" !$last ">,</span></span-->
        </td>
      </tr>
      </tbody>
    </table>
  </cs-sp-section>

  <cs-sp-section>
    <div class="section-title-row section-name" translate="mediaFusion.alarms.description"></div>
    <p ng-if="alarmCtrl.alarm.alarm">
      {{alarmCtrl.alarm.alarm.description}}
    </p>
    <p ng-if="!alarmCtrl.alarm.alarm">
      {{alarmCtrl.alarm.description}}
    </p>
  </cs-sp-section>

</cs-sp-container>
