@import '~@collabui/collab-ui/scss/settings/colors';

terms-of-service {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;

  .modal-body {

    .tos-row {
      display: flex;
      flex-direction: row;
      flex: 1 1 auto;

      .tos-column {
        width: 50%;
        display: flex;
        flex: 1 1 auto;

        .centered-content {
          flex: 1 1 auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .info {
          font-family: Arial, Helvetica, Sans-serif;
          line-height: 1rem;
          font-size: .95rem;
          display: flex;
          flex-direction: column;

          .info-row {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;

            .left-col {
              margin-right: 1rem;
              img.logo {
                height: 8.5rem;
                width: 8.5rem;
              }
            }

            .right-col {
              h2 {
                margin-bottom: 1.5rem;
                font-weight: bold;
              }
            }

            .desc {
              flex: 1 1 auto;

              div {
                margin-left: 1rem;
                margin-right: 1rem;
              }
            }
          }
        }

        .tos-container {
          flex: 1 1 auto;
          border: thin solid $gray-lightest;
        }
      }
    }
  }
}
