<div ng-form="locationNameForm">
  <div class="row">
    <input
      cs-input
      unique-location
      type="text"
      name="locationName"
      ng-model="$ctrl.name"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
      ng-change="$ctrl.onNameChanged()"
      placeholder="{{'common.name' | translate}}"
      focus-on
      cs-input-messages="$ctrl.messages"
      cs-input-size="medium-12"
      cs-input-label="{{'locations.locationName' | translate}}"
      required>
  </div>
</div>
