<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="exportUserStatusesCtrl.cancelExport();$close()">
      <span class="sr-only" translate="common.close"></span>
    </button>
    <h5 class="modal-title" translate="hercules.export.modalTitle"></h5>
  </div>
  <div class="modal-body">
    <p translate="hercules.export.modalText1"></p>
    <p translate="hercules.export.modalText2"></p>
    <div class="hercules-modal-checkboxes" ng-repeat="item in exportUserStatusesCtrl.statusTypes" ng-hide="item.unselectable">
      <cs-checkbox ng-click="exportUserStatusesCtrl.selectedStateChanged()" ckid="{{item.stateType}}" ng-model="item.selected" label="{{item.count + ' ' + item.text}}"></cs-checkbox>
    </div>
    <p translate="hercules.export.modalNote"></p>
  </div>
  <div class="modal-footer">
    <button ng-csv="exportUserStatusesCtrl.exportCSV()" filename="{{'hercules.export.csvFilename' | translate}}" ng-disabled="exportUserStatusesCtrl.loading || exportUserStatusesCtrl.exportingUserStatusReport || exportUserStatusesCtrl.nothingToExport" class="btn btn--primary pull-right" ng-class="{'hercules-button-exporting': exportUserStatusesCtrl.exportingUserStatusReport}">
      <span ng-hide="exportUserStatusesCtrl.exportingUserStatusReport" translate="hercules.export.modalCTA"></span>
      <span ng-show="exportUserStatusesCtrl.exportingUserStatusReport">
        <i class="icon icon-spinner"></i>
      </span>
    </button>
    <button class="btn pull-right" ng-click="exportUserStatusesCtrl.cancelExport();$close()" style="margin-right: 10px">
      <span translate="common.close"></span>
    </button>
  </div>
</div>
