<div>
  <div class="modal-header">
    <button type="button" class="close" ng-click="exportUserStatusesCtrl.cancelExport();$dismiss()">
      <span class="sr-only" translate="common.close"></span>
    </button>
    <h5 class="modal-title" translate="hercules.export.modalTitle"></h5>
  </div>
  <div class="modal-body">
    <p><span translate="hercules.export.modalText1"></span><span translate="hercules.export.modalText2"></span></p>
    <form name="userStatusesExport">
      <div class="cs-checkbox-group">
        <div ng-hide="item.unselectable" ng-repeat="item in exportUserStatusesCtrl.statusTypes">
          <input
            cs-input
            type="checkbox"
            id="{{'ckid_' + item.stateType}}"
            name="{{item.stateType}}"
            ng-model="exportUserStatusesCtrl.statusTypes[$index].selected"
            cs-input-label="{{item.text}} ({{item.count}})">
        </div>
      </div>
    </form>
    <p><strong translate="hercules.export.modalNote"></strong></p>
  </div>
  <div class="modal-footer">
    <button
      class="btn"
      ng-click="exportUserStatusesCtrl.cancelExport();$dismiss()"
      translate="common.close">
    </button>
    <button
      cs-btn
      ng-disabled="exportUserStatusesCtrl.nothingToExport()"
      loading="exportUserStatusesCtrl.exportingUserStatusReport"
      class="btn btn--primary"
      ng-click="exportUserStatusesCtrl.exportCSV()">
        <span translate="hercules.export.modalCTA"></span>
    </button>
  </div>
</div>
