@import 'styles/toolkit/colors';

verify-sip-destination {
  display: block;
}

.spinner-sip-destination--large {
  font-size: 4rem;
  display: inline-block;
  margin-top: 7rem;
  width: 100%;
  text-align: center;
}

.sip-destination-results-table {
  .icon-error {
    color: $color-alerts-base;
  }

  .icon-warning {
    color: $color-attention-base;
  }

  .icon-checkbox {
    color: $color-cta-base;
  }

  th.result, td.result {
    text-align: center;
    vertical-align: middle;
  }
}
