@import '~collab-ui/scss/settings/colors';

verify-sip-destination {
  margin-left: 10px;
  display: block;
}

.verify-sip-destination-modal {

  .sip-verification-modal-section {
    margin-bottom: 15px;
  }

  .warning-message {
    margin-top: 10px;

    span {
      margin-left: 20px;
    }
  }

  .spinner-sip-destination--large {
    font-size: 4rem;
    display: inline-block;
    margin-top: 7rem;
    width: 100%;
    text-align: center;
  }
}

.sip-destination-test-summary {
  clear: both;
}
