<div class="modal-header">
  <div class="modal-title" translate="hercules.settings.verifySipDestination.title"></div>
</div>
<div class="modal-body verify-sip-destination-modal">

  <div ng-if="vm.currentStep === 'loading'">
    <span class="spinner-sip-destination--large">
      <i class="icon icon-spinner"></i>
    </span>
  </div>

  <div ng-if="vm.currentStep === 'error'">
    <p translate="hercules.settings.verifySipDestination.errorFromServer"></p>
    <ul>
      <li>{{vm.error.data.message}}</li>
      <li translate="common.trackingId" translate-values="{trackingId: vm.error.data.trackingId}"></li>
    </ul>
    <p translate="hercules.settings.verifySipDestination.contactCiscoSupport"></p>
  </div>

  <div ng-if="vm.currentStep === 'result'">
    <table class="table table-striped sip-destination-results-table">
      <thead>
      <tr>
        <td translate="hercules.settings.verifySipDestination.step"></td>
        <td translate="hercules.settings.verifySipDestination.details"></td>
        <td translate="hercules.settings.verifySipDestination.result" class="result"></td>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="step in vm.result track by $index">
        <td>{{vm.localizeType(step.type)}}</td>
        <td>{{step.description}}</td>
        <td class="result"><i class="icon" ng-class="vm.severityToIcon(step.severity)"></i></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="modal-footer">
  <button ng-click="$dismiss(vm.hasWarningOrError())"
          class="btn"
          translate="common.close"></button>
  <button ng-click="$close()"
          ng-disabled="vm.currentStep === 'loading' || vm.hasWarningOrError()"
          class="btn--primary"
          translate="common.save"></button>
</div>
