@import '~@collabui/collab-ui/scss/settings/colors';

verify-sip-destination {
  margin-left: 10px;
  display: block;
}

.new-verify-sip-destination-modal {
  ul {
    margin: 0;

    li {
      list-style: none;
    }
  }

  .padding-adjustment {
    padding: 0.4rem 0.9rem;
  }

  .meta-card {
    margin-bottom: 1rem;
  }

  .test-card {
    background-color: $gray-light-4;
    margin: 0.5rem 0;
    padding: 0.4rem;
  }

  .row-test {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
  }

  .not-performed {
    font-style: italic;
    color: $gray-light-1;
  }

  .success {
    color: $color-green-base;
  }

  .fail {
    color: $color-red-base;
  }
}

.verify-sip-destination-modal {
  .hybrid-services-warning-message {
    margin-top: 10px;

    span {
      margin-left: 20px;
    }
  }

  .spinner-sip-destination--large {
    font-size: 4rem;
    display: inline-block;
    margin-top: 7rem;
    width: 100%;
    text-align: center;
  }
}

.sip-destination-test-summary {
  clear: both;
}
