<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" aria-label="{{::'common.close' | translate}}"></button>
  <h4 class="modal-title" translate="hercules.settings.verifySipDestination.title"></h4>
</div>
<div class="modal-body new-verify-sip-destination-modal">
  <div ng-if="vm.resultSet.type === 'ip'">
    <div class="row collapse padding-adjustment">
        <div class="columns medium-12" translate="hercules.settings.verifySipDestination.IPAddressLookup"></div>
      </div>
      <div class="row collapse meta-card padding-adjustment">
        <div class="columns medium-4">
          <p><strong translate="hercules.settings.verifySipDestination.ip"></strong></p>
          <ul>
            <li ng-repeat="ip in vm.resultSet.meta.ips">{{ip}}</li>
          </ul>
        </div>
      </div>
      <div ng-repeat="test in vm.resultSet.tests">
        <sip-destination-test-result test="test"></sip-destination-test-result>
      </div>
  </div>
  <div ng-if="vm.resultSet.type === 'dnssrv' || vm.resultSet.type === 'dnshost'">
    <div class="row collapse padding-adjustment">
      <div class="columns medium-12">
        <div ng-if="vm.resultSet.type === 'dnssrv'" translate="hercules.settings.verifySipDestination.DNSSRVLookup"></div>
        <div ng-if="vm.resultSet.type === 'dnshost'" translate="hercules.settings.verifySipDestination.DNSHostnameLookup"></div>
      </div>
    </div>
    <div class="row collapse meta-card padding-adjustment">
      <div class="columns medium-4">
        <p><strong translate="hercules.settings.verifySipDestination.dns"></strong></p>
        <p>{{vm.resultSet.meta.dns}}</p>
      </div>
      <div class="columns medium-4">
        <p><strong translate="hercules.settings.verifySipDestination.fqdn"></strong></p>
        <ul>
          <li ng-repeat="fqdn in vm.resultSet.meta.fqdns">{{fqdn}}</li>
        </ul>
      </div>
      <div class="columns medium-4">
        <p><strong translate="hercules.settings.verifySipDestination.ip"></strong></p>
        <ul>
          <li ng-repeat="ip in vm.resultSet.meta.ips">{{ip}}</li>
        </ul>
      </div>
    </div>
    <div ng-repeat="test in vm.resultSet.tests">
      <sip-destination-test-result test="test"></sip-destination-test-result>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button ng-click="$close()" class="btn" translate="common.close"></button>
</div>
