<div class="grid-contents" ng-class="{'selected' : row.isSelected}" ng-click="grid.appScope.selectRow(grid, row)">
  <three-dot-dropdown
    on-click-fn="$event.stopPropagation()"
    button-class="'dropdown-toggle'">
    <li id="deletePlaceOption">
      <a href
        ng-click="grid.appScope.deletePlace($event, row.entity)"
        ng-keydown="grid.appScope.keyboardDeletePlace($event, row.entity)"
        translate="placesPage.deletePlace">
      </a>
    </li>
  </three-dot-dropdown>
</div>
