@import '~@collabui/collab-ui/scss/settings/colors';

hs-test-tool-results-table {
  display: block;

  .sip-destination-results-table {

    th.result,
    td.result {
      text-align: center;
      vertical-align: middle;
    }
  }

  .icon-error {
    color: $color-alerts-base;
  }

  .icon-warning {
    color: $color-attention-base;
  }

  .icon-checkbox {
    color: $color-cta-base;
  }
}
