@import 'setupAssistantPages/setup-assistant-pages';
@import 'embed-code-screen';

.careChatSetup {
  @extend %content-header;


  .cs-setupassistant--content {
    .cs-card-container {
      @include vr-spacing(p, 0);
    }
  }
}

.care-chat {
  &.overlay-panel {
    cs-setup-assistant {
      width: 100%;
    }
  }

  .panel-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}

.ct-confirmation-header {
  text-align: center;
}

.ct-confirmation-body {
  .warning-icon {
    @extend .icon;
    @extend .icon-warning;

    font-size: 2rem;
    color: $brand-warning;
    float: left;
  }

  .ct-confirmation-message {
    font-size: $h6-font-size;
    font-family: $brand-font-light;

    @include vr-spacing(mt, 0.75);
  }
}

.sa-form {
  margin-top: 0;
}

