<div class="careChatSetup">
  <cs-overlay-panel class="care-chat overlay-panel typeahead-group"
                    overlay-title={{vaSetupAssistant.getTitle()}}
                    close="vaSetupAssistant.cancelModal()"
                    ng-keyup="vaSetupAssistant.evalKeyPress($event.keyCode)">
    <cs-setup-assistant previous="vaSetupAssistant.previousButton()"  next="vaSetupAssistant.nextButton()"
                        previous-fn="vaSetupAssistant.previousPage()" next-fn="vaSetupAssistant.nextPage()">
      <form name="virtualAssistantSetupForm" class="sa-form">
        <div ng-include="vaSetupAssistant.getCurrentPage()"
             ng-class="careChatSA.animation"></div>
      </form>
    </cs-setup-assistant>
  </cs-overlay-panel>

</div>
