<div class="careChatSetup">
  <cs-overlay-panel class="care-chat overlay-panel typeahead-group"
                    overlay-title={{vaSetupAssistant.getTitle()}}
                    close="vaSetupAssistant.cancelModal()"
                    ng-keyup="vaSetupAssistant.evalKeyPress($event.keyCode)">
    <cs-setup-assistant previous="vaSetupAssistant.previousButton()"  next="vaSetupAssistant.nextButton()"
                        previous-fn="vaSetupAssistant.previousPage()" next-fn="vaSetupAssistant.nextPage()">
      <form name="virtualAssistantSetupForm" class="sa-form">
        <!--
          currently ng-include templates loaded through ngtemplate-loader
          TODO: refactor - do not use 'ngtemplate-loader' or ng-include directive
        -->
        <div ng-include="vaSetupAssistant.getCurrentPage()"  onload="vaSetupAssistant.onPageLoad()"
             ng-class="careChatSA.animation"></div>
      </form>
    </cs-setup-assistant>
  </cs-overlay-panel>

</div>
