<div class="sub-section">
  <div class="hercules-sip-settings">
    <p class="sub-section__description">
      <span class="sub-section__label" ng-if="!$ctrl hasHybridGlobalCallServiceConnectFeature" translate="hercules.settings.call.sipDomainHeading"></span>
      <span class="sub-section__label" ng-if="$ctrl.hasHybridGlobalCallServiceConnectFeature" translate="hercules.settings.call.defaultSipDomainHeading"></span>
    </p>
    <p class="sub-section__description">
      <span ng-if="$!ctrl.hasHybridGlobalCallServiceConnectFeature" translate="hercules.settings.call.sipDomainDescription"></span>
      <span ng-if="$ctrl.hasHybridGlobalCallServiceConnectFeature" translate="hercules.settings.call.defaultSipDomainDescription"></span>
    </p>
    <sip-destination-input sip-destination="$ctrl.sipDestination"></sip-destination-input>
  </div>
</div>
<div class="sub-section" ng-if="$ctrl.hasHybridGlobalCallServiceConnectFeature && $ctrl.displayOverview">
  <h5 class="sub-section__title" translate="hercules.settings.call.sipDestinationsOverview.title"></h5>
  <p class="sub-section__description" translate="hercules.settings.call.sipDestinationsOverview.description"></p>
  <table class="table table-striped">
    <thead>
      <tr>
        <td translate="hercules.settings.call.sipDestinationsOverview.tableTitle1"></td>
        <td translate="hercules.settings.call.sipDestinationsOverview.tableTitle2"></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{::$ctrl.sipDestination}} ({{::'common.default' | translate | lowercase}})</td>
        <td>
          <div ng-if="$ctrl.tableData.defaultDestination.length === 0">-</div>
          <div ng-if="$ctrl.tableData.defaultDestination.length > 0" ng-repeat="cluster in $ctrl.tableData.defaultDestination | orderBy:'name'">
            <a class="link-to-cluster" ui-sref="expressway-cluster.settings({id: cluster.id})">{{::cluster.name}}</a>
          </div>
        </td>
      </tr>
      <tr ng-repeat="(domain, clusters) in $ctrl.tableData.specificDestinations">
        <td>{{::domain}}</td>
        <td>
          <div ng-repeat="cluster in clusters | orderBy:'name'">
            <a class="link-to-cluster" ui-sref="expressway-cluster.settings({id: cluster.id})">{{::cluster.name}}</a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
