<div class="sub-section">
  <div class="hercules-sip-settings">
    <p class="sub-section__description">
      <span class="sub-section__label" translate="hercules.settings.call.sipDomainHeading"></span>
    </p>
    <p translate="servicesOverview.cards.privateTrunk.destination"></p>
    <div class="row">
      <form ng-if="!$ctrl.showSIPTestTool" name="inputSipDestinationForm" ng-submit="$ctrl.updateSipDomain()" class="hercules-sip-destination-table">
        <input cs-input type="text"
          cs-input-group-size="medium-7"
          ng-disabled="$ctrl.savingSip"
          placeholder="{{'hercules.settings.call.sipDomainPlaceholder' | translate}} "
          ng-class="{ 'hercules-input-error': $ctrl.warnSipDestination() }"
          id="sipDomain"
          ng-model="$ctrl.sipDomain"
          required>
        <button cs-btn type="button"
          loading="$ctrl.savingSip"
          class="btn btn--primary"
          id="updateSipDomain"
          ng-click="$ctrl.updateSipDomain()"
          ng-disabled="inputSipDestinationForm.$invalid || $ctrl.savingSip">
          <span translate="common.save"></span>
        </button>
      </form>
      <form ng-if="$ctrl.showSIPTestTool" name="inputSipDestinationForm" class="hercules-sip-destination-table">
        <input cs-input type="text"
          cs-input-group-size="medium-7"
          ng-disabled="$ctrl.savingSip"
          placeholder="{{'hercules.settings.call.sipDomainPlaceholder' | translate}} "
          ng-class="{ 'hercules-input-error': $ctrl.warnSipDestination() }"
          id="sipDomain"
          ng-model="$ctrl.sipDomain"
          required>
        <verify-sip-destination
          destination-url="$ctrl.sipDomain"
          on-destination-save="$ctrl.onDestinationSave(warn)"
          on-test-started="$ctrl.onTestStarted()"
          on-result-ready="$ctrl.onResultReady(succeeded, resultSet)"></verify-sip-destination>
        <div ng-show="$ctrl.sipDestinationTestSucceeded !== undefined" class="sip-destination-test-summary">
          <i ng-if="$ctrl.sipDestinationTestSucceeded" class="icon icon-checkbox"></i>
          <span ng-if="$ctrl.sipDestinationTestSucceeded" translate="hercules.settings.verifySipDestination.testSucceeded"></span>
          <i ng-if="!$ctrl.sipDestinationTestSucceeded" class="icon icon-error"></i>
          <span ng-if="!$ctrl.sipDestinationTestSucceeded" translate="hercules.settings.verifySipDestination.testFailed"></span>
          <span>
            <a href ng-click="$ctrl.openSipTestResults()" translate="hercules.settings.verifySipDestination.viewTestResults"></a>
          </span>
        </div>
        <span class="right" ng-if="$ctrl.savingSip">
          <i class="icon icon-spinner"></i>
        </span>
      </form>
    </div>
    <div class="row">
      <div class="cs-input__help-text sip-details">
        <div translate="hercules.sipExplanation.line1"></div>
        <ul>
          <li translate="hercules.sipExplanation.line2" translate-compile></li>
          <li translate="hercules.sipExplanation.line3" translate-compile></li>
          <li translate="hercules.sipExplanation.line4" translate-compile></li>
        </ul>
        <p translate="hercules.sipExplanation.line5alt" translate-compile></p>
      </div>
    </div>
  </div>
</div>
