/*****  _line-settings.less  *****/

.caller-id-other {
  display: inline-block;
  width: 90%;
}

.call-forward-all {
  margin-bottom: 20px;
}

.inline {
	display: inline-flex;
}

.confirmation-body {
  .warning-icon {
    .icon;
    .icon-warning;
    font-size: 30px;
    color: @brand-warning;
    float: left;
  }
  .confirmation-message {
    margin-top: 7px;
    margin-left: 40px;
  }
}
/*****  _line-settings.less  *****/
