@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.esn-number-field {
  &.steeringDigitOverlap,
  &.warningMargin {
    margin-top: 26px;
  }

  .esn-extension {
    color: $text-color;
  }
}

.caller-id-description {
  margin-top: 10px;
  color: $gray-dark;
}

// TODO: (jlowery) remove when new user/place components are done.
.top-padding-section-title {
  padding-top: 20px;
}

#auto-answer-sp {
  .side-panel-section {
    margin-top: 20px;

    .cs-form {
      margin-bottom: 0;
    }

    .cs-form__section {
      .section__title {
        font-size: 1.25rem;
      }
      padding-bottom: 0;
      border: transparent;
    }
  }
}

.huron-settings-main-container {
  .cos-style {
    .title-margin-bottom {
      @include vr-spacing(mb, 1);
    }
    .switch-bottom-margin {
      @include vr-spacing(mb, 2.5);
    }
  }
}
