/*****  _line-settings  *****/

.caller-id-other {
  display: inline-block;
  width: 90%;
}

.call-forward-all {
  margin-bottom: 20px;
}

.inline {
  display: inline-flex;
}

.confirmation-body {
  .warning-icon {
    @extend .icon;
    @extend .icon-warning;
    font-size: 30px;
    color: $brand-warning;
    float: left;
  }
  .confirmation-message {
    margin-top: 7px;
    margin-left: 40px;
  }
}

.dn-help-icon {
  @extend .icon;
  @extend .icon-help;
  font-size: 23px;
  vertical-align: middle;
  &:hover {
    color: $brand-primary;
  }
  color: $gray-dark;
}

.esn-number-field {
  margin-top: 10px;
  color: $gray-dark;
  .esn-extension {
    color: $text-color;
  }
}
/*****  _line-settings  *****/
