/*****  _line-settings  *****/
.confirmation-body {
  .confirmation-message {
    margin-top: 7px;
    margin-left: 40px;
  }
}

.esn-number-field {
  &.steeringDigitOverlap,
  &.warningMargin {
    margin-top: 26px;
  }

  .esn-extension {
    color: $text-color;
  }
}

.caller-id-description {
  margin-top: 10px;
  color: $gray-dark;
}

// TODO: (jlowery) remove when new user/place components are done.
.top-padding-section-title {
  padding-top: 20px;
}

.side-panel-section {
  .dn-warning-text {
    @extend .warning;

    font-size: 0.75rem;
  }

  .warning {
    .select-toggle {
      border-color: $brand-warning-dark;

      .icon-arrow-down {
        &::after {
          // this is the X icon that appears when no DNs are available
          @extend %icon-warning;

          top: 0.125rem;
          left: -23px;
          position: absolute;
          font-size: 1rem;
          height: 17px;
          width: 17px;
          color: $brand-warning-dark;
        }
      }
    }
  }
}

/*****  _line-settings  *****/
