/*****  _line-settings.less  *****/

.caller-id-other {
  display: inline-block;
  width: 90%;
}

.call-forward-all {
  margin-bottom: 20px;
}

.inline {
	display: inline-flex;
}
/*****  _line-settings.less  *****/
