<form novalidate name="lineSettings.form" role="form">
  <cs-sp-buttons ng-show="lineSettings.form.$dirty" ng-init="lineSettings.initNewForm()">
    <button cs-btn loading="lineSettings.saveInProcess" class="btn btn--primary" ng-click="lineSettings.saveLineSettings()" ng-disabled="lineSettings.form.$invalid || lineSettings.saveDisabled() || lineSettings.saveInProcess" type="submit">
      <span translate="common.save"></span>
    </button>
    <button cs-btn ng-click="lineSettings.resetLineSettings()">
      <span translate="common.cancel"></span>
    </button>
  </cs-sp-buttons>
  <cs-sp-container>
    <cs-sp-section>
      <section-title
        title-key="directoryNumberPanel.title"
        action-list="lineSettings.actionList"
        show-actions="lineSettings.showActions">
      </section-title>
      <uc-directory-number-old></uc-directory-number-old>
    </cs-sp-section>
    <cs-sp-section>
      <h4 translate="callForwardPanel.title"></h4>
      <formly-form model="lineSettings.cfModel" fields="lineSettings.callForwardingFields"></formly-form>
    </cs-sp-section>
    <cs-sp-section>
      <h4 translate="callerIdPanel.title"></h4>
      <formly-form model="lineSettings.callerIdInfo" fields="lineSettings.callerIdFields"></formly-form>
      <div class="caller-id-description">
        <p>{{lineSettings.callerIdInfo.callerIdSelection.value.name}}</p>
        <p>{{lineSettings.callerIdInfo.callerIdSelection.value.pattern}}</p>
      </div>
    </cs-sp-section>
    <div>
      <cs-sp-section >
        <h4 class="multiple-calls-title" translate="multipleCalls.title"></h4>
        <label translate="multipleCalls.multipleCallsDescription" class = "caller-id-description"></label>
        <formly-form model="lineSettings.simultaneousModel" class="inline-radio" fields="lineSettings.simultaneousCalls"></formly-form>
      </cs-sp-section>
    </div>
    <cs-sp-section>
      <uc-shared-line-old></uc-shared-line-old>
    </cs-sp-section>
  </cs-sp-container>
</form>
