<setting-section setting="$ctrl.qosTitle" class="needs-border-top" ng-if="$ctrl.isWizard">
  <div class="sub-section">
    <span class="sub-section__label" translate="mediaFusion.qos.detail"></span>
    <i class='icon icon-info-outline icon-large'
      tabindex="0"
      tooltip="{{::'mediaFusion.qos.longdescription' | translate}}"
      tooltip-class="metrics-tooltip"
      tooltip-trigger="mouseenter focus"
      aria-label="{{::'mediaFusion.qos.longdescription' | translate}}">
    </i>
    <p class="sub-section__description" translate="mediaFusion.qos.shortdescription"></p>
    <cs-toggle-switch ng-model="$ctrl.enableQos" cs-change="$ctrl.setEnableQos(toggleValue)"
      toggle-id="toggleEnableQoS" name="toggleEnableQoS" size="small">
    </cs-toggle-switch>
  </div>
</setting-section>
<setting-section ng-if="!$ctrl.isWizard">
  <div class="sub-section">
    <span class="sub-section__label" translate="mediaFusion.qos.detail"></span>
    <i class='icon icon-info-outline icon-large'
      tabindex="0"
      tooltip="{{::'mediaFusion.qos.longdescription' | translate}}"
      tooltip-class="metrics-tooltip"
      tooltip-trigger="mouseenter focus"
      aria-label="{{::'mediaFusion.qos.longdescription' | translate}}">
    </i>
    <p class="sub-section__description" translate="mediaFusion.qos.shortdescription"></p>
    <div>
      <i class="icon icon-circle status-indicator" ng-class="$ctrl.qosStatus"></i>
      <span ng-show="$ctrl.connectorQosEnabledCount !== $ctrl.connectorCount && $ctrl.enableQos">{{$ctrl.qosStatusMessage}}&nbsp;&nbsp;&nbsp;{{$ctrl.connectorQosDisabledCount}}/{{$ctrl.connectorCount}} {{::'mediaFusion.qos.nodespending' | translate}}</span>
      <span ng-show="$ctrl.connectorQosDisabledCount !== $ctrl.connectorCount && !$ctrl.enableQos">{{$ctrl.qosStatusMessage}}&nbsp;&nbsp;&nbsp;{{$ctrl.connectorQosEnabledCount}}/{{$ctrl.connectorCount}} {{::'mediaFusion.qos.nodespending' | translate}}</span>
      <span ng-show="$ctrl.connectorQosEnabledCount === $ctrl.connectorCount && $ctrl.enableQos">{{$ctrl.qosStatusMessage}}</span>
      <span ng-show="$ctrl.connectorQosDisabledCount === $ctrl.connectorCount &&  !$ctrl.enableQos">{{$ctrl.qosStatusMessage}}</span>
      <br>
      <div ng-show="$ctrl.connectorQosEnabledCount !== $ctrl.connectorCount && $ctrl.enableQos">
        <span class="icon icon-info-outline media-info-icon-qos"></span>
        <span class="qos-message" translate="mediaFusion.qos.disclaimar1"></span>
        <a class="qos-message" href="javascript:void(0);" ng-click="$ctrl.openPendingNodesModal()" translate="mediaFusion.qos.pendingnodes"></a>
        <span class="qos-message" translate="mediaFusion.qos.disclaimar2"></span>
      </div>
      <div ng-show="$ctrl.connectorQosDisabledCount !== $ctrl.connectorCount && !$ctrl.enableQos">
        <span class="icon icon-info-outline media-info-icon-qos"></span>
        <span class="qos-message" translate="mediaFusion.qos.disclaimar1"></span>
        <a class="qos-message" href="javascript:void(0);" ng-click="$ctrl.openPendingNodesModal()" translate="mediaFusion.qos.pendingnodes"></a>
        <span class="qos-message" translate="mediaFusion.qos.disclaimar2"></span>
      </div>
    </div>  
    <button 
      type="button" 
      class="btn btn--primary"
      ng-show="$ctrl.enableQos"
      ng-click="$ctrl.openSetUpModal(false)"
      translate="common.disable">
    </button>
    <button 
      type="button" 
      class="btn btn--primary"
      ng-show="!$ctrl.enableQos"
      ng-click="$ctrl.openSetUpModal(true)"
      translate="common.enable">
    </button>
  </div>
</setting-section>
