qos-section {
	.cs-form__section {
		padding: 0rem;
	}
}

.media-info-icon-qos {
	outline: none !important;
	font-size: .8rem;
	color: #07c1e4;
}
.media-line-spacing-qos {
	margin-top: 15px !important;
}
.media-line-spacing-qos-title {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.qos-message {
	font-size: .8rem;
}
.qos-title {
	font-size: 1.1rem;
}
