.hybrid-services-user-sidepanel {
  .status-error {
    color: $brand-danger;
  }

  .status-warning {
    color: $brand-warning-dark;
  }

  .status-notActivated {
    color: $gray-dark;
  }

  .status-activated {
    color: $brand-success;
  }

  .status-deactivated {
    color: $gray-dark;
  }

  .status-off {
    color: $gray-dark;
  }

  .status-pending_activation {
    color: $gray-dark;
  }

  .cs-loading {
    display: inline;
    padding-left: 1rem;
    line-height: 2rem;
  }

  .feature-list-loader {
    padding-left: 0;
    padding-right: 0.5rem;
  }

  .section-title-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .toggle-switch {
      margin-bottom: 0;
    }
  }

  .hybrid-service-description {
    color: $gray-dark;
    font-family: $brand-font-light;
    font-size: 13.5px;
    letter-spacing: 0.02em;
    line-height: inherit;
    padding-bottom: 10px;
  }

  .last-state-change-timestamp {
    line-height: normal;
    color: $gray-dark;
  }

  .normal-line-height {
    line-height: normal;
  }

  .hybrid-services-label {
    font-weight: 500;
    margin: 0;
    font-size: 0.875rem;
    line-height: 2.25rem;
    font-family: $brand-font-light;
    a {
      color: $color-primary-base;
    }
  }

  .restart-activation-row {
    margin-top: -0.75rem;
  }
}
