<div class="cloud-extensions hybrid-services-panel" ng-if="hybridServicesPanelCtrl.isEnabled">

    <div class="row-hybrid">
      <div id="hybrid" class="column-header">
        <i class="icon icon-circle-world"></i>
        <h3 translate="onboardModal.hybridServices"></h3>
      </div>

      <div class="hs-extension-list">
        <div class="hs-extension" ng-repeat="extension in hybridServicesPanelCtrl.extensions | filter: { enabled: true }">
          <input type="checkbox"
                  ng-model="extension.entitlementState"
                  id="{{extension.id}}"
                  ng-true-value="'ACTIVE'" ng-false-value="'INACTIVE'"
                  ng-change="hybridServicesPanelCtrl.setEntitlements(extension)"
                  ng-disabled="hybridServicesPanelCtrl.huronCallEntitlement(extension.id)" />
          <label class="cs-checkbox"
                  ng-class="{'indentedCB':hybridServicesPanelCtrl.shouldAddIndent(extension.id,'squared-fusion-ec'), 'disabled':hybridServicesPanelCtrl.huronCallEntitlement(extension.id)}"
                  for="{{extension.id}}">
            <span translate="hercules.serviceNames.{{extension.id == 'squared-fusion-uc' ? 'squared-fusion-uc.full' : extension.id}}"></span>
          </label>
        </div>
  </div>
</div>
