@import './legal-hold-custodian-import';

// algendel TODO: z-index should be addressed in toolkit. Revisit ASAP
.legalhold-detail-state .side-panel-full-height {
  z-index: 1100;
}

legal-hold-landing {
  margin-top: 6rem;
  display: block;
}
