@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.wizard {
  display: flex;
  align-content: stretch;
  justify-content: center;
  margin: 3vh 4vw;

  .btn {
    margin: 0;
  }

  a {
    cursor: pointer;
  }
}

.wizard-main-wrapper {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  overflow-y: auto;
}

.wizard-side-item {
  margin-right: 5px;
  margin-left: 0px;
  background-color: $gray-darkest;
  cursor: pointer;
  display: flex;
  align-items: center;

  + .wizard-side-item {
    margin-top: 5px;
  }

  &:last-child {
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    height: 280px;
    cursor: default;
    flex: 1 1 auto;

    .help-link {
      position: absolute;
      bottom: 30px;
      left: 20px;
      color: $gray-light-2;
      cursor: pointer;
      font-family: $brand-font-cisco-TT-Regular;
      font-size: 0.75rem;

      span {
        font-size: inherit;
      }

      a {
        color: $gray-light-2;
      }
    }
  }
}

// workaround for safari (see: https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers )
// TODO: revisit and remove this once safari becomes compliant (>9.1.2)
cr-wizard-main,
cr-wizard-nav {
  display: flex;
}

cr-wizard {
  margin: initial !important;

  .modal-content {
    margin: initial !important;
    width: 100%;

    .ssoWizardTitle {
      padding-left: inherit;
    }
  }
}

.wizard-nav {
  width: 370px;
  height: 94vh;
  float: left;
  display: flex;
  flex-direction: column;

  .wizard-menu-text {
    flex: 1 1 auto;
    padding: 18px 0 18px 20px;
    line-height: 1;
  }

  .wizard-menu-title {
    font-family: $brand-font-light;
    font-size: 20px;
    color: $brand-white;
  }

  .wizard-menu-subtitle {
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 13px;
    color: $gray-dark;
    margin-top: 10px;
    line-height: 20px;
  }

  .icon {
    margin-right: 40px;
    transform: translateX(50%);
    font-size: 28px;
    line-height: 28px;
    color: $gray-light;
  }

  .icon-plan-review,
  .icon-add-users {
    font-size: 20px;
  }

  .icon-check {
    font-size: 38px;
  }
}

.wizard-nav-active {
  background-color: $brand-primary-dark;
  color: $brand-white;

  .wizard-menu-subtitle {
    color: $brand-white;
  }

  .icon {
    background-color: $color-primary;
    color: $white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 11px 0;
    text-align: center;
    margin-right: 15px;
    transform: none;
  }
}

.wizard-click-inactive {
  cursor: default;
}

cr-wizard-main,
.wizard-main {
  width: 100%;
}

.wizard-main {
  background-color: $brand-white;
  height: 94vh;
  color: $gray-darker;
  padding: 2rem;
  float: left;
  font-family: $brand-font-light;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  p {
    font-family: $brand-font-light;
  }

  label {
    font-weight: normal;
  }

  .wizard-main-title span {
    font-family: $brand-font-extra-light;
    font-size: 36px;
  }

  .wizard-main-content {
    display: flex;

    .container-fluid {
      margin-left: 0;
      margin-right: 0;
    }

    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    margin-top: 15px;

    .align-middle {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .loading {
      width: 100%;
      text-align: center;
      margin: 40px auto;

      &.ng-enter,
      &.ng-leave {
        transition: none;
      }

      .icon {
        font-size: 75px;
      }
    }
  }

  .rbcontainer {
    position: relative;
    top: 4em;
    left: 15em;

    label {
      font-size: 18px;
      font-weight: normal;
      color: $gray-darker;
    }

    .ciscoRadiobutton:nth-child(2) {
      margin-top: 40px;
    }
  }
}

.wizard-height {
  height: 100%;
}

.wizard-subtitle-active {
  color: $text-color;
}

.wizard-main-btns {
  padding-top: 32px;
}

#terms-link {
  float: left;
  margin-top: 7px;
}
