
.bsft__number_subheading {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.bsft__number_desc {
  padding-top: .5rem;
}
.bsft-number__token .tokenfield {
  height: 10rem;
}

.bsft-padding__token {
  margin-top: 1rem;
}

.bsft-margin {
  margin-left: 2rem;
}
