@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/settings/colors';

.bsft-number_subheading {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.bsft-number_desc {
  padding-top: .5rem;
}

.bsft-margin {
  margin-left: 2rem;
}
.bsft-number {
  .cs-input, .form-control, .textarea {
    border: 0 none;
    height: 2.5rem;
  }

  .tokenfield .token {
    border: 2px solid $gray-light-4;
    background-color: transparent;
    color: $gray-darkest;
  }
  .form-control {
    margin-left: -10px;
    .token .close {
      font-size: 1.6em;
      line-height: initial;
    }
  }
  .tokenfield .token .close {
    border: none;
    background-color: transparent;
    color: $gray-light-1;
  }
}