user-status-history {
  .side-panel-section {
    padding-top: 1rem;
  }

  .timestamp {
    font-size: 12px;
  }

  .last-entries-label {
    padding-top: 1rem;
    font-style: italic;
    font-weight: 500;
  }
}
