@import '~@collabui/collab-ui/scss/settings/colors';

.order-provisioning {
  background-color: $color-white;
}

.provisioning-details {
  &.break-word {
    word-wrap: break-word;
  }
}
.provisioning-details__raw {
  font-size: .85rem;
}
