<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<p>{{'downloadPage.thank' | translate}}  </p>
<p id="account">{{'downloadPage.account' | translate: tlData}}</p>

<div id="iosTxt" ng-show="isIPhone()">
<p>{{'downloadPage.install' | translate}} <a ng-href="{{iPhoneURL}}">{{'downloadPage.link' | translate}}</a></p>
</div>

<div id="androidTxt" ng-show="isAndroid()">
<p>{{'downloadPage.install' | translate}} <a ng-href="{{androidURL}}">{{'downloadPage.link' | translate}}</a></p>
</div>

<div id="webTxt" ng-show="isWeb()">
<p>{{'downloadPage.using' | translate}} <a ng-href="{{webClientURL}}"> {{'downloadPage.squared' | translate}}</a></p>
</div>

<div id="sendStatus" mailStatus='{{sendStatus}}' />

