<div class="admin">
  <br />
  <h2>Manage Users<br />
    <small id="subTitleAdd" ng-show="isAddEnabled()">Add new users</small>
    <small id="subTitleEnable" ng-show="!isAddEnabled()">Entitle users</small>
  </h2>
  <div>
    <form role="form">
      <div class="form-group">
        <label for="inputEmail3">Email</label>
        <div>
          <input class="form-control" type="text" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
        </div>
      </div>
      <div class="form-group">
        <div>
          <button class="btn btn-link pull-right">Cancel</button>
          <button id="btnAdd" class="btn btn-primary pull-right" ng-show="isAddEnabled()" ng-click="addUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">Add</button>
          <button id="btnEntitle" class="btn btn-primary pull-right" ng-show="!isAddEnabled()" ng-click="entitleUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">Entitle</button>
        </div>
      </div>
    </form>
  </div>
</div>

<br />

<div ng-show="error || results && results.resultList.length > 0">
  <div class="alert alert-success" ng-show="(results.resultList|filter:{alertType:'success'}).length > 0">
    <div ng-repeat="userResult in results.resultList | filter:{alertType:'success'}">
      {{userResult.email}} {{userResult.message}}
    </div>
  </div>
  <div class="alert alert-danger" ng-show="(results.resultList|filter:{alertType:'danger'}).length > 0" >
    <div ng-repeat="userResult in results.resultList | filter:{alertType:'danger'}">
      {{userResult.email}} {{userResult.message}}
    </div>
  </div>
  <div class="alert alert-danger" ng-show="error">{{error}}</div>
</div>
