<div class="notification"></div>

<div  class="user-tab-panel" ng-hide="!Utils.isAdminPage()">
  <tabset justified="true">
    <tab heading="{{getTabTitle('usersPage.listSubTab')}}" id="userSubtab" active="userTabActive" select="changeTab('users')"></tab>
    <tab heading="{{getTabTitle('usersPage.inviteSubTab')}}" id="inviteSubtab" active="inviteTabActive"  select="changeTab('invite')"></tab>
  </tabset>

  <div ng-controller="ListUsersCtrl" id="export-btn" ng-csv="exportCSV()" filename="{{'usersPage.csvFilename' | translate}}" title="{{'usersPage.csvBtnTitle' | translate}}" class="btn" ng-disabled="exportBtn.disabled"><span id="export-icon"><i class="fa fa-file-text"></i></span></div>
</div>

<div ng-init="init()">

  <div class="panel panel-default" ng-show="inviteTabActive" id="manageUsersPanel">
    <div class="panel-heading panel-heading-default">
      <div id="addUsers">
        <h3 class="panel-title panel-title-default">
          <strong id="subTitleAdd" ng-show="isAddEnabled()" translate="usersPage.subTitleAdd"></strong>
          <strong id="subTitleEnable" ng-show="!isAddEnabled()" translate="usersPage.subTitleEnable"></strong> 
        </h3>
      </div>
    </div>

    <div class="panel-body">
      <form role="form">
        <div class="form-group">
          <label for="inputEmail3" translate="usersPage.email"></label>
          <input class="form-control" type="text" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
          <br>
          <div class="entitle-btn-grp">
            <div class="btn-group right" ng-repeat="(service, val) in entitlements" ng-if="service!='webExSquared'">
             <input type="checkbox" id="{{'btn_'+service}}" ng-model="entitlements[service]" icheck>
             <label style="font-size:15px; padding:5px">{{getServiceName(service)}}</label>
           </div>
         </div>
       </div>

       <div class="form-group">
        <div id="btnCancel" class="btn btn-link pull-right" ng-click="clearPanel()"><span translate="usersPage.clear"></span></div>
        <button id="btnAdd" class="btn btn-primary pull-right" ng-show="isAddEnabled()" ng-click="addUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.add"></span></button>
        <button id="btnEntitle" class="btn btn-primary pull-right" ng-click="entitleUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.update"></span></button>
        <button id="btnInvite" class="btn btn-primary pull-right" ng-click="inviteUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="usersPage.invite"></span></button>

      </div>
    </form>
  </div>
</div>

<div ng-controller="ListUsersCtrl">
  <div ng-show="userTabActive" id="userslistpanel">
    <table id="userslist" class="table table-bordered">
      <thead>
        <tr>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.firstnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.lastnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('username')" id="username-sort"><span translate="usersPage.emailHeader"></span> <i class="fa {{sort.icon.username}} pull-right"></i></th>
          <th class="text-center"><img src="images/logo_gray.png" height="20px" width="20px" alt=""></img></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!queryuserslist"><td></td><td></td><td></td><td></td></tr>
        <tr ng-show="queryuserslist" ng-repeat="user in queryuserslist" ng-click="showUserDetails(user)" id="{{user.id}}">
          <td><span ng-if="user.name">{{user.name.givenName}}</span></td>
          <td><span ng-if="user.name">{{user.name.familyName}}</span></td>
          <td>{{user.userName}}</td>
          <td class="text-center icon-{{user.id}}" ng-bind-html="getEntitlementState(user)?getStatusIcon('active'):getStatusIcon('inactive')"></td>
        </tr>
      </tbody>
    </table>
    <div id="queryresults" value="{{queryuserslist.length}}" style="display: none;">{{queryuserslist.length}}</div>
    <ul class="pagination" ng-show="queryuserslist">
      <li><a id="prev-page" ng-click="pagination.prevPage();"><i class="fa fa-angle-left"></i></a></li>
      <li class="pagination-current"><a>{{page}}</a></li>
      <li><a id="next-page" ng-click="pagination.nextPage()"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>

  <table class="table table-bordered" id="details-table" ng-show="currentUser && userTabActive">
    <thead>
      <tr>
        <th ng-if="currentUser.name.givenName">Plan details for {{currentUser.name.givenName}}</th>
        <th ng-if="!currentUser.name.givenName">Plan details for {{currentUser.userName}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <tabset justified="true">
            <tab heading="Service Profile">
              <div class="details-body">
                <strong>Services</strong>
                <div class="entitle-check-grp" ng-repeat="(service, val) in entitlements">
                  <div class="btn-group">
                    <input type="checkbox" name="{{service}}" ng-model="entitlements[service]" icheck>
                  </div>
                  <span style="font-size:15px; padding:10px">
                    {{getServiceName(service)}}
                  </span>
                </div>
                <button id="btnSave" class="btn btn-primary" style="margin-left:62%; margin-top:5px;" ng-click="changeEntitlement(currentUser)" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="profilePage.save"></span></button>
              </div>
            </tab>
            <tab heading="User Profile">
              <div class="details-body">
                <div style="margin-bottom:5px;" ng-hide="photoPath">
                  <i class="fa fa-user fa-4x"></i>
                </div>
                <div style="margin-bottom:5px;" ng-show="photoPath">
                  <img src="{{photoPath}}"></img>
                </div>
                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="firstName" translate="profilePage.fname"></label>
                  <input class="form-control" type="text" id="fnameField" ng-model="currentUser.name.givenName" value="{{currentUser.name.givenName}}"/>
                </div>

                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="lastName" translate="profilePage.lname"></label>
                  <input class="form-control" type="text" id="lnameField" ng-model="currentUser.name.familyName" value="{{currentUser.name.familyName}}"/>
                </div>

                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="email" translate="profilePage.email"></label>
                  <input class="form-control" type="text" id="emailField" value="{{currentUser.userName}}" disabled/>
                </div>

                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="org" translate="profilePage.org"></label>
                  <input class="form-control" type="text" id="orgField" value="{{orgName}}" disabled/>
                </div>

                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="title" translate="profilePage.title"></label>
                  <input class="form-control" type="text" id="titleField" ng-model="currentUser.title" value="{{currentUser.title}}"/>
                </div>

                <div class="form-profile-grp">
                  <label style="margin-bottom:0px;" for="modDate" translate="profilePage.modDate"></label>
                  <input class="form-control" type="text" id="modDateField" value="{{currentUser.meta.lastModified}}" disabled/>
                </div>

                <button id="btnSave" class="btn btn-primary" style="margin-left:62%; margin-top:5px;" ng-click="updateUser()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>"><span translate="profilePage.save"></span></button>
              </div>
            </tab>
          </tabset>
        </td>
      </tr>
    </tbody>
  </table>
</div>
