<div class="notification"></div>
<div class="admin" ng-init="init()">
  <h2 translate="profilePage.userProfile"></h2>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading panel-users">
      <div id="userProfile">
        <h3 class="panel-title users-title">
          <strong id="subTitleAdd" translate="profilePage.userDetails"></strong>
        </h3>
      </div>
    </div>

    <div class="panel-body">
      <form role="form">
        <div class="form-group">
         
        </div>
      </div>
    </form>
  </div>
</div>


<div class="panel panel-default">
  <div id="userSupport">
        <h3 class="panel-title users-title">
          <strong id="listSupportItems" translate="profilePage.userLogs"></strong>
        </h3>
      </div>
    </div>
</div>
