<div class="admin">
  <h2>MANAGE USERS</h2>
  <br>
  <div class="panel panel-default">

      <div class="panel-heading">
        <div id="addUsers">
          <h3 class="panel-title">
            <strong id="subTitleAdd" ng-show="isAddEnabled()">Add new users</strong>
            <strong id="subTitleEnable" ng-show="!isAddEnabled()">Entitle users</strong>
          </h3>
        </div>
      </div>

      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="inputEmail3">Email</label>
            <input class="form-control" type="text" id="usersfield" placeholder="Enter email addresses separated by commas or semi-colons" />
            <br>

            <div class="entitle-btn-grp">
              <div class="btn-group">
                <button type="button" class="btn btn-primary entitle-btn" ng-model="entitlements['squaredCallInitiation']" btn-radio="true">On</button>
                <button type="button" class="btn btn-primary entitle-btn" ng-model="entitlements['squaredCallInitiation']" btn-radio="false">Off</button>
              </div>
              <span style="font-size:16px; padding:10px">
                Call-Initiation
              </span>
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-link pull-right">Cancel</button>
            <button id="btnAdd" class="btn btn-primary pull-right" ng-show="isAddEnabled()" ng-click="addUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">Add</button>
            <button id="btnEntitle" class="btn btn-primary pull-right" ng-show="!isAddEnabled()" ng-click="entitleUsers()" data-loading-text="<i class='fa fa-refresh fa-spin'></i>">Entitle</button>
          </div>
        </form>
      </div>

    <div ng-show="error || results && results.resultList.length > 0">
      <div class="alert alert-success" ng-show="(results.resultList|filter:{alertType:'success'}).length > 0">
        <div ng-repeat="userResult in results.resultList | filter:{alertType:'success'}">
          {{userResult.email}} {{userResult.message}}
        </div>
      </div>
      <div class="alert alert-danger" ng-show="(results.resultList|filter:{alertType:'danger'}).length > 0" >
        <div ng-repeat="userResult in results.resultList | filter:{alertType:'danger'}">
          {{userResult.email}} {{userResult.message}}
        </div>
      </div>
      <div class="alert alert-danger" ng-show="error">{{error}}</div>
    </div>
  </div>
</div>

<div class="panel panel-default" ng-show="queryuserslist" id="userslistpanel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <strong>Existing Users <span id="totalresults" value="{{totalResults}}">({{totalResults}})</span></strong>
    </h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th ng-click="setSort('name')" id="name-sort">NAME <i class="fa {{sort.icon.name}}"></i></th>
          <th ng-click="setSort('username')" id="username-sort">EMAIL <i class="fa {{sort.icon.username}}"></i></th>
          <th id="date-sort">ADDED <i class="fa {{sort.icon.date}}"></i></th>
          <th>STATUS/TOOLS</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in queryuserslist">
          <td><span ng-if="user.name">{{user.name.familyName}}, {{user.name.givenName}}</span></td>
          <td>{{user.userName}}</td>
          <td>N/A</td>
          <td class="btn-group"><span class="dropdown-toggle" data-toggle="dropdown">{{getEntitlementState(user)? 'Active':'Inactive'}} <span class="caret"></span></span>
            <ul class="dropdown-menu" role="menu" >
              <li ng-click="changeEntitlement(user)"><a>Modify</a></li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <ul class="pagination">
      <li><a id="first-page" ng-click="pagination.firstPage()"><i class="fa fa-angle-double-left"></i></a></li>
      <li><a id="prev-page" ng-click="pagination.prevPage();"><i class="fa fa-angle-left"></i></a></li>
      <li class="pagination-current"><a>{{pagination.page + 1}}</a></li>
      <li><a id="next-page" ng-click="pagination.nextPage()"><i class="fa fa-angle-right"></i></a></li>
      <li><a id="last-page" ng-click="pagination.lastPage()"><i class="fa fa-angle-double-right"></i></a></li>
    </ul>
  </div>
</div>
