<cs-sp-buttons ng-show="$ctrl.showSaveButton()">
  <button class="btn-primary"
          ng-click="$ctrl.saveData()"
          cs-btn
          loading="$ctrl.savingPage">
    <span translate="common.save"></span>
  </button>
  <button class="btn-default"
          ng-click="$ctrl.cancel()"
          cs-btn
          loading="$ctrl.savingPage">
    <span translate="common.cancel"></span>
  </button>
</cs-sp-buttons>
<cs-sp-container>

  <cs-sp-section class="cloud-extensions">
    <div class="section-title-row">
      <span class="section-name" translate="hercules.hybridServiceNames.spark-hybrid-impinterop"></span>
      <cs-toggle-switch toggle-id="impEntitledToggle"
                        ng-model="$ctrl.entitledToggle"
                        cs-change="$ctrl.changeEntitlement(toggleValue)"
                        size="small"
                        ng-if="!$ctrl.loadingPage && !$ctrl.couldNotReadUser">
      </cs-toggle-switch>
      <cs-toggle-switch ng-if="!$ctrl.loadingPage && $ctrl.couldNotReadUser"
                        is-disabled="true"
                        size="small">
      </cs-toggle-switch>
      <span cs-loader
            class="cloud-extension-label loader-example--small"
            ng-if="$ctrl.loadingPage"></span>
    </div>
    <div>
      <p class="extension-description">{{'hercules.cloudExtensions.serviceDescriptions.spark-hybrid-impinterop' | translate}}</p>

      <div class="row collapse"
           ng-if="$ctrl.userStatus">
        <div class="columns small-3">
          <span class="cloud-extension-label">{{::'cloudExtensions.status' | translate}}:</span>
        </div>
        <div class="columns small-7 normal-line-height"
             ng-if="!$ctrl.loadingPage">
            <span class="cloud-extension-label"
                  ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatus"
                  ng-class="'status-' + $ctrl.userStatus.state"
                  id="userStatus"
                  translate="hercules.activationStatus.{{$ctrl.getStatus($ctrl.userStatus)}}"></span>

          <span class="cloud-extension-label last-state-change-timestamp"
                ng-if="$ctrl.userIsCurrentlyEntitled && $ctrl.userStatus && $ctrl.lastStateChangeText">
            {{$ctrl.lastStateChangeText}}
            </span>

          <span class="cloud-extension-label status-off"
                ng-if="!$ctrl.userIsCurrentlyEntitled && !$ctrl.couldNotReadUser"
                translate="common.off"></span>

          <span class="cloud-extension-label status-off"
                ng-if="!$ctrl.userIsCurrentlyEntitled && $ctrl.couldNotReadUser"
                translate="common.unknown"></span>

        </div>
        <div class="columns small-7 normal-line-height"
             ng-if="$ctrl.loadingPage">
          <span cs-loader class="cloud-extension-label loader-example--small"></span>
        </div>

      </div>

    </div>
  </cs-sp-section>

  <hybrid-services-resource-group-selector user-id="$ctrl.userId"
                                           service-id="'spark-hybrid-impinterop'"></hybrid-services-resource-group-selector>

</cs-sp-container>
