.active-user-population {
  position: relative;
  padding: 0 15px;
  .spinner-position {
    position: relative;
    top: -150px;

    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .percent-large {
    font-size: 25px;
    font-family: $brand-font-cisco-TT-Light;
  }
  .percent-label {
    font-size: 15px;
    font-family: $brand-font-cisco-TT-Light;
  }
  .graph-population{
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 20px;
    text-align: left;
  }
  .no-data-center {
    top: -200px;
    position: relative;
  }
}
#activeUserPopulationDiv{
  position: relative;
  top: 2px;
}
#activeUserPopulationChart{
  overflow: visible !important;
  position: relative;
  top: -50px;
  height: 350px;
  .amcharts-chart-div{
    overflow: visible !important;
    svg {
      height: 460px !important;
      top: 50px !important;
      overflow: visible !important;
      position: relative !important;
    }
  } 
  .amcharts-balloon-div {
    margin-top: 50px !important;
  }
}
