.active-user-population {
  position: relative;
  padding: 60px 15px 0px;

  .spinner-position {
    position: relative;
  }
  .description-div {
    padding: 15px 0px 0px;
    vertical-align: text-top;
  }
  .average-div {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    position: relative;
    z-index: 1000;
  }
  .percent-large {
    font-size: 30px;
    display: relative;
    top: 20px;
    left: 0px;
  }
  .percent-label {
    font-size: 18px;
    padding-left: 8px;
    padding-top: 12px;
  }
  .percent-label,
  .percent-large {
    font-family: "Arial";
  }

  .graph-population{
    color: $gray-darkest;
    font-family: "Arial";
    font-size: 20px;
    text-align: left;
  }

  .no-data-center {
    top: -250px;
    left: 35%;
    position: relative;
    transform: translate(0%, 35%);

    .no-data {
      color: $gray-light;
      font-family: "CiscoSansTT Light";
      font-size: 46px;
    }
  }

  span{
    margin: 0;
    padding: 0;
  }
}

#activeUserPopulationRefreshDiv, .full-width{
  width: 100%;
}

#activeUserPopulationDiv{
  position: relative;
  top: 2px;
}

#activeUserPopulationChart{
  overflow: visible !important;
  position: relative;
  top: -50px;
  height: 350px;

  .amcharts-chart-div{
    overflow: visible !important;

    svg {
      height: 460px !important;
      top: 50px !important;
    }
  } 

  .amcharts-balloon-div {
    top: 75px !important;
  } 
}

#activeUserPopulationRefreshDiv {
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
