.active-user-population {
  .percent-large {
    font-size: 25px;
    font-family: $brand-font-cisco-TT-Light;
  }
  .percent-label {
    font-size: 15px;
    font-family: $brand-font-cisco-TT-Light;
  }
  .graph-population{
    color: $gray-darkest;
    font-family: $brand-font-cisco-TT-Regular;
    font-size: 20px;
    text-align: left;
  }
}
#activeUserPopulationDiv p {
  padding: 0;
  position: relative;
  z-index: 500;
}
#activeUserPopulationChart{
  position: relative;
  height: 350px;
  left: 18px;
  .amcharts-chart-div svg {
    position: relative !important;
  }
  .amcharts-balloon-div {
    margin-top: 5px !important;
  }
}
