<div class="dr-container" id="confirm-admin-container">
    <div class="dr-row" ng-hide="drConfirmAdminOrgController.error == null">
        <textarea rows="2" cols="50" ng-model="drConfirmAdminOrgController.error" readonly="readonly" id="dr-error"/>
    </div>
	<div class="dr-row">
		<div class="dr-center dr-pad" id="dr-onboard-verified-label" translate="digitalRiver.drConfirmAdminOrg.companyAndOrg1"/>
	</div>
	<div class="dr-row">
		<div class="dr-center dr-pad">{{drConfirmAdminOrgController.org}}</div>
	</div>
	<div class="dr-row">
		<div class="dr-center dr-pad" id="dr-onboard-verified-label3" translate="digitalRiver.drConfirmAdminOrg.companyAndOrg2"/>
	</div>
	<div class="dr-row">
		<div class="dr-button">
			<button class="btn btn--primary" ng-click="drConfirmAdminOrgController.handleYes()" id="dr-onboard-question-continue" translate="digitalRiver.continue"/>
			<button class="btn btn--primary" ng-click="drConfirmAdminOrgController.handleNo()" id="dr-onboard-question-no" translate="digitalRiver.drConfirmAdminOrg.useDifferentName"/>
		</div>
	</div>
</div>

