<cs-sp-header class="cdr-overview">
  <div class="header-image">
    <i class="icon icon-cisco-logo big-icon"></i>
  </div>
  <div class="header-info">
    <div class="header-info-wrap">
      <div class="header-title">
        <span translate="cdrLogs.advancedCDR"></span>
      </div>
      <div class="header-sub-info">
        <span class="user-info-1"><b translate="cdrLogs.local"></b> {{::cdrpanel.localSessionID}}</span>
      </div>
      <div class="header-sub-info">
        <span class="user-info-2"><b translate="cdrLogs.remote"></b> {{::cdrpanel.remoteSessionID}}</span>
      </div>
    </div>
  </div>
</cs-sp-header>
<cs-sp-container class="cdr-overview">
  <cs-sp-section>
    <div class="row">
      <input type="text" class="columns medium-4 cdr-overview-controls" placeholder="{{::cdrpanel.searchPlaceholder}}" ng-model="cdrpanel.searchField"></input>
      <div class="columns medium-4 cdr-overview-controls">
        <a id="cdrDownloadButton" class="btn btn-primary cdr-overview-button" download="{{::cdrpanel.filename}}" ng-href="{{::cdrpanel.jsonUrl}}" translate="cdrLogs.cdrSave" ng-click="cdrpanel.cdrClick()"></a>
        <button class="btn btn-primary cdr-overview-button" translate="cdrLogs.ladderDiagram" ng-click="cdrpanel.openLadderDiagram()"></button>
      </div>
    </div>
  </cs-sp-section>
  <cs-sp-section>
    <div class="cdrTable">
      <table class="table table-bordered">
        <colgroup>
          <col class="medium-5">
          <col class="medium-5">
        </colgroup>
        <thead>
          <tr>
            <th translate='cdrLogs.element'></th>
            <th translate='cdrLogs.value'></th>
          </tr>
        </thead>
      </table>
    </div>
    <div cs-scroll class="cdrTable table-body">
      <table id="cdrDisplayTable" class="table table-bordered">
        <colgroup>
          <col class="medium-5">
          <col class="medium-5">
        </colgroup>
        <tbody>
          <tr  ng-repeat="item in cdrpanel.cdr | filter:cdrpanel.searchField">
            <td>{{::item.key}}</td>
            <td>{{::item.value}}</td>
          </tr>
          </tbody>
      </table>
    </div>
  </cs-sp-section>
</cs-sp-container>
