<div class="subscriptions-container">
  <cr-trial-notice-banner></cr-trial-notice-banner>
  <cs-card-layout block-view="true">
    <cs-card class="full subscriptions detail-view" ng-repeat="subscription in mcpSubscription.subscriptionDetails" ng-if="mcpSubscription.subscriptionDetails.length > 1">
      <article><section>
        <h3 class="columns medium-1 sub-name" ng-if="mcpSubscription.subscriptionDetails.length === 1" translate="subscriptions.defaultName"></h3>
        <h3 class="columns medium-1 sub-name"  ng-if="mcpSubscription.subscriptionDetails.length > 1" translate="subscriptions.numberedName" translate-values="{number: $index + 1}"></h3>
        <div class="columns medium-8 subscription-column">
          <div ng-repeat="license in subscription.licenses" ng-if="subscription.viewAll || ($index < 3)" 
          ng-class="{'detail': !subscription.viewAll || (subscription.licenses.length < 4), 'detail-expanded detail-space': subscription.viewAll && (subscription.licenses.length > 3)}">
            <span class="h6" translate="subscriptions.licenseTypes.{{::license.offerName}}"></span>
          </div>
          <div class="detail-expanded detail-break" ng-if="subscription.viewAll" ng-class="{'detail-space': subscription.viewAll && (subscription.licenses.length > 3)}">
            <span class="h6" translate="subscriptions.subscription"></span>
            <span class="h6">{{::subscription.subscriptionId}}</span>
          </div>
          <div ng-click="subscription.viewAll = !subscription.viewAll" ng-class="{'detail': !subscription.viewAll, 'detail-expanded': subscription.viewAll, 'detail-space': subscription.viewAll && (subscription.licenses.length > 3)}">
            <a class="h6" translate="subscriptions.more" ng-if="!subscription.viewAll"></a>
            <a class="h6" translate="subscriptions.less" ng-if="subscription.viewAll"></a>
          </div>
        </div>
        <div class="columns medium-2 subscription-upgrade">
          <div class="license-quantity pull-right">
            <span class="h6" translate="subscriptions.quantity"></span>
            <span class="h6">{{::subscription.licenses.length}}</span>
          </div>
        </div>
      </section></article>
    </cs-card>

    <cs-card class="full subscriptions" ng-if="mcpSubscription.hybridServices.length > 0 || mcpSubscription.visibleSubscriptions">
      <article><section>
        <div class="row">
          <h3 class="column sub-name" translate="subscriptions.licenseSummary"></h3>
        </div>
        <div class="row" ng-repeat="licenseCategory in mcpSubscription.licenseCategory" ng-show="licenseCategory.subscriptions && licenseCategory.subscriptions.length > 0">
          <h5 class="columns medium-2 subscription-type">{{::licenseCategory.label}}</h5>
          <div class="columns medium-10 subscription-column">
            <div class="subscription-item" ng-repeat="subscription in licenseCategory.subscriptions" ng-class="{'item-with-borders': licenseCategory.borders}">
              <!-- default path, no borders -->
              <cs-donut name="subscription.id" value="subscription.usage" max="subscription.volume" ssize="48" class="text-center" ng-if="!licenseCategory.borders"></cs-donut>
              <div class="subscription-description" ng-if="!licenseCategory.borders" ng-if="!licenseCategory.borders">
                <div class="h6" translate="subscriptions.licenseTypes.{{::subscription.offerName}}"></div>
                <div>
                  <span class="h6" translate="subscriptions.usage"></span>
                  <span class="h6" ng-class="{'warning': subscription.usage > subscription.volume}">{{::subscription.usage}}/{{::subscription.volume}}</span>
                </div>
              </div>

              <!-- if not default, there are borders -->
              <div class="h5 subscription-site" ng-if="subscription.siteUrl && licenseCategory.borders">{{::subscription.siteUrl}}</div>
              <div ng-repeat="offer in subscription.offers" class="subscription-interior" ng-if="licenseCategory.borders">
                <cs-donut name="offer.id" value="offer.usage" max="offer.volume" ssize="48" class="text-center"></cs-donut>
                <div class="subscription-description">
                  <div class="description-line">
                    <span class="name" translate="subscriptions.licenseTypes.{{::offer.offerName}}"></span>
                  </div><div class="description-line">
                    <span translate="subscriptions.usage"></span>
                    <span ng-class="{'warning': offer.usage > offer.volume}">{{::offer.usage}}/{{::offer.volume}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" ng-show="mcpSubscription.hybridServices && mcpSubscription.hybridServices.length > 0">
          <h5 class="columns medium-2 subscription-type" translate="subscriptions.hybrid"></h5>
          <div class="columns medium-10 subscription-column">
            <ul class="hybrid-ul">
              <li ng-repeat="service in mcpSubscription.hybridServices">
                <i class="icon icon-circle" ng-class="service.healthStatus || 'error'"></i>
                <span class="h6">{{::service.label}}</span>
              </li>
            </ul>
          </div>
        </div>
      </section></article>
    </cs-card>
  </cs-card-layout>
</div>
