<div ng-form="contactLastNameForm">
  <label class="sub-section__label" translate="common.lastName"></label>
  <div class="row">
    <input
      cs-input
      type="text"
      name="lastName"
      ng-model="$ctrl.lastName"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
      ng-change="$ctrl.onNameChanged()"
      placeholder="{{'common.lastName' | translate}}"
      cs-input-messages="$ctrl.messages"
      cs-input-group-size="medium-6"
      required>
  </div>
</div>