<cs-sp-container>
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name">{{$ctrl.alarm.title}}</span>
    </div>
    <table>
      <tbody>
        <tr>
          <td translate="hercules.alarms.severity"></td>
          <td>
            <i class="icon icon-circle status-indicator" ng-class="$ctrl.getAlarmSeverityCssClass($ctrl.alarm.severity)"></i>
            <span translate="{{'hercules.alarms.' + $ctrl.alarm.severity}}"></span>
          </td>
        </tr>
        <tr>
          <td translate="hercules.alarms.firstReported"></td>
          <td><span>{{$ctrl.parseDate($ctrl.alarm.firstReported) | date : 'medium'}}</span></td>
        </tr>
        <tr>
          <td translate="hercules.alarms.lastReported"></td>
          <td><span>{{$ctrl.parseDate($ctrl.alarm.lastReported) | date : 'medium'}}</span></td>
        </tr>
      </tbody>
    </table>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.alarm.affectedNodes.length > 0">
    <section-title title-key="hercules.alarms.affectedNodes"></section-title>
    <ul ng-repeat="node in $ctrl.alarm.affectedNodes">
      <li>{{node}}</li>
    </ul>
  </cs-sp-section>
  <cs-sp-section>
    <section-title title-key="hercules.alarms.description"></section-title>
    <p ng-bind-html="$ctrl.alarm.description"></p>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.alarm.solution && !$ctrl.alarm.key">
    <section-title title-key="hercules.alarms.action"></section-title>
    <p>
      <span ng-repeat="element in $ctrl.alarm.alarmSolutionElements">
        <a ng-if="element.link"
           target="_blank"
           href="{{element.link}}">{{element.text}}</a>{{!element.link ? element.text : ''}}
      </span>
    </p>
  </cs-sp-section>
</cs-sp-container>
