aa-message-line-break {
  border-bottom: 2px solid $gray-light-1;
  @include vr-spacing(mb, .5);
  width: 97%;
  margin-left: 1.5%;
}

.aa-message-subtext {
  color: $gray-light-1;
  @include vr-spacing(mb, .75);
  font-style: italic;
}

