.aa-message-select-list {
  @include vr-spacing(mb, .25);
  @include vr-spacing(pl, 0);
  min-width: 10rem;
  @include vr-spacing(ml, 0);
  .select-toggle {
    width: 100%;
    @include vr-spacing(mt, 0);
    @include vr-spacing(pr, 1.75);
  }
  .select-toggle > i {
    @include vr-spacing(mr, 0);
    @include vr-spacing(ml, -0.5);
  }
  .dropdown-menu {
    width: 100%;
  }
}

.aa-message-line-break {
  @include vr-spacing(mb, 0.5);

  border-bottom: 2px solid $gray-light-1;
  width: 97%;
  margin-left: 1.5%;
}

.aa-message-subtext {
  @include vr-spacing(mb, 0.75);
  @include vr-spacing(mt, 0.5);

  color: $gray-light-1;
  font-style: italic;
}
