@import 'styles/toolkit/colors';
@import 'styles/toolkit/spacing';

.huntgroup {
  &.overlay-panel {
    cs-setup-assistant {
      width: 100%;
    }
  }

  .typeahead-large.error input {
    background-color: inherit;
  }

  .panel-content {
    flex: 1;
    height: calc(100vh - #{$top-bar-height + $overlay-panel-height});
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
}
