.huntgroup {
  &.overlay-panel {
    display: flex;
    flex-direction: column;
    & cs-setup-assistant {
      width: 100%;
    }
    .panel-content {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}

///// Type ahead input box styling with icon ///////
.typeahead-large {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: $brand-font-thin;
  width: 40rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  color: $gray-dark-1;

  // Search-icon.
  .input-search {
    @extend .icon;
    @extend .icon-search;
    @extend .icon-lg;
    @include vr-spacing(ph, 1);
  }

  // Description.
  .input-description {
    border: 0;
    border-top: solid rem(1px) $gray-light;
    width: 100%;
    text-align: center;
    padding: 1rem;
    color: $gray;
    font-style: italic;
  }

  // Input control.
  input {
    font-size: $font-size-h2;
    text-align: center;
    outline: none;
    width: 28rem;
    border: 0px none;
    text-align: left;
    &:focus {
      box-shadow: none;
    }

    &:focus ~ .input-description {
      border-top: solid rem(1px) $brand-primary;
    }

    &::-webkit-input-placeholder {
      text-align:center;
    }
    &::-moz-placeholder {
      text-align: center;
    }
    &:-ms-input-placeholder {
      text-align: center;
    }
  }

  // Suggestion dropdown.
  .dropdown-menu {
    min-width: 28rem;
    .active > a {
      background: $gray-light-2;
    }

    & li a {
      @include vr-spacing(ph, 1);
      @include vr-spacing(pv, 0.5);
    }

    & span {
      font-size: $font-size-h3;
      font-family: $brand-font-cisco-TT-Extra-Light;
      color: $gray-dark-2;
    }
  }
}

///// Styling for Hunt Pilot number page. /////
.pilot-number-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-content: center;
  justify-content: center;
}

.number-pill-container {
  display: inline-flex;
  flex-flow: row wrap;
  width: 40rem;
  flex: 1;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.number-pill-item {
  display: inline-block;
  width: rem-calc(200);
  background-color: $color-primary;
  border-radius: rem-calc(4);
  color: $color-white;
  @include vr-spacing(p,0.5);
  @include vr-spacing(m,0.25);

  & a, & a:hover {
    color: $color-white;
  }

  & .hunt-number {
    display: inline-block;
    min-width: 85%;
    text-align: left;
  }
}
///////////////////////////////////

.hunt-method-description {
  padding: 1rem;
  color: $gray;
  font-style: italic;
}
