<cs-sp-buttons ng-if="$ctrl.validDataChange">
  <button class="btn--primary btn-save" cs-btn loading="saving" ng-click="$ctrl.save()">
    <span translate="common.save"></span>
  </button>
  <button ng-disabled="saving" translate="common.cancel" ng-click="$ctrl.cancel()"></button>
</cs-sp-buttons>

<cs-sp-container class="user-details">
  <cs-sp-section>
    <div class="section-title-row">
      <span class="section-name" translate="cmc.userSettings.enabled"></span>
      <cs-toggle-switch toggle-id="cmcEntitledToggle" ng-model="$ctrl.entitled" cs-change="$ctrl.entitle(toggleValue)" size="small">
      </cs-toggle-switch>
    </div>
    <div class="section-title-row">
      <span class="section-name" translate="cmc.userSettings.mobileNumber"></span>
      <form name="mobileForm">
        <input cs-input id="cmcUserSettingMobile" name="mobile" ng-pattern="/^\+(?:[0-9]?){6,14}[0-9]$/"
               type="text" placeholder="Mobile" ng-model="$ctrl.mobileNumber"
               ng-change="$ctrl.dataChanged()" cs-input-messages="$ctrl.messages"/>
      </form>
    </div>
    <div class="section-title-row" ng-if="$ctrl.invalid">
      <div class="cmc-invalid">{{$ctrl.invalidMessage}}</div>
    </div>

    <div class="section-title-row">
      <span class="section-name" translate="cmc.userSettings.status"></span>
      <div ng-if="$ctrl.issues.length > 0" class="feature-name status-error">
        <div ng-repeat="issue in $ctrl.issues">
          <a href="" ui-sref="cmc.status">{{issue.message}}</a>
        </div>
      </div>
    </div>


  </cs-sp-section>

</cs-sp-container>
