<cs-sp-container>
  <cs-sp-section ng-if="$ctrl.currentPlace.sipUrl || $ctrl.currentPlace.additionalSipUrls">
    <section-title
      title-key="common.ciscoWebexSipAddress">
    </section-title>
    <p>{{$ctrl.currentPlace.sipUrl | giveBreakOpportunities}}<span class="badge primaryItemBadge" ng-if="$ctrl.currentPlace.additionalSipUrls.length > 0" translate="common.primary"></span></p>
    <p ng-repeat="sipUrl in $ctrl.currentPlace.additionalSipUrls">{{sipUrl | giveBreakOpportunities}}</p>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.hasSparkCall">
    <section-title
      title-key="directoryNumberPanel.directNumbers"
      action-list="$ctrl.actionList"
      as-button="true">
    </section-title>
    <directory-number-list
      directory-numbers="$ctrl.directoryNumbers"
      directory-number-sref="place-overview.communication.line-overview({numberId: directoryNumber.uuid})"
      line-threshold="5"
      voicemail-enabled="$ctrl.voicemailEnabled"
      on-directory-number-click="$ctrl.onCancelPreferredLanguage()">
    </directory-number-list>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.hasSparkCall">
    <section-title
      title-key="telephonyPreview.features">
    </section-title>
    <feature-list
      features="$ctrl.features"
      on-feature-click="$ctrl.clickFeature(feature)">
    </feature-list>
  </cs-sp-section>
</cs-sp-container>
