<cs-sp-buttons ng-class="{invisible: !$ctrl.onPrefLanguageChange}">
  <button cs-btn loading="$ctrl.prefLanguageSaveInProcess" class="btn btn--primary" ng-click="$ctrl.savePreferredLanguage()" ng-disabled="$ctrl.prefLanguageSaveInProcess" type="click">
    <span translate="common.save"></span>
  </button>
  <button cs-btn ng-click="$ctrl.onCancelPreferredLanguage()">
    <span translate="common.cancel"></span>
  </button>
</cs-sp-buttons>
<cs-sp-container>
  <cs-sp-section ng-if="$ctrl.currentPlace.sipUrl">
    <section-title
      title-key="deviceOverviewPage.sipUrl">
    </section-title>
    <p>{{$ctrl.currentPlace.sipUrl}}</p>
  </cs-sp-section>
  <uc-preferred-language
    cr-feature-toggle feature-show="huron-l10n-user-locale-2"
    places-id="$ctrl.currentPlace.cisUuid"
    has-spark-call="$ctrl.hasSparkCall"
    on-pref-language-change="$ctrl.onPrefLanguageChange"
    pref-language-save-in-process="$ctrl.prefLanguageSaveInProcess"
    places-preferred-language="$crtl.placesPreferredLanguage"
    default-preferred-lanugage="$ctrl.defaultPreferredLanugage"
    preferred-language="$ctrl.preferredLanguage"
    preferred-language-options="$crtrl.preferredLanguageOptions">
  </uc-preferred-language>
  <cs-sp-section ng-if="$ctrl.hasSparkCall">
    <section-title
      title-key="directoryNumberPanel.directNumbers"
      action-list="$ctrl.actionList">
    </section-title>
    <directory-number-list
      directory-numbers="$ctrl.directoryNumbers"
      directory-number-sref="place-overview.communication.line-overview({numberId: directoryNumber.uuid})"
      line-threshold="5"
      voicemail-enabled="$ctrl.voicemailEnabled"
      on-directory-number-click="$ctrl.onCancelPreferredLanguage()">
    </directory-number-list>
  </cs-sp-section>
  <cs-sp-section ng-if="$ctrl.hasSparkCall">
    <section-title
      title-key="telephonyPreview.features">
    </section-title>
    <feature-list
      features="$ctrl.features"
      on-feature-click="$ctrl.clickFeature(feature)">
    </feature-list>
  </cs-sp-section>
</cs-sp-container>