.servicesOverview {
  .hidden {
    display: none;
  }

  .gray-light header:after {
    border-top-color: $gray-light-1 !important;
  }

  h5 {
    color: $gray-dark-2;
  }

  .icon-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }

  .servicesBlock {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    display: block;
    min-height: 85vh;
    width: 100%;
    width: calc(100% + 2rem);
    .cluster-list.header-bar header:after {
      border-top-color: transparent !important;
    }
    h5 {
      margin-bottom: 0;
      margin-left: 0.5rem;

      opacity: 1;
      z-index: 100;
      span {
        font-size: 1rem;
      }
    }
    .cs-card-layout {
      padding-bottom: 2rem;
      z-index: 1;
      overflow: hidden;
      .cs-card {
        padding-bottom: 1rem;
        display: block;
        height: auto;
        position: relative;
        article {
          min-height: 370px;
        }
        h4 {
          font-size: 1.63rem;
          padding-top: 0.5rem;
          text-align: center;
          font-family: $brand-font-extra-light;
          i {
            position: relative;
            top: 0.2rem;
          }
        }
        h4.size-1 {
          font-size: 1.3rem;
          padding-top: 1rem;
        }
        section {
          position: relative;
          .btn-link {
            width: 100%;
            margin-left: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            text-overflow: ellipsis;
            padding-top: 1px;
            padding-bottom: 1px;

            margin-top: 1rem;
            width: auto !important;
            padding-left: 1rem;
            padding-right: 1rem;

            &.disabled {
              color: $gray-dark-1;
              cursor: default;
            }
          }
        }
        footer {
          border-top: 1px solid $gray-light-4;
          display: flex;
          div {
            width: 100%;
            justify-content: flex-start;
            padding-top: rem(12);
          }
          .status {
            &:focus {
              box-shadow: none;
            }
            span {
              color: $gray-base;
            }
          }

        }
      }
      .cs-card.header-bar.cta-bar header:after {
        border-top-color: $color-cta-base !important;
      }
      .cs-card.header-bar.care-bar header:after {
        border-top-color: $color-people-base !important;
      }
    }
  }
}
