@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';
@import '~@collabui/collab-ui/scss/tools/mixins/vendor-prefixes';
@import '~@collabui/collab-ui/scss/tools/placeholders/page-layout';

.install-file-container {
  padding-bottom: rem-calc(16);

  .cs-card article {
    height: rem-calc(244);
  }
  .cs-card article section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  .cs-card > article header {
    @include vr-spacing(pt, 1);
  }

  .card-body {
    &:hover {
      cursor: pointer;
    }
  }

  .card-section {
    @include vr-spacing(pl, 1.5);
  }

  .card-section-item {
    display: block;
    color: $gray-base;
    font-family: $brand-font-light;
    font-size: $base-font-size;
    line-height: rem-calc(24);

    span {
      font-size: 1rem;
    }
  }

  .card-icon {
    @include vr-spacing(ml, 0.5);

    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: 50%;
    background-color: $gray-light-4;
    text-align: center;
  }

  // Atlas
  .cs-card.hoverable {
    article {
      &.hover,
      &:focus {
        p.h6,
        .card-section-item {
          color: $color-white;
        }
      }
      section {
        justify-content: flex-end;
      }
    }
  }

  footer.install-file-footer {
    background-color: #f5f5f5;
    padding: .4375rem 1.5rem .375rem;
    .footer-item {
      float: right;
      margin-left: 0.75rem;
    }
  }

}
