@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';

advanced-meeting-site-url {
  .license__siteUrl {
    color: $color-primary-base;
    font-family: $brand-font-light;

    span {
      font-size: inherit;
    }
  }
}
