upgrade-schedule-configuration {
  display: block;

  .btn--cta {
    margin-bottom: 1rem;
  }
}

.upgrade-schedule-form {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
}

.upgrade-schedule-time {
  .upgrade-schedule-form-daily & {
    margin-right: 0;
  }
  margin-right: 20px;
  flex: 1 0 100px;
}

.upgrade-schedule-day {
  flex: 1 0 200px;
}

.upgrade-schedule-timezone {
  margin-top: 20px;
  flex: 1 0 250px;
}

.upgrade-schedule-next-time {
  margin-right: 20px;
}
