<p ng-if="$ctrl.state === 'error'" class="red">{{$ctrl.errorMessage}}</p>
<div class="upgrade-schedule-form">
  <cs-select
    class="upgrade-schedule-time"
    is-disabled="$ctrl.state === 'syncing'"
    labelfield="label"
    valuefield="value"
    ng-model="$ctrl.formData.scheduleTime"
    options="$ctrl.formOptions.time"
    placeholder="'Select a time'"
    >
  </cs-select>
  <cs-select
    class="upgrade-schedule-day"
    is-disabled="$ctrl.state === 'syncing' || $ctrl.daily"
    labelfield="label"
    valuefield="value"
    input-placeholder="sel.inputPlaceholder"
    ng-model="$ctrl.formData.scheduleDay"
    options="$ctrl.formOptions.day"
    placeholder="'Select a day'"
    >
  </cs-select>
  <cs-select
    class="upgrade-schedule-timezone"
    is-disabled="$ctrl.state === 'syncing'"
    labelfield="label"
    valuefield="value"
    filter="true"
    ng-model="$ctrl.formData.scheduleTimeZone"
    options="$ctrl.formOptions.timeZone"
    placeholder="'Select a timezone'"
    >
  </cs-select>
</div>
<p ng-if="!$ctrl.upgradeSchedule.acknowledged">
  <button class="btn btn--cta" ng-click="$ctrl.acknowledge($ctrl.formData)" translate="hercules.settings.scheduleUpgrade.defaultWarning"></button>
</p>
<p>
  <span translate="hercules.settings.scheduleUpgrade.postponeLabel"></span><br>
  <strong class="upgrade-schedule-next-time">{{$ctrl.upgradeSchedule.nextUpgradeWindow.startTime | date:'MMM d, y h:mm a':$ctrl.nextUpdateOffset}}</strong> <a href="#" ng-click="$ctrl.postpone($event)" translate="hercules.settings.scheduleUpgrade.postponeAction" ng-if="$ctrl.canPostpone && !$ctrl.upgradeSchedule.moratoria.length > 0"></a>
</p>
