<div ng-form="siteNameForm">
  <label class="sub-section__label" translate="locations.locationName"></label>
  <div class="row">
    <input
      cs-input
      type="text"
      name="siteName"
      ng-model="$ctrl.name"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
      ng-change="$ctrl.onNameChanged()"
      placeholder="{{'locations.locationName' | translate}}"
      focus-on
      cs-input-messages="$ctrl.messages"
      cs-input-group-size="medium-6">
  </div>
</div>
