.ccc-channel-feature {
  flex: 1;
  display: flex;
  line-height: $feature-line-height;
  padding: 0 $side-panel-padding;
  margin: 0 #{-$side-panel-padding};
  .feature-icon {
    @extend .icon;
    font-size: 1.7rem;
    margin-right: 13px;
    line-height: $feature-line-height;
    &:before {
      @extend %icon-cisco-logo;
      line-height: $feature-line-height;
    }
  }
}

.feature-icon {
  #chat & {
    &:before {
      @extend %icon-circle-message;
    }
  }
  #voice & {
    &:before {
      @extend %icon-circle-call;
    }
  }
  #email & {
    &:before {
      @extend %icon-circle-email;
    }
  }
}
