<div class="section-title-row">
  <span class="section-name" translate="contactCenterUserConfig.contactCenterProfile"></span>
</div>

<div class="form-group">
  <p translate="contactCenterUserConfig.role"></p>
  <cs-select id="sunlightUserProfile"
             name="sunlightUserProfile"
             ng-click="showSaveCancel()"
             ng-model="SunlightUserOverview.roleSelected"
             options="SunlightUserOverview.roles">
  </cs-select>

  <br>
  <formly-form ng-keypress="showSaveCancel()"
               model="SunlightUserOverview.aliasFormModel"
               fields="SunlightUserOverview.alias">
  </formly-form>
</div>



