<div class="section-title-row">
  <span class="section-name" translate="contactCenter.channels"></span>
</div>
<div class="feature-list">
  <ul>
    <li ng-repeat="channel in SunlightUserOverview.mediaInfo" class="feature ccc-channel-feature" id="{{channel.name}}">
      <i class="feature-icon"></i>
      <span class="feature-name">{{'contactCenter.' + channel.name | translate}}</span>
      <i class="feature-arrow">
        <cs-toggle-switch ng-click = "showSaveCancel()" ng-model="channel.enabled" toggle-id="{{'sunlight-' + channel.name}}"
                          name="{{channel.name}}" size="small">
        </cs-toggle-switch>
      </i>
    </li>
  </ul>
</div>


