@import '~@collabui/collab-ui/scss/settings/colors';
@import '~@collabui/collab-ui/scss/settings/fonts';
@import '~@collabui/collab-ui/scss/settings/typography';
@import '~@collabui/collab-ui/scss/tools/mixins/spacing-responsive';

.hgmethods {
  &.large {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    height: calc(100vh - #{$top-bar-height + $overlay-panel-height});
  }

  .title {
    color: $color-primary-base;
    font-family: $brand-font-thin;
    font-size: $h1-font-size;

    @include vr-spacing(pt, 3);
  }

  .desc {
    @include vr-spacing(pt, 1);
    @include vr-spacing(pb, 2.5);

    color: $gray-dark-1;
    font-family: $brand-font-light;
    font-size: $h4-font-size;
  }

  .select-method {
    // margin-left: auto;
    // margin-right: auto;
    display: flex;
    flex-wrap: wrap;

    // @include vr-spacing(pb, 1);
  }
}

.large {
  .hgmethod {
    display: flex;
    flex: none;

    @include vr-spacing(ph, 0.5);
    @include vr-spacing(pb, 1);

    > a {
      @include vr-spacing(p, 0.75);
      @include vr-spacing(pt, 2.8);

      > div {
        color: $color-people-base;
        font-family: $brand-font-extra-light;
        font-size: $h3-font-size;

        @include vr-spacing(pt, 2);
      }

      > p {
        color: $gray-dark-2;
        font-family: $brand-font-light;
        font-size: $h6-font-size;
        text-align: left;

        @include vr-spacing(pt, 2.1);
        @include vr-spacing(pb, 0.75);
        @include vr-spacing(ph, 0.5);
      }

      > i {
        color: $gray-darkest;
        font-size: 4rem;
      }
    }
  }
}
