<div class="hgmethods" ng-class="{'large': $ctrl.isNew}">
  <div class="feature-step-title" ng-if="$ctrl.isNew">
    <h1 class="feature-title" translate="huronHuntGroup.methodTitle"></h1>
    <h6 class="feature-desc" translate="huronHuntGroup.methodHint"></h6>
  </div>
  <div class="method-container row">
    <ul class="select-method medium-block-grid-2 large-block-grid-4" ng-class="{'medium-centered medium-9 columns': $ctrl.isNew}">
      <li class="hgmethod" ng-class="{current: $ctrl.huntMethod === 'DA_LONGEST_IDLE_TIME'}">
        <a href id="firstHuntMethod" ng-click="$ctrl.setHuntMethod('DA_LONGEST_IDLE_TIME')">
          <i class="icon icon-circle-clock-hands"></i>
          <div translate="huronHuntGroup.hgMethods.longestIdle.name" ></div>
          <p ng-if="$ctrl.isNew" translate="huronHuntGroup.hgMethods.longestIdle.desc"></p>
        </a>
      </li>
      <li class="hgmethod" ng-class="{current: $ctrl.huntMethod === 'DA_BROADCAST'}">
        <a href ng-click="$ctrl.setHuntMethod('DA_BROADCAST')">
          <i class="icon icon-circle-arrows-cross"></i>
          <div translate="huronHuntGroup.hgMethods.broadcast.name"></div>
          <p ng-if="$ctrl.isNew" translate="huronHuntGroup.hgMethods.broadcast.desc"></p>
        </a>
      </li>
      <li class="hgmethod" ng-class="{current: $ctrl.huntMethod === 'DA_CIRCULAR'}">
        <a href ng-click="$ctrl.setHuntMethod('DA_CIRCULAR')">
          <i class="icon icon-circle-arrows-circular"></i>
          <div translate="huronHuntGroup.hgMethods.circular.name"></div>
          <p ng-if="$ctrl.isNew" translate="huronHuntGroup.hgMethods.circular.desc"></p>
        </a>
      </li>
      <li class="hgmethod" ng-class="{current: $ctrl.huntMethod === 'DA_TOP_DOWN'}">
        <a href ng-click="$ctrl.setHuntMethod('DA_TOP_DOWN')">
          <i class="icon icon-circle-arrow-down"></i>
          <div translate="huronHuntGroup.hgMethods.topDown.name"></div>
          <p ng-if="$ctrl.isNew" translate="huronHuntGroup.hgMethods.topDown.desc"></p>
        </a>
      </li>
    </ul>
  </div>
</div>
