<div
  class="csv-simple-export"
  ng-click="$ctrl.beginExport()"
  tooltip="{{$ctrl.activeTooltip}}"
  tooltip-placement="{{$ctrl.tooltipPlacement}}"
  tooltip-animation="false"
  tooltip-append-to-body="true"
  tooltip-trigger="focus mouseenter"
  aria-label="{{$ctrl.activeTooltip}}">
  <span ng-if="!$ctrl.exporting">
    <i class="icon icon-content-share icon-lg"></i>
  </span>
  <span ng-if="$ctrl.exporting">
    <i class="icon icon-spinner icon-lg"></i>
    <span class="download-element" ng-csv="$ctrl.doExport()" filename="{{$ctrl.filename}}"></span>
  </span>
</div>
