.customer-active-user {
  .report-sides {
    margin: 0 rem-calc(25);
  }
  .barchart {
    position: relative;
    top: -35px;
  }
  .active-users-table {
    margin-bottom: rem-calc(25);
    width: 95%
  }
}