.customer-active-user {
  .report-sides {
    margin: 0 rem-calc(25);
  }
  .barchart {
    position: relative;
    top: -35px;
  }
  .active-users-table {
    margin-bottom: rem-calc(25);
    width: 95%
  }
  .empty-table {
    width: 95%;
    margin: rem-calc(20);
    text-align: center;
  }
  .table-spinner {
    height: 100px;
    position: relative;
    top: 40px;
    width: 100%;
    .icon-2x {
      font-size: 4em;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}