<div ng-controller="ListUsersCtrl">
  <div id="userslistpanel">
    <table id="userslist" class="table table-bordered">
      <thead>
        <tr>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.firstnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('name')" id="name-sort"><span translate="usersPage.lastnameHeader"></span> <i class="fa {{sort.icon.name}} pull-right"></i></th>
          <th ng-click="setSort('username')" id="username-sort"><span translate="usersPage.emailHeader"></span> <i class="fa {{sort.icon.username}} pull-right"></i></th>
          <th class="text-center"><img src="images/logo_gray.png" height="20px" width="20px" alt=""></img></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="!queryuserslist"><td></td><td></td><td></td><td></td></tr>
        <tr ng-show="queryuserslist" ng-repeat="user in queryuserslist" ng-click="showUserDetails(user)" id="{{user.id}}">
          <td><span ng-if="user.name">{{user.name.givenName}}</span></td>
          <td><span ng-if="user.name">{{user.name.familyName}}</span></td>
          <td>{{user.userName}}</td>
          <td class="text-center icon-{{user.id}}" ng-bind-html="getEntitlementState(user)?getStatusIcon('active'):getStatusIcon('inactive')"></td>
        </tr>
      </tbody>
    </table>
    <div id="queryresults" value="{{queryuserslist.length}}" style="display: none;">{{queryuserslist.length}}</div>
    <ul class="pagination" ng-show="queryuserslist">
      <li><a id="prev-page" ng-click="pagination.prevPage();"><i class="fa fa-angle-left"></i></a></li>
      <li class="pagination-current"><a>{{page}}</a></li>
      <li><a id="next-page" ng-click="pagination.nextPage()"><i class="fa fa-angle-right"></i></a></li>
    </ul>
  </div>

</div>