<div class="user-entitlements-body">
  <div class="entitle-preview-grp">
    <div class="entitle-check-grp" ng-repeat="key in entitlementsKeys" ng-if="isServiceAllowed(key)&&key&&key !== 'jabberMessenger'">
      <div class="user-entitlement">
        <cs-checkbox class="user-entitlement__checkbox" ckid="{{'chk_'+key}}" ng-model="entitlements[key]" label="{{getServiceName(key)}}"></cs-checkbox>
        <span class="user-entitlement__tooltip" ng-switch="key">
          <i
            ng-switch-when="messengerInterop"
            class="icon icon-info"
            tabindex="0"
            tooltip="{{::'usersPage.ciscoSparkJabberInteropTooltip' | translate}}"
            tooltip-trigger="focus mouseenter"
            tooltip-class="long-msg"
            tooltip-placement="top"
            tooltip-animation="false"
            aria-label="{{::'usersPage.ciscoSparkJabberInteropTooltip' | translate}}">
          </i>
        </span>
      </div>
    </div>
  </div>
</div>
