<div class="details-body user-entitlements-body">
	<div class="entitle-preview-grp">
		<div class="entitle-check-grp" ng-repeat="key in entitlementsKeys" ng-if="isServiceAllowed(key)&&key&&key != 'jabberMessenger'">
			<cs-checkbox ng-class="{'indentedCheckbox':shouldAddIndent(key,'webExSquared') && shouldAddIndent(key,'jabberMessenger')};" ckid="{{'chk_'+key}}" ng-model="entitlements[key]" label="{{getServiceName(key)}}"></cs-checkbox>
		</div>
	</div>
	<div class="entitle-save-btn">
		<button id="btn-save" class="btn btn--people btn-save" cs-btn loading="btn_saveLoad" ng-show="hasUserEntitlements" ng-disabled="saveDisabled" ng-click="changeEntitlement(currentUser)"><span translate="common.save"></span></button>
	</div>
</div>
