.callpickupedit-state {
  @extend %page-background-white;
}

.callparkedit-state {
  @extend %page-background-white;
}

.call-feature-edit {
  @extend %content-header;

  .loading-container {
    font-size: 3rem;
    text-align: center;
  }

  .save-section {
      position: fixed;
      bottom: 0;
      display: flex;
      align-items: center;
      width: 100%;
      padding: 1.25rem 8.25rem 1.25rem 4rem;
      z-index: $zindex-popover;
      background-color: $gray-light-4;

      p {
        flex: 1;
      }
    }
}
