.hybrid-media-metrics-frame {
  .fullSize {
    height: 100%;
    width: 100%;
  }

  .fullHeight {
    height: 100%;
  }

  .metrics-loading-icon {
    margin-top: 10vh;
    font-size: 7rem;
  }

  .metrics-loading-data {
    margin-top: 1rem;
  }

  .height-adjustment {
    height: calc(100vh - 150px)!important;
  }

  .metrics-loading-description {
    margin-top: 1rem;
  }
  .no-resource-msg {
    padding-top: 10rem;
    padding-left: 30rem;
    color: #049FD9;
  }
}
  