.reports {
  @extend %content-subheader;
  @extend %page-content-padding;
  
  .all-reports {
    margin-bottom: 50px;
    border: 1px;
  }
  .onboarding-row {
    margin: 5px;
    margin-bottom: 30px;
  }
  .metrics-refresh {
    position: relative;
    top: -255px;
    text-align: center;
  }
  .timechartDiv {
    width: 100%;
    height: 450px;
    font-size: 11px;
  }
}
