@import '~@collabui/collab-ui/scss/settings/colors';
@import 'styles/partials/mixins';

@mixin table-border($border-width...) {
  border-color: $gray-light-2;
  border-style: solid;
  border-width: $border-width;
}

cr-table {
  @include keep-flex-container(column);

  .cr-table {
    @include flex-container(column);
    overflow-y: auto; // needed for IE flex item to shrink
    @include table-border(1px);

    &__header {
      background-color: $gray-light-4;
      color: $gray-dark-2;
      @include table-border(0 0 1px);
    }

    &__body {
      color: $gray-dark-1;
      overflow-y: auto;
    }

    &__row {
      display: flex;

      + .cr-table__row {
        @include table-border(1px 0 0);
      }
    }

    &__column {
      padding: 0.25rem 0.75rem;

      &--header {
        padding: 0.5rem 0.75rem 0.25rem;
      }
    }

    &__column-not-first {
      flex: 1 0 0;
      @include table-border(0 0 0 1px);
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    // override this style to the desired value
    &__column-first {
      width: 300px;
      text-align: left;
    }
  }
}
