<div class="row" ng-form="$ctrl.hcsSftpForm">
  <h4 translate="hcs.sftp.description" class="hcs-service-setup__title"></h4>
  <div class="cs-input-group">
    <input
      cs-input
      type="text"
      ng-model="$ctrl.sftpServer.name"
      name="sftpName"
      cs-input-group-size="medium-7"
      maxlength="$ctrl.MAX_LENGTH_NAME"
      placeholder="{{::'hcs.sftp.namePlace' | translate}}"
      ng-change="$ctrl.processChange()"
      cs-input-messages="$ctrl.errors"
      cs-input-async-validators="$ctrl.asyncValidator"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
      cs-input-label="{{:: 'hcs.sftp.name' | translate}}">
    <input
      cs-input
      type="text"
      ng-model="$ctrl.sftpServer.server"
      name="serverAddress"
      cs-input-group-size="medium-7"
      required="true"
      maxlength="$ctrl.MAX_LENGTH"
      placeholder="{{::'hcs.sftp.serverPlace' | translate}}"
      ng-change="$ctrl.processChange()"
      cs-input-messages="$ctrl.errors"
      cs-input-label="{{:: 'hcs.sftp.server' | translate}}">
    <input
      cs-input
      type="text"
      ng-model="$ctrl.sftpServer.path"
      name="directory"
      cs-input-group-size="medium-7"
      ng-required="true"
      maxlength="$ctrl.MAX_LENGTH"
      placeholder="{{::'hcs.sftp.dirPlace' | translate}}"
      ng-change="$ctrl.processChange()"
      cs-input-messages="$ctrl.messages"
      cs-input-label="{{:: 'hcs.sftp.directory' | translate}}">
    <input
      cs-input
      type="text"
      ng-model="$ctrl.sftpServer.userName"
      name="userName"
      cs-input-group-size="medium-7"
      ng-required="true"
      maxlength="$ctrl.MAX_LENGTH"
      placeholder="{{::'hcs.sftp.userPlace' | translate}}"
      ng-change="$ctrl.processChange()"
      cs-input-messages="$ctrl.messages"
      cs-input-label="{{:: 'hcs.sftp.userName' | translate}}">
    <input
      cs-input
      type="password"
      ng-model="$ctrl.sftpServer.password"
      name="password"
      cs-input-group-size="medium-7"
      ng-required="true"
      placeholder="{{::'hcs.sftp.passwordPlace' | translate}}"
      ng-change="$ctrl.changePassword()"
      cs-input-messages="$ctrl.messages"
      cs-input-label="{{:: 'hcs.sftp.password' | translate}}">
    <div class="row"></div>
      <input
      cs-input
      type="password"
      ng-model="$ctrl.confirmPasswd"
      name="confirmpassword"
      cs-input-group-size="medium-7"
      ng-required="true"
      placeholder="{{::'hcs.sftp.passwordConfirmPlace' | translate}}"
      ng-change="$ctrl.processChange()"
      cs-input-messages="$ctrl.messages"
      cs-input-validators="$ctrl.validators"
      ng-model-options="{updateOn: 'default blur', debounce: { default: 1000, blur: 0 } }"
      cs-input-label="{{:: 'hcs.sftp.confirmPassword' | translate}}">
    </div>
  </div>
</div>
